<div
  class="curriculum-inventory-leadership-expanded"
  data-test-curriculum-inventory-leadership-expanded
  {{did-insert (perform this.load) @report}}
>
  {{#if this.load.isRunning}}
      <LoadingSpinner />
  {{else}}
    <div class="curriculum-inventory-leadership-expanded-header" data-test-header>
      <div class="title collapsible clickable" role="button" {{on "click" @collapse}} data-test-collapse>
        {{t "general.curriculumInventoryReportLeadership"}}
      </div>
      <div class="actions">
        {{#if @isManaging}}
          <button type="button" class="bigadd" {{on "click" (perform this.save)}} data-test-save>
            <FaIcon
              @icon={{if this.save.isRunning "spinner" "check"}}
              @spin={{this.save.isRunning}}
            />
          </button>
          <button type="button" class="bigcancel" {{on "click" (perform this.cancel)}} data-test-cancel>
            <FaIcon @icon="arrow-rotate-left" />
          </button>
        {{else if @canUpdate}}
          <button type="button" {{on "click" this.manage}} data-test-manage>
            {{t "general.manageLeadership"}}
          </button>
        {{/if}}
      </div>
    </div>
    <div class="curriculum-inventory-leadership-expanded-content" data-test-content>
      {{#if @isManaging}}
        <LeadershipManager
          @showAdministrators={{true}}
          @showDirectors={{false}}
          @administrators={{this.administrators}}
          @removeAdministrator={{this.removeAdministrator}}
          @addAdministrator={{this.addAdministrator}}
        />
      {{else}}
        <LeadershipList
          @showAdministrators={{true}}
          @showDirectors={{false}}
          @administrators={{this.administrators}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>
