<div
  class="curriculum-inventory-report-rollover"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @report}}
  data-test-curriculum-inventory-report-rollover
>
  {{#unless this.load.isRunning}}
    <div class="rollover-form">
      <h3 class="title">
        {{t "general.curriculumInventoryReportRollover"}}
      </h3>
      <p class="rollover-summary">
        {{t "general.curriculumInventoryReportRolloverSummary"}}
      </p>
      <div class="item name" data-test-name>
        {{#let (unique-id) as |nameId|}}
          <label for={{nameId}}>
            {{t "general.name"}}:
          </label>
          <input
            id={{nameId}}
            type="text"
            value={{this.name}}
            disabled={{this.save.isRunning}}
            placeholder={{t "general.reportNamePlaceholder"}}
            {{on "input" (pick "target.value" this.changeName)}}
            {{on "keyup" (queue (fn this.addErrorDisplayFor "name") this.saveOnEnter)}}
          >
        {{/let}}
        <ValidationError @errors={{get-errors-for this.name}} />
      </div>
      <div class="item description" data-test-description>
        {{#let (unique-id) as |descriptionId|}}
          <label for={{descriptionId}}>
            {{t "general.description"}}:
          </label>
          <textarea
            id={{descriptionId}}
            {{on "input" (pick "target.value" (set this.description))}}
            disabled={{this.save.isRunning}}
            placeholder={{t "general.reportDescriptionPlaceholder"}}
          >{{this.description}}</textarea>
          <ValidationError @errors={{get-errors-for this.description}} />
        {{/let}}
      </div>
      <div class="item years" data-test-years>
        {{#let (unique-id) as |yearId|}}
          <label for={{yearId}}>
            {{t "general.academicYear"}}:
          </label>
          <select
            id={{yearId}}
            disabled={{this.save.isRunning}}
            {{on "change" (pick "target.value" this.setSelectedYear)}}
          >
            {{#each this.years as |obj|}}
              <option value={{obj.year}} selected={{eq obj.year this.selectedYear}}>{{obj.title}}</option>
            {{/each}}
          </select>
        {{/let}}
      </div>
      <div class="item programs" data-test-programs>
        {{#let (unique-id) as |programId|}}
          <label for={{programId}}>
            {{t "general.program"}}:
          </label>
          {{#if (gt this.programs.length 1)}}
            <select
              id={{programId}}
              disabled={{this.save.isRunning}}
              {{on "change" (pick "target.value" this.changeProgram)}}
            >
              {{#each (sort-by "title" this.programs) as |program|}}
                <option value={{program.id}} selected={{eq program this.selectedProgram}}>
                  {{program.title}}
                </option>
              {{/each}}
            </select>
          {{else}}
            {{this.selectedProgram.title}}
          {{/if}}
        {{/let}}
      </div>
      <div class="buttons">
        <button
          type="button"
          class="done text"
          disabled={{this.save.isRunning}}
          {{on "click" (perform this.save)}}
          data-test-save
        >
          {{#if this.save.isRunning}}
            <LoadingSpinner />
          {{else}}
            {{t "general.done"}}
          {{/if}}
        </button>
        <LinkTo @route="curriculum-inventory-report" @model={{@report}}>
          <button
            type="button"
            class="cancel text"
            data-test-cancel
          >
            {{t "general.cancel"}}
          </button>
        </LinkTo>
      </div>
    </div>
  {{/unless}}
</div>
