<tr
  class={{if this.showRemoveConfirmation "confirm-removal"}}
  data-test-active-row
  data-test-curriculum-inventory-report-list-item
>
  <td
    class="text-left clickable"
    colspan="4"
    role="button"
    data-test-name
  >
    <LinkTo @route="curriculumInventoryReport" @model={{@report}}>
      {{@report.name}}
    </LinkTo>
  </td>
  <td
    class="text-center hide-from-small-screen"
    colspan="2"
    data-test-program
  >
    {{@report.program.title}}
  </td>
  <td
    class="text-center hide-from-small-screen"
    colspan="2"
    data-test-year
  >
    {{this.yearLabel}}
  </td>
  <td
    class="text-center hide-from-small-screen"
    colspan="2"
    data-test-start-date
  >
    {{moment-format @report.startDate "L"}}
  </td>
  <td
    class="text-center hide-from-small-screen"
    colspan="2"
    data-test-end-date
  >
    {{moment-format @report.endDate "L"}}
  </td>
  <td
    class="text-center"
    colspan="2"
    data-test-status
  >
    {{#if this.isFinalized}}
      <FaIcon @icon="lock" class="enabled" />
    {{/if}}
    <span
      class="status publication-status {{if this.isFinalized "published" "notpublished"}}"
      data-test-curriculum-inventory-report-publication-status
    >
      <span data-test-text>
        {{#if this.isFinalized}}
          {{t "general.finalized"}}
        {{else}}
          {{t "general.draft"}}
        {{/if}}
      </span>
    </span>
  </td>
  <td class="text-right report-actions" colspan="2" data-test-actions>
    <span>
      <a
        download="report.xml"
        href={{@report.absoluteFileUri}}
        rel="noopener noreferrer"
        target="_blank"
      >
        <FaIcon @icon="download" class="enabled" />
      </a>
    </span>
    {{#if this.canDelete}}
      <span role="button" {{on "click" (set this.showRemoveConfirmation true)}}>
        <FaIcon
          @icon="trash"
          class="enabled clickable"
          data-test-remove
        />
      </span>
    {{else}}
      <FaIcon @icon="trash" class="disabled" />
    {{/if}}
  </td>
</tr>
{{#if this.showRemoveConfirmation}}
  <tr class="confirm-removal" data-test-confirm-removal>
    <td colspan="16">
      <div class="confirm-message">
        {{t "general.reportConfirmRemove"}}
        <br>
        <div class="confirm-buttons">
          <button type="button" class="remove text" {{on "click" (fn @remove @report)}} data-test-confirm>
            {{t "general.yes"}}
          </button>
          <button
            type="button"
            class="done text"
            {{on "click" (set this.showRemoveConfirmation false)}}
            data-test-cancel
          >
            {{t "general.cancel"}}
          </button>
        </div>
      </div>
    </td>
  </tr>
{{/if}}
