<div data-test-curriculum-inventory-sequence-block-details ...attributes>
  <CurriculumInventory::SequenceBlockHeader
    @canUpdate={{@canUpdate}}
    @sequenceBlock={{@sequenceBlock}}
  />
  {{#if (is-fulfilled @sequenceBlock.allParents)}}
    <div class="breadcrumbs" data-test-breadcrumbs>
      <span data-test-report-crumb>
        <LinkTo
          @route="curriculumInventoryReport"
          @model={{@sequenceBlock.report}}
        >
          {{t "general.curriculumInventoryReport"}}
        </LinkTo>
      </span>
      {{#each (reverse (await @sequenceBlock.allParents)) as |parent|}}
        <span data-test-block-crumb>
          <LinkTo @route="curriculumInventorySequenceBlock" @model={{parent}}>
            {{parent.title}}
          </LinkTo>
        </span>
      {{/each}}
      <span data-test-block-crumb>
        {{@sequenceBlock.title}}
      </span>
    </div>
  {{/if}}
  <CurriculumInventory::SequenceBlockOverview
    @sequenceBlock={{@sequenceBlock}}
    @canUpdate={{@canUpdate}}
    @sortBy={{@sortSessionsBy}}
    @setSortBy={{@setSortSessionBy}}
  />
</div>
