<div class="curriculum-inventory-sequence-block-list" data-test-curriculum-inventory-sequence-block-list ...attributes>
  <div class="header" data-test-header>
    <div class="title" data-test-title>
      {{t "general.sequenceBlocks"}}
      ({{@sequenceBlocks.length}})
    </div>
    <div class="actions">
      {{#if @canUpdate}}
        <ExpandCollapseButton
          @value={{this.editorOn}}
          @action={{this.toggleEditor}}
        />
      {{/if}}
    </div>
  </div>
  <div class="new" data-test-new>
    {{#if this.editorOn}}
      <CurriculumInventory::NewSequenceBlock
        @parent={{@parent}}
        @report={{await @report}}
        @save={{perform this.save}}
        @cancel={{this.cancel}}
      />
    {{/if}}
    {{#if this.savedBlock}}
      <div class="saved-result">
        <LinkTo @route="curriculumInventorySequenceBlock" @model={{this.savedBlock}}>
          <FaIcon @icon="square-up-right" />
          {{this.savedBlock.title}}
        </LinkTo>
        {{t "general.savedSuccessfully"}}
      </div>
    {{/if}}
  </div>
  {{#if @sequenceBlocks.length}}
    <div class="list" data-test-list>
      <table>
        <thead>
          <tr>
            <th class="text-center" colspan="5">
              {{t "general.sequenceBlock"}}
            </th>
            <th class="text-center" colspan="1">
              {{t "general.level"}}
            </th>
            <th class="text-center" colspan="2">
              {{t "general.sequenceNumber"}}
            </th>
            <th class="text-center hide-from-small-screen" colspan="2">
              {{t "general.startDate"}}
            </th>
            <th class="text-center hide-from-small-screen" colspan="2">
              {{t "general.endDate"}}
            </th>
            <th class="text-center hide-from-small-screen" colspan="2">
              {{t "general.course"}}
            </th>
            <th class="text-left" colspan="1">
              {{t "general.actions"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each (if this.isInOrderedSequence (sort-by "orderInSequence" "title" "startDate" "id" @sequenceBlocks) (sort-by "title" "startDate" "id" @sequenceBlocks)) as |sequenceBlock|}}
            <CurriculumInventory::SequenceBlockListItem
              @sequenceBlock={{sequenceBlock}}
              @canUpdate={{@canUpdate}}
              @remove={{@remove}}
              @isInOrderedSequence={{this.isInOrderedSequence}}
            />
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else if @parent}}
    <div class="default-message" data-test-no-sub-sequence-blocks>
      {{t "general.noSubSequenceBlocks"}}
    </div>
  {{else}}
    <div class="default-message" data-test-no-sequence-blocks>
      {{t "general.noSequenceBlocks"}}
    </div>
  {{/if}}
</div>
