<div class="curriculum-inventory-verification-preview-table5" data-test-curriculum-inventory-verification-preview-table5 ...attributes>
  <h4 data-test-title id="verification-preview-table5">
    {{t "general.table5NonClerkshipSequenceBlockAssessmentMethods"}}
  </h4>
  <table>
    <thead>
      <tr>
        <th colspan="2" rowspan="2">
          {{t "general.nonClerkshipSequenceBlocks"}}
        </th>
        <th rowspan="2">
          {{t "general.startingLevel"}}
        </th>
        <th rowspan="2">
          {{t "general.endingLevel"}}
        </th>
        <th colspan={{add 1 @data.methods.length}}>
          {{t "general.includedInGrade"}}
        </th>
        <th colspan="2">
          {{t "general.assessments"}}
        </th>
      </tr>
      <tr>
        <th>
          {{t "general.numberOfExams"}}
        </th>
        {{#each @data.methods as |method|}}
          <th>
            {{method}}
          </th>
        {{/each}}
        <th>
          {{t "general.formative"}}
        </th>
        <th>
          {{t "general.narrative"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.nonClerkships as |nonClerkship|}}
        <tr>
          <td colspan="2">
            {{nonClerkship.title}}
          </td>
          <td>
            {{nonClerkship.startingLevel}}
          </td>
          <td>
            {{nonClerkship.endingLevel}}
          </td>
          <td>
            {{nonClerkship.numExams}}
          </td>
          {{#each nonClerkship.methods as |method|}}
            <td>
              {{method}}
            </td>
          {{/each}}
          <td>
            {{nonClerkship.hasFormativeAssessments}}
          </td>
          <td>
            {{nonClerkship.hasNarrativeAssessments}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
