<div class="curriculum-inventory-verification-preview-table3b" data-test-curriculum-inventory-verification-preview-table3b ...attributes>
  <h4 data-test-title>
    {{t "general.table3bClerkshipSequenceBlockInstructionalTime"}}
  </h4>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          {{t "general.clerkshipSequenceBlocks"}}
        </th>
        <th>
          {{t "general.startLevel"}}
        </th>
        <th>
          {{t "general.endLevel"}}
        </th>
        <th>
          {{t "general.totalWeeks"}}
        </th>
        <th>
          {{t "general.averageHoursOfInstructionPerWeek"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each @data as |row|}}
        <tr>
          <td colspan="2">
            {{row.title}}
          </td>
          <td>
            {{row.starting_level}}
          </td>
          <td>
            {{row.ending_level}}
          </td>
          <td>
            {{row.weeks}}
          </td>
          <td>
            {{row.avg}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
