<div class="curriculum-inventory-verification-preview-table6" data-test-curriculum-inventory-verification-preview-table6 ...attributes>
  <h4 data-test-title id="verification-preview-table6">
    {{t "general.table6ClerkshipSequenceBlockAssessmentMethods"}}
  </h4>
  <table>
    <thead>
      <tr>
        <th colspan="2" rowspan="2">
          {{t "general.clerkshipSequenceBlocks"}}
        </th>
        <th rowspan="2">
          {{t "general.startLevel"}}
        </th>
        <th rowspan="2">
          {{t "general.endLevel"}}
        </th>
        <th colspan={{@data.methods.length}}>
          {{t "general.includedInGrade"}}
        </th>
        <th colspan="2">
          {{t "general.assessments"}}
        </th>
      </tr>
      <tr>
        {{#each @data.methods as |method|}}
          <th>
            {{method}}
          </th>
        {{/each}}
        <th>
          {{t "general.formative"}}
        </th>
        <th>
          {{t "general.narrative"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.clerkships as |clerkship|}}
        <tr>
          <td colspan="2">
            {{clerkship.title}}
          </td>
          <td>
            {{clerkship.startingLevel}}
          </td>
          <td>
            {{clerkship.endingLevel}}
          </td>
          {{#each clerkship.methods as |method|}}
            <td>
              {{method}}
            </td>
          {{/each}}
          <td>
            {{clerkship.hasFormativeAssessments}}
          </td>
          <td>
            {{clerkship.hasNarrativeAssessments}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
