<div class="curriculum-inventory-verification-preview-table2" data-test-curriculum-inventory-verification-preview-table2 ...attributes>
  <h4 data-test-title>
    {{t "general.table2PrimaryInstructionalMethodByNonClerkshipSequenceBlock"}}
  </h4>
  <table>
    <thead>
      <tr>
        <th colspan="2" rowspan="2">
          {{t "general.nonClerkshipSequenceBlocks"}}
        </th>
        <th rowspan="2">
          {{t "general.startingLevel"}}
        </th>
        <th rowspan="2">
          {{t "general.endingLevel"}}
        </th>
        <th colspan={{add 1 @data.methods.length}}>
          {{t "general.numberOfFormalInstructionalHoursPerCourse"}}
        </th>
      </tr>
      <tr>
        {{#each @data.methods as |method|}}
          <th>
            {{method.title}}
          </th>
        {{/each}}
        <th>
          {{t "general.total"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.nonClerkships as |clerkship|}}
        <tr>
          <td colspan="2">
            {{clerkship.title}}
          </td>
          <td>
            {{clerkship.startingLevel}}
          </td>
          <td>
            {{clerkship.endingLevel}}
          </td>
          {{#each clerkship.methods as |method|}}
            <td>
              {{method}}
            </td>
          {{/each}}
          <td>
            {{clerkship.total}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          {{t "general.total"}}
        </td>
        <td colspan="2"></td>
        {{#each this.methodTotals as |total|}}
          <td>
            {{total}}
          </td>
        {{/each}}
        <td>
          {{this.sumTotal}}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
