<div {{action @expand}} class="title" role="button">
  {{t "general.objectives"}} ({{get (await this.objectives) "length"}})
</div>

{{#if (and
  (is-fulfilled this.objectives)
  (is-fulfilled this.objectivesWithMesh)
  (is-fulfilled this.objectivesWithCompentency))}}
  <div class="content">
    <table>
      <thead>
        <tr>
          <th class="text-left">{{t "general.summary"}}</th>
          <th class="text-center">{{t "general.linkedCompetencies"}}</th>
          <th class="text-center">{{t "general.meshTerms"}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            {{t "general.objectiveCount"
              count=(get (await this.objectives) "length")}}
          </td>
          <td class="text-middle text-center" rowspan="3">
            {{#if (eq
              (get (await this.objectivesWithCompentency) "length")
              (get (await this.objectives) "length"))}}
              {{fa-icon icon="circle" class="yes"}}
            {{else if (gte (get (await this.objectivesWithCompentency) "length") 1)}}
              {{fa-icon icon="circle" class="maybe"}}
            {{else}}
              {{fa-icon icon="ban" class="no"}}
            {{/if}}
          </td>
          <td class="text-middle text-center" rowspan="3">
            {{#if (eq
              (get (await this.objectivesWithMesh) "length")
              (get (await this.objectives) "length"))}}
              {{fa-icon icon="circle" class="yes"}}
            {{else if (gte (get (await this.objectivesWithMesh) "length") 1)}}
              {{fa-icon icon="circle" class="maybe"}}
            {{else}}
              {{fa-icon icon="ban" class="no"}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
            &nbsp;
            {{t "general.linkedCompetencyCount"
              count=(get (await this.objectivesWithCompentency) "length")}}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
            &nbsp;
            {{t "general.meshCount"
              count=(get (await this.objectivesWithMesh) "length")}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{else}}
  {{loading-spinner tagName="h3"}}
{{/if}}
