<div class='title'  {{action (action this.attrs.expand)}}>
  {{t 'general.objectives'}} ({{subject.objectives.length}})
</div>
{{#if objectives.isPending}}
  <h3>{{fa-icon 'spinner' spin=true}}</h3>
{{/if}}
{{#unless objectives.isPending}}
  <div class='content'>
    <table>
      <thead>
        <tr>
          <th class='text-left'>{{t 'general.summary'}}</th>
          <th class='text-center'>{{t 'general.parentObjectives'}}</th>
          <th class='text-center'>{{t 'general.meshTerms'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{t 'courses.objectiveCount' count=objectives.length}}
          </td>
          <td class='text-middle text-center' rowspan=3>
            {{#if (eq objectivesWithParents.length objectives.length)}}
              {{fa-icon 'circle' class='yes'}}
            {{else if (gte objectivesWithParents.length 1)}}
              {{fa-icon 'circle' class='maybe'}}
            {{else}}
              {{fa-icon 'ban' class='no'}}
            {{/if}}
          </td>
          <td class='text-middle text-center' rowspan=3>
            {{#if (eq objectivesWithMesh.length objectives.length)}}
              {{fa-icon 'circle' class='yes'}}
            {{else if (gte objectivesWithMesh.length 1)}}
              {{fa-icon 'circle' class='maybe'}}
            {{else}}
              {{fa-icon 'ban' class='no'}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;&nbsp;{{t 'courses.parentCount' count=objectivesWithParents.length}}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;&nbsp;{{t 'courses.meshCount' count=objectivesWithMesh.length}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{/unless}}
