{{#editable-field
  value=title
  save=(perform save)
  close=(action 'revert')
  as |isSaving save close|
}}
  <input
    value={{title}}
    oninput={{action (mut title) value="target.value"}}
    disabled={{isSaving}}
    onfocusout={{action 'addErrorDisplayFor' 'title'}}
  >
{{/editable-field}}
{{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
  <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
{{/if}}
