<div class="course-sessions-header">
  <div class="title">
    {{t "general.sessions"}} ({{sessionsCount}})
  </div>
  <div class="actions" data-test-actions>
    {{#if canCreateSession}}
      {{expand-collapse-button
        value=showNewSessionForm
        action=(toggle "showNewSessionForm" this)
      }}
    {{/if}}
    {{#if (and canUpdateCourse (gt sessionsCount 0))}}
      {{#link-to "course.publishall" course}}
        <button>{{t "general.publishAllSessions" sessionCount=sessionsCount}}</button>
      {{/link-to}}
    {{/if}}
  </div>
</div>
{{#if showNewSessionForm}}
  <div class="new-session-form">
    {{new-session
      sessionTypes=sessionTypes
      save=(perform saveSession)
      cancel=(toggle "showNewSessionForm" this)
    }}
  </div>
{{/if}}

{{#if saveSession.lastSuccessful.value}}
  <div class="save-result" data-test-new-saved-session>
    {{#link-to "session.index" course saveSession.lastSuccessful.value}}
      {{fa-icon "external-link-square"}} {{get saveSession.lastSuccessful.value "title"}}
    {{/link-to}}
    {{t "general.savedSuccessfully"}}
  </div>
{{/if}}
<div class="filter">
  <input
    value={{filterByDebounced}}
    oninput={{action (perform changeFilterBy) value="target.value"}}
    placeholder={{t "general.sessionTitleFilterPlaceholder"}}
    data-test-session-filter
  >
</div>
<section>
  {{sessions-grid-header
    showExpandAll=(is-fulfilled sessionObjects)
    setSortBy=setSortBy
    sortBy=sortBy
    allSessionsExpanded=(eq expandedSessionIds.length (get (await sessionsWithOfferings) "length"))
    toggleExpandAll=(perform toggleExpandAll)
  }}
  {{#if (is-fulfilled sessionObjects)}}
    {{sessions-grid
      sessions=(await sessionObjects)
      sortBy=sortBy
      filterBy=filterBy
      expandedSessionIds=expandedSessionIds
      closeSession=(perform closeSession)
      expandSession=(perform expandSession)
    }}
  {{else}}
    {{sessions-grid-loading count=(has-many-length course "sessions")}}
  {{/if}}
</section>
