<section class='detail-overview detail-block'>
  {{#unless printView}}
    <div class='detail-title'>
      {{t 'general.overview'}}
    </div>
    <div class='detail-actions'>
      {{#link-to 'print-course' course}}
        <button>{{t 'general.printSummary'}}</button>
      {{/link-to}}
    </div>
  {{/unless}}
  <div class='detail-content'>
    {{#if editing}}
      <div class="inline-label-data-block">
        <label>{{t "general.start"}}:</label>
        <div>{{editable-date model=course property='startDate'}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "courses.externalId"}}:</label>
        <div>{{editable-text model=course property='externalId'}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "courses.level"}}:</label>
        <div>{{editable-select model=course property='level' options=levelOptions}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "general.end"}}:</label>
        <div>{{editable-date model=course property='endDate'}}</div>
      </div>
      <br />
      <br />
      <label>{{t "general.directors"}}:
        <span>
          <ul class='removable-list'>
            {{#each user in sortedDirectors}}
            <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' classNames='removex'}}</li>
            {{/each}}
          </ul>
        </span>
        {{user-search
          addUser='addDirector'
          currentlyActiveUsers=course.directors
        }}
    {{else}}
      <div class="inline-label-data-block">
        <label>{{t "general.start"}}:</label>
        <div>{{moment course.startDate 'MM/DD/YYYY'}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "courses.externalId"}}:</label>
        <div>{{course.externalId}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "courses.level"}}:</label>
        <div>{{course.level}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "general.end"}}:</label>
        <div>{{moment course.endDate 'MM/DD/YYYY'}}</div>
      </div>
      <br />
      <br />

      <div class="inline-label-data-block">
        <label>{{t "general.directors"}}:</label>
        <div>
          <span>
            {{#each user in sortedDirectors}}
            {{user.fullName}},
            {{/each}}
          </span>
        </div>
      </div>
    {{/if}}
    <br />
    <br />

    <div class="inline-label-data-block">
      <label>{{t "general.associatedGroups"}}:</label>
      <div>
        {{#if course.associatedLearnerGroups.isFulfilled}}
          <span>
            {{#each group in course.associatedLearnerGroups}}
              {{group.title}},
            {{else}}
              {{t 'general.none'}}
            {{/each}}
          </span>
        {{else}}
          {{wave-loader fullSize=false}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
