<div class='detail-header'>
  <span class='title'>
    {{#if editable}}
      {{#if course}}
        {{editable-text tagName='h2' model=course property='title'}}
      {{/if}}
    {{else}}
      {{#if course}}
        <h2>{{course.title}}</h2>
      {{/if}}
    {{/if}}
    <h4>{{course.academicYear}}</h4>
  </span>
  <span class ='actions'>
    <button class='publish' {{bind-attr disabled=course.isNotPublished}}>{{t 'general.unPublish'}}</button>
    <button class='unpublish' {{bind-attr disabled=course.isPublished}}>{{t 'general.publish'}}</button>
    {{publication-status item=course}}
  </span>
</div>
