<section class='detail-overview detail-block'>
  <div class='detail-title'>
    {{t 'general.overview'}}
  </div>
  <div class='detail-actions'>
    {{#link-to 'print-course' course}}
      <button>{{t 'general.printSummary'}}</button>
    {{/link-to}}
  </div>
  <div class='detail-content'>
    {{#if editable}}
      <div class="inline-label-data-block coursestartdate">
        <label>{{t "general.start"}}:</label>
        <div>{{inplace-date value=course.startDate save='changeStartDate'}}</div>
      </div>
      <div class="inline-label-data-block courseexternalid">
        <label>{{t "courses.externalId"}}:</label>
        <div>{{inplace-text value=course.externalId save='changeExternalId'}}</div>
      </div>
      <div class="inline-label-data-block courselevel">
        <label>{{t "courses.level"}}:</label>
        <div>{{inplace-select value=course.level options=levelOptions save='changeLevel'}}</div>
      </div>
      <div class="inline-label-data-block courseenddate">
        <label>{{t "general.end"}}:</label>
        <div>{{inplace-date value=course.endDate save='changeEndDate'}}</div>
      </div>
      <div class="inline-label-data-block clerkshiptype">
        <label>{{t "courses.clerkshipType"}}:</label>
        <div>
          {{inplace-select
            value=course.clerkshipType.id
            options=clerkshipTypeOptions
            save='changeClerkshipType'
            selectPromptTranslation='courses.notAClerkship'
            clickPromptTranslation='courses.notAClerkship'
          }}
        </div>
      </div>
      <br />
      <br />
      <label>{{t "general.directors"}}:</label>
        <span>
          <ul class='removable-list'>
            {{#each user in sortedDirectors}}
            <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' classNames='removex'}}</li>
            {{/each}}
          </ul>
        </span>
        {{user-search
          addUser='addDirector'
          currentlyActiveUsers=course.directors
        }}
    {{else}}
      <div class="inline-label-data-block coursestartdate">
        <label>{{t "general.start"}}:</label>
        <div>{{moment course.startDate 'MM/DD/YY'}}</div>
      </div>
      <div class="inline-label-data-block courseexternalid">
        <label>{{t "courses.externalId"}}:</label>
        <div>
          {{#if course.externalId.length}}
            {{course.externalId}}
          {{else}}
            {{t 'general.none'}}
          {{/if}}
        </div>
      </div>
      <div class="inline-label-data-block courselevel">
        <label>{{t "courses.level"}}:</label>
        <div>{{course.level}}</div>
      </div>
      <div class="inline-label-data-block courseenddate">
        <label>{{t "general.end"}}:</label>
        <div>{{moment course.endDate 'MM/DD/YY'}}</div>
      </div>
      <div class="inline-label-data-block clerkshiptype">
        <label>{{t "courses.clerkshipType"}}:</label>
        <div>
          {{#if course.clerkshipType}}
            {{course.clerkshipType.title}}
          {{else}}
            {{t 'courses.notAClerkship'}}
          {{/if}}
        </div>
      </div>
      <br />
      <br />

      <div class="inline-label-data-block">
        <label>{{t "general.directors"}}:</label>
        <div>
          <span>
            {{#each user in sortedDirectors}}
            {{user.fullName}},
            {{/each}}
          </span>
        </div>
      </div>
    {{/if}}
    <br />
    <br />
  </div>
</section>
