<section class='course detail-view'>
  {{course-header course=course}}
  {{course-overview course=course editableDirectors=true}}
  {{ilios-details-objectives objectives=course.objectives}}
  {{ilios-course-details-cohorts cohorts=course.cohorts}}
  {{detail-topics topics=course.topics}}
  {{detail-mesh terms=course.meshDescriptors}}
  {{ilios-details-learning-materials materials=course.learningMaterials}}
</section>
