<div class='detail-header'>
  <span class='title'>
    {{#if editable}}
      {{#if course}}
        {{editable-text tagName='h2' model=course property='title'}}
      {{/if}}
    {{else}}
      {{#if course}}
        <h2>{{course.title}}</h2>
      {{/if}}
    {{/if}}
    <h4>{{course.academicYear}}</h4>
  </span>
  <span class ='actions'>
    <button {{action 'unpublish'}} class='unpublish' {{bind-attr disabled=course.isNotPublished}}>{{t 'general.unPublish'}}</button>
    {{#action-menu titleTranslation='general.publish' icon=false}}
      <li {{action 'publishAsTbd'}}>{{t 'publish.markAsScheduled'}}</li>
      {{#unless course.allPublicationIssuesLength}}
        <li {{action 'publish'}}>{{t 'general.publish'}}</li>
      {{else}}
        {{#if showCheckLink}}
          <li>
            {{#link-to 'course-publicationcheck' course}}
              {{t 'publish.reviewMissingItems' countBinding='course.allPublicationIssuesLength'}}
            {{/link-to}}
          </li>
        {{/if}}
        {{#unless course.requiredPublicationIssues.length}}
          <li {{action 'publish'}}>{{t 'publish.publishAsIs'}}</li>
        {{/unless}}
      {{/unless}}
    {{/action-menu}}
    {{publication-status item=course}}
  </span>
</div>
