<h2>{{{courseObjective.title}}}</h2>
{{#liquid-if showCohortList class="crossFade"}}
  <label class='group-picker'>
    {{t 'courses.chooseCohortTitle'}}:
    {{#if multipleCohorts}}
      {{view "select"
        content=availableCohorts
        optionLabelPath="content.title"
        optionValuePath="content.id"
        value=selectedCohortId
      }}
    {{else}}
      {{currentCohort.title}}
    {{/if}}
  </label>
  <div class='parent-picker'>
    {{#liquid-if showCohortList class='crossFade'}}
      {{#each competency in currentCohort.objectivesByCompetency}}
        <h5 {{bind-attr class=':competency-title competency.selected:selected'}}>{{competency.title}}</h5>
        <ul>
          {{#each objective in competency.objectives}}
            {{#if objective.selected}}
              <li class='selected clickable' {{action 'removeParent' objective}}>
                <input type='radio' checked="checked" />
                {{objective.title}}
              </li>
            {{else}}
              <li class='clickable' {{action 'addParent' objective}}>
                <input type='radio' />
                {{objective.title}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      {{/each}}
    {{/liquid-if}}
  </div>
{{else}}
  <div class='no-group'>
    <p>
      {{t 'courses.missingCohortMessage'}}
    </p>
  </div>
{{/liquid-if}}
