<section class='detail-overview detail-block'>
  <div class='detail-title'>
    {{t 'general.overview'}}
  </div>
  <div class='detail-actions'>
    {{#if course.isPublishedOrScheduled}}
      {{#link-to 'printCourse' course}}
        <button>{{t 'general.printSummary'}}</button>
      {{/link-to}}
    {{/if}}
  </div>
  <div class='detail-content form-container'>
      <div class="form-col-6 multi-row">
        <label class="form-label">{{t "courses.externalId"}}:</label>
        <div class="form-data courseexternalid">
          {{inplace-text value=course.externalId save='changeExternalId' validations=externalIdValidations}}
        </div>
        <label class="form-label">{{t "courses.clerkshipType"}}:</label>
        <div class="form-data clerkshiptype">
          {{inplace-select
            value=course.clerkshipType.id
            options=clerkshipTypeOptions
            save='changeClerkshipType'
            selectPromptTranslation='courses.notAClerkship'
            clickPromptTranslation='courses.notAClerkship'
          }}
        </div>
        <label class="form-label">{{t "courses.level"}}:</label>
        <div class="form-data courselevel">{{inplace-select value=course.level options=levelOptions save='changeLevel'}}</div>
      </div>

      <div class="form-col-6 multi-row">
        <label class='form-label'>{{t "general.start"}}:</label>

        <div class="form-data coursestartdate">
          {{inplace-date value=course.startDate save='changeStartDate' isEditing=startDateFlag}}
        </div>

        <label class="form-label">{{t "general.end"}}:</label>

        <div class="form-data courseenddate">
          {{inplace-date value=course.endDate save='changeEndDate' isEditing=endDateFlag}}
        </div>
      </div>

      <div class="form-col-12 coursedirectors">
        <label>{{t "general.directors"}}:</label>

        <span>
          <ul class='removable-list'>
            {{#each sortedDirectors as |user|}}
            <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' classNames='removex'}}</li>
            {{/each}}
          </ul>
        </span>
        {{user-search
          addUser='addDirector'
          roles='1'
          currentlyActiveUsers=course.directors
        }}
      </div>
  </div>
</section>
