<section class='course detail-view'>
  {{course-header course=course}}
  {{course-overview course=course editableDirectors=true}}
  {{detail-objectives objectives=course.objectives}}
  {{detail-learning-materials materials=course.learningMaterials}}
  {{detail-competencies competencies=course.competencies}}
  {{detail-cohorts cohorts=course.cohorts}}
  {{detail-topics topics=course.topics}}
  {{detail-mesh terms=course.meshDescriptors}}
</section>
