<table>
  <thead>
    <tr>
      <th class='text-left' colspan=2>{{t 'general.description'}}</th>
      <th class='text-left'>{{t 'general.parentObjectives'}}</th>
      <th class='text-left'>{{t 'general.meshTerms'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each objective in sortedObjectives}}
    <tr>
      <td class='text-left text-top' colspan=2>{{editable-textarea model=objective length=200 stripHtml=true property='title'}}</td>
      <td class='text-left text-top'>
        {{#if objective.hasParents}}
          {{#each parent in objective.parents}}
            {{#if course.hasMultipleCohorts}}
              <strong>
                {{parent.programYear.program.title}}&nbsp
                {{parent.programYear.cohort.displayTitle}}
              </strong>
              <br />
            {{/if}}
            <a href='#' {{action 'manageParents' objective}}>
              {{parent.textTitle}}
            </a>
            {{#if parent.competency}}
              ({{parent.competency.title}})
            {{/if}}
            <br />
          {{/each}}
        {{else}}
          <button class='add' {{action 'manageParents' objective}}>{{t 'general.addNew'}}</button>
        {{/if}}
      </td>
      <td class='text-left text-top'>
        {{#if objective.meshDescriptors.length}}
          <ul>
            <a href='#' {{action 'manageDescriptors' objective}}>
              {{#each descriptor in objective.meshDescriptors}}
                <li>{{descriptor.title}}</li>
              {{/each}}
            </a>
          </ul>
        {{else}}
          <button class='add' {{action 'manageDescriptors' objective}}>{{t 'general.addNew'}}</button>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
