<div class='rollover-form'>
  <h3 class="title">{{t 'general.curriculumInventoryReportRollover'}}</h3>

  <p class='rollover-summary'>{{t 'general.curriculumInventoryReportRolloverSummary'}}</p>

  <div class='item name'>
    <label>{{t 'general.name'}}:</label>
    {{one-way-input
      value=name
      update=(pipe (action 'changeName') (action 'addErrorDisplayFor' 'name'))
      onenter=(perform save)
      disabled=isSaving
      focusOut=(action 'addErrorDisplayFor' 'name')
      keyDown=(action 'addErrorDisplayFor' 'name')
      placeholder=(t 'general.reportNamePlaceholder')
    }}
    {{#if (and (v-get this 'name' 'isInvalid') (is-in showErrorsFor 'name'))}}
      <span class="validation-error-message">{{v-get this 'name' 'message'}}</span>
    {{/if}}
  </div>

  <div class="item description">
    <label>{{t 'general.description'}}:</label>
    <textarea
      value={{description}}
      oninput={{action (mut description) value="target.value"}}
      disabled={{if isSaving true}}
      placeholder={{t 'general.reportDescriptionPlaceholder'}}
    ></textarea>
  </div>

  <div class="item years">
    <label>{{t 'general.academicYear'}}:</label>
    {{one-way-select
      value=selectedYear
      options=years
      optionValuePath="id"
      optionLabelPath="title"
      disabled=isSaving
      update=(action (mut selectedYear))
    }}
  </div>

  <div class='buttons'>
    <button class='done text' disabled={{if isSaving true}} {{action (perform save)}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    {{#link-to 'curriculumInventoryReport' report}}
      <button class='cancel text'>{{t 'general.cancel'}}</button>
    {{/link-to}}
  </div>
</div>