<div class='title'>
  {{#if canUpdate}}
    {{#editable-field
      tagName='h2'
      value=blockTitle
      save=(action 'changeTitle')
      close=(action 'revertTitleChanges')
      saveOnEnter=true
      closeOnEscape=true
      as |isSaving|
    }}
      <input
        type="text"
        value={{blockTitle}}
        oninput={{action (mut blockTitle) value="target.value"}}
        disabled={{isSaving}}
        onkeyup={{action 'addErrorDisplayFor' 'blockTitle'}}
      >
      {{#if (and (v-get this 'blockTitle' 'isInvalid') (is-in showErrorsFor 'blockTitle'))}}
        <span class="validation-error-message">{{v-get this 'blockTitle' 'message'}}</span>
      {{/if}}
    {{/editable-field}}
  {{else}}
    <h2>{{fa-icon "lock"}} {{sequenceBlock.title}}</h2>
  {{/if}}
</div>

