<div class='title'>
  {{#if isFinalized}}
    <h2>{{fa-icon "lock"}} {{report.name}}</h2>
  {{else}}
    {{#editable-field
    tagName='h2'
    value=reportName
    save=(action 'changeName')
    close=(action 'revertNameChanges')
    saveOnEnter=true
    closeOnEscape=true
    as |isSaving|
    }}
      <input
        value={{reportName}}
        oninput={{action (mut reportName) value="target.value"}}
        disabled={{isSaving}}
        onfocusout={{action 'addErrorDisplayFor' 'reportName'}}
        onkeypress={{action 'addErrorDisplayFor' 'reportName'}}
      >
      {{#if (and (v-get this 'reportName' 'isInvalid') (is-in showErrorsFor 'reportName'))}}
        <span class="validation-error-message">{{v-get this 'reportName' 'message'}}</span>
      {{/if}}
    {{/editable-field}}
  {{/if}}
</div>
<div class ='actions'>
  <a class="button" {{action (perform downloadReport report)}}>
    <button class="download">
      {{#if downloadFromSameDomain}}
        {{fa-icon (if downloadReport.isRunning 'spinner' 'download') spin=(if downloadReport.isRunning true false)}}
      {{else}}
        {{fa-icon 'download'}}
      {{/if}}
      {{t 'general.download'}}
    </button>
  </a>
  {{#unless isFinalized}}
    <button {{action 'finalize'}} class="finalize">{{t 'general.finalize'}}</button>
  {{/unless}}
</div>
