{{#unless loadAttr.isRunning}}
  <div class='sessions-list'>
    <table>
      <thead>
        <tr>
          <th class='text-center' colspan=2>{{t 'general.countAsOneOffering'}}</th>
          {{#sortable-th
            colspan=3
            click=(action 'sortBy' 'title')
            sortedBy=(or (eq sortBy 'title') (eq sortBy 'title:desc'))
            sortedAscending=sortedAscending
          }}
            {{t 'general.sessionTitle'}}
          {{/sortable-th}}
          {{#sortable-th
            colspan=3
            click=(action 'sortBy' 'sessionType.title')
            sortedBy=(or (eq sortBy 'sessionType.title') (eq sortBy 'sessionType.title:desc'))
            sortedAscending=sortedAscending
          }}
            {{t 'general.sessionType'}}
          {{/sortable-th}}
          <th class='text-center' colspan=1>{{t 'general.totalTime'}}</th>
          {{#sortable-th
            colspan=1
            click=(action 'sortBy' 'offerings.length')
            sortedBy=(or (eq sortBy 'offerings.length') (eq sortBy 'offerings.length:desc'))
            sortedAscending=sortedAscending
            sortType='numeric'
          }}
            {{t 'general.offerings'}}
          {{/sortable-th}}
        </tr>
      </thead>
      <tbody>
        {{#each (sort-by sortBy linkableSessionsBuffer) as |session|}}
          <tr>
            <td class='text-center' colspan=2>
              {{if (is-in linkedSessions session) (t 'general.yes') (t 'general.no')}}
            </td>
            <td class='text-left' colspan=3>
              {{#if session.isIndependentLearning}}
                <strong>({{t 'general.ilm'}})</strong>
              {{/if}}
              {{session.title}}
            </td>
            <td class='text-left' colspan=3>{{get (await session.sessionType) "title"}}</td>
            <td class='text-center' colspan=1>
              {{#if (is-in linkedSessions session)}}
                {{#unless (is-fulfilled session.maxSingleOfferingDuration)}}
                  {{loading-spinner}}
                {{else}}
                  {{await session.maxSingleOfferingDuration}}
                {{/unless}}
              {{else}}
                {{#unless (is-fulfilled session.totalSumOfferingsDuration)}}
                  {{loading-spinner}}
                {{else}}
                  {{await session.totalSumOfferingsDuration}}
                {{/unless}}
              {{/if}}
            </td>
            <td class='text-center' colspan=1>{{get (await session.offerings) "length"}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/unless}}
