<div class='title'>{{t 'general.overview'}}</div>
{{#unless loadAttr.isRunning}}
  <div class='report-overview-actions'>
    {{#if (and (is-fulfilled showRollover) (await showRollover))}}
      {{#link-to 'curriculumInventoryReport.rollover' report class='rollover'}}
        {{fa-icon 'random' title=(t 'general.curriculumInventoryReportRollover') fixedWidth=true}}
      {{/link-to}}
    {{/if}}
  </div>
  <div class='curriculum-inventory-report-overview-content'>
    <div class="block">
      <label>{{t 'general.start'}}:</label>
      <span>
        {{#if isFinalized}}
          {{moment-format report.startDate 'MM/DD/YY'}}
        {{else}}
          {{#editable-field
            value=(moment-format report.startDate 'MM/DD/YY')
            save=(action 'changeStartDate')
            close=(action 'revertStartDateChanges')
          }}
            {{pikaday-input
              value=startDate
              format='MM/DD/YY'
              onSelection=(action (mut startDate))
              focusOut=(action 'addErrorDisplayFor' 'startDate')
            }}
            {{#if (and (v-get this 'startDate' 'isInvalid') (is-in showErrorsFor 'startDate'))}}
              <span class="validation-error-message">{{v-get this 'startDate' 'message'}}</span>
            {{/if}}
          {{/editable-field}}
        {{/if}}
      </span>
    </div>
    <div class="block">
      <label>{{t 'general.end'}}:</label>
      <span>
        {{#if isFinalized}}
          {{moment-format report.endDate 'MM/DD/YY'}}
        {{else}}
          {{#editable-field
            value=(moment-format report.endDate 'MM/DD/YY')
            save=(action 'changeEndDate')
            close=(action 'revertEndDateChanges')
          }}
            {{pikaday-input
              value=endDate
              format='MM/DD/YY'
              onSelection=(action (mut endDate))
              focusOut=(action 'addErrorDisplayFor' 'endDate')
            }}
            {{#if (and (v-get this 'endDate' 'isInvalid') (is-in showErrorsFor 'endDate'))}}
              <span class="validation-error-message">{{v-get this 'endDate' 'message'}}</span>
            {{/if}}
          {{/editable-field}}
        {{/if}}
      </span>
    </div>
    <div class="block">
      <label>{{t 'general.academicYear'}}:</label>
      {{#if (or isFinalized (await report.hasLinkedCourses))}}
        <span>{{report.yearLabel}}</span>
      {{else}}
        {{inplace-select value=report.year displayValueOverride=report.yearLabel options=yearOptions save="changeYear"}}
      {{/if}}
    </div>

    <div class="block">
      <label>{{t 'general.program'}}:</label>
      <span>{{report.program.title}} ({{report.program.shortTitle}})</span>
    </div>
    <div class="description">
      <label>{{t 'general.description'}}:</label>
      <span>
        {{#if isFinalized}}
          {{report.description}}
        {{else}}
          {{#editable-field
          value=description
          save=(action 'changeDescription')
          close=(action 'revertDescriptionChanges')
          clickPrompt=(if report.description report.description (t 'general.clickToEdit'))
          as |isSaving|
          }}
            <textarea
              onchange={{action (mut description) value="target.value"}}
              value={{description}}
              disabled={{isSaving}}
              onkeypress={{action 'addErrorDisplayFor' 'description'}}
            >
              {{description}}
            </textarea>
            {{#if (and (v-get this 'description' 'isInvalid') (is-in showErrorsFor 'description'))}}
              <span class="validation-error-message">{{v-get this 'description' 'message'}}</span>
            {{/if}}
          {{/editable-field}}
        {{/if}}
      </span>
    </div>
  </div>
{{/unless}}
