<div class='title'>{{t 'general.overview'}}</div>
<div class='curriculum-inventory-sequence-block-overview-content'>
  {{#unless loadAttr.isRunning}}
    <div class="block course">
      <label>{{t 'general.course'}}:</label>
      {{#if isFinalized}}
        <span>{{if course course.title (t 'general.notApplicableAbbr')}}</span>
      {{else}}
        {{#editable-field
          value=course.title
          save=(action 'changeCourse')
          close=(action 'revertCourseChanges')
          clickPrompt=(t 'general.selectCourse')
        }}
          {{one-way-select
            course
            options=(sort-by 'title' (await linkableCourses))
            optionValuePath="id"
            optionLabelPath="title"
            disabled=saveCourseChange.isRunning
            update=(action (mut course))
          }}
        {{/editable-field}}
      {{/if}}
      {{#if course}}
        <span class="details">
          {{t 'general.level'}}: {{course.level}},
          {{t 'general.startDate'}}: {{moment-format course.startDate 'YYYY-MM-DD'}},
          {{t 'general.endDate'}}: {{moment-format course.endDate 'YYYY-MM-DD'}}
          {{#if course.clerkshipType}}
            - {{t 'general.clerkship'}} ({{course.clerkshipType.title}})
          {{/if}}
        </span>
      {{/if}}
    </div>
    <div class="block description">
      <label>{{t 'general.description'}}:</label>
      {{#if isFinalized}}
        <span>{{sequenceBlock.description}}</span>
      {{else}}
        {{#editable-field
          value=(if description description (t 'general.clickToAddDescription'))
          save=(action 'changeDescription')
          close=(action 'revertDescriptionChanges')
          closeOnEscape=true
          as |isSaving|
        }}
          <textarea
            value={{description}}
            oninput={{action (mut description) value="target.value"}}
            disabled={{isSaving}}
          >
            {{description}}
          </textarea>
        {{/editable-field}}
      {{/if}}
    </div>
    <div class="block required">
      <label>{{t 'general.required'}}:</label>
      {{#if isFinalized}}
        <span>
          {{requiredLabel}}
        </span>
      {{else}}
        {{#editable-field
          value=requiredLabel
          save=(action 'changeRequired')
          close=(action 'revertRequiredChanges')
        }}
          <select onchange={{action (mut required) value="target.value"}}>
            <option value=1 selected={{eq required '1'}}>{{t 'general.required'}}</option>
            <option value=2 selected={{eq required '2'}}>{{t 'general.optionalElective'}}</option>
            <option value=3 selected={{eq required '3'}}>{{t 'general.requiredInTrack'}}</option>
          </select>
        {{/editable-field}}
      {{/if}}
    </div>
    <div class="block track">
      <label>{{t 'general.isTrack'}}:</label>
      {{#if isFinalized}}
        <span>{{if sequenceBlock.track (t 'general.yes') (t 'general.no')}}</span>
      {{else}}
        {{toggle-yesno yes=sequenceBlock.track toggle=(action 'changeTrack')}}
      {{/if}}
    </div>
    {{#unless isEditingDatesAndDuration}}
      <div class="block start-date">
        <label>{{t 'general.start'}}:</label>
        {{#if isFinalized}}
          <span>
            {{#if sequenceBlock.startDate}}
              {{moment-format sequenceBlock.startDate 'L'}}
            {{else}}
              {{t 'general.notApplicableAbbr'}}
            {{/if}}
          </span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">
              {{#if sequenceBlock.startDate}}
                {{moment-format sequenceBlock.startDate 'L'}}
              {{else}}
                {{t 'general.clickToEdit'}}
              {{/if}}
            </span>
          </span>
        {{/if}}
      </div>
      <div class="block end-date">
        <label>{{t 'general.end'}}:</label>
        {{#if isFinalized}}
          <span>
            {{#if sequenceBlock.endDate}}
              {{moment-format sequenceBlock.endDate 'L'}}
            {{else}}
              {{t 'general.notApplicableAbbr'}}
            {{/if}}
          </span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">
              {{#if sequenceBlock.endDate}}
                {{moment-format sequenceBlock.endDate 'L'}}
              {{else}}
                {{t 'general.clickToEdit'}}
              {{/if}}
            </span>
          </span>
        {{/if}}
      </div>
      <div class="block duration">
        <label>{{t 'general.durationInDays'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.duration}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">{{sequenceBlock.duration}}</span>
          </span>
        {{/if}}
      </div>
    {{else}}
      {{curriculum-inventory-sequence-block-dates-duration-editor
        sequenceBlock=sequenceBlock
        save="changeDatesAndDuration"
        cancel="cancelDateAndDurationEditing"
      }}
    {{/unless}}
    <div class="block child-sequence-order">
      <label>{{t 'general.childSequenceOrder'}}:</label>
      {{#if isFinalized}}
        <span>{{childSequenceOrderLabel}}</span>
      {{else}}
        {{#editable-field
          value=childSequenceOrderLabel
          save=(action 'changeChildSequenceOrder')
          close=(action 'revertChildSequenceOrderChanges')
        }}
          <select onchange={{action (mut childSequenceOrder) value="target.value"}}>
            <option value=1 selected={{eq childSequenceOrder '1'}}>{{t 'general.ordered'}}</option>
            <option value=2 selected={{eq childSequenceOrder '2'}}>{{t 'general.unordered'}}</option>
            <option value=3 selected={{eq childSequenceOrder '3'}}>{{t 'general.parallel'}}</option>
          </select>
        {{/editable-field}}
      {{/if}}
    </div>

    <div class="block order-in-sequence">
      <label>{{t 'general.orderInSequence'}}:</label>
      <span>
        {{#if isInOrderedSequence}}
          {{#if isFinalized}}
            {{sequenceBlock.orderInSequence}}
          {{else}}
            {{#editable-field
              value=orderInSequence
              save=(action 'changeOrderInSequence')
              close=(action 'revertOrderInSequenceChanges')
            }}
              {{one-way-select
                value=orderInSequence
                options=orderInSequenceOptions
                update=(action (mut orderInSequence))
              }}
            {{/editable-field}}
          {{/if}}
        {{else}}
          {{t 'general.notApplicableAbbr'}}
        {{/if}}
      </span>
    </div>
    <div class="block selective">
      <label>{{t 'general.isSelective'}}?</label>
    </div>
    {{#unless isEditingMinMax}}
      <div class="block minimum">
        <label>{{t 'general.minimum'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.minimum}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editMinMax"}} class="editable">{{sequenceBlock.minimum}}</span>
          </span>
        {{/if}}
      </div>
      <div class="block maximum">
        <label>{{t 'general.maximum'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.maximum}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editMinMax"}} class="editable">{{sequenceBlock.maximum}}</span>
          </span>
        {{/if}}
      </div>
    {{else}}
      {{curriculum-inventory-sequence-block-min-max-editor
        sequenceBlock=sequenceBlock
        save="changeMinMax"
        cancel="cancelMinMaxEditing"
      }}
    {{/unless}}
    <div class="block academic-level">
      <label>{{t 'general.academicLevel'}}:</label>
      {{#if isFinalized}}
        <span>{{academicLevel.name}}</span>
      {{else}}
        {{#editable-field
          value=academicLevel.name
          save=(action 'changeAcademicLevel')
          close=(action 'revertAcademicLevelChanges')
        }}
          {{one-way-select
            academicLevel.id
            options=(sort-by 'level' academicLevels)
            optionTargetPath="id"
            optionLabelPath="name"
            update=(action 'setAcademicLevel')
          }}
        {{/editable-field}}
      {{/if}}
    </div>
    {{#unless (is-fulfilled linkableSessions)}}
      <div class="block sessions">{{loading-spinner}}</div>
    {{else}}
      {{#if (get (await linkableSessions) 'length')}}
        {{#liquid-if isManagingSessions class='horizontal sessions-list'}}
          {{curriculum-inventory-sequence-block-session-manager
            sequenceBlock=sequenceBlock
            linkableSessions=(await linkableSessions)
            cancel=(action 'cancelManagingSessions')
            save=(action 'changeSessions')
            sortBy=sortBy
            setSortBy=setSortBy
          }}
        {{else}}
          <div class="block sessions">
            <label>{{t 'general.sessions'}} ({{get (await linkableSessions) 'length'}})</label>
            {{#unless (or isManagingSessions isFinalized)}}
              <div class="actions">
                <button {{action 'toggleManagingSessions'}}>{{t 'general.manage'}}</button>
              </div>
            {{/unless}}
          </div>
          {{curriculum-inventory-sequence-block-session-list
            sequenceBlock=sequenceBlock
            linkableSessions=(await linkableSessions)
            sortBy=sortBy
            setSortBy=setSortBy
          }}
        {{/liquid-if}}
      {{/if}}
    {{/unless}}
  {{else}}
    <div class="block">{{loading-spinner}}</div>
  {{/unless}}
</div>
