<h4 id="verification-preview-table-4">{{t "general.table4InstructionalMethodCounts"}}</h4>
<table>
  <thead>
    <tr>
      <th>{{t "general.itemCode"}}</th>
      <th colspan="2">{{t "general.instructionalMethod"}}</th>
      <th>{{t "general.numberOfEventsFeaturingThisAsThePrimaryMethod"}}</th>
      <th>{{t "general.numberOfNonPrimaryOccurrencesOfThisMethod"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each (await data) as |row|}}
      <tr>
        <td>{{row.id}}</td>
        <td colspan="2">{{row.title}}</td>
        <td>{{row.num_events_primary_method}}</td>
        <td>{{row.num_events_non_primary_method}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="2">{{t "general.total"}}</td>
      <td>{{await totalNumEventsPrimaryMethod}}</td>
      <td>{{await totalNumEventsNonPrimaryMethod}}</td>
    </tr>
  </tfoot>
</table>