<h4 id="verification-preview-table-6">{{t "general.table6ClerkshipSequenceBlockAssessmentMethods"}}</h4>
<table>
  <thead>
    <tr>
      <th colspan="2" rowspan="2">{{t "general.clerkshipSequenceBlocks"}}</th>
      <th rowspan="2">{{t "general.academicLevel"}}</th>
      <th colspan={{@data.methods.length}}>{{t "general.includedInGrade"}}</th>
      <th colspan="2">{{t "general.assessments"}}</th>
    </tr>
    <tr>
      {{#each @data.methods as |method|}}
        <th>{{method}}</th>
      {{/each}}
      <th>{{t "general.formative"}}</th>
      <th>{{t "general.narrative"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.clerkships as |clerkship|}}
      <tr>
        <td colspan="2">{{clerkship.title}}</td>
        <td>{{clerkship.level}}</td>
        {{#each clerkship.methods as |method|}}
          <td>{{method}}</td>
        {{/each}}
        <td>{{clerkship.hasFormativeAssessments}}</td>
        <td>{{clerkship.hasNarrativeAssessments}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if @tocId}}
  <a href="#{{@tocId}}">{{t "general.backToTableOfContents"}}</a>
{{/if}}