<table>
  <caption>{{t "general.table1ProgramExpectationsMappedToPcrs"}}</caption>
  <thead>
    <tr>
      <th>{{t "general.programExpectationsId"}}</th>
      <th>{{t "general.programExpectations"}}</th>
      <th>{{t "general.physicianCompetencyReferenceSet"}} ({{t "general.physicianCompetencyReferenceSetAbbr"}})</th>
    </tr>
  </thead>
  <tbody>
    {{#each (await data) as |row|}}
      <tr>
        <td>{{t "general.notApplicableAbbr"}}</td>
        <td>{{{row.title}}}</td>
        <td>
          <ul>
            {{#each row.pcrs as |pcrs|}}
              <li>{{pcrs}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
