{{#unless loadAttr.isRunning}}
  <div class='detail-actions'>
    <button class='bigadd' {{action (perform saveChanges)}}>
      {{fa-icon (if saveChanges.isRunning 'spinner' 'check') spin=(if saveChanges.isRunning true false)}}
    </button>
    <button class='bigcancel' {{action 'close'}}>{{fa-icon 'undo'}}</button>
  </div>
  <div class='resultslist-list'>
    <table>
      <thead>
        <tr>
          <th class='text-center' colspan=2>
            <input
            type="checkbox"
            checked={{allSelected}}
            onclick={{action 'toggleSelectAll' value="target.value"}}
            indeterminate={{someSelected}}
            >{{t 'general.countAsOneOffering'}}
          </th>
          {{#sortable-th
            colspan=3
            click=(action 'sortBy' 'title')
            sortedBy=(or (eq sortBy 'title') (eq sortBy 'title:desc'))
            sortedAscending=sortedAscending
          }}
            {{t 'general.sessionTitle'}}
          {{/sortable-th}}
          {{#sortable-th
            colspan=3
            click=(action 'sortBy' 'sessionType.title')
            sortedBy=(or (eq sortBy 'sessionType.title') (eq sortBy 'sessionType.title:desc'))
            sortedAscending=sortedAscending
          }}
            {{t 'general.sessionType'}}
          {{/sortable-th}}
          <th class='text-center' colspan=1>{{t 'general.totalTime'}}</th>
          {{#sortable-th
            colspan=1
            click=(action 'sortBy' 'offerings.length')
            sortedBy=(or (eq sortBy 'offerings.length') (eq sortBy 'offerings.length:desc'))
            sortedAscending=sortedAscending
            sortType='numeric'
          }}
            {{t 'general.offerings'}}
          {{/sortable-th}}
        </tr>
      </thead>
      <tbody>
        {{#each (sort-by sortBy linkableSessionsBuffer) as |session|}}
          <tr>
            <td class='text-center' colspan=2>
              {{input
                type='checkbox'
                checked=(is-in linkedSessionsBuffer session)
                change=(action 'changeSession' session)
              }}
            </td>
            <td class='text-left' colspan=3>{{session.title}}</td>
            <td class='text-left' colspan=3>{{get (await session.sessionType) "title"}}</td>
            <td class='text-center' colspan=1>
              {{#if (is-in linkedSessionsBuffer session)}}
                {{#unless (is-fulfilled session.maxSingleOfferingDuration)}}
                  {{fa-icon 'spinner' spin=true}}
                {{else}}
                  {{await session.maxSingleOfferingDuration}}
                {{/unless}}
              {{else}}
                {{#unless (is-fulfilled session.totalSumOfferingsDuration)}}
                  {{fa-icon 'spinner' spin=true}}
                {{else}}
                  {{await session.totalSumOfferingsDuration}}
                {{/unless}}
              {{/if}}
            </td>
            <td class='text-center' colspan=1>{{get (await session.offerings) "length"}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/unless}}
