<div class='title'>{{t 'general.overview'}}</div>
<div class='curriculum-inventory-sequence-block-overview-content'>
  {{#unless loadAttr.isRunning}}
    <div class="block course">
      <label>{{t 'general.course'}}:</label>
      {{#if isFinalized}}
        <span>{{if sequenceBlock.course sequenceBlock.course.title (t 'general.notApplicableAbbr')}}</span>
      {{else}}
        {{inplace-select
          displayValueOverride=(await sequenceBlock.course.title)
          value=(await sequenceBlock.course.id)
          options=(sort-by 'title' linkableCourses)
          showSelectPrompt=true
          selectPromptTranslation='general.selectCourse'
          save='changeCourse'
        }}
      {{/if}}
      {{#if (is-fulfilled sequenceBlock.course)}}
        {{#if sequenceBlock.course}}
          <span class="details">
            {{t 'general.level'}}: {{sequenceBlock.course.level}},
            {{t 'general.startDate'}}: {{moment-format sequenceBlock.course.startDate 'YYYY-MM-DD'}},
            {{t 'general.endDate'}}: {{moment-format sequenceBlock.course.endDate 'YYYY-MM-DD'}}
            {{#if sequenceBlock.course.clerkshipType}}
              - {{t 'general.clerkship'}} ({{sequenceBlock.course.clerkshipType.title}})
            {{/if}}
          </span>
        {{/if}}
      {{/if}}
    </div>
    <div class="block description">
      <label>{{t 'general.description'}}:</label>
      {{#if isFinalized}}
        <span>{{sequenceBlock.description}}</span>
      {{else}}
        {{#editable-field
          value=(if description description (t 'general.clickToAddDescription'))
          save=(action 'changeDescription')
          close=(action 'revertDescriptionChanges')
          as |isSaving save close|
        }}
          {{one-way-textarea
            value=description
            update=(action (mut description))
            onenter=save
            onescape=close
            disabled=isSaving
          }}
        {{/editable-field}}
      {{/if}}
    </div>
    <div class="block required">
      <label>{{t 'general.required'}}:</label>
      {{#if isFinalized}}
        <span>
          {{if sequenceBlock.isRequired
          (t 'general.yes')
          (if sequenceBlock.isOptional (t 'general.no') (t 'general.requiredInTrack'))
          }}
        </span>
      {{else}}
        {{inplace-select value=sequenceBlock.required options=requiredOptions save='changeRequired'}}
      {{/if}}
    </div>
    <div class="block track">
      <label>{{t 'general.isTrack'}}:</label>
      {{#if isFinalized}}
        <span>{{if sequenceBlock.track (t 'general.yes') (t 'general.no')}}</span>
      {{else}}
        {{inplace-boolean value=sequenceBlock.track save='changeTrack'}}
      {{/if}}
    </div>
    {{#unless isEditingDatesAndDuration}}
      <div class="block start-date">
        <label>{{t 'general.start'}}:</label>
        {{#if isFinalized}}
          <span>
            {{#if sequenceBlock.startDate}}
              {{moment-format sequenceBlock.startDate 'MM/DD/YY'}}
            {{else}}
              {{t 'general.notApplicableAbbr'}}
            {{/if}}
          </span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">
              {{#if sequenceBlock.startDate}}
                {{moment-format sequenceBlock.startDate 'MM/DD/YY'}}
              {{else}}
                {{t 'general.clickToEdit'}}
              {{/if}}
            </span>
          </span>
        {{/if}}
      </div>
      <div class="block end-date">
        <label>{{t 'general.end'}}:</label>
        {{#if isFinalized}}
          <span>
            {{#if sequenceBlock.endDate}}
              {{moment-format sequenceBlock.endDate 'MM/DD/YY'}}
            {{else}}
              {{t 'general.notApplicableAbbr'}}
            {{/if}}
          </span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">
              {{#if sequenceBlock.endDate}}
                {{moment-format sequenceBlock.endDate 'MM/DD/YY'}}
              {{else}}
                {{t 'general.clickToEdit'}}
              {{/if}}
            </span>
          </span>
        {{/if}}
      </div>
      <div class="block duration">
        <label>{{t 'general.durationInDays'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.duration}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editDatesAndDuration"}} class="editable">{{sequenceBlock.duration}}</span>
          </span>
        {{/if}}
      </div>
    {{else}}
      {{curriculum-inventory-sequence-block-dates-duration-editor
        sequenceBlock=sequenceBlock
        save="changeDatesAndDuration"
        cancel="cancelDateAndDurationEditing"
      }}
    {{/unless}}
    <div class="block child-sequence-order">
      <label>{{t 'general.childSequenceOrder'}}:</label>
      {{#if isFinalized}}
        <span>
          {{if sequenceBlock.isOrdered
            (t 'general.ordered')
            (if sequenceBlock.isUnordered (t 'general.unordered') (t 'general.parallel'))
          }}
        </span>
      {{else}}
        {{inplace-select
          value=sequenceBlock.childSequenceOrder
          options=childSequenceOrderOptions
          save='changeChildSequenceOrder'
        }}
      {{/if}}
    </div>

    <div class="block order-in-sequence">
      <label>{{t 'general.orderInSequence'}}:</label>
      <span>
        {{#if sequenceBlock.parent.isOrdered}}
          {{#if isFinalized}}
            {{sequenceBlock.orderInSequence}}
          {{else}}
            {{inplace-select
              value=sequenceBlock.orderInSequence
              options=orderInSequenceOptions
              save="changeOrderInSequence"
            }}
          {{/if}}
        {{else}}
          {{t 'general.notApplicableAbbr'}}
        {{/if}}
      </span>
    </div>
    <div class="block selective">
      <label>{{t 'general.isSelective'}}?</label>
    </div>
    {{#unless isEditingMinMax}}
      <div class="block minimum">
        <label>{{t 'general.minimum'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.minimum}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editMinMax"}} class="editable">{{sequenceBlock.minimum}}</span>
          </span>
        {{/if}}
      </div>
      <div class="block maximum">
        <label>{{t 'general.maximum'}}:</label>
        {{#if isFinalized}}
          <span>{{sequenceBlock.maximum}}</span>
        {{else}}
          <span class="editinplace">
            <span {{action "editMinMax"}} class="editable">{{sequenceBlock.maximum}}</span>
          </span>
        {{/if}}
      </div>
    {{else}}
      {{curriculum-inventory-sequence-block-min-max-editor
        sequenceBlock=sequenceBlock
        save="changeMinMax"
        cancel="cancelMinMaxEditing"
      }}
    {{/unless}}
    <div class="block academic-level">
      <label>{{t 'general.academicLevel'}}:</label>
      {{#if isFinalized}}
        <span>{{sequenceBlock.academicLevel.name}}</span>
      {{else}}
        {{inplace-select
          displayValueOverride=(await sequenceBlock.academicLevel.name)
          value=(await sequenceBlock.academicLevel.id)
          options=(sort-by 'level' academicLevels)
          optionLabelPath='name'
          save='changeAcademicLevel'
        }}
      {{/if}}
    </div>
    {{#unless (is-fulfilled linkableSessions)}}
      <div class="block sessions">{{fa-icon 'spinner' spin=true}}</div>
    {{else}}
      {{#if linkableSessions.length}}
        {{#liquid-if isManagingSessions class='horizontal sessions-list'}}
          {{curriculum-inventory-sequence-block-session-manager
            sequenceBlock=sequenceBlock
            linkableSessions=(await linkableSessions)
            cancel=(action 'cancelManagingSessions')
            save=(action 'changeSessions')
            sortBy=sortBy
            setSortBy=setSortBy
          }}
        {{else}}
          <div class="block sessions">
            <label>{{t 'general.sessions'}} ({{linkableSessions.length}})</label>
            {{#unless (or isManagingSessions isFinalized)}}
              <div class="actions">
                <button {{action 'toggleManagingSessions'}}>{{t 'general.manage'}}</button>
              </div>
            {{/unless}}
          </div>
          {{curriculum-inventory-sequence-block-session-list
            sequenceBlock=sequenceBlock
            linkableSessions=(await linkableSessions)
            sortBy=sortBy
            setSortBy=setSortBy
          }}
        {{/liquid-if}}
      {{/if}}
    {{/unless}}
  {{else}}
    <div class="block">{{fa-icon 'spinner' spin=true}}</div>
  {{/unless}}
</div>
