{{#if (is-fulfilled tables)}}

  <ul id={{this.tocId}} class="table-of-contents">
    <li><a href="#verification-preview-table-1">{{t "general.table1ProgramExpectationsMappedToPcrs"}}</a></li>
    <li>
      <a href="#verification-preview-table-2">
        {{t "general.table2PrimaryInstructionalMethodByNonClerkshipSequenceBlock"}}
      </a>
    </li>
    <li>
      <a href="#verification-preview-table-3a">
        {{t "general.table3aNonClerkshipSequenceBlockInstructionalTime"}}
      </a>
    </li>
    <li><a href="#verification-preview-table-3b">{{t "general.table3bClerkshipSequenceBlockInstructionalTime"}}</a></li>
    <li><a href="#verification-preview-table-4">{{t "general.table4InstructionalMethodCounts"}}</a></li>
    <li>
      <a href="#verification-preview-table-5">{{t "general.table5NonClerkshipSequenceBlockAssessmentMethods"}}</a>
    </li>
    <li><a href="#verification-preview-table-6">{{t "general.table6ClerkshipSequenceBlockAssessmentMethods"}}</a></li>
    <li>
      <a href="#verification-preview-table-7">
        {{t "general.table7AllEventsWithAssessmentsTaggedAsFormativeOrSummative"}}
      </a><
    </li>
    <li><a href="#verification-preview-table-8">{{t "general.table8AllResourceTypes"}}</a></li>
  </ul>

  {{curriculum-inventory-verification-preview-table-1
    data=(get (await tables) "program_expectations_mapped_to_pcrs")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-2
    data=(get (await tables) "primary_instructional_methods_by_non_clerkship_sequence_blocks")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-3a
    data=(get (await tables) "non_clerkship_sequence_block_instructional_time")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-3b
    data=(get (await tables) "clerkship_sequence_block_instructional_time")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-4
    data=(get (await tables) "instructional_method_counts")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-5
    data=(get (await tables) "non_clerkship_sequence_block_assessment_methods")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-6
    data=(get (await tables) "clerkship_sequence_block_assessment_methods")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-7
    data=(get (await tables) "all_events_with_assessments_tagged_as_formative_or_summative")
    tocId=this.tocId
  }}
  {{curriculum-inventory-verification-preview-table-8
    data=(get (await tables) "all_resource_types")
    tocId=this.tocId
  }}
{{else}}
  {{loading-spinner}}
{{/if}}

