<div class='dashboard-block-header'>
  {{t 'dashboard.myReports'}}
  <div class="dashboard-block-actions">
    {{#liquid-if selectedReport class='crossFade'}}
      <button {{action 'selectReport' null}}>{{t 'dashboard.allReports'}}</button>
    {{else}}
      {{expand-collapse-button value=myReportEditorOn action="toggleEditor"}}
    {{/liquid-if}}
  </div>
</div>

{{#liquid-if selectedReport class='crossFade'}}
  <h3>{{selectedReport.displayTitle.content}}</h3>
  {{#if reportResultsList.isFulfilled}}
    {{#if reportResultsList.length}}
      <ul>
        {{#each reportResultsList as |item|}}
          {{#if item.model2}}
            <li>
              {{#link-to item.route item.model item.model2}}
                {{item.value}}
              {{/link-to}}
            </li>
          {{else if item.model}}
            <li>
              {{#link-to item.route item.model}}
                {{item.value}}
              {{/link-to}}
            </li>
          {{else}}
            <li>{{item.value}}</li>

          {{/if}}
        {{/each}}
      </ul>
    {{else}}
      {{t 'general.none'}}
    {{/if}}
  {{else}}
    <h1>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}
{{else}}
  <div class='dashboard-block-body'>
    {{#liquid-if myReportEditorOn class='vertical'}}
      {{new-myreport close=(action 'toggleEditor')}}
    {{/liquid-if}}
    {{#if listOfReports.isFulfilled}}
      {{#if sortedReports.length}}
        <table>
          <tbody>
            {{#each sortedReports as |report|}}
            <tr>
              <td {{action 'selectReport' report}} class='link clickable' colspan=4>
                {{fa-icon 'external-link-square'}}
                {{report.displayTitle.content}}
              </td>
              <td class='text-right remove' colspan=1 {{action 'deleteReport' report}}>{{fa-icon 'trash'}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{t 'general.none'}}
      {{/if}}
    {{else}}
      <h1>{{fa-icon 'spinner' spin=true}}</h1>
    {{/if}}
  </div>
{{/liquid-if}}
