{{#unless loadAttr.isRunning}}
  <div class='dashboard-block-header'>
    <h3>{{t 'general.myReports'}}</h3>
    <div class="dashboard-block-actions">
      {{#liquid-if selectedReport class='crossFade'}}
        <button {{action 'selectReport' null}}>{{t 'general.allReports'}}</button>
        <button {{action (perform downloadReport)}} disabled={{downloadReport.isRunning}}>
          {{#if finishedBuildingReport}}
            {{fa-icon 'check'}}
          {{else if downloadReport.isRunning}}
            {{fa-icon 'spinner' spin=true}}
          {{else}}
            {{fa-icon 'download'}}
          {{/if}}
          {{t 'general.downloadResults'}}
        </button>
      {{else}}
        {{expand-collapse-button value=myReportEditorOn action="toggleEditor" data-test-add-new-report=true}}
      {{/liquid-if}}
    </div>
  </div>

  {{#liquid-if selectedReport class='crossFade'}}
    <div class='dashboard-block-body' data-test-selected-report>
      <h3 data-test-report-title>{{report-title selectedReport}}</h3>

      {{#if showAcademicYearFilter}}
        <div class="years-filter">
          <select onchange={{action (mut selectedYear) value="target.value"}} data-test-year-filter>
            <option value='' selected={{is-empty selectedYear}}>{{t 'general.allAcademicYears'}}</option>
            {{#each (sort-by 'academicYearTitle:desc' (await allAcademicYears)) as |year|}}
              <option value={{year.id}} selected={{is-equal year selectedYear}}>
                {{year.academicYearTitle}}
              </option>
            {{/each}}
          </select>
        </div>
      {{/if}}
      {{#if (is-fulfilled reportResultsList)}}
        {{#if (get (await reportResultsList) 'length')}}
          <ul data-test-results>
            {{#each (await reportResultsList) as |item|}}
              {{#if item.model2}}
                <li>
                  {{#link-to item.route item.model item.model2}}
                    {{item.value}}
                  {{/link-to}}
                </li>
              {{else if item.model}}
                <li>
                  {{#link-to item.route item.model}}
                    {{item.value}}
                  {{/link-to}}
                </li>
              {{else}}
                <li>{{item.value}}</li>

              {{/if}}
            {{/each}}
          </ul>
        {{else}}
          {{t 'general.none'}}
        {{/if}}
      {{else}}
        <h1>{{fa-icon 'spinner' spin=true}}</h1>
      {{/if}}
    </div>
  {{else}}
    <div class='dashboard-block-body'>
      {{#liquid-if myReportEditorOn class='vertical'}}
        {{new-myreport close=(action 'toggleEditor')}}
      {{/liquid-if}}
      {{#if (is-fulfilled sortedReports)}}
        {{#if (get (await sortedReports) 'length')}}
          <table>
            <tbody data-test-saved-reports>
              {{#each (await sortedReports) as |report|}}
                <tr>
                  <td colspan=4>
                    {{myreports-list-item report=report selectReport='selectReport'}}
                  </td>
                  <td class='text-right clickable remove' colspan=1 {{action 'deleteReport' report}}>{{fa-icon 'trash'}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          {{t 'general.none'}}
        {{/if}}
      {{else}}
        <h1>{{fa-icon 'spinner' spin=true}}</h1>
      {{/if}}
    </div>
  {{/liquid-if}}
{{/unless}}
