<section class='calendar-controls'>
  <div class='calendar-options-control togglemyschedule'>
    {{toggle-wide
      value=mySchedule
      onLabel='dashboard.mySchedule'
      offLabel='dashboard.allEvents'
      action='toggleMySchedule'
      cssId='togglemyschedule'
    }}
  </div>

  <div class='calendar-options-control showfilters'>
    {{toggle-wide
      value=showFilters
      onLabel='dashboard.showFilters'
      offLabel='dashboard.hideFilters'
      action='toggleShowFilters'
      cssId='showfilters'
    }}
  </div>

  {{#if showFilters}}
    <div class='calendar-options-control togglecoursefilters'>
      {{toggle-wide
        value=courseFilters
        onLabel='dashboard.courseOrType'
        offLabel='dashboard.topicOrDetail'
        action='toggleCourseFilters'
        cssId='togglecoursefilters'
      }}
    </div>

    {{#if showClearFilters}}
      <span id='calendar-clear-filters' class="calendar-clear-filters" {{action 'clearFilters'}}>Clear Filters</span>
    {{/if}}
  {{/if}}

  {{#unless mySchedule}}
    <div class='calendar-options-control calendar-school-picker'>
      {{fa-icon 'university'}}
      {{#if hasMoreThanOneSchool}}
        <select {{action 'pickSchool' on='change'}}>
          {{#each schools as |school|}}
            <option value="{{school}}" selected={{is-equal school selectedSchool.content}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
  {{/unless}}
  {{#if showFilters}}
    <div id='calendar-year-picker' class='calendar-options-control calendar-year-picker'>
      <select {{action 'changeSelectedYear' on='change'}}>
        {{#each academicYears as |year|}}
          <option value="{{year}}" selected={{is-equal year selectedAcademicYear.content}}>
            {{year.academicYearTitle}}
          </option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  <div class='calendar-filters'>
    {{#liquid-if showFilters class='vertical'}}
      {{#liquid-if courseFilters class='crossFade'}}
        <div id='calendar-coursefilter' class='calendar-filter-list large-filter-list coursefilter'>
          {{selectedAcademicYear.academicYearTitle}} {{t 'general.courses'}}
          {{#if courses.isFulfilled}}
            <ul>
              {{#each courses as |course|}}
                <li class='clickable' {{action 'toggleCourse' course}}>
                  {{boolean-check value=(is-in selectedCourses course)}}
                  <span class="list-indentation">{{course.title}}</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{fa-icon "spinner" spin=true}}
          {{/if}}
        </div>

        <div id='calendar-sessiontypefilter' class='calendar-filter-list sessiontypefilter'>
          {{t 'dashboard.sessionTypes'}}
          {{#if sessionTypes.isFulfilled}}
            <ul>
              {{#each sessionTypes as |type|}}
                <li class='clickable' {{action 'toggleSessionType' type}}>
                  {{boolean-check value=(is-in selectedSessionTypes type)}}
                  <span class="list-indentation">{{type.title}}</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{fa-icon "spinner" spin=true}}
          {{/if}}
        </div>
      {{else}}
        <div id='calendar-topicfilter' class='calendar-filter-list topicfilter'>
          {{t 'general.topics'}}
          {{#if topics.isFulfilled}}
            <ul>
              {{#each topics as |topic|}}
                <li class='clickable' {{action 'toggleTopic' topic}}>
                  {{boolean-check value=(is-in selectedTopics topic)}}
                  <span class="list-indentation">{{topic.title}}</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{fa-icon "spinner" spin=true}}
          {{/if}}
        </div>

        <div id='calendar-sessiontypefilter' class='calendar-filter-list sessiontypefilter'>
          {{t 'dashboard.sessionTypes'}}
          {{#if sessionTypes.isFulfilled}}
            <ul>
              {{#each sessionTypes as |type|}}
                <li class='clickable' {{action 'toggleSessionType' type}}>
                  {{boolean-check value=(is-in selectedSessionTypes type)}}
                  <span class="list-indentation">{{type.title}}</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{fa-icon "spinner" spin=true}}
          {{/if}}
        </div>
        <div id='calendar-courselevelfilter' class='calendar-filter-list small-filter-list courselevelfilter'>
          {{t 'dashboard.courseLevels'}}
          <ul>
            {{#each courseLevels as |level|}}
              <li class='clickable' {{action 'toggleCourseLevel' level}}>
                {{boolean-check value=(is-in selectedCourseLevels level)}}
                <span class="list-indentation">{{level}}</span>
              </li>
            {{/each}}
          </ul>
        </div>
        <div id='calendar-cohortfilter' class='calendar-filter-list large-filter-list cohortfilter'>
          {{selectedAcademicYear.academicYearTitle}} {{t 'dashboard.programAndCohort'}}
          {{#if cohorts.isFulfilled}}
            <ul>
              {{#each cohorts as |cohort|}}
                <li class='clickable' {{action 'toggleCohort' cohort}}>
                  {{boolean-check value=(is-in selectedCohorts cohort)}}
                  <span class="list-indentation">{{cohort.displayTitle}} {{cohort.programYear.program.title}}</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{fa-icon "spinner" spin=true}}
          {{/if}}
        </div>
      {{/liquid-if}}
    {{/liquid-if}}
  </div>
</section>

{{#if showClearFilters}}
  <section class="filters-list">
    <header class="filters-header">Active Filters:</header>

    <div class="filter-tags">
      {{#each filterTags as |tag|}}
        <span class="filter-tag {{tag.class}}" {{action 'removeFilter' tag.filter}}>{{tag.name}} {{fa-icon 'close'}}</span>
      {{/each}}
      <span id='calendar-clear-filters' class="filters-clear-filters" {{action 'clearFilters'}}>Clear Filters</span>
    </div>
  </section>
{{/if}}

<section class='fullwidth ilios-calendar-container'>
    {{ilios-calendar
      calendarEventsPromise=filteredEvents
      selectedDate=calendarDate
      selectedView=selectedView
      changeDate='changeDate'
      changeView='changeView'
      selectEvent='selectEvent'
      day=dayTranslation
      week=weekTranslation
      month=monthTranslation
      dueThisDay=dueTranslation
      loadingMessage=loadingEventsTranslation
      icsFeedUrl=currentUser.model.absoluteIcsUri
      icsInstructions=icsInstructionsTranslation
    }}
</section>
