{{#if weeksEvents.length}}
  <table>
    <tbody>
      {{#each weeksEvents as |event|}}
        {{#link-to 'events' event.slug}}
          <tr class='clickable'>
            <td class='event-date'>{{fa-icon 'external-link-square'}} {{moment-format event.startDate 'dddd, MMMM Do, YYYY h:mma'}}</td>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
          </tr>
        {{/link-to}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{t 'dashboard.noEvents'}}
{{/if}}
