<div class='dashboard-block-header'>
  {{t 'general.myCourses'}}
</div>

<div class='dashboard-block-body'>
  {{#if (is-fulfilled listOfCourses)}}
    {{#if (get (await listOfCourses) 'length')}}
      <table>
        <tbody>
          {{#each (await listOfCourses) as |course|}}
            {{#if (await canEditCourses)}}
              <tr class='clickable'>
                <td>{{#link-to 'course' course}}{{fa-icon 'external-link-square'}} {{course.academicYear}}{{/link-to}}</td>
                <td>{{#link-to 'course' course}}{{course.title}}{{/link-to}}</td>
              </tr>
            {{else}}
              <tr>
                <td>{{course.academicYear}}</td>
                <td>{{course.title}}</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{t 'general.none'}}
    {{/if}}
  {{else}}
    <h1>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}
</div>
