{{#liquid-if weeksEvents.isFulfilled}}
  {{#if weeksEvents.length}}
    <table>
      <tbody>
        {{#each weeksEvents as |event|}}
          {{#if event.isBlanked}}
            <tr>
              <td class='event-date'>
                {{#if event.ilmSession}}
                  <span class='ilm-due'>{{t 'sessions.dueBy'}}</span>
                {{/if}}
                {{moment-format event.startDate 'dddd, MMMM Do, YYYY h:mma'}}
              </td>
              <td>
                {{#if event.ilmSession}}
                  <strong>ILM: </strong>
                {{/if}}
                {{event.name}}
              </td>
              <td>{{event.location}}</td>
              <td>{{recently-updated-display lastModified=event.lastModified}}</td>
            </tr>
          {{/if}}
          {{#unless event.isBlanked}}
              <tr>
                <td class='event-date'>
                  {{#link-to 'events' event.slug}}
                    {{fa-icon 'external-link-square'}}
                    {{#if event.ilmSession}}
                      <span class='ilm-due'>{{t 'sessions.dueBy'}}: </span>
                    {{/if}}
                    {{moment-format event.startDate 'dddd, MMMM Do, YYYY h:mma'}}
                  {{/link-to}}
                </td>
                <td>
                  {{#if event.ilmSession}}
                    <strong>ILM: </strong>
                  {{/if}}
                  {{event.name}}
                </td>
                <td>{{#link-to 'events' event.slug}}{{event.location}}{{/link-to}}</td>
                <td>{{recently-updated-display lastModified=event.lastModified}}</td>
              </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{t 'dashboard.noEvents'}}
  {{/if}}
{{else}}
  <p>{{fa-icon 'spinner' spin=true}} {{t 'calendar.loadingEvents'}}</p>
{{/liquid-if}}
