<div class='dashboard-block-header'>
  {{t 'dashboard.myReports'}}
  <div class="dashboard-block-actions">{{expand-collapse-button value=myReportEditorOn action="toggleEditor"}}</div>
</div>

<div class='dashboard-block-body'>
  {{#liquid-if myReportEditorOn class='vertical'}}
    {{new-myreport close='toggleEditor'}}
  {{/liquid-if}}
  {{#if listOfReports.isFulfilled}}
    {{#if sortedReports.length}}
      <table>
        <tbody>
          {{#each sortedReports as |report|}}
          <tr {{action 'selectReport' report}} class='clickable'>
            <td>{{fa-icon 'external-link-square'}} {{report.title}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{t 'general.none'}}
    {{/if}}
  {{else}}
    <h1>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}
</div>
