<section class='detail-block'>
  <div class='detail-title'>
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'courses.cohortsManageTitle'}}
      </span>
    {{else}}
      {{t 'courses.cohorts'}} ({{cohorts.length}})
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action 'manage'}}>{{t 'courses.cohortsManageTitle'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#if isManaging}}
      <ul class='removable-list'>
        {{#each cohort in cohorts}}
          <li {{action 'remove' cohort}}>{{cohort.title}} {{fa-icon 'remove'}}</li>
        {{/each}}
      </ul>
      <div class='selectable-list'>
        <h5>{{t 'courses.availableCohorts'}}</h5>
        <ul>
          {{#each program in filteredPrograms}}
            <li class='static'>{{program.title}}
              <ul>
                {{#each cohort in program.availableCohorts}}
                  <li {{action 'add' cohort}}>{{cohort.displayTitle}}</li>

                {{else}}
                  <li class='static'>{{t 'courses.noAvailableCohorts'}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    {{else}}
      {{#if cohorts.length}}
        <table>
          <thead>
            <tr>
              <th class='text-left'>{{t 'general.program'}}</th>
              <th class='text-center'>{{t 'general.cohort'}}</th>
              <th class='text-center'>{{t 'general.level'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each cohort in cohorts}}
            <tr>
              <td class='text-left'>{{cohort.programYear.program.title}}</td>
              <td class='text-center'>{{cohort.displayTitle}}</td>
              <td class='text-center'>{{cohort.currentLevel}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{t 'courses.noCohorts'}}
      {{/if}}
    {{/if}}
  </div>
</section>
