{{#if (is-fulfilled trees)}}
  {{#each (sort-by 'topLevelGroup.title' (await trees)) as |tree|}}
    <fieldset>
      <legend>{{tree.topLevelGroup.title}} ({{tree.topLevelGroup.cohort.programYear.program.title}} {{tree.topLevelGroup.cohort.title}})</legend>
      {{#if (is-fulfilled tree.groups)}}
        {{#if isManaging}}
          <div class='clickable remove remove-all-subgroups' onclick={{action remove tree.topLevelGroup}}>{{t 'general.removeAll'}} ({{fa-icon 'times'}})</div>
        {{/if}}
        <ul>
          <li class='top-level-group'>
            <div class='badge'>
              <div class='text'>
                <div class='main-text'>
                  {{tree.topLevelGroup.title}} ({{count-related tree.topLevelGroup 'users'}})
                </div>
              </div>
            </div>
          </li>

          {{#each (without tree.topLevelGroup (await tree.groups)) as |learnerGroup|}}
            <li class={{if isManaging 'clickable'}} onclick={{if isManaging (action remove learnerGroup)}}>
              <div class='badge {{if (contains learnerGroup (await lowestLeaves)) "lowest-leaf"}}'>
                <div class='text'>
                  <div class='main-text'>
                    {{learnerGroup.title}} ({{count-related learnerGroup 'users'}})
                  </div>
                </div>
                {{#if isManaging}}
                  <div class='action'>{{fa-icon 'remove'}}</div>
                {{/if}}
              </div>

            </li>
          {{/each}}
        </ul>
      {{/if}}
    </fieldset>
  {{/each}}
{{else}}
  {{fa-icon 'spinner' spin=true}}
{{/if}}
