<section class="remove-list">
  {{#if (and stewardsBySchoolLoaded (not isSaving))}}
    <ul>
      {{#each (sort-by "school.title" getStewardsBySchool.lastSuccessful.value) as |obj|}}
        <li>
          <span class="removable" onclick={{perform removeSchool obj.school}}>
            {{fa-icon "times"}} {{obj.school.title}}
          </span>
          <ul>
            {{#each (sort-by "title" obj.departments) as |department|}}
              <li class="clickable" onclick={{perform removeDepartment obj.school department}}>
                {{fa-icon "times"}} {{department.title}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{else}}
        <li>{{t "general.none"}}</li>
      {{/each}}
    </ul>
  {{else}}
    {{loading-spinner tagName="div" class="loading"}}
  {{/if}}
</section>


<section class="add-list">
  {{#if (and availableSchoolsLoaded (not isSaving))}}
    <ul>
      {{#each (sort-by "school.title" getAvailableSchools.lastSuccessful.value) as |obj|}}
        <li>
          <span class="clickable" onclick={{perform addSchool obj.school}}>
            {{obj.school.title}}
          </span>
          <ul>
            {{#each (sort-by "title" obj.departments) as |department|}}
              <li class="clickable" onclick={{perform addDepartment obj.school department}}>{{department.title}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    {{loading-spinner tagName="div" class="loading"}}
  {{/if}}
</section>
