<section class='detail-block'>
  <div class='detail-title'>
    {{#unless isManaging}}
      {{t 'general.objectives'}} ({{subject.objectives.length}})
    {{/unless}}
    {{#if isManagingParents}}
      <span class='detail-specific-title'>
        {{t 'courses.objectiveParentTitle'}}
      </span>
    {{/if}}
    {{#if isManagingDescriptors}}
      <span class='detail-specific-title'>
        {{t 'courses.objectiveDescriptorTitle'}}
      </span>
    {{/if}}
    {{#if isManagingCompetency}}
      <span class='detail-specific-title'>
        {{t 'programs.objectiveCompetencyManagerTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#liquid-if isManaging class='horizontal'}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action 'addObjective'}}>{{t 'general.addNew'}}</button>
    {{/liquid-if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if newObjectives.length class='vertical'}}
      <section class='resultslist-new'>
        {{#each newObjectives as |objective|}}
          <section class='newobjective'>
            <label>
              {{t 'general.title'}}:
              {{textarea value=objective.title}}
            </label>
            <br />
            <button class='done text' {{action 'saveNewObjective' objective}}>{{t 'general.done'}}</button>
            <button class='cancel text' {{action 'removeNewObjective' objective}}>{{t 'general.cancel'}}</button>
          </section>
        {{/each}}
      </section>
    {{/liquid-if}}
    {{#liquid-unless isManaging class="horizontal"}}
      {{#if isCourse}}
        {{course-objective-list
          course=subject
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
      {{#if isSession}}
        {{session-objective-list
          session=subject
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
      {{#if isProgramYear}}
        {{programyear-objective-list
          programYear=subject
          manageDescriptors="manageDescriptors"
          mangeCompetency="mangeCompetency"
        }}
      {{/if}}
    {{else}}
      {{#if isManagingParents}}
        {{#if isCourse}}
          {{course-objective-manager
            courseObjective=mangeParentsObjective
          }}
        {{/if}}
        {{#if isSession}}
          {{session-objective-manager
            sessionObjective=mangeParentsObjective
          }}
        {{/if}}
      {{/if}}
      {{#if isManagingDescriptors}}
        {{objective-manage-descriptors objective=manageDescriptorsObjective}}
      {{/if}}
      {{#if isManagingCompetency}}
        {{objective-manage-competency objective=manageCompetencyObjective}}
      {{/if}}
    {{/liquid-unless}}
  </div>
</section>
