<section class='detail-block'>
  <div class='detail-title'>
    {{t 'courses.learnerGroups'}} ({{subject.learnerGroups.length}})
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'courses.learnerGroupsManageTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if isManaging}}
        <button class='bigadd' onclick={{perform save}}>{{fa-icon (if save.isRunning 'spinner' 'check') spin=save.isRunning}}</button>
        <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else if editable}}
      <button {{action setIsManaging true}}>{{t 'courses.learnerGroupsManageTitle'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if isManaging class="horizontal"}}
        {{learnergroup-selection-manager
          learnerGroups=learnerGroups
          cohorts=cohorts
          add=(action 'addLearnerGroup')
          remove=(action 'removeLearnerGroup')
        }}
    {{else}}
      {{detail-learnergroups-list
        learnerGroups=subject.learnerGroups
      }}
    {{/liquid-if}}
  </div>
</section>
