<div {{action "collapse"}}
  class="title {{if (await showCollapsible) "clickable collapsible"}}"
>
  {{t "general.competencies"}} ({{get (await course.competencies) "length"}})
</div>
{{#if (get (await course.competencies) "length")}}
  <div class="detail-competencies-content">
    <ul class="static-list">
      {{#each (await course.domains) as |domain|}}
        <li>
          {{domain.title}}
          <ul>
            {{#each (await domain.subCompetencies) as |competency|}}
              <li>{{competency.title}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
