<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.learningMaterials'}} ({{materials.length}})
  </div>
  <div class='detail-actions'>
    <button class='add'>{{t 'general.addNew'}}</button>
  </div>
  <div class='detail-content'>
   {{#if materials.length}}
   <table>
      <thead>
        <tr>
          <th class='text-left' colspan=2>{{t 'learningMaterials.displayName'}}</th>
          <th class='text-center'>{{t 'general.type'}}</th>
          <th class='text-center'>{{t 'learningMaterials.owner'}}</th>
          <th class='text-center'>{{t 'general.required'}}</th>
          <th class='text-left'>{{t 'learningMaterials.notes'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each lm in materials}}
          <tr>
            <td class='text-left' colspan=2>
              {{#link-to 'courselearningmaterial' lm}}
                {{fa-icon 'external-link-square'}} {{lm.learningMaterial.title}}
              {{/link-to}}
            </td>
            <td class='text-center'>{{lm.learningMaterial.type}}</td>
            <td class='text-center'>{{lm.learningMaterial.originalAuthor}}</td>
            <td class='text-center'>
	        {{#if lm.required}}
	        <span class='add'>{{t 'general.yes'}}</span>
	        {{else}}
	        <span class='remove'>{{t 'general.no'}}</span>
	        {{/if}}
	        </td>
            <td class='text-left'>{{lm.learningMaterial.notes}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
   {{/if}}
  </div>
</section>
