<section class='detail-block filter-detail-block'>
  <div class='detail-title'>
    {{#unless isManaging}}
      {{t 'general.learningMaterials'}} ({{proxyMaterials.length}})
    {{/unless}}
    {{#if isManagingMaterial}}
      <span class='detail-specific-title'>
        {{t 'courses.learningMaterialManageTitle'}}
      </span>
    {{/if}}
    {{#if isManagingMesh}}
      <span class='detail-specific-title'>
        {{t 'courses.lmDescriptorTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='learning-material-actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      {{#action-menu title=newButtonTitle icon=false classNames='blend-button right-edge'}}
        <li {{action 'addNewLearningMaterial' 'file'}}>{{t 'learningMaterials.file'}}</li>
        <li {{action 'addNewLearningMaterial' 'link'}}>{{t 'learningMaterials.link'}}</li>
        <li {{action 'addNewLearningMaterial' 'citation'}}>{{t 'learningMaterials.citation'}}</li>
      {{/action-menu}}
    {{/if}}
  </div>

  {{#unless isManaging}}
    {{learningmaterial-search add='addLearningMaterial' currentMaterials=parentMaterials}}
  {{/unless}}

  <div class='detail-content'>
    {{#liquid-if isManaging class="horizontal"}}
      {{#if isManagingMaterial}}
        {{learningmaterial-manager
          learningMaterial=managingMaterial
          valueBuffer=bufferMaterial
          learningMaterialStatuses=learningMaterialStatuses
          isCourse=isCourse
          changeStatus='changeStatus'
          changeNotes='changeNotes'
          changeRequired='changeRequired'
          changePublicNotes='changePublicNotes'
        }}
      {{/if}}
      {{#if isManagingMesh}}
        {{mesh-manager
          terms=bufferTerms
          add='addTermToBuffer'
          remove='removeTermFromBuffer'
          targetItemTitle=meshMaterial.learningMaterial.title
        }}
      {{/if}}
    {{else}}
      {{#if newLearningMaterials.length}}
        {{#each newLearningMaterials as |lm|}}
          {{new-learningmaterial
            learningMaterial=lm
            learningMaterialStatuses=learningMaterialStatuses
            learningMaterialUserRoles=learningMaterialUserRoles
            save='saveNewLearningMaterial'
            remove='removeNewLearningMaterial'}}
        {{/each}}
      {{/if}}
      {{#if proxyMaterials.length}}
        <table>
          <thead>
            <tr>
              <th class='text-left' colspan=3>{{t 'learningMaterials.displayName'}}</th>
              <th class='text-center' colspan=2>{{t 'general.type'}}</th>
              <th class='text-center' colspan=2>{{t 'learningMaterials.owner'}}</th>
              <th class='text-center' colspan=2>{{t 'general.required'}}</th>
              <th class='text-center' colspan=2>{{t 'learningMaterials.notes'}}</th>
              <th class='text-center' colspan=2>{{t 'general.mesh'}}</th>
              <th class='text-center' colspan=2>{{t 'general.status'}}</th>
              <th class='text-left' colspan=1>{{t 'general.actions'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each proxyMaterials as |lmProxy|}}
              <tr class="{{if lmProxy.showRemoveConfirmation 'confirm-removal'}}">
                <td class='text-left clickable link' colspan=3 {{action 'manageMaterial' lmProxy.content}}>
                  {{fa-icon 'external-link-square'}} {{lmProxy.learningMaterial.title}}
                </td>
                <td class='text-center' colspan=2>{{lmProxy.learningMaterial.type}}</td>
                <td class='text-center' colspan=2>{{lmProxy.learningMaterial.originalAuthor}}</td>
                <td class='text-center' colspan=2>
        	        {{#if lmProxy.required}}
        	          <span class='add'>{{t 'general.yes'}}</span>
        	        {{else}}
        	          <span class='remove'>{{t 'general.no'}}</span>
        	        {{/if}}
                </td>
                <td class='text-center' colspan=2>
        	        {{#if lmProxy.publicNotes}}
        	          <span class='add'>{{t 'general.yes'}}</span>
        	        {{else}}
        	          <span class='remove'>{{t 'general.no'}}</span>
        	        {{/if}}
                </td>
                <td class='text-center' colspan=2>
                  {{#if lmProxy.sortedDescriptors.length}}
                    <ul>
                      <a href='#' {{action 'manageDescriptors' lmProxy.content}}>
                        {{#each lmProxy.sortedDescriptors as |descriptor|}}
                          <li>{{descriptor.name}}</li>
                        {{/each}}
                      </a>
                    </ul>
                  {{else}}
                    <button {{action 'manageDescriptors' lmProxy.content}}>{{t 'general.addNew'}}</button>
                  {{/if}}
                </td>
                <td class='text-center' colspan=2>
                  {{lmProxy.learningMaterial.status.title}}
                </td>
                <td class='text-left text-top' colspan=1>
                  <span class='clickable remove' {{action 'confirmRemoval' lmProxy}}>{{fa-icon 'trash'}}</span>
                </td>
              </tr>

              {{#if lmProxy.showRemoveConfirmation}}
                <tr class='confirm-removal'><td colspan=16>
                  <div class='confirm-message'>
                    {{t 'learningMaterials.confirmRemoval'}}<br />
                    <div class="confirm-buttons">
                      <button {{action 'remove' lmProxy}} class='remove text'>{{t 'general.yes'}}</button>
                      <button {{action 'cancelRemove' lmProxy}} class='done text'>{{t 'general.cancel'}}</button>
                    </div>
                  </div>
                </td></tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/liquid-if}}
  </div>
</section>
