<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.objectives'}} ({{objectives.length}})
  </div>

  <div class='detail-actions'>
    <button class='add'>{{t 'general.addNew'}}</button>
  </div>
  <div class='detail-content'>
    <table>
      <thead>
        <tr>
          <th colspan=2>{{t 'general.description'}}</th>
          <th>{{t 'general.parentObjectives'}}</th>
          <th>{{t 'general.meshTerms'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each objective in objectives}}
        <tr>
          <td colspan=2>{{editable-textarea model=objective length=200 stripHtml=true property='title'}}</td>
          <td>
            {{#if objective.parents.length}}
            <ul>
              {{#each parent in objective.parents}}
                <li>
                  {{#link-to 'courseobjective' objective}}
                    {{parent.textTitle}}
                  {{/link-to}}
                  {{#if parent.competency}}
                    ({{parent.competency.title}})
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{else}}
              {{#link-to 'courseobjective' objective}}
                <button class='add'>{{t 'general.addNew'}}</button>
              {{/link-to}}
            {{/if}}
          </td>
          <td>
            {{#if objective.meshDescriptors.length}}
            <ul>
              {{#each descriptor in objective.meshDescriptors}}
              <li>{{descriptor.title}}</li>
              {{/each}}
            </ul>
            {{else}}
            <button class='add'>{{t 'general.addNew'}}</button>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
