<section class='detail-block {{if showCollapsible "collapsible"}}'>
    {{#if isManaging}}
        <div class='detail-title'>
            <span class='detail-specific-title'>{{t 'taxonomies.termsManageTitle'}}</span>
        </div>
    {{else}}
        <div class='detail-title {{if terms.length "clickable"}}' {{action 'collapse'}}>
            {{t 'general.terms'}} ({{subject.terms.length}})
        </div>
    {{/if}}
    <div class='detail-actions'>
        {{#if isManaging}}
            <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
            <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
        {{else if editable}}
            <button {{action 'manage'}}>{{t 'taxonomies.termsManageTitle'}}</button>
        {{/if}}
    </div>
    <div class='detail-content'>
        {{#liquid-if isManaging class="horizontal"}}
            {{taxonomy-manager subject=subject}}
        {{else}}
            {{#each vocabularies as |vocab| }}
                {{detail-terms-list vocabulary=vocab terms=terms}}
            {{/each}}
        {{/liquid-if}}
    </div>
</section>
