<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.objectives'}} ({{objectives.length}})
  </div>

  <div class='detail-actions'>
    <button class='add'>{{t 'general.addNew'}}</button>
  </div>
  <div class='detail-content'>
    <table>
      <thead>
        <tr>
          <th class='text-left' colspan=2>{{t 'general.description'}}</th>
          {{#if isCourse}}
            <th class='text-left'>{{t 'general.parentObjectives' count=1}}</th>
          {{else}}
            <th class='text-left'>{{t 'general.parentObjectives' count=2}}</th>
          {{/if}}
          <th class='text-left'>{{t 'general.meshTerms'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each objective in sortedObjectives}}
        <tr>
          <td class='text-left' colspan=2>{{editable-textarea model=objective length=200 stripHtml=true property='title'}}</td>
          <td class='text-left'>
            {{#if objective.parents.length}}
            <ul>
              {{#each parent in objective.parents}}
                <li>
                  {{#if isCourse}}
                    {{#link-to 'courseobjective' objective}}
                      {{parent.textTitle}}
                    {{/link-to}}
                  {{/if}}
                  {{#if isSession}}
                    {{#link-to 'sessionobjective' objective}}
                      {{parent.textTitle}}
                    {{/link-to}}
                  {{/if}}
                  {{#if parent.competency}}
                    ({{parent.competency.title}})
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{else}}
              {{#if isCourse}}
                {{#link-to 'courseobjective' objective}}
                  <button class='add'>{{t 'general.addNew'}}</button>
                {{/link-to}}
              {{/if}}
              {{#if isSession}}
                {{#link-to 'sessionobjective' objective}}
                  <button class='add'>{{t 'general.addNew'}}</button>
                {{/link-to}}
              {{/if}}
            {{/if}}
          </td>
          <td class='text-left'>
            {{#if objective.meshDescriptors.length}}
            <ul>
              {{#each descriptor in objective.meshDescriptors}}
              <li>{{descriptor.title}}</li>
              {{/each}}
            </ul>
            {{else}}
            <button class='add'>{{t 'general.addNew'}}</button>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
