{{#if term.description.length}}
  {{#tooltip-on-component}}
    {{term.description}}
  {{/tooltip-on-component}}
{{/if}}
{{#if term.isTopLevel}}
  {{term.title}}
{{else}}
  {{#each (await term.allParentTitles) as |title|}}
    <span class="muted">{{title}} &raquo;</span>
  {{/each}}
  {{term.title}}
{{/if}}
{{#unless (await term.isActiveInTree)}}
  <span class="inactive">({{t 'general.inactive'}})</span>
{{/unless}}
{{#if canEdit}}
  {{fa-icon 'remove'}}
{{/if}}
