<section class='detail-block {{if objectives.length "collapsible"}}'>
  <div class='detail-title {{if objectives.length "clickable"}}' {{action 'collapse'}}>
    {{#unless isManaging}}
      {{t 'general.objectives'}} ({{subject.objectives.length}})
    {{/unless}}
    {{#if isManagingParents}}
      <span class='detail-specific-title'>
        {{objectiveParentTitle}}
      </span>
    {{/if}}
    {{#if isManagingDescriptors}}
      <span class='detail-specific-title'>
        {{t 'courses.objectiveDescriptorTitle'}}
      </span>
    {{/if}}
    {{#if isManagingCompetency}}
      <span class='detail-specific-title'>
        {{t 'programs.objectiveCompetencyManagerTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#liquid-if isManaging class='horizontal'}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      {{#if editable}}
        {{expand-collapse-button value=newObjectiveEditorOn action="toggleNewObjectiveEditor"}}
      {{/if}}
    {{/liquid-if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if newObjectiveEditorOn class='vertical'}}
      <section class='resultslist-new'>
        <section class='newobjective'>
          <label>
            {{t 'general.title'}}:
            {{froala-editor
              params=editorParams
              value=newObjectiveTitle
              contentChanged=(action "changeNewObjectiveTitle")
            }}
          </label>
          <br />
          <button class='done text' {{action 'saveNewObjective'}}>{{t 'general.done'}}</button>
          <button class='cancel text' {{action 'closeNewObjectiveEditor'}}>{{t 'general.cancel'}}</button>
        </section>
      </section>
    {{/liquid-if}}
    {{#liquid-unless isManaging class="horizontal"}}
      {{#if isCourse}}
        {{course-objective-list
          course=subject
          editable=editable
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
      {{#if isSession}}
        {{session-objective-list
          session=subject
          editable=editable
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
      {{#if isProgramYear}}
        {{programyear-objective-list
          programYear=subject
          manageDescriptors="manageDescriptors"
          mangeCompetency="mangeCompetency"
        }}
      {{/if}}
    {{else}}
      {{#if isManagingParents}}
        {{#if isCourse}}
          {{course-objective-manager
            courseObjective=mangeParentsObjective
          }}
        {{/if}}
        {{#if isSession}}
          {{session-objective-manager
            sessionObjective=mangeParentsObjective
          }}
        {{/if}}
      {{/if}}
      {{#if isManagingDescriptors}}
        {{objective-manage-descriptors objective=manageDescriptorsObjective}}
      {{/if}}
      {{#if isManagingCompetency}}
        {{objective-manage-competency objective=manageCompetencyObjective}}
      {{/if}}
    {{/liquid-unless}}
  </div>
</section>
