<div class='detail-instructors-header'>
  <div class='title'>
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'general.instructorsManageTitle'}}
      </span>
    {{else}}
      {{t 'general.instructors'}} ({{titleCount}})
    {{/if}}
  </div>

  <div class='actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else if editable}}
      <button {{action 'manage'}}>{{t 'general.instructorsManageTitle'}}</button>
    {{/if}}
  </div>
</div>
<div class='detail-instructors-content'>
  {{#if isManaging class="horizontal"}}
    {{instructor-selection-manager
      addInstructor='addInstructorToBuffer'
      addInstructorGroup='addInstructorGroupToBuffer'
      removeInstructor='removeInstructorFromBuffer'
      removeInstructorGroup='removeInstructorGroupFromBuffer'
      availableInstructorGroups=(await availableInstructorGroups)
      instructorGroups=instructorGroupBuffer
      instructors=instructorBuffer
    }}
  {{else}}
    {{detail-instructors-list
      instructorGroups=ilmSession.instructorGroups
      instructors=ilmSession.instructors
    }}
  {{/if}}
</div>
