<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.objectives'}} ({{subject.objectives.length}})
    {{#if isManagingParents}}
      <span class='detail-specific-title'>
        {{t 'courses.objectiveParentTitle'}}
      </span>
    {{/if}}
    {{#if isManagingDescriptors}}
      <span class='detail-specific-title'>
        {{t 'courses.objectiveDescriptorTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button class='add'>{{t 'general.addNew'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#liquid-unless isManaging class="horizontal"}}
      {{#if isCourse}}
        {{course-objective-list
          course=subject
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
      {{#if isSession}}
        {{session-objective-list
          session=subject
          manageParents="manageParents"
          manageDescriptors="manageDescriptors"
        }}
      {{/if}}
    {{else}}
      {{#if isManagingParents}}
        {{#if isCourse}}
          {{course-objective-manager
            courseObjective=mangeParentsObjective
          }}
        {{/if}}
        {{#if isSession}}
          {{session-objective-manager
            sessionObjective=mangeParentsObjective
          }}
        {{/if}}
      {{/if}}
      {{#if isManagingDescriptors}}
        {{objective-manage-descriptors objective=manageDescriptorsObjective}}
      {{/if}}
    {{/liquid-unless}}
  </div>
</section>
