<section class='detail-block'>
  <div class='detail-title'>
    {{t 'courses.cohorts'}} ({{cohorts.length}})
  </div>

  <div class='detail-actions'>
    <button {{action 'showAvailableCohorts'}} class='add'>{{t 'general.addNew'}}</button>
  </div>
  <div class='detail-content'>
    {{#if isAvailalbeCohortsShowing}}
      <div class='selectable-list'>
        <h5>{{t 'courses.availableCohorts'}}</h5>
        <ul>
          {{#each program in filteredPrograms}}
            <li class='static'>{{program.title}}
              <ul>
                {{#each cohort in program.availableCohorts}}
                  <li {{action 'add' cohort}}>{{cohort.displayTitle}}</li>

                {{else}}
                  <li class='static'>{{t 'courses.noAvailableCohorts'}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    <table>
      <thead>
        <tr>
          <th class='text-center'>{{t 'general.program'}}</th>
          <th class='text-center'>{{t 'general.cohort'}}</th>
          <th class='text-center'>{{t 'general.level'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each cohort in cohorts}}
        <tr>
          <td class='text-left'>{{cohort.programYear.program.title}}</td>
          <td class='text-center'>{{cohort.displayTitle}}</td>
          <td class='text-center'>{{cohort.currentLevel}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
