<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.mesh'}} ({{terms.length}})
  </div>
  <div class='detail-content-wide'>
    <ul class='removable-list'>
      {{#each term in terms}}
        <li {{action 'remove' term}}>{{term.title}} {{fa-icon 'remove'}}</li>
      {{/each}}
    </ul>
    {{search-box placeholder=placeholder liveSearch=false search='search'}}
    {{#if filteredSearchResults.length}}
      <div class='selectable-list'>
        <ul>
          {{#each term in filteredSearchResults}}
            <li {{action 'add' term}}>{{term.title}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</section>
