<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.topics'}} ({{topics.length}})
  </div>
  <div class='detail-content'>
    <ul class='removable-list'>
      {{#each topic in sortedTopics}}
      <li {{action 'remove' topic}}>{{topic.title}} {{fa-icon 'remove'}}</li>
      {{/each}}
    </ul>
    {{search-box value=filter placeholder=placeholder}}
    <div class='selectable-list'>
      <ul>
        {{#each topic in filteredAvailableTopics}}
          <li {{action 'add' topic}}>{{topic.title}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
