<div class="detail-stewards-header">
  {{#if isManaging}}
    <div class="title">
      <span class="detail-specific-title">{{t "general.stewardingSchoolsAndDepartments"}}</span>
    </div>
  {{else}}
    <div class="title {{if showCollapsible "clickable collapsible"}}" {{action "collapse"}}>
      {{t "general.stewardingSchoolsAndDepartments"}} ({{programYear.stewards.length}})
    </div>
  {{/if}}
  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" onclick={{perform save}}>
        {{fa-icon (if save.isRunning "spinner" "check") spin=save.isRunning}}
      </button>
      <button class="bigcancel" {{action "cancel"}}>{{fa-icon "undo"}}</button>
    {{else if editable}}
      <button class="manage" onclick={{perform manage}}>
        {{t "general.stewardsManageTitle"}}
        {{#if manage.isRunning}}
          {{loading-spinner}}
        {{/if}}
      </button>
    {{/if}}
  </div>
</div>
<div class="detail-stewards-content">
  {{#if isManaging}}
    {{detail-steward-manager
      stewards=bufferStewards
      isSaving=save.isRunning
      add=(action "addStewardToBuffer")
      remove=(action "removeStewardFromBuffer")
    }}
  {{else}}
    <ul class="static-list">
      {{#if (is-fulfilled stewardsBySchool)}}
        {{#each (sort-by "schoolTitle" (await stewardsBySchool)) as |obj|}}
          <li>
            {{obj.schoolTitle}}
            {{#if obj.departments.length}}
              <ul>
                {{#each (sort-by "departmentTitle" obj.departments) as |depObject|}}
                  <li>{{depObject.departmentTitle}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{else}}
          <li>{{t "general.none"}}</li>
        {{/each}}
      {{else}}
        {{loading-spinner tagName="div" class="loading"}}
      {{/if}}
    </ul>
  {{/if}}
</div>
