<section class='detail-block'>
  <div class='detail-title'>
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'courses.topicsManageTitle'}}
      </span>
    {{else}}
      {{t 'general.topics'}} ({{subject.topics.length}})
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if isManaging}}
        <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
        <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action 'manage'}}>{{t 'courses.topicsManageTitle'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if isManaging class="horizontal"}}
        {{detail-topic-manager
          availableTopics=availableTopics
          subject=subject
        }}
    {{else}}
      {{detail-topic-list
        topics=subject.topics
      }}
    {{/liquid-if}}
  </div>
</section>
