<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.mesh'}} ({{terms.length}})
  </div>
  <div class='detail-content'>
    <ul class='removable-list'>
      {{#each term in terms}}
        <li {{action 'removeMeshDescriptor' term}}>{{term.title}} {{fa-icon 'remove'}}</li>
      {{/each}}
    </ul>
  </div>
</section>
