<div class="detail-learnergroups-header">
  <div class="title {{if collapsible "collapsible clickable"}}" onclick={{if collapsible (action collapse)}}>
    {{t "general.learnerGroups"}} ({{subject.learnerGroups.length}})
  </div>

  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" onclick={{perform save}}>{{fa-icon (if save.isRunning "spinner" "check") spin=save.isRunning}}</button>
      <button class="bigcancel" {{action "cancel"}}>{{fa-icon "undo"}}</button>
    {{else if editable}}
      <button {{action setIsManaging true}}>{{t "general.learnerGroupsManageTitle"}}</button>
    {{/if}}
  </div>
</div>
<div class="detail-learnergroups-content">
  {{#if isManaging}}
    {{#liquid-if loadLearnerGroups.isRunning}}
      {{loading-spinner}}
    {{else}}
      {{learnergroup-selection-manager
        learnerGroups=learnerGroups
        cohorts=cohorts
        add=(action "addLearnerGroup")
        remove=(action "removeLearnerGroup")
      }}
    {{/liquid-if}}
  {{else}}
    {{detail-learnergroups-list
      learnerGroups=(await subject.learnerGroups)
      remove=(action "removeLearnerGroup")
    }}
  {{/if}}
</div>
