<section class='detail-block'>
  <div class='detail-title'>
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'courses.cohortsManageTitle'}}
      </span>
    {{else}}
      {{t 'courses.cohorts'}} ({{cohorts.length}})
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>
        {{fa-icon (if isSaving 'spinner' 'check') spin=(if isSaving true false)}}
      </button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action 'manage'}}>{{t 'courses.cohortsManageTitle'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#if isManaging}}
      <ul class='removable-list'>
        {{#each cohorts as |cohort|}}
          <li {{action 'remove' cohort}}>
            {{cohort.programYear.program.school.title}} | 
            {{cohort.programYear.program.title}} |
            {{cohort.title}} | {{fa-icon 'remove'}}
          </li>
        {{/each}}
      </ul>
      <div class='selectable-list'>
        <h5>{{t 'courses.availableCohorts'}}</h5>
        <ul>
          {{#each filteredPrograms as |program|}}
            <li class='static'>{{program.school.title}} | {{program.title}}
              <ul>
                {{#each program.availableCohorts as |cohort|}}
                  <li {{action 'add' cohort}}> 
                    {{cohort.displayTitle}}
                  </li>

                {{else}}
                  <li class='static'>{{t 'courses.noAvailableCohorts'}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    {{else}}
      {{#if cohorts.length}}
        <table>
          <thead>
            <tr>
              <th class='text-left'>{{t 'general.school'}}</th>
              <th class='text-left'>{{t 'general.program'}}</th>
              <th class='text-center'>{{t 'general.cohort'}}</th>
              <th class='text-center'>{{t 'general.level'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each cohorts as |cohort|}}
            <tr>
              <td class='text-left'>{{cohort.programYear.program.school.title}}</td>
              <td class='text-left'>{{cohort.programYear.program.title}}</td>
              <td class='text-center'>{{cohort.displayTitle}}</td>
              <td class='text-center'>{{cohort.currentLevel}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{t 'courses.noCohorts'}}
      {{/if}}
    {{/if}}
  </div>
</section>
