<div class='detail-taxonomies-header'>
  {{#if isManaging}}
    <div class='title'>
      <span class='detail-specific-title'>{{t 'general.termsManageTitle'}}</span>
    </div>
  {{else}}
    <div class='title {{if showCollapsible "clickable collapsible"}}' {{action 'collapse'}}>
      {{t 'general.terms'}} ({{subject.terms.length}})
    </div>
  {{/if}}
  <div class='actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>
        {{fa-icon (if isSaving 'spinner' 'check') spin=(if isSaving true false)}}
      </button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else if editable}}
      <button {{action 'manage'}}>{{t 'general.termsManageTitle'}}</button>
    {{/if}}
  </div>
</div>
<div class='content'>
  {{#if isManaging}}
    {{taxonomy-manager
    subject=subject
    selectedTerms=bufferedTerms
    add='addTermToBuffer'
    remove='removeTermFromBuffer'}}
  {{else}}
    {{#each (await subject.associatedVocabularies) as |vocab| }}
      {{#if vocab.termCount}}
        {{detail-terms-list vocabulary=vocab terms=(await subject.terms) canEdit=false}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>
