<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.stewardingSchoolsAndDepartments'}} ({{programYear.stewards.length}})
    {{#if isManaging}}
      <span class='detail-specific-title'>
        {{t 'general.stewardsManageTitle'}}
      </span>
    {{/if}}
  </div>

  <div class='detail-actions'>
    {{#if editable}}
      {{#if isManaging}}
          <button class='bigadd' {{action 'save'}}>{{fa-icon 'check'}}</button>
          <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
      {{else}}
        <button {{action 'manage'}}>{{t 'general.stewardsManageTitle'}}</button>
      {{/if}}
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if isManaging class="horizontal"}}
        {{detail-steward-manager
          stewards=bufferStewards
          add='addStewardToBuffer'
          remove='removeStewardFromBuffer'
        }}
    {{else}}
      <ul class='static-list'>
        {{#each stewardsBySchool as |schoolProxy|}}
          <li>{{schoolProxy.title}}
            {{#if schoolProxy.stewardingDepartments.length}}
              <ul>
                {{#each schoolProxy.stewardingDepartments as |department|}}
                  <li>{{department.title}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/liquid-if}}
  </div>
</section>
