<span class='content'>
  {{#unless isEditing}}
    <span {{action 'edit'}} class='editable'>{{selected}}</span>
  {{else}}
    <span class='editor'>
      <span class='control'>
        {{view "select" content=options value=selected}}
      </span>
      <span class='actions'>
        <button class='save' {{action 'save'}}>{{fa-icon 'check' classNames='add'}}</button>
        <button class='cancel' {{action 'cancel'}}>{{fa-icon 'undo' classNames='remove'}}</button>
      </span>
    </span>
  {{/unless}}
</span>
