<span class="content">
  {{#unless isEditing}}
    <span onclick={{perform edit}} class="editable">
      {{#if value}}
        {{#if looksEmpty}}
          {{fa-icon "edit"}}
        {{else}}
          {{big-text text=value renderHtml=renderHtml}}
        {{/if}}
      {{else}}
        {{clickPrompt}}
      {{/if}}
    </span>
  {{else}}
    <span class="editor">
      {{yield saveData.isRunning (perform saveData) (perform closeEditor)}}
      <span class="actions">
        <button disabled={{isSaveDisabled}} class="done" title="{{t "general.save"}}" {{action (perform saveData)}}>
          {{fa-icon (if saveData.isRunning "spinner" "check") spin=saveData.isRunning}}
        </button>
        <button class="cancel" title="{{t "general.cancel"}}" {{action (perform closeEditor)}}>{{fa-icon "times"}}</button>
      </span>
    </span>
  {{/unless}}
</span>
