<span class='content'>
  {{#unless isEditing}}
    <span {{action 'edit'}} class='editable'>{{shortText}}</span>
  {{else}}
    <span class='editor'>
      <span class='control'>
        {{textarea type='text' value=buffer action='save'}}
      </span>
      <span class='actions'>
        <button {{action 'save'}}>{{fa-icon 'check' classNames='add'}}</button>
        <button {{action 'cancel'}}>{{fa-icon 'remove' classNames='remove'}}</button>
      </span>
    </span>
  {{/unless}}
</span>
