<span class='content'>
  {{#unless isEditing}}
    <span class='editable'>
      {{big-text text=displayText action='edit'}}
    </span>
  {{else}}
    <span class='editor'>
      <span class='control'>
        {{textarea type='text' value=buffer action='save'}}
      </span>
      <span class='actions'>
        <button class='save' {{action 'save'}}>{{fa-icon 'check' classNames='add'}}</button>
        <button class='cancel' {{action 'cancel'}}>{{fa-icon 'undo' classNames='remove'}}</button>
      </span>
    </span>
  {{/unless}}
</span>
