<div class="expander {{if isExpanded 'is-expanded'}}">
  <div {{action 'toggleVisibility'}} class="expander-toggle {{if isExpanded 'is-expanded'}}">
    <a href="javascript:void(0)" >{{title}}</a>
    <div class='tools'>
      {{#if isSaveable}}
        <button class='save' {{action 'save'}}>{{t 'general.save'}}</button>
      {{/if}}
      {{#if isRemoveable}}
        <button class='remove' {{action 'remove'}}>{{t 'general.remove'}}</button>
      {{/if}}
    </div>
  </div>
  <div class="expander-content {{unless isExpanded 'hidden'}}">
      {{yield}}
  </div>
</div>
