<div class="global-search-box" data-test-global-search-box>
  <input
    class="global-search-input"
    data-test-input
    type="search"
    value={{this.query}}
    oninput={{action (queue
      (action (mut this.query) value="target.value")
      (perform this.autocomplete))}}>

  <span
    class="search-icon"
    data-test-search-icon
    onclick={{pipe-action (action "focus") (action "search")}}>
    {{fa-icon "search" class="clickable"}}
  </span>

  {{#if (and this.showResults this.hasResults)}}
    {{#click-outside action=(action (mut this.showResults) false)}}
      <ul
        class="autocomplete"
        data-test-autocomplete>
        {{#each this.results as |result|}}
          <li
            class="autocomplete-row"
            onclick={{pipe-action
              (action (mut this.query) result.text)
              (action "search")}}
            onfocus={{action (mut this.query) result.text}}
            onmouseover={{action "addActiveClass"}}>
            {{fa-icon "search"}}
            <span class="result-text">{{result.text}}</span>
          </li>
        {{/each}}
      </ul>
    {{/click-outside}}
  {{/if}}
</div>
