<div class="global-search" data-test-global-search>
  <GlobalSearchBox @initialQuery={{@query}} @search={{@onQuery}} />

  <hr>

  <ul class="results {{unless (or this.isLoading this.hasResults) "hidden"}}">
    {{#if this.isLoading}}
      <li class="searching">
        {{fa-icon "spinner" class="orange" spin=true}}
        {{t "general.currentlySearchingPrompt"}}
      </li>
    {{else}}
      {{#each this.results as |result|}}
        <li class="results-row">
          <a class="results-row-link">{{result.link}}</a>
          <span class="results-row-dsc">{{result.description}}</span>
        </li>
      {{else}}
        <li class="no-results">{{t "general.noSearchResultsPrompt"}}</li>
      {{/each}}
    {{/if}}
  </ul>
</div>
