<div class="global-search">
  <input
    type="search"
    value={{searchValue}}
    oninput={{action (mut searchValue) value="target.value"}}
    incremental="true"
    onsearch={{perform search}}
    onkeyup={{perform search}}
    class={{if
            (or search.isRunning search.lastSuccessful.value.length)
            "has-results"
          }}
  >
  <ul
    class="results {{unless
                     (or search.isRunning search.lastSuccessful.value.length)
                     "hidden"
                   }}"
  >
    {{#if search.isRunning}}
      <li>{{t "general.currentlySearchingPrompt"}}</li>
    {{else}}
      {{#each search.lastSuccessful.value as |result|}}
        {{#if (eq result.type "text")}}
          <li>{{result.text}}</li>
        {{/if}}
        {{#if (eq result.type "summary")}}
          <li class="summary">{{result.text}}</li>
        {{/if}}
        {{#if (eq result.type "user")}}
          <li class="user clickable" {{action (perform clickUser) result.user}}>
            <span class="name">
              {{result.user.fullName}}
              {{#unless result.user.enabled}}
                {{fa-icon "user-times" title=(t "general.disabled") class="error"}}
              {{/unless}}
            </span>
            <span class="email">{{result.user.email}}</span>
          </li>
        {{/if}}

      {{/each}}
    {{/if}}
  </ul>
</div>
