<div class="global-search" data-test-global-search>
  <GlobalSearchBox @initialQuery={{@query}} @search={{@onQuery}} />

  <hr>

  <ul class="results {{unless (or this.isLoading this.hasResults) "hidden"}}">
    {{#if this.isLoading}}
      <li class="searching">
        {{fa-icon "spinner" class="orange" spin=true}}
        {{t "general.currentlySearchingPrompt"}}
      </li>
    {{else}}
      {{#each this.results as |course|}}
        <li class="results-row">
          {{#link-to "course" course.id}}{{course.title}}{{/link-to}}
          <ul>
            {{#each course.sessions as |session|}}
              <li>
                {{#link-to "session" course.id session.id}}{{session.title}}{{/link-to}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{else}}
        <li class="no-results">{{t "general.noSearchResultsPrompt"}}</li>
      {{/each}}
    {{/if}}
  </ul>
</div>
