{{#if @tags}}
  <div class="global-search-tags">
    {{#each @tags as |tag|}}
      <span class="global-search-tag">
        {{#if (eq tag "id")}}
          {{t "general.id"}}
        {{else if (eq tag "meshdescriptors")}}
          {{t "general.mesh"}}
        {{else if (eq tag "learningmaterials")}}
          {{t "general.learningMaterials"}}
        {{else}}
          {{t (concat "general." tag)}}
        {{/if}}
      </span>
    {{/each}}
  </div>
{{/if}}
