<input
  type="search"
  placeholder={{t 'general.globalSearchPlaceholder'}}
  incremental=true
  onsearch={{action "inputValueChanged"}}
  onkeyup={{action "inputValueChanged"}}
  results=5
  autosave='ilios-global-search'
/>

<ul class="results {{unless showList 'hidden'}}" {{action 'clear'}}>
  {{#if searching}}
    <li>{{t 'general.currentlySearchingPrompt'}}</li>
  {{else if showMoreInputPrompt}}
      <li>{{t 'general.moreInputRequiredPrompt'}}</li>
  {{else if showNoResultsMessage}}
      <li>{{t 'general.noSearchResultsPrompt'}}</li>
  {{else}}
    {{#each results as |proxy|}}
      {{#if proxy.isUser}}
        <li>
          {{#link-to 'user' proxy}}
            <div class='livesearch-user-name'>{{proxy.displayName}}</div>
            <div class='livesearch-user-email'>{{proxy.email}}</div>
          {{/link-to}}
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ul>
