<input
  type="search"
  placeholder={{t 'general.globalSearchPlaceholder'}}
  incremental=true
  onsearch={{action 'changeValue' value="target.value"}}
  onkeyup={{action 'changeValue' value="target.value"}}
  results=5
  autosave='ilios-global-search'
/>

<ul class="results" {{action 'clear'}}>
  {{#if revisedQuery}}
    {{#if showMoreInputPrompt}}
      <li>{{t 'general.moreInputRequiredPrompt'}}</li>
    {{else}}
      {{#if searchResults.isPending}}
        <li>{{t 'general.currentlySearchingPrompt'}}</li>
      {{else}}
        {{#if searchResults.content}}
          <li class='results-count'>{{searchResults.content.length}} {{t 'general.results'}}</li>
          {{#each searchResults.content as |proxy|}}
            <li>
              {{#link-to 'user' proxy}}
                <div class='livesearch-user-name'>
                  {{#unless proxy.enabled}}
                    {{fa-icon 'user-times' title=(t 'general.disabled') class='error'}}
                  {{/unless}}
                  {{proxy.fullName}}
                </div>
                <div class='livesearch-user-email'>{{proxy.email}}</div>
              {{/link-to}}
            </li>
          {{/each}}
        {{else}}
          <li>{{t 'general.noSearchResultsPrompt'}}</li>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</ul>
