<div class="back-to-courses-list">
  {{#link-to 'courses'}}{{t 'general.backToCourses'}}{{/link-to}}
</div>
{{course-header course=course}}
{{course-overview course=course}}
{{#if (not showDetails)}}
  <div {{action setShowDetails true}} class='detail-collapsed-control'><span>{{t 'general.expandDetail'}}{{fa-icon 'plus-square'}}</span></div>
{{else}}
  {{course-editing
    course=course
    courseObjectiveDetails=courseObjectiveDetails
    courseTaxonomyDetails = courseTaxonomyDetails
    courseCompetencyDetails = courseCompetencyDetails
    setCourseObjectiveDetails=(action setCourseObjectiveDetails)
    setCourseTaxonomyDetails=(action setCourseTaxonomyDetails)
    setCourseCompetencyDetails=(action setCourseCompetencyDetails)
  }}
  <div {{action 'collapse'}} class='detail-collapsed-control'><span class='is-expanded'>{{t 'general.collapseDetail'}}{{fa-icon 'minus-square'}}</span></div>
{{/if}}
