<header class="main">
  {{#link-to "dashboard" classNames='logo'}}
    <span class='image' />
    <span class='visually-hidden'>
      {{t 'navigation.dashboard'}}
    </span>
  {{/link-to}}
  <div class="tools">
    {{#if session.isAuthenticated}}
      <div class='user'>
        {{#action-menu title=userName icon='user' classNameBindings=':user-menu'}}
          {{#link-to 'logout'}}
            <li>{{t "auth.logout"}}</li>
          {{/link-to}}
          {{#each locales as |loc|}}
            <li {{action 'changeLocale' loc.id}}>{{loc.text}}</li>
          {{/each}}
        {{/action-menu}}
      </div>
    {{/if}}
  </div>
  <h1>{{title}}</h1>
</header>
