<div class='members'>
  {{#expander-box title=title}}
    {{#if users.length}}
      {{input type='text' value=userFilter placeholderTranslation='groupMembers.filterPlaceholder'}}
      <table>
        <thead>
          <tr>
            <th class='text-center'>{{t 'general.users'}}</th>
            <th class='text-center'>{{t 'general.email'}}</th>
            <th class='text-center'>{{t 'general.actions'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredUsers as |user|}}
            <tr>
              <td class='text-center'>{{user.fullName}}</td>
              <td class='text-center'>{{user.email}}</td>
              <td class='text-center'><button {{action 'remove' user}}>{{t 'general.remove'}}</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    <section class='search'>
      <div class="search-bar">
        <div class="search-and-submit">
          {{input enter="search" type="search" value=searchTerms placeholderTranslation="groupMembers.search"}}
          <button class='search' {{translateAttr title="groupMembers.search"}} {{action 'search'}} type="submit">
            {{fa-icon 'search'}}
          </button>
        </div>
      </div>
      {{#if showResults}}
        <ul class='search-results'>
          {{#each searchResults as |result|}}
            {{#selectable-search-result item=result selectedItems=users action='add'}}
              {{result.fullName}} {{result.email}}
            {{/selectable-search-result}}
          {{else}}
            <li>{{t 'groupMembers.noSearchResults'}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </section>
  {{/expander-box}}
</div>
