{{#expander-box
  title=group.title
  forceOpen=group.isNew
  isSaveable=isDirty
  isRemoveable=true
  save='save'
  remove='remove'
}}
  <section {{bind-attr class=":learnergroup isDirty"}}>
    <div class='title'>
      <label>{{t "general.title"}}
        {{input value=bufferedTitle}}
      </label>
    </div>
    {{ilios-groupmembers
     titleTranslation='learnerGroups.learners'
      users=group.users
      remove='removeLearner'
      add='addLearner'
      search='searchUsers'
      searchResults=userSearchResults
    }}

    {{ilios-relatedcourses
      courses=resolvedCourses
    }}

    <div class='subgroups'>
      {{#expander-box titleTranslation='learnerGroups.subGroups'}}
        {{#each group.children as |child|}}
          {{ilios-learnergroup group=child}}
        {{/each}}
        <section>
          <button class='create' {{action 'createNewChildGroup'}}>{{t 'learnerGroups.new'}}</button>
        </section>
      {{/expander-box}}
    </div>
  </section>
{{/expander-box}}
