<section id='sessions' class='detail-block filter-detail-block'>
  <div class='sessions detail-title'>
    {{t 'general.sessions'}} ({{sessionsCount}})
  </div>
  {{#if filteredContent.isFulfilled}}
    <div class="filter-tools">
      <div id='titlefilter' class="filter">
        {{input type='text' value=filter placeholder=placeholderValue}}
      </div>
    </div>
    <div class='detail-actions'>
      <div class='resultslist-actions'>
        {{#if editable}}
          {{expand-collapse-button value=editorOn action="toggleEditor"}}
        {{/if}}
      </div>

      {{#if (and sessions.length editable)}}
        {{#link-to 'course.publishall' course}}
          <button>{{t 'publish.all' sessionCount=sessionsCount}}</button>
        {{/link-to}}
      {{/if}}
    </div>

    <section class='resultslist'>
      {{#liquid-if isSaving}}
        <h1 class='text-center'>{{fa-icon 'spinner' spin=true}}</h1>
      {{/liquid-if}}

      {{#liquid-if editorOn class='vertical'}}
        {{new-session
          sessionTypes=course.school.sessionTypes
          save='save'
          cancel='cancel'
        }}
      {{/liquid-if}}

      {{#liquid-if saved}}
        <div class='saved-result'>
          {{#link-to 'session.index' course savedSession}}
            {{fa-icon 'external-link-square'}} {{savedSession.title}}
          {{/link-to}}
          {{t 'general.savedSuccessfully'}}
        </div>
      {{/liquid-if}}
      {{pagedlist-controls
        offset=offset
        limit=limit
        total=sessionsCount
        setOffset='setOffset'
        setLimit='setLimit'
      }}
      <div class='resultslist-list'>
        <table class='active-background'>
          <thead>
            <tr>
              {{#sortable-th
                colspan=3
                click=(action 'sortBy' 'title')
                sortedBy=(is-equal sortItem 'title')
                sortedAscending=sortAscending
              }}{{t 'general.title'}}{{/sortable-th}}
              {{#sortable-th
                click=(action 'sortBy' 'sessionType')
                sortedBy=(is-equal sortItem 'sessionType')
                sortedAscending=sortAscending
              }}{{t 'general.type'}}{{/sortable-th}}
              {{#sortable-th
                click=(action 'sortBy' 'learnerGroupCount')
                sortedBy=(is-equal sortItem 'learnerGroupCount')
                align='center'
                sortType='numeric'
                sortedAscending=sortAscending
              }}{{t 'general.groups'}}{{/sortable-th}}
              {{#sortable-th
                colspan=2
                click=(action 'sortBy' 'firstOfferingDate')
                sortedBy=(is-equal sortItem 'firstOfferingDate')
                sortedAscending=sortAscending
                sortType='numeric'
              }}{{t 'courses.firstOffering'}}{{/sortable-th}}
              {{#sortable-th
                align='center'
                click=(action 'sortBy' 'offerings')
                sortedBy=(is-equal sortItem 'offerings')
                sortedAscending=sortAscending
                sortType='numeric'
              }}{{t 'general.offerings'}}{{/sortable-th}}
              <th class='text-center' >{{t 'general.status'}}</th>
              <th class='text-center' >{{t 'general.actions'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each displayedSessions as |sessionProxy|}}
              <tr class="{{if sessionProxy.showRemoveConfirmation 'confirm-removal'}}">
                <td class='text-left' colspan=3>
                  {{#link-to 'session.index' course sessionProxy.content}}
                    {{fa-icon 'external-link-square'}} {{sessionProxy.title}}
                  {{/link-to}}
                </td>
                <td class='text-left'>
                  {{#liquid-if sessionProxy.sessionType.isFulfilled class='crossFade'}}
                    {{sessionProxy.sessionType.title}}
                  {{else}}
                    {{fa-icon 'spinner' spin=true}}
                  {{/liquid-if}}
                </td>
                <td class='text-center'>{{sessionProxy.learnerGroupCount}}</td>
                <td class='text-left' colspan=2>
                  {{#liquid-if sessionProxy.firstOfferingDate.isFulfilled class='crossFade'}}
                    {{#if sessionProxy.firstOfferingDate}}
                      {{#if sessionProxy.ilmSession}}
                        <strong>ILM: {{t 'sessions.dueBy'}}</strong> {{moment-format sessionProxy.firstOfferingDate.content 'MM/DD/YYYY'}}
                      {{else}}
                        {{moment-format sessionProxy.firstOfferingDate.content 'MM/DD/YYYY h:mma'}}
                      {{/if}}
                    {{/if}}
                  {{else}}
                    {{fa-icon 'spinner' spin=true}}
                  {{/liquid-if}}
                </td>
                <td class='text-center clickable editable' {{action 'toggleExpandedOffering' sessionProxy}}>
                  {{sessionProxy.offerings.length}}
                  {{#if sessionProxy.expandOfferings}}
                    {{fa-icon 'caret-down'}}
                  {{else}}
                    {{fa-icon 'eye'}}
                  {{/if}}
                </td>
                <td class='text-center'>{{publication-status item=sessionProxy.content showIcon=false}}</td>
                <td class='text-center'>
                  {{#link-to 'session.index' course sessionProxy.content class='edit'}}
                    {{fa-icon 'edit'}}
                  {{/link-to}}
                  {{#if (and sessionProxy.userCanDelete editable)}}
                    <span class='clickable remove' {{action 'confirmRemoval' sessionProxy}}>{{fa-icon 'trash'}}</span>
                  {{/if}}
                </td>
              </tr>
              {{#if sessionProxy.showRemoveConfirmation}}
                <tr class='confirm-removal'><td colspan=10>
                  <div class='confirm-message'>
                    {{t 'courses.confirmSessionRemoval'}}<br />
                    <div class="confirm-buttons">
                      <button {{action 'remove' sessionProxy}} class='remove text'>{{t 'general.yes'}}</button>
                      <button {{action 'cancelRemove' sessionProxy}} class='done text'>{{t 'general.cancel'}}</button>
                    </div>
                  </div>
                </td></tr>
              {{/if}}
              {{#if sessionProxy.expandOfferings}}
                <tr class='donthover'>
                  <td colspan=10 class='text-right' {{action 'toggleExpandedOffering' sessionProxy}}>
                    {{t 'general.close'}}
                    {{fa-icon 'times'}}
                  </td>
                </tr>
                <tr>
                  <td colspan=10>
                    {{#if sessionProxy.offerings.length}}
                      {{session-offerings-list session=sessionProxy.content editable=false}}
                    {{else}}
                      <p>{{t 'sessions.noOfferings'}}</p>
                    {{/if}}
                    </td>
                  </tr>
                {{/if}}
              {{else}}
                <tr><td colspan=10>{{t 'courses.noSessions'}}</td></tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    {{pagedlist-controls
      offset=offset
      limit=limit
      total=sessionsCount
      setOffset='setOffset'
      setLimit='setLimit'
    }}
  {{else}}
    <br /><h1>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}
</section>
