<td>{{#link-to 'course' course}}{{course.title}} ({{course.externalId}}){{/link-to}}</td>
<td>{{course.owningSchool.title}}</td>
<td>{{course.year}}</td>
<td>{{course.level}}</td>
<td>{{moment course.startDate 'MM/DD/YY'}}</td>
<td>{{moment course.endDate 'MM/DD/YY'}}</td>
<td>{{status}}</td>
<td>
  {{#action-menu}}
    <li>{{#link-to 'course' course}}View{{/link-to}}</li>
    <li>{{#link-to 'course' course}}Publish{{/link-to}}</li>
    <li>{{#link-to 'course' course}}Archive{{/link-to}}</li>
    <li>{{#link-to 'course' course}}Rollover{{/link-to}}</li>
  {{/action-menu}}
</td>
