<section id='sessions' class='detail-block filter-detail-block'>
  <div class='sessions detail-title'>
    {{t 'general.sessions'}} ({{sessions.length}})
  </div>
  <div class="filter-tools">
    <div id='titlefilter' class="filter">
      {{input type='text' value=filter placeholder=placeholderValue}}
    </div>
  </div>
  <div class='detail-actions'>
    <button {{action 'addNewSession'}}>{{t 'general.addNew'}}</button>
  </div>
  <section class='resultslist'>
    {{#if newSessions.length}}
      <section class='resultslist-new'>
        {{#each sessionProxy in newSessions}}
          {{#liquid-unless sessionProxy.isSaved class='horizontal'}}
            {{new-session
              session=sessionProxy.content
              sessionTypes=sessionTypes
              save='saveNewSession'
              cancel='removeNewSession'
            }}
          {{else}}
            <div class='savedsession saved-result'>
              {{#link-to 'session.index' course sessionProxy.content}}
                {{fa-icon 'external-link-square'}} {{sessionProxy.title}}
              {{/link-to}}
              {{t 'general.savedSuccessfully'}}
            </div>
          {{/liquid-unless}}
        {{/each}}
      </section>
    {{/if}}
    <div class='resultslist-list'>
      <table class='active-background'>
        <thead>
          <tr>
            <th class='text-left' colspan=2>{{t 'general.title'}}</th>
            <th class='text-left' >{{t 'general.type'}}</th>
            <th class='text-center' >{{t 'general.groups'}}</th>
            <th class='text-center' >{{t 'courses.firstOffering'}}</th>
            <th class='text-center' >{{t 'general.offerings'}}</th>
            <th class='text-center' >{{t 'general.status'}}</th>
            <th class='text-center' >{{t 'general.actions'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each session in filteredContent}}
            <tr>
              <td class='text-left' colspan=2>
                {{#link-to 'session.index' course session}}
                  {{fa-icon 'external-link-square'}} {{session.title}}
                {{/link-to}}
              </td>
              <td class='text-left'>{{session.sessionType.title}}</td>
              <td class='text-center'>{{session.learnerGroupCount}}</td>
              <td class='text-center'>
                {{#if session.firstOfferingDate.content}}
                  {{moment session.firstOfferingDate.content 'MM/DD/YYYY h:mma'}}
                {{/if}}
              </td>
              <td class='text-center clickable editable' {{action 'toggleExpandedOffering' session}}>
                {{session.offerings.length}}
                {{#if session.expandOfferings}}
                  {{fa-icon 'caret-down'}}
                {{else}}
                  {{fa-icon 'eye'}}
                {{/if}}
              </td>
              <td class='text-center'>{{publication-status item=session showIcon=false}}</td>
              <td class='text-center'>
                {{#action-menu}}
                  <li {{action 'edit'}}>Edit</li>
                {{/action-menu}}
              </td>
            </tr>
            {{#if session.expandOfferings}}
              <tr class='donthover'>
                <td colspan=8 class='text-right' {{action 'toggleExpandedOffering' session}}>
                  {{t 'general.close'}}
                  {{fa-icon 'times'}}
                </td>
              </tr>
              <tr>
                <td colspan=8>
                  {{#if session.offerings.length}}
                    {{session-offerings-list session=session.content editable=false}}
                  {{else}}
                    <p>{{t 'sessions.noOfferings'}}</p>
                  {{/if}}

                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr><td colspan=8>{{t 'courses.noSessions'}}</td></tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </section>
</section>
