<div class="backtolink">{{#link-to 'courses'}}{{t 'courses.backToCourses'}}{{/link-to}}</div>

<div class='detail-view'>
    <div class='detail-view-main-title'>
        {{course-header course=course}}
    </div>
    <div class='detail-view-details'>
    {{#if collapsed}}
      {{course-overview course=course editabe=false}}
      <div {{action 'expand'}} class='detailCollapsedControl'><span>{{t 'courses.expandDetail'}}</span></div>
    {{else}}
      {{course-editing course=course availableTopics=availableTopics programs=programs}}
      <div {{action 'collapse'}} class='detailCollapsedControl'><span class='is-expanded'>{{t 'courses.collapseDetail'}}</span></div>
    {{/if}}
    {{ilios-sessions-list sessions=course.sessions}}
    </div>
</div>
