<section id='sessions' class='detail-block filter-detail-block'>
  <div class='sessions detail-title'>
    {{t 'general.sessions'}} ({{sessionsCount}})
  </div>
  {{#if (is-fulfilled proxiedSessions)}}
    <div class="filter-tools">
      <div id='titlefilter' class="filter">
        {{one-way-input
          value=filterBy
          update=(action 'cleanFilter')
          placeholder=(t 'general.sessionTitleFilterPlaceholder')
        }}
      </div>
    </div>
    <div class='detail-actions'>
      <div class='resultslist-actions'>
        {{#if editable}}
          {{expand-collapse-button value=editorOn action="toggleEditor"}}
        {{/if}}
      </div>

      {{#if (and sessions.length editable)}}
        {{#link-to 'course.publishall' course}}
          <button>{{t 'general.publishAllSessions' sessionCount=sessionsCount}}</button>
        {{/link-to}}
      {{/if}}
    </div>

    <section class='resultslist'>
      {{#liquid-if isSaving}}
        <h1 class='text-center'>{{fa-icon 'spinner' spin=true}}</h1>
      {{/liquid-if}}

      {{#liquid-if editorOn class='vertical'}}
        {{new-session
          sessionTypes=sessionTypes
          save=(action 'save')
          cancel=(action 'cancel')
        }}
      {{/liquid-if}}

      {{#liquid-if saved}}
        <div class='saved-result'>
          {{#link-to 'session.index' course savedSession}}
            {{fa-icon 'external-link-square'}} {{savedSession.title}}
          {{/link-to}}
          {{t 'general.savedSuccessfully'}}
        </div>
      {{/liquid-if}}
      {{pagedlist-controls
        offset=offset
        limit=limit
        total=sessionsCount
        setOffset=setOffset
        setLimit=setLimit
      }}
      <div class='resultslist-list'>
        <table class='active-background'>
          <thead>
            <tr>
              {{#sortable-th
                colspan=3
                click=(action 'sortBy' 'title')
                sortedBy=(or (eq sortBy 'title') (eq sortBy 'title:desc'))
                sortedAscending=sortedAscending
              }}
                {{t 'general.title'}}
              {{/sortable-th}}
              {{#sortable-th
                click=(action 'sortBy' 'sessionType')
                sortedBy=(or (eq sortBy 'sessionType') (eq sortBy 'sessionType:desc'))
                sortedAscending=sortedAscending
              }}
                {{t 'general.type'}}
              {{/sortable-th}}
              {{#sortable-th
                click=(action 'sortBy' 'learnerGroupCount')
                sortedBy=(or (eq sortBy 'learnerGroupCount') (eq sortBy 'learnerGroupCount:desc'))
                align='center'
                sortType='numeric'
                sortedAscending=sortedAscending
              }}
                {{t 'general.groups'}}
              {{/sortable-th}}
              {{#sortable-th
                colspan=2
                click=(action 'sortBy' 'firstOfferingDate')
                sortedBy=(or (eq sortBy 'firstOfferingDate') (eq sortBy 'firstOfferingDate:desc'))
                sortedAscending=sortedAscending
                sortType='numeric'
              }}
                {{t 'general.firstOffering'}}
              {{/sortable-th}}
              {{#sortable-th
                align='center'
                click=(action 'sortBy' 'offeringCount')
                sortedBy=(or (eq sortBy 'offeringCount') (eq sortBy 'offeringCount:desc'))
                sortedAscending=sortedAscending
                sortType='numeric'
              }}
                {{t 'general.offerings'}}
              {{/sortable-th}}
              <th class='text-center' >{{t 'general.status'}}</th>
              <th class='text-center' >{{t 'general.actions'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each (await displayedSessions) as |sessionProxy|}}
              <tr class="{{if sessionProxy.showRemoveConfirmation 'confirm-removal'}}">
                <td class='text-left' colspan=3>
                  {{#link-to 'session.index' course sessionProxy.content}}
                    {{fa-icon 'external-link-square'}} {{sessionProxy.title}}
                  {{/link-to}}
                </td>
                <td class='text-left'>
                  {{sessionProxy.sessionType}}
                </td>
                <td class='text-center'>{{sessionProxy.learnerGroupCount}}</td>
                <td class='text-left' colspan=2>
                  {{#if sessionProxy.firstOfferingDate}}
                    {{#if sessionProxy.ilmSession}}
                      <strong>{{t 'general.ilm'}}: {{t 'general.dueBy'}}</strong> {{moment-format sessionProxy.firstOfferingDate 'MM/DD/YYYY'}}
                    {{else}}
                      {{moment-format sessionProxy.firstOfferingDate 'MM/DD/YYYY h:mma'}}
                    {{/if}}
                  {{/if}}
                </td>
                <td class='text-center clickable editable' {{action 'toggleExpandedOffering' sessionProxy}}>
                  {{sessionProxy.offeringCount}}
                  {{#if sessionProxy.expandOfferings}}
                    {{fa-icon 'caret-down'}}
                  {{else}}
                    {{fa-icon 'eye'}}
                  {{/if}}
                </td>
                <td class='text-center'>{{publication-status item=sessionProxy.content showIcon=false}}</td>
                <td class='text-center'>
                  {{#link-to 'session.index' course sessionProxy.content class='edit'}}
                    {{fa-icon 'edit'}}
                  {{/link-to}}
                  {{#if (and (await sessionProxy.userCanDelete) editable)}}
                    <span class='clickable remove' {{action 'confirmRemoval' sessionProxy}}>{{fa-icon 'trash'}}</span>
                  {{/if}}
                </td>
              </tr>
              {{#if sessionProxy.showRemoveConfirmation}}
                <tr class='confirm-removal'>
                  <td colspan=10>
                    <div class='confirm-message'>
                      {{t 'general.confirmSessionRemoval'}}<br>
                      <div class="confirm-buttons">
                        <button {{action 'remove' sessionProxy}} class='remove text'>{{t 'general.yes'}}</button>
                        <button {{action 'cancelRemove' sessionProxy}} class='done text'>{{t 'general.cancel'}}</button>
                      </div>
                    </div>
                  </td>
                </tr>
              {{/if}}
              {{#if sessionProxy.expandOfferings}}
                <tr class='donthover'>
                  <td colspan=10 class='text-right' {{action 'toggleExpandedOffering' sessionProxy}}>
                    {{t 'general.close'}}
                    {{fa-icon 'times'}}
                  </td>
                </tr>
                <tr>
                  <td colspan=10>
                    {{#if sessionProxy.offerings.length}}
                      {{session-offerings-list session=sessionProxy.content editable=false}}
                    {{else}}
                      <p>{{t 'general.noOfferings'}}</p>
                    {{/if}}
                  </td>
                </tr>
              {{/if}}
            {{else}}
              <tr><td colspan=10>{{t 'general.noSessions'}}</td></tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    {{pagedlist-controls
      offset=offset
      limit=limit
      total=sessionsCount
      setOffset=setOffset
      setLimit=setLimit
    }}
  {{else}}
    <br><h1>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}
</section>
