{{#link-to 'courses'}}{{t 'courses.backToCourses'}}{{/link-to}}
<div class='detail-view'>
  {{#if collapsed}}
    {{course-header course=course}}
    {{course-overview course=course editableDirectors=false}}
    <div {{action 'expand'}} class='detailCollapsedControl'><span>{{t 'courses.expandDetail'}}</span></div>
  {{else}}
    {{course-editing course=course availableTopics=availableTopics}}
    <div {{action 'collapse'}} class='detailCollapsedControl'><span>{{t 'courses.collapseDetail'}}</span></div>
  {{/if}}

  {{ilios-sessions-list sessions=course.sessions}}
</div>
