{{#link-to "dashboard" classNames='logo'}}
  <span class='image'></span>
  <span class='visually-hidden'>
    {{t 'general.dashboard'}}
  </span>
{{/link-to}}
<div class="tools">
  <div class='locales'>
    {{#action-menu title=(t (concat 'general.language.' i18n.locale)) icon='globe'}}
      {{#each locales as |loc|}}
        <li {{action 'changeLocale' loc.id}}>{{loc.text}}</li>
      {{/each}}
    {{/action-menu}}
  </div>
  {{#if session.isAuthenticated}}
    <div class='user'>
      {{#action-menu title=(get (await currentUser.model) 'fullName') icon='user' class='right-edge'}}
        {{#link-to 'myprofile'}}<li>{{t 'general.myProfile'}}</li>{{/link-to}}
        {{#link-to 'mymaterials'}}<li>{{t 'general.myMaterials'}}</li>{{/link-to}}
        {{#link-to 'logout'}}<li>{{t 'general.logout'}}</li>{{/link-to}}
      {{/action-menu}}
    </div>
  {{/if}}
</div>
{{#if currentlyLoading}}
  {{pulse-loader}}
{{else}}
  <h1>{{title}}</h1>
{{/if}}
