{{#if (or currentUser.performsNonLearnerFunction)}}
  <ul
    class="expand-navigation link clickable"
    onclick={{action (toggle "expanded" this)}}
  >
    <li title={{t "general.menu"}}>{{fa-icon "bars"}}</li>
  </ul>
  <ul class="navigation-links" role="navigation">
    <li>{{#link-to "dashboard"}}{{fa-icon "home" fixedWidth=true title=(t "general.dashboard")}}<span class="text">{{t "general.dashboard"}}</span>{{/link-to}}</li>
    {{#if currentUser.performsNonLearnerFunction}}
      <li>{{#link-to "courses" title=(t "general.coursesAndSessions")}}{{fa-icon "book" fixedWidth=true}}<span class="text">{{t "general.coursesAndSessions"}}</span>{{/link-to}}</li>
      <li>{{#link-to "learnerGroups" title=(t "general.learnerGroups")}}{{fa-icon "graduation-cap" fixedWidth=true}}<span class="text">{{t "general.learnerGroups"}}</span>{{/link-to}}</li>
      <li>{{#link-to "instructorGroups" title=(t "general.instructorGroups")}}{{fa-icon "user-md" fixedWidth=true}}<span class="text">{{t "general.instructorGroups"}}</span>{{/link-to}}</li>
      <li>{{#link-to "schools" title=(t "general.schools")}}{{fa-icon "university" fixedWidth=true}}<span class="text">{{t "general.schools"}}</span>{{/link-to}}</li>
      <li>{{#link-to "programs" title=(t "general.programs")}}{{fa-icon "list-alt" fixedWidth=true}}<span class="text">{{t "general.programs"}}</span>{{/link-to}}</li>
    {{/if}}
    {{#if currentUser.canCreateOrUpdateUserInAnySchool}}
      <li>{{#link-to "admin-dashboard" title=(t "general.admin")}}{{fa-icon "cogs" fixedWidth=true}}<span class="text">{{t "general.admin"}}</span>{{/link-to}}</li>
    {{/if}}
    {{#if currentUser.performsNonLearnerFunction}}
      <li>
        {{#link-to
          "curriculumInventoryReports"
          title=(t "general.curriculumInventory")
        }}
          {{fa-icon "chart-bar" fixedWidth=true}}
          <span class="text">{{t "general.curriculumInventory"}}</span>
        {{/link-to}}
      </li>
    {{/if}}
  </ul>
{{/if}}
