{{#if (or currentUser.performsNonLearnerFunction)}}
  <ul
    class="expand-navigation link clickable"
    onclick={{action (toggle "expanded" this)}}
  >
    <li title={{t "general.menu"}}>
      <FaIcon @icon="bars" />
    </li>
  </ul>
  <ul class="navigation-links">
    <li>
      <LinkTo @route="dashboard">
        <FaIcon
          @icon="home"
          @fixedWidth={{true}}
          @title={{t "general.dashboard"}}
        />
        <span class="text">
          {{t "general.dashboard"}}
        </span>
      </LinkTo>
    </li>
    {{#if currentUser.performsNonLearnerFunction}}
      <li>
        <LinkTo @route="courses" @title={{t "general.coursesAndSessions"}}>
          <FaIcon @icon="book" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.coursesAndSessions"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="learnerGroups" @title={{t "general.learnerGroups"}}>
          <FaIcon @icon="graduation-cap" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.learnerGroups"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <LinkTo
          @route="instructorGroups"
          @title={{t "general.instructorGroups"}}
        >
          <FaIcon @icon="user-md" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.instructorGroups"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="schools" @title={{t "general.schools"}}>
          <FaIcon @icon="university" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.schools"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="programs" @title={{t "general.programs"}}>
          <FaIcon @icon="list-alt" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.programs"}}
          </span>
        </LinkTo>
      </li>
    {{/if}}
    {{#if currentUser.canCreateOrUpdateUserInAnySchool}}
      <li>
        <LinkTo @route="admin-dashboard" @title={{t "general.admin"}}>
          <FaIcon @icon="cogs" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.admin"}}
          </span>
        </LinkTo>
      </li>
    {{/if}}
    {{#if currentUser.performsNonLearnerFunction}}
      <li>
        <LinkTo
          @route="curriculumInventoryReports"
          @title={{t "general.curriculumInventory"}}
        >
          <FaIcon @icon="chart-bar" @fixedWidth={{true}} />
          <span class="text">
            {{t "general.curriculumInventory"}}
          </span>
        </LinkTo>
      </li>
    {{/if}}
  </ul>
{{/if}}