<div class='detail-view'>
    <div class='detail-view-main-title'>
        {{course-header course=course editable=notCollapsed}}
    </div>
    <div class='detail-view-details'>
      {{course-overview course=course editing=notCollapsed}}
      {{#if collapsed}}
        <div {{action 'expand'}} class='detailCollapsedControl'><span>{{t 'courses.expandDetail'}}</span></div>
      {{else}}
        <div {{action 'collapse'}} class='detailCollapsedControl'><span class='is-expanded'>{{t 'courses.collapseDetail'}}</span></div>
        {{course-editing course=course availableTopics=availableTopics programs=programs}}
        <div {{action 'collapse'}} class='detailCollapsedControl'><span class='is-expanded'>{{t 'courses.collapseDetail'}}</span></div>
      {{/if}}
    </div>
</div>
