<div class='detail-view course-detail-view'>
    <div class='detail-view-main-title'>
        {{course-header course=course}}
    </div>
    <div class='detail-view-details'>
      {{course-overview course=course}}
      {{#if collapsed}}
        <div {{action 'expand'}} class='detail-collapsed-control'><span>{{t 'courses.expandDetail'}}{{fa-icon "fa-plus-square"}}</span></div>
      {{else}}
        {{course-editing
          course=course
          courseObjectiveDetails=courseObjectiveDetails
          toggleCourseObjectiveDetails='toggleCourseObjectiveDetails'
        }}
        <div {{action 'collapse'}} class='detail-collapsed-control'><span class='is-expanded'>{{t 'courses.collapseDetail'}}{{fa-icon "fa-minus-square"}}</span></div>
      {{/if}}
    </div>
</div>
