<div class="back-to-courses-list">
  {{#link-to "courses"}}{{t "general.backToCourses"}}{{/link-to}}
</div>
{{course-header course=course editable=editable}}
{{course-overview course=course editable=editable}}
{{#if (not showDetails)}}
  <div {{action setShowDetails true}} class="detail-collapsed-control"><span>{{t "general.expandDetail"}}{{fa-icon "plus-square" class="expand-collapse-icon"}}</span></div>
{{else}}
  {{course-editing
    course=course
    editable=editable
    courseLeadershipDetails=courseLeadershipDetails
    courseObjectiveDetails=courseObjectiveDetails
    courseTaxonomyDetails = courseTaxonomyDetails
    courseCompetencyDetails = courseCompetencyDetails
    courseManageLeadership = courseManageLeadership
    setCourseObjectiveDetails=(action setCourseObjectiveDetails)
    setCourseLeadershipDetails=(action setCourseLeadershipDetails)
    setCourseTaxonomyDetails=(action setCourseTaxonomyDetails)
    setCourseCompetencyDetails=(action setCourseCompetencyDetails)
    setCourseManageLeadership=(action setCourseManageLeadership)
  }}
  <div {{action "collapse"}} class="detail-collapsed-control"><span class="is-expanded">{{t "general.collapseDetail"}}{{fa-icon "minus-square" class="expand-collapse-icon"}}</span></div>
{{/if}}
