<table>
  <thead>
    <tr>
      <th class='text-center' colspan=3>{{t 'courses.courseTitle'}}</th>
      <th class='text-center' colspan=2>{{t 'general.school'}}</th>
      <th class='text-center' colspan=2>{{t 'general.year'}}</th>
      <th class='text-center' colspan=1>{{t 'courses.level'}}</th>
      <th class='text-center' colspan=2>{{t 'courses.startDate'}}</th>
      <th class='text-center' colspan=2>{{t 'courses.endDate'}}</th>
      <th class='text-center' colspan=2>{{t 'general.status'}}</th>
      <th class='text-center' colspan=2>{{t 'general.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each proxiedCourses as |course|}}
      <tr class="{{if course.showRemoveConfirmation 'confirm-removal'}}">
        <td class='text-left' colspan=3>
          {{#link-to 'course' course.content}}
            {{course.title}}
            {{#if course.externalId}}
              ({{course.externalId}})
            {{/if}}
          {{/link-to}}
        </td>
        <td class='text-center' colspan=2 {{action 'edit' course}}>{{course.school.title}}</td>
        <td class='text-center' colspan=2 {{action 'edit' course}}>{{course.academicYear}}</td>
        <td class='text-center' colspan=1 {{action 'edit' course}}>{{course.level}}</td>
        <td class='text-center' colspan=2 {{action 'edit' course}}>{{moment-format course.startDate 'MM/DD/YY'}}</td>
        <td class='text-center' colspan=2 {{action 'edit' course}}>{{moment-format course.endDate 'MM/DD/YY'}}</td>
        <td class='text-center' colspan=2 {{action 'edit' course}}>{{publication-status item=course showIcon=false}}</td>
        <td class='text-center' colspan=2>
          {{#action-menu}}
            <li {{action 'edit' course}}>{{t 'general.edit'}}</li>
            <li {{action 'confirmRemove' course}}>{{t 'general.remove'}}</li>
          {{/action-menu}}
        </td>
      </tr>
      {{#if course.showRemoveConfirmation}}
        <tr class='confirm-removal'><td colspan=16>
          <div class='confirm-message'>
            {{t 'courses.confirmRemove' publishedOfferingcount=course.publishedOfferingCount}} <br />
           <div class="confirm-buttons">
            <button {{action 'remove' course}} class='remove text'>{{t 'general.yes'}}</button>
            <button {{action 'cancelRemove' course}} class='done text'>{{t 'general.cancel'}}</button>
          </div>
          </div>
        </td></tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
