<table class="grid-table">
  <thead>
    <tr>
      <th>{{t 'courses.courseTitle'}}</th>
      <th>{{t 'general.school'}}</th>
      <th>{{t 'courses.educationalYear'}}</th>
      <th>{{t 'courses.level'}}</th>
      <th>{{t 'courses.startDate'}}</th>
      <th>{{t 'courses.endDate'}}</th>
      <th>{{t 'general.status'}}</th>
      <th>{{t 'general.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each course in courses}}
      {{ilios-course-list-item course=course}}
    {{/each}}
  </tbody>
</table>
