{{#unless isEditing}}
  <span {{action 'edit'}} class='editable'>{{displayValue}}</span>
{{else}}
  <span class='editor'>
    <span class='control'>
      {{#x-select value=workingValue action="changeSelection"}}
        {{#if showSelectPrompt}}
          {{#x-option value=null}}{{selectPrompt}}{{/x-option}}
        {{/if}}
        {{#each option in proxiedOptions}}
          {{#x-option value=option.value}}{{option.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </span>
    <span class='actions'>
      <button class='done icon' title='{{t "general.save"}}' {{action 'save'}}>{{fa-icon 'check'}}</button>
      <button class='cancel icon' title='{{t "general.cancel"}}' {{action 'cancel'}}>{{fa-icon 'times'}}</button>
    </span>
  </span>
{{/unless}}
