<span class='content'>
  {{#unless isEditing}}
    <span class='editable'>
      {{#if value.length}}
        {{big-text text=value action='edit' renderHtml=true}}
      {{else}}
        {{clickPrompt}}
      {{/if}}
    </span>
  {{else}}
    <span class='editor'>
      <span class='control'>
        {{froala-editor
          params=editorParams
          value=buffer 
          contentChanged=(action "grabChangedValue")
        }}
      </span>
      <span class='actions'>
        <button class='done icon' title='{{t "general.save"}}' {{action 'save'}}>{{fa-icon 'check'}}</button>
        <button class='cancel icon' title='{{t "general.cancel"}}' {{action 'cancel'}}>{{fa-icon 'times'}}</button>
      </span>
    </span>
  {{/unless}}
</span>
