<div class="backtolink">{{#link-to 'instructorGroups'}}{{t 'general.backToInstructorGroups'}}{{/link-to}}</div>
{{instructorgroup-header instructorGroup=instructorGroup}}

<div class='instructorgroup-overview'>
  <h2>
    {{instructorGroup.title}} {{t 'general.members'}} ({{instructorGroup.users.length}})
  </h2>
  <div class='instructorgroup-overview-content'>
    {{#if (is-fulfilled instructorGroup.users)}}
      <label>{{t 'general.instructors'}}:</label>
      <span>
        <ul class='removable-list tag-list'>
          {{#each (sort-by 'lastName' 'firstName' (await instructorGroup.users)) as |user|}}
            <li {{action 'removeUser' user}}>{{user.fullName}}{{fa-icon 'remove' class='removex'}}</li>
          {{/each}}
        </ul>
      </span>
    {{else}}
      <span class='instructorgroup-loading'>{{fa-icon 'spinner' spin=true}}</span>
    {{/if}}
    {{user-search
      addUser='addUser'
      currentlyActiveUsers=(await instructorGroup.users)
    }}
  </div>

  <div class="instructorgroupcourses">
    <label>{{t 'general.associatedCourses'}}:</label>
    {{#if (is-fulfilled instructorGroup.courses)}}
      <ul>
        {{#each (sort-by 'title' (await instructorGroup.courses)) as |course|}}
          <li>{{#link-to 'course' course}}{{fa-icon 'external-link-square'}} {{course.title}}{{/link-to}}</li>
        {{else}}
          {{t 'general.none'}}
        {{/each}}
      </ul>
    {{else}}
      <span class='instructorgroup-loading'>{{fa-icon 'spinner' spin=true}}</span>
    {{/if}}
  </div>
</div>
