{{#if sortedInstructorGroups.length}}
  <h3>{{t 'general.instructorGroups'}}</h3>
  <ul class='inline-list'>
    {{#each instructorGroup in sortedInstructorGroups}}
      <li class='clickable removable' {{action 'removeInstructorGroup' instructorGroup}}>
        {{fa-icon 'times'}} {{instructorGroup.title}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if sortedInstructors.length}}
  <h3>{{t 'general.instructors'}}</h3>
  <ul class='inline-list'>
    {{#each user in sortedInstructors}}
      <li class='clickable removable' {{action 'removeInstructor' user}}>
        {{fa-icon 'times'}} {{user.fullName}}
      </li>
    {{/each}}
  </ul>
{{/if}}
{{user-search
  addUser='addInstructor'
  addInstructorGroup='addInstructorGroup'
  currentlyActiveUsers=subject.instructors
  placeholder=userSearchPlaceholder
  availableInstructorGroups=availableInstructorGroups
  currentlyActiveInstructorGroups=instructorGroups
}}
