<div class='title'>
  <h4 class="school-title">{{instructorGroup.school.title}} &gt; </h4>
  {{#editable-field
     value=title
     save=(action 'changeTitle')
     close=(action 'revertTitleChanges')
     saveOnEnter=true
     closeOnEscape=true
     as |isSaving|
  }}
    <input
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      disabled={{isSaving}}
      onfocusout={{action 'addErrorDisplayFor' 'title'}}
      onkeypress={{action 'addErrorDisplayFor' 'title'}}
    >
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  {{/editable-field}}
</div>
<span class='info'>
  {{t 'general.members'}}: {{instructorGroup.users.length}}
</span>
