{{#if (get (await instructorGroups) 'length')}}
  <ul class='removable-list tag-list'>
    {{#each (sort-by 'title' (await instructorGroups)) as |instructorGroup|}}
      <li {{action 'removeInstructorGroup' instructorGroup}}>
        {{fa-icon 'group'}} {{instructorGroup.title}} {{fa-icon 'times'}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if (get (await instructors) 'length')}}
  <ul class='removable-list tag-list'>
    {{#each (sort-by 'title' (await instructors)) as |user|}}
      <li {{action 'removeInstructor' user}}>
        {{user.fullName}} {{fa-icon 'times'}}
      </li>
    {{/each}}
  </ul>
{{/if}}
{{user-search
  addUser='addInstructor'
  addInstructorGroup='addInstructorGroup'
  currentlyActiveUsers=instructors
  placeholder=userSearchPlaceholder
  availableInstructorGroups=(await availableInstructorGroups)
  currentlyActiveInstructorGroups=instructorGroups
}}
