<div class="backtolink">{{#link-to 'instructorGroups'}}{{t 'general.backToInstructorGroups'}}{{/link-to}}</div>
{{instructorgroup-header instructorGroup=instructorGroup}}

<div class='instructorgroup-overview'>
  <h2>
    {{instructorGroup.title}} {{t 'general.members'}} ({{instructorGroup.users.length}})
  </h2>
  {{#if (is-fulfilled instructorGroup.users)}}
    <label>{{t 'general.instructors'}}:</label>
    <div>
      <ul class='instructorgroup-users'>
        {{#each (sort-by 'lastName' 'firstName' (await instructorGroup.users)) as |user|}}
          <li {{action 'removeUser' user}}>{{user.fullName}}{{fa-icon 'remove' class='remove'}}</li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    {{loading-spinner class='instructorgroup-loading'}}
  {{/if}}

  {{user-search
    addUser='addUser'
    currentlyActiveUsers=(await instructorGroup.users)
  }}

  <div class="instructorgroupcourses">
    <label>{{t 'general.associatedCourses'}}:</label>
    {{#if (is-fulfilled instructorGroup.courses)}}
      <ul>
        {{#each (sort-by 'title' (await instructorGroup.courses)) as |course|}}
          <li>{{#link-to 'course' course}}{{fa-icon 'external-link-square'}} {{course.title}}{{/link-to}}</li>
        {{else}}
          {{t 'general.none'}}
        {{/each}}
      </ul>
    {{else}}
      {{loading-spinner class='instructorgroup-loading'}}
    {{/if}}
  </div>
</div>
