<table>
  <thead>
    <tr>
      <th>{{t 'general.directors'}}</th>
      <th>{{t 'general.administrators'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='text-top'>
        <ul>
          {{#if (is-array directors)}}
            {{#each (sort-by 'lastName' 'firstName' directors) as |user|}}
              <li>{{user.fullName}}</li>
            {{else}}
              <li>{{t 'general.none'}}</li>
            {{/each}}
          {{else}}
            {{loading-spinner}}
          {{/if}}
        </ul>
      </td>
      <td class='text-top'>
        <ul>
          {{#if (is-array administrators)}}
            {{#each (sort-by 'lastName' 'firstName' administrators) as |user|}}
              <li>{{user.fullName}}</li>
            {{else}}
              <li>{{t 'general.none'}}</li>
            {{/each}}
          {{else}}
            {{loading-spinner}}
          {{/if}}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
