<div class='title clickable'  {{action expand}}>
  {{title}}
</div>
<div class='content'>
  <table class='condensed'>
    <thead>
      <tr>
        <th colspan=2 class='text-left'>{{t 'general.summary'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#if showDirectors}}
        <tr>
          <td>{{t 'general.directors'}}</td>
          <td>{{t 'general.directorCount' count=directorsCount}}</td>
        </tr>
      {{/if}}
      {{#if showAdministrators}}
        <tr>
          <td>{{t 'general.administrators'}}</td>
          <td>{{t 'general.administratorCount' count=administratorsCount}}</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>
