<table>
  <thead>
    <tr>
      {{#if showDirectors}}<th>{{t 'general.directors'}}</th>{{/if}}
      {{#if showAdministrators}}<th>{{t 'general.administrators'}}</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#if showDirectors}}
        <td class='text-top' data-test-directors>
          <ul>
            {{#each (sort-by 'lastName' 'firstName' directors) as |user|}}
              <li>
                {{fa-icon 'remove' class='clickable remove' click=(action removeDirector user)}}
                {{#unless user.enabled}}
                  {{fa-icon 'user-times' title=(t 'general.disabled') class='disabled-user'}}
                {{/unless}}
                {{user.fullName}}
              </li>
            {{else}}
              {{t 'general.none'}}
            {{/each}}
          </ul>
        </td>
      {{/if}}
      {{#if showAdministrators}}
        <td class='text-top' data-test-administrators>
          <ul>
            {{#each (sort-by 'lastName' 'firstName' administrators) as |user|}}
              <li>
                {{fa-icon 'remove' class='clickable remove' click=(action removeAdministrator user)}}
                {{#unless user.enabled}}
                  {{fa-icon 'user-times' title=(t 'general.disabled') class='disabled-user'}}
                {{/unless}}
                {{user.fullName}}
              </li>
            {{else}}
              {{t 'general.none'}}
            {{/each}}
          </ul>
        </td>
      {{/if}}
    </tr>
    <tr>
      {{#if showDirectors}}
        <td data-test-director-search>
          {{leadership-search existingUsers=directors selectUser=addDirector}}
        </td>
      {{/if}}
      {{#if showAdministrators}}
        <td data-test-administrator-search>
          {{leadership-search existingUsers=administrators selectUser=addAdministrator}}
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
