{{learnergroup-header learnerGroup=learnerGroup sortUsersBy=sortUsersBy}}
<section class='learnergroup-overview'>
  <div class='learnergroup-overview-actions'>
    {{#if isEditing}}
      <button {{action toggleEditMode}}>{{t 'general.close'}}</button>
    {{else}}
      <button {{action toggleEditMode}}>{{t 'general.manage'}}</button>
    {{/if}}
  </div>
  {{#if (is-fulfilled usersToPassToManager)}}
    <div class='learnergroup-overview-content'>
      {{learnergroup-user-manager
        learnerGroupId=learnerGroupId
        learnerGroupTitle=learnerGroupTitle
        topLevelGroupTitle=topLevelGroupTitle
        cohortTitle=cohortTitle
        users=(await usersToPassToManager)
        sortBy=sortUsersBy
        setSortBy=setSortUsersBy
        isEditing=isEditing
        addUserToGroup=(perform addUserToGroup)
        removeUserFromGroup=(perform removeUserToCohort)
        addUsersToGroup=(perform addUsersToGroup)
        removeUsersFromGroup=(perform removeUsersToCohort)
      }}
    </div>
  {{else}}
    <h1 class='text-center'>{{fa-icon 'spinner' spin=true}}</h1>
  {{/if}}

  <div class="block defaultlocation">
    <label>{{t 'general.defaultLocation'}}:</label>
    <span>
      {{#editable-field
        value=(if location location (t 'general.clickToEdit'))
        save=(action 'changeLocation')
        close=(action 'revertLocationChanges')
        saveOnEnter=true
        closeOnEscape=true
        as |isSaving|
      }}
        <input
          value={{location}}
          oninput={{action (mut location) value="target.value"}}
          disabled={{isSaving}}
          onfocusout={{action 'addErrorDisplayFor' 'location'}}
        >
        {{#if (and (v-get this 'location' 'isInvalid') (is-in showErrorsFor 'location'))}}
          <span class="validation-error-message">{{v-get this 'location' 'message'}}</span>
        {{/if}}
      {{/editable-field}}
    </span>
  </div>
  <div class="block defaultinstructors">
    <label>{{t 'general.defaultInstructors'}}:</label>
    <div>
      {{#if (is-fulfilled learnerGroup.allInstructors)}}
        {{#liquid-if manageInstructors class='crossFade'}}
          {{learnergroup-instructor-manager
            learnerGroup=learnerGroup
            save=(action 'saveInstructors')
            close=(toggle-action 'manageInstructors' this)
          }}
        {{else}}
          <span class='clickable link' {{action (toggle 'manageInstructors' this)}}>
            {{#if (get (await learnerGroup.allInstructors) 'length')}}
              {{join '; ' (map-by 'fullName' (sort-by 'lastName' (await learnerGroup.allInstructors)))}}
            {{else}}
              {{t 'general.none'}}
            {{/if}}
          </span>
        {{/liquid-if}}
      {{else}}
        {{fa-icon 'spinner' spin=true}}
      {{/if}}
    </div>
  </div>
  <div class='block associatedcourses'>
    <label>{{t 'general.associatedCourses'}}:</label>
    <div>
      {{#if (is-fulfilled learnerGroup.courses)}}
        {{#if (get (await learnerGroup.courses) 'length')}}
          {{join '; ' (map-by 'title' (await learnerGroup.courses))}}
        {{else}}
          {{t 'general.none'}}
        {{/if}}
      {{else}}
        {{fa-icon 'spinner' spin=true}}
      {{/if}}
    </div>
  </div>

  <p class='block' data-test-toggle-learnergroup-calendar>
    {{toggle-buttons
      firstOptionSelected=(not showLearnerGroupCalendar)
      firstLabel=(t 'general.hideCalendar')
      secondLabel=(t 'general.showCalendar')
      toggle=(toggle 'showLearnerGroupCalendar' this)
    }}
  </p>
  {{#if showLearnerGroupCalendar}}
    {{learnergroup-calendar learnerGroup=learnerGroup}}
  {{/if}}
</section>


{{learnergroup-subgroup-list parentGroup=learnerGroup}}

<section class='cohortmembers'>
  {{#if (is-fulfilled usersToPassToCohortManager)}}
    {{learnergroup-cohort-user-manager
      users=(await usersToPassToCohortManager)
      learnerGroupTitle=learnerGroupTitle
      topLevelGroupTitle=topLevelGroupTitle
      sortBy=sortUsersBy
      setSortBy=setSortUsersBy
      addUserToGroup=(perform addUserToGroup)
      addUsersToGroup=(perform addUsersToGroup)
    }}
  {{else}}
    <span class='cohortmembers-loading'>{{fa-icon 'spinner' spin=true}}</span>
  {{/if}}
</section>

