<div class="learningmaterial-manager-form">
  {{#if setup.isRunning}}
    <span class='loading'>{{fa-icon 'spinner' spin=true}}</span>
  {{else}}
    <div class="item">
      <label>{{t 'general.displayName'}}:</label>
      <span class='displayname'>{{title}}</span>
    </div>
    <div class="item status">
      <label>{{t 'general.status'}}:</label>
      {{#if editable}}
        {{one-way-select
          value=statusId
          options=(await learningMaterialStatuses)
          optionTargetPath="id"
          optionLabelPath="title"
          update=(action (mut statusId))
        }}
      {{else}}
        {{get (await currentStatus) 'title'}}
      {{/if}}
    </div>
    <div class="item required">
      <label>{{t 'general.required'}}:</label>
      {{#if editable}}
        {{toggle-yesno yes=required toggle=(action (mut required))}}
      {{else}}
        {{#if required}}
          <span class='add'>{{t 'general.yes'}}</span>
        {{else}}
          <span class='remove'>{{t 'general.no'}}</span>
        {{/if}}
      {{/if}}
    </div>
    <div class="item notes">
      <label>{{t 'general.instructionalNotes'}}:</label>
      {{#if editable}}
        {{html-editor
          content=notes
          update=(action (mut notes))
        }}
      {{else}}
        <span>{{{notes}}}</span>
      {{/if}}
    </div>
    <div class="item publicnotes">
      <label>{{t 'general.showNotesToStudents'}}:</label>
      {{#if editable}}
        {{toggle-yesno yes=publicNotes toggle=(action (mut publicNotes))}}
      {{else}}
        {{#if publicNotes}}
          <span class='add'>{{t 'general.yes'}}</span>
        {{else}}
          <span class='remove'>{{t 'general.no'}}</span>
        {{/if}}
      {{/if}}
    </div>
    <div class="item">
      <label>{{t 'general.owner'}}:</label>
      <span class='owninguser'>{{owningUserName}}</span>
    </div>
    <div class="item">
      <label>{{t 'general.contentAuthor'}}:</label>
      <span class='originalauthor'>{{originalAuthor}}</span>
    </div>
    <div class="item">
      <label>{{t 'general.userRole'}}:</label>
      <span class='userrole'>{{userRoleTitle}}</span>
    </div>
    <div class="item">
      <label>{{t 'general.description'}}:</label>
      <span class='description'>{{{ description }}}</span>
    </div>
    {{#if copyrightPermission}}
      <div class="item">
        <label>{{t 'general.copyrightPermission'}}:</label>
        {{#if copyrightPermission}}
          <span class='copyrightpermission add'>{{t 'general.yes'}}</span>
        {{else}}
          <span class='copyrightpermission remove'>{{t 'general.no'}}</span>
        {{/if}}
      </div>
    {{/if}}
    {{#if copyrightRationale}}
      <div class="item">
        <label>{{t 'general.copyrightRationale'}}:</label>
        <span class='copyrightrationale'>{{copyrightRationale}}</span>
      </div>
    {{/if}}
    {{#if isCitation}}
      <div class="item">
        <label>{{t 'general.citation'}}:</label>
        <span class='citation'>{{citation}}</span>
      </div>
    {{/if}}
    {{#if isLink}}
      <div class="item weblink">
        <label>{{t 'general.link'}}:</label>
        <span class='link'>
          <a href="{{link}}" target="_blank" rel="noopener">{{link}}</a>
          {{#copy-button clipboardText=link}}
            {{fa-icon 'copy' title=(t 'general.copyLink')}}
          {{/copy-button}}
        </span>
      </div>
    {{/if}}
    {{#if isFile}}
      <div class="item filename">
        <label>{{t 'general.file'}}:</label>
        <span class='downloadurl'>
          {{#if (eq mimetype 'application/pdf')}}
            <a href="{{absoluteFileUri}}?inline">
              {{filename}}
            </a>
            <a href="{{absoluteFileUri}}" target="_blank" rel="noopener">
              {{fa-icon 'download' title=(t 'general.download')}}
            </a>
          {{else}}
            <a href="{{absoluteFileUri}}" target="_blank" rel="noopener">
              {{filename}}
            </a>
          {{/if}}
          {{#copy-button clipboardText=absoluteFileUri}}
            {{fa-icon 'copy' title=(t 'general.copyLink')}}
          {{/copy-button}}
        </span>
      </div>
    {{/if}}
    <div class="item">
      <label>{{t 'general.uploadDate'}}:</label>
      <span class='upload-date'>{{moment-format uploadDate 'M-D-YYYY'}}</span>
    </div>

    {{mesh-manager
      terms=terms
      add='addTerm'
      remove='removeTerm'
      targetItemTitle=title
    }}

    <div class='buttons'>
      <button class='done text' {{action (perform save)}} disabled={{save.isRunning}}>
        {{#if save.isRunning}}
          {{fa-icon 'spinner' spin=true}}
        {{else}}
          {{t 'general.done'}}
        {{/if}}
      </button>
      <button class='cancel text' {{action (action closeManager)}}>{{t 'general.cancel'}}</button>
    </div>
  {{/if}}
</div>
