<div class="form-container">
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.displayName'}}:</label>
    <div class="form-data"><span class='displayname'>{{learningMaterial.learningMaterial.title}}</span></div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.status'}}:</label>
    <div class="form-data status">
      {{#if editable}}
        {{inplace-select
          value=valueBuffer.status.id
          options=statusOptions
          save='changeStatus'
        }}
      {{else}}
        {{valueBuffer.status.title}}
      {{/if}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'general.required'}}:</label>
    <div class="form-data required">
      {{#if editable}}
        {{inplace-boolean value=valueBuffer.required save='changeRequired'}}
      {{else}}
        {{#if valueBuffer.required}}
          <span class='add'>{{t 'general.yes'}}</span>
        {{else}}
          <span class='remove'>{{t 'general.no'}}</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.instructionalNotes'}}:</label>
    <div class="form-data notes">
      {{#if editable}}
        {{inplace-html value=valueBuffer.notes save='changeNotes'}}
      {{else}}
        <span class='list-reset'>{{{valueBuffer.notes}}}</span>
      {{/if}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.showNotesToStudents'}}:</label>
    <div class="form-data publicnotes">
      {{#if editable}}
        {{inplace-boolean value=valueBuffer.publicNotes save='changePublicNotes'}}
      {{else}}
        {{#if valueBuffer.publicNotes}}
          <span class='add'>{{t 'general.yes'}}</span>
        {{else}}
          <span class='remove'>{{t 'general.no'}}</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.owner'}}:</label>
    <div class="form-data">
      <span class='owninguser'>{{learningMaterial.learningMaterial.owningUser.fullName}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.contentAuthor'}}:</label>
    <div class="form-data">
      <span class='originalauthor'>{{learningMaterial.learningMaterial.originalAuthor}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.userRole'}}:</label>
    <div class="form-data">
      <span class='userrole'>{{learningMaterial.learningMaterial.userRole.title}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'general.description'}}:</label>
    <div class="form-data">
      <span class='description list-reset'>{{{ learningMaterial.learningMaterial.description }}}</span>
    </div>
  </div>
  {{#if learningMaterial.learningMaterial.copyrightPermission}}
    <div class="form-col-12">
      <label class="form-label">{{t 'learningMaterials.copyrightPermission'}}:</label>
      <div class="form-data">
      {{#if learningMaterial.learningMaterial.copyrightPermission}}
        <span class='copyrightpermission add'>{{t 'general.yes'}}</span>
      {{else}}
        <span class='copyrightpermission remove'>{{t 'general.no'}}</span>
      {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.copyrightRationale}}
    <div class="form-col-12">
      <label class="form-label">{{t 'learningMaterials.copyrightRationale'}}:</label>
      <div class="form-data">
        <span class='copyrightrationale'>{{learningMaterial.learningMaterial.copyrightRationale}}</span>
      </div>
    </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.isCitation}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.citation'}}:</label>
    <div class="form-data">
      <span class='citation'>{{learningMaterial.learningMaterial.citation}}</span>
    </div>
  </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.isLink}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.link'}}:</label>
    <div class="form-data weblink">
      <span class='link'><a href="{{learningMaterial.learningMaterial.link}}" target="_blank">{{learningMaterial.learningMaterial.link}}</a></span>
    </div>
  </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.isFile}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.file'}}:</label>
    <div class="form-data filename">
      <span class='downloadurl'><a href="{{learningMaterial.learningMaterial.absoluteFileUri}}" target="_blank">{{learningMaterial.learningMaterial.filename}}</a></span>
    </div>
  </div>
  {{/if}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.uploadDate'}}:</label>
    <div class="form-data">
      <span class='upload-date'>{{moment-format learningMaterial.learningMaterial.uploadDate 'M-D-YYYY'}}</span>
    </div>
  </div>
</div> <!-- /.form-container -->
