<div class='detail-header'>
  <span class='title'>
    <h2>
      {{inplace-text tagName='span' value=learnerGroup.title save='changeTitle'}}
    </h2>
  </span>
  <span class='info'>
    {{t 'learnerGroups.members'}}: {{learnerGroup.users.length}}
  </span>
</div>
{{#if (is-fulfilled learnerGroup.allParents)}}
  <div class='breadcrumbs'>
    <span>{{#link-to 'learnerGroups'}}{{t 'general.learnerGroups'}}{{/link-to}}</span>
    {{#each (await learnerGroup.allParents) as |parent|}}
      <span>
        {{#link-to 'learnerGroup' parent}}
          {{parent.title}}
        {{/link-to}}
      </span>
    {{/each}}
    <span>{{learnerGroup.title}}</span>
  </div>
{{/if}}
