<section class='detail-overview detail-block'>
  <div class='detail-title'>
    {{learnerGroup.title}} {{t 'learnerGroups.members'}} ({{learnerGroup.usersOnlyAtThisLevel.length}})
  </div>
  <div class='detail-content'>
    {{#if isActive}}
      <div class="overview-toggle-container">
        {{toggle-onoff label="learnerGroups.multiEdit" on=multiEditModeOn action="toggleSwitch"}}
      </div>
    {{/if}}

    {{#if multiEditModeOn}}
      <div class="multi-edit-container">
        <div class="multi-edit-box">
          <label class="check-all-label">{{t "learnerGroups.includeAll"}}</label>
          {{input type="checkbox" checked=includeAll class="check-all-input"}}
        </div>
      </div>
    {{/if}}

    {{#if multiEditModeOn}}
      {{learnergroup-members-multiedit
        topLevelGroup=learnerGroup.topLevelGroup
        cohort=learnerGroup.cohort
        members=learnerGroup.usersOnlyAtThisLevel
        membersNotInGroup=topLevelGroupMembersNotInThisGroup
        membersNotAssigned=cohortMembersNotInAnyGroup
        showMoveToCohortOption=true
        showMoveToTopLevelGroupOption=true
        includeAll=includeAll
        multiEditModeOn=multiEditModeOn
      }}
    {{else}}
      {{learnergroup-members
        topLevelGroup=learnerGroup.topLevelGroup
        cohort=learnerGroup.cohort
        members=learnerGroup.usersOnlyAtThisLevel
        showMoveToCohortOption=true
        showMoveToTopLevelGroupOption=true
      }}
    {{/if}}

    <br />
    <div class="inline-label-data-block learnergrouplocation">
      <label>{{t "learnerGroups.defaultLocation"}}:</label>
      <div>{{inplace-text value=learnerGroup.location save='changeLocation'}}</div>
    </div> <br />

    <label>{{t "learnerGroups.defaultInstructors"}}:</label>
     <span>
       <ul class='removable-list'>
         {{#each sortedInstructors as |user|}}
          <li {{action 'removeInstructor' user}}>{{user.fullName}}{{fa-icon 'remove' classNames='removex'}}</li>
         {{/each}}
       </ul>
     </span>
     {{user-search
       addUser='addInstructor'
       currentlyActiveUsers=learnerGroup.instructors
    }}
  </div>

  <div class="inline-label-data-block learnergroupcourses">
    <label>{{t "learnerGroups.associatedCourses"}}:</label>
    <div>
      {{#if associatedCoursesString.length}}
        {{big-text text=associatedCoursesString}}
      {{else}}
        {{t 'general.none'}}
      {{/if}}
    </div>
  </div> <br />
</section>
