<div class="form-container">
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.displayName'}}:</label>
    <div class="form-data"><span class='displayname'>{{learningMaterial.learningMaterial.title}}</span></div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.status'}}:</label>
    <div class="form-data status">
    {{inplace-select
      value=valueBuffer.status.id
      options=statusOptions
      save='changeStatus'
    }}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'general.required'}}:</label>
    <div class="form-data required">
      {{inplace-boolean value=valueBuffer.required save='changeRequired'}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.instructionalNotes'}}:</label>
    <div class="form-data notes">
      {{inplace-textarea value=valueBuffer.notes save='changeNotes'}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.showNotesToStudents'}}:</label>
    <div class="form-data publicnotes">
      {{inplace-boolean value=valueBuffer.publicNotes save='changePublicNotes'}}
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.owner'}}:</label>
    <div class="form-data">
      <span class='owninguser'>{{learningMaterial.learningMaterial.owningUser.fullName}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.contentAuthor'}}:</label>
    <div class="form-data">
      <span class='originalauthor'>{{learningMaterial.learningMaterial.originalAuthor}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.userRole'}}:</label>
    <div class="form-data">
      <span class='userrole'>{{learningMaterial.learningMaterial.userRole.title}}</span>
    </div>
  </div>
  <div class="form-col-12">
    <label class="form-label">{{t 'general.description'}}:</label>
    <div class="form-data">
      <span class='description'>{{ learningMaterial.learningMaterial.description }}</span>
    </div>
  </div>
  {{!-- {{#if learningMaterial.learningMaterial.filename}} --}}
  {{#if learningMaterial.learningMaterial.copyrightPermission}}
    <div class="form-col-12">
      <label class="form-label">{{t 'learningMaterials.copyrightPermission'}}:</label>
      <div class="form-data">
      {{#if learningMaterial.learningMaterial.copyrightPermission}}
        <span class='copyrightpermission add'>{{t 'general.yes'}}</span>
      {{else}}
        <span class='copyrightpermission remove'>{{t 'general.no'}}</span>
      {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.copyrightRationale}}
    <div class="form-col-12">
      <label class="form-label">{{t 'learningMaterials.copyrightRationale'}}:</label>
      <div class="form-data">
        <span class='copyrightrationale'>{{learningMaterial.learningMaterial.copyrightRationale}}</span>
      </div>
    </div>
  {{/if}}
  {{!-- {{/if}} --}}
  {{#if learningMaterial.learningMaterial.citation}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.citation'}}:</label>
    <div class="form-data">
      <span class='citation'>{{learningMaterial.learningMaterial.citation}}</span>
    </div>
  </div>
  {{/if}}
  {{#if learningMaterial.learningMaterial.link}}
  <div class="form-col-12">
    <label class="form-label">{{t 'learningMaterials.link'}}:</label>
    <div class="form-data weblink">
      <span class='link'><a href="{{learningMaterial.learningMaterial.link}}" target="_blank">{{learningMaterial.learningMaterial.link}}</a></span>
    </div>
  </div>
  {{/if}}
</div> <!-- /.form-container -->
