<table>
  <thead>
    <tr>
      <th class='text-left' colspan=3>{{t 'learnerGroups.groupName'}}</th>
      <th class='text-center' colspan=2>{{t 'learnerGroups.learners'}}</th>
      <th class='text-center' colspan=2>{{t 'learnerGroups.subGroups'}}</th>
      <th class='text-center'>{{t 'general.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each group in sortedGroups}}
      <tr>
        <td class='text-left' colspan=3>
          {{#link-to 'learnergroup' group}}
            {{group.title}}
          {{/link-to}}
          </td>
        <td class='text-center' colspan=2 {{action 'edit' group}}>{{group.users.length}}</td>
        <td class='text-center' colspan=2 {{action 'edit' group}}>{{group.children.length}}</td>
        <td class='text-center'>
          {{#action-menu}}
            <li {{action 'edit' group}}>{{t 'general.edit'}}</li>
            <li {{action 'remove' group}}>{{t 'general.remove'}}</li>
          {{/action-menu}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
