{{#liquid-if saving class='crossFade'}}
  {{wait-saving}}
{{/liquid-if}}

<div class="learnergroup-list">
  <div class="learnergroup-list-top">
    {{#if members.isFulfilled}}
      {{#each proxiedMembers as |userProxy|}}
        <div class="form-col-12">
          <label class="form-label learnergroup-username" title="{{userProxy.email}}  |  {{userProxy.campusId}}">
            {{userProxy.fullName}}
            {{#unless userProxy.enabled}}
              <em>({{t 'general.disabled'}})</em>
            {{/unless}}
          </label>
          <div class="form-data learnergroup-group-membership">
            {{inplace-select
              value=userProxy.lowestGroupInTree.id
              options=learnerGroupOptions
              save='changeLearnerGroup'
              condition=userProxy.id
              displayValueOverride=userProxy.groupDisplayValueString
              selectPromptTranslation='learnerGroups.selectGroup'
            }}
          </div>
        </div>
      {{/each}}
    {{else}}
      <h1 class='center'>{{fa-icon 'spinner' spin=true}}</h1>
    {{/if}}
  </div>
</div>
