<div class='header-bar'>
  <span class='title'>
    <h2>
      {{#editable-field
        value=(if title title (t 'general.clickToEdit'))
        save=(perform changeTitle)
        close=(action 'revertTitleChanges')
        as |isSaving save close|
      }}
        {{one-way-input
          value=title
          update=(action (mut title))
          onenter=save
          onescape=close
          disabled=isSaving
          focusOut=(action 'addErrorDisplayFor' 'title')
          keyPress=(action 'addErrorDisplayFor' 'title')
        }}
        {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
          <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
        {{/if}}
      {{/editable-field}}
    </h2>
  </span>
  <span class='info'>
    {{#if (and (is-fulfilled learnerGroup.usersOnlyAtThisLevel) (is-fulfilled learnerGroup.cohort) (is-fulfilled learnerGroup.cohort.users))}}
      {{t 'general.members'}}:  {{get (await learnerGroup.usersOnlyAtThisLevel) 'length'}} / {{learnerGroup.cohort.users.length}}
    {{/if}}
  </span>
</div>
{{#if (is-fulfilled learnerGroup.allParents)}}
  <div class='breadcrumbs'>
    <span>
      {{#link-to
        'learnerGroups'
        (query-params
          schoolId=(get (await learnerGroup.cohort.programYear.program.school) 'id')
          programId=(get (await learnerGroup.cohort.programYear.program) 'id')
          programYearId=(get (await learnerGroup.cohort.programYear) 'id')
        )
      }}
        {{t 'general.learnerGroups'}}
      {{/link-to}}
    </span>
    {{#each (reverse (await learnerGroup.allParents)) as |parent|}}
      <span>
        {{#link-to
          'learnerGroup' parent
          (query-params
            sortUsersBy=sortUsersBy
          )
        }}
          {{parent.title}}
        {{/link-to}}
      </span>
    {{/each}}
    <span>{{learnerGroup.title}}</span>
  </div>
{{/if}}
