{{#liquid-if isSaving class='crossFade'}}
  {{wait-saving
    showProgress=true
    totalProgress=totalGroupsToSave
    currentProgress=currentGroupsSaved
  }}
{{/liquid-if}}
<div class='learnergroup-subgroup-list-header'>
  <div class='title'>
    {{t 'general.subgroups'}} ({{get (await parentGroup.children) 'length'}})
  </div>

  <div class='learnergroup-subgroup-list-actions'>
    {{expand-collapse-button value=showNewLearnerGroupForm action=(toggle 'showNewLearnerGroupForm' this)}}
  </div>
</div>

<div class='learnergroup-subgroup-list-content'>
  <section class='learnergroup-subgroup-list-new'>
    {{#liquid-if showNewLearnerGroupForm class='vertical'}}
      {{new-learnergroup
        save=(action 'saveNewLearnerGroup')
        cancel=(action (toggle 'showNewLearnerGroupForm' this))
        generateNewLearnerGroups=(action 'generateNewLearnerGroups')
        multiModeSupported=true
      }}
    {{/liquid-if}}
  </section>

  {{#if saved}}
    <div class='saved-result'>
      {{#link-to 'learnerGroup' savedGroup}}
        {{fa-icon 'external-link-square'}} {{savedGroup.title}}
      {{/link-to}}
      {{t 'general.savedSuccessfully'}}
    </div>
  {{/if}}

  <div class='learnergroup-subgroup-list-list'>
    {{#if (is-fulfilled parentGroup.children)}}
      {{#if (get (await parentGroup.children) 'length')}}
        {{learnergroup-list
          learnerGroups=(await parentGroup.children)
          remove=(action 'removeLearnerGroup')
          copy=(perform copyGroup)
        }}
      {{/if}}
    {{else}}
      {{loading-spinner}}
    {{/if}}
  </div>
</div>
