<h3>{{t "general.uploadGroupAssignments"}}</h3>
{{#if validUsers}}
  <p>{{t "general.usersSelected" count=validUsers.length}} <br><button {{action "clear"}}>{{t "general.startOver"}}</button></p>

  {{#if unmatchedGroups.length}}
    <table class="group-matcher" data-test-match-groups-unmatched>
      <caption>{{t "general.matchGroups"}}</caption>
      <thead><tr><td>{{t "general.uploadedGroup"}}</td><td>{{t "general.existingGroup"}}</td></tr></thead>
      <tbody>
        {{#each unmatchedGroups as |name|}}
          {{learnergroup-bulk-group-matcher
            groupName=name
            setMatch=(action "addMatch")
            unsetMatch=(action "removeMatch")
            createGroup=(action "createGroup")
            matches=matchedGroups
            groups=(sort-by "title" (await groups))
          }}
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if (and allUnmatchedGroupsMatched (gt validUsers.length 0))}}
    {{learnergroup-bulk-finalize-users
      users=validUsers
      matchedGroups=matchedGroups
      learnerGroup=learnerGroup
      done=done
    }}
  {{/if}}
{{else}}
  {{learnergroup-upload-data
    learnerGroup=learnerGroup
    sendValidUsers=(action (mut validUsers))
    sendMatchedGroups=(action (mut matchedGroups))
  }}
{{/if}}
