<div class='detail-header'>
  <span class='title'>
    <h2>
      {{inplace-text tagName='span' value=learnerGroup.title save='changeTitle'}}
    </h2>
  </span>
  <span class='info'>
    {{#if (and (is-fulfilled learnerGroup.users) (is-fulfilled learnerGroup.cohort) (is-fulfilled learnerGroup.cohort.users))}}
      {{t 'learnerGroups.members'}}:  {{learnerGroup.users.length}} / {{learnerGroup.cohort.users.length}}
    {{/if}}
  </span>
</div>
{{#if (and (is-fulfilled learnerGroup.allParents) (is-fulfilled learnerGroup.cohort.programYear.program.school))}}
  <div class='breadcrumbs'>
    <span>
      {{#link-to
        'learnerGroups'
        (query-params
          schoolId=(get (await learnerGroup.cohort.programYear.program.school) 'id')
          programId=(get (await learnerGroup.cohort.programYear.program) 'id')
          programYearId=(get (await learnerGroup.cohort.programYear) 'id')
        )
      }}{{t 'general.learnerGroups'}}{{/link-to}}
    </span>
    {{#each (await learnerGroup.allParents) as |parent|}}
      <span>
        {{#link-to 'learnerGroup' parent}}
          {{parent.title}}
        {{/link-to}}
      </span>
    {{/each}}
    <span>{{learnerGroup.title}}</span>
  </div>
{{/if}}
