<ul class='removable-list tag-list'>
  {{#each (sort-by 'title' learnerGroups) as |learnerGroup|}}
    <li {{action remove learnerGroup}}>
      <em>
        {{separated-list icon='angle-right' list=learnerGroup.allParentTitles}}
      </em>
      <strong>
        {{learnerGroup.title}}
      </strong>
      {{fa-icon 'remove'}}
    </li>
  {{/each}}
</ul>
{{search-box search=(action (mut filter)) placeholder=(t 'general.filterPlaceholder')}}
<div class='selectable-list'>
  <h5>{{t 'courses.availableLearnerGroups'}}</h5>
  <ul>
    {{#each filteredCohorts as |cohort|}}
      <li class='static'>{{cohort.displayTitle}}
        <ul>
          {{#each cohort.filteredAvailableLearnerGroups as |learnerGroup|}}
            <li {{action add learnerGroup}}>
              <em>
                {{separated-list icon='angle-right' list=learnerGroup.allParentTitles}}
              </em>
              <strong>
                {{learnerGroup.title}}
              </strong>
            </li>

          {{else}}
            <li class='static'>{{t 'courses.noAvailableLearnerGroups'}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
