<table>
  <thead>
    <tr>
      <th class='text-left' colspan=2>{{t 'learnerGroups.learnerGroupTitle'}}</th>
      <th class='text-center'>{{t 'learnerGroups.members'}}</th>
      <th class='text-center'>{{t 'learnerGroups.subgroups'}}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each proxiedLearnerGroups as |learnerGroup|}}
      <tr class="{{if learnerGroup.showRemoveConfirmation 'confirm-removal'}}">
        <td class='text-left' colspan=2>
          {{#link-to 'learnerGroup' learnerGroup.content}}
            {{learnerGroup.title}}
          {{/link-to}}
        </td>
        <td class='text-center'>{{learnerGroup.users.length}}</td>
        <td class='text-center'>{{learnerGroup.children.length}}</td>
        <td class='text-right'>
          {{#action-menu classNames='right-edge'}}
            <li {{action 'edit' learnerGroup}}>{{t 'general.edit'}}</li>
            <li {{action 'confirmRemove' learnerGroup}}>{{t 'general.remove'}}</li>
          {{/action-menu}}
        </td>
      </tr>
      {{#if learnerGroup.showRemoveConfirmation}}
        <tr class='confirm-removal'><td colspan=5>
          <div class='confirm-message'>
            {{t 'learnerGroups.confirmRemove' learnerCount=learnerGroup.usersCount subgroupCount=learnerGroup.children.length}} <br />
           <div class="confirm-buttons">
            <button {{action 'remove' learnerGroup}} class='remove text'>{{t 'general.yes'}}</button>
            <button {{action 'cancelRemove' learnerGroup}} class='done text'>{{t 'general.cancel'}}</button>
          </div>
          </div>
        </td></tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
