<div class='selected-learner-groups'>
  <h4>
    {{t 'general.selectedLearnerGroups'}}
  </h4>
  {{#if learnerGroups.length}}
    {{detail-learnergroups-list learnerGroups=learnerGroups isManaging=true remove=remove}}
  {{else}}
    <p>{{t 'general.none'}}</p>
  {{/if}}
</div>
<div class='available-learner-groups'>
  <h4>
    {{t 'general.availableLearnerGroups'}}
    {{#unless (and (is-fulfilled allLearnerGroups) (is-fulfilled cohorts))}}{{loading-spinner}}{{/unless}}
  </h4>
  {{search-box search=(action (mut filter)) placeholder=(t 'general.filterPlaceholder')}}
  {{#each (sort-by 'title' (await cohorts)) as |cohort|}}
    <div class='cohort-learner-groups'>
      {{#if (and (is-fulfilled cohort.programYear) (is-fulfilled cohort.programYear.program) (is-fulfilled cohort.rootLevelLearnerGroups))}}
        <h5 class='cohort-title'>{{cohort.programYear.program.title}} {{cohort.title}}</h5>
        <ul class='tree-groups-list'>
          {{#each (sort-by 'title' (await cohort.rootLevelLearnerGroups)) as |learnerGroup|}}
            {{learnergroup-tree learnerGroup=learnerGroup selectedGroups=learnerGroups filter=filter add=(action add)}}
          {{/each}}
        </ul>
      {{else}}
        {{loading-spinner}}
      {{/if}}
    </div>
  {{/each}}
</div>
