<div class='detail-header'>
  <span class='title'>
    <h2>
      {{learnerGroup.cohort.displayTitle}} ->
      {{learnerGroup.allParentsTitle}}
      {{inplace-text tagName='span' value=learnerGroup.title save='changeTitle'}}
    </h2>
  </span>
  <span class='info'>
    {{t 'learnerGroups.members'}}: {{learnerGroup.usersOnlyAtThisLevel.length}}
  </span>
</div>
