<div class='detail-title'>
  {{t 'learnerGroups.members'}} ({{get (await users) 'length'}})
</div>
{{#if (get (await users) 'length')}}
  <div class="detail-actions">
    {{one-way-input
      value=filter
      update=(action (mut filter))
      placeholder=(t 'groupMembers.filterPlaceholder')
    }}
  </div>
  <div class='resultslist'>
    <div class='resultslist-list'>
      <table>
        <thead>
          <tr>
            <th class='text-left' colspan=1></th>
            {{#sortable-th
              colspan=2
              click=(action 'sortBy' 'firstName')
              sortedBy=(or (eq sortBy 'firstName') (eq sortBy 'firstName:desc'))
              sortedAscending=sortedAscending
            }}{{t 'user.firstName'}}{{/sortable-th}}
            {{#sortable-th
              colspan=2
              click=(action 'sortBy' 'lastName')
              sortedBy=(or (eq sortBy 'lastName') (eq sortBy 'lastName:desc'))
              sortedAscending=sortedAscending
            }}{{t 'user.lastName'}}{{/sortable-th}}
            <th class='text-left' colspan=2>{{t 'general.campusId'}}</th>
            <th class='text-left' colspan=5>{{t 'general.email'}}</th>
            {{#if isEditing}}
              {{#sortable-th
                colspan=2
                click=(action 'sortBy' 'lowestGroupInTreeTitle')
                sortedBy=(or (eq sortBy 'lowestGroupInTreeTitle') (eq sortBy 'lowestGroupInTreeTitle:desc'))
                sortedAscending=sortedAscending
              }}{{t 'general.groupName'}}{{/sortable-th}}
              <th class='text-left' colspan=1>{{t 'general.actions'}}</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each (sort-by sortBy (await filteredUsers)) as |user|}}
            <tr class="{{unless user.enabled 'disabled-user-account'}}">
              <td class='text-left' colspan=1>
                {{#if user.enabled}}
                  {{#if isEditing}}
                    {{one-way-checkbox
                      checked=(contains user.content selectedUsers)
                      update=(action 'toggleUserSelection' user.content)
                    }}
                  {{/if}}
                {{else}}
                  {{fa-icon 'user-times' title=(t 'general.disabled') class='error'}}
                {{/if}}
              </td>
              <td class='text-left' colspan=2>{{user.firstName}}</td>
              <td class='text-left' colspan=2>{{user.lastName}}</td>
              <td class='text-left' colspan=2>{{user.campusId}}</td>
              <td class='text-left' colspan=5>{{user.email}}</td>
              {{#if isEditing}}
                <td class='text-left' colspan=2>
                  {{#liquid-if (is-fulfilled user.lowestGroupInTree)}}
                    {{get (await user.lowestGroupInTree) 'title'}}
                  {{else}}
                    {{fa-icon 'spinner' spin=true}}
                  {{/liquid-if}}
                </td>
                <td>
                  {{#if (contains user.content usersBeingMoved)}}
                    {{fa-icon 'spinner' spin=true}}
                  {{else if user.enabled}}
                    {{#if (not-eq (get (await user.lowestGroupInTree) 'id') learnerGroupId)}}
                      {{fa-icon
                        'plus'
                        class='yes clickable'
                        title=(t 'learnerGroups.moveToGroup' groupTitle=learnerGroupTitle)
                        click=(perform addSingleUser user.content)
                      }}
                    {{else}}
                      {{fa-icon
                        'minus'
                        class='no clickable'
                        title=(t 'learnerGroups.removeLearnerToCohort' cohort=cohortTitle)
                        click=(perform removeSingleUser user.content)
                      }}
                    {{/if}}
                  {{/if}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#if (gt selectedUsers.length 0) class='vertical'}}
    <button class='done text' {{action (perform addSelectedUsers)}}>{{t 'learnerGroups.moveToGroup' groupTitle=learnerGroupTitle}}</button>
    <button class='cancel text' {{action (perform removeSelectedUsers)}}>{{t 'learnerGroups.removeLearnerToCohort' cohort=cohortTitle}}</button>
  {{/if}}
{{/if}}
