<p class='learnergroup-calendar-filter-options'>
  <span class='filter' data-test-learnergroup-calendar-toggle-subgroup-events>
    {{toggle-yesno yes=showSubgroupEvents toggle=(action (mut showSubgroupEvents))}}
    <label onclick={{toggle 'showSubgroupEvents' this}}>{{t 'general.showSubgroupEvents'}}</label>
  </span>
</p>
<ul class='inline learnergroup-calendar-time-picker'>
  <li class='clickable' {{action 'goBack'}}>{{fa-icon 'backward'}}</li>
  <li class='clickable' {{action 'gotoToday'}}>{{t 'general.today'}}</li>
  <li class='clickable' {{action 'goForward'}}>{{fa-icon 'forward'}}</li>
</ul>

<div class='ilios-calendar'>
  {{ilios-calendar-week
    calendarEvents=(await calendarEvents)
    date=selectedDate
    areEventsSelectable=false
    areDaysSelectable=false
  }}
</div>
<span class="loding-indicator {{if (is-fulfilled calendarEvents) 'loaded'}}">{{loading-spinner}} {{t 'general.loadingEvents'}}...</span>
