<div class="live-search">
  <div class="control">
    {{input type="search" value=searchTerms placeholder=placeholder}}
    <button {{bind-attr title=buttonTitle}} {{action 'search'}} type="submit">
      {{fa-icon 'search'}}
    </button>
    {{#if searchTerms.length}}
      <button class='close' {{action 'clear'}}>
        {{fa-icon 'close'}}
      </button>
    {{/if}}
  </div>
  {{#if showMoreInputPrompt}}
    <ul class='results'>
      <li>{{t 'general.moreInputRequiredPrompt'}}</li>
    </ul>
  {{else}}
    {{#if sortedSearchResults.length}}
      <ul class='results'>
        {{#each result in sortedSearchResults}}
          {{#if result.isActive}}
            <li class='active' {{action 'add' result.targetObject}}>{{fa-icon 'plus-circle' classNames='add'}} {{result.title}}</li>
          {{else}}
            <li class='inactive' >{{fa-icon 'circle'}} {{result.title}}</li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}
</div>
