<div class="live-search">
  {{search-box value=searchTerms placeholder=placeholder}}
  {{#if searching}}
    <ul class='results'>
      <li>{{t 'general.currentlySearchingPrompt'}}</li>
    </ul>
  {{else}}
    {{#if showMoreInputPrompt}}
      <ul class='results'>
        <li>{{t 'general.moreInputRequiredPrompt'}}</li>
      </ul>
    {{else}}
      {{#if sortedSearchResults.length}}
        <ul class='results'>
          {{#each result in sortedSearchResults}}
            {{#if result.isActive}}
              <li class='active' {{action 'add' result.targetObject}}>{{result.title}}</li>
            {{else}}
              <li class='inactive' > {{result.title}}</li>
            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        {{#if searchReturned}}
          <ul class='results'>
            <li>{{t 'general.noSearchResultsPrompt'}}</li>
          </ul>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
