{{#if targetItemTitle}}
  <h2>{{t 'mesh.targetItemTitle' title=targetItemTitle}}</h2>
{{/if}}
<ul class='removable-list'>
  {{#each sortedTerms as |term|}}
    <li {{action 'remove' term}}>{{term.name}} {{fa-icon 'remove'}}</li>
  {{/each}}
</ul>
{{search-box placeholder=placeholder liveSearch=false search='search' clear='clear'}}

{{#if searching}}
  <ul class='results'>
    <li>{{t 'general.currentlySearchingPrompt'}}</li>
  </ul>
{{else}}
  {{#if sortedSearchResults.length}}
    <div class='selectable-list'>
      <ul class='mesh-search-results'>
        {{#each sortedSearchResults as |term|}}
          <li class="{{unless term.isActive 'disabled'}}" {{action 'add' term}}>{{term.name}}</li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    {{#if searchReturned}}
      <ul class='results'>
        <li>{{t 'general.noSearchResultsPrompt'}}</li>
      </ul>
    {{/if}}
  {{/if}}
{{/if}}
