{{#if targetItemTitle}}
  <h2>{{t 'mesh.targetItemTitle' title=targetItemTitle}}</h2>
{{/if}}
<ul class='removable-list selected-mesh-terms'>
  {{#each sortedTerms as |term|}}
    <li {{action 'remove' term}}>
      <div class="content">
        <span class="descriptor-name">{{term.name}}</span>
        <span class="descriptor-id">
          {{term.id}}
          {{#if term.trees}}
            - {{term.trees.lastObject.treeNumber}}
          {{/if}}
        </span>
      </div>
      {{fa-icon 'remove'}}
      </li>
  {{/each}}
</ul>
{{search-box placeholder=placeholder liveSearch=false search='search' clear='clear'}}

{{#if searching}}
  <ul class='results'>
    <li>{{t 'general.currentlySearchingPrompt'}}</li>
  </ul>
{{else}}
  {{#if searchResults.length}}
    <div class='selectable-list'>
      <ul class='mesh-search-results'>
        {{#each searchResults as |term|}}
          <li class="{{unless term.isActive 'disabled'}}" {{action 'add' term}}>
            <span class="descriptor-name">{{term.name}}</span>
            <span class="descriptor-id">
              {{term.id}}
              {{#if term.trees }}
                - {{term.trees.lastObject.treeNumber}}
              {{/if}}
            </span>
            <ul class="mesh-concepts">
              {{#each term.concepts as |concept| }}
                {{#if concept.scopeNote }}
                  <li class="{{unless term.isActive 'disabled'}}">{{concept.scopeNote}}</li>
                {{/if}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
      {{#if hasMoreSearchResults }}
          <button {{action 'searchMore'}}>{{t 'general.showMore' }}</button>
      {{/if}}
    </div>
  {{else}}
    {{#if searchReturned}}
      <ul class='results'>
        <li>{{t 'general.noSearchResultsPrompt'}}</li>
      </ul>
    {{/if}}
  {{/if}}
{{/if}}
