<div class="modal-dialog">
  {{#if openDialogText}}
    <div class='modal-open' {{action 'toggleVisibility'}}>{{openDialogText}}</div>
  {{else}}
    <button {{action 'toggleVisibility'}}>{{openDialogButtonText}}</button>
  {{/if}}
  <div class="modal-window {{if showModal 'visible'}}">
    <div class="modal-inner">
      <div class='modal-close' {{action 'toggleVisibility'}}>{{fa-icon 'times-circle'}}</div>
      <h1>{{title}}</h1>
      {{yield}}
    </div>
  </div>
</div>
