<h1 class="name">
  {{user.fullName}}
</h1>

{{#if (await user.isStudent)}}
  <span class="is-student"><h2>{{t "general.student"}}</h2></span>
{{/if}}

<div class="blocks">
  {{user-profile-roles
    user=user
    isManageable=false
    setIsManaging=nothing
  }}

  <div class="small-component" data-test-info>
    <div>
      <label>{{t "general.primarySchool"}}:</label>
      {{#if (await user.school)}}
        {{get (await user.school) "title"}}
      {{else}}
        {{t "general.unassigned"}}
      {{/if}}
    </div>
    <div>
      <label>{{t "general.primaryCohort"}}:</label>
      {{#if (await user.primaryCohort)}}
        {{get (await user.primaryCohort) "title"}}
      {{else}}
        {{t "general.unassigned"}}
      {{/if}}
    </div>
    <div>
      <label>{{t "general.secondaryCohorts"}}:</label>
      {{#if (get (await user.secondaryCohorts) "length")}}
        <ul class="secondary-cohorts details-list">
          {{#each (sort-by "title" (await user.secondaryCohorts)) as |cohort|}}
            <li>
              <span class="title">{{cohort.title}} </span>
              <span class="content">{{cohort.programYear.program.title}}</span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{t "general.unassigned"}}
      {{/if}}
    </div>
  </div>

  {{user-profile-permissions
    user=user
  }}
  {{user-profile-learnergroups user=user}}
</div>

<section class="token-maintenance">
  <h3>{{t "general.manageAPITokens"}}</h3>
  <p>{{t "general.tokenInfo" apiDocsUrl=apiDocsUrl}}</p>
  {{#unless (or showInvalidateTokens showCreateNewToken)}}
    <button
      class="new-token done text"
      onclick={{action toggleShowCreateNewToken}}
      data-test-show-create-new-token
    >
      {{t "general.createNew"}}
    </button>
    <button
      class="invalidate-tokens cancel text"
      onclick={{action toggleShowInvalidateTokens}}
    >
      {{t "general.invalidateTokens"}}
    </button>
  {{else}}
    {{#if showCreateNewToken}}
      {{#if generatedJwt}}
        <div class="new-token-result">
          <h3>{{t "general.newToken"}}:</h3>
          <input readonly value={{generatedJwt}}>
          {{#copy-button success="tokenCopied" clipboardText=generatedJwt}}
            {{fa-icon "copy"}}
          {{/copy-button}}
          <button {{action (pipe toggleShowCreateNewToken (action "reset"))}}
            class="bigcancel"
            data-test-result-reset
          >
            {{fa-icon "times"}}
          </button>
        </div>
      {{else}}
        <div class="new-token-form">
          <label>{{t "general.validUntil"}}</label>
          {{pikaday-input
            size=10
            value=expiresAt
            maxDate=maxDate
            minDate=minDate
            format="YYYY-MM-DD"
            onSelection=(action "selectExpiresAtDate")
          }}
          <button {{action (perform createNewToken)}} 
            class="bigadd"
            data-test-new-token-create
          >
            {{#if createNewToken.isRunning}}
              {{loading-spinner}}
            {{else}}
              {{fa-icon "check"}}
            {{/if}}
          </button>
          <button {{action (pipe toggleShowCreateNewToken (action "reset"))}}
            class="bigcancel"
          >
            {{fa-icon "times"}}
          </button>
        </div>
      {{/if}}
    {{/if}}
    {{#if showInvalidateTokens}}
      <div class="invalidate-tokens-form">
        <h3>{{t "general.invalidateTokens"}}</h3>
        <p>{{t "general.invalidateTokensConfirmation"}}</p>
        <button class="done text" {{action (perform invalidateTokens)}}>
          {{#if invalidateTokens.isRunning}}
            {{loading-spinner}}
          {{else}}
            {{t "general.yes"}}
          {{/if}}
        </button>
        <button class="cancel text" {{action toggleShowInvalidateTokens}}>{{t "general.cancel"}}</button>
      </div>
    {{/if}}
  {{/unless}}
</section>
