<div class="new-result-title">{{t 'general.newCourse'}}</div>

<div class="detail-content" data-test-new-course>
  <label class="form-col form-col-12">
    <div class="form-label">{{t 'general.title'}}:</div>

    <div class="form-data form-data-text form-input-row">
      {{one-way-input
        data-test-title
        value=title
        update=(action (mut title))
        onenter=(action 'save')
        onescape=(action 'cancel')
        disabled=isSaving
        focusOut=(action 'addErrorDisplayFor' 'title')
        keyDown=(action 'addErrorDisplayFor' 'title')
        placeholder=(t 'general.courseTitlePlaceholder')
      }}
      {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
        <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
      {{/if}}
    </div>
  </label>

  <label class="form-col form-col-12">
    <div class="form-label">{{t 'general.academicYear'}}:</div>
    <div class="form-data form-data-select form-input-row new-course-year">
      <select onchange={{action "setYear" value="target.value"}} data-test-year>
        {{#each years as |year|}}
          <option value={{year}} selected={{is-equal year selectedYear}}>
            {{year}} - {{inc year}}
          </option>
        {{/each}}
      </select>
    </div>
  </label>

  <div class="form-col-6 form-data-submit">
    <button class='done text' {{action 'save'}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
  </div>
</div>
