{{#unless loadAttr.isRunning}}
  <section class='new-result form-container'>
    <div class="new-result-title">{{t 'general.newCurriculumInventoryReport'}}</div>
    <div class="detail-content">
      <div class="form-col form-col-12 name">
        <label class="form-label">{{t 'general.name'}}:</label>
        <div class="form-data form-data-text form-input-row">
          {{one-way-input
            value=name
            update=(action (mut name))
            onenter=(action 'save')
            onescape=(action 'cancel')
            disabled=isSaving
            focusOut=(action 'addErrorDisplayFor' 'name')
            keyDown=(action 'addErrorDisplayFor' 'name')
            placeholder=(t 'general.reportNamePlaceholder')
          }}
          {{#if (and (v-get this 'name' 'isInvalid') (is-in showErrorsFor 'name'))}}
            <span class="validation-error-message">{{v-get this 'name' 'message'}}</span>
          {{/if}}
        </div>
      </div>

      <div class="form-col form-col-12 description">
        <label class="form-label">{{t 'general.description'}}:</label>
        <div class="form-data form-data-text form-input-row">
          <textarea
            value={{description}}
            oninput={{action (mut description) value="target.value"}}
            disabled={{if isSaving true}}
            placeholder={{t 'general.reportDescriptionPlaceholder'}}
          ></textarea>
        </div>
      </div>

      <div class="form-col form-col-12 program">
        <label class="form-label">{{t 'general.program'}}:</label>
        <div class="form-data form-data-text form-input-row">
          {{currentProgram.title}}
        </div>
      </div>

      <div class="form-col form-col-12 academic-year">
        <label class="form-label">{{t 'general.academicYear'}}:</label>
        <div class="form-data form-data-text form-input-row">
          {{one-way-select
            value=selectedYear
            options=years
            optionValuePath="id"
            optionLabelPath="title"
            update=(action (mut selectedYear))}}
        </div>
      </div>

      <div class="form-col-6 form-data-submit">
        <button class='done text' {{action 'save'}}>
          {{#if isSaving}}
            {{fa-icon 'spinner' spin=true}}
          {{else}}
            {{t 'general.done'}}
          {{/if}}
        </button>
        <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
      </div>
    </div>
  </section>
{{/unless}}
