{{! template-lint-disable attribute-indentation }}
<div class="title">{{t "general.newReport"}}</div>
<div class="new-myreport-content" data-test-new-report>
  <p data-test-title>
    <label>{{t "general.reportTitle"}}:</label>
    <input
      type="text"
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      disabled={{save.isRunning}}
      onkeyup={{action "addErrorDisplayFor" "title"}}
      data-test-report-title
    >
    {{#if (and (v-get this "title" "isInvalid") (is-in showErrorsFor "title"))}}
      <span class="validation-error-message">{{v-get this "title" "message"}}</span>
    {{/if}}
  </p>
  <p data-test-school>
    <label>{{t "general.for"}}</label>
    {{#if (is-fulfilled currentSchool)}}
      <select
        onchange={{perform changeSchool value="target.value"}}
        data-test-report-school
      >
        <option value="null" selected={{is-equal null (await currentSchool)}}>
          {{t "general.allSchools"}}
        </option>
        {{#each (await schoolList) as |school|}}
          <option
            value={{school.id}}
            selected={{is-equal school.id (get (await currentSchool) "id")}}
          >
            {{school.title}}
          </option>
        {{/each}}
      </select>
    {{/if}}
  </p>
  <p data-test-subject>
    <label>{{t "general.all"}}</label>
    <select
      onchange={{action "changeSubject" value="target.value"}}
      data-test-report-subject
    >
      {{#each subjectList as |o|}}
        <option
          value={{o.value}}
          selected={{is-equal o.value currentSubject}}
        >
          {{o.label}}
        </option>
      {{/each}}
    </select>
  </p>
  <p data-test-object>
    <label>{{t "general.associatedWith"}}</label>
    <select
      onchange={{action "changePrepositionalObject" value="target.value"}}
      data-test-report-object-type
    >
      <option value="" selected={{is-equal null currentPrepositionalObject}}>
        {{t "general.anything"}}
      </option>
      {{#each prepositionalObjectList as |o|}}
        <option
          value={{o.value}}
          selected={{is-equal o.value currentPrepositionalObject}}
        >
          {{o.label}}
        </option>
      {{/each}}
    </select>
  </p>
  {{#if currentPrepositionalObject class="crossFade"}}
    {{#if (contains currentPrepositionalObject (w "course session"))}}
      <select
        onchange={{action "changeSelectedYear" value="target.value"}}
        data-test-report-year-filter
      >
        <option value="" selected={{is-empty selectedYear}}>{{t "general.allAcademicYears"}}</option>
        {{#each (sort-by "academicYearTitle:desc" (await allAcademicYears)) as |year|}}
          <option value={{year.id}} selected={{is-equal year selectedYear}}>
            {{year.academicYearTitle}}
          </option>
        {{/each}}
      </select>
    {{/if}}
    <p>
      <label>{{t "general.whichIs"}}</label>
      {{#if (is-equal currentPrepositionalObject "instructor")}}
        {{#if selectedUser}}
          <ul class="removable-list tag-list">
            <li {{action "changePrepositionalObjectId" null}}>{{selectedUser.fullName}} {{fa-icon "times"}}</li>
          </ul>
        {{else}}
          {{user-search
            addUser="chooseInstructor"
          }}
        {{/if}}
      {{else if (is-equal currentPrepositionalObject "mesh term")}}
        {{#if selectedMeshTerm}}
          <ul class="removable-list tag-list details-list">
            <li>
              <div class="content">
                <span class="title">{{selectedMeshTerm.name}}</span>
                <span class="details">
                  {{selectedMeshTerm.id}}
                  {{#if selectedMeshTerm.trees}}
                    - {{selectedMeshTerm.trees.lastObject.treeNumber}}
                  {{/if}}
                </span>
              </div>
              {{fa-icon "times"}}
            </li>
          </ul>
        {{else}}
          {{mesh-manager
            add="chooseMeshTerm"
            editable=true
          }}
        {{/if}}
      {{else}}
        {{#if (is-fulfilled filteredPrepositionalObjectIdList) class="crossFade"}}
          <select
            onchange={{action "changePrepositionalObjectId" value="target.value"}}
            data-test-report-object
          >
            {{#each
              (sort-by "active:desc" "label" (await filteredPrepositionalObjectIdList))
              as |o|
            }}
              <option
                value={{o.value}}
                selected={{is-equal o.value currentPrepositionalObjectId}}
              >
                {{await o.label}}
                {{#unless o.active}}
                  ({{t "general.inactive"}})
                {{/unless}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{loading-spinner}}
        {{/if}}
      {{/if}}
    </p>
  {{/if}}
  <div class="input-buttons">
    <button class="done text" onclick={{perform save}} data-test-report-save>
      {{#if save.isRunning}}
        {{loading-spinner}}
      {{else}}
        {{t "general.save"}}
      {{/if}}
    </button>
    <button class="cancel text" {{action close}}>{{t "general.cancel"}}</button>
  </div>
</div>
