<div class="title">{{t 'general.newSession'}}</div>

<div class="new-session-content">
  <div class="item">
    <label>{{t 'general.title'}}:</label>
    <input
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      onfocusout={{action 'addErrorDisplayFor' 'title'}}
      class={{if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title')) 'has-error'}}
    >
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  </div>

  <div class="item">
    <label>{{t 'general.sessionType'}}:</label>
    {{#if (is-fulfilled activeSessionTypes)}}
      <select onchange={{action (mut selectedSessionTypeId) value="target.value"}}>
        {{#each (sort-by 'title' (await activeSessionTypes)) as |sessionType|}}
          <option value="{{sessionType.id}}" selected={{eq sessionType.id (get (await selectedSessionType) 'id')}}>
            {{sessionType.title}}
          </option>
        {{/each}}
      </select>
    {{else}}
      {{fa-icon 'spinner' spin=true}}
    {{/if}}
  </div>

  <div class="buttons">
    <button class='done text' {{action (perform saveNewSession)}}>
      {{#if saveNewSession.isRunning}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.save'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
  </div>
</div>
