<div class="form-col form-col-12">
  <div class="form-label">{{t 'general.title'}}:</div>
  <div class="form-data form-data-text form-input-row">
    <input
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      disabled={{isSaving}}
      onfocusout={{action 'addErrorDisplayFor' 'title'}}
      placeholder={{t 'general.learnerGroupTitlePlaceholder'}}
    >
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  </div>
</div>
{{#if fillModeSupported}}
  <div class="form-col form-col-radiogroup">
    <div class="form-label">{{t 'general.populateGroup'}}:</div>
    <div class="form-data form-data-text form-input-row clickable" onclick={{toggle 'fillWithCohort' this}}>
      <input checked={{fillWithCohort}} type='radio'> {{t 'general.yesPopulateGroup'}}
    </div>
    <div class="form-data form-data-text form-input-row clickable" onclick={{toggle 'fillWithCohort' this}}>
      <input checked={{not fillWithCohort}} type='radio'> {{t 'general.noPopulateGroup'}}
    </div>
  </div>
{{/if}}
<div class="form-col-6 form-data-submit">
  <button class='done text' {{action 'save'}}>
    {{#if isSaving}}
      {{fa-icon 'spinner' spin=true}}
    {{else}}
      {{t 'general.done'}}
    {{/if}}
  </button>
  <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
</div>
