<section class='newprogram'>
  <div class="newprogram-title">{{t 'programs.new'}}</div>
  <div class="detail-content">
    <label class="inline-label-data-block">
      {{t 'general.title'}}
      {{input value=program.title placeholder=placeholder}}
    </label>
    <button class='cancel' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
    <button class='done' {{action 'save'}}>{{t 'general.done'}}</button>
</div>
</section>
