<label>{{t 'schools.newDomain'}}</label>
{{one-way-input
  value=title
  update=(action (mut title))
  onenter=(perform save)
  onescape=(pipe (action 'removeErrorDisplayFor' 'title') (action (mut title) ''))
  focusOut=(action 'addErrorDisplayFor' 'title')
  keyDown=(action 'addErrorDisplayFor' 'title')
  placeholder=(t 'general.title')
}}
<button class='save text' {{action (perform save)}}>
  {{#if save.isRunning}}
    {{fa-icon 'spinner' spin=true}}
  {{else}}
    {{t 'general.add'}}
  {{/if}}
</button>
{{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
  <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
{{/if}}
