<section class='newinstructorgroup'>
  <div class="newinstructorgroup-title">{{t 'instructorGroups.new'}}</div>
  <div class="detail-content">
    <label class="inline-label-data-block">
      {{t 'general.title'}}
      {{input value=instructorGroup.title placeholder=placeholder}}
    </label>
    <button class='cancel' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
    <button class='done' {{action 'save'}}>{{t 'general.done'}}</button>
</div>
</section>
