<div class="new-result-title">{{t 'courses.new'}}</div>
<div class="detail-content">
  <label class="form-col form-col-12">
    <div class="form-label">{{t 'general.title'}}:</div>
    <div class="form-data form-data-text form-input-row">
      {{input value=course.title placeholder=placeholder}}
    </div>
  </label>
  <label class="form-col form-col-12">
    <div class="form-label">{{t "general.academicYear"}}:</div>
    <div class="form-data form-data-select form-input-row new-course-year">
      {{#action-menu title=currentAcademicYear icon=false}}
        {{#each years as |year|}}
          <li {{action 'setYear' year}}>{{year.academicYearTitle}}</li>
        {{/each}}
      {{/action-menu}}
    </div>
  </label>
  <div class="form-col-6 form-data-submit">
    <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
    <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
  </div>
</div>
