<section class='newcourse'>
  <div class="newcourse-title">{{t 'courses.new'}}</div>
  <div class="detail-content">
    <table>
      <tr>
        <td colspan=2>
          <label class="inline-label-data-block">
            {{t 'general.title'}}
            {{input value=course.title placeholder=placeholder}}
          </label>
        </td>
        <td>
          <label class="inline-label-data-block">
           {{t 'general.academicYear'}}
           {{#action-menu title=currentAcademicYear icon=false}}
           {{#each year in years}}
           <li {{action 'setYear' year}}>{{year.academicYearTitle}}</li>
           {{/each}}
           {{/action-menu}}
         </label>
       </td>
       <td>
        <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
        <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
      </td>
    </tr>
  </table>
</div>
</section>
