<h4>{{t 'general.newProgram'}}</h4>
<div class='form'>
  <div class="item newprogram-title">
    <label>{{t 'general.title'}}:</label>
    <input
      type="text"
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      disabled={{isSaving}}
      onkeyup={{action 'addErrorDisplayFor' 'title'}}
      placeholder={{t 'general.programTitlePlaceholder'}}
    >
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  </div>
  <div class="buttons">
    <button class='done text' {{action 'save'}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
  </div>
</div>
