<div class="new-result-title">{{t 'general.newUser'}}</div>

<div class='new-user-form'>
  <div class='choose-form-type'>
    <label>{{t 'general.createNew'}}:</label>
    {{click-choice-buttons
      buttonContent1=(t 'general.nonStudent')
      buttonContent2=(t 'general.student')
      firstChoicePicked=nonStudentMode
      toggle=(action (mut nonStudentMode))
    }}
  </div>
  <div class='item'>
    <label>{{t 'general.firstName'}}:</label>
    {{one-way-input
      value=firstName
      update=(action (mut firstName))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'firstName')
    }}
    {{#if (and (v-get this 'firstName' 'isInvalid') (is-in showErrorsFor 'firstName'))}}
      <span class="message error">{{v-get this 'firstName' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.middleName'}}:</label>
    {{one-way-input
      value=middleName
      update=(action (mut middleName))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'middleName')
    }}
    {{#if (and (v-get this 'middleName' 'isInvalid') (is-in showErrorsFor 'middleName'))}}
      <span class="message error">{{v-get this 'middleName' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.lastName'}}:</label>
    {{one-way-input
      value=lastName
      update=(action (mut lastName))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'lastName')
    }}
    {{#if (and (v-get this 'lastName' 'isInvalid') (is-in showErrorsFor 'lastName'))}}
      <span class="message error">{{v-get this 'lastName' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.campusId'}}:</label>
    {{one-way-input
      value=campusId
      update=(action (mut campusId))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'campusId')
    }}
    {{#if (and (v-get this 'campusId' 'isInvalid') (is-in showErrorsFor 'campusId'))}}
      <span class="message error">{{v-get this 'campusId' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.otherId'}}:</label>
    {{one-way-input
      value=otherId
      update=(action (mut otherId))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'otherId')
    }}
    {{#if (and (v-get this 'otherId' 'isInvalid') (is-in showErrorsFor 'otherId'))}}
      <span class="message error">{{v-get this 'otherId' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.email'}}:</label>
    {{one-way-input
      value=email
      update=(action (mut email))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'email')
    }}
    {{#if (and (v-get this 'email' 'isInvalid') (is-in showErrorsFor 'email'))}}
      <span class="message error">{{v-get this 'email' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.phone'}}:</label>
    {{one-way-input
      value=phone
      update=(action (mut phone))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'phone')
    }}
    {{#if (and (v-get this 'phone' 'isInvalid') (is-in showErrorsFor 'phone'))}}
      <span class="message error">{{v-get this 'phone' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.username'}}:</label>
    {{one-way-input
      value=username
      update=(action (mut username))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'username')
    }}
    {{#if (and (v-get this 'username' 'isInvalid') (is-in showErrorsFor 'username'))}}
      <span class="message error">{{v-get this 'username' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.password'}}:</label>
    {{one-way-input
      value=password
      update=(action (mut password))
      onenter=(perform save)
      onescape=(action this.attrs.close)
      focusOut=(action 'addErrorDisplayFor' 'password')
    }}
    {{#if (and (v-get this 'password' 'isInvalid') (is-in showErrorsFor 'password'))}}
      <span class="message error">{{v-get this 'password' 'message'}}</span>
    {{/if}}
  </div>
  <div class='item'>
    <label>{{t 'general.primarySchool'}}:</label>
    {{#if (and (is-fulfilled schools) (is-fulfilled bestSelectedSchool))}}
      <select onchange={{action "setSchool" value="target.value"}}>
        {{#each (sort-by 'title' (await schools)) as |school|}}
          <option value={{school.id}} selected={{eq school (await bestSelectedSchool)}}>
            {{school.title}}
          </option>
        {{/each}}
      </select>
    {{else}}
      {{fa-icon 'spinner' spin=true}}
    {{/if}}
  </div>
  {{#if (and (not nonStudentMode) (is-fulfilled bestSelectedSchool)) class='vertical'}}
    <div class='item last'>
      <label>{{t 'general.primaryCohort'}}:</label>
      {{#if (and loadCohorts.isIdle (is-fulfilled bestSelectedCohort))}}
        <select onchange={{action "setPrimaryCohort" value="target.value"}}>
          {{#each (sort-by 'title' cohorts) as |cohort|}}
            <option value={{cohort.id}} selected={{eq cohort.id (get (await bestSelectedCohort) 'id')}}>
              {{cohort.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{fa-icon 'spinner' spin=true}}
      {{/if}}
    </div>
  {{/if}}

  <div class='buttons'>
    <button class='done text' {{action (perform save)}} disabled={{or save.isRunning (is-pending bestSelectedCohort)  (and (not nonStudentMode) (is-pending bestSelectedSchool))}}>
      {{#if save.isRunning}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action (action this.attrs.close)}}>{{t 'general.cancel'}}</button>
  </div>
</div>
