<div class="new-objective-title">{{t 'general.newObjective'}}</div>

<div class="new-objective-form">
  <div class="form-col form-col-12">
    <label class="form-label">{{t 'general.description'}}:</label>

    <div class="form-data form-data-text form-input-row">
      {{html-editor
        content=title
        update=(action "changeTitle")
      }}
      {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
        <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
      {{/if}}
    </div>
  </div>

  <div class="form-col-6 form-data-submit">
    <button disabled={{or isSaving (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}} class='done text' {{action 'save'}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action this.attrs.cancel}}>{{t 'general.cancel'}}</button>
  </div>
</div>
