<section class='newinstructorgroup new-instructor-group new-result form-container'>
    <div class="new-result-title">{{t 'instructorGroups.new'}}</div>
    <div class="detail-content">
	  <div class="form-col-12">
	    <label class="form-label">{{t 'general.title'}}</label>
	    <div class="form-data newinstructorgroup-title">{{input value=title placeholder=placeholder}}</div>
	  </div>
	  <div class="form-col-6 form-data-submit">
	    <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
	    <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
	  </div>
    </div>
</section>
