<section class='new-myreport'>
    <div class="form-title">{{t 'dashboard.newReport'}}</div>
    <div class="detail-content">
        <label>{{t 'general.title'}}</label>
        {{input value=myreport.title placeholder=placeholder}}
        <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
        <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
    </div>
</section>
