<div class="form-container">
  <div class="form-col-12">
    <label class="form-label">{{t 'general.displayName'}}:</label>
    <div class="form-data">
      {{one-way-input
        value=title
        update=(action (mut title))
        disabled=isSaving
        focusOut=(action 'addErrorDisplayFor' 'title')
      }}
      {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
        <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
      {{/if}}
    </div>
  </div>

  <div class="form-col-12">
    <label class="form-label">{{t 'general.status'}}:</label>
    <div class="form-data">
      <select  onchange={{action "changeStatus" value="target.value"}}>
        {{#each (await learningMaterialStatuses) as |lmStatus|}}
          <option value={{lmStatus.id}} selected={{is-equal lmStatus status}}>
            {{lmStatus.title}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-col-12">
    <label class="form-label">{{t 'general.owner'}}:</label>
    <div class="form-data"><span class='owninguser'>{{owner.fullName}}</span></div>
  </div>

  <div class="form-col-12">
    <label class="form-label">{{t 'general.contentAuthor'}}:</label>
    <div class="form-data">
      {{one-way-input
        value=originalAuthor
        update=(action (mut originalAuthor))
        disabled=isSaving
        focusOut=(action 'addErrorDisplayFor' 'originalAuthor')
      }}
      {{#if (and (v-get this 'originalAuthor' 'isInvalid') (is-in showErrorsFor 'originalAuthor'))}}
        <span class="validation-error-message">{{v-get this 'originalAuthor' 'message'}}</span>
      {{/if}}
    </div>
  </div>

  <div class="form-col-12">
    <label class="form-label">{{t 'general.userRole'}}:</label>
    <div class="form-data">
      <select  onchange={{action "changeUserRole" value="target.value"}}>
        {{#each (await learningMaterialUserRoles) as |role|}}
          <option value={{role.id}} selected={{is-equal role userRole}}>
            {{role.title}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  {{#if isLink}}
    <div class="form-col-12">
      <label class="form-label">{{t 'general.url'}}:</label>
      <div class="form-data">
        {{one-way-input
          value=link
          update=(action (mut link))
          disabled=isSaving
          focusOut=(action 'addErrorDisplayFor' 'link')
          keyDown=(action 'addErrorDisplayFor' 'link')
        }}
        {{#if (and (v-get this 'link' 'isInvalid') (is-in showErrorsFor 'link'))}}
          <span class="validation-error-message">{{v-get this 'link' 'message'}}</span>
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if isCitation}}
    <div class="form-col-12">
      <label class="form-label">{{t 'general.citation'}}:</label>
      <div class="form-data citation">
        {{textarea value=citation focus-out=(action 'addErrorDisplayFor' 'citation') key-press=(action 'addErrorDisplayFor' 'citation') }}
        {{#if (and (v-get this 'citation' 'isInvalid') (is-in showErrorsFor 'citation'))}}
          <span class="validation-error-message">{{v-get this 'citation' 'message'}}</span>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="form-col-12">
    <label class="form-label">{{t 'general.description'}}:</label>
    <div class="form-data">
      {{html-editor
        content=description
        update=(action 'changeDescription')
      }}
    </div>
  </div>

  {{#if isFile}}
    <div class="form-col-12">
      <label class="form-label">{{t 'general.copyrightPermission'}}:</label>
      <div class="form-data">
        <p id="lm-copyright-agreement-text">
          {{one-way-checkbox
              checked=copyrightPermission
              update=(action (mut copyrightPermission))
          }}
          {{t 'general.copyrightAgreement'}}
        </p>
      </div>
    </div>

    {{#unless copyrightPermission}}
      <div class="form-col-12">
        <label class="form-label">{{t 'general.copyrightRationale'}}:</label>
        <div class="form-data">
          {{textarea value=copyrightRationale focus-out=(action 'addErrorDisplayFor' 'copyrightRationale') key-press=(action 'addErrorDisplayFor' 'copyrightRationale') }}
          {{#if (and (v-get this 'copyrightRationale' 'isInvalid') (is-in showErrorsFor 'copyrightRationale'))}}
            <span class="validation-error-message">{{v-get this 'copyrightRationale' 'message'}}</span>
          {{/if}}
        </div>
      </div>
    {{/unless}}

    <div class="form-col-12">
      <label class="form-label">{{t 'general.file'}}:</label>
      <div class="form-data">
        {{file-upload
          finishedUploading=(action 'setFile')
          startUploading=(action 'startUploadingFile')
          setUploadPercentage=(action 'setFileUploadPercentage')
          setErrorMessage=(action (mut fileUploadErrorMessage))
          url=uploadPath
        }}
        {{#if showUploadStatus}}
          {{fa-icon 'spinner' spin=true}} {{fileUploadPercentage}}%
        {{else if fileHash}}
          {{fa-icon 'check' class='add'}}
        {{/if}}
        {{#if fileUploadErrorMessage}}
          <span class="validation-error-message">{{fileUploadErrorMessage}}</span>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="form-col-12 form-data-submit">
    <button class='done text' {{action 'save'}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action this.attrs.cancel}}>{{t 'general.cancel'}}</button>
  </div>
</div>
