<h4 class='title'>{{t 'programYears.new'}}</h4>

<div class='form'>
  <div class="startyear-select">
    <label>{{t 'general.academicYear'}}:</label>
    <select onchange={{action "setYear" value="target.value"}}>
      {{#each (sort-by 'value' availableAcademicYears) as |obj|}}
        <option value={{obj.value}} selected={{eq obj.value selectedYear}}>
          {{obj.label}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class='buttons'>
    <button class='done text' {{action 'save'}}>
      {{#if isSaving}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
  </div>
</div>
