{{#if isSaving}}
  <h3 class="center">
    {{fa-icon 'spinner' spin=true}}
  </h3>
{{else}}
  <label class="form-col form-col-12">
    <div class="form-label">{{t 'general.numberOfGroups'}}:</div>
    <div class="form-data form-data-text form-input-row">
      {{one-way-input
        value=numSubGroups
        update=(action (mut numSubGroups))
        onenter=(action 'save')
        onescape=(action cancel)
        disabled=isSaving
        focusOut=(action 'addErrorDisplayFor' 'numSubGroups')
        placeholder=(t 'general.numberOfGroupsToGenerate')
      }}
      {{#if (and (v-get this 'numSubGroups' 'isInvalid') (is-in showErrorsFor 'numSubGroups'))}}
        <span class="validation-error-message">{{v-get this 'numSubGroups' 'message'}}</span>
      {{/if}}
    </div>
  </label>
  <div class="form-col-6 form-data-submit">
    <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
    <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
  </div>
{{/if}}
