<section class='new-result form-container'>
  <div class="detail-content">
    {{#if multiModeSupported}}
      <div class="form-col-12">
        <label class="form-label">{{t 'general.createNew'}}:</label>
        <div class="form-data">
          {{click-choice-buttons
          buttonContent1=(t 'general.singleGroup')
          buttonContent2=(t 'general.multipleGroups')
          firstChoicePicked=singleMode
          toggle=(action (mut singleMode))
          }}
        </div>
      </div>
    {{else}}
      <div class="new-result-title">{{t 'general.newLearnerGroup'}}</div>
    {{/if}}

    {{#if singleMode}}
      {{new-learnergroup-single save=save cancel=cancel fillModeSupported=fillModeSupported}}
    {{else}}
      {{new-learnergroup-multiple generateNewLearnerGroups='generateNewLearnerGroups' cancel=cancel}}
    {{/if}}
  </div>
</section>