<section class='form-container'>
  <div class="detail-content">
    <label class="form-column form-column-100">
      <div class="form-label">{{t "general.academicYear"}}:</div>
      <div class="form-data form-data-select form-input-row">
        {{view "select"
          content=academicYears
          value=programYear.startYear
          optionValuePath='content.id'
          optionLabelPath='content.title'
        }}
      </div>
    </label>
    <label class="form-column-100 form-data-submit">
      <button class='cancel' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
      <button class='done' {{action 'save'}}>{{t 'general.done'}}</button>
    </label>
  </div>
</section>
