<h4>{{t "general.newCourse"}}</h4>

<div data-test-new-course>
  <div class="item">
    <label> {{t "general.title"}}:</label>
    <input
      class="course-title"
      data-test-title
      disabled={{this.isSaving}}
      placeholder={{t "general.courseTitlePlaceholder"}}
      type="text"
      value={{this.title}}
      oninput={{action (mut this.title) value="target.value"}}
      onkeyup={{action "addErrorDisplayFor" "title"}}>
    {{#if (and (v-get this "title" "isInvalid") (is-in this.showErrorsFor "title"))}}
      <span class="validation-error-message">
        {{v-get this "title" "message"}}
      </span>
    {{/if}}
  </div>

  <div class="item">
    <label>{{t "general.academicYear"}}:</label>
    <select data-test-year onchange={{action "setYear" value="target.value"}}>
      <option disabled selected={{is-empty this.selectedYear}} value="">
        {{t "general.selectYear"}}
      </option>
      {{#each this.years as |year|}}
        <option selected={{is-equal year this.selectedYear}} value={{year}}>
          {{year}} - {{inc year}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="buttons">
    <button
      class="done text"
      disabled={{not this.selectedYear}}
      onclick={{perform this.saveCourse}}>
      {{#if this.isSaving}}
        {{loading-spinner}}
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <button class="cancel text" onclick={{action @cancel}}>
      {{t "general.cancel"}}
    </button>
  </div>
</div>
