<h4>{{t "general.newInstructorGroup"}}</h4>
<div class="form">
  <div class="item newinstructorgroup-title">
    <label>{{t "general.title"}}:</label>
    <input
      type="text"
      value={{title}}
      oninput={{action (mut title) value="target.value"}}
      disabled={{isSaving}}
      onkeyup={{action "addErrorDisplayFor" "title"}}
      placeholder={{t "general.instructorGroupTitlePlaceholder"}}
    >
    {{#if (and (v-get this "title" "isInvalid") (is-in showErrorsFor "title"))}}
      <span class="validation-error-message">{{v-get this "title" "message"}}</span>
    {{/if}}
  </div>
  <div class="buttons">
    <button class="done text" {{action "save"}}>
      {{#if isSaving}}
        {{loading-spinner}}
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <button class="cancel text" {{action "cancel"}}>{{t "general.cancel"}}</button>
  </div>
</div>
