<section class='form-container'>
  <div class="detail-content">
    <div class="form-col-12">
      <label class="form-label">{{t "general.academicYear"}}:</label>
      <div class="form-data">
        {{view "select"
          content=academicYears
          value=programYear.startYear
          optionValuePath='content.id'
          optionLabelPath='content.title'
        }}
      </div>
    </div>
    <div class="form-col-6 form-data-submit">
      <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
      <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
    </div>
  </div>
</section>
