<div class="item">
  <label>{{t 'general.displayName'}}:</label>
  <span>
    {{one-way-input
      value=title
      update=(action (mut title))
      disabled=prepareSave.isRunning
      focusOut=(action 'addErrorDisplayFor' 'title')
    }}
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  </span>
</div>

<div class="item">
  <label>{{t 'general.status'}}:</label>
  <span>
    <select  onchange={{action (mut statusId) value="target.value"}}>
      {{#each learningMaterialStatuses as |lmStatus|}}
        <option value={{lmStatus.id}} selected={{is-equal lmStatus selectedStatus}}>
          {{lmStatus.title}}
        </option>
      {{/each}}
    </select>
  </span>
</div>

<div class="item">
  <label>{{t 'general.owner'}}:</label>
  <span class='owninguser'>{{get (await currentUser.model) 'fullName'}}</span>
</div>

<div class="item">
  <label>{{t 'general.contentAuthor'}}:</label>
  <span>
    {{one-way-input
      value=originalAuthor
      update=(action (mut originalAuthor))
      disabled=prepareSave.isRunning
      focusOut=(action 'addErrorDisplayFor' 'originalAuthor')
    }}
    {{#if (and (v-get this 'originalAuthor' 'isInvalid') (is-in showErrorsFor 'originalAuthor'))}}
      <span class="validation-error-message">{{v-get this 'originalAuthor' 'message'}}</span>
    {{/if}}
  </span>
</div>

<div class="item">
  <label>{{t 'general.userRole'}}:</label>
  <span>
    <select  onchange={{action (mut userRoleId) value="target.value"}}>
      {{#each learningMaterialUserRoles as |role|}}
        <option value={{role.id}} selected={{is-equal role selectedUserRole}}>
          {{role.title}}
        </option>
      {{/each}}
    </select>
  </span>
</div>

{{#if isLink}}
  <div class="item">
    <label>{{t 'general.url'}}:</label>
    <span>
      {{one-way-input
        value=link
        update=(action (mut link))
        disabled=prepareSave.isRunning
        focusOut=(action 'addErrorDisplayFor' 'link')
        keyDown=(action 'addErrorDisplayFor' 'link')
      }}
      {{#if (and (v-get this 'link' 'isInvalid') (is-in showErrorsFor 'link'))}}
        <span class="validation-error-message">{{v-get this 'link' 'message'}}</span>
      {{/if}}
    </span>
  </div>
{{/if}}

{{#if isCitation}}
  <div class="item">
    <label>{{t 'general.citation'}}:</label>
    <span class="citation">
      {{textarea value=citation focus-out=(action 'addErrorDisplayFor' 'citation') key-press=(action 'addErrorDisplayFor' 'citation') }}
      {{#if (and (v-get this 'citation' 'isInvalid') (is-in showErrorsFor 'citation'))}}
        <span class="validation-error-message">{{v-get this 'citation' 'message'}}</span>
      {{/if}}
    </span>
  </div>
{{/if}}

<div class="item">
  <label>{{t 'general.description'}}:</label>
  <span>
    {{html-editor
      content=description
      update=(action (mut description))
    }}
  </span>
</div>

{{#if isFile}}
  <div class="item">
    <label>{{t 'general.copyrightPermission'}}:</label>
    <span>
      <p id="lm-copyright-agreement-text">
        {{one-way-checkbox
            checked=copyrightPermission
            update=(action (mut copyrightPermission))
        }}
        {{t 'general.copyrightAgreement'}}
      </p>
    </span>
  </div>

  {{#unless copyrightPermission}}
    <div class="item">
      <label>{{t 'general.copyrightRationale'}}:</label>
      <span>
        {{textarea value=copyrightRationale focus-out=(action 'addErrorDisplayFor' 'copyrightRationale') key-press=(action 'addErrorDisplayFor' 'copyrightRationale') }}
        {{#if (and (v-get this 'copyrightRationale' 'isInvalid') (is-in showErrorsFor 'copyrightRationale'))}}
          <span class="validation-error-message">{{v-get this 'copyrightRationale' 'message'}}</span>
        {{/if}}
      </span>
    </div>
  {{/unless}}

  <div class="item">
    <label>{{t 'general.file'}}:</label>
    <span>
      {{file-upload
        finishedUploading=(action 'setFile')
        startUploading=(action 'startUploadingFile')
        setUploadPercentage=(action 'setFileUploadPercentage')
        setErrorMessage=(action (mut fileUploadErrorMessage))
        url=uploadPath
      }}
      {{#if showUploadStatus}}
        {{fa-icon 'spinner' spin=true}} {{fileUploadPercentage}}%
      {{else if fileHash}}
        {{fa-icon 'check' class='add'}}
      {{/if}}
      {{#if fileUploadErrorMessage}}
        <span class="validation-error-message">{{fileUploadErrorMessage}}</span>
      {{/if}}
    </span>
  </div>
{{/if}}

<div class="item buttons">
  <button class='done text' {{action (perform prepareSave)}}>
    {{#if prepareSave.isRunning}}
      {{fa-icon 'spinner' spin=true}}
    {{else}}
      {{t 'general.done'}}
    {{/if}}
  </button>
  <button class='cancel text' {{action cancel}}>{{t 'general.cancel'}}</button>
</div>
