<div class="title">{{t 'general.newReport'}}</div>
<div class="new-myreport-content" data-test-new-report>
  <label>{{t 'general.reportTitle'}}:</label>
  <div>
    {{one-way-input
      value=title
      update=(action (mut title))
      onescape=(action close)
      disabled=save.isRunning
      focusOut=(action 'addErrorDisplayFor' 'title')
      keyDown=(action 'addErrorDisplayFor' 'title')
      data-test-report-title=true
    }}
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  </div>
  <p>
    {{t 'general.for'}}
    {{#if (is-fulfilled currentSchool)}}
      <select onchange={{perform changeSchool value="target.value"}} data-test-report-school>
        <option value=null selected={{is-equal null (await currentSchool)}}>
          {{t 'general.allSchools'}}
        </option>
        {{#each (await schoolList) as |school|}}
          <option value={{school.id}} selected={{is-equal school.id (get (await currentSchool) 'id')}}>
            {{school.title}}
          </option>
        {{/each}}
      </select>
    {{/if}}
  </p>
  <p>
    {{t 'general.all'}}
    <select onchange={{action "changeSubject" value="target.value"}} data-test-report-subject>
      {{#each subjectList as |option|}}
        <option value={{option.value}} selected={{is-equal option.value currentSubject}}>
          {{option.label}}
        </option>
      {{/each}}
    </select>
  </p>
  <p>
    {{t 'general.associatedWith'}}
    <select onchange={{action "changePrepositionalObject" value="target.value"}} data-test-report-object-type>
      <option value='' selected={{is-equal null currentPrepositionalObject}}>
        {{t 'general.anything'}}
      </option>
      {{#each prepositionalObjectList as |option|}}
        <option value={{option.value}} selected={{is-equal option.value currentPrepositionalObject}}>
          {{option.label}}
        </option>
      {{/each}}
    </select>
  </p>
  {{#liquid-if currentPrepositionalObject class='crossFade'}}
    {{#if (contains currentPrepositionalObject (w 'course session'))}}
      <select onchange={{action 'changeSelectedYear' value="target.value"}} data-test-report-year-filter>
        <option value='' selected={{is-empty selectedYear}}>{{t 'general.allAcademicYears'}}</option>
        {{#each (sort-by 'academicYearTitle:desc' (await allAcademicYears)) as |year|}}
          <option value={{year.id}} selected={{is-equal year selectedYear}}>
            {{year.academicYearTitle}}
          </option>
        {{/each}}
      </select>
    {{/if}}
    <p>
      {{t 'general.whichIs'}}
      {{#if (is-equal currentPrepositionalObject 'instructor')}}
        {{#if selectedUser}}
          <ul class='removable-list tag-list'>
            <li {{action 'changePrepositionalObjectId' null}}>{{selectedUser.fullName}} {{fa-icon 'remove'}}</li>
          </ul>
        {{else}}
          {{user-search
            addUser='chooseInstructor'
          }}
        {{/if}}
      {{else if (is-equal currentPrepositionalObject 'mesh term')}}
        {{#if selectedMeshTerm}}
          <ul class='removable-list tag-list details-list'>
            <li>
              <div class="content">
                <span class="title">{{selectedMeshTerm.name}}</span>
                <span class="details">
                  {{selectedMeshTerm.id}}
                  {{#if selectedMeshTerm.trees}}
                    - {{selectedMeshTerm.trees.lastObject.treeNumber}}
                  {{/if}}
                </span>
              </div>
              {{fa-icon 'remove'}}
            </li>
          </ul>
        {{else}}
          {{mesh-manager
            add='chooseMeshTerm'
          }}
        {{/if}}
      {{else}}
        {{#liquid-if (is-fulfilled filteredPrepositionalObjectIdList) class='crossFade'}}
          <select onchange={{action "changePrepositionalObjectId" value="target.value"}} data-test-report-object>
            {{#each (sort-by 'active:desc' 'label' (await filteredPrepositionalObjectIdList)) as |option|}}
              <option value={{option.value}} selected={{is-equal option.value currentPrepositionalObjectId}}>
                {{await option.label}}
                {{#unless option.active}}
                  ({{t 'general.inactive'}})
                {{/unless}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{fa-icon 'spinner' spin=true}}
        {{/liquid-if}}
      {{/if}}
    </p>
  {{/liquid-if}}
  <div class="input-buttons">
    <button class='done text' onclick={{perform save}} data-test-report-save>
      {{#if save.isRunning}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.save'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action close}}>{{t 'general.cancel'}}</button>
  </div>
</div>
