<div class="objectivetitle">{{{objective.title}}}</div>

{{#if (gt (get (await competencies) "length") 0)}}
  <ul class="parent-picker">
    {{#each (sort-by "title" (await domains)) as |domain|}}
      {{#if (contains domain.id (map-by "id" (await domainsWithNoChildren)))}}
        <li {{action (if (eq domain.id objective.competency.id) "removeCurrentCompetency" "changeCompetency") domain}} class="competency-title clickable {{if (eq domain.id objective.competency.id) "selected"}}">
          <h5>
            {{#if (eq domain.id objective.competency.id)}}
              <input type="checkbox" checked>
            {{else}}
              <input type="checkbox">
            {{/if}}
            {{domain.title}}
          </h5>
        </li>
      {{else}}
        <li>
          <h5 class="competency-title {{if (contains domain.id (map-by "id" (await competenciesWithSelectedChildren))) "selected"}}">
            {{domain.title}}
          </h5>
          <ul>
            {{#each (sort-by "title" (await domain.children)) as |competency|}}
              {{#if (contains competency.id (map-by "id" (await competencies)))}}
                <li {{action (if (eq competency.id objective.competency.id) "removeCurrentCompetency" "changeCompetency") competency}} class="competency-title clickable {{if (eq competency.id objective.competency.id) "selected"}}">
                  {{#if (eq competency.id objective.competency.id)}}
                    <input type="checkbox" checked>
                  {{else}}
                    <input type="checkbox">
                  {{/if}}
                  {{competency.title}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  <div class="no-group">
    <p>
      {{t "general.missingCompetenciesMessage"}}
    </p>
  </div>
{{/if}}
