<h2>{{{objective.title}}}</h2>

{{#if showCompetencyList}}
  <ul class='tree-list parent-picker'>
    {{#each domain in domains}}
      <li class='static'>{{domain.title}}
        <ul>
          {{#each competencyProxy in domain.subCompetencies}}
            {{#if competencyProxy.selected}}
              <li class='selected clickable' {{action 'removeCurrentCompetency' competencyProxy.content}}>
                {{input type='checkbox' checked=true}}
                {{competencyProxy.title}}
              </li>
            {{else}}
              <li class='clickable' {{action 'changeCompetency' competencyProxy.content}}>
                {{input type='checkbox' checked=false}}
                {{competencyProxy.title}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class='no-group'>
    <p>
      {{t 'programs.missingCompetenciesMessage'}}
    </p>
  </div>
{{/if}}
