<h2>{{{objective.title}}}</h2>

{{#if showCompetencyList}}
  <div class='parent-picker'>
    {{#each domain in domains}}
      <h5 {{bind-attr class=':competency-title domain.selected:selected'}}>{{domain.title}}</h5>
        <ul>
          {{#each competencyProxy in domain.subCompetencies}}
            {{#if competencyProxy.selected}}
              <li class='selected clickable' {{action 'removeCurrentCompetency' competencyProxy.content}}>
                {{input type='checkbox' checked=true}}
                {{competencyProxy.title}}
              </li>
            {{else}}
              <li class='clickable' {{action 'changeCompetency' competencyProxy.content}}>
                {{input type='checkbox' checked=false}}
                {{competencyProxy.title}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
    {{/each}}
  </div>
{{else}}
  <div class='no-group'>
    <p>
      {{t 'programs.missingCompetenciesMessage'}}
    </p>
  </div>
{{/if}}
