{{#unless loadAttr.isRunning}}
  <div class="actions">
    <button class="bigadd" {{action "save"}}>{{fa-icon "check"}}</button>
    <button class="bigcancel" {{action "cancel"}}>{{fa-icon "undo"}}</button>
  </div>
  <div class="content">
    {{#sortable-objects
      sortableObjectList=sortableObjectList
      enableSort=true
      useSwap=true
      sortingScope="sortingGroup"
    }}
      {{#each sortableObjectList as |item|}}
        {{#draggable-object
          content=item
          isSortable=true
          sortingScope="sortingGroup"
        }}
          {{fa-icon "arrows-alt"}}
          <span class="draggable-object-content">
            <span>{{big-text text=item.title}}</span>
          </span>
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>
{{/unless}}
