{{#if objective.hasParents}}
  {{#if objective.hasMultipleParents}}
    {{#each parent in objective.parents}}
      {{#if parent.programYear.cohort}}
        <strong>
          {{parent.programYear.program.title}}&nbsp
          {{parent.programYear.cohort.displayTitle}}
        </strong>
        <br />
      {{/if}}
      <a href='#' {{action 'manageParents' objective}}>
        {{parent.textTitle}}
      </a>
      {{#if parent.competency}}
        ({{parent.competency.title}})
      {{/if}}
      <br /><br />
    {{/each}}
  {{else}}
    <a href='#' {{action 'manageParents' objective}}>
      {{objective.parents.firstObject.textTitle}}
    </a>
    {{#if objective.parents.firstObject.competency}}
      ({{objective.parents.firstObject.competency.title}})
    {{/if}}
  {{/if}}
{{else}}
  <button class='add' {{action 'manageParents' objective}}>{{t 'general.addNew'}}</button>
{{/if}}
