{{#liquid-if (and isEditing (is-fulfilled offering.session.course.cohorts)) class='horizontal'}}
  {{offering-form
    showRoom=true
    showInstructors=true
    cohorts=(await offering.session.course.cohorts)
    courseStartDate=(await offering.session.course.startDate)
    courseEndDate=(await offering.session.course.startDate)
    close=(toggle 'isEditing' this)
    save=(action 'save')
    smallGroupMode=false
    offering=offering
    session=(await offering.session)
  }}
{{else}}
  <div class='offering-block-time-offering  {{if showRemoveConfirmation "offering-confirm-removal"}}'>
    <span class='offering-block-time-offering-learner_groups offering-detail-box'>
      <ul>
        {{#each (await offering.learnerGroups) as |learnerGroup|}}
          <li>
            {{learnerGroup.title}}
            {{#if (is-fulfilled learnerGroup.allParents)}}
              {{#tooltip-on-element}}
                {{join ' > ' (map-by 'title' (await learnerGroup.allParents))}}
              {{/tooltip-on-element}}
            {{/if}}
          </li>
        {{else}}
          <li>{{fa-icon 'group'}}</li>
        {{/each}}
      </ul>
    </span>
    <span class='offering-block-time-offering-location offering-detail-box'>{{offering.room}}</span>
    <span class='offering-block-time-offering-instructors offering-detail-box'>
      <ul>
        {{#each (await offering.allInstructors) as |instructor|}}
          <li>{{instructor.fullName}}</li>
        {{else}}
          <li>{{fa-icon 'user-plus'}}</li>
        {{/each}}
      </ul>
    </span>
    {{#if editable}}
      <span class='offering-block-time-offering-actions offering-detail-box'>
        <span class='clickable edit' {{action (toggle 'isEditing' this)}}>{{fa-icon 'edit'}}</span>
        {{#if userCanDelete}}
          <span class='clickable remove' {{action 'confirmRemove'}}>{{fa-icon 'trash'}}</span>
        {{/if}}
      </span>
    {{/if}}
    {{#if showRemoveConfirmation class='vertical'}}
      <div class='confirm-removal'>
        <div class='confirm-message'>
          {{t 'general.confirmRemove' learnerGroupCount=offering.learnerGroups.length}} <br>
          <div class="confirm-buttons">
            <button {{action 'remove'}} class='remove text'>{{t 'general.yes'}}</button>
            <button {{action 'cancelRemove'}} class='cancel text'>{{t 'general.cancel'}}</button>
          </div>
        </div>
      </div>
    {{/if}}
  </div>


{{/liquid-if}}
