{{#if loaded}}
  <p class='toggle-offering-calendar'>
    {{toggle-buttons
      firstOptionSelected=(not showOfferingCalendar)
      firstLabel=(t 'general.hideCalendar')
      secondLabel=(t 'general.showCalendar')
      toggle=(toggle 'showOfferingCalendar' this)
    }}
  </p>
  {{#if showOfferingCalendar}}
    {{offering-calendar startDate=startDate endDate=endDate learnerGroups=learnerGroups session=session}}
  {{/if}}

  <div class='item start-date'>
    <label>{{t 'general.startDate'}}:</label>
    {{pikaday-input value=startDate onSelection=(action 'updateStartDate') format='M/D/YYYY'}}
  </div>

  <div class='item start-time'>
    <label>{{t 'general.startTime'}}: <span class='timezone'>({{browser-timezone}})</span></label>
    {{time-picker date=startDate action='updateStartTime'}}
  </div>

  <div class='item offering-duration'>
    <label>{{t 'general.duration'}}:</label> <br>
    <div class='hours'>
      <input
        value={{durationHours}}
        oninput={{action (perform updateDurationHours) value="target.value"}}
        onfocusout={{action 'addErrorDisplayFor' 'durationHours'}}
        onkeyup={{action 'addErrorDisplayFor' 'durationHours'}}
        class={{if (and (v-get this 'durationHours' 'isInvalid') (is-in showErrorsFor 'durationHours')) 'has-error'}}
      >
      {{#if (and (v-get this 'durationHours' 'isInvalid') (is-in showErrorsFor 'durationHours'))}}
        <span class="validation-error-message">{{v-get this 'durationHours' 'message'}}</span>
      {{/if}}
      <label>{{t 'general.hours'}}</label>
    </div>
    <div class='minutes'>
      <input
        value={{durationMinutes}}
          oninput={{action (perform updateDurationMinutes) value="target.value"}}
          onfocusout={{action 'addErrorDisplayFor' 'durationMinutes'}}
          onkeyup={{action 'addErrorDisplayFor' 'durationMinutes'}}
          class={{if (and (v-get this 'durationMinutes' 'isInvalid') (is-in showErrorsFor 'durationMinutes')) 'has-error'}}
      >
      {{#if (and (v-get this 'durationMinutes' 'isInvalid') (is-in showErrorsFor 'durationMinutes'))}}
        <span class="validation-error-message">{{v-get this 'durationMinutes' 'message'}}</span>
      {{/if}}
      <label>{{t 'general.minutes'}}</label>
    </div>
  </div>

  <div class='item end-date-time'>
    <label>{{t 'general.end'}}:</label>
    {{#if endDate}}
      <div class='text'>{{moment-format endDate 'M/D/YYYY h:mm a'}}</div>
    {{/if}}
  </div>

  {{#if showMakeRecurring}}
    <div class='item make-recurring'>
      {{toggle-onoff
        label='general.makeRecurring'
        on=makeRecurring
        action=(toggle-action 'makeRecurring' this)
      }}

      {{#if makeRecurring}}
        <div class="make-recurring-options">
          <div class="make-recurring-days">
            {{#each recurringDayOptions as |obj|}}
              <div>
                <input
                  type="checkbox"
                  checked={{or (is-in recurringDays obj.day) (eq (moment-format startDate 'd') obj.day)}}
                  onclick={{action 'toggleRecurringDay' obj.day}}
                  disabled={{if (eq (moment-format startDate 'd') obj.day) true}}
                >
                <label class="day-of-week">{{t obj.t}}</label>
              </div>
            {{/each}}
          </div>

          <div class="make-recurring-input-container">
            <input
              value={{numberOfWeeks}}
              oninput={{action (mut numberOfWeeks) value="target.value"}}
              onfocusout={{action 'addErrorDisplayFor' 'numberOfWeeks'}}
              onkeyup={{action 'addErrorDisplayFor' 'numberOfWeeks'}}
              class={{concat 'make-recurring-input ' (if (and (v-get this 'numberOfWeeks' 'isInvalid') (is-in showErrorsFor 'numberOfWeeks')) 'has-error')}}
            >
            <label class="make-recurring-input-label">{{t 'general.weeks'}}</label>
            {{#if (and (v-get this 'numberOfWeeks' 'isInvalid') (is-in showErrorsFor 'numberOfWeeks'))}}
              <span class="validation-error-message">{{v-get this 'numberOfWeeks' 'message'}}</span>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if showRoom}}
    <div class='item room'>
      <label>
        {{t 'general.location'}}:
        {{#unless offering}}
          {{t 'general.defaultLocationNotLoaded'}}
        {{/unless}}
      </label>
      <input
        value={{room}}
        oninput={{action (mut room) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'room'}}
        onfocusout={{action 'addErrorDisplayFor' 'room'}}
      >
      {{#if (and (v-get this 'room' 'isInvalid') (is-in showErrorsFor 'room'))}}
        <span class="validation-error-message">{{v-get this 'room' 'message'}}</span>
      {{/if}}

    </div>
  {{/if}}

  {{#if showInstructors}}
    <div class="instructors">
      <label>
        {{t 'general.instructors'}}:
        {{#unless offering}}
          {{t 'general.defaultInstructorsNotLoaded'}}
        {{/unless}}
      </label>
      {{instructor-selection-manager
        addInstructor='addInstructor'
        addInstructorGroup='addInstructorGroup'
        removeInstructor='removeInstructor'
        removeInstructorGroup='removeInstructorGroup'
        availableInstructorGroups=(await availableInstructorGroups)
        instructorGroups=instructorGroups
        instructors=instructors
      }}
    </div>
  {{/if}}

  <div class='learner-groups'>
    <label>{{t 'general.learnerGroups'}}:</label>
    {{#if cohorts.length}}
      {{learnergroup-selection-manager
        learnerGroups=learnerGroups
        cohorts=cohorts
        add=(action 'addLearnerGroup')
        remove=(action 'removeLearnerGroup')
      }}
    {{else}}
      <p>{{t 'general.noAvailableLearnerGroups'}}</p>
    {{/if}}
    {{#if (and (v-get this 'learnerGroups' 'isInvalid') (is-in showErrorsFor 'learnerGroups'))}}
      <p class="validation-error-message">{{v-get this 'learnerGroups' 'message'}}</p>
    {{/if}}
  </div>

  <div class='buttons'>
    <button class='done text' {{action (perform validateThenSaveOffering)}} disabled={{or saveOffering.isRunning}}>
      {{#if saveOffering.isRunning}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action close}}>{{t 'general.cancel'}}</button>
  </div>
{{/if}}

{{#if saveOffering.isRunning}}
  {{wait-saving
    showProgress=true
    totalProgress=offeringsToSave
    currentProgress=savedOfferings
  }}
{{/if}}
