<div class="form-col-12">
  <label class="form-label">Create New:</label>
  <div class="form-data">
    {{click-choice-buttons
      buttonContent1=(t 'offerings.smallGroups')
      buttonContent2=(t 'offerings.offering')
      firstChoicePicked=smallGroupMode
      action="setOfferingType"
    }}
  </div>
</div>

<div class="form-col-12">
  <label class="form-label">{{t 'general.startDate'}}:</label>
  <div class="form-data offering-startdate">
    <div class="offering-startdate-picker">
      {{pikaday-input value=startDate format='MM/DD/YYYY'}}
    </div>

    <div class="single-multi-day center">
      <label class='switch switch-green switch-wide' {{action 'toggleMultiDay'}}>
        <input class='switch-input' checked={{isMultiDay}} type='checkbox' />
        <span class="switch-label" data-on='{{t 'general.multiDay'}}' data-off='{{t 'general.singleDay'}}'></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>
</div>

<div class="form-col-12">
  <label class="form-label">{{t 'general.startTime'}}:</label>
  <div class="form-data">
    <span class='starttime'>
      {{time-picker date=startTime action='changeStartTime'}}
    </span>
  </div>
</div>

{{#if isMultiDay}}
  <div class="form-col-12">
    <label class="form-label">{{t 'general.endDate'}}:</label>
    <div class="form-data offering-enddate">
      {{pikaday-input value=endDate format='MM/DD/YYYY'}}
    </div>
  </div>
{{/if}}

<div class="form-col-12">
  <label class="form-label">{{t 'general.endTime'}}:</label>
  <div class="form-data">
    <span class='endtime'>
      {{time-picker date=endTime action='changeEndTime'}}
    </span>
  </div>
</div>

{{#unless smallGroupMode}}
  <div class="form-col-12">
    <label class="form-label">{{t 'general.location'}}:</label>
    <div class="form-data"><span class='room'>{{input value=room placeholder="i.e. Rm. 111"}}</span></div>
  </div>
{{/unless}}

<div class="offering-learnergroups">
  {{#if availableLearnerGroups}}
    {{#each availableLearnerGroups as |cohort|}}
      <div class="cohort-container">
        <header class="cohort-title center">{{cohort.programYear.program.title}} {{cohort.displayTitle}}</header>

        {{offering-editor-learnergroups
          cohort=cohort
          learnerGroups=learnerGroups
          addLearnerGroup='addLearnerGroup'
          removeLearnerGroup='removeLearnerGroup'
        }}
      </div>
    {{/each}}
  {{else}}
    <span class="offering-learnergroups-message">{{t 'learnerGroups.message'}}</span>
  {{/if}}
</div>

{{#unless smallGroupMode}}
  <div class="form-col-12">
    <label class="form-label">{{t 'general.instructors'}}:</label>
    <div class="form-data">
      {{instructor-selection-manager
        addInstructor='addInstructor'
        addInstructorGroup='addInstructorGroup'
        removeInstructor='removeInstructor'
        removeInstructorGroup='removeInstructorGroup'
        availableInstructorGroups=currentUser.model.school.instructorGroups
        instructorGroups=instructorGroups
        instructors=instructors
      }}
    </div>
  </div>
{{/unless}}

<div class="form-col-12 center">
  <button class='done text' {{action 'create'}}>{{t 'general.done'}}</button>
  <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
</div>
