<h2 class='offering-calendar-title'>{{t 'general.calendar'}}</h2>

<div class='ilios-calendar'>
  {{ilios-calendar-week
    calendarEvents=(await calendarEvents)
    date=startDate
    areEventsSelectable=false
    areDaysSelectable=false
  }}
</div>
<span class="loding-indicator {{if (is-fulfilled calendarEvents) 'loaded'}}">{{fa-icon 'spinner' spin=true}} {{t 'general.loadingEvents'}}...</span>
