{{#liquid-if isEditing class='horizontal'}}
  <div class="form-container">
    <div class="form-col-12">
      <label class="form-label">{{t 'general.startDate'}}:</label>
      <div class="form-data startdate">
        {{pikaday-input value=buffer.startDate format='MM/DD/YYYY'}}
      </div>
    </div>
    <div class="form-col-12">
      <label class="form-label">{{t 'general.startTime'}}:</label>
      <div class="form-data">
        <span class='starttime'>
          {{time-picker date=buffer.startDate action='changeStartTime'}}
        </span>
      </div>
    </div>
    {{#if buffer.isMultiDay}}
      <div class="form-col-12">
        <label class="form-label">{{t 'general.endDate'}}:</label>
        <div class="form-data enddate">
          {{pikaday-input value=buffer.endDate format='MM/DD/YYYY'}}
        </div>
      </div>
    {{/if}}
    <div class="form-col-12">
      <label class="form-label">{{t 'general.endTime'}}:</label>
      <div class="form-data">
        <span class='endtime'>
          {{time-picker date=buffer.endDate action='changeEndTime'}}
        </span>
      </div>
    </div>
    <div class="form-col-12">
      <div class="form-data ismultiday">
        <label class='switch switch-green switch-wide' {{action 'toggleMultiDay'}}>
          <input class='switch-input' checked={{buffer.isMultiDay}} type='checkbox' />
          <span class="switch-label" data-on='{{t 'general.multiDay'}}' data-off='{{t 'general.singleDay'}}'></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
    <div class="form-col-12">
      <label class="form-label">{{t 'general.location'}}:</label>
      <div class="form-data"><span class='room'>{{input value=buffer.room}}</span></div>
    </div>
    <div class="form-col-12">
      <label class="form-label">{{t 'general.learnerGroups'}}:</label>
      <div class="form-data learner-groups">
        {{learnergroup-selection-manager
          subject=buffer
          cohorts=cohorts
        }}
      </div>
    </div>
    <div class="form-col-12">
      <label class="form-label">{{t 'general.instructors'}}:</label>
      <div class="form-data instructor-groups">
        {{instructor-selection-manager
          addInstructor='addInstructorToBuffer'
          addInstructorGroup='addInstructorGroupToBuffer'
          removeInstructor='removeInstructorFromBuffer'
          removeInstructorGroup='removeInstructorGroupFromBuffer'
          availableInstructorGroups=currentUser.model.primarySchool.instructorGroups
          instructorGroups=buffer.instructorGroups
          instructors=buffer.instructors
        }}
      </div>
    </div>
    <div class="form-col-6 form-data-submit">
      <button class='done text' {{action 'save'}}>{{t 'general.done'}}</button>
      <button class='cancel text' {{action 'cancel'}}>{{t 'general.cancel'}}</button>
    </div>

  </div>
{{else}}
  <div class='offering-block-time-offering  {{if showRemoveConfirmation "offering-confirm-removal"}}'>
    <span class='offering-block-time-offering-learner_groups offering-detail-box'>
      <ul>
        {{#each offering.learnerGroups as |learnerGroup|}}
          <li>{{learnerGroup.title}}</li>
        {{else}}
          <li>{{fa-icon 'group'}}</li>
        {{/each}}
      </ul>
    </span>
    <span class='offering-block-time-offering-location offering-detail-box'>{{offering.room}}</span>
    <span class='offering-block-time-offering-instructors offering-detail-box'>
      <ul>
        {{#each offering.allInstructors as |instructor|}}
          <li>{{instructor.fullName}}</li>
        {{else}}
          <li>{{fa-icon 'user-plus'}}</li>
        {{/each}}
      </ul>
    </span>
    {{#if editable}}
      <span class='offering-block-time-offering-actions offering-detail-box'>
        <span class='clickable' {{action 'edit'}}>{{fa-icon 'edit'}}</span>
        <span class='clickable remove' {{action 'confirmRemove'}}>{{fa-icon 'trash'}}</span>
      </span>
    {{/if}}
    {{#if showRemoveConfirmation class='vertical'}}
      <div class='confirm-removal'>
        <div class='confirm-message'>
          {{t 'offerings.confirmRemove' learnerGroupCount=offering.learnerGroups.length}} <br />
          <div class="confirm-buttons">
            <button {{action 'remove' course}} class='remove text'>{{t 'general.yes'}}</button>
            <button {{action 'cancelRemove' course}} class='cancel text'>{{t 'general.cancel'}}</button>
         </div>
        </div>
      </div>
    {{/if}}
  </div>


{{/liquid-if}}
