{{#unless firstPage}}
  <span class="clickable link backward" {{action "goBack"}}>{{fa-icon "backward"}}</span>
{{/unless}}

{{#unless limitless}}
  {{t "general.pagedResultsCount" start=start end=end total=total}}
{{else}}
  <select onchange={{action "setLimit" value="target.value"}}>
    {{#each offsetOptions as |o|}}
      <option value={{o}} selected={{is-equal o limit}}>
        {{o}}
      </option>
    {{/each}}
  </select>
  {{t "general.perPage"}}
{{/unless}}

{{#unless lastPage}}
  <span class="clickable link forward" {{action "goForward"}}>{{fa-icon "forward"}}</span>
{{/unless}}

{{#unless limitless}}
  <select onchange={{action "setLimit" value="target.value"}}>
    {{#each offsetOptions as |o|}}
      <option value={{o}} selected={{is-equal o limit}}>
        {{o}}
      </option>
    {{/each}}
  </select>
  {{t "general.perPage"}}
{{/unless}}
