<h3>
  {{#if (gt (get (await updates) "length") 1)}}
    {{fa-icon "warning"  class="no"}}
  {{/if}}
  {{t "general.pendingUpdatesSummaryTitle"}}
</h3>
<div id="schoolsfilter" class="filter">
  <label class="inline-label">
    {{fa-icon "university"}}
  </label>
  <div id="school-selection" class="inline-data">
    {{#if (gt (get schools "length") 1)}}
      <select onchange={{action "changeSelectedSchool" value="target.value"}}>
        {{#each (sort-by "title" schools) as |school|}}
          <option value={{school.id}} selected={{is-equal school (await selectedSchool)}}>
            {{school.title}}
          </option>
        {{/each}}
      </select>
    {{else}}
      {{get (await selectedSchool) "title"}}
    {{/if}}
  </div>
</div>
{{#if (is-fulfilled updates)}}
  <p>{{t "general.pendingUpdatesSummary" count=(get (await updates) "length")}}</p>
  {{#if (get (await updates) "length")}}
    <div class="actions">
      {{#link-to
        "pending-user-updates"
        (query-params school=(get (await selectedSchool) "id"))
      }}
        <button>{{t "general.manage"}}</button>
      {{/link-to}}
    </div>
  {{/if}}
{{else}}
  {{loading-spinner}}
{{/if}}
