<h1>{{course.title}}</h1>
{{course-overview course=course printView=true}}

{{detail-competencies competencies=course.competencies printView=true}}
{{detail-topics topics=course.disciplines printView=true}}

{{detail-objectives objectives=course.objectives printView=true}}
{{detail-learning-materials materials=course.learningMaterials printView=true}}

{{detail-mesh terms=course.meshDescriptors printView=true}}
