<div class='header'>
  <h2>{{course.title}}</h2><h4>{{course.academicYear}}</h4>
  {{publication-status item=course}}
</div>
<section class='overview block'>
  <div class='title'>
    {{t 'general.overview'}}
  </div>
  <div class='content'>
    <div class="inline-label-data-block">
      <label>{{t 'general.start'}}:</label>
      <div>{{moment-format course.startDate 'L'}}</div>
    </div>
    <div class="inline-label-data-block">
      <label>{{t 'general.externalId'}}:</label>
      <div>{{course.externalId}}</div>
    </div>
    <div class="inline-label-data-block">
      <label>{{t 'general.level'}}:</label>
      <div>{{course.level}}</div>
    </div>
    <div class="inline-label-data-block">
      <label>{{t 'general.end'}}:</label>
      <div>{{moment-format course.endDate 'L'}}</div>
    </div>
    <br>
    <br>

    <div class="inline-label-data-block">
      <label>{{t 'general.directors'}}:</label>
      <div>
        <span>
          {{#each sortedDirectors as |user|}}
            {{user.fullName}},
          {{/each}}
        </span>
      </div>
    </div>
  </div>
</section>

<section class='block'>
  <div class='title'>
    {{t 'general.competencies'}} ({{get (await course.competencies) 'length'}})
  </div>
  <div class='content'>
    {{#if (is-fulfilled course.competencies)}}
      {{#if (get (await course.competencies) 'length')}}
        <ul class='static-list'>
          {{#each (await course.domains) as |domain|}}
            <li>
              {{domain.title}}
              <ul>
                {{#each (await domain.subCompetencies) as |competency|}}
                  <li>{{competency.title}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{else}}
      {{loading-part}}
    {{/if}}
  </div>
</section>

<section class='block'>
  <div class='title'>
    {{t 'general.terms'}} ({{course.terms.length}})
  </div>

  <div class='content'>
    {{#each (await course.associatedVocabularies) as |vocab|}}
      {{detail-terms-list vocabulary=vocab terms=course.terms canEdit=false}}
    {{/each}}
  </div>
</section>

<section class='block'>
  <div class='title'>
    {{t 'general.objectives'}} ({{course.objectives.length}})
  </div>
  <div class='content'>
    <ul>
      {{#each (await course.sortedObjectives) as |objective|}}
        <li>{{objective.textTitle}}</li>
      {{/each}}
    </ul>
  </div>
</section>


<section class='block'>
  <div class='title'>
    {{t 'general.learningMaterials'}} ({{get (await courseLearningMaterials) 'length'}})
  </div>
  <div class='content'>
    {{#if (get (await courseLearningMaterials) 'length')}}
      <table>
        <thead>
          <tr>
            <th class='text-left' colspan=2>{{t 'general.displayName'}}</th>
            <th class='text-center'>{{t 'general.type'}}</th>
            <th class='text-center'>{{t 'general.required'}}</th>
            <th class='text-left'>{{t 'general.notes'}}</th>
            <th class='text-left description' colspan=4>{{t 'general.description'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (await courseLearningMaterials) as |lm|}}
            <tr>
              <td class='text-left text-top' colspan=2>
                {{lm.learningMaterial.title}}
              </td>
              <td class='text-center text-top'>{{lm.learningMaterial.type}}</td>
              <td class='text-center text-top'>
                {{#if lm.required}}
                  <span class='add'>{{t 'general.yes'}}</span>
                {{else}}
                  <span class='remove'>{{t 'general.no'}}</span>
                {{/if}}
              </td>
              <td class='text-left text-top'>
                {{#if lm.notes}}
                  <span class='add'>{{t 'general.yes'}}</span>
                {{else}}
                  <span class='remove'>{{t 'general.no'}}</span>
                {{/if}}
              </td>
              <td class='text-left text-top' colspan=4>{{remove-html-tags lm.learningMaterial.description}}<p/>{{lm.learningMaterial.citation}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</section>

<section class='block'>
  <div class='title'>
    {{t 'general.mesh'}} ({{course.meshDescriptors.length}})
  </div>
  <div class='content'>
    <ul class='inline-list'>
      {{#each sortedMeshDescriptors as |descriptor|}}
        <li>{{descriptor.name}}</li>
      {{/each}}
    </ul>
  </div>
</section>

{{#each (await sortedSessionProxies) as |session|}}
  <div class='header' data-test-session-header>
    <h2>{{session.title}}</h2>
    {{publication-status item=session}}
  </div>
  <section class='overview block'>
    <div class='title'>
      {{t 'general.overview'}}
    </div>
    <div class='content'>
      <div class="inline-label-data-block">
        <label>{{t 'general.sessionType'}}:</label>
        <div>{{session.sessionType.title}}</div>
      </div>
      <br>
      <div class="inline-label-data-block">
        <label>{{t 'general.supplementalCurriculum'}}:</label>
        <div>{{boolean-check value=session.supplemental}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t 'general.specialAttireRequired'}}:</label>
        <div>{{boolean-check value=session.attireRequired}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t 'general.specialEquipmentRequired'}}:</label>
        <div>{{boolean-check value=session.equipmentRequired}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t 'general.attendanceRequired'}}:</label>
        <div>{{boolean-check value=session.attendanceRequired}}</div>
      </div>
      <br>
      <div class="inline-label-data-block">
        <label>{{t 'general.description'}}:</label>
        <div>{{session.sessionDescription.textDescription}}</div>
      </div>
    </div>
  </section>

  <section class='block'>
    <div class='title'>
      {{t 'general.objectives'}} ({{session.objectives.length}})
    </div>
    <div class='content'>
      <ul>
        {{#each (await session.sortedObjectives) as |objective|}}
          <li>{{objective.textTitle}}</li>
        {{/each}}
      </ul>
    </div>
  </section>

  <section class='block'>
    <div class='title'>
      {{t 'general.learningMaterials'}}({{get (await session.sessionLearningMaterials) 'length'}})
    </div>
    <div class='content'>
      {{#if (get (await session.sessionLearningMaterials) 'length')}}
        <table>
          <thead>
            <tr>
              <th class='text-left' colspan=2>{{t 'general.displayName'}}</th>
              <th class='text-center'>{{t 'general.type'}}</th>
              <th class='text-center'>{{t 'general.required'}}</th>
              <th class='text-left'>{{t 'general.notes'}}</th>
              <th class='text-left' colspan=4>{{t 'general.description'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each (await session.sessionLearningMaterials) as |lm|}}
              <tr>
                <td class='text-left text-top' colspan=2>
                  {{lm.learningMaterial.title}}
                </td>
                <td class='text-center text-top'>{{lm.learningMaterial.type}}</td>
                <td class='text-center text-top'>
                  {{#if lm.required}}
                    <span class='add'>{{t 'general.yes'}}</span>
                  {{else}}
                    <span class='remove'>{{t 'general.no'}}</span>
                  {{/if}}
                </td>
                <td class='text-left text-top'>{{lm.learningMaterial.notes}}</td>
                <td class='text-left text-top' colspan=4>{{remove-html-tags lm.learningMaterial.description}}<p/>{{lm.learningMaterial.citation}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </section>

  <section class='block'>
    <div class='title'>
      {{t 'general.terms'}} ({{session.terms.length}})
    </div>

    <div class='content'>
      <div class='content'>
        {{#each (await session.associatedVocabularies) as |vocab|}}
          {{detail-terms-list vocabulary=vocab terms=session.terms canEdit=false}}
        {{/each}}
      </div>
    </div>
  </section>

  <section class='block'>
    <div class='title'>
      {{t 'general.mesh'}} ({{session.sortedMeshDescriptors.length}})
    </div>
    <div class='content'>
      <ul class='inline-list'>
        {{#each session.sortedMeshDescriptors as |descriptor|}}
          <li>{{descriptor.name}}</li>
        {{/each}}
      </ul>
    </div>
  </section>

  <section class='block'>
    <div class='title'>
      {{t 'general.offerings'}} ({{session.offerings.length}})
    </div>
    <div class='content'>
      {{#if session.offerings.length}}
        <table>
          <thead>
            <tr>
              <th class='text-left'>{{t 'general.time'}}</th>
              <th class='text-left'>{{t 'general.location'}}</th>
              <th class='text-left'>{{t 'general.instructors'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each (await session.offerings) as |offering|}}
              <tr>
                <td class='text-left'>
                  {{moment-format offering.startDate 'L LT'}} -
                  {{moment-format offering.endDate 'L LT'}}
                </td>
                <td class='text-left'>{{offering.room}}</td>
                <td class='text-left'>
                  <ul>
                    {{#each (await offering.allInstructors) as |user|}}
                      <li>{{user.fullName}}</li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>{{t 'general.noOfferings'}}</p>
      {{/if}}
    </div>
  </section>
{{/each}}
