<h5>{{t 'general.overview'}}</h5>
<div class='programyear-overview-content'>
  <label>{{t 'general.directors'}}:</label>
  <span>
    {{#if editable}}
      <ul class='removable-list tag-list'>
        {{#each sortedDirectors as |user|}}
          <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' classNames='removex'}}</li>
        {{/each}}
      </ul>
    {{else}}
      <ul class='tag-list'>
        {{#each sortedDirectors as |user|}}
          <li>{{user.fullName}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </span>
  {{#if editable}}
    {{user-search
      addUser='addDirector'
      currentlyActiveUsers=(await programYear.directors)
    }}
    <br>
    <br>
  {{/if}}
</div>
