<section class='detail-block {{if showCollapsible "collapsible"}}'>
  {{#if isManaging}}
    <div class='detail-title'>
      <span class='detail-specific-title'>
        {{t 'programs.competenciesManageTitle'}}
      </span>
    </div>
  {{else}}
    <div class='detail-title {{if programYear.competencies.length "clickable"}}' {{action 'collapse'}}>
      {{t 'general.competencies'}} ({{programYear.competencies.length}})
    </div>
  {{/if}}
  <div class='detail-actions'>
    {{#if isManaging}}
        <button class='bigadd' {{action 'save'}}>
          {{fa-icon (if isSaving 'spinner' 'check') spin=(if isSaving true false)}}
        </button>
        <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action 'manage'}}>{{t 'programs.competenciesManageTitle'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{#liquid-if isManaging class="horizontal"}}
        {{programyear-competency-manager
          availableCompetencies=programYear.program.school.competencies
          selectedCompetencies=bufferCompetencies
          add='addCompetencyToBuffer'
          remove='removeCompetencyFromBuffer'
        }}
    {{else}}
    <ul class='static-list'>
      {{#each programYear.domains as |domain|}}
        <li>{{domain.title}}
          <ul>
            {{#each domain.subCompetencies as |competency|}}
              <li>{{competency.title}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
    {{/liquid-if}}
  </div>
</section>
