<div class='title'>
  {{#editable-field
    tagName='h5'
    value=programTitle
    save=(action 'changeTitle')
    close=(action 'revertTitleChanges')
    saveOnEnter=true
    closeOnEscape=true
    as |isSaving|
  }}
    <input
      value={{programTitle}}
      oninput={{action (mut programTitle) value="target.value"}}
      disabled={{isSaving}}
      onfocusout={{action 'addErrorDisplayFor' 'programTitle'}}
      onkeypress={{action 'addErrorDisplayFor' 'programTitle'}}
    >
    {{#if (and (v-get this 'programTitle' 'isInvalid') (is-in showErrorsFor 'programTitle'))}}
      <span class="validation-error-message">{{v-get this 'programTitle' 'message'}}</span>
    {{/if}}
  {{/editable-field}}
</div>
<div class ='program-publication'>
  {{publish-menu
    title=menuTitle
    icon=menuIcon
    publicationStatus=publicationStatus
    showAsIs=showAsIs
    showPublish=showPublish
    showReview=showReview
    showTbd=showTbd
    showUnPublish=showUnPublish
    reviewRoute='program.publicationCheck'
    reviewObject=program
    publishTranslation='general.publishProgram'
    unPublishTranslation='general.unPublishProgram'
    publish=(action 'publish')
    publishAsTbd=(action 'publishAsTbd')
    unpublish=(action 'unpublish')
  }}
</div>
