<h2>{{t 'general.overview'}}</h2>
<div class='program-overview-content'>
  <div class="block programtitleshort">
    <label>{{t 'general.programTitleShort'}}:</label>
    <span>
      {{#editable-field
         value=shortTitle
         save=(action 'changeShortTitle')
         close=(action 'revertShortTitleChanges')
         clickPrompt=(t 'general.clickToEdit')
         saveOnEnter=true
         closeOnEscape=true
         as |isSaving|
      }}
        <input
          type="text"
          value={{shortTitle}}
          oninput={{action (mut shortTitle) value="target.value"}}
          disabled={{isSaving}}
          onkeyup={{action 'addErrorDisplayFor' 'shortTitle'}}
        >
        {{#if (and (v-get this 'shortTitle' 'isInvalid') (is-in showErrorsFor 'shortTitle'))}}
          <span class="validation-error-message">{{v-get this 'shortTitle' 'message'}}</span>
        {{/if}}
      {{/editable-field}}
    </span>
  </div>

  <div class="block programduration">
    <label>{{t 'general.durationInYears'}}:</label>
    <span>
      {{#editable-field
        value=duration
        save=(action 'changeDuration')
        close=(action 'revertDurationChanges')
      }}
        {{one-way-select
          duration
          options=durationOptions
          optionTargetPath="id"
          optionLabelPath="title"
          update=(action (mut duration))
        }}
      {{/editable-field}}
    </span>
  </div>
</div>
