{{#if (is-fulfilled objectives)}}
  {{#if objectives.length}}
    <table>
      <thead>
        <tr>
          <th class='text-left' colspan="3">{{t 'general.description'}}</th>
          <th class='text-left' colspan="2">{{t 'general.competency'}}</th>
          <th class='text-left' colspan="2">{{t 'general.meshTerms'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedObjectives as |objective|}}
          {{programyear-objective-list-item
            objective=objective
            programYear=programYear
            manageCompetency=this.attrs.manageCompetency
            manageDescriptors=this.attrs.manageDescriptors
            editable=editable
          }}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{else}}
  {{#each (repeat programYear.objectives.length) as |empty|}}
    <div>{{fa-icon 'spinner' spin = true}}</div>
  {{/each}}
{{/if}}