<div class="backtolink">
  {{#if (is-fulfilled programYear.program)}}
    {{#link-to "program" (await programYear.program)}}
      {{t "general.backToProgramYears"}}
    {{/link-to}}
  {{/if}}
</div>

<header>
  <div class="title">
    {{#if programYear.locked}}{{fa-icon "lock"}}{{/if}}
    {{#if programYear}}
      <h4>{{t "general.matriculationYear"}} {{programYear.academicYear}}</h4>
      <h5>
        {{#if (get (await programYear.cohort) "title")}}
          {{get (await programYear.cohort) "title"}}
        {{else}}
          {{t "general.classOf" year=(await programYear.cohort.classOfYear)}}
        {{/if}}
      </h5>
    {{/if}}
  </div>
  <div class ="programyear-publication">
    {{#if canUpdate}}
      {{publish-menu
        title=menuTitle
        icon=menuIcon
        publicationStatus=publicationStatus
        showAsIs=showAsIs
        showPublish=showPublish
        showReview=showReview
        showTbd=showTbd
        showUnPublish=showUnPublish
        reviewRoute="programYear.publicationCheck"
        reviewObject=programYear
        parentObject=(await programYear.program)
        publishTranslation="general.publishProgramYear"
        unPublishTranslation="general.unPublishProgramYear"
        publish=(action "publish")
        publishAsTbd=(action "publishAsTbd")
        unpublish=(action "unpublish")
      }}
    {{else}}
      {{publication-status item=programYear}}
    {{/if}}
  </div>
</header>
