<h5>{{t 'general.overview'}}</h5>
<div class='programyear-overview-content'>
  <label>{{t 'general.directors'}}:</label>
  <div>
    {{#if editable}}
      <ul class='removable-directors'>
        {{#each sortedDirectors as |user|}}
          <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' class='remove'}}</li>
        {{/each}}
      </ul>
    {{else}}
      <ul class='directors'>
        {{#each sortedDirectors as |user|}}
          <li>{{user.fullName}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{#if editable}}
    {{user-search
      addUser='addDirector'
      currentlyActiveUsers=(await programYear.directors)
    }}
  {{/if}}
</div>
