<h5>{{t 'general.overview'}}</h5>
<div class='programyear-overview-actions'>
  {{#link-to 'program-year-visualizations' programYear title=(t 'general.programYearVisualizations')}}
    {{fa-icon 'bar-chart'}}
  {{/link-to}}
</div>
<div class='programyear-overview-content'>
  <label>{{t 'general.directors'}}:</label>
  <div>
    {{#if canUpdate}}
      <ul class='removable-directors'>
        {{#each sortedDirectors as |user|}}
          <li {{action 'removeDirector' user}}>{{user.fullName}}{{fa-icon 'remove' class='remove'}}</li>
        {{/each}}
      </ul>
    {{else}}
      <ul class='directors'>
        {{#each sortedDirectors as |user|}}
          <li>{{user.fullName}}</li>
        {{else}}
          {{t 'general.none'}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{#if canUpdate}}
    {{user-search
      addUser='addDirector'
      currentlyActiveUsers=(await programYear.directors)
    }}
  {{/if}}
</div>
