<div class="program-leadership-expanded-header">
  <h3 class="title collapsible clickable" {{action collapse}}>
    {{t "general.programLeadership"}}
  </h3>
  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" onclick={{perform save}}>
        {{fa-icon (if save.isRunning "spinner" "check") spin=(if isSaving true false)}}
      </button>
      <button class="bigcancel" {{action setIsManaging false}}>{{fa-icon "undo"}}</button>
    {{else if canUpdate}}
      <button {{action setIsManaging true}}>{{t "general.manageLeadership"}}</button>
    {{/if}}
  </div>
</div>
<div class="program-leadership-expanded-content">
  {{#if (is-array directors)}}
    {{#if isManaging}}
      {{leadership-manager
        showAdministrators=false
        directors=directors
        removeDirector=(action "removeDirector")
        addDirector=(action "addDirector")
      }}
    {{else}}
      {{leadership-list
        showAdministrators=false
        directors=directors
      }}
    {{/if}}
  {{else}}
    {{loading-spinner tagName="h3"}}
  {{/if}}
</div>
