<tr>
  <td colspan=2></td>
  <td colspan=13><strong>{{t 'general.courses'}}</strong></td>
  <td colspan=13><strong>{{t 'general.objectives'}}</strong></td>
  <td colspan=1></td>
</tr>
{{#if (is-fulfilled courseObjects)}}
  {{#each (sort-by 'title' (await courseObjects)) as |obj|}}
    <tr class='programyear-objective-list-item-expanded'>
      <td colspan=2></td>
      <td colspan=13 class='text-top'>{{obj.title}}</td>
      <td colspan=13 class='text-top'>
        <ul>
          {{#each (sort-by 'title' obj.objectives) as |obj|}}
            <li>{{obj.title}}</li>
          {{/each}}
        </ul>
      </td>
      <td colspan=1></td>
    </tr>
  {{else}}
    <tr>
      <td colspan=2></td>
      <td colspan=27>{{t 'general.none'}}</td>
    </tr>
  {{/each}}
{{else}}
  <tr>
    <td colspan=2></td>
    <td colspan=27>{{loading-spinner}}</td>
  </tr>

{{/if}}
