<div class='detail-header'>
  <span class='title'>
    {{#if programYear}}
    <h2>{{t 'general.matriculationYear'}} {{programYear.academicYear}}</h2>
    <h4>{{programYear.cohort.displayTitle}}</h4>
    {{/if}}
  </span>
  <span class ='actions'>
    {{#action-menu title=menuTitle icon=menuIcon classNameBindings='publicationStatus :publication-menu :programyear-publication-menu :right-edge'}}
      {{#if showAsIs}}
        <li class='danger' {{action 'publish'}}>{{t 'general.publishAsIs'}}</li>
      {{/if}}
      {{#if showPublish}}
        <li class='good' {{action 'publish'}}>{{t 'general.publishProgramYear'}}</li>
      {{/if}}
      {{#if showReview}}
        {{#link-to 'programYear.publicationCheck' programYear}}
          <li class='good' >{{t 'general.reviewMissingItems' count=programYear.allPublicationIssuesLength}}</li>
        {{/link-to}}
      {{/if}}
      {{#if showTbd}}
        <li class='good' {{action 'publishAsTbd'}}>{{t 'general.markAsScheduled'}}</li>
      {{/if}}
      {{#if showUnPublish}}
        <li class='danger' {{action 'unpublish'}}>{{t 'general.unPublishProgramYear'}}</li>
      {{/if}}

    {{/action-menu}}
  </span>
</div>
