<table>
  <thead>
    <tr>
      <th class='text-left' colspan=3>{{t 'general.programTitle'}}</th>
      <th class='text-center hide-from-small-screen' colspan=2>{{t 'general.school'}}</th>
      <th class='text-center hide-from-small-screen' colspan=2>{{t 'general.status'}}</th>
      <th class='text-center' colspan=2>{{t 'general.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each proxiedPrograms as |program|}}
      <tr class="{{if program.showRemoveConfirmation 'confirm-removal'}}">
        <td class='text-left' colspan=3>
          {{#link-to 'program' program.content}}
            {{program.title}}
          {{/link-to}}
        </td>
        <td class='text-center hide-from-small-screen' colspan=2 {{action 'edit' program}}>{{program.school.title}}</td>
        <td class='text-center hide-from-small-screen' colspan=2 {{action 'edit' program}}>{{publication-status item=program showIcon=false}}</td>
        <td class='text-right' colspan=2>
          {{#link-to 'program' program class='edit'}}
            {{fa-icon 'edit'}}
          {{/link-to}}
          {{#if (or program.hasCurriculumInventoryReports program.hasProgramYears)}}
            {{fa-icon 'trash' class='disabled'}}
          {{else}}
            <span class='clickable remove' {{action 'confirmRemove' program}}>{{fa-icon 'trash'}}</span>
          {{/if}}
        </td>
      </tr>
      {{#if program.showRemoveConfirmation}}
        <tr class='confirm-removal'>
          <td colspan=9>
            <div class='confirm-message'>
              {{#if (is-fulfilled program.courses)}}
                {{t 'general.confirmRemoveProgram'
                  programYearCount=(get (await program.programYears) 'length')
                  courseCount=(get (await program.courses) 'length')
                }}
                <br>
                <div class="confirm-buttons">
                  <button {{action 'remove' program}} class='remove text'>{{t 'general.yes'}}</button>
                  <button {{action 'cancelRemove' program}} class='done text'>{{t 'general.cancel'}}</button>
                </div>
              {{else}}
                <div>{{fa-icon 'spinner' spin=true}}</div>
              {{/if}}
            </div>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
