<div class='detail-header'>
  <span class='title'>
    {{#if program}}
      {{#editable-field
        tagName='h2'
        value=programTitle
        save=(action 'changeTitle')
        close=(action 'revertTitleChanges')
        as |isSaving save close|
      }}
        {{one-way-input
          value=programTitle
          update=(action (mut programTitle))
          onenter=save
          onescape=close
          disabled=isSaving
          focusOut=(action 'addErrorDisplayFor' 'programTitle')
          keyPress=(action 'addErrorDisplayFor' 'programTitle')
        }}
        {{#if (and (v-get this 'programTitle' 'isInvalid') (is-in showErrorsFor 'programTitle'))}}
          <span class="validation-error-message">{{v-get this 'programTitle' 'message'}}</span>
        {{/if}}
      {{/editable-field}}
    {{/if}}
  </span>
  <span class ='actions'>
    {{#action-menu title=menuTitle icon=menuIcon classNameBindings='publicationStatus :publication-menu :program-publication-menu :right-edge'}}
      {{#if showAsIs}}
        <li class='danger' {{action 'publish'}}>{{t 'general.publishAsIs'}}</li>
      {{/if}}
      {{#if showPublish}}
        <li class='good' {{action 'publish'}}>{{t 'general.publishProgram'}}</li>
      {{/if}}
      {{#if showReview}}
        {{#link-to 'program.publicationCheck' program}}
          <li class='good' >{{t 'general.reviewMissingItems' count=program.allPublicationIssuesLength}}</li>
        {{/link-to}}
      {{/if}}
      {{#if showTbd}}
        <li class='good' {{action 'publishAsTbd'}}>{{t 'general.markAsScheduled'}}</li>
      {{/if}}
      {{#if showUnPublish}}
        <li class='danger' {{action 'unpublish'}}>{{t 'general.unPublishProgram'}}</li>
      {{/if}}

    {{/action-menu}}
  </span>
</div>
