<section class='halfwidth'>
  <h5>{{t 'general.selected'}}</h5>
  <ul class='tree-list removable'>
    {{#each selectedDomains as |domain|}}
      <li {{action 'removeDomain' domain}}>
        {{domain.title}}
        <ul>
          {{#each domain.subCompetencies as |competency|}}
            <li class='removable' {{action 'removeCompetency' competency}}>
              {{competency.title}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{else}}
      <li>{{t 'programs.noSelectedCompetencies'}}</li>
    {{/each}}
  </ul>
</section>

<section class='halfwidth'>
  <h5>{{t 'general.available'}}</h5>
  <ul class='tree-list selectable'>
    {{#each filteredDomains as |domain|}}
      <li {{action 'addDomain' domain}}>{{domain.title}}
        <ul>
          {{#each domain.subCompetencies as |competency|}}
            <li {{action 'addCompetency' competency}}>{{competency.title}}</li>
          {{/each}}
        </ul>
      </li>
    {{else}}
      <li>{{t 'programs.noUnselectedCompetencies'}}</li>
    {{/each}}
  </ul>
</section>
