<section class='resultslist'>
  <div class="resultslist-header">
    <div class='resultslist-actions'>
      {{expand-collapse-button value=showNewVocabularyForm action="toggleShowNewVocabularyForm"}}
    </div>
  </div>
  <section class='resultslist-new'>
    {{#liquid-if showNewVocabularyForm class='vertical'}}
      <div class="detail-content form-container">
        <div class="form-col-6 multi-row">
          <label class="form-label">{{t 'general.title'}}:</label>
          <div class="form-data">
            {{one-way-input
              value=newVocabularyTitle
              update=(action (mut newVocabularyTitle))
              onenter=(action 'add' newVocabularyTitle)
              onescape=(action 'toggleShowNewVocabularyForm')
              focusOut=(action 'addErrorDisplayFor' 'newVocabularyTitle')
            }}
            {{#if (and (v-get this 'newVocabularyTitle' 'isInvalid') (is-in showErrorsFor 'newVocabularyTitle'))}}
              <span class="validation-error-message">{{v-get this 'newVocabularyTitle' 'message'}}</span>
            {{/if}}
          </div>
        </div>

        <div class="form-col-6 form-data-submit">
          <button class='done text' {{action 'add' newVocabularyTitle}}>
            {{#if isSavingNewVocabulary}}
              {{fa-icon 'spinner' spin=true}}
            {{else}}
              {{t 'general.done'}}
            {{/if}}
          </button>
          <button class='cancel text' {{action 'toggleShowNewVocabularyForm'}}>{{t 'general.cancel'}}</button>
        </div>
      </div>
    {{/liquid-if}}

    {{#each newVocabularies as |vocabulary|}}
      <div class='savedvocabulary saved-result'>
        <span class='clickable link'>{{fa-icon 'external-link-square'}} {{vocabulary.title}}</span>
        {{t 'general.savedSuccessfully'}}
      </div>
    {{/each}}
  </section>
  <div class='resultslist-list'>
    {{#liquid-if (is-fulfilled sortedVocabularies) 'crossFade'}}
      <table>
        <thead>
          <tr>
            <th class='text-left' colspan=3>{{t 'general.vocabulary'}}</th>
            <th class='text-left' colspan=1>{{t 'general.terms'}}</th>
            <th class='text-left' colspan=1>{{t 'general.actions'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (await sortedVocabularies) as |vocabulary|}}
            <tr class="{{if (is-in showRemovalConfirmationFor vocabulary) 'confirm-removal'}}">
              <td class='text-left text-top' colspan=3>
                <span class='clickable link' {{action this.attrs.manageVocabulary vocabulary.id}}>{{vocabulary.title}}</span>
              </td>
              <td class='text-left text-top' colspan=1>
                {{get (await vocabulary.terms) 'length'}}
              </td>

              <td class='text-left text-top' colspan=1>
                {{#if editable}}
                  <span class='clickable edit' {{action this.attrs.manageVocabulary vocabulary.id}}>{{fa-icon 'edit'}}</span>
                  {{#if (eq (get (await vocabulary.terms) 'length') 0)}}
                    {{fa-icon 'trash' class='remove clickable' click=(action 'confirmRemoval' vocabulary)}}
                  {{/if}}
                {{/if}}
              </td>
            </tr>
            {{#if (is-in showRemovalConfirmationFor vocabulary)}}
              <tr class='confirm-removal'>
                <td colspan=5>
                  <div class='confirm-message'>
                    {{t 'general.confirmVocabularyRemoval'}}<br>
                    <div class="confirm-buttons">
                      <button {{action 'remove' vocabulary}} class='remove text'>{{t 'general.yes'}}</button>
                      <button {{action 'cancelRemove' vocabulary}} class='done text'>{{t 'general.cancel'}}</button>
                    </div>
                  </div>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{fa-icon 'spinner' spin=true}}
    {{/liquid-if}}
  </div>
</section>
