{{inplace-text tagName='h5' value=vocabulary.title save='changeVocabularyTitle'}}
{{#deferred-content sortedTerms as |d|}}
  {{#d.settled}}
    {{t 'general.terms'}}:
  {{/d.settled}}
  {{#d.pending}}
    {{fa-icon 'spinner' spin=true}}
  {{/d.pending}}
  {{#d.fulfilled as |terms|}}
    <ul class='tag-list'>
      {{#each terms as |term|}}
        <li class='clickable link'>{{term.title}}</li>
      {{/each}}
    </ul>
  {{/d.fulfilled}}
{{/deferred-content}}

<div>
  <label>{{t 'schools.newTerm'}}:</label>
  {{one-way-input
    value=newTermTitle
    update=(action (mut newTermTitle))
    onenter=(action 'createTerm')
    focusOut=(action 'addErrorDisplayFor' 'newTermTitle')
  }}
  {{#if (and (v-get this 'newTermTitle' 'isInvalid') (is-in showErrorsFor 'newTermTitle'))}}
    <span class="validation-error-message">{{v-get this 'newTermTitle' 'message'}}</span>
  {{/if}}
  <button class='save text' {{action 'createTerm'}}>
    {{#if isSavingNewTerm}}
      {{fa-icon 'spinner' spin=true}}
    {{else}}
      {{t 'general.add'}}
    {{/if}}
  </button>
</div>
