<table class="condensed">
  <thead>
    <tr>
      <th class="text-left">{{t "general.attribute"}}</th>
      <th class="text-left">{{t "general.enabled"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{t "general.attendanceRequired"}}</td>
      <td>
        {{#if showSessionAttendanceRequired}}
          <input {{action disable "showSessionAttendanceRequired"}}
            type="checkbox"
            checked
          >
        {{else}}
          <input type="checkbox" {{action enable "showSessionAttendanceRequired"}}>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>{{t "general.supplementalCurriculum"}}</td>
      <td>
        {{#if showSessionSupplemental}}
          <input type="checkbox" checked {{action disable "showSessionSupplemental"}}>
        {{else}}
          <input type="checkbox" {{action enable "showSessionSupplemental"}}>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>{{t "general.specialAttireRequired"}}</td>
      <td>
        {{#if showSessionSpecialAttireRequired}}
          <input {{action disable "showSessionSpecialAttireRequired"}}
            type="checkbox"
            checked
          >
        {{else}}
          <input type="checkbox" {{action enable "showSessionSpecialAttireRequired"}}>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>{{t "general.specialEquipmentRequired"}}</td>
      <td>
        {{#if showSessionSpecialEquipmentRequired}}
          <input {{action disable "showSessionSpecialEquipmentRequired"}}
            type="checkbox"
            checked
          >
        {{else}}
          <input type="checkbox" {{action enable "showSessionSpecialEquipmentRequired"}}>
        {{/if}}
      </td>
    </tr>

  </tbody>
</table>
