<div class='title {{if showCollapsible "collapsible clickable"}}' {{action 'collapse'}}>
  {{t 'general.vocabularies'}} ({{get (await school.vocabularies) 'length'}})
</div>
<div class='school-vocabularies-expanded-content'>
  {{#if managedTermId}}
    {{school-vocabulary-term-manager
      vocabulary=managedVocabulary
      term=managedTerm
      manageTerm=setSchoolManagedVocabularyTerm
      manageVocabulary=setSchoolManagedVocabulary
    }}
  {{else if managedVocabularyId}}
    {{school-vocabulary-manager
      vocabulary=managedVocabulary
      manageTerm=setSchoolManagedVocabularyTerm
      manageVocabulary=setSchoolManagedVocabulary
    }}
  {{else}}
    {{school-vocabularies-list
      school=school
      manageVocabulary=setSchoolManagedVocabulary
    }}
  {{/if}}
</div>
