{{#each domains as |obj|}}
  <div class='hierarchical-list-manager'>
    {{inplace-text tagName='h4' value=obj.domain.title save='changeCompetencyTitle' condition=obj.domain}}
    {{#if (eq obj.competencies.length 0)}}
       {{fa-icon 'trash' class='remove clickable' click=(action this.attrs.remove obj.domain)}}
    {{/if}}
    <ul>
      {{#each obj.competencies as |competency|}}
        <li>
          {{inplace-text value=competency.title save='changeCompetencyTitle' condition=competency}}
          {{#if (eq competency.objectives.length 0)}}
             {{fa-icon 'trash' class='remove clickable' click=(action this.attrs.remove competency)}}
          {{else}}
            ({{competency.objectives.length}})
          {{/if}}
        </li>
      {{/each}}
      {{#if obj.domain.id}}
        <div>
          <input onkeyup={{action (action 'createNewCompetencyFromInput')}} />
          <button class='save text' value={{obj.domain.id}} onclick={{action (action 'createNewCompetencyFromButton')}}>{{t 'general.add'}}</button>
        </div>
      {{/if}}
    </ul>
  </div>
{{/each}}

<div>
  <label>{{t 'schools.newDomain'}}</label>
  {{one-way-input
    value=newDomainValue
    update=(action (mut newDomainValue))
    onenter=(action 'createNewDomain')
  }}
  <button class='save text' {{action 'createNewDomain'}}>{{t 'general.add'}}</button>
</div>
