{{#each domains as |obj|}}
  <div class='hierarchical-list'>
    {{competency-title-editor competency=obj.domain}}
    {{#if (eq obj.competencies.length 0)}}
      {{fa-icon 'trash' class='remove clickable' click=(action remove obj.domain)}}
    {{/if}}
    <ul>
      {{#each obj.competencies as |competency|}}
        <li>
          {{competency-title-editor competency=competency}}
          {{#if (eq competency.objectives.length 0)}}
            {{fa-icon 'trash' class='remove clickable' click=(action remove competency)}}
          {{else}}
            ({{competency.objectives.length}})
          {{/if}}
        </li>
      {{/each}}
      {{#if obj.domain.id}}
        {{new-competency add=(action add obj.domain)}}
      {{/if}}
    </ul>
  </div>
{{/each}}

<h5>{{t 'general.newDomain'}}</h5>
{{new-competency add=(action add null)}}
