<div class='form'>
  <div class='item'>
    <label>{{t 'general.title'}}:</label>
    {{#if canEditTitle}}
      <input
        value={{title}}
        oninput={{action (mut title) value="target.value"}}
        onfocusout={{action 'addErrorDisplayFor' 'title'}}
      >
      {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
        <span class="message error">{{v-get this 'title' 'message'}}</span>
      {{/if}}
    {{else}}
      <span class='value'>{{title}}</span>
    {{/if}}
  </div>

  <div class='item'>
    <label>{{t 'general.aamcMethod'}}</label>
    {{#if (is-fulfilled filteredAamcMethods)}}
      {{#if canEditAamcMethod}}
        <select onchange={{action (mut selectedAamcMethodId) value="target.value"}}>
          <option selected={{not selectedAamcMethodId}}></option>
          {{#each (sort-by 'description' (await filteredAamcMethods)) as |aamcMethod|}}
            <option value="{{aamcMethod.id}}" selected={{eq aamcMethod.id selectedAamcMethodId}}>
              {{aamcMethod.description}}
            </option>
          {{/each}}
        </select>
        {{#if (and (v-get this 'selectedAamcMethodId' 'isInvalid') (is-in showErrorsFor 'selectedAamcMethodId'))}}
          <span class="message error">{{v-get this 'selectedAamcMethodId' 'message'}}</span>
        {{/if}}
      {{else}}
        <span class='value'>{{get (await selectedAamcMethod) 'description'}}</span>
      {{/if}}
    {{else}}
      {{fa-icon 'spinner' spin=true}}
    {{/if}}
  </div>

  <div class='item calendar-color'>
    <label>{{t 'general.color'}}:</label>
    {{#if canEditCalendarColor}}
      <input
        type='color'
        value={{calendarColor}}
        oninput={{action (mut calendarColor) value="target.value"}}
        onfocusout={{action 'addErrorDisplayFor' 'calendarColor'}}
      >
      {{#if (and (v-get this 'calendarColor' 'isInvalid') (is-in showErrorsFor 'calendarColor'))}}
        <span class="message error">{{v-get this 'calendarColor' 'message'}}</span>
      {{/if}}
    {{else}}
      <span class='value'>
        <span class='box' style={{{concat 'background-color: ' calendarColor}}}></span>
        {{calendarColor}}
      </span>
    {{/if}}
  </div>

  <div class='item'>
    <label>{{t 'general.assessment'}}:</label>
    {{#if canEditAssessment}}
      {{toggle-yesno yes=assessment toggle=(action 'updateAssessment')}}
    {{else}}
      <span class='value {{if assessment "yes" "no"}}'>
        {{#if assessment}}
          {{t 'general.yes'}}
        {{else}}
          {{t 'general.no'}}
        {{/if}}
      </span>
    {{/if}}
  </div>

  {{#if (and assessment (is-fulfilled assessmentOptions))}}
    <div class='item'>
      <label>{{t 'general.assessmentOption'}}:</label>
      {{#if canEditAssessmentOption}}
        <select onchange={{action (mut selectedAssessmentOptionId) value="target.value"}}>
          {{#each (sort-by 'name' (await assessmentOptions)) as |option|}}
            <option value={{option.id}} selected={{eq option.id selectedAssessmentOptionId}}>
              {{option.name}}
            </option>
          {{/each}}
        </select>
      {{else}}
        <span class='value'>{{get (await selectedAssessmentOption) 'name'}}</span>
      {{/if}}
    </div>
  {{/if}}

  <div class='item'>
    <label>{{t 'general.active'}}:</label>
    {{toggle-yesno yes=isActive toggle=(action (mut isActive))}}
  </div>

  <div class='buttons'>
    <button class='done text' {{action (perform saveSessionType)}} disabled={{saveSessionType.isRunning}}>
      {{#if saveSessionType.isRunning}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.done'}}
      {{/if}}
    </button>
    <button class='cancel text' {{action close}}>{{t 'general.cancel'}}</button>
  </div>
</div>
