<div class="backtolink">
  {{#link-to 'schools'}}{{t 'general.backToSchools'}}{{/link-to}}
</div>

<div class='school-overview'>
  {{#editable-field
    tagName='h2'
    value=title
    save=(action 'changeTitle')
    close=(action 'revertTitleChanges')
    as |isSaving save close|
  }}
    {{one-way-input
      value=title
      update=(action (mut title))
      onenter=save
      onescape=close
      disabled=isSaving
      focusOut=(action 'addErrorDisplayFor' 'title')
      keyPress=(action 'addErrorDisplayFor' 'title')
    }}
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  {{/editable-field}}
</div>

<div class='school-manager-content'>
  {{#if (or (and (eq school.directors.length 0) (eq school.administrators.length 0)) schoolLeadershipDetails)}}
    {{school-leadership-expanded
      school=school
      collapse=(action setSchoolLeadershipDetails false)
      expand=(action setSchoolLeadershipDetails true)
      isManaging=schoolManageLeadership
      setIsManaging=setSchoolManageLeadership
    }}
  {{else}}
    {{leadership-collapsed
      title=(t 'general.schoolLeadership')
      directorsCount=(has-many-length school 'directors')
      administratorsCount=(has-many-length school 'administrators')
      expand=(action setSchoolLeadershipDetails true)
    }}
  {{/if}}
  {{#if (or (eq school.competencies.length 0) schoolCompetencyDetails)}}
    {{school-competencies-expanded
      school=school
      collapse=(action setSchoolCompetencyDetails false)
      expand=(action setSchoolCompetencyDetails true)
      isManaging=schoolManageCompetencies
      setSchoolManageCompetencies=setSchoolManageCompetencies
    }}
  {{else}}
    {{school-competencies-collapsed school=school expand=(action setSchoolCompetencyDetails true)}}
  {{/if}}

  {{#if (or (eq school.vocabularies.length 0) schoolVocabularyDetails)}}
    {{school-vocabularies-expanded
      school=school
      collapse=(action setSchoolVocabularyDetails false)
      expand=(action setSchoolVocabularyDetails true)
      managedVocabularyId=schoolManagedVocabulary
      setSchoolManagedVocabulary=setSchoolManagedVocabulary
      managedTermId=schoolManagedVocabularyTerm
      setSchoolManagedVocabularyTerm=setSchoolManagedVocabularyTerm
    }}
  {{else}}
    {{school-vocabularies-collapsed school=school expand=(action setSchoolVocabularyDetails true)}}
  {{/if}}

  {{#if (or (eq (get (await school.sessionTypes) 'length') 0) schoolSessionTypeDetails)}}
    {{school-session-types-expanded
      school=school
      collapse=(action setSchoolSessionTypeDetails false)
      expand=(action setSchoolSessionTypeDetails true)
      managedSessionTypeId=schoolManagedSessionType
      setSchoolManagedSessionType=setSchoolManagedSessionType
	  schoolNewSessionType=schoolNewSessionType
	  setSchoolNewSessionType=setSchoolNewSessionType
    }}
  {{else}}
    {{school-session-types-collapsed school=school expand=(action setSchoolSessionTypeDetails true)}}
  {{/if}}
  {{school-session-attributes
    school=school
    collapse=(action setSchoolSessionAttributesDetails false)
    expand=(action setSchoolSessionAttributesDetails true)
    details=schoolSessionAttributesDetails
    isManaging=schoolManageSessionAttributes
    manage=setSchoolManageSessionAttributes
  }}
</div>
