<section class='detail-block collapsed'>
  <div class='detail-title clickable'  {{action (action this.attrs.expand)}}>
    {{t 'general.competencies'}} ({{allDomains.length}}/{{allCompetencies.length}})
  </div>
  {{#if competencies.isPending}}
    <h3>{{fa-icon 'spinner' spin=true}}</h3>
  {{/if}}
  {{#unless competencies.isPending}}
    <div class='detail-content'>
      <table class='condensed'>
        <thead>
          <tr>
            <th class='text-left'>{{t 'general.domain'}}</th>
            <th class='text-left'>{{t 'general.summary'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each domains as |domain|}}
            <tr>
              <td>{{domain.title}}</td>
              <td class='summary-highlight'>
                {{t 'general.competencyCount' count=domain.children.length}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/unless}}
</section>
