{{#if (is-fulfilled showCollapsible)}}
  <section class='detail-block {{if showCollapsible "collapsible"}}'>
    <div class='detail-title {{if showCollapsible "clickable"}}' {{action 'collapse'}}>
      {{t 'general.vocabularies'}} ({{school.vocabularies.length}})
    </div>
    <div class='detail-content'>
      {{#liquid-if isManaging class='crossFade'}}
        {{school-vocabulary-manager vocabulary=managedVocabulary}}
      {{else}}
        {{school-vocabularies-list
          school=school
          manageVocabulary=this.attrs.setSchoolManagedVocabulary
        }}
      {{/liquid-if}}
    </div>
  </section>
{{/if}}
