<table>
  <thead>
    <tr>
      <th colspan=3>{{t 'general.title'}}</th>
      <th class='hide-from-small-screen'>{{t 'general.sessions'}}</th>
      <th>{{t 'general.assessment'}}</th>
      <th class='hide-from-small-screen' colspan=2>{{t 'general.assessmentOption'}}</th>
      <th class='hide-from-small-screen' colspan=2>{{t 'general.aamcMethod'}}</th>
      <th class='hide-from-small-screen'>{{t 'general.color'}}</th>
      <th>{{t 'general.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each (sort-by 'active:desc' 'title' sessionTypes) as |sessionType|}}
      <tr>
        <td colspan=3>
          <a class='clickable' {{action manageSessionType sessionType.id}}>
            {{sessionType.title}}
          </a>
          {{#unless sessionType.active}}
            <em>({{t 'general.inactive'}})</em>
          {{/unless}}
        </td>
        <td class='hide-from-small-screen'>{{sessionType.sessionCount}}</td>
        <td>
          {{#if sessionType.assessment}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
        <td class='hide-from-small-screen' colspan=2>{{get (await sessionType.assessmentOption) 'name'}}</td>
        <td class='hide-from-small-screen' colspan=2>{{get (await sessionType.firstAamcMethod) 'description'}}</td>
        <td class='calendar-color hide-from-small-screen'>
          <span class='box' style={{{concat 'background-color: ' sessionType.safeCalendarColor}}}></span>
        </td>
        <td>
          {{fa-icon 'edit' class='edit clickable' click=(action manageSessionType sessionType.id)}}
          {{#if (eq sessionType.sessionCount 0)}}
            {{#if (contains sessionType.id deletedSessionTypes)}}
              {{loading-spinner}}
            {{else if canDelete}}
              {{fa-icon 'trash' class=(if deleteSessionType.isRunning 'inactive' 'remove clickable') click=(perform deleteSessionType sessionType)}}
            {{/if}}
          {{/if}}
          {{#link-to 'session-type-visualize-vocabularies' sessionType}}
            {{fa-icon 'bar-chart'}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
