<div {{action "collapse"}}
  class="title {{if showCollapsible "collapsible clickable"}}"
>
  {{t "general.vocabularies"}} ({{get (await school.vocabularies) "length"}})
</div>
<div class="school-vocabularies-expanded-content">
  {{#if managedTermId}}
    {{school-vocabulary-term-manager
      vocabulary=managedVocabulary
      term=managedTerm
      manageTerm=setSchoolManagedVocabularyTerm
      manageVocabulary=setSchoolManagedVocabulary
      canUpdate=canUpdateTerm
      canDelete=canDeleteTerm
      canCreate=canCreateTerm
    }}
  {{else if managedVocabularyId}}
    {{school-vocabulary-manager
      vocabulary=managedVocabulary
      manageTerm=setSchoolManagedVocabularyTerm
      manageVocabulary=setSchoolManagedVocabulary
      canUpdate=canUpdateVocabulary
      canCreate=canCreateTerm
    }}
  {{else}}
    {{school-vocabularies-list
      school=school
      manageVocabulary=setSchoolManagedVocabulary
      canDelete=canDeleteVocabulary
      canCreate=canCreateVocabulary
    }}
  {{/if}}
</div>
