<section class='schools'>
  <div class="header">
    <div class="title">
      <h2>{{t 'general.schools'}}</h2>
    </div>
    {{#if (await currentUser.userIsDeveloper)}}
      <div class='actions'>
        {{expand-collapse-button value=showNewSchoolForm action="toggleNewSchoolForm"}}
      </div>
    {{/if}}
  </div>
  <section class='new'>
    {{#if showNewSchoolForm class='vertical'}}
      <div class="new-result-title">{{t 'general.newSchool'}}</div>

      <div class="detail-content form-container">
        <div class="form-col-6 multi-row">
          <label class="form-label">{{t 'general.title'}}:</label>
          <div class="form-data">
            <input
              type="text"
              value={{title}}
              oninput={{action (mut title) value="target.value"}}
              onkeyup={{action 'addErrorDisplayFor' 'title'}}
              class={{if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title')) 'has-error'}}
            >
            {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
              <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
            {{/if}}
          </div>
          <label class="form-label">{{t 'general.administratorEmail'}}:</label>
          <div class="form-data">
            <input
              type="text"
              value={{iliosAdministratorEmail}}
              oninput={{action (mut iliosAdministratorEmail) value="target.value"}}
              onkeyup={{action 'addErrorDisplayFor' 'iliosAdministratorEmail'}}
              class={{if (and (v-get this 'iliosAdministratorEmail' 'isInvalid') (is-in showErrorsFor 'iliosAdministratorEmail')) 'has-error'}}
            >
            {{#if (and (v-get this 'iliosAdministratorEmail' 'isInvalid') (is-in showErrorsFor 'iliosAdministratorEmail'))}}
              <span class="validation-error-message">{{v-get this 'iliosAdministratorEmail' 'message'}}</span>
            {{/if}}
          </div>
        </div>
        <div class="form-col-6 form-data-submit">
          <button class='done text' {{action 'createNewSchool'}}>
            {{#liquid-if isSavingNewSchool 'crossFade'}}
              {{fa-icon 'spinner' spin=true}}
            {{else}}
              {{t 'general.done'}}
            {{/liquid-if}}
          </button>
          <button class='cancel text' {{action 'hideNewSchoolForm'}}>{{t 'general.cancel'}}</button>
        </div>
      </div>

    {{/if}}

    {{#each newSchools as |school|}}
      <div class='savedschool'>
        {{#link-to 'school' school}}
          {{fa-icon 'external-link-square'}} {{school.title}}
        {{/link-to}}
        {{t 'general.savedSuccessfully'}}
      </div>
    {{/each}}
  </section>
  <div class='list'>
    <table>
      <thead>
        <tr>
          <th class='text-left' colspan=4>{{t 'general.school'}}</th>
          <th class='text-left' colspan=1>{{t 'general.actions'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSchools as |school|}}
          <tr>
            <td class='text-left' colspan=4>
              {{#link-to 'school' school}}
                {{school.title}}
              {{/link-to}}
            </td>

            <td class='text-left' colspan=1>
              {{#link-to 'school' school class='edit'}}
                {{fa-icon 'edit'}}
              {{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</section>
