<div class='school-session-attributes-expanded-header'>
  {{#if isManaging}}
    <div class='title'>{{t 'general.sessionAttributes'}}</div>
  {{else}}
    <div class='title clickable collapsible' onclick={{action collapse}}>
      {{t 'general.sessionAttributes'}}
    </div>
  {{/if}}
  <div class='actions'>
    {{#if isManaging}}
      <button class='bigadd' onclick={{perform save}}>
        {{fa-icon (if save.isRunning 'spinner' 'check') spin=(if save.isRunning true false)}}
      </button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{else}}
      <button {{action manage true}}>{{t 'general.manageSessionAttributes'}}</button>
    {{/if}}
  </div>
</div>
<div class='school-session-attributes-expanded-content'>
  {{#liquid-if isManaging class="horizontal"}}
    {{school-session-attributes-manager
      showSessionAttendanceRequired=bufferedShowSessionAttendanceRequired
      showSessionSupplemental=bufferedShowSessionSupplemental
      showSessionSpecialAttireRequired=bufferedShowSessionSpecialAttireRequired
      showSessionSpecialEquipmentRequired=bufferedShowSessionSpecialEquipmentRequired
      enable=(action 'enableSessionAttributeConfig')
      disable=(action 'disableSessionAttributeConfig')
    }}
  {{else}}
    <table>
      <thead>
        <tr>
          <th class='text-left'>{{t 'general.attribute'}}</th>
          <th class='text-left'>{{t 'general.enabled'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{t 'general.attendanceRequired'}}</td>
          <td>{{fa-icon (if showSessionAttendanceRequired 'check' 'ban') class=(if showSessionAttendanceRequired "yes" "no")}}</td>
        </tr>
        <tr>
          <td>{{t 'general.supplementalCurriculum'}}</td>
          <td>{{fa-icon (if showSessionSupplemental 'check' 'ban') class=(if showSessionSupplemental "yes" "no")}}</td>
        </tr>
        <tr>
          <td>{{t 'general.specialAttireRequired'}}</td>
          <td>{{fa-icon (if showSessionSpecialAttireRequired 'check' 'ban') class=(if showSessionSpecialAttireRequired "yes" "no")}}</td>
        </tr>
        <tr>
          <td>{{t 'general.specialEquipmentRequired'}}</td>
          <td>{{fa-icon (if showSessionSpecialEquipmentRequired 'check' 'ban') class=(if showSessionSpecialEquipmentRequired "yes" "no")}}</td>
        </tr>
      </tbody>
    </table>
  {{/liquid-if}}
</div>
