<div class="backtolink">
  {{#link-to 'schools'}}{{t 'general.backToSchools'}}{{/link-to}}
</div>

<div class='school-overview'>
  {{#editable-field
    tagName='h2'
    value=title
    save=(action 'changeTitle')
    close=(action 'revertTitleChanges')
    as |isSaving save close|
  }}
    {{one-way-input
      value=title
      update=(action (mut title))
      onenter=save
      onescape=close
      disabled=isSaving
      focusOut=(action 'addErrorDisplayFor' 'title')
      keyPress=(action 'addErrorDisplayFor' 'title')
    }}
    {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
      <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
    {{/if}}
  {{/editable-field}}
</div>

<div class='school-manager-content'>
  {{#if (or (and (eq school.directors.length 0) (eq school.administrators.length 0)) schoolLeadershipDetails)}}
    {{school-leadership-expanded
      school=school
      collapse=(action setSchoolLeadershipDetails false)
      expand=(action setSchoolLeadershipDetails true)
      isManaging=schoolManageLeadership
      setIsManaging=setSchoolManageLeadership
    }}
  {{else}}
    {{leadership-collapsed
      title=(t 'general.schoolLeadership')
      directorsCount=(has-many-length school 'directors')
      administratorsCount=(has-many-length school 'administrators')
      expand=(action setSchoolLeadershipDetails true)
    }}
  {{/if}}
  {{#if (or (eq school.competencies.length 0) schoolCompetencyDetails)}}
    {{school-competencies-expanded
      school=school
      collapse=(action this.attrs.setSchoolCompetencyDetails false)
      expand=(action this.attrs.setSchoolCompetencyDetails true)
      isManaging=schoolManageCompetencies
      setSchoolManageCompetencies=this.attrs.setSchoolManageCompetencies
    }}
  {{else}}
    {{school-competencies-collapsed school=school expand=(action this.attrs.setSchoolCompetencyDetails true)}}
  {{/if}}

  {{#if (or (eq school.vocabularies.length 0) schoolVocabularyDetails)}}
    {{school-vocabularies-expanded
      school=school
      collapse=(action this.attrs.setSchoolVocabularyDetails false)
      expand=(action this.attrs.setSchoolVocabularyDetails true)
      managedVocabularyId=schoolManagedVocabulary
      setSchoolManagedVocabulary=this.attrs.setSchoolManagedVocabulary
      managedTermId=schoolManagedVocabularyTerm
      setSchoolManagedVocabularyTerm=this.attrs.setSchoolManagedVocabularyTerm
    }}
  {{else}}
    {{school-vocabularies-collapsed school=school expand=(action this.attrs.setSchoolVocabularyDetails true)}}
  {{/if}}

  {{#if schoolSessionAttributes}}
    {{#if schoolSessionAttributesDetails}}
      {{school-session-attributes-expanded
        school=school
        collapse=(action setSchoolSessionAttributesDetails false)
        setSchoolManagedSessionAttributes=setSchoolManagedSessionAttributes
        isManaging=schoolManageSessionAttributes
        setManaging=setSchoolManageSessionAttributes
      }}
    {{else}}
      {{school-session-attributes-collapsed school=school expand=(action setSchoolSessionAttributesDetails true)}}
    {{/if}}
  {{/if}}
</div>
