{{#if (is-fulfilled allParents)}}
  <div class='breadcrumbs'>
    <span {{action 'clearVocabAndTerm'}}>{{t 'general.allVocabularies'}}</span>
    <span {{action manageTerm null}}>{{vocabulary.title}}</span>
    {{#each (await allParents) as |parent|}}
      <span {{action manageTerm parent.id}}>{{parent.title}}</span>
    {{/each}}
    <span>{{term.title}}</span>
  </div>
{{/if}}

{{#if term}}
  <p class='term-title'>
    {{#editable-field
      value=(if title title (t 'general.clickToEdit'))
      save=(action 'changeTermTitle')
      close=(action 'revertTermTitleChanges')
      saveOnEnter=true
      closeOnEscape=true
      as |isSaving|
    }}
      <input
        value={{title}}
        oninput={{action (mut title) value="target.value"}}
        disabled={{isSaving}}
      >
    {{/editable-field}}
    {{#unless (or term.hasChildren term.hasAssociations)}}
      {{fa-icon 'trash' class='clickable remove' click=(action 'deleteTerm')}}
    {{/unless}}
  </p>
  <p class='term-description'>
    {{#editable-field
      value=(if description description (t 'general.clickToAddTermDescription'))
      save=(action 'changeTermDescription')
      close=(action 'revertTermDescriptionChanges')
      closeOnEscape=true
      as |isSaving|
    }}
      <textarea
        value={{description}}
        oninput={{action (mut description) value="target.value"}}
        disabled={{isSaving}}
      >
        {{description}}
      </textarea>
    {{/editable-field}}
  </p>
{{/if}}
{{#each newTerms as |term|}}
  <div class='saved-result'>
    <span class='clickable link' {{action manageTerm term.id}}>
      {{fa-icon 'external-link-square'}} {{term.title}}
    </span>
    {{t 'general.savedSuccessfully'}}
  </div>
{{/each}}
<h5 class='selectable-list-header'>{{t 'general.subTerms'}}:</h5>
<div class='selectable-list'>
  <div class='selectable-list-form'>
    <input
      type="text"
      value={{newTermTitle}}
      oninput={{action (mut newTermTitle) value="target.value"}}
      onkeyup={{action 'addErrorDisplayFor' 'newTermTitle'}}
    >
    <button class='save text' {{action 'createTerm'}}>
      {{#if isSavingNewTerm}}
        {{fa-icon 'spinner' spin=true}}
      {{else}}
        {{t 'general.add'}}
      {{/if}}
    </button>
    {{#if (and (v-get this 'newTermTitle' 'isInvalid') (is-in showErrorsFor 'newTermTitle'))}}
      <span class="validation-error-message">{{v-get this 'newTermTitle' 'message'}}</span>
    {{/if}}
  </div>

  {{#if (is-fulfilled sortedTerms)}}
    <ul>
      {{#each (await sortedTerms) as |term|}}
        <li {{action manageTerm term.id}}>{{term.title}}</li>
      {{/each}}
    </ul>
  {{else}}
    {{fa-icon 'spinner' spin=true}}
  {{/if}}
</div>
