{{#deferred-content allParents as |d|}}
  {{#d.fulfilled as |parents|}}
  <div class='breadcrumbs'>
    <span {{action this.attrs.manageTerm null}}>{{vocabulary.title}}</span>
    {{#each parents as |parent|}}
      <span {{action this.attrs.manageTerm parent.id}}>{{parent.title}}</span>
    {{/each}}
  </div>
  {{/d.fulfilled}}
{{/deferred-content}}


{{#if term}}
  {{inplace-text tagName='h5' value=term.title save='changeTermTitle'}}
{{/if}}
{{#deferred-content sortedTerms as |d|}}
  {{#d.settled}}
    {{t 'general.terms'}}:
  {{/d.settled}}
  {{#d.pending}}
    {{fa-icon 'spinner' spin=true}}
  {{/d.pending}}
  {{#d.fulfilled as |terms|}}
    <ul class='tag-list'>
      {{#each terms as |term|}}
        <li class='clickable link' {{action this.attrs.manageTerm term.id}}>{{term.title}}</li>
      {{else}}
        {{t 'general.none'}}
      {{/each}}
    </ul>
  {{/d.fulfilled}}
{{/deferred-content}}

<div>
  <label>{{t 'schools.newTerm'}}:</label>
  {{one-way-input
    value=newTermTitle
    update=(action (mut newTermTitle))
    onenter=(action 'createTerm')
    focusOut=(action 'addErrorDisplayFor' 'newTermTitle')
  }}
  {{#if (and (v-get this 'newTermTitle' 'isInvalid') (is-in showErrorsFor 'newTermTitle'))}}
    <span class="validation-error-message">{{v-get this 'newTermTitle' 'message'}}</span>
  {{/if}}
  <button class='save text' {{action 'createTerm'}}>
    {{#if isSavingNewTerm}}
      {{fa-icon 'spinner' spin=true}}
    {{else}}
      {{t 'general.add'}}
    {{/if}}
  </button>
</div>
