<div class='school-session-types-header'>
  <div class='title {{if (await isCollapsible) "collapsible clickable"}}' {{action 'collapse'}}>
    {{t 'general.sessionTypes'}}
  </div>
  <div class='actions'>
    {{#if (and canCreate (not managedSessionTypeId))}}
      {{expand-collapse-button value=schoolNewSessionType action="toggleSchoolNewSessionType"}}
    {{/if}}
  </div>
</div>
<div class='school-session-types-expanded-content'>
  {{#liquid-if schoolNewSessionType class='vertical'}}
    {{school-session-type-form
      title=null
      calendarColor="#ffffff"
      assessment=false
      isActive=true
      canEditTitle=true
      canEditAamcMethod=true
      canEditCalendarColor=true
      canEditAssessment=true
      canEditAssessmentOption=true
      canEditActive=true
      canUpdate=true
      save=(perform save)
      close=(action setSchoolNewSessionType false)
    }}
  {{/liquid-if}}
  {{#liquid-if managedSessionTypeId class='horizontal'}}
    {{school-session-type-manager
      sessionType=(await managedSessionType)
      close=(action setSchoolManagedSessionType null)
      canUpdate=canUpdate
    }}
  {{else}}
    {{school-session-types-list
      sessionTypes=(await sessionTypes)
      manageSessionType=setSchoolManagedSessionType
      canDelete=canDelete
    }}
  {{/liquid-if}}
</div>
