<section class='detail-block {{if showCollapsible "collapsible"}}'>
  {{#if isManaging}}
      <div class='detail-title'>
      </div>
  {{else}}
    <div class='detail-title {{if showCollapsible "clickable"}}' {{action 'collapse'}}>
      {{t 'general.vocabularies'}} ({{school.vocabularies.length}})
    </div>
  {{/if}}
  <div class='detail-actions'>
    {{#if isManaging}}
      <button class='bigadd' {{action 'save'}}>
        {{fa-icon (if isSaving 'spinner' 'check') spin=(if isSaving true false)}}
      </button>
      <button class='bigcancel' {{action 'cancel'}}>{{fa-icon 'undo'}}</button>
    {{/if}}
  </div>
  <div class='detail-content'>
    {{school-vocabularies-list
      school=school
    }}
  </div>
</section>
