{{input action='search' type="search" value=value placeholder=placeholder}}
<button {{bind-attr title=buttonTitle}} {{action 'search'}} type="submit">
  {{fa-icon 'search'}}
</button>
{{#if value.length}}
<button class='close' {{action 'clear'}}>
  {{fa-icon 'close'}}
</button>
{{/if}}
