<input
  class="search-input"
  type="search"
  value={{value}}
  oninput={{action "update" value="target.value"}}
  placeholder={{placeholder}}
>
<span class="search-icon" onclick={{pipe-action (action "focus") (perform searchTask)}}>
  {{fa-icon "search"}}
</span>
