{{input action='search' type="search" value=value placeholder=placeholder}}
<span class="search-icon" {{action 'search'}}>
  {{fa-icon 'search'}}
</span>
{{#if value.length}}
  <button class='close' {{action 'clear'}}>
    {{fa-icon 'close'}}
  </button>
{{/if}}
