{{#if term.description.length}}
  {{#attach-tooltip lazy-render=true animation="shift"}}
    {{term.description}}
  {{/attach-tooltip}}
{{/if}}
{{term.title}}
<span class="actions">
  {{#if isSelected}}
    {{fa-icon "remove"}}
  {{else}}
    {{fa-icon "plus" class="add"}}
  {{/if}}
</span>
