{{#if term.description.length}}
  {{#tooltip-on-component  class='tooltip-description'}}
    {{term.description}}
  {{/tooltip-on-component}}
{{/if}}
{{term.title}}
<span class="actions">
  {{#if isSelected}}
    {{fa-icon 'remove'}}
  {{else}}
    {{fa-icon 'plus' class='add'}}
  {{/if}}
</span>
