<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.offerings'}} ({{offerings.length}})
  </div>

  <div class='detail-actions'>
    {{#action-menu title=newButtonTitle icon='plus' classNames='blend-button right-edge'}}
      <li>{{t 'general.addNew'}}</li>
      <li>{{t 'sessions.openSmallGroupGenerator'}}</li>
    {{/action-menu}}
  </div>
  <div class='detail-content'>
    {{#if offerings.length}}
      {{#each block in offeringBlocks}}
        {{offering-block block=block}}
      {{/each}}
    {{else}}
      <p>{{t 'sessions.noOfferings'}}</p>
    {{/if}}
  </div>
</section>
