{{session-overview
  course=(await session.course)
  session=session
  showCheckLink=false
  sessionTypes=(await session.course.school.sessionTypes)
}}
<div class="back-to-session">
  {{#link-to "session.index" (await session.course) session}}
    {{fa-icon "undo"}} {{t "general.backToTitle" title=session.title}}
  {{/link-to}}
</div>

<div class="results">
  <div class="title">
    {{t "general.missingItems"}} ({{session.allPublicationIssuesLength}})
  </div>
  <div class="session-publicationcheck-content">
    <table>
      <thead>
        <tr>
          <th>{{t "general.sessionTitle"}}</th>
          <th>{{t "general.offerings"}}</th>
          <th>{{t "general.terms"}}</th>
          <th>{{t "general.objectives"}}</th>
          <th>{{t "general.meshTerms"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{session.title}}</td>
          {{#if session.offerings.length}}
            <td class="yes">{{t "general.yes"}} ({{session.offerings.length}})</td>
          {{else}}
            <td class="no">{{t "general.no"}}</td>
          {{/if}}
          {{#if session.terms.length}}
            <td class="yes">{{t "general.yes"}} ({{session.terms.length}})</td>
          {{else}}
            <td class="no">{{t "general.no"}}</td>
          {{/if}}
          {{#if session.objectives.length}}
            <td class="yes">{{t "general.yes"}} ({{session.objectives.length}})</td>
          {{else}}
            <td class="no">{{t "general.no"}}</td>
          {{/if}}
          {{#if session.meshDescriptors.length}}
            <td class="yes">{{t "general.yes"}} ({{session.meshDescriptors.length}})</td>
          {{else}}
            <td class="no">{{t "general.no"}}</td>
          {{/if}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
