<div class='detail-header'>
  <span class='title'>
    {{#if editable}}
      {{editable-text tagName='h2' model=session property='title'}}
    {{else}}
      <h2>{{session.title}}</h2>
    {{/if}}
  </span>
  <span class ='actions'>
    <button {{action 'unpublish'}} class='unpublish session-unpublish' {{bind-attr disabled=session.isNotPublished}}>{{fa-icon 'fa-cloud'}} {{t 'publish.unPublishSession'}}</button>
    {{#action-menu titleTranslation='publish.publishSession' icon='sun-o' classNames='publish-menu session-publish-menu'}}
      <li {{action 'publishAsTbd'}}>{{t 'publish.markAsScheduled'}}</li>
      {{#unless session.allPublicationIssuesLength}}
        <li {{action 'publish'}}>{{t 'publish.publishSession'}}</li>
      {{else}}
        {{#if showCheckLink}}
          <li>
            {{#link-to 'course.sessionpublicationcheck' session}}
              {{t 'publish.reviewMissingItems' countBinding=session.allPublicationIssuesLength}}
            {{/link-to}}
          </li>
        {{/if}}
        {{#unless session.requiredPublicationIssues.length}}
          <li {{action 'publish'}}>{{t 'publish.publishAsIs'}}</li>
        {{/unless}}
      {{/unless}}
    {{/action-menu}}
    {{publication-status item=session}}
  </span>
</div>
<section class='detail-overview detail-block'>
  <div class='detail-title'>
    {{t 'general.overview'}}
  </div>
  <div class='detail-content'>
    {{#if editable}}
      <div class="inline-label-data-block">
        <label>{{t "sessions.type"}}:</label>
        <div>
          {{editable-select
            model=session
            property='sessionType'
            options=sortedSessionTypes
            valuePath='id'
            labelPath='title'
          }}
        </div>
      </div>
      <br />
      <div class="inline-label-data-block">
        <label>{{t "sessions.supplementalCurriculum"}}:</label>
        <div>{{editable-boolean model=session property='supplemental'}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "sessions.specialAttireRequired"}}:</label>
        <div>{{editable-boolean model=session property='attireRequired'}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "sessions.specialEquipmentRequired"}}:</label>
        <div>{{editable-boolean model=session property='equipmentRequired'}}</div>
      </div>
      <br />
      <div class="inline-label-data-block">
        <label>{{t "general.description"}}:</label>
        <div>{{editable-textarea model=session.sessionDescription property='description'}}</div>
      </div>
    {{else}}
      <div class="inline-label-data-block">
        <label>{{t "sessions.type"}}:</label>
        <div>{{session.sessionType.title}}</div>
      </div>
      <br />
      <div class="inline-label-data-block">
        <label>{{t "sessions.supplementalCurriculum"}}:</label>
        <div>{{boolean-check value=session.supplemental}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "sessions.specialAttireRequired"}}:</label>
        <div>{{boolean-check value=session.attireRequired}}</div>
      </div>
      <div class="inline-label-data-block">
        <label>{{t "sessions.specialEquipmentRequired"}}:</label>
        <div>{{boolean-check value=session.equipmentRequired}}</div>
      </div>
      <br />
      <div class="inline-label-data-block">
        <label>{{t "general.description"}}:</label>
        <div>{{session.sessionDescription.description}}</div>
      </div>
    {{/if}}
    <br />
    <br />

    <div class="inline-label-data-block">
      <label>{{t "general.associatedGroups"}}:</label>
      <div>
        {{#if session.associatedLearnerGroups.isFulfilled}}
          <span>
            {{#each group in session.associatedLearnerGroups}}
              {{group.title}},
            {{else}}
              {{t 'general.none'}}
            {{/each}}
          </span>
        {{else}}
          {{wave-loader fullSize=false}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
