<div class='objectivetitle'>{{{sessionObjective.title}}}</div>

{{#if (await showObjectiveList) class='vertical'}}
  <div class='parent-picker'>
    <h5>{{get (await course) 'title'}}</h5>
    <ul>
      {{#each (await proxiedObjectives) as |objective|}}
        {{#if objective.selected}}
          <li class='selected clickable' {{action 'removeParent' objective}}>
            {{input type='checkbox' checked=true}}
            {{objective.textTitle}}
          </li>
        {{else}}
          <li class='clickable' {{action 'addParent' objective}}>
            {{input type='checkbox' checked=false}}
            {{objective.textTitle}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class='no-group'>
    <p>
      {{t 'general.missingCourseObjectivesMessage'}}
    </p>
  </div>
{{/if}}
