<div class='detail-view session-detail-view' id="session-{{session.id}}">
  <div class='detail-view-details'>
    {{session-overview
      course=course
      session=session
      sessionTypes=sessionTypes
    }}
    {{#liquid-if session.isIndependentLearning class='vertical'}}
      {{detail-learnergroups
        subject=session.ilmSession
        cohorts=session.course.cohorts
        isIlmSession=true
      }}
      {{detail-instructors
        ilmSession=session.ilmSession
      }}
    {{/liquid-if}}
    {{detail-objectives subject=session isSession=true}}
    {{detail-learning-materials subject=session isCourse=false}}
    {{detail-topics
      subject=session
      availableTopics=availableTopics
    }}
    {{detail-mesh
      subject=session
      isSession=true
    }}
    {{session-offerings session=session}}
  </div>
</div>
