<caption>{{t 'general.offerings'}}</caption>
<thead>
  <tr>
    <th colspan=2>{{t 'general.when'}}</th>
    <th>{{t 'general.location'}}</th>
    <th class='text-center'>{{t 'general.learners'}}</th>
    <th colspan=2>{{t 'general.learnerGroups'}}</th>
    <th class='text-center'>{{t 'general.instructors'}}</th>
  </tr>
</thead>
<tbody>
  {{#each offeringBlocks as |block|}}
    <tr class='offering-block'>
      <td class='offering-block-date' colspan=7>
        <span class='offering-block-date-dayofweek'>{{block.dayOfWeek}}</span>
        <span class='offering-block-date-dayofmonth'>{{block.dayOfMonth}}</span>
      </td>
    </tr>
    {{#each block.offeringTimeBlocks as |offeringTimeBlock|}}
      {{#each offeringTimeBlock.sortedOfferings as |offering index|}}
        {{sessions-grid-offering
          offering=offering
          canUpdate=canUpdate
          showTime=(eq index 0)
          span=offeringTimeBlock.sortedOfferings.length
          startTime=offeringTimeBlock.startTime
          durationHours=offeringTimeBlock.durationHours
          durationMinutes=offeringTimeBlock.durationMinutes
        }}
      {{/each}}
    {{/each}}
  {{/each}}
</tbody>
