<div class='detail-header'>
  <span class='title'>
    {{#if editable}}
      {{inplace-text value=session.title save='changeTitle'}}
    {{else}}
      <h2>{{session.title}}</h2>
    {{/if}}
  </span>
  <span class ='actions'>
    {{#action-menu title=menuTitle icon=menuIcon classNameBindings='publicationStatus :publication-menu :session-publication-menu :right-edge'}}
      {{#if showAsIs}}
        <li class='danger' {{action 'publish'}}>{{t 'publish.publishAsIs'}}</li>
      {{/if}}
      {{#if showPublish}}
        <li class='good' {{action 'publish'}}>{{t 'publish.publishSession'}}</li>
      {{/if}}
      {{#if showReview}}
        {{#link-to 'course.sessionpublicationcheck' course session}}
          <li class='good' >{{t 'publish.reviewMissingItems' countBinding='session.allPublicationIssuesLength'}}</li>
        {{/link-to}}
      {{/if}}
      {{#if showTbd}}
        <li class='good' {{action 'publishAsTbd'}}>{{t 'publish.markAsScheduled'}}</li>
      {{/if}}
      {{#if showUnPublish}}
        <li class='danger' {{action 'unpublish'}}>{{t 'publish.unPublishSession'}}</li>
      {{/if}}
    {{/action-menu}}
  </span>
</div>
<section class='detail-overview detail-block form-container'>
  <div class='detail-title'>
    {{t 'general.overview'}}
  </div>
  <div class='detail-content'>
    <div class="form-col-12 sessiontype">
      <label class="form-label">{{t "sessions.type"}}:</label>
      <div class="form-data">
        {{inplace-select
          value=session.sessionType.id
          options=sortedSessionTypes
          save='changeSessionType'
        }}
      </div>
    </div>
    <div class="form-col-12 sessionsupplemental">
      <label class="form-label">{{t "sessions.supplementalCurriculum"}}:</label>
      <div class="form-data">{{inplace-boolean value=session.supplemental save='changeSupplemental'}}</div>
    </div>
    <div class="form-col-6-left sessionspecialattire">
      <label class="form-label">{{t "sessions.specialAttireRequired"}}:</label>
      <div class="form-data">{{inplace-boolean value=session.attireRequired save='changeSpecialAttire'}}</div>
    </div>
    <div class="form-col-6-right sessionsepcialequiptment">
      <label class="form-label">{{t "sessions.specialEquipmentRequired"}}:</label>
      <div class="form-data">{{inplace-boolean value=session.equipmentRequired save='changeSpecialEquipment'}}</div>
    </div>
    <div class="form-col-4-left">
      <label class="form-label">{{t "sessions.independentLearning"}}:</label>
      <div class="form-data" {{action 'toggleIndependentLearning'}} class='control form-data switch yes-no switch-green independentlearningcontrol'>
        <input {{ bind-attr checked=session.isIndependentLearning }} type='checkbox' class="switch-input" />
        <span class="switch-label" data-on='{{t 'general.yes'}}' data-off='{{t 'general.no'}}'></span>
        <span class="switch-handle"></span>
      </div>
    </div>
    {{#if session.isIndependentLearning}}
    <div class="form-col-4 form-col-4-middle sessionilmhours">
      <label class="form-label">{{t "sessions.hours"}}:</label>
      <div class="form-data">{{inplace-text value=session.ilmSessionFacet.hours save='changeIlmHours'}}</div>
    </div>
    <div class="form-col-4 form-col-4-right sessionilmduedate">
      <label class="form-label">{{t "sessions.dueBy"}}:</label>
      <div class="form-data">{{inplace-date value=session.ilmSessionFacet.dueDate save='changeIlmDueDate'}}</div>
    </div>
    {{/if}}
    <div class="form-col-12 sessiondescription">
      <label class="form-label">{{t "general.description"}}:</label>
      <div class="form-data">{{inplace-textarea value=session.sessionDescription.description save='changeDescription'}}</div>
    </div>
    <div class="form-col-12">
      <label>{{t "general.associatedGroups"}}:</label>
      <div>
      {{#if session.associatedLearnerGroups.isFulfilled}}
        <span>
          {{#each group in session.associatedLearnerGroups}}
          {{group.title}},
          {{else}}
            {{t 'general.none'}}
          {{/each}}
        </span>
      {{else}}
        {{loading-part}}
      {{/if}}
      </div>
    </div>
  </div>
</section>
