{{#liquid-if saving class='crossFade'}}
  {{wait-saving}}
{{/liquid-if}}

<section class='detail-block'>
  <div class="offering-section-top">
    <div class='detail-title'>
      {{t 'general.offerings'}} ({{offerings.length}})
    </div>

    <div class='detail-actions'>
      {{expand-collapse-button value=offeringEditorOn action="toggleEditor"}}
    </div>
  </div>

  {{#liquid-if offeringEditorOn class='vertical'}}
    {{offering-editor
      cohorts=cohorts
      addSingleOffering='addSingleOffering'
      addMultipleOfferings='addMultipleOfferings'
      closeEditor='closeEditor'
      class="form-container"
    }}
  {{/liquid-if}}

  <div class='detail-content'>
    {{#if offerings.length}}
      <div class='detail-content-header'>
        <div>
          <label>{{ t 'general.dateTime' }}</label>
        </div>
        <div>
          <label>{{ t 'general.groupName' }}</label>
        </div>
        <div>
          <label>{{ t 'general.location' }}</label>
        </div>
        <div>
          <label>{{ t 'general.instructors' }}</label>
        </div>
        <div>
          <label>{{ t 'general.actions' }}</label>
        </div>
      </div>
      {{session-offerings-list session=session}}
    {{else}}
      <p>{{t 'sessions.noOfferings'}}</p>
    {{/if}}
  </div>
</section>
