<div class='session-header'>
  <span class='title'>
    {{#if editable}}
      {{#editable-field
        value=title
        save=(action 'changeTitle')
        close=(action 'revertTitleChanges')
      as |isSaving save close|
      }}
        {{one-way-input
          value=title
          update=(action (mut title))
          onenter=save
          onescape=close
          disabled=isSaving
          focusOut=(action 'addErrorDisplayFor' 'title')
        }}
        {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
          <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
        {{/if}}
      {{/editable-field}}
    {{else}}
      <h2>{{session.title}}</h2>
    {{/if}}
  </span>
  <span class ='session-publication'>
    {{#if editable}}

      {{publish-menu
        title=menuTitle
        icon=menuIcon
        publicationStatus=publicationStatus
        showAsIs=showAsIs
        showPublish=showPublish
        showReview=showReview
        showTbd=showTbd
        showUnPublish=showUnPublish
        reviewRoute='session.publicationCheck'
        reviewObject=session
        parentObject=(await session.course)
        publishTranslation='general.publishSession'
        unPublishTranslation='general.unPublishSession'
        publish=(action 'publish')
        publishAsTbd=(action 'publishAsTbd')
        unpublish=(action 'unpublish')
      }}
    {{else}}
      {{publication-status item=session}}
    {{/if}}
  </span>
</div>

<section class='session-overview'>
  <div class='title'>
    {{t 'general.overview'}}
  </div>
  <div class='session-overview-actions'>
    {{#if (and (is-fulfilled showCopy) (await showCopy))}}
      {{#link-to 'session.copy' session class='copy'}}
        {{fa-icon 'copy' title=(t 'general.copySession') fixedWidth=true}}
      {{/link-to}}
    {{/if}}
  </div>
  <div class='session-overview-content'>
    <div class='session-overview-options'>

      <div class="sessiontype">
        <label>{{t 'general.sessionType'}}:</label>
        <span>
          {{#if editable}}
            {{#editable-field
              value=sessionType.title
              save=(action 'changeSessionType')
              close=(action 'revertSessionTypeChanges')
            }}
              {{one-way-select
                value=sessionType.id
                options=sortedSessionTypes
                optionTargetPath="id"
                optionLabelPath="title"
                update=(action "setSessionType")
              }}
            {{/editable-field}}
          {{else}}
            {{session.sessionType.title}}&nbsp;
          {{/if}}
        </span>
      </div>
      {{#if (await showSupplemental)}}
        <div class="sessionsupplemental switch-block">
          <label>{{t 'general.supplementalCurriculum'}}:</label>
          <span>
            {{#if editable}}
              {{toggle-yesno yes=session.supplemental toggle=(action 'changeSupplemental')}}
            {{else}}
              {{#if session.supplemental}}
                <span class='add'>{{t 'general.yes'}}</span>
              {{else}}
                <span class='remove'>{{t 'general.no'}}</span>
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
      {{#if (await showSpecialAttireRequired)}}
        <div class="sessionspecialattire switch-block">
          <label>{{t 'general.specialAttireRequired'}}:</label>
          <span>
            {{#if editable}}
              {{toggle-yesno yes=session.attireRequired toggle=(action 'changeSpecialAttire')}}
            {{else}}
              {{#if session.attireRequired}}
                <span class='add'>{{t 'general.yes'}}</span>
              {{else}}
                <span class='remove'>{{t 'general.no'}}</span>
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
      {{#if (await showSpecialEquipmentRequired)}}
        <div class="sessionspecialequipment switch-block">
          <label>{{t 'general.specialEquipmentRequired'}}:</label>
          <span>
            {{#if editable}}
              {{toggle-yesno yes=session.equipmentRequired toggle=(action 'changeSpecialEquipment')}}
            {{else}}
              {{#if session.equipmentRequired}}
                <span class='add'>{{t 'general.yes'}}</span>
              {{else}}
                <span class='remove'>{{t 'general.no'}}</span>
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
      {{#if (await showAttendanceRequired)}}
        <div class="sessionattendancerequired switch-block">
          <label>{{t 'general.attendanceRequired'}}:</label>
          <span>
            {{#if editable}}
              {{toggle-yesno yes=session.attendanceRequired toggle=(action 'changeAttendanceRequired')}}
            {{else}}
              {{#if session.attendanceRequired}}
                <span class='add'>{{t 'general.yes'}}</span>
              {{else}}
                <span class='remove'>{{t 'general.no'}}</span>
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
      <hr>
      <div class="independentlearningcontrol switch-block">
        <label>{{t 'general.independentLearning'}}:</label>
        <span>
          {{#if editable}}
            {{toggle-yesno yes=session.isIndependentLearning toggle=(action 'saveIndependentLearning')}}
          {{else}}
            {{#if session.isIndependentLearning}}
              <span class='add'>{{t 'general.yes'}}</span>
            {{else}}
              <span class='remove'>{{t 'general.no'}}</span>
            {{/if}}
          {{/if}}
        </span>
      </div>
      {{#if session.isIndependentLearning}}
        <div class="sessionilmhours block">
          <label>{{t 'general.hours'}}:</label>
          <span>
            {{#if editable}}
              {{#editable-field
                value=hours
                save=(action 'changeIlmHours')
                close=(action 'revertIlmHoursChanges')
                as |isSaving save close|
              }}
                {{one-way-input
                  value=hours
                  update=(action (mut hours))
                  onenter=save
                  onescape=close
                  disabled=isSaving
                  focusOut=(action 'addErrorDisplayFor' 'hours')
                  keyDown=(action 'addErrorDisplayFor' 'hours')
                }}
                {{#if (and (v-get this 'hours' 'isInvalid') (is-in showErrorsFor 'hours'))}}
                  <span class="validation-error-message">{{v-get this 'hours' 'message'}}</span>
                {{/if}}
              {{/editable-field}}
            {{else}}
              {{session.ilmSession.hours}}&nbsp;
            {{/if}}
          </span>
        </div>
        <div class="sessionilmduedate block">
          <label>{{t 'general.dueBy'}}:</label>
          <span>
            {{#if (is-fulfilled session.ilmSession)}}
              {{#if editable}}
                {{#editable-field
                  value=(moment-format session.ilmSession.dueDate 'MM/DD/YY')
                  save=(action 'changeIlmDueDate')
                  close=(action 'revertIlmDueDateChanges')
                }}
                  {{pikaday-input
                    value=dueDate
                    format='MM/DD/YY'
                    onSelection=(action (mut dueDate))
                    focusOut=(action 'addErrorDisplayFor' 'dueDate')
                  }}
                  {{#if (and (v-get this 'dueDate' 'isInvalid') (is-in showErrorsFor 'dueDate'))}}
                    <span class="validation-error-message">{{v-get this 'dueDate' 'message'}}</span>
                  {{/if}}
                {{/editable-field}}
              {{else}}
                {{moment-format session.ilmSession.dueDate 'MM/DD/YY'}}
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
    </div>

    <div class="sessiondescription">
      <label>{{t 'general.description'}}:</label>
      <span class='list-reset'>
        {{#if editable}}
          {{#editable-field
            value=description
            save=(action 'saveDescription')
            close=(action 'revertDescriptionChanges')
            renderHtml=true
            isSaveDisabled=(and (v-get this 'description' 'isInvalid') (is-in showErrorsFor 'description'))
            clickPrompt=(t 'general.clickToEdit')
          }}
            {{froala-editor
              content=description
              update=(action "changeDescription")
            }}
            {{#if (and (v-get this 'description' 'isInvalid') (is-in showErrorsFor 'description'))}}
              <span class="validation-error-message">{{v-get this 'description' 'message'}}</span>
            {{/if}}
          {{/editable-field}}
        {{else}}
          {{{description}}}
        {{/if}}
      </span>
    </div>
    {{#unless session.isIndependentLearning}}
      <br>
      <div class="sessionassociatedgroups">
        <label>{{t 'general.associatedGroups'}}:</label>
        <span>
          {{#if (is-fulfilled session.associatedOfferingLearnerGroups)}}
            <span>
              {{#each (await session.associatedOfferingLearnerGroups) as |group|}}
                {{group.title}},
              {{else}}
                {{t 'general.none'}}
              {{/each}}
            </span>
          {{else}}
            {{loading-part}}
          {{/if}}
        </span>
      </div>
    {{/unless}}
  </div>
</section>
