<table>
  <thead>
    <tr>
      <th class='text-left' colspan=2>{{t 'general.description'}}</th>
      <th class='text-left'>{{t 'general.parentObjectives'}}</th>
      <th class='text-left'>{{t 'general.meshTerms'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each objective in sortedObjectives}}
    <tr id="objective-{{objective.id}}">
      <td class='text-left text-top' colspan=2>
        {{inplace-textarea value=objective.title save='changeObjectiveTitle' condition=objective.id}}
      </td>
      <td class='text-left text-top'>
        {{#if objective.hasParents}}
          {{#each parent in objective.parents}}
            <a href='#' {{action 'manageParents' objective}}>
              {{parent.textTitle}}
            </a>
            {{#if objective.hasMultipleParents}}
              <br /><br />
            {{/if}}
          {{/each}}
        {{else}}
          <button {{action 'manageParents' objective}}>{{t 'general.addNew'}}</button>
        {{/if}}
      </td>
      <td class='text-left text-top'>
        {{#if objective.meshDescriptors.length}}
          <ul>
            <a href='#' {{action 'manageDescriptors' objective}}>
              {{#each descriptor in objective.meshDescriptors}}
                <li>{{descriptor.title}}</li>
              {{/each}}
            </a>
          </ul>
        {{else}}
          <button {{action 'manageDescriptors' objective}}>{{t 'general.addNew'}}</button>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
