<td id='objective-{{objective.id}}' class='text-left text-top' colspan=3>
  {{#if editable}}
    {{#editable-field
      value=title
      renderHtml=true
      isSaveDisabled=(and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))
      save=(action 'saveTitleChanges' )
      close=(action 'revertTitleChanges')
    }}
      {{html-editor
        content=title
        update=(action "changeTitle")
      }}
      {{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
        <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
      {{/if}}
    {{/editable-field}}
  {{else}}
    {{{objective.title}}}
  {{/if}}
</td>
<td class='text-left text-top' colspan=2>
  {{#if objective.hasParents}}
    {{#each objective.parents as |parent|}}
      {{#if editable}}
        <span class='clickable link' {{action manageParents objective}} data-test-parent>
          {{parent.textTitle}}
        </span>
      {{else}}
        {{parent.textTitle}}
      {{/if}}
      {{#if objective.hasMultipleParents}}
        <br><br>
      {{/if}}
    {{/each}}
  {{else}}
    {{#if editable}}
      <button {{action manageParents objective}}>{{t 'general.addNew'}}</button>
    {{else}}
      {{t 'general.none'}}
    {{/if}}
  {{/if}}
</td>
<td class='text-left text-top' colspan=2>
  <ul class='mesh-descriptor-list'>
    {{#each (sort-by 'name' (await objective.meshDescriptors)) as |descriptor|}}
      {{#if editable}}
        <li class='clickable link' {{action manageDescriptors objective}} data-test-term>{{descriptor.name}}</li>
      {{else}}
        <li data-test-term>{{descriptor.name}}</li>
      {{/if}}
    {{else}}
      <li>
        {{#if editable}}
          <button {{action manageDescriptors objective}}>{{t 'general.addNew'}}</button>
        {{else}}
          {{t 'general.none'}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</td>
<td class='text-left text-top' colspan=1>
  {{#if deletable}}
    <span class='clickable remove' {{action remove objective}}>{{fa-icon 'trash'}}</span>
  {{/if}}
</td>
