{{! template-lint-disable attribute-indentation }}
{{#each sortedSessions as |obj|}}
  <div
    class="{{if (contains obj.session.id expandedSessionIds) "is-expanded" "not-expanded"}} session"
    data-test-session
    data-test-expanded-session={{contains obj.session.id expandedSessionIds}}
  >
    <div class="session-row">
      <span class="expand-collapse-control" data-test-expand-collapse-control>
        {{#if (contains obj.session.id expandedSessionIds)}}
          {{fa-icon "caret-down" class="link" click=(action closeSession obj.session)}}
        {{else}}
          {{fa-icon
            "caret-right"
            class=(if (gt obj.offeringCount 0) "link" "disabled")
            click=(action "expandSession" obj)
            title=(if (eq obj.offeringCount 0) (t "general.noOfferings"))
          }}
        {{/if}}
      </span>
      <span class="session-grid-title">
        {{#link-to "session" obj.course obj.session}}
          {{truncate obj.title 100 true}}
        {{/link-to}}
      </span>
      <span class="session-grid-type">{{obj.sessionTypeTitle}}</span>
      <span class="session-grid-groups">{{obj.learnerGroupCount}}</span>
      <span class="session-grid-objectives">{{obj.objectiveCount}}</span>
      <span class="session-grid-terms">{{obj.termCount}}</span>
      <span class="session-grid-first-offering">
        {{#if (await obj.session.firstOfferingDate)}}
          {{#if obj.isIlm}}
            <strong>{{t "general.ilm"}}: {{t "general.dueBy"}}</strong> {{moment-format (await obj.session.firstOfferingDate) "L"}}
          {{else}}
            {{moment-format (await obj.session.firstOfferingDate) "L LT"}}
          {{/if}}
        {{/if}}
      </span>
      <span class="session-grid-offerings">{{obj.offeringCount}}</span>
      <span class="session-grid-status" data-test-status>
        {{#if (and obj.canUpdate obj.instructionalNotes.length)}}
          {{fa-icon
            "chalkboard-teacher"
            class="instructional-notes"
            title=(t "general.instructionalNotes")
            ariaHidden=false
          }}
        {{/if}}
        {{publication-status item=obj showText=false}}
      </span>
      <span class="session-grid-actions" data-test-actions>
        {{#if obj.canUpdate}}
          {{fa-icon
            "trash"
            class="clickable remove"
            title=(t "general.remove")
            ariaHidden=false
            click=(action "confirmDelete" obj.session.id)
          }}
        {{/if}}
      </span>
    </div>
    {{#if (contains obj.session.id confirmDeleteSessionIds)}}
      <div class="confirm-removal" data-test-confirm-removal>
        {{t "general.confirmSessionRemoval"}}
        <div class="confirm-buttons">
          <button {{action (perform removeSession obj.session)}} class="cancel" disabled={{removeSession.isRunning}} data-test-yes>
            {{#if removeSession.isRunning}}
              {{loading-spinner}}
            {{else}}
              {{t "general.yes"}}
            {{/if}}
          </button>
          <button {{action "cancelDelete" obj.session.id}} class="done">{{t "general.cancel"}}</button>
        </div>
      </div>
    {{/if}}
    {{#if (contains obj.session.id expandedSessionIds)}}
      {{sessions-grid-offering-table
        offerings=(await obj.session.offerings)
        canUpdate=obj.canUpdate
      }}
    {{/if}}
  </div>

{{/each}}
