{{#each sortedSessions as |obj|}}
  <div class='{{if (contains obj.session expandedSessions) 'is-expanded' 'not-expanded'}} session-row'>
    <span class='expand-collapse-control'>
      {{#if (contains obj.session expandedSessions)}}
        {{fa-icon 'caret-down' class='link' click=(action closeSession obj.session)}}
      {{else}}
        {{fa-icon 'caret-right' class='link' click=(action expandSession obj.session)}}
      {{/if}}
    </span>
    <span>
      {{#link-to 'session' obj.course obj.session}}
        {{truncate obj.title 100 true}}
      {{/link-to}}
    </span>
    <span>{{obj.sessionTypeTitle}}</span>
    <span>{{obj.learnerGroupCount}}</span>
    <span>{{obj.objectiveCount}}</span>
    <span>{{obj.termCount}}</span>
    <span>
      {{#if obj.firstOfferingDate}}
        {{#if obj.isIlm}}
          <strong>{{t 'general.ilm'}}: {{t 'general.dueBy'}}</strong> {{moment-format obj.firstOfferingDate 'L'}}
        {{else}}
          {{moment-format obj.firstOfferingDate 'L LT'}}
        {{/if}}
      {{/if}}
    </span>
    <span>{{obj.offeringCount}}</span>
    <span>{{publication-status item=obj showText=false}}</span>
  </div>
  {{#if (contains obj.session expandedSessions)}}
    {{#if (gt (has-many-length obj.session 'offerings') 0)}}
      {{sessions-grid-offering-table offerings=(await obj.session.offerings) canUpdate=obj.canUpdate}}
    {{else}}
      <div class='no-offerings'>{{t 'general.noOfferings'}}</div>
    {{/if}}
  {{/if}}

{{/each}}
