{{#if selectedTerms}}
  <div class='selected-terms'>
    {{#each (await filteredVocabularies) as |vocab| }}
      {{detail-terms-list
        vocabulary=vocab
        terms=selectedTerms
        canEdit=true
        remove='remove'
      }}
    {{/each}}
  </div>
{{/if}}
{{#if (get (await filteredVocabularies) 'length')}}
  <div class='vocabulary-picker'>
    <label class="inline-label">
      <strong>{{t 'general.selectVocabulary'}}</strong>
    </label>
    <div id="vocabulary-selection" class="inline-data">
      <select onchange={{action "changeSelectedVocabulary" value="target.value"}}>
        {{#each (await filteredVocabularies) as |vocab|}}
          <option value={{vocab.id}}>{{vocab.title}} ({{vocab.school.title}})</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class='terms-picker tag-tree'>
    {{selectable-terms-list
      selectedTerms=selectedTerms
      terms=(await topLevelTerms)
      add='add'
      remove='remove'
    }}
  </div>
{{/if}}
