<h2 class='title'>{{t 'general.icsFeed'}}</h2>
<div class='actions'>
  {{#if isManaging}}
    <button disabled={{refreshKey.isRunning}} title={{t 'general.refreshIcsFeedKey'}} class='refresh-key' {{action (perform refreshKey)}}>{{fa-icon (if refreshKey.isRunning 'spinner' 'refresh') spin=(if refreshKey.isRunning true false)}}</button>
    <button disabled={{refreshKey.isRunning}} class='bigcancel' {{action setIsManaging false}}>{{fa-icon 'undo'}}</button>
  {{else if isManagable}}
    <button class='manage' {{action setIsManaging true}}>{{fa-icon 'edit'}}</button>
  {{/if}}
</div>

<p>
  {{#if icsFeedKey.length}}
    <span class='ics-instructions'>{{t 'general.icsAdminInstructions'}}</span><br>
    <span class='ics-link'><a href={{icsFeedUrl}}>{{t 'general.link'}}</a></span>
    {{#copy-button clipboardText=icsFeedUrl}}
      {{fa-icon 'copy'}}
    {{/copy-button}}
  {{else}}
    {{t 'general.none'}}
  {{/if}}
</p>
