<h2 class='title'>{{t 'general.learnerGroups'}}</h2>
{{#if (is-fulfilled selectedLearnerGroups)}}
  <p>
    {{#if (gt (get (await selectedLearnerGroups) 'length') 0)}}
      <ul>
        {{#each (sort-by 'sortTitle' (await selectedLearnerGroups)) as |learnerGroup|}}
          <li>
            {{learnerGroup.schoolTitle}}: {{learnerGroup.programTitle}}
            <em>{{learnerGroup.cohortTitle}} &mdash;</em>
            {{learnerGroup.allParentsTitle}}
            <strong>{{learnerGroup.title}}</strong>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{t 'general.none'}}
    {{/if}}
  </p>
{{else}}
  <p>{{loading-spinner}}</p>
{{/if}}
