<div class="actions">
  {{#if isManaging}}
    <button class="bigadd" {{action (perform save)}} data-test-save>
      {{fa-icon
        (if save.isRunning "spinner" "check")
        spin=(if save.isRunning true false)
      }}
    </button>
    <button disabled={{save.isRunning}} class="bigcancel" {{action "cancel"}}>{{fa-icon "undo"}}</button>
  {{else if isManageable}}
    <button class="manage" {{action setIsManaging true}} data-test-manage>{{fa-icon "edit"}}</button>
  {{/if}}
</div>
<div class="form">
  <div class="item" data-test-student>
    <label>{{t "general.student"}}:</label>
    <span class="value {{if (await isStudent) "yes" "no"}}">
      {{#if (await isStudent)}}
        {{t "general.yes"}}
      {{else}}
        {{t "general.no"}}
      {{/if}}
    </span>
  </div>
  <div class="item" data-test-former-student>
    <label for="former-student">{{t "general.formerStudent"}}:</label>
    {{#unless isManaging}}
      <span class="value {{if (await isFormerStudent) "yes" "no"}}">
        {{#if (await isFormerStudent)}}
          {{t "general.yes"}}
        {{else}}
          {{t "general.no"}}
        {{/if}}
      </span>
    {{else}}
      <input
        id="former-student"
        type="checkbox"
        checked={{await isFormerStudent}}
        onclick={{action (mut isFormerStudentFlipped) (not isFormerStudentFlipped)}}
      >
    {{/unless}}
  </div>

  <hr>

  <div class="item" data-test-enabled>
    <label for="is-enabled">{{t "general.accountEnabled"}}:</label>
    {{#unless isManaging}}
      <span class="value {{if (await isEnabled) "yes" "no"}}">
        {{#if (await isEnabled)}}
          {{t "general.yes"}}
        {{else}}
          {{t "general.no"}}
        {{/if}}
      </span>
    {{else}}
      <input
        id="is-enabled"
        type="checkbox"
        checked={{isEnabled}}
        onclick={{action (mut isEnabledFlipped) (not isEnabledFlipped)}}
        disabled={{if (eq user.id currentUser.model.id) true}}
      >
    {{/unless}}
  </div>
  <div class="item" data-test-exclude-from-sync>
    <label for="exclude-from-sync" >{{t "general.excludeFromSync"}}:</label>
    {{#unless isManaging}}
      <span class="value {{if (await isUserSyncIgnored) "yes" "no"}}">
        {{#if (await isUserSyncIgnored)}}
          {{t "general.yes"}}
        {{else}}
          {{t "general.no"}}
        {{/if}}
      </span>
    {{else}}
      <input
        id="exclude-from-sync"
        type="checkbox"
        checked={{isUserSyncIgnored}}
        onclick={{action (mut isUserSyncIgnoredFlipped) (not isUserSyncIgnoredFlipped)}}
      >
    {{/unless}}
  </div>

  <hr>
  <div class="item" data-test-performs-non-learner-function>
    <label>{{t "general.performsNonLearnerFunctions"}}:</label>
    {{yes-no value=(await user.performsNonLearnerFunction)}}
  </div>
  <div class="item" data-test-learner>
    <label>{{t "general.learner"}}:</label>
    {{yes-no value=(await user.isLearner)}}
  </div>
  <hr>
  <div class="item" data-test-root>
    <label>{{t "general.root"}}:</label>
    {{yes-no value=(await user.root)}}
  </div>
</div>
