{{#if prevPages}}
  {{#if arrows}}
    <a class="prev-arrow" {{action 'getPrevPage'}}>{{fa-icon 'arrow-left'}}</a>
  {{else}}
    <a class="prev-button" {{action 'getPrevPage'}}>{{t 'general.prev'}}</a>
  {{/if}}
{{else}}
  {{#if arrows}}
    <span>{{fa-icon 'arrow-left'}}</span>
  {{else}}
    <span>{{t 'general.prev'}}</span>
  {{/if}}
{{/if}}

<span>|</span>

{{#if morePages}}
  {{#if arrows}}
    <a class="next-arrow" {{action 'getNextPage'}}>{{fa-icon 'arrow-right'}}</a>
  {{else}}
    <a class="next-button" {{action 'getNextPage'}}>{{t 'general.next'}}</a>
  {{/if}}
{{else}}
  {{#if arrows}}
    <span>{{fa-icon 'arrow-right'}}</span>
  {{else}}
    <span>{{t 'general.next'}}</span>
  {{/if}}
{{/if}}
