<div class="live-search">
  {{search-box value=searchTerms placeholder=placeholder search='search'}}
  {{#if searching}}
    <ul class='results'>
      <li>{{t 'general.currentlySearchingPrompt'}}</li>
    </ul>
  {{else}}
    {{#if showMoreInputPrompt}}
      <ul class='results'>
        <li>{{t 'general.moreInputRequiredPrompt'}}</li>
      </ul>
    {{else}}
      {{#if results.length}}
        <ul class='results'>
          {{#each results as |proxy|}}
            {{#if proxy.isUser}}
              <li {{action 'addUser' proxy.content}}{{bind-attr class='proxy.isActive:active:inactive'}}>
                <div class='livesearch-user-name'>{{proxy.fullName}}</div>
                <div class='livesearch-user-email'>{{proxy.email}}</div>
              </li>
            {{/if}}
            {{#if proxy.isInstructorGroup}}
              <li {{action 'addInstructorGroup' proxy.content}}{{bind-attr class='proxy.isActive:active:inactive'}}>
                {{proxy.title}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        {{#if searchReturned}}
          <ul class='results'>
            <li>{{t 'general.noSearchResultsPrompt'}}</li>
          </ul>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
