<div class='actions'>
  {{#if isManaging}}
    <button class='bigadd' {{action (perform save)}}>{{fa-icon (if save.isRunning 'spinner' 'check') spin=(if save.isRunning true false)}}</button>
    <button disabled={{save.isRunning}} class='bigcancel' {{action (perform cancel)}}>{{fa-icon 'undo'}}</button>
  {{else if isManagable}}
    <button class='manage' {{action (perform manage)}}>{{fa-icon 'edit'}}</button>
  {{/if}}
</div>
{{#if (await usernameMissing)}}
  <div class='error'>
    {{t 'general.missingRequiredUsername'}}
  </div>
{{/if}}
<div class='form'>
  <div class='item {{if (contains "firstName" updatedFieldsFromSync) "synced-from-directory"}}'>
    <label>{{t 'general.firstName'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.firstName}}</span>
    {{else}}
      <input
        type="text"
        value={{firstName}}
        oninput={{action (mut firstName) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'firstName'}}
      >
      {{#if (and (v-get this 'firstName' 'isInvalid') (is-in showErrorsFor 'firstName'))}}
        <span class="message error">{{v-get this 'firstName' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item'>
    <label>{{t 'general.middleName'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.middleName}}</span>
    {{else}}
      <input
        type="text"
        value={{middleName}}
        oninput={{action (mut middleName) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'middleName'}}
      >
      {{#if (and (v-get this 'middleName' 'isInvalid') (is-in showErrorsFor 'middleName'))}}
        <span class="message error">{{v-get this 'middleName' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item {{if (contains "lastName" updatedFieldsFromSync) "synced-from-directory"}}'>
    <label>{{t 'general.lastName'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.lastName}}</span>
    {{else}}
      <input
        type="text"
        value={{lastName}}
        oninput={{action (mut lastName) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'lastName'}}
      >
      {{#if (and (v-get this 'lastName' 'isInvalid') (is-in showErrorsFor 'lastName'))}}
        <span class="message error">{{v-get this 'lastName' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item {{if (contains "campusId" updatedFieldsFromSync) "synced-from-directory"}} campus-id'>
    <label>{{t 'general.campusId'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.campusId}}</span>
    {{else}}
      <div class='campus-id-controls'>
        <input
          type="text"
          value={{campusId}}
          oninput={{action (mut campusId) value="target.value"}}
          onkeyup={{action 'addErrorDisplayFor' 'campusId'}}
        >
        <button class='directory-sync {{if syncComplete "directory-sync-complete"}}' title={{t 'general.updateUserFromDirectory'}} {{action (perform directorySync)}}>{{fa-icon (if (and (not syncComplete) directorySync.isRunning) 'spinner' 'refresh') spin=(if (and (not syncComplete) directorySync.isRunning) true false)}}</button>
        {{#if (and (v-get this 'campusId' 'isInvalid') (is-in showErrorsFor 'campusId'))}}
          <span class="message error">{{v-get this 'campusId' 'message'}}</span>
        {{/if}}
      </div>
      {{#if showSyncErrorMessage}}
        <span class='message error'>{{t 'general.unableToSyncUser'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item'>
    <label>{{t 'general.otherId'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.otherId}}</span>
    {{else}}
      <input
        type="text"
        value={{otherId}}
        oninput={{action (mut otherId) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'otherId'}}
      >
      {{#if (and (v-get this 'otherId' 'isInvalid') (is-in showErrorsFor 'otherId'))}}
        <span class="message error">{{v-get this 'otherId' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item {{if (contains "email" updatedFieldsFromSync) "synced-from-directory"}}'>
    <label>{{t 'general.email'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.email}}</span>
    {{else}}
      <input
        type="text"
        value={{email}}
        oninput={{action (mut email) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'email'}}
      >
      {{#if (and (v-get this 'email' 'isInvalid') (is-in showErrorsFor 'email'))}}
        <span class="message error">{{v-get this 'email' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item {{if (contains "phone" updatedFieldsFromSync) "synced-from-directory"}}'>
    <label>{{t 'general.phone'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{user.phone}}</span>
    {{else}}
      <input
        type="text"
        value={{phone}}
        oninput={{action (mut phone) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'phone'}}
      >
      {{#if (and (v-get this 'phone' 'isInvalid') (is-in showErrorsFor 'phone'))}}
        <span class="message error">{{v-get this 'phone' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  <div class='item {{if (contains "username" updatedFieldsFromSync) "synced-from-directory"}}'>
    <label>{{t 'general.username'}}:</label>
    {{#unless isManaging}}
      <span class='value'>{{get (await user.authentication) 'username'}}</span>
    {{else}}
      <input
        type="text"
        value={{username}}
        oninput={{action (mut username) value="target.value"}}
        onkeyup={{action 'addErrorDisplayFor' 'username'}}
        disabled={{not (await canEditUsernameAndPassword)}}
      >
      {{#if (and (v-get this 'username' 'isInvalid') (is-in showErrorsFor 'username'))}}
        <span class="message error">{{v-get this 'username' 'message'}}</span>
      {{/if}}
    {{/unless}}
  </div>
  {{#if (await canEditUsernameAndPassword)}}
    <div class='item password'>
      <label>{{t 'general.password'}}:</label>
      {{#unless isManaging}}
        <span class='value'>{{#unless (await usernameMissing)}} &#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;{{/unless}}</span>
      {{else}}
        {{#if changeUserPassword}}
          <input
            type="password"
            value={{password}}
            oninput={{action (mut password) value="target.value"}}
            onkeyup={{action 'addErrorDisplayFor' 'password'}}
          >
          {{#if (and (v-get this 'password' 'isInvalid') (is-in showErrorsFor 'password'))}}
            <span class="message error">{{v-get this 'password' 'message'}}</span>
          {{else if (gt password.length 0)}}
            <span class='password-strength {{concat "strength-" (await passwordStrengthScore)}}'>
              {{#if (eq (await passwordStrengthScore) 0)}}
                {{t 'general.tryHarder'}}
              {{else if (eq (await passwordStrengthScore) 1)}}
                {{t 'general.bad'}}
              {{else if (eq (await passwordStrengthScore) 2)}}
                {{t 'general.weak'}}
              {{else if (eq (await passwordStrengthScore) 3)}}
                {{t 'general.good'}}
              {{else if (eq (await passwordStrengthScore) 4)}}
                {{t 'general.strong'}}
              {{/if}}
            </span>
            <meter max="4" value={{await passwordStrengthScore}}></meter>
          {{/if}}
          <span class='cancel-password-field clickable link' onclick={{action 'cancelChangeUserPassword'}}>{{t 'general.cancel'}}</span>

        {{else}}
          <span class='clickable link activate-password-field' onclick={{action (mut changeUserPassword) true}}>{{t 'general.modifyUserPassword'}}</span>
        {{/if}}
      {{/unless}}
    </div>
  {{/if}}
</div>
