<h3 class="title">{{t "general.icsFeed"}}</h3>
<div class="actions">
  {{#if isManaging}}
    <button
      disabled={{refreshKey.isRunning}}
      title={{t "general.refreshIcsFeedKey"}}
      class="refresh-key" {{action (perform refreshKey)}}
    >
      {{fa-icon
        (if refreshKey.isRunning "spinner" "refresh")
        spin=(if refreshKey.isRunning true false)
      }}
    </button>
    <button
      disabled={{refreshKey.isRunning}}
      class="bigcancel" {{action setIsManaging false}}
    >
      {{fa-icon "undo"}}
    </button>
  {{else if isManageable}}
    <button
      class="manage" {{action setIsManaging true}}
      title={{t "general.refreshIcsFeedKey"}}
    >
      {{fa-icon "edit"}}
    </button>
  {{/if}}
</div>

<p>
  {{#if icsFeedKey.length}}
    <p class="ics-instructions">{{t "general.icsAdminInstructions"}}</p>
    <p>
      {{#copy-button clipboardText=icsFeedUrl success=(perform textCopied)}}
        {{fa-icon "copy"}} {{t "general.link"}}
      {{/copy-button}}
      {{#if showCopySuccessMessage}}
        <span class="yes">{{t "general.copiedSuccessfully"}}</span>
      {{/if}}
    </p>
  {{else}}
    {{t "general.none"}}
  {{/if}}
</p>
