{{manage-users-summary}}

<h1 class="user-display-name">{{user.fullName}}</h1>
<div class='user-roles'>
  {{#if (await user.isStudent)}}
    <span class="user-is-student">{{t 'general.student'}}</span>
  {{/if}}
</div>
{{pending-single-user-update user=user}}

{{user-profile-bio user=user isManaging=isManagingBio setIsManaging=setIsManagingBio}}
