<ul class='removable-list tag-list details-list'>
  {{#if sortedRemovableCohorts.length}}
    {{#each sortedRemovableCohorts as |cohort|}}
      <li {{action 'remove' cohort}}>
        <div class="content">
          <span class="title">{{cohort.title}}</span>
          <span class="details">{{cohort.programYear.program.title}}</span>
        </div>
        {{fa-icon 'remove'}}
      </li>
    {{/each}}
  {{else}}
    {{t 'general.unassigned'}}
  {{/if}}
</ul>
<div class='selectable-list details-list'>
  <ul>
    {{#if assignableCohorts.isFulfilled}}
      {{#each sortedAssignableCohorts as |cohort|}}
        <li {{action 'add' cohort}}>
          <div class="content">
            <span class="title">{{cohort.title}}</span>
            <span class="details">{{cohort.programYear.program.title}}</span>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li>{{fa-icon 'spinner' spin=true}}</li>
    {{/if}}
  </ul>
</div>
