<div class='blocks'>
  {{manage-users-summary canCreate=canCreate}}
</div>

<h1 class="user-display-name">
  {{#unless user.enabled}}
    {{fa-icon 'ban' class='no' title=(t 'general.disabled')}}
  {{/unless}}
  {{user.fullName}}
</h1>
<div class='user-roles'>
  {{#if (await user.isStudent)}}
    <span class="user-is-student">{{t 'general.student'}}</span>
  {{/if}}
</div>
{{pending-single-user-update user=user canUpdate=canUpdate}}

<div class='blocks'>
  {{user-profile-bio
    user=user
    isManagable=canUpdate
    isManaging=isManagingBio
    setIsManaging=setIsManagingBio
  }}

  {{user-profile-roles
    user=user
    isManagable=canUpdate
    isManaging=isManagingRoles
    setIsManaging=setIsManagingRoles
  }}

  {{user-profile-cohorts
    user=user
    isManagable=canUpdate
    isManaging=isManagingCohorts
    setIsManaging=setIsManagingCohorts
  }}

  {{user-profile-ics
    user=user
    isManagable=(and canUpdate (eq (get (await currentUser.model) 'id') user.id))
    isManaging=isManagingIcs
    setIsManaging=setIsManagingIcs
  }}

  {{user-profile-schools
    user=user
    isManagable=canUpdate
    isManaging=isManagingSchools
    setIsManaging=setIsManagingSchools
  }}

  {{user-profile-calendar user=user}}

  {{user-profile-learnergroups user=user}}
</div>
