{{#if (or isIcon (gt (get (await data) 'length') 0))}}
  {{#simple-chart
    name='donut'
    isIcon=isIcon
    data=(await data)
    hover=(perform donutHover)
    leave=(perform donutHover)

    as |chart|
  }}
    {{#if tooltipContent}}
      {{#chart.tooltip title=tooltipTitle}}
        <h5>{{t 'general.courses'}}</h5>
        <p>{{tooltipContent.courses}}</p>
        <h5>{{t 'general.sessions'}}</h5>
        <p>{{tooltipContent.sessions}}</p>
      {{/chart.tooltip}}
    {{/if}}
  {{/simple-chart}}

{{else}}
  <div class='with-hours'>
    <h4>{{fa-icon 'meh-o' class='meh-o'}}</h4>
  </div>
{{/if}}
