<h1>
  {{course.title}}
</h1>
<section class='course-overview'>
  <div class='block'>
    <div class="chart-container">
      {{chart-pie data=(await condensedObjectiveData)
        width=width
        height=height
        displayTooltip=(perform displayTooltip)
      }}
    </div>
    <div class="chart-container">
      {{chart-donut
        data=(await condensedObjectiveData)
        width=width
        height=height
        displayTooltip=(perform displayTooltip)
      }}
    </div>
    <div class="chart-container">
      {{chart-bar
        data=(await sessionsObjectivesData)
        width=width
        height=height
      }}
    </div>
    <div class="chart-container">
      {{chart-stacked-bar
        data=(await sessionsObjectivesData)
        width=width
        height=height
      }}
    </div>
    <div class="chart-container">
      {{chart-line
        data=(await condensedObjectiveData)
        width=width
        height=height
      }}
    </div>
  </div>

  {{#if tooltipValue}}
    <div class='charts tooltip' style={{{tooltipLocation}}}>
      <div class="tooltip-header">
        <span class="tooltip-title">Percentage</span>
        <span class="tooltip-attr">Hours</span>
      </div>
      <div class="tooltip-content">{{{tooltipValue}}}</div>
      <a href="#">Link</a>
    </div>
  {{/if}}
</section>
