{{#if (or icon (gt (get (await objectiveWithHours) 'length') 0))}}
  {{#simple-chart
    name='donut'
    width=width
    height=height
    data=(await objectiveWithHours)
    hover=(perform donutHover)
    leave=(perform donutHover)
    as |chart|
  }}
    {{chart.tooltip content=donutHover.lastSuccessful.value.content title=donutHover.lastSuccessful.value.title}}
  {{/simple-chart}}

{{else}}
    <div class='with-hours'>
      <p>{{t 'general.objectivesWithNoLink'}}</p>
      <h4>{{fa-icon 'meh-o' class='meh-o'}}</h4>
    </div>
{{/if}}

{{#unless (or icon (eq (get (await objectiveWithoutHours) 'length') 0))}}
  <div class='zero-hours'>
    <h4>{{fa-icon 'warning' class='warning'}} {{t 'general.unusedObjectives'}}:</h4>
    <p>{{t 'general.objectivesWithNoHours'}}</p>
    <ul>
      {{#each (sort-by 'meta.courseObjective.title' (await objectiveWithoutHours)) as |obj|}}
        <li>{{{obj.meta.courseObjective.title}}}</li>
      {{/each}}
    </ul>
  </div>
{{/unless}}
