<div class="session-details">
  <SessionOverview
    @session={{@model}}
    @editable={{this.canUpdate}}
    @showCheckLink={{false}}
    @sessionTypes={{@model.sessionTypes}}
  />
  <SessionCopy @session={{@model}} @visit={{action "loadSession"}} />
</div>
