<div class="backtolink backtosessionlink" data-test-back-to-sessions>
  <LinkTo @route="course" @query={{hash}}>
    {{t "general.backToSessionList"}}
  </LinkTo>
</div>
<SessionDetails
  @session={{model}}
  @editable={{this.canUpdate}}
  @programs={{await @model.course}}
  @sessionTypes={{await @model.course.school.sessionTypes}}
  @sessionObjectiveDetails={{this.sessionObjectiveDetails}}
  @sessionTaxonomyDetails={{this.sessionTaxonomyDetails}}
  @setSessionObjectiveDetails={{action (mut this.sessionObjectiveDetails)}}
  @setSessionTaxonomyDetails={{action (mut this.sessionTaxonomyDetails)}}
  @isManagingLearnerGroups={{this.isManagingLearnerGroups}}
  @setIsManagingLearnerGroups={{action (mut this.isManagingLearnerGroups)}}
  @sessionLearnergroupDetails={{this.sessionLearnergroupDetails}}
  @setSessionLearnergroupDetails={{action (mut this.sessionLearnergroupDetails)}}
  @showNewOfferingForm={{this.showNewOfferingForm}}
  @toggleShowNewOfferingForm={{toggle-action "showNewOfferingForm" this}}
  @sessionLeadershipDetails={{this.sessionLeadershipDetails}}
  @setSessionLeadershipDetails={{action (mut this.sessionLeadershipDetails)}}
  @sessionManageLeadership={{this.sessionManageLeadership}}
  @setSessionManageLeadership={{action (mut this.sessionManageLeadership)}}
/>
