<section
  class="collapsed-stewards"
  {{did-insert (perform this.load) @programYear}}
  {{did-update (perform this.load) @programYear}}
  ...attributes
>
  <div class="title" role="button" {{on "click" @expand}}>
    {{t "general.stewardingSchoolsAndDepartments"}}
    ({{get (await @programYear.stewards) "length"}})
  </div>
  {{#if (is-array this.schoolData)}}
    <div class="content">
      <table class="condensed">
        <thead>
          <tr>
            <th class="text-center">
              {{t "general.school"}}
            </th>
            <th class="text-center">
              {{t "general.departments"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each (sort-by "schoolTitle" this.schoolData) as |obj|}}
            <tr>
              <td class="text-left">
                {{obj.schoolTitle}}
              </td>
              <td class="text-center">
                {{obj.departmentCount}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <LoadingSpinner />
  {{/if}}
</section>
