<span
  class="competency-title-editor"
>
  {{#if @canUpdate}}
    <EditableField
      @value={{this.title}}
      @save={{perform this.save}}
      @close={{fn this.revert}}
      @saveOnEnter={{true}}
      @closeOnEscape={{true}} as |isSaving|
    >
      <Input
        type="text"
        @value={{this.title}}
        @key-press={{fn this.addErrorDisplayFor "title"}}
        disabled={{isSaving}}
      />
    </EditableField>
    {{#each (await (compute (fn this.getErrorsFor) "title")) as |message|}}
      <span class="validation-error-message">
        {{message}}
      </span>
    {{/each}}
  {{else}}
    {{this.title}}
  {{/if}}
</span>
