<span
  class="competency-title-editor"
  data-test-competency-title-editor
>
  {{#if @canUpdate}}
    <EditableField
      @value={{this.title}}
      @save={{perform this.save}}
      @close={{this.revert}}
      @saveOnEnter={{true}}
      data-test-title
      @closeOnEscape={{true}} as |isSaving|
    >
      <Input
        @type="text"
        @value={{this.title}}
        disabled={{isSaving}}
        aria-label={{t "general.title"}}
        {{on "keyup" (fn this.addErrorDisplayFor "title")}}
      />
    </EditableField>
    <ValidationError @errors={{get-errors-for this.title}} />
  {{else}}
    {{this.title}}
  {{/if}}
</span>
