<li class="course-search-result" data-test-course-search-result ...attributes>
  <LinkTo @route="course" @model={{@course.id}} data-test-course-title>
    <small>{{@course.year}}</small>
    {{@course.title}}
  </LinkTo>
  <span class="school-flag" data-test-school-title>
    {{@course.school}}
  </span>
  <span class="course-flag">
    {{t "general.course"}}
  </span>
  <GlobalSearchTags @tags={{@course.matchedIn}} />
  <ul>
    <li class="sessions">
      {{t "general.sessions"}}:
    </li>
    {{#each this.sessions as |session|}}
      <li class="session-row">
        <LinkTo
          @route="session"
          @models={{array @course.id session.id}}
          class="session-title-link"
        >
          {{session.title}}
        </LinkTo>
        <GlobalSearchTags @tags={{session.matchedIn}} />
      </li>
    {{/each}}
    {{#if (and (not this.showMore) (gt @course.sessions.length 3))}}
      <button
        class="show-more link-button"
        type="button"
        {{on "click" (set this.showMore true)}}
      >
        <FaIcon @icon="angle-down" />
        {{t "general.showMore"}}
      </button>
    {{/if}}
  </ul>
</li>
