<table>
  <thead>
    <tr>
      <SortableTh
        @colspan={{4}}
        @sortedAscending={{this.sortedAscending}}
        @sortedBy={{or (eq sortBy "name") (eq sortBy "name:desc")}}
        @click={{action "sortBy" "name"}}
      >
        {{t "general.reportName"}}
      </SortableTh>
      <th class="text-center hide-from-small-screen" colspan="2">
        {{t "general.program"}}
      </th>
      <SortableTh
        @align="center"
        @colspan={{2}}
        @hideFromSmallScreen={{true}}
        @sortedAscending={{this.sortedAscending}}
        @sortedBy={{or (eq sortBy "year") (eq sortBy "year:desc")}}
        @sortType="numeric"
        @click={{action "sortBy" "year"}}
      >
        {{t "general.academicYear"}}
      </SortableTh>
      <th class="text-center hide-from-small-screen" colspan="2">
        {{t "general.startDate"}}
      </th>
      <th class="text-center hide-from-small-screen" colspan="2">
        {{t "general.endDate"}}
      </th>
      <th class="text-center" colspan="2">
        {{t "general.status"}}
      </th>
      <th class="text-right" colspan="2">
        {{t "general.actions"}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each (sort-by sortBy (await this.proxiedReports)) as |report index|}}
      <tr
        class={{if report.showRemoveConfirmation "confirm-removal"}}
        data-test-active-row
        data-test-report={{index}}
      >
        <td class="text-left" colspan="4" data-test-name>
          <LinkTo @route="curriculumInventoryReport" @model={{report.content}}>
            {{report.name}}
          </LinkTo>
        </td>
        <td
          class="text-center hide-from-small-screen"
          colspan="2"
          data-test-program
          {{action "edit" report}}
        >
          {{report.program.title}}
        </td>
        <td
          class="text-center hide-from-small-screen"
          colspan="2"
          data-test-year
          {{action "edit" report}}
        >
          {{report.yearLabel}}
        </td>
        <td
          class="text-center hide-from-small-screen"
          colspan="2"
          data-test-start-date
          {{action "edit" report}}
        >
          {{moment-format report.startDate "L"}}
        </td>
        <td
          class="text-center hide-from-small-screen"
          colspan="2"
          data-test-end-date
          {{action "edit" report}}
        >
          {{moment-format report.endDate "L"}}
        </td>
        <td
          class="text-center"
          colspan="2"
          data-test-status
          {{action "edit" report}}
        >
          {{#if report.isFinalized}}
            <FaIcon @icon="lock" class="enabled" />
          {{/if}}
          <PublicationStatus
            @item={{report}}
            @notPublishedLangKey="general.draft"
            @publishedLangKey="general.finalized"
            @showIcon={{false}}
          />
        </td>
        <td class="text-right report-actions" colspan="2" data-test-actions>
          <LinkTo @route="curriculumInventoryReport" @model={{report.content}}>
            <FaIcon @icon="edit" class="enabled" />
          </LinkTo>
          <span>
            <a
              download="report.xml"
              href={{report.content.absoluteFileUri}}
              rel="noopener"
              target="_blank"
            >
              <FaIcon @icon="download" class="enabled" />
            </a>
          </span>
          {{#if (await report.userCanDelete)}}
            <span class="clickable remove" {{action "confirmRemove" report}}>
              <FaIcon @icon="trash" class="enabled" />
            </span>
          {{else}}
            <FaIcon @icon="trash" class="disabled" />
          {{/if}}
        </td>
      </tr>
      {{#if report.showRemoveConfirmation}}
        <tr class="confirm-removal" data-test-confirm-removal={{index}}>
          <td colspan="16">
            <div class="confirm-message">
              {{t "general.reportConfirmRemove"}}
              <br>
              <div class="confirm-buttons">
                <button type="button" class="remove text" onclick={{action "remove" report}}>
                  {{t "general.yes"}}
                </button>
                <button
                  type="button"
                  class="done text"
                  onclick={{action "cancelRemove" report}}
                >
                  {{t "general.cancel"}}
                </button>
              </div>
            </div>
          </td>
        </tr>
      {{/if}}
    {{else}}
      <tr data-test-empty-list>
        <td class="text-center" colspan={{if (media "isLaptopAndUp") "16" "8"}}>
          {{t "general.none"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
