<section
  class="curriculum-inventory-sequence-block-dates-duration-editor"
  {{did-insert this.load @sequenceBlock}}
  {{did-update this.load @sequenceBlock}}
  data-test-curriculum-inventory-sequence-block-dates-duration-editor
>
  <div class="item start-date" data-test-startdate>
    <label>
      {{t "general.start"}}:
    </label>
    <DatePicker
      @value={{this.startDate}}
      @change={{this.changeStartDate}}
    />
    {{#each (await (compute this.getErrorsFor "startDate")) as |message|}}
      <span class="validation-error-message">
        {{message}}
      </span>
    {{/each}}
  </div>
  <div class="item end-date" data-test-enddate>
    <label>
      {{t "general.end"}}:
    </label>
    <DatePicker
      @value={{this.endDate}}
      @change={{this.changeEndDate}}
    />
    {{#each (await (compute this.getErrorsFor "endDate")) as |message|}}
      <span class="validation-error-message">
        {{message}}
      </span>
    {{/each}}
  </div>
  <div class="item duration" data-test-duration>
    <label>
      {{t "general.durationInDays"}}:
    </label>
    <Input
      type="text"
      @value={{this.duration}}
      @key-up={{fn this.addErrorDisplayFor "duration"}}
      @enter={{perform this.save}}
      @escape-press={{@cancel}}
      disabled={{this.save.isRunning}}
      onkeyup={{action "addErrorDisplayFor" "duration"}}
    />
    {{#each (await (compute this.getErrorsFor "duration")) as |message|}}
      <span class="validation-error-message">
        {{message}}
      </span>
    {{/each}}
  </div>
  <div class="buttons">
    <button type="button" class="done text" disabled={{this.save.isRunning}} {{on "click" (perform this.save)}}>
      {{#if this.save.isRunning}}
        <LoadingSpinner />
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <button type="button" class="cancel text" disabled={{this.save.isRunning}} {{on "click" @cancel}}>
      {{t "general.cancel"}}
    </button>
  </div>
</section>
