<div class="item minimum">
  <label>
    {{t "general.minimum"}}:
  </label>
  <input
    type="text"
    value={{if isElective "0" minimum}}
    oninput={{action (mut minimum) value="target.value"}}
    disabled={{or isSaving isElective}}
    onkeyup={{action "addErrorDisplayFor" "minimum"}}
  >
  {{#if (and (v-get this "minimum" "isInvalid") (contains "minimum" showErrorsFor))
  }}
    <span class="validation-error-message">
      {{v-get this "minimum" "message"}}
    </span>
  {{/if}}
</div>
<div class="item maximum">
  <label>
    {{t "general.maximum"}}:
  </label>
  <input
    type="text"
    value={{maximum}}
    oninput={{action (mut maximum) value="target.value"}}
    disabled={{isSaving}}
    onkeyup={{action "addErrorDisplayFor" "maximum"}}
  >
  {{#if (and (v-get this "maximum" "isInvalid") (contains "maximum" showErrorsFor))
  }}
    <span class="validation-error-message">
      {{v-get this "maximum" "message"}}
    </span>
  {{/if}}
</div>
<div class="buttons">
  <button type="button" class="done text" disabled={{or isSaving}} {{action "save"}}>
    {{#if isSaving}}
      <LoadingSpinner />
    {{else}}
      {{t "general.done"}}
    {{/if}}
  </button>
  <button type="button" class="cancel text" {{action "cancel"}}>
    {{t "general.cancel"}}
  </button>
</div>
