<section class="curriculum-inventory-report-overview" ...attributes>
  {{#unless loadAttr.isRunning}}
    <div class="report-overview-header">
      <div class="title">
        {{t "general.overview"}}
      </div>
      <div class="report-overview-actions">
        <LinkTo
          @route="verificationPreview"
          @model={{report}}
          class="verification-preview"
        >
          <FaIcon
            @icon="table"
            @fixedWidth={{true}}
            @title={{t "general.verificationPreviewFor" name=report.name}}
          />
        </LinkTo>
        {{#if (and (is-fulfilled showRollover) (await showRollover))}}
          <span
            class="link rollover"
            role="button"
            {{action "transitionToRollover"}}
          >
            <FaIcon
              @icon="random"
              @fixedWidth={{true}}
              @title={{t "general.curriculumInventoryReportRollover"}}
            />
          </span>
        {{/if}}
      </div>
    </div>
    <div class="curriculum-inventory-report-overview-content">
      <div class="block start-date">
        <label>
          {{t "general.start"}}:
        </label>
        <span>
          {{#if canUpdate}}
            <EditableField
              @value={{format-date report.startDate}}
              @save={{action "changeStartDate"}}
              @close={{action "revertStartDateChanges"}}
            >
              <DatePicker
                @value={{this.startDate}}
                @change={{queue (set this.startDate) (fn (action "addErrorDisplayFor") "startDate")}}
                data-test-start-date-picker
              />
              {{#if
                (and
                  (v-get this "startDate" "isInvalid")
                  (includes "startDate" showErrorsFor)
                )
              }}
                <span class="validation-error-message">
                  {{v-get this "startDate" "message"}}
                </span>
              {{/if}}
            </EditableField>
          {{else}}
            {{format-date report.startDate}}
          {{/if}}
        </span>
      </div>
      <div class="block end-date">
        <label>
          {{t "general.end"}}:
        </label>
        <span>
          {{#if canUpdate}}
            <EditableField
              @value={{format-date report.endDate}}
              @save={{action "changeEndDate"}}
              @close={{action "revertEndDateChanges"}}
            >
              <DatePicker
                @value={{this.endDate}}
                @change={{queue (set this.endDate) (fn (action "addErrorDisplayFor") "endDate")}}
                data-test-end-date-picker
              />
              {{#if
                (and
                  (v-get this "endDate" "isInvalid")
                  (includes "endDate" showErrorsFor)
                )
              }}
                <span class="validation-error-message">
                  {{v-get this "endDate" "message"}}
                </span>
              {{/if}}
            </EditableField>
          {{else}}
            {{format-date report.endDate}}
          {{/if}}
        </span>
      </div>
      <div class="block academic-year">
        <label>
          {{t "general.academicYear"}}:
        </label>
        {{#if (and canUpdate (not (await report.hasLinkedCourses)))}}
          <EditableField
            @value={{yearLabel}}
            @save={{action "changeYear"}}
            @close={{action "revertYearChanges"}}
          >
            <select {{on "change" (action "updateYear")}}>
              {{#each this.yearOptions as |obj|}}
                <option value={{obj.id}} selected={{eq obj.id this.year}}>{{obj.title}}</option>
              {{/each}}
            </select>
          </EditableField>
        {{else}}
          <span>
            {{this.yearLabel}}
          </span>
        {{/if}}
      </div>
      <div class="block program">
        <label>
          {{t "general.program"}}:
        </label>
        <span>
          {{@report.program.title}}
          ({{@report.program.shortTitle}})
        </span>
      </div>
      <div class="description">
        <label>
          {{t "general.description"}}:
        </label>
        <span>
          {{#if canUpdate}}
            <EditableField
              @value={{description}}
              @save={{action "changeDescription"}}
              @close={{action "revertDescriptionChanges"}}
              @clickPrompt={{if description description (t "general.clickToEdit")
              }}
              @closeOnEscape={{true}} as |isSaving|
            >
              <textarea
                oninput={{action (mut description) value="target.value"}}
                value={{description}}
                disabled={{isSaving}}
                onkeyup={{action "addErrorDisplayFor" "description"}}
              >
                {{this.description}}
              </textarea>
              {{#if
                (and
                  (v-get this "description" "isInvalid")
                  (includes "description" showErrorsFor)
                )
              }}
                <span class="validation-error-message">
                  {{v-get this "description" "message"}}
                </span>
              {{/if}}
            </EditableField>
          {{else}}
            {{this.description}}
          {{/if}}
        </span>
      </div>
    </div>
  {{/unless}}
</section>
