<CurriculumInventoryReportHeader
  @report={{report}}
  @finalize={{action "confirmFinalization"}}
  @canUpdate={{canUpdate}}
/>
{{#if showFinalizeConfirmation}}
  <div class="confirm-finalize">
    <div class="confirm-message">
      {{t "general.finalizeReportConfirmation"}}
      <br>
      <div class="confirm-buttons">
        <button class="finalize text" {{action "finalize"}}>
          {{t "general.yes"}}
        </button>
        <button class="done text" {{action "cancelFinalization"}}>
          {{t "general.cancel"}}
        </button>
      </div>
    </div>
  </div>
{{/if}}
<CurriculumInventoryReportOverview
  @report={{report}}
  @canUpdate={{canUpdate}}
/>
{{#if leadershipDetails}}
  <CurriculumInventoryLeadershipExpanded
    @report={{report}}
    @canUpdate={{canUpdate}}
    @collapse={{action setLeadershipDetails false}}
    @expand={{action setLeadershipDetails true}}
    @isManaging={{manageLeadership}}
    @setIsManaging={{setManageLeadership}}
  />
{{else}}
  <LeadershipCollapsed
    @title={{t "general.curriculumInventoryReportLeadership"}}
    @showDirectors={{false}}
    @administratorsCount={{has-many-length report "administrators"}}
    @expand={{action setLeadershipDetails true}}
  />
{{/if}}
{{#liquid-if isFinalizing class="crossFade"}}
  <ModalDialog @translucentOverlay={{true}} @animatable={{false}}>
    <PulseLoader />
    <h2 class="page-title">
      {{t "general.finalizingReport"}}
    </h2>
  </ModalDialog>
{{/liquid-if}}