{{#unless loadAttr.isRunning}}
  <div class="actions">
    <button class="bigadd" {{action (perform saveChanges)}}>
      <FaIcon
        @icon={{if saveChanges.isRunning "spinner" "check"}}
        @spin={{if saveChanges.isRunning true false}}
      />
    </button>
    <button class="bigcancel" {{action "close"}}>
      <FaIcon @icon="undo" />
    </button>
  </div>
  <div class="list">
    <table>
      <thead>
        <tr>
          <th class="text-center count-as-one-header" colspan="2">
            <input
              type="checkbox"
              checked={{allSelected}}
              onclick={{action "toggleSelectAll" value="target.value"}}
              indeterminate={{someSelected}}
            >
            {{t "general.countAsOneOffering"}}
          </th>
          <th class="text-center count-as-one-header" colspan="2">
            <input
              type="checkbox"
              checked={{allExcluded}}
              onclick={{action "toggleExcludeAll" value="target.value"}}
              indeterminate={{someExcluded}}
            >
            {{t "general.exclude"}}
          </th>
          <SortableTh
            @colspan={{3}}
            @click={{action "sortBy" "title"}}
            @sortedBy={{or (eq sortBy "title") (eq sortBy "title:desc")}}
            @sortedAscending={{sortedAscending}}
          >
            {{t "general.sessionTitle"}}
          </SortableTh>
          <SortableTh
            @colspan={{3}}
            @click={{action "sortBy" "sessionType.title"}}
            @sortedBy={{or
              (eq sortBy "sessionType.title")
              (eq sortBy "sessionType.title:desc")
            }}
            @sortedAscending={{sortedAscending}}
          >
            {{t "general.sessionType"}}
          </SortableTh>
          <th class="text-center" colspan="1">
            {{t "general.totalTime"}}
          </th>
          <SortableTh
            @colspan={{1}}
            @click={{action "sortBy" "offerings.length"}}
            @sortedBy={{or
              (eq sortBy "offerings.length")
              (eq sortBy "offerings.length:desc")
            }}
            @sortedAscending={{sortedAscending}}
            @sortType="numeric"
          >
            {{t "general.offerings"}}
          </SortableTh>
        </tr>
      </thead>
      <tbody>
        {{#each (sort-by sortBy sessionsBuffer) as |session|}}
          <tr>
            <td class="text-center" colspan="2">
              <Input
                @type="checkbox"
                @checked={{contains session linkedSessionsBuffer}}
                @change={{action "changeSession" session}}
              />
            </td>
            <td class="text-center" colspan="2">
              <Input
                @type="checkbox"
                @checked={{contains session excludedSessionsBuffer}}
                @change={{action "excludeSession" session}}
              />
            </td>
            <td class="text-left" colspan="3">
              {{#if session.isIndependentLearning}}
                <strong>
                  ({{t "general.ilm"}})
                </strong>
              {{/if}}
              {{session.title}}
            </td>
            <td class="text-left" colspan="3">
              {{get (await session.sessionType) "title"}}
            </td>
            <td class="text-center" colspan="1">
              {{#if (contains session linkedSessionsBuffer)}}
                {{#unless (is-fulfilled session.maxDuration)}}
                  <LoadingSpinner />
                {{else}}
                  {{await session.maxDuration}}
                {{/unless}}
              {{else}}
                {{#unless (is-fulfilled session.totalSumDuration)}}
                  <LoadingSpinner />
                {{else}}
                  {{await session.totalSumDuration}}
                {{/unless}}
              {{/if}}
            </td>
            <td class="text-center" colspan="1">
              {{get (await session.offerings) "length"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/unless}}
