<div class="rollover-form">
  <h3 class="title">
    {{t "general.curriculumInventoryReportRollover"}}
  </h3>
  <p class="rollover-summary">
    {{t "general.curriculumInventoryReportRolloverSummary"}}
  </p>
  <div class="item name">
    <label>
      {{t "general.name"}}:
    </label>
    <input
      type="text"
      value={{name}}
      oninput={{pipe
        (action "changeName" value="target.value")
        (action "addErrorDisplayFor" "name")
      }}
      disabled={{isSaving}}
      onkeyup={{action "addErrorDisplayFor" "name"}}
      placeholder={{t "general.reportNamePlaceholder"}}
    >
    {{#if (and (v-get this "name" "isInvalid") (contains "name" showErrorsFor))}}
      <span class="validation-error-message">
        {{v-get this "name" "message"}}
      </span>
    {{/if}}
  </div>
  <div class="item description">
    <label>
      {{t "general.description"}}:
    </label>
    <textarea
      value={{description}}
      oninput={{action (mut description) value="target.value"}}
      disabled={{isSaving}}
      placeholder={{t "general.reportDescriptionPlaceholder"}}
    ></textarea>
  </div>
  <div class="item years">
    <label>
      {{t "general.academicYear"}}:
    </label>
    <select disabled={{this.isSaving}} {{on "change" (action "setSelectedYear")}}>
      {{#each this.years as |year|}}
        <option value={{year.id}} selected={{eq year.id this.selectedYear.id}}>{{year.title}}</option>
      {{/each}}
    </select>
  </div>
  <div class="buttons">
    <button
      type="button"
      class="done text"
      disabled={{if isSaving true}}
      {{action (perform save)}}
    >
      {{#if isSaving}}
        <LoadingSpinner />
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <LinkTo @route="curriculumInventoryReport" @model={{report}}>
      <button  type="button" class="cancel text">
        {{t "general.cancel"}}
      </button>
    </LinkTo>
  </div>
</div>
