<div class="dashboard-mycourses" ...attributes>
  <div class="dashboard-block-header">
    <h3>
      {{t "general.myCourses"}}
    </h3>
  </div>
  <div class="dashboard-block-body">
    {{#if (is-array this.listOfCourses)}}
      {{#if this.listOfCourses.length}}
        <ul>
          {{#each (sort-by "year" "title" this.listOfCourses) as |course|}}
            {{#if this.canEditCourses}}
              <li>
                <LinkTo @route="course" @model={{course}}>
                  <FaIcon @icon="external-link-square-alt" />
                  {{course.academicYear}}
                  {{course.title}}
                  {{#if course.externalId}}
                    ({{course.externalId}})
                  {{/if}}
                </LinkTo>
              </li>
            {{else}}
              <li>
                {{course.academicYear}}
                {{course.title}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        {{t "general.none"}}
      {{/if}}
    {{else}}
      <LoadingSpinner />
    {{/if}}
  </div>
</div>
