{{#let (unique-id) as |templateId|}}
  <div
    class="dashboard-mycourses"
    data-test-dashboard-mycourses
    {{did-insert (perform this.load)}}
    ...attributes
  >
    {{#unless this.load.isRunning}}
      <div class="dashboard-block-header">
        <h3 id="{{templateId}}-title" data-test-title>
          {{t "general.myCourses"}}
        </h3>
      </div>
      <div
        class="dashboard-block-body"
        aria-labelledby="{{templateId}}-title"
        tabindex="0"
      >
        {{#if (is-array this.listOfCourses)}}
          <ul>
            {{#if this.listOfCourses.length}}
              {{#each (sort-by "year" "title" this.listOfCourses) as |course|}}
                {{#if this.canEditCourses}}
                  <li data-test-course>
                    <LinkTo @route="course" @model={{course}}>
                      <FaIcon @icon="external-link-square-alt" />
                      {{#if this.academicYearCrossesCalendarYearBoundaries}}
                        {{course.year}} - {{add course.year 1}}
                      {{else}}
                        {{course.year}}
                      {{/if}}
                      {{course.title}}
                      {{#if course.externalId}}
                        ({{course.externalId}})
                      {{/if}}
                    </LinkTo>
                  </li>
                {{else}}
                  <li data-test-course>
                    {{#if this.academicYearCrossesCalendarYearBoundaries}}
                      {{course.year}} - {{add course.year 1}}
                    {{else}}
                      {{course.year}}
                    {{/if}}
                    {{course.title}}
                  </li>
                {{/if}}
              {{/each}}
            {{else}}
              <li data-test-course>{{t "general.none"}}</li>
            {{/if}}
          </ul>
        {{else}}
          <LoadingSpinner />
        {{/if}}
      </div>
    {{/unless}}
  </div>
{{/let}}