<header class="ilios-header" data-test-ilios-header ...attributes>
  <NavigationNarrator
    @navigationText={{t "general.navigationCompleteText"}}
    @skipText={{t "general.skipToMainContent"}}
  />
  <LinkTo @route="dashboard" class="logo" title={{t "general.dashboard"}}>
    <h1 class="visually-hidden" data-test-title>
      {{@title}}
    </h1>
    <span class="image"></span>
  </LinkTo>
  <div class="tools">
    {{#if this.showSearch}}
      <GlobalSearchBox @search={{this.search}} />
    {{/if}}
    <LocaleChooser />
    {{#if this.session.isAuthenticated}}
      <UserMenu />
    {{/if}}
  </div>
</header>
