<div ...attributes>
  <table data-test-ilios-course-list>
    <thead>
      <tr data-test-course-headings>
        <SortableTh
          data-test-course-title-heading
          @colspan={{3}}
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{or (eq sortBy "title") (eq sortBy "title:desc")}}
          @click={{action "sortBy" "title"}}
        >
          {{t "general.courseTitle"}}
        </SortableTh>
        <th class="text-center hide-from-small-screen" colspan="2">
          {{t "general.school"}}
        </th>
        <th class="text-center hide-from-small-screen" colspan="2">
          {{t "general.year"}}
        </th>
        <SortableTh
          @align="center"
          @colspan={{1}}
          @hideFromSmallScreen={{true}}
          @sortedAscending={{this.sortedAscending}}
          @sortType="numeric"
          @click={{action "sortBy" "level"}}
        >
          {{t "general.level"}}
        </SortableTh>
        <SortableTh
          @align="center"
          @colspan="2"
          @hideFromSmallScreen={{true}}
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{or (eq sortBy "startDate") (eq sortBy "startDate:desc")}}
          @sortType="numeric"
          @click={{action "sortBy" "startDate"}}
        >
          {{t "general.startDate"}}
        </SortableTh>
        <SortableTh
          @align="center"
          @colspan="2"
          @hideFromSmallScreen={{true}}
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{or (eq sortBy "endDate") (eq sortBy "endDate:desc")}}
          @sortType="numeric"
          @click={{action "sortBy" "endDate"}}
        >
          {{t "general.endDate"}}
        </SortableTh>
        <SortableTh
          @colspan="3"
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{or (eq sortBy "status") (eq sortBy "status:desc")}}
          @click={{action "sortBy" "status"}}
        >
          {{t "general.status"}}
        </SortableTh>
      </tr>
    </thead>
    <tbody data-test-courses>
      {{#each (await this.sortedCourses) as |course|}}
        <tr
          class={{if course.showRemoveConfirmation "confirm-removal"}}
          data-test-active-row
        >
          <td class="text-left" colspan="3">
            <LinkTo @route="course" @model={{course.content}}>
              {{course.title}}
              {{#if course.externalId}}
                ({{course.externalId}})
              {{/if}}
            </LinkTo>
          </td>
          <td class="text-center hide-from-small-screen" colspan="2">
            {{course.school.title}}
          </td>
          <td class="text-center hide-from-small-screen" colspan="2">
            {{course.academicYear}}
          </td>
          <td class="text-center hide-from-small-screen" colspan="1">
            {{course.level}}
          </td>
          <td class="text-center hide-from-small-screen" colspan="2">
            {{moment-format course.startDate "L"}}
          </td>
          <td class="text-center hide-from-small-screen" colspan="2">
            {{moment-format course.endDate "L"}}
          </td>
          <td class="text-left" colspan="3">
            {{#if course.isSaving}}
              <LoadingSpinner />
            {{else}}
              <PublicationStatus @item={{course}} @showIcon={{false}} />
              {{#if
                (and
                  (is-fulfilled course.userCanUnlock)
                  (is-fulfilled course.userCanLock)
                  course.locked
                )
              }}
                {{#if (await course.userCanUnLock)}}
                  <FaIcon
                    @icon="lock"
                    class="clickable enabled"
                    @click={{action "unlockCourse" course}}
                  />
                {{else}}
                  <FaIcon @icon="lock" class="disabled" />
                {{/if}}
              {{else if (await course.userCanLock)}}
                <FaIcon
                  @icon="unlock"
                  class="clickable enabled"
                  @click={{action "lockCourse" course}}
                />
              {{else}}
                <FaIcon @icon="unlock" class="disabled" />
              {{/if}}
              {{#if (await course.userCanDelete)}}
                <span class="clickable remove" {{action "confirmRemove" course}}>
                  <FaIcon @icon="trash" class="enabled" />
                </span>
              {{else}}
                <FaIcon @icon="trash" class="disabled" />
              {{/if}}
            {{/if}}
          </td>
        </tr>
        {{#if course.showRemoveConfirmation}}
          <tr class="confirm-removal">
            <td colspan="15">
              <div class="confirm-message">
                {{t
                  "general.confirmRemoveCourse"
                  publishedOfferingCount=course.publishedOfferingCount
                }}
                <br>
                <div class="confirm-buttons">
                  <button type="button" class="remove text" onclick={{action "remove" course}}>
                    {{t "general.yes"}}
                  </button>
                  <button
                    type="button"
                    class="done text"
                    onclick={{action "cancelRemove" course}}
                  >
                    {{t "general.cancel"}}
                  </button>
                </div>
              </div>
            </td>
          </tr>
        {{/if}}
      {{else}}
        <tr data-test-empty-list>
          <td class="text-center" colspan={{if (media "isLaptopAndUp") "15" "6"}}>
            {{if @query (t "general.noResultsFound") (t "general.none")}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
