<div
  class="instructorgroup-details"
  data-test-instructorgroup-details
  ...attributes
>
  <InstructorgroupHeader
    @instructorGroup={{@instructorGroup}}
    @canUpdate={{@canUpdate}}
  />
  <div class="instructorgroup-overview" data-test-overview>
    <h2 data-test-title>
      {{@instructorGroup.title}}
      {{t "general.members"}}
      ({{@instructorGroup.users.length}})
    </h2>
    {{#if (is-fulfilled @instructorGroup.users)}}
      <label>
        {{t "general.instructors"}}:
      </label>
      <div>
        <ul class="instructorgroup-users" data-test-users>
          {{#each
            (sort-by
              "fullName" (await @instructorGroup.users)
            ) as |user|
          }}
            {{#if @canUpdate}}
              <li data-test-user>
                <button
                  class="link-button"
                  type="button"
                  data-test-remove
                  {{on "click" (perform this.removeUser user)}}
                >
                  <UserNameInfo @user={{user}} />
                  <FaIcon @icon="xmark" class="remove" />
                </button>
              </li>
            {{else}}
              <li data-test-user>
                <UserNameInfo @user={{user}} />
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    {{else}}
      <LoadingSpinner class="instructorgroup-loading" />
    {{/if}}
    {{#if @canUpdate}}
      <UserSearch
        @addUser={{perform this.addUser}}
        @currentlyActiveUsers={{await @instructorGroup.users}}
      />
    {{/if}}
    <div class="instructorgroupcourses" data-test-courses>
      <label>
        {{t "general.associatedCourses"}}:
      </label>
      {{#if (is-fulfilled @instructorGroup.courses)}}
        <ul data-test-courses>
          {{#each (sort-by "title" (await @instructorGroup.courses)) as |course|}}
            <li data-test-course>
              <LinkTo @route="course" @model={{course}}>
                <FaIcon @icon="square-up-right" />
                {{course.title}}
              </LinkTo>
            </li>
          {{else}}
            <li data-test-course>{{t "general.none"}}</li>
          {{/each}}
        </ul>
      {{else}}
        <LoadingSpinner class="instructorgroup-loading" />
      {{/if}}
    </div>
  </div>
</div>
