<div class="learnergroup-list" data-test-learnergroup-list ...attributes>
  <table>
    <thead>
      <tr>
        <SortableTh
          @colspan={{2}}
          @sortedAscending={{this.sortedAscending}}
          @click={{fn this.setSortBy "title"}}
        >
          {{t "general.learnerGroupTitle"}}
        </SortableTh>
        <SortableTh
          @align="center"
          @colspan={{1}}
          @hideFromSmallScreen={{true}}
          @sortedAscending={{this.sortedAscending}}
          @sortType="numeric"
          @click={{fn this.setSortBy "usersCount"}}
        >
          {{t "general.members"}}
        </SortableTh>
        <SortableTh
          @align="center"
          @colspan={{1}}
          @hideFromSmallScreen={{true}}
          @sortedAscending={{this.sortedAscending}}
          @sortType="numeric"
          @click={{fn this.setSortBy "childrenCount"}}
        >
          {{t "general.subgroups"}}
        </SortableTh>
        <th class="text-right">
          {{t "general.actions"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by this.sortBy @learnerGroups) as |learnerGroup|}}
        <tr
          class={{if
            (contains learnerGroup.id (map-by "id" this.toRemove))
            "confirm-removal"
          }}
          data-test-active-row
        >
          <td class="text-left" colspan="2">
            <LinkTo @route="learnerGroup" @model={{learnerGroup}}>
              {{learnerGroup.title}}
            </LinkTo>
          </td>
          <td class="text-center hide-from-small-screen">
            {{learnerGroup.usersCount}}
          </td>
          <td class="text-center hide-from-small-screen">
            {{learnerGroup.childrenCount}}
          </td>
          <td class="text-right" data-test-actions>
            {{#if (is-fulfilled learnerGroup.hasLearnersInGroupOrSubgroups)}}
              {{#if
                (and
                  @canDelete
                  (not (await learnerGroup.hasLearnersInGroupOrSubgroups))
                )
              }}
                <span
                  class="clickable remove"
                  role="button"
                  data-test-remove
                  {{on "click" (perform this.confirmRemove learnerGroup)}}
                >
                  {{#if (contains learnerGroup this.preparingToRemove)}}
                    <FaIcon @icon="spinner" @spin={{true}} />
                  {{else}}
                    <FaIcon @icon="trash" class="enabled" />
                  {{/if}}
                </span>
              {{else}}
                <FaIcon @icon="trash" class="disabled" />
              {{/if}}
            {{else}}
              <LoadingSpinner />
            {{/if}}
            {{#if @canCreate}}
              <FaIcon
                @icon="copy"
                class="clickable enabled"
                @title={{t "general.copy"}}
                @click={{fn this.startCopy learnerGroup}}
                data-test-copy={{true}}
              />
            {{else}}
              <FaIcon @icon="copy" class="disabled" />
            {{/if}}
          </td>
        </tr>
        {{#if (contains learnerGroup.id (map-by "id" this.toRemove))}}
          {{#let (find-by "id" learnerGroup.id this.toRemove) as |removableGroup|}}
            <tr class="confirm-removal" data-test-confirm-removal>
              <td colspan={{if (media "isLaptopAndUp") "5" "3"}}>
                <div class="confirm-message" data-test-confirmation>
                  {{#if (gt removableGroup.courses.length 0)}}
                    {{t "general.canNotDeleteLearnerGroupWithAssociatedCourses" courseCount=removableGroup.courses.length}}
                    <ul class="course-list">
                      {{#each (sort-by "year" "title" removableGroup.courses) as |course|}}
                        <li>{{course.academicYear}} {{course.title}}</li>
                      {{/each}}
                    </ul>
                    <button
                        type="button"
                        class="done text"
                        onclick={{fn this.cancelRemove learnerGroup}}
                        data-test-cancel
                      >
                        {{t "general.ok"}}
                      </button>
                  {{else}}
                    {{t
                      "general.confirmRemoveLearnerGroup"
                      subgroupCount=learnerGroup.children.length
                    }}
                    <br>
                    <div class="confirm-buttons">
                      <button
                        type="button"
                        class="remove text"
                        onclick={{fn @remove learnerGroup}}
                        data-test-confirm
                      >
                        {{t "general.yes"}}
                      </button>
                      <button
                        type="button"
                        class="done text"
                        onclick={{fn this.cancelRemove learnerGroup}}
                        data-test-cancel
                      >
                        {{t "general.cancel"}}
                      </button>
                    </div>
                  {{/if}}
                </div>
              </td>
            </tr>
          {{/let}}
        {{/if}}
        {{#if (contains learnerGroup this.toCopy)}}
          <tr class="confirm-copy" data-test-confirm-copy>
            <td colspan={{if (media "isLaptopAndUp") "6" "3"}}>
              <div class="confirm-buttons">
                {{#if @canCopyWithLearners}}
                  <button
                    type="button"
                    class="done text"
                    onclick={{perform this.copy true learnerGroup}}
                    data-test-confirm-with-learners
                  >
                    {{t "general.copyWithLearners"}}
                  </button>
                  <button
                    type="button"
                    class="done text"
                    onclick={{perform this.copy false learnerGroup}}
                    data-test-confirm-without-learners
                  >
                    {{t "general.copyWithoutLearners"}}
                  </button>
                {{else}}
                  <button
                    type="button"
                    class="done text"
                    onclick={{perform this.copy false learnerGroup}}
                    data-test-confirm-without-learners
                  >
                    {{t "general.copy"}}
                  </button>
                {{/if}}
                <button
                  type="button"
                  class="cancel text"
                  onclick={{fn this.cancelCopy learnerGroup}}
                >
                  {{t "general.cancel"}}
                </button>
              </div>
            </td>
          </tr>
        {{/if}}
      {{else}}
        <tr data-test-empty-list>
          <td class="text-center" colspan={{if (media "isLaptopAndUp") "6" "3"}}>
            {{if @query (t "general.noResultsFound") (t "general.none")}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
