<section
  class="learnergroup-subgroup-list"
  data-test-learnergroup-subgroup-list
  ...attributes
>
  {{#if this.isSaving}}
    <WaitSaving
      @showProgress={{true}}
      @totalProgress={{this.totalGroupsToSave}}
      @currentProgress={{this.currentGroupsSaved}}
    />
  {{/if}}
  <div class="learnergroup-subgroup-list-header">
    <div class="title">
      {{t "general.subgroups"}}
      ({{get (await @parentGroup.children) "length"}})
    </div>
    <div class="learnergroup-subgroup-list-actions">
      {{#if @canCreate}}
        <ExpandCollapseButton
          @value={{this.showNewLearnerGroupForm}}
          @action={{set this.showNewLearnerGroupForm (not this.showNewLearnerGroupForm)}}
        />
      {{/if}}
    </div>
  </div>
  <div class="learnergroup-subgroup-list-content">
    <section class="learnergroup-subgroup-list-new">
      {{#if this.showNewLearnerGroupForm}}
        <LearnerGroups::New
          @save={{this.saveNewLearnerGroup}}
          @cancel={{set this.showNewLearnerGroupForm (not this.showNewLearnerGroupForm)}}
          @generateNewLearnerGroups={{this.generateNewLearnerGroups}}
          @multiModeSupported={{true}}
        />
      {{/if}}
    </section>
    {{#if this.savedGroup}}
      <div class="saved-result">
        <LinkTo @route="learner-group" @model={{this.savedGroup}}>
          <FaIcon @icon="square-up-right" />
          {{this.savedGroup.title}}
        </LinkTo>
        {{t "general.savedSuccessfully"}}
      </div>
    {{/if}}
    {{#if (is-fulfilled @parentGroup.children)}}
      {{#if (get (await @parentGroup.children) "length")}}
        <div class="learnergroup-subgroup-list-list">
          <LearnergroupList
            @bubbleSort={{false}}
            @learnerGroups={{await @parentGroup.children}}
            @canDelete={{@canDelete}}
            @canCreate={{@canCreate}}
            @canCopyWithLearners={{false}}
            @remove={{this.removeLearnerGroup}}
            @copy={{perform this.copyGroup}}
          />
        </div>
      {{/if}}
    {{else}}
      <LoadingSpinner />
    {{/if}}
  </div>
</section>
