<div
  class="learnergroup-instructor-manager"
  {{did-insert (perform this.load) @learnerGroup}}
  {{did-update (perform this.load) @learnerGroup}}
  data-test-learnergroup-instructor-manager
>
  {{#unless this.load.isRunning}}
    <div class="detail-actions">
      <button type="button" class="bigadd" {{action (perform this.saveChanges)}}>
        <FaIcon
          @icon={{if this.saveChanges.isRunning "spinner" "check"}}
          @spin={{if this.saveChanges.isRunning true false}}
        />
      </button>
      <button type="button" class="bigcancel" {{on "click" @close}}>
        <FaIcon @icon="undo" />
      </button>
    </div>
    <div class="detail-content">
      <ul class="removable-instructors">
        {{#each (sort-by "lastName" this.instructors) as |user|}}
          <li {{on "click" (fn this.removeInstructor user)}}>
            {{user.fullName}}
            <FaIcon @icon="times" class="remove" />
          </li>
        {{/each}}
        {{#each (sort-by "title" this.instructorGroups) as |instructorGroup|}}
          <li {{on "click" (fn this.removeInstructorGroup instructorGroup)}}>
            {{instructorGroup.title}}
            <FaIcon @icon="times" class="remove" />
          </li>
        {{/each}}
      </ul>
      <UserSearch
        @addUser={{this.addInstructor}}
        @addInstructorGroup={{this.addInstructorGroup}}
        @currentlyActiveUsers={{this.instructors}}
        @availableInstructorGroups={{this.availableInstructorGroups}}
        @currentlyActiveInstructorGroups={{this.instructorGroups}}
      />
    </div>
  {{/unless}}
</div>
