<div
  class="learnergroup-list"
  data-test-learnergroup-list
  {{did-insert (perform this.load)}}
  ...attributes
>
  {{#unless this.load.isRunning}}
    <table>
      <thead>
        <tr>
          <SortableTh
            @colspan={{2}}
            @sortedAscending={{this.sortedAscending}}
            @onClick={{fn this.setSortBy "title"}}
            @sortedBy={{or
              (eq this.sortBy "title")
              (eq this.sortBy "title:desc")
            }}
          >
            {{t "general.learnerGroupTitle"}}
          </SortableTh>
          <SortableTh
            @align="center"
            @colspan={{1}}
            @hideFromSmallScreen={{true}}
            @sortedAscending={{this.sortedAscending}}
            @sortType="numeric"
            @onClick={{fn this.setSortBy "usersCount"}}
            @sortedBy={{or
              (eq this.sortBy "usersCount")
              (eq this.sortBy "usersCount:desc")
            }}
          >
            {{t "general.members"}}
          </SortableTh>
          <SortableTh
            @align="center"
            @colspan={{1}}
            @hideFromSmallScreen={{true}}
            @sortedAscending={{this.sortedAscending}}
            @sortType="numeric"
            @onClick={{fn this.setSortBy "childrenCount"}}
            @sortedBy={{or
              (eq this.sortBy "childrenCount")
              (eq this.sortBy "childrenCount:desc")
            }}
          >
            {{t "general.subgroups"}}
          </SortableTh>
          <th class="text-right">
            {{t "general.actions"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (
            sort-by (if (or (eq this.sortBy "title") (eq this.sortBy "title:desc")) this.sortByTitle this.sortBy
          ) @learnerGroups) as |learnerGroup|
        }}
          <tr
            class={{if
              (includes learnerGroup.id (map-by "id" this.toRemove))
              "confirm-removal"
            }}
            data-test-active-row
          >
            <td class="text-left" colspan="2">
              <LinkTo @route="learner-group" @model={{learnerGroup}}>
                <span data-test-title>{{learnerGroup.title}}</span>
                {{#if learnerGroup.needsAccommodation}}
                  <FaIcon @icon="universal-access" @title={{t "general.membersOfThisGroupRequireAccommodation"}} />
                {{/if}}
              </LinkTo>
            </td>
            <td class="text-center hide-from-small-screen">
              {{learnerGroup.usersCount}}
            </td>
            <td class="text-center hide-from-small-screen">
              <span data-test-children-count>{{learnerGroup.childrenCount}}</span>
              {{#if (await learnerGroup.hasSubgroupsInNeedOfAccommodation)}}
                <FaIcon @icon="universal-access" @title={{t "general.membersOfThisGroupRequireAccommodation"}} />
              {{/if}}
            </td>
            <td class="text-right" data-test-actions>
              {{#if (is-fulfilled learnerGroup.hasLearnersInGroupOrSubgroups)}}
                {{#if
                  (and
                    @canDelete
                    (not (await learnerGroup.hasLearnersInGroupOrSubgroups))
                    (not (includes learnerGroup.id (map-by "id" this.toRemove)))
                  )
                }}
                  <button
                    class="link-button"
                    type="button"
                    data-test-remove
                    {{on "click" (perform this.confirmRemove learnerGroup)}}
                  >
                    {{#if (includes learnerGroup this.preparingToRemove)}}
                      <FaIcon @icon="spinner" class="enabled remove" @spin={{true}} />
                    {{else}}
                      <FaIcon @icon="trash" class="enabled remove" />
                    {{/if}}
                  </button>
                {{else}}
                  <FaIcon @icon="trash" class="disabled" />
                {{/if}}
              {{else}}
                <LoadingSpinner />
              {{/if}}
              {{#if @canCreate}}
                <button
                  type="button"
                  class="link-button"
                  {{on "click" (fn this.startCopy learnerGroup)}}
                  data-test-copy={{true}}
                >
                  <FaIcon
                    @icon="copy"
                    @title={{t "general.copy"}}
                  />
                </button>
              {{else}}
                <FaIcon @icon="copy" class="disabled" />
              {{/if}}
            </td>
          </tr>
          {{#if (includes learnerGroup.id (map-by "id" this.toRemove))}}
            {{#let (find-by "id" learnerGroup.id this.toRemove) as |removableGroup|}}
              <tr class="confirm-removal" data-test-confirm-removal>
                <td colspan={{if (media "isLaptopAndUp") "5" "3"}}>
                  <div class="confirm-message" data-test-confirmation>
                    {{#if (gt removableGroup.courses.length 0)}}
                      {{t "general.canNotDeleteLearnerGroupWithAssociatedCourses" courseCount=removableGroup.courses.length}}
                      <ul class="course-list">
                        {{#each (sort-by "year" "title" removableGroup.courses) as |course|}}
                          <li>
                            {{#if this.academicYearCrossesCalendarYearBoundaries}}
                              {{course.year}} - {{add course.year 1}}
                            {{else}}
                              {{course.year}}
                            {{/if}}
                            {{course.title}}
                          </li>
                        {{/each}}
                      </ul>
                      <button
                        type="button"
                        class="done text"
                        {{on "click" (fn this.cancelRemove learnerGroup)}}
                        data-test-cancel
                      >
                        {{t "general.ok"}}
                      </button>
                    {{else}}
                      {{t
                        "general.confirmRemoveLearnerGroup"
                        subgroupCount=learnerGroup.children.length
                      }}
                      <br>
                      <div class="confirm-buttons">
                        <button
                          type="button"
                          class="remove text"
                          {{on "click" (fn @remove learnerGroup)}}
                          data-test-confirm
                        >
                          {{t "general.yes"}}
                        </button>
                        <button
                          type="button"
                          class="done text"
                          {{on "click" (fn this.cancelRemove learnerGroup)}}
                          data-test-cancel
                        >
                          {{t "general.cancel"}}
                        </button>
                      </div>
                    {{/if}}
                  </div>
                </td>
              </tr>
            {{/let}}
          {{/if}}
          {{#if (includes learnerGroup this.toCopy)}}
            <tr class="confirm-copy" data-test-confirm-copy>
              <td colspan={{if (media "isLaptopAndUp") "5" "3"}}>
                <div class="confirm-buttons">
                  {{#if @canCopyWithLearners}}
                    <button
                      type="button"
                      class="done text"
                      {{on "click" (perform this.copy true learnerGroup)}}
                      data-test-confirm-with-learners
                    >
                      {{t "general.copyWithLearners"}}
                    </button>
                    <button
                      type="button"
                      class="done text"
                      {{on "click" (perform this.copy false learnerGroup)}}
                      data-test-confirm-without-learners
                    >
                      {{t "general.copyWithoutLearners"}}
                    </button>
                  {{else}}
                    <button
                      type="button"
                      class="done text"
                      {{on "click" (perform this.copy false learnerGroup)}}
                      data-test-confirm-without-learners
                    >
                      {{t "general.copy"}}
                    </button>
                  {{/if}}
                  <button
                    type="button"
                    class="cancel text"
                    {{on "click" (fn this.cancelCopy learnerGroup)}}
                  >
                    {{t "general.cancel"}}
                  </button>
                </div>
              </td>
            </tr>
          {{/if}}
        {{else}}
          <tr data-test-empty-list>
            <td class="text-center" colspan={{if (media "isLaptopAndUp") "5" "3"}}>
              <span data-test-title>{{if @query (t "general.noResultsFound") (t "general.none")}}</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
</div>
