<header
  class="learnergroup-header"
  data-test-learnergroup-header
  {{did-insert this.load}}
  {{did-update this.load @learnerGroup}}
  ...attributes
>
  <div class="header-bar">
    <span class="title">
        {{#if @canUpdate}}
          <EditableField
            @value={{if this.title this.title (t "general.clickToEdit")}}
            @save={{perform this.changeTitle}}
            @close={{this.revertTitleChanges}}
            @saveOnEnter={{true}}
            @closeOnEscape={{true}} as |isSaving|
          >
            <input
              aria-label={{t "general.learnerGroupTitle"}}
              type="text"
              value={{this.title}}
              disabled={{isSaving}}
              {{on "input" (pick "target.value" (set this.title))}}
              {{on "keyup" (fn this.addErrorDisplayFor "title")}}
            >
            <ValidationError @errors={{get-errors-for this.title}} />
          </EditableField>
        {{else}}
          <h2>{{this.title}}</h2>
        {{/if}}
    </span>
    <span class="info" data-test-members>
      {{#if
        (and
          (is-fulfilled @learnerGroup.usersOnlyAtThisLevel)
          (is-fulfilled @learnerGroup.cohort)
          (is-fulfilled @learnerGroup.cohort.users)
        )
      }}
        {{t "general.members"}}:
        {{get (await @learnerGroup.usersOnlyAtThisLevel) "length"}}
        /
        {{@learnerGroup.cohort.users.length}}
      {{/if}}
    </span>
  </div>
  {{#if (is-fulfilled @learnerGroup.allParents)}}
    <div class="breadcrumbs">
      <span>
        <LinkTo
          @route="learnerGroups"
          @query={{hash
            school=(await @learnerGroup.cohort.programYear.program.school.id)
            program=(await @learnerGroup.cohort.programYear.program.id)
            programYear=(await @learnerGroup.cohort.programYear.id)
          }}
        >
          {{t "general.learnerGroups"}}
        </LinkTo>
      </span>
      {{#each (reverse (await @learnerGroup.allParents)) as |parent|}}
        <span>
          <LinkTo
            @route="learnerGroup"
            @model={{parent}}
            @query={{hash sortUsersBy=@sortUsersBy}}
          >
            {{parent.title}}
          </LinkTo>
        </span>
      {{/each}}
      <span>
        {{@learnerGroup.title}}
      </span>
    </div>
  {{/if}}
</header>
