<div
  class="login-form"
  data-test-login-form
  ...attributes
>
  {{#let (unique-id) as |templateId|}}
    {{#if @noAccountExistsError}}
      <div class="error" data-test-error>
        {{t "general.noAccountExists" accountName=@noAccountExistsAccount}}
      </div>
    {{else}}
      <h2 data-test-title>
        {{t "general.login"}}
      </h2>
      {{#each this.error.keys as |key|}}
        <div class="error" data-test-error>
          {{t key}}
        </div>
      {{/each}}
      <form data-test-form>
        <div class="item" data-test-username>
          <label for="username-{{templateId}}">
            {{t "general.username"}}:
          </label>
          <input
            autocapitalize="off"
            autocorrect="off"
            autocomplete="username"
            id="username-{{templateId}}"
            type="text"
            disabled={{if this.authenticate.isRunning "disabled"}}
            value={{this.username}}
            {{on "input" (pick "target.value" (set this.username))}}
            {{on "keyup" this.submitOnEnter}}
          >
          <ValidationError @errors={{get-errors-for this.username}} />
        </div>
        <div class="item" data-test-password>
          <label for="password-{{templateId}}">
            {{t "general.password"}}:
          </label>
          <input
            id="password-{{templateId}}"
            type="password"
            autocomplete="current-password"
            disabled={{if this.authenticate.isRunning "disabled"}}
            value={{this.password}}
            {{on "input" (pick "target.value" (set this.password))}}
            {{on "keyup" this.submitOnEnter}}
          >
          <ValidationError @errors={{get-errors-for this.password}} />
        </div>
        <div class="buttons">
          <button
            type="button"
            class="done {{if this.authenticate.isRunning "active"}}"
            disabled={{if this.authenticate.isRunning "disabled"}}
            {{on "click" (perform this.authenticate)}}
            data-test-login
          >
            {{#if this.authenticate.isRunning}}
              <LoadingSpinner />
            {{else}}
              {{t "general.login"}}
            {{/if}}
          </button>
        </div>
      </form>
    {{/if}}
  {{/let}}
</div>
