<div
  class="new-programyear"
  {{did-insert this.load}}
  ...attributes
>
  <h4 class="title" data-test-newprogramyear-title>
    {{t "general.newProgramYear"}}
  </h4>
  <div class="form">
    <div class="startyear-select" data-test-newprogramyear-startyear>
      <label>
        {{t "general.academicYear"}}:
      </label>
      <select {{on "change" (pick "target.value" (set this.year))}}>
        {{#each (sort-by "value" this.availableAcademicYears) as |obj|}}
          <option value={{obj.value}} selected={{eq obj this.selectedYear}}>
            {{obj.label}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="buttons">
      <button type="button" class="done text" {{on "click" (perform this.saveNewYear)}}>
        {{#if this.saveNewYear.isRunning}}
          <LoadingSpinner />
        {{else}}
          {{t "general.done"}}
        {{/if}}
      </button>
      <button type="button" class="cancel text" {{on "click" @cancel}}>
        {{t "general.cancel"}}
      </button>
    </div>
  </div>
</div>
