<div
  class="new-course"
  {{did-insert (perform this.load)}}
  data-test-new-course
>
  {{#unless this.load.isRunning}}
    <h4>
      {{t "general.newCourse"}}
    </h4>
    <div>
      <div class="item">
        <label>
          {{t "general.title"}}:
        </label>
        <input
          class="course-title"
          disabled={{this.saveCourse.isRunning}}
          placeholder={{t "general.courseTitlePlaceholder"}}
          type="text"
          value={{this.title}}
          {{on "focusout" (fn this.addErrorDisplayFor "title")}}
          {{on "keydown" this.keyboard}}
          {{on "input" (pick "target.value" (set this.title))}}
          {{on "keyup" (fn this.addErrorDisplayFor "title")}}
          data-test-title
        >
        {{#each (await (compute (fn this.getErrorsFor) "title")) as |message|}}
          <span class="validation-error-message">
            {{message}}
          </span>
        {{/each}}
      </div>
      <div class="item">
        <label>
          {{t "general.academicYear"}}:
        </label>
        <select data-test-year {{on "change" (pick "target.value" this.setYear)}}>
          <option disabled="" selected={{is-empty this.selectedYear}} value="">
            {{t "general.selectAcademicYear"}}
          </option>
          {{#each this.years as |year|}}
            <option selected={{is-equal year this.selectedYear}} value={{year}}>
              {{#if this.academicYearCrossesCalendarYearBoundaries}}
                {{year}}
                -
                {{inc year}}
              {{else}}
                {{year}}
              {{/if}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="buttons">
        <button
          type="button"
          class="done text"
          disabled={{not this.selectedYear}}
          {{on "click" (perform this.saveCourse)}}
        >
          {{#if this.saveCourse.isRunning}}
            <LoadingSpinner />
          {{else}}
            {{t "general.done"}}
          {{/if}}
        </button>
        <button type="button" class="cancel text" {{on "click" @cancel}}>
          {{t "general.cancel"}}
        </button>
      </div>
    </div>
  {{/unless}}
</div>
