{{#let (unique-id) as |templateId|}}
  <div
    class="new-course"
    {{did-insert (perform this.load)}}
    data-test-new-course
  >
    {{#unless this.load.isRunning}}
      <h4>
        {{t "general.newCourse"}}
      </h4>
      <div>
        <div class="item">
          <label for="title-{{templateId}}">
            {{t "general.title"}}:
          </label>
          <input
            id="title-{{templateId}}"
            class="course-title"
            disabled={{this.saveCourse.isRunning}}
            placeholder={{t "general.courseTitlePlaceholder"}}
            type="text"
            value={{this.title}}
            {{on "focusout" (fn this.addErrorDisplayFor "title")}}
            {{on "keyup" this.keyboard}}
            {{on "input" (pick "target.value" (set this.title))}}
            {{on "keyup" (fn this.addErrorDisplayFor "title")}}
            data-test-title
          >
          <ValidationError @errors={{get-errors-for this.title}} />
        </div>
        <div class="item">
          <label for="year-{{templateId}}">
            {{t "general.academicYear"}}:
          </label>
          <select id="year-{{templateId}}" data-test-year {{on "change" (pick "target.value" this.setYear)}}>
            <option disabled="" selected={{is-empty this.selectedYear}} value="">
              {{t "general.selectAcademicYear"}}
            </option>
            {{#each this.years as |year|}}
              <option selected={{eq year this.selectedYear}} value={{year}}>
                {{#if this.academicYearCrossesCalendarYearBoundaries}}
                  {{year}}
                  -
                  {{inc year}}
                {{else}}
                  {{year}}
                {{/if}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class="buttons">
          <button
            type="button"
            class="done text"
            disabled={{not this.selectedYear}}
            data-test-save
            {{on "click" (perform this.saveCourse)}}
          >
            {{#if this.saveCourse.isRunning}}
              <LoadingSpinner />
            {{else}}
              {{t "general.done"}}
            {{/if}}
          </button>
          <button type="button" class="cancel text" data-test-cancel {{on "click" @cancel}}>
            {{t "general.cancel"}}
          </button>
        </div>
      </div>
    {{/unless}}
  </div>
{{/let}}
