<div class="item">
  <label>
    {{t "general.title"}}:
  </label>
  <input
    type="text"
    value={{title}}
    oninput={{action (mut title) value="target.value"}}
    disabled={{isSaving}}
    onkeyup={{action "addErrorDisplayFor" "title"}}
    placeholder={{t "general.learnerGroupTitlePlaceholder"}}
  >
  {{#if (and (v-get this "title" "isInvalid") (contains "title" showErrorsFor))}}
    <span class="validation-error-message">
      {{v-get this "title" "message"}}
    </span>
  {{/if}}
</div>
{{#if fillModeSupported}}
  <div class="item">
    <label>
      {{t "general.populateGroup"}}:
    </label>
    <div>
      <label class="clickable">
        <input checked={{fillWithCohort}} type="radio" {{on "click" (toggle "fillWithCohort" this)}}>
        {{t "general.yesPopulateGroup"}}
      </label>
    </div>
    <div>
      <label class="clickable">
        <input checked={{not fillWithCohort}} type="radio" {{on "click" (toggle "fillWithCohort" this)}}>
        {{t "general.noPopulateGroup"}}
      </label>
    </div>
  </div>
{{/if}}
<div class="buttons">
  <button type="button" class="done text" {{action "save"}}>
    {{#if isSaving}}
      <LoadingSpinner />
    {{else}}
      {{t "general.done"}}
    {{/if}}
  </button>
  <button type="button" class="cancel text" {{action cancel}}>
    {{t "general.cancel"}}
  </button>
</div>
