<div class="pagedlist-controls" ...attributes>
  {{#unless firstPage}}
    <span class="clickable link backward" role="button" {{action "goBack"}}>
      <FaIcon @icon="backward" />
    </span>
  {{/unless}}
  {{#if limitless}}
    <select onchange={{action "setLimit" value="target.value"}}>
      {{#each offsetOptions as |o|}}
        <option value={{o}} selected={{is-equal o limit}}>
          {{o}}
        </option>
      {{/each}}
    </select>
    {{t "general.perPage"}}
  {{else}}
    {{t "general.pagedResultsCount" start=start end=end total=total}}
  {{/if}}
  {{#unless lastPage}}
    <span class="clickable link forward" role="button" {{action "goForward"}}>
      <FaIcon @icon="forward" />
    </span>
  {{/unless}}
  {{#unless limitless}}
    <select onchange={{action "setLimit" value="target.value"}}>
      {{#each offsetOptions as |o|}}
        <option value={{o}} selected={{is-equal o limit}}>
          {{o}}
        </option>
      {{/each}}
    </select>
    {{t "general.perPage"}}
  {{/unless}}
</div>
