<div class="pagination-links" data-test-pagination-links ...attributes>
  {{#if (gt @results.length @size)}}
    <button
      type="button"
      class="link-button prev"
      {{on "click" (fn this.selectPage -1)}}
      disabled={{this.disablePrev}}
      data-test-prev
    >
      <FaIcon @icon="angle-left" />
      {{t "general.prev"}}
    </button>
    {{#each this.pages as |pageNumber|}}
      {{#if (eq pageNumber "...")}}
        <FaIcon @icon="ellipsis" />
      {{else}}
        <button
          type="button"
          class="page-button"
          disabled={{eq @page pageNumber}}
          {{on "click" (fn @onSelectPage pageNumber)}}
          data-test-page-button
          data-test-page-{{pageNumber}}
        >
          {{pageNumber}}
        </button>
      {{/if}}
    {{/each}}
    <button
      type="button"
      class="link-button next"
      disabled={{this.disableNext}}
      {{on "click" (fn this.selectPage 1)}}
      data-test-next
    >
      {{t "general.next"}}
      <FaIcon @icon="angle-right" />
    </button>
  {{/if}}
</div>
