<div class="programyear-details" data-test-program-year-details ...attributes>
  {{#if (or (eq programYear.competencies.length 0) pyCompetencyDetails)}}
    <ProgramyearCompetencies
      @programYear={{programYear}}
      @canUpdate={{canUpdate}}
      @isManaging={{managePyCompetencies}}
      @collapse={{action setPyCompetencyDetails false}}
      @expand={{action setPyCompetencyDetails true}}
      @setIsManaging={{action setManagePyCompetencies}}
    />
  {{else}}
    <CollapsedCompetencies
      @subject={{programYear}}
      @expand={{action setPyCompetencyDetails true}}
    />
  {{/if}}
  {{#if (or (eq programYear.programYearObjectives.length 0) pyObjectiveDetails)}}
    <ProgramYear::Objectives
      @programYear={{@programYear}}
      @editable={{@canUpdate}}
      @collapse={{fn @setPyObjectiveDetails false}}
      @expand={{fn @setPyObjectiveDetails true}}
    />
  {{else}}
    <ProgramYear::CollapsedObjectives
      @programYear={{@programYear}}
      @expand={{action @setPyObjectiveDetails true}}
    />
  {{/if}}
  {{#if (or (eq programYear.terms.length 0) pyTaxonomyDetails)}}
    <DetailTaxonomies
      @subject={{programYear}}
      @editable={{canUpdate}}
      @collapse={{action setPyTaxonomyDetails false}}
      @expand={{action setPyTaxonomyDetails true}}
    />
  {{else}}
    <CollapsedTaxonomies
      @subject={{programYear}}
      @expand={{action setPyTaxonomyDetails true}}
    />
  {{/if}}
</div>
