<tr>
  <td colspan="2"></td>
  <td colspan="13">
    <strong>
      {{t "general.courses"}}
    </strong>
  </td>
  <td colspan="13">
    <strong>
      {{t "general.objectives"}}
    </strong>
  </td>
  <td colspan="1"></td>
</tr>
{{#if (is-fulfilled courseObjects)}}
  {{#each (sort-by "title" (await courseObjects)) as |obj|}}
    <tr class="programyear-objective-list-item-expanded" data-test-programyear-objective-list-item-expanded>
      <td colspan="2"></td>
      <td colspan="13" class="text-top" data-test-course>
        {{obj.title}}
      </td>
      <td colspan="13" class="text-top">
        <ul data-test-course-objectives>
          {{#each (sort-by "title" obj.objectives) as |obj|}}
            <li data-test-course-objective>
              {{obj.title}}
            </li>
          {{/each}}
        </ul>
      </td>
      <td colspan="1"></td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2"></td>
      <td colspan="27">
        {{t "general.none"}}
      </td>
    </tr>
  {{/each}}
{{else}}
  <tr>
    <td colspan="2"></td>
    <td colspan="27">
      <LoadingSpinner />
    </td>
  </tr>
{{/if}}
