<div class="backtolink">
  <LinkTo @route="programs">
    {{t "general.backToPrograms"}}
  </LinkTo>
</div>
<ProgramHeader @program={{program}} @canUpdate={{canUpdate}} />
<ProgramOverview @program={{program}} @canUpdate={{canUpdate}} />
{{#if leadershipDetails}}
  <ProgramLeadershipExpanded
    @program={{program}}
    @canUpdate={{canUpdate}}
    @collapse={{action setLeadershipDetails false}}
    @expand={{action setLeadershipDetails true}}
    @isManaging={{manageLeadership}}
    @setIsManaging={{setManageLeadership}}
  />
{{else}}
  <LeadershipCollapsed
    @title={{t "general.programLeadership"}}
    @showAdministrators={{false}}
    @showDirectors={{true}}
    @directorsCount={{has-many-length program "directors"}}
    @expand={{action setLeadershipDetails true}}
  />
{{/if}}
