<section
  class="school-session-types-expanded"
  {{did-insert (perform this.load) @school}}
  {{did-update (perform this.load) @school @school.sessionTypes}}
  ...attributes
>
  <div class="school-session-types-header">
    <div
      class="title {{if this.isCollapsible "collapsible clickable"}}"
      role="button"
      {{on "click" @collapse}}
    >
      {{t "general.sessionTypes"}}
    </div>
    <div class="actions">
      {{#if (and @canCreate (not @managedSessionTypeId))}}
        <ExpandCollapseButton
          @value={{@schoolNewSessionType}}
          @action={{fn @setSchoolNewSessionType (not @schoolNewSessionType)}}
        />
      {{/if}}
    </div>
  </div>
  <div class="school-session-types-expanded-content">
    {{#if @schoolNewSessionType}}
      <SchoolSessionTypeForm
        @title={{null}}
        @calendarColor="#ffffff"
        @assessment={{false}}
        @isActive={{true}}
        @canEditTitle={{true}}
        @canEditAamcMethod={{true}}
        @canEditCalendarColor={{true}}
        @canEditAssessment={{true}}
        @canEditAssessmentOption={{true}}
        @canEditActive={{true}}
        @canUpdate={{true}}
        @save={{perform this.save}}
        @close={{fn @setSchoolNewSessionType false}}
      />
    {{/if}}
    {{#if @managedSessionTypeId}}
      <SchoolSessionTypeManager
        @sessionType={{this.managedSessionType}}
        @close={{fn @setSchoolManagedSessionType null}}
        @canUpdate={{@canUpdate}}
      />
    {{else if (is-array this.sessionTypes)}}
      <SchoolSessionTypesList
        @sessionTypes={{this.sessionTypes}}
        @manageSessionType={{@setSchoolManagedSessionType}}
        @canDelete={{@canDelete}}
      />
    {{/if}}
  </div>
</section>
