<div
  class="school-session-attributes"
  {{did-insert (perform this.load) @school}}
  {{did-update (perform this.load) @school @school.configurations}}
  ...attributes
>
  {{#if this.load.lastSuccessful}}
    {{#if @details}}
      <SchoolSessionAttributesExpanded
        @canUpdate={{@canUpdate}}
        @showSessionAttendanceRequired={{this.showSessionAttendanceRequired}}
        @showSessionSupplemental={{this.showSessionSupplemental}}
        @showSessionSpecialAttireRequired={{this.showSessionSpecialAttireRequired}}
        @showSessionSpecialEquipmentRequired={{this.showSessionSpecialEquipmentRequired}}
        @collapse={{@collapse}}
        @isManaging={{@isManaging}}
        @manage={{@manage}}
        @saveAll={{perform this.save}}
      />
    {{else}}
      <SchoolSessionAttributesCollapsed
        @showSessionAttendanceRequired={{this.showSessionAttendanceRequired}}
        @showSessionSupplemental={{this.showSessionSupplemental}}
        @showSessionSpecialAttireRequired={{this.showSessionSpecialAttireRequired}}
        @showSessionSpecialEquipmentRequired={{this.showSessionSpecialEquipmentRequired}}
        @expand={{@expand}}
      />
    {{/if}}
  {{/if}}
</div>
