<section class="schools">
  <div class="header">
    <div class="title">
      <h2>
        {{t "general.schools"}}
      </h2>
    </div>
    {{#if currentUser.isRoot}}
      <div class="actions">
        <ExpandCollapseButton
          @value={{showNewSchoolForm}}
          @action={{action "toggleNewSchoolForm"}}
        />
      </div>
    {{/if}}
  </div>
  {{#if showNewSchoolForm class="vertical"}}
    <section class="new">
      <div class="new-result-title">
        {{t "general.newSchool"}}
      </div>
      <div class="form">
        <div class="item">
          <label>
            {{t "general.title"}}:
          </label>
          <input
            type="text"
            value={{title}}
            oninput={{action (mut title) value="target.value"}}
            onkeyup={{action "addErrorDisplayFor" "title"}}
            class={{if
              (and
                (v-get this "title" "isInvalid") (contains "title" showErrorsFor)
              )
              "has-error"
            }}
          >
          {{#if
            (and (v-get this "title" "isInvalid") (contains "title" showErrorsFor))
          }}
            <span class="validation-error-message">
              {{v-get this "title" "message"}}
            </span>
          {{/if}}
        </div>
        <div class="item">
          <label>
            {{t "general.administratorEmail"}}:
          </label>
          <input
            type="text"
            value={{iliosAdministratorEmail}}
            oninput={{action (mut iliosAdministratorEmail) value="target.value"
            }}
            onkeyup={{action "addErrorDisplayFor" "iliosAdministratorEmail"}}
            class={{if
              (and
                (v-get this "iliosAdministratorEmail" "isInvalid")
                (contains "iliosAdministratorEmail" showErrorsFor)
              )
              "has-error"
            }}
          >
          {{#if
            (and
              (v-get this "iliosAdministratorEmail" "isInvalid")
              (contains "iliosAdministratorEmail" showErrorsFor)
            )
          }}
            <span class="validation-error-message">
              {{v-get this "iliosAdministratorEmail" "message"}}
            </span>
          {{/if}}
        </div>
        <div class="buttons">
          <button class="done text" {{action "createNewSchool"}}>
            {{#liquid-if isSavingNewSchool "crossFade"}}
              <LoadingSpinner />
            {{else}}
              {{t "general.done"}}
            {{/liquid-if}}
          </button>
          <button class="cancel text" {{action "hideNewSchoolForm"}}>
            {{t "general.cancel"}}
          </button>
        </div>
      </div>
    </section>
  {{/if}}
  {{#if newSchool}}
    <div class="savedschool">
      <LinkTo @route="school" @model={{newSchool}}>
        <FaIcon @icon="external-link-square-alt" />
        {{newSchool.title}}
      </LinkTo>
      {{t "general.savedSuccessfully"}}
    </div>
  {{/if}}
  <div class="list">
    <table>
      <thead>
        <tr>
          <th class="text-left" colspan="4">
            {{t "general.school"}}
          </th>
          <th class="text-left" colspan="1">
            {{t "general.actions"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSchools as |school|}}
          <tr>
            <td class="text-left" colspan="4">
              <LinkTo @route="school" @model={{school}}>
                {{school.title}}
              </LinkTo>
            </td>
            <td class="text-left" colspan="1">
              <LinkTo @route="school" @model={{school}} class="edit">
                <FaIcon @icon="edit" />
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
