<section
  class="school-competencies-pcrs-mapper"
  data-test-school-competencies-pcrs-mapper
  ...attributes
>
  <ul>
    {{#each (sort-by "description" @allPcrses) as |pcrs|}}
      <li>
       {{#if (includes pcrs @selectedPcrses)}}
          <label {{on "click" (fn @remove pcrs)}} class="selected">
            <input
              type="checkbox"
              checked="checked"
            >
            {{pcrs.description}}
          </label>
        {{else}}
          <label {{on "click" (fn @add pcrs)}}>
            <input
              type="checkbox"
            >
            {{pcrs.description}}
          </label>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</section>
