<div
  class="school-leadership-expanded"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @school.directors @school.administrators}}
  data-test-school-leadership-expanded
  ...attributes
>
  <div class="school-leadership-expanded-header">
    <div
      class="title {{if this.isCollapsible "collapsible clickable"}}"
      role="button"
      {{on "click" @collapse}}
      data-test-collapse
    >
      {{t "general.schoolLeadership"}}
    </div>
    <div class="actions">
      {{#if @isManaging}}
        <button type="button" class="bigadd" {{on "click" (perform this.save)}} data-test-save>
          <FaIcon
            @icon={{if this.save.isRunning "spinner" "check"}}
            @spin={{this.save.isRunning}}
          />
        </button>
        <button type="button" class="bigcancel" {{on "click" (fn @setIsManaging false)}} data-test-cancel>
          <FaIcon @icon="arrow-rotate-left" />
        </button>
      {{else if @canUpdate}}
        <button type="button" {{on "click" (fn @setIsManaging true)}} data-test-manage>
          {{t "general.manageLeadership"}}
        </button>
      {{/if}}
    </div>
  </div>
  <div class="school-leadership-expanded-content">
    {{#if this.load.lastSuccessful}}
      {{#if @isManaging}}
        <LeadershipManager
          @directors={{this.directors}}
          @administrators={{this.administrators}}
          @showAdministrators={{true}}
          @showDirectors={{true}}
          @removeDirector={{this.removeDirector}}
          @addDirector={{this.addDirector}}
          @removeAdministrator={{this.removeAdministrator}}
          @addAdministrator={{this.addAdministrator}}
        />
      {{else}}
        <LeadershipList
          @directors={{this.directors}}
          @administrators={{this.administrators}}
          @showAdministrators={{true}}
          @showDirectors={{true}}
        />
      {{/if}}
    {{else}}
      <LoadingSpinner />
    {{/if}}
  </div>
</div>
