<div class="school-competencies-manager" data-test-school-competencies-manager ...attributes>
  {{#each this.domains as |obj|}}
    <div class="domain" data-test-domain>
      <div class="block" data-test-domain-details>
        <CompetencyTitleEditor
          @competency={{obj.domain}}
          @canUpdate={{@canUpdate}}
        />
        {{#if (eq obj.competencies.length 0)}}
          <button
            type="button"
            class="link-button"
            {{on "click" (fn @remove obj.domain)}}
            data-test-remove-domain
          >
            <FaIcon @icon="trash" />
          </button>
        {{else}}
          <FaIcon @icon="trash" class="disabled" />
        {{/if}}
      </div>
      <ul>
        {{#each obj.competencies as |competency|}}
          <li class="block" data-test-competency>
            <CompetencyTitleEditor
              @competency={{competency}}
              @canUpdate={{@canUpdate}}
            />
            {{#if (and @canDelete (eq competency.programYearObjectives.length 0))}}
              <button
                type="button"
                class="link-button"
                {{on "click" (fn @remove competency)}}
                data-test-remove-competency
              >
                <FaIcon @icon="trash" />
              </button>
            {{else}}
              <FaIcon @icon="trash" class="disabled" />
            {{/if}}
          </li>
        {{/each}}
        {{#if (and obj.domain.id @canCreate)}}
          <NewCompetency @add={{fn @add obj.domain}} />
        {{/if}}
      </ul>
    </div>
  {{/each}}
  {{#if @canCreate}}
    <div data-test-new-domain>
      <h5>
        {{t "general.newDomain"}}
      </h5>
      <NewCompetency @add={{fn @add null}} />
    </div>
  {{/if}}
</div>
