<div
  class="school-competencies-list"
  data-test-school-competencies-list
  ...attributes
>
  <table>
    <thead>
      <tr>
        <th>
          {{t "general.competency"}}
        </th>
        <th>
          {{t "general.aamcPcrs"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by "title" @domains) as |domain|}}
        <tr>
          <td class="domain">
            {{domain.title}}
          </td>
          <td>
            {{#if domain.aamcPcrses.length}}
              <ul>
                {{#each (sort-by "description" (await domain.aamcPcrses)) as |pcrs|}}
                  <li>
                    {{pcrs.description}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </td>
        </tr>
        {{#each (sort-by "title" (await domain.children)) as |competency|}}
          <tr>
            <td class="competency">
              {{competency.title}}
            </td>
            <td>
              {{#if competency.aamcPcrses.length}}
                <ul>
                  {{#each (sort-by "description" (await competency.aamcPcrses)) as |pcrs|}}
                    <li>
                      {{pcrs.description}}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>
