<div
  class="school-session-type-manager"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @sessionType}}
  data-test-school-session-type-manager
  ...attributes
>
  {{#if this.readonlySessionType}}
    <div class="session-type-title" data-test-school-session-type-manager-title>
      {{@sessionType.title}}
    </div>
    <SchoolSessionTypeForm
      @title={{this.readonlySessionType.title}}
      @calendarColor={{this.readonlySessionType.calendarColor}}
      @assessment={{this.readonlySessionType.assessment}}
      @isActive={{this.readonlySessionType.isActive}}
      @selectedAssessmentOptionId={{this.readonlySessionType.selectedAssessmentOptionId}}
      @selectedAamcMethodId={{this.readonlySessionType.selectedAamcMethodId}}
      @canEditTitle={{and @canUpdate (eq @sessionType.sessionCount 0)}}
      @canEditAamcMethod={{@canUpdate}}
      @canEditCalendarColor={{@canUpdate}}
      @canEditAssessment={{and @canUpdate (eq @sessionType.sessionCount 0)}}
      @canEditAssessmentOption={{and @canUpdate (eq @sessionType.sessionCount 0)}}
      @canEditActive={{canUpdate}}
      @canUpdate={{@canUpdate}}
      @save={{perform this.save}}
      @close={{@close}}
    />
  {{else}}
    <LoadingSpinner />
  {{/if}}
</div>
