<div class="school-leadership-expanded-header">
  <div
    class="title {{if isCollapsible "collapsible clickable"}}"
    {{action collapse}}
  >
    {{t "general.schoolLeadership"}}
  </div>
  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" onclick={{perform save}}>
        <FaIcon
          @icon={{if save.isRunning "spinner" "check"}}
          @spin={{if isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{action setIsManaging false}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if canUpdate}}
      <button {{action setIsManaging true}}>
        {{t "general.manageLeadership"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="school-leadership-expanded-content">
  {{#if (and (is-fulfilled directors) (is-fulfilled administrators))}}
    {{#if isManaging}}
      <LeadershipManager
        @directors={{await directors}}
        @administrators={{await administrators}}
        @removeDirector={{action "removeDirector"}}
        @addDirector={{action "addDirector"}}
        @removeAdministrator={{action "removeAdministrator"}}
        @addAdministrator={{action "addAdministrator"}}
      />
    {{else}}
      <LeadershipList
        @directors={{await directors}}
        @administrators={{await administrators}}
      />
    {{/if}}
  {{else}}
    <LoadingSpinner @tagName="h3" />
  {{/if}}
</div>