<div
  class="school-vocabularies-list"
  data-test-school-vocabularies-list
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @school.vocabularies}}
  ...attributes
>
  <div class="school-vocabularies-list-list">
    {{#if this.load.isRunning}}
      <LoadingSpinner />
    {{else}}
      {{#if this.sortedVocabularies.length}}
        <table>
          <thead>
            <tr>
              <th class="text-left" colspan="3">
                {{t "general.vocabulary"}}
              </th>
              <th class="text-left" colspan="1">
                {{t "general.terms"}}
              </th>
              <th class="text-left" colspan="1">
                {{t "general.actions"}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each this.sortedVocabularies as |vocabulary index|}}
              <tr
                class={{if
                  (eq this.showRemovalConfirmationFor vocabulary)
                  "confirm-removal"
                  ""
                }}
                data-test-vocabulary={{index}}
              >
                <td class="text-left text-top" colspan="3" data-test-title>
                  <button
                    class="link-button"
                    type="button"
                    {{on "click" (fn @manageVocabulary vocabulary.id)}}
                  >
                    {{vocabulary.title}}
                  </button>
                </td>
                <td class="text-left text-top" colspan="1" data-test-terms-count>
                  {{vocabulary.termCount}}
                </td>
                <td class="text-left text-top" colspan="1">
                  <button
                    class="link-button"
                    type="button"
                    aria-label={{t "general.edit"}}
                    data-test-manage
                    {{on "click" (fn @manageVocabulary vocabulary.id)}}
                  >
                    <FaIcon @icon="pen-to-square" class="enabled" />
                  </button>
                  {{#if (and @canDelete (eq vocabulary.termCount 0) (not-eq this.showRemovalConfirmationFor vocabulary))}}
                    <button
                      class="link-button"
                      type="button"
                      aria-label={{t "general.remove"}}
                      data-test-delete
                      {{on "click" (fn this.confirmRemoval vocabulary)}}
                    >
                      <FaIcon @icon="trash" class="enabled remove" />
                    </button>
                  {{else}}
                    <FaIcon @icon="trash" class="disabled" />
                  {{/if}}
                </td>
              </tr>
              {{#if (eq this.showRemovalConfirmationFor vocabulary)}}
                <tr class="confirm-removal" data-test-confirm-removal={{index}}>
                  <td colspan="5">
                    <div class="confirm-message">
                      {{t "general.confirmVocabularyRemoval"}}
                      <br>
                      <div class="confirm-buttons">
                        <button
                          type="button"
                          class="remove text"
                          data-test-submit-removal
                          {{on "click" (perform this.remove vocabulary)}}
                        >
                          {{t "general.yes"}}
                        </button>
                        <button
                          type="button"
                          class="done text"
                          data-test-cancel-removal
                          {{on "click" this.cancelRemoval}}
                        >
                          {{t "general.cancel"}}
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/if}}
  </div>
</div>
