<div class="school-session-types-list" data-test-school-session-types-list ...attributes>
  <table>
    <thead>
      <tr>
        <SortableTh
          @colspan={{3}}
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "title"}}
          @onClick={{fn this.setSortBy "title"}}
        >
          {{t "general.title"}}
        </SortableTh>
        <SortableTh
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "active"}}
          @onClick={{fn this.setSortBy "active"}}
        >
          {{t "general.active"}}
        </SortableTh>
        <SortableTh
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "sessionCount"}}
          @onClick={{fn this.setSortBy "sessionCount"}}
          class="hide-from-small-screen"
        >
          {{t "general.sessions"}}
        </SortableTh>
        <SortableTh
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "assessment"}}
          @onClick={{fn this.setSortBy "assessment"}}
          class="hide-from-small-screen"
        >
          {{t "general.assessment"}}
        </SortableTh>
        <SortableTh
          @colspan={{2}}
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "assessmentOption"}}
          @onClick={{fn this.setSortBy "assessmentOption"}}
          class="hide-from-small-screen"
        >
          {{t "general.assessmentOption"}}
        </SortableTh>
        <th
          class="hide-from-small-screen"
          colspan="2"
        >
          {{t "general.aamcMethod"}}
        </th>
        <SortableTh
          @sortedAscending={{this.sortedAscending}}
          @sortedBy={{eq this.sortBy "calendarColor"}}
          @onClick={{fn this.setSortBy "calendarColor"}}
          class="hide-from-small-screen"
        >
          {{t "general.color"}}
        </SortableTh>
        <th>
          {{t "general.actions"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedSessionTypes as |sessionType|}}
        <SchoolSessionTypesListItem
          @sessionType={{sessionType}}
          @canDelete={{@canDelete}}
          @manageSessionType={{@manageSessionType}}
        />
      {{/each}}
    </tbody>
  </table>
</div>
