<li class={{if selected "disabled" "enabled"}}>
  {{#unless selected}}
    <span
      class="add"
      {{translateAttr title="general.add"}}
      {{action "add" this}}
    >
      <FaIcon @icon="plus-circle" />
    </span>
  {{else}}
    <FaIcon @icon="circle" />
  {{/unless}}
  {{yield}}
</li>