<li class={{if selected "disabled" "enabled"}}>
  {{#if selected}}
    <FaIcon @icon="circle" />
  {{else}}
    <span
      class="add"
      {{translateAttr title="general.add"}}
      {{action "add" this}}
    >
      <FaIcon @icon="plus-circle" />
    </span>
  {{/if}}
  {{yield}}
</li>
