<section
  class="session-type-visualize-vocabularies"
  data-test-session-type-visualize-vocabularies
  ...attributes
>
  <div class="breadcrumbs" data-test-breadcrumb>
    <span>
      <LinkTo @route="school" @model={{@model.school}} @query={{hash schoolSessionTypeDetails=true}}>
        {{@model.school.title}}
      </LinkTo>
    </span>
    <span>
      {{t "general.visualizations"}}
    </span>
    <span>
      {{t "general.sessionTypes"}}
    </span>
    <span>
      {{@model.title}}
    </span>
    <span>
      {{t "general.vocabularies"}}
    </span>
  </div>
  <h2>{{t "general.vocabulariesBySessionType"}}</h2>
  <h3>
      {{@model.title}}
  </h3>
  <div class="visualizations">
    <VisualizerSessionTypeVocabularies @sessionType={{@model}} />
  </div>
</section>
