<section
  class="session-type-visualize-terms"
  data-test-session-type-visualize-terms
  ...attributes
>
  <div class="breadcrumbs" data-test-breadcrumb>
    <span>
      <LinkTo @route="school" @model={{@model.vocabulary.school}} @query={{hash schoolSessionTypeDetails=true}}>
        {{@model.vocabulary.school.title}}
      </LinkTo>
    </span>
    <span>
      {{t "general.visualizations"}}
    </span>
    <span>
      {{t "general.sessionTypes"}}
    </span>
    <span>
      {{@model.sessionType.title}}
    </span>
    <span>
      <LinkTo @route="session-type-visualize-vocabularies" @model={{@model.sessionType}}>
        {{t "general.vocabularies"}}
      </LinkTo>
    </span>
    <span>
      {{@model.vocabulary.title}}
    </span>
  </div>
  <h2>{{t "general.termsBySessionType"}}</h2>
  <h3>
    {{@model.sessionType.title}} ({{@model.vocabulary.title}})
  </h3>
  <div class="visualizations">
    <VisualizerSessionTypeTerms @sessionType={{@model.sessionType}} @vocabulary={{@model.vocabulary}} />
  </div>
</section>
