<nav
  class="{{if this.isOpen "is-open"}} user-menu"
  aria-labelledby="user-menu-title"
  {{did-insert (set this.element)}}
  {{! template-lint-disable no-invalid-interactive }}
  {{on "keyup" this.keyUp}}
  data-test-user-menu
>
  <button
    type="button"
    aria-labelledby="user-menu-title"
    class="toggle"
    aria-haspopup="true"
    aria-expanded={{if this.isOpen "true" "false"}}
    data-test-toggle
    {{on "click" this.toggleMenu}}
  >
    <FaIcon @icon="user" />
    <span id="user-menu-title">
      {{get this.model "fullName"}}
    </span>
  </button>
  {{#if this.isOpen}}
    <ClickOutside @onClickOutside={{fn (set this.isOpen) false}}>
      <ul class="menu">
        <li tabindex="-1" data-test-item {{did-insert this.focus}}>
          <LinkToWithAction @route="myprofile" @action={{set this.isOpen false}} @queryParams={{hash invalidatetokens=null newtoken=null}}>
            {{t "general.myProfile"}}
          </LinkToWithAction>
        </li>
        <li tabindex="-1" data-test-item>
          <LinkToWithAction @route="logout" @action={{set this.isOpen false}}>
            {{t "general.logout"}}
          </LinkToWithAction>
        </li>
      </ul>
    </ClickOutside>
  {{/if}}
</nav>
