<div
  class="user-profile-learnergroups large-component"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @user.learnerGroups}}
  data-test-user-profile-learnergroups
  ...attributes
>
  <h2 class="title" data-test-title>
    {{t "general.learnerGroups"}}
  </h2>
  {{#if (is-array this.selectedLearnerGroups)}}
    <p>
      {{#if (gt this.selectedLearnerGroups.length 0)}}
        <ul>
          {{#each
            (sort-by "sortTitle" this.selectedLearnerGroups) as |learnerGroup|
          }}
            <li data-test-group>
              {{learnerGroup.schoolTitle}}:
              {{learnerGroup.programTitle}}
              <em>
                {{learnerGroup.cohortTitle}}
                &mdash;
              </em>
              {{learnerGroup.allParentsTitle}}
              <strong>
                {{learnerGroup.title}}
              </strong>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </p>
  {{else}}
    <p>
      <LoadingSpinner />
    </p>
  {{/if}}
</div>
