<div
  class="user-profile-roles small-component last {{if this.hasSavedRecently "has-saved" "has-not-saved"}}"
  data-test-user-profile-roles
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @user.roles}}
  ...attributes
>
  <div class="actions">
    {{#if @isManaging}}
      <button type="button" class="bigadd" data-test-save {{on "click" (perform this.save)}}>
        <FaIcon
          @icon={{if this.save.isRunning "spinner" "check"}}
          @spin={{this.save.isRunning}}
        />
      </button>
      <button type="button" disabled={{this.save.isRunning}} class="bigcancel" {{on "click" this.cancel}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if @isManageable}}
      <button type="button" class="manage" data-test-manage {{on "click" (fn @setIsManaging true)}}>
        <FaIcon @icon="pen-to-square" />
      </button>
    {{/if}}
  </div>
  <div class="form">
    <div class="item" data-test-student>
      <label>
        {{t "general.student"}}:
      </label>
      <span class="value {{if this.isStudent "yes" "no"}}">
        {{#if this.isStudent}}
          {{t "general.yes"}}
        {{else}}
          {{t "general.no"}}
        {{/if}}
      </span>
    </div>
    <div class="item" data-test-former-student>
      <label for="former-student">
        {{t "general.formerStudent"}}:
      </label>
      {{#if @isManaging}}
        <input
          id="former-student"
          type="checkbox"
          checked={{this.isFormerStudent}}
          {{on "click" (set this.isFormerStudentFlipped (not this.isFormerStudentFlipped))}}
        >
      {{else}}
        <span class="value {{if this.isFormerStudent "yes" "no"}}">
          {{#if this.isFormerStudent}}
            {{t "general.yes"}}
          {{else}}
            {{t "general.no"}}
          {{/if}}
        </span>
      {{/if}}
    </div>
    <hr>
    <div class="item" data-test-enabled>
      <label for="is-enabled">
        {{t "general.accountEnabled"}}:
      </label>
      {{#if @isManaging}}
        <input
          id="is-enabled"
          type="checkbox"
          checked={{this.isEnabled}}
          {{on "click" (set this.isEnabledFlipped (not this.isEnabledFlipped))}}
          disabled={{if (eq @user.id this.currentUser.currentUserId) true}}
        >
      {{else}}
        <span class="value {{if this.isEnabled "yes" "no"}}">
          {{#if this.isEnabled}}
            {{t "general.yes"}}
          {{else}}
            {{t "general.no"}}
          {{/if}}
        </span>
      {{/if}}
    </div>
    <div class="item" data-test-exclude-from-sync>
      <label for="exclude-from-sync">
        {{t "general.excludeFromSync"}}:
      </label>
      {{#if @isManaging}}
        <input
          id="exclude-from-sync"
          type="checkbox"
          checked={{this.isUserSyncIgnored}}
          {{on "click" (set this.isUserSyncIgnoredFlipped (not this.isUserSyncIgnoredFlipped))}}
        >
      {{else}}
        <span class="value {{if this.isUserSyncIgnored "yes" "no"}}">
          {{#if this.isUserSyncIgnored}}
            {{t "general.yes"}}
          {{else}}
            {{t "general.no"}}
          {{/if}}
        </span>
      {{/if}}
    </div>
    <hr>
    <div class="item" data-test-performs-non-learner-function>
      <label>
        {{t "general.performsNonLearnerFunctions"}}:
      </label>
      <YesNo @value={{await @user.performsNonLearnerFunction}} />
    </div>
    <div class="item" data-test-learner>
      <label>
        {{t "general.learner"}}:
      </label>
      <YesNo @value={{await @user.isLearner}} />
    </div>
    <hr>
    <div class="item" data-test-root>
      <label>
        {{t "general.root"}}:
      </label>
      <YesNo @value={{await @user.root}} />
    </div>
  </div>
</div>
