<div
  class="user-profile-calendar"
    {{did-insert (perform this.load) @user this.date}}
    {{did-update (perform this.load) @user this.date}}
>
  <h2 class="title">
    {{t "general.calendar"}}
  </h2>
  <ul class="calendar-time-picker">
    <li>
      <button
        class="link-button"
        type="button"
        aria-label={{t "general.back"}}
       {{on "click" this.goBack}}
        data-test-go-back
      >
        <FaIcon @icon="backward" @title={{t "general.back"}} />
      </button>
    </li>
    <li>
      <button
        class="link-button"
        type="button"
        aria-label={{t "general.today"}}
        {{on "click" this.gotoToday}}
        data-test-go-today
      >
        {{t "general.today"}}
      </button>
    </li>
    <li>
      <button
        class="link-button"
        type="button"
        aria-label={{t "general.forward"}}
        {{on "click" this.goForward}}
        data-test-go-forward
      >
        <FaIcon @icon="forward" @title={{t "general.forward"}} />
      </button>
    </li>
  </ul>
  <div class="ilios-calendar">
    <IliosCalendarWeek
      @calendarEvents={{this.calendarEvents}}
      @date={{this.date}}
      @areEventsSelectable={{false}}
      @areDaysSelectable={{false}}
    />
  </div>
  <span class="loading-indicator {{if (is-array this.calendarEvents) "loaded"}}">
    <LoadingSpinner />
    {{t "general.loadingEvents"}}
    ...
  </span>
</div>
