<div
  data-test-user-profile-bio
  class="user-profile-bio small-component {{if this.hasRecentlySaved "has-saved" "has-not-saved"}}"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @user @isManaging}}
  ...attributes
>
  {{#let (unique-id) as |templateId|}}
    {{#if this.load.isRunning}}
      <LoadingSpinner />
    {{else}}
      <div class="actions">
        {{#if @isManaging}}
          <button
            aria-label={{t "general.save"}}
            type="button"
            class="bigadd"
            {{on "click" (perform this.save)}}
            data-test-save
          >

            <FaIcon
              @icon={{if this.save.isRunning "spinner" "check"}}
              @spin={{if this.save.isRunning true false}}
            />
          </button>
          <button
            aria-label={{t "general.cancel"}}
            type="button"
            disabled={{this.save.isRunning}}
            class="bigcancel"
            {{on "click" this.cancel}}
            data-test-cancel
          >
            <FaIcon @icon="arrow-rotate-left" />
          </button>
        {{else if @isManageable}}
          <button
            aria-label={{t "general.manage"}}
            type="button"
            class="manage"
            {{on "click" (fn @setIsManaging true)}}
            data-test-manage
          >

            <FaIcon @icon="pen-to-square" />
          </button>
        {{/if}}
      </div>
      {{#unless @user.authentication.username}}
        <div class="error" data-test-username-missing>
          {{t "general.missingRequiredUsername"}}
        </div>
      {{/unless}}
      <p class="primary-school" data-test-school>
        <strong>
          {{t "general.primarySchool"}}:
        </strong>
        {{get (await @user.school) "title"}}
      </p>
      <div class="form">
        <div
          class="item
            {{if (includes "firstName" this.updatedFieldsFromSync) "synced-from-directory"
            }}"
          data-test-firstname
        >
          <label for="firstname-{{templateId}}">
            {{t "general.firstName"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="firstname-{{templateId}}"
              type="text"
              value={{this.firstName}}
              {{on "input" (pick "target.value" (set this.firstName))}}
              {{on "keyup" (fn this.addErrorDisplayFor "firstName")}}
              {{on "keyup" this.keyboard}}
              data-test-first-name-input
            >
            <ValidationError @errors={{get-errors-for this.firstName}} />
          {{else}}
            <span class="value">
              {{@user.firstName}}
            </span>
          {{/if}}
        </div>
        <div class="item" data-test-middlename>
          <label for="middlename-{{templateId}}">
            {{t "general.middleName"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="middlename-{{templateId}}"
              type="text"
              value={{this.middleName}}
              {{on "input" (pick "target.value" (set this.middleName))}}
              {{on "keyup" (fn this.addErrorDisplayFor "middleName")}}
              {{on "keyup" this.keyboard}}
              data-test-middle-name-input
            >
            <ValidationError @errors={{get-errors-for this.middleName}} />
          {{else}}
            <span class="value">
              {{@user.middleName}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if (includes "lastName" this.updatedFieldsFromSync) "synced-from-directory"
            }}"
          data-test-lastname
        >
          <label for="lastname-{{templateId}}">
            {{t "general.lastName"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="lastname-{{templateId}}"
              type="text"
              value={{this.lastName}}
              {{on "input" (pick "target.value" (set this.lastName))}}
              {{on "keyup" (fn this.addErrorDisplayFor "lastName")}}
              {{on "keyup" this.keyboard}}
              data-test-last-name-input
            >
            <ValidationError @errors={{get-errors-for this.lastName}} />
          {{else}}
            <span class="value">
              {{@user.lastName}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
          {{if (includes "campusId" this.updatedFieldsFromSync) "synced-from-directory"}}
          campus-id"
          data-test-campus-id
        >
          <label for="campus-id-{{templateId}}">
            {{t "general.campusId"}}:
          </label>
          {{#if @isManaging}}
            <div class="campus-id-controls">
              <input
                id="campus-id-{{templateId}}"
                type="text"
                value={{this.campusId}}
                {{on "input" (pick "target.value" (set this.campusId))}}
                {{on "keyup" (fn this.addErrorDisplayFor "campusId")}}
                {{on "keyup" this.keyboard}}
                data-test-campus-id-input
              >
              {{#unless this.canEditUsernameAndPassword}}
                <button
                  type="button"
                  class="directory-sync"
                  title={{t "general.updateUserFromDirectory"}}
                  disabled={{this.directorySync.isRunning}}
                  {{on "click" (perform this.directorySync)}}
                  data-test-directory-sync
                >
                  <FaIcon
                    @icon={{if this.directorySync.isRunning "spinner" "rotate"}}
                    @spin={{this.directorySync.isRunning}}
                  />
                </button>
              {{/unless}}
<ValidationError @errors={{get-errors-for this.campusId}} />
            </div>
            {{#if this.showSyncErrorMessage}}
              <span class="validation-error-message" data-test-sync-error>
                {{t "general.unableToSyncUser"}}
              </span>
            {{/if}}
          {{else}}
            <span class="value">
              {{@user.campusId}}
            </span>
          {{/if}}
        </div>
        <div class="item" data-test-other-id>
          <label for="other-id-{{templateId}}">
            {{t "general.otherId"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="other-id-{{templateId}}"
              type="text"
              value={{this.otherId}}
              {{on "input" (pick "target.value" (set this.otherId))}}
              {{on "keyup" (fn this.addErrorDisplayFor "otherId")}}
              {{on "keyup" this.keyboard}}
              data-test-other-id-input
            >
            <ValidationError @errors={{get-errors-for this.otherId}} />
          {{else}}
            <span class="value">
              {{@user.otherId}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if (includes "email" this.updatedFieldsFromSync) "synced-from-directory"}}"
          data-test-email
        >
          <label for="email-{{templateId}}">
            {{t "general.email"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="email-{{templateId}}"
              type="text"
              value={{this.email}}
              {{on "input" (pick "target.value" (set this.email))}}
              {{on "keyup" (fn this.addErrorDisplayFor "email")}}
              {{on "keyup" this.keyboard}}
              data-test-email-input
            >
            <ValidationError @errors={{get-errors-for this.email}} />
          {{else}}
            <span class="value">
              {{@user.email}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if
              (includes "displayName" this.updatedFieldsFromSync)
              "synced-from-directory"
            }}"
          data-test-displayname
        >
          <label for="displayname-{{templateId}}">
            {{t "general.displayName"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="displayname-{{templateId}}"
              type="text"
              value={{this.displayName}}
              {{on "input" (pick "target.value" (set this.displayName))}}
              {{on "keyup" (fn this.addErrorDisplayFor "displayName")}}
              {{on "keyup" this.keyboard}}
              data-test-display-name-input
            >
            <ValidationError @errors={{get-errors-for this.displayName}} />
          {{else}}
            <span class="value">
              {{@user.displayName}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if
              (includes "pronouns" this.updatedFieldsFromSync)
              "synced-from-directory"
            }}"
          data-test-pronouns
        >
          <label for="pronouns-{{templateId}}">
            {{t "general.pronouns"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="pronouns-{{templateId}}"
              type="text"
              value={{this.pronouns}}
              {{on "input" (pick "target.value" (set this.pronouns))}}
              {{on "keyup" (fn this.addErrorDisplayFor "pronouns")}}
              {{on "keyup" this.keyboard}}
              data-test-pronouns-input
            >
            <ValidationError @errors={{get-errors-for this.pronouns}} />
          {{else}}
            <span class="value">
              {{@user.pronouns}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if
              (includes "preferredEmail" this.updatedFieldsFromSync)
              "synced-from-directory"
            }}"
          data-test-preferred-email
        >
          <label for="preferred-email-{{templateId}}">
            {{t "general.preferredEmail"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="preferred-email-{{templateId}}"
              type="text"
              value={{this.preferredEmail}}
              {{on "input" (pick "target.value" (set this.preferredEmail))}}
              {{on "keyup" (fn this.addErrorDisplayFor "preferredEmail")}}
              {{on "keyup" this.keyboard}}
              data-test-preferred-email-input
            >
            <ValidationError @errors={{get-errors-for this.preferredEmail}} />
          {{else}}
            <span class="value">
              {{@user.preferredEmail}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if (includes "phone" this.updatedFieldsFromSync) "synced-from-directory"}}"
          data-test-phone
        >
          <label for="phone-{{templateId}}">
            {{t "general.phone"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="phone-{{templateId}}"
              type="text"
              value={{this.phone}}
              {{on "input" (pick "target.value" (set this.phone))}}
              {{on "keyup" (fn this.addErrorDisplayFor "phone")}}
              {{on "keyup" this.keyboard}}
              data-test-phone-input
            >
            <ValidationError @errors={{get-errors-for this.phone}} />
          {{else}}
            <span class="value">
              {{@user.phone}}
            </span>
          {{/if}}
        </div>
        <div
          class="item
            {{if (includes "username" this.updatedFieldsFromSync) "synced-from-directory"}}"
          data-test-username
        >
          <label for="username-{{templateId}}">
            {{t "general.username"}}:
          </label>
          {{#if @isManaging}}
            <input
              id="username-{{templateId}}"
              type="text"
              value={{this.username}}
              {{on "input" (pick "target.value" (set this.username))}}
              {{on "keyup" (fn this.addErrorDisplayFor "username")}}
              {{on "keyup" this.keyboard}}
              disabled={{not this.canEditUsernameAndPassword}}
              data-test-username-input
            >
            <ValidationError @errors={{get-errors-for this.username}} />
          {{else}}
            <span class="value">
              {{get (await @user.authentication) "username"}}
            </span>
          {{/if}}
        </div>
        {{#if this.canEditUsernameAndPassword}}
          <div class="item password" data-test-password>
            <label for="password-{{templateId}}">
              {{t "general.password"}}:
            </label>
            {{#if @isManaging}}
              {{#if this.changeUserPassword}}
                <input
                  id="password-{{templateId}}"
                  type="password"
                  value={{this.password}}
                  {{on "input" (pick "target.value" this.setPassword)}}
                  {{on "keyup" (fn this.addErrorDisplayFor "password")}}
                  {{on "keyup" this.keyboard}}
                  data-test-password-input
                >
                {{#if (has-error-for this.password)}}
                  <ValidationError @errors={{get-errors-for this.password}} />
                {{else if (gt this.password.length 0)}}
                  <span
                    class="password-strength
                    {{concat "strength-" this.passwordStrengthScore}}"
                    data-test-password-strength-text
                  >
                    {{#if (eq this.passwordStrengthScore 0)}}
                      {{t "general.tryHarder"}}
                    {{else if (eq this.passwordStrengthScore 1)}}
                      {{t "general.bad"}}
                    {{else if (eq this.passwordStrengthScore 2)}}
                      {{t "general.weak"}}
                    {{else if (eq this.passwordStrengthScore 3)}}
                      {{t "general.good"}}
                    {{else if (eq this.passwordStrengthScore 4)}}
                      {{t "general.strong"}}
                    {{/if}}
                  </span>
                  <meter
                    max="4"
                    value={{this.passwordStrengthScore}}
                    data-test-password-strength-meter
                  ></meter>
                {{/if}}
                <button
                  class="link-button cancel-password-field"
                  type="button"
                  {{on "click" this.cancelChangeUserPassword}}
                  data-test-password-cancel
                >
                  {{t "general.cancel"}}
                </button>
              {{else}}
                <button
                  class="link-button activate-password-field"
                  type="button"
                  {{on "click" (set this.changeUserPassword true)}}
                  data-test-change-password
                >
                  {{t "general.modifyUserPassword"}}
                </button>
              {{/if}}
            {{else}}
              <span class="value">
                {{#if @user.authentication.username}}
                  *********
                {{/if}}
              </span>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/let}}
</div>
