<div
  class="user-profile-cohorts small-component {{if this.hasSavedRecently "has-saved" "has-not-saved"}}"
  {{did-insert (perform this.load) @user}}
  {{did-update (perform this.load) @user.cohorts @user.primaryCohort}}
  ...attributes
>
  {{#if this.load.performCount}}
    <div class="user-profile-cohorts-header">
      <h3 class="title">
        {{t "general.cohorts"}}
      </h3>
      <div class="actions">
        {{#if @isManaging}}
          <button type="button" class="bigadd" {{on "click" (perform this.save)}}>
            <FaIcon
              @icon={{if this.save.isRunning "spinner" "check"}}
              @spin={{this.save.isRunning}}
            />
          </button>
          <button
            type="button"
            disabled={{this.save.isRunning}}
            class="bigcancel"
            {{on "click" (fn @setIsManaging false)}}
          >
            <FaIcon @icon="undo" />
          </button>
        {{else if @isManageable}}
          <button type="button" class="manage" {{on "click" (fn @setIsManaging true)}}>
            <FaIcon @icon="edit" />
          </button>
        {{/if}}
      </div>
    </div>
    <p data-test-primary-cohort>
      <h4>
        {{t "general.primaryCohort"}}:
      </h4>
      {{#if this.primaryCohort}}
        {{#if @isManaging}}
          <button
            type="button"
            class="link-button"
            {{on "click" (set this.primaryCohort null)}}
          >
            <FaIcon
              @icon="turn-down"
              class="clickable remove"
              @title={{t "general.removePrimaryCohort"}}
            />
          </button>
        {{/if}}
        <span data-test-title>
          {{get (await this.primaryCohort.school) "title"}}
          <strong>
            {{get (await this.primaryCohort.program) "title"}}
          </strong>
          {{this.primaryCohort.title}}
        </span>
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </p>
    <p data-test-secondary-cohorts>
      <h4>
        {{t "general.secondaryCohorts"}}:
      </h4>
      {{#if (gt this.secondaryCohorts.length 0)}}
        <ul>
          {{#each
            (sort-by
              "programYear.program.school.title"
              "programYear.program.title"
              "title"
              this.secondaryCohorts
            ) as |cohort|
          }}
            <li>
              {{#if @isManaging}}
                <button
                  class="link-button"
                  type="button"
                  {{on "click" (set this.primaryCohort cohort)}}
                >
                  <FaIcon
                    @icon="turn-up"
                    class="clickable add"
                    @title={{t "general.promoteToPrimaryCohort"}}
                  />
                </button>
                <button
                  class="link-button"
                  type="button"
                  {{on "click" (fn this.removeSelectedCohort cohort)}}
                >
                  <FaIcon
                    @icon="times"
                    class="clickable remove"
                    @title={{t "general.removeCohort"}}
                  />
                </button>
              {{/if}}
              <span data-test-title>
                {{cohort.programYear.program.school.title}}
                <strong>
                  {{cohort.programYear.program.title}}
                </strong>
                {{cohort.title}}
              </span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </p>
    {{#if @isManaging}}
      <p class="select-available-cohort">
        <h4>
          {{t "general.availableCohorts"}}
        </h4>
        <div class="schoolsfilter">
          <FaIcon @icon="building-columns" @fixedWidth={{true}} />
          {{#if (gt this.schools.length 1)}}
            <select
              aria-label={{t "general.schools"}}
              {{on "change" (pick "target.value" (set this.selectedSchoolId))}}
              data-test-school
            >
              {{#each (sort-by "title" this.schools) as |school|}}
                <option
                  value={{school.id}}
                  selected={{is-equal school this.selectedSchool}}
                >
                  {{school.title}}
                </option>
              {{/each}}
            </select>
          {{else}}
            {{this.selectedSchool.title}}
          {{/if}}
        </div>
        {{#if (gt this.assignableCohortsForSelectedSchool.length 0)}}
          <ul data-test-assignable-cohorts>
            {{#each
              (sort-by
                "school.title"
                "program.title"
                "cohort.title"
                this.assignableCohortsForSelectedSchool
              ) as |obj|
            }}
              <li>
                <button
                  type="button"
                  class="link-button"
                  {{on "click" (fn this.addSelectedCohort obj.cohort)}}
                >
                  <FaIcon
                    @icon="plus"
                    class="clickable add"
                    @title={{t "general.addCohort"}}
                  />
                </button>
                <span data-test-title>
                  <strong>
                    {{get obj.program "title"}}
                  </strong>
                  {{obj.cohort.title}}
                </span>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>
            {{t "general.none"}}
          </p>
        {{/if}}
      </p>
    {{/if}}
  {{else}}
    <p>
      <LoadingSpinner />
    </p>
  {{/if}}
</div>
