<span class="{{unless this.isIcon "not-icon"}} visualizer-session-type-terms" ...attributes>
  {{#if (or isIcon (gt (get (await data) "length") 0))}}
    <SimpleChart
      @name="donut"
      @isIcon={{isIcon}}
      @data={{await data}}
      @hover={{perform donutHover}}
      @leave={{perform donutHover}} as |chart|
    >
      {{#if tooltipContent}}
        <chart.tooltip @title={{tooltipTitle}}>
          <h5>
            {{t "general.courses"}}
          </h5>
          <p>
            {{this.tooltipContent.courses}}
          </p>
          <h5>
            {{t "general.sessions"}}
          </h5>
          <p>
            {{this.tooltipContent.sessions}}
          </p>
        </chart.tooltip>
      {{/if}}
    </SimpleChart>
  {{else}}
    <div class="with-hours">
      <h4>
        <FaIcon @icon="meh" class="meh-o" />
      </h4>
    </div>
  {{/if}}
</span>
