<div class="{{unless this.isIcon "not-icon"}} visualizer-program-year-competencies" ...attributes>
  {{#if (or true isIcon (gt (get (await data) "length") 0))}}
    <SimpleChart
      @name="tree"
      @isIcon={{isIcon}}
      @data={{await data}}
      @hover={{perform nodeHover}}
      @leave={{perform nodeHover}} as |chart|
    >
      {{#if tooltipTitle}}
        <chart.tooltip @title={{tooltipTitle}}>
          <div>
            <h5>
              {{t "general.courses"}}
              ({{this.tooltipCourses.length}})
            </h5>
            {{truncate (join ", " tooltipCourses) 200 true}}
          </div>
          <div>
            <h5>
              {{t "general.sessions"}}
              ({{this.tooltipSessions.length}})
            </h5>
            {{truncate (join ", " tooltipSessions) 200 true}}
          </div>
        </chart.tooltip>
      {{/if}}
    </SimpleChart>
  {{/if}}
</div>
