<span
  class="{{unless this.isIcon "not-icon"}} visualizer-session-type-vocabularies"
  {{did-insert (perform this.load) @sessionType}}
  {{did-update (perform this.load) @sessionType}}
  ...attributes
>
  {{#if this.load.lastSuccessful}}
    {{#if (or @isIcon (gt this.vocabulariesWithLinkedTerms.length 0))}}
      <SimpleChart
        @name="pie"
        @isIcon={{@isIcon}}
        @data={{this.vocabulariesWithLinkedTerms}}
        @onClick={{this.donutClick}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{else}}
      <div class="with-hours">
        <h4>
          <FaIcon @icon="face-meh" class="meh-o" />
        </h4>
      </div>
    {{/if}}
  {{/if}}
</span>
