<span
  class="visualizer-session-type-vocabularies not-icon"
  data-test-visualizer-session-type-vocabularies
  ...attributes
>
  {{#if this.isLoaded}}
    {{#if (or @isIcon (gt this.vocabulariesWithLinkedTerms.length 0))}}
      <SimpleChart
        @name="donut"
        @isIcon={{@isIcon}}
        @data={{this.vocabulariesWithLinkedTerms}}
        @onClick={{this.donutClick}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{else}}
      <div class="with-hours">
        <h4>
          <FaIcon @icon="face-meh" class="meh-o" />
        </h4>
      </div>
    {{/if}}
  {{/if}}
</span>
