<section class="programs-root" data-test-programs>
  <div class="filters">
    <div class="schools" data-test-school-filter>
      <FaIcon @icon="building-columns" @fixedWidth={{true}} />
      {{#if (gt @schools.length 1)}}
        <select
          {{on "change" (pick "target.value" (set this.selectedSchoolId))}}
          aria-label={{t "general.schools"}}
          data-test-school-selector
        >
          {{#each (sort-by "title" @schools) as |school|}}
            <option
              selected={{eq school.id this.bestSelectedSchool.id}}
              value={{school.id}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{this.bestSelectedSchool.title}}
      {{/if}}
    </div>
  </div>

  <div class="main-list">
    <div class="header">
      <h2 class="title">
        {{t "general.programs"}}
      </h2>
      <div class="actions">
        {{#if this.canCreate}}
          <ExpandCollapseButton
            @value={{this.showNewProgramForm}}
            @action={{set this.showNewProgramForm (not this.showNewProgramForm)}}
          />
        {{/if}}
      </div>
    </div>

    <div class="new">
      {{#if this.showNewProgramForm}}
        <Program::New
          @save={{perform this.saveNewProgram}}
          @cancel={{set this.showNewProgramForm false}}
        />
      {{/if}}
      {{#if this.newProgram}}
        <div class="saved-result">
          <LinkTo @route="program" @model={{this.newProgram}}>
            <FaIcon @icon="square-up-right" />
            {{this.newProgram.title}}
          </LinkTo>
          {{t "general.savedSuccessfully"}}
        </div>
      {{/if}}
    </div>

    <Programs::List @programs={{sort-by "title" this.programs}} />
  </div>
</section>
