<li {{bind-attr class="selected:visible:hidden"}}>
  <span {{translateAttr title="programs.programYear.removeTopic"}} class='remove' {{action "remove" this}}>{{fa-icon "times-circle"}}</span>
  {{title}}
</li>
