<table
  class="instructor-groups-list"
  data-test-instructor-groups-list
  ...attributes
>
  <thead>
    <tr>
      <SortableTh
        @colspan={{2}}
        @sortedAscending={{this.sortedAscending}}
        @onClick={{fn this.setSortBy "title"}}
        @sortedBy={{or
          (eq @sortBy "title")
          (eq @sortBy "title:desc")
        }}
      >
        {{t "general.instructorGroupTitle"}}
      </SortableTh>
      <SortableTh
        @align="center"
        @colspan={{1}}
        @hideFromSmallScreen={{true}}
        @sortedAscending={{this.sortedAscending}}
        @sortType="numeric"
        @onClick={{fn this.setSortBy "usersCount"}}
        @sortedBy={{or
          (eq @sortBy "usersCount")
          (eq @sortBy "usersCount:desc")
        }}
      >
        {{t "general.members"}}
      </SortableTh>
      <th class="text-center hide-from-small-screen">
        {{t "general.associatedCourses"}}
      </th>
      <th class="text-right">
        {{t "general.actions"}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each (
      sort-by (if (or (eq @sortBy "title") (eq @sortBy "title:desc")) this.sortByTitle @sortBy
    ) @instructorGroups) as |instructorGroup|
    }}
      <InstructorGroups::ListItem @instructorGroup={{instructorGroup}} />
    {{else}}
      <tr data-test-empty-list>
        <td class="text-center" colspan={{if (media "isLaptopAndUp") "5" "3"}}>
          {{if @query (t "general.noResultsFound") (t "general.none")}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
