<li>
  {{#if @isSelected}}
    <button type="button" {{on "click" (fn @changeId null)}} aria-label={{t "general.remove"}}>
      <FaIcon @icon="square-minus" class="remove" />
      {{yield}}
    </button>
  {{else}}
    <button type="button" {{on "click" (fn @changeId @id)}} aria-label={{t "general.add"}}>
      <FaIcon @icon="square-plus" class="add" />
      {{yield}}
    </button>
  {{/if}}
</li>
