<section class='fullwidth'>
    <h4>Events for day {{day}} in {{year}}</h4>
    <ol>
        {{#each event in calendarEvents}}
                <li>Event: {{event.title}} {{event.start}} - {{event.end}}</li>
        {{/each}}
    </ol>
</section>
