<section class='fullwidth'>
    <h4>Events for {{year}}</h4>
    <ol>
        {{#each event in calendarEvents}}
                <li>Event: #{{event.id}} {{event.title}} {{event.start}} - {{event.end}}</li>
        {{/each}}
    </ol>
</section>
