<div data-test-course-manage-objective-descriptors>
  <span data-test-objective-title>
    {{@objectiveTitle}}
  </span>
  <MeshManager
    @add={{@add}}
    @remove={{@remove}}
    @terms={{@selected}}
    @editable={{@editable}}
  />
</div>
