{{#if @isSelected}}
  <label {{on "click" @remove}} class="selected">
    <input
      type={{if @allowMultipleParents "checkbox" "radio"}}
      checked="checked"
    >
    {{@title}}
  </label>
{{else}}
  <label {{on "click" @add}}>
    <input
      type={{if @allowMultipleParents "checkbox" "radio"}}
    >
    {{@title}}
  </label>
{{/if}}
