<div
  class="course-objective-list"
  data-test-course-objective-list
  {{did-insert (perform this.load) @course @course.objectives @course.cohorts}}
  {{did-update (perform this.load) @course @course.objectives @course.cohorts}}
>
  {{#if (and (is-array this.objectives) this.isSorting)}}
    <ObjectiveSortManager
      @subject={{@course}}
      @close={{set this.isSorting false}}
    />
  {{/if}}

  {{#if (and this.objectiveCount (not this.isSorting))}}
    {{#if (gt this.objectiveCount 1)}}
      <button
        class="sort-button"
        type="button"
        {{on "click" (set this.isSorting true)}}
        data-test-sort
      >
        {{t "general.sortObjectives"}}
      </button>
    {{/if}}
    <div class="grid-row headers" data-test-headers>
      <span class="grid-item" data-test-header>{{t "general.description"}}</span>
      <span class="grid-item" data-test-header>{{t "general.parentObjectives"}}</span>
      <span class="grid-item" data-test-header>{{t "general.meshTerms"}}</span>
      <span class="actions grid-item" data-test-header>{{t "general.actions"}}</span>
    </div>
    {{#if (and (is-array this.objectives) (is-array this.cohortObjectives))}}
      {{#each this.objectives as |objective|}}
        <Course::ObjectiveListItem
          @objective={{objective}}
          @editable={{@editable}}
          @cohortObjectives={{this.cohortObjectives}}
        />
      {{/each}}
    {{else}}
      <Course::ObjectiveListLoading @count={{this.objectiveCount}} />
    {{/if}}
  {{/if}}
</div>
