<section
  class="course-objectives {{if this.showCollapsible "collapsible"}}"
  {{did-insert this.load @course}}
  {{did-update this.load @course @course.objectives}}
  data-test-course-objectives
>
  <div class="header">
    <h3 class="title {{if this.showCollapsible "clickable collapsible"}}" data-test-title>
      <button type="button" {{on "click" this.collapse}}>
        {{t "general.objectives"}} ({{this.objectiveCount}})
      </button>
    </h3>
    {{#if @editable}}
      <span data-test-actions>
        <LinkTo @route="course-visualize-objectives" @model={{@course}}>
          <VisualizerCourseObjectives
            @course={{@course}}
            @width={{20}}
            @height={{20}}
            @isIcon={{true}}
          />
        </LinkTo>
        <ExpandCollapseButton
          @value={{this.newObjectiveEditorOn}}
          @action={{this.toggleNewObjectiveEditor}}
          @expandButtonLabel={{t "general.addNew"}}
        />
      </span>
    {{/if}}
  </div>
  <div class="content">
    {{#if this.newObjectiveEditorOn}}
      <NewObjective
        @save={{perform this.saveNewObjective}}
        @cancel={{this.toggleNewObjectiveEditor}}
      />
    {{/if}}
    <Course::ObjectiveList
      @course={{@course}}
      @editable={{@editable}}
    />
  </div>
</section>
