<li {{bind-attr class="selected:disabled:enabled"}}>
  {{#unless selected}}
    <span {{translateAttr title="programs.programYear.addCompetency"}} class='add' {{action "add" this}}>{{fa-icon "plus-circle"}}</span>
  {{else}}
    {{fa-icon "circle"}}
  {{/unless}}
  {{title}}
  {{#if hasChildren}}
    <ul>
      {{#each children}}
        {{render 'programyear/competency/all' this}}
      {{/each}}
    <ul>
  {{/if}}
</li>
