<div class="backtolink backtosessionlink" data-test-back-to-sessions {{scroll-into-view}}>
  {{! template-lint-disable no-implicit-this }}
  <LinkTo @route="course" @model={{await @model.course}}>
    {{t "general.backToSessionList"}}
  </LinkTo>
</div>
<SessionDetails
  @session={{@model}}
  @editable={{this.canUpdate}}
  @programs={{await @model.course}}
  @sessionTypes={{await @model.course.school.sessionTypes}}
  @sessionObjectiveDetails={{this.sessionObjectiveDetails}}
  @sessionTaxonomyDetails={{this.sessionTaxonomyDetails}}
  @setSessionObjectiveDetails={{set this.sessionObjectiveDetails}}
  @setSessionTaxonomyDetails={{set this.sessionTaxonomyDetails}}
  @showNewOfferingForm={{this.addOffering}}
  @toggleShowNewOfferingForm={{fn (set this.addOffering) (not this.addOffering)}}
  @sessionLeadershipDetails={{this.sessionLeadershipDetails}}
  @setSessionLeadershipDetails={{set this.sessionLeadershipDetails}}
  @sessionManageLeadership={{this.sessionManageLeadership}}
  @setSessionManageLeadership={{set this.sessionManageLeadership}}
/>
