{{#if @isSelected}}
  <label {{on "click" @remove}} class="selected">
    <input
      type="checkbox"
      checked="checked"
    >
    {{@title}}
  </label>
{{else}}
  <label {{on "click" @add}}>
    <input
      type="checkbox"
    >
    {{@title}}
  </label>
{{/if}}
