<div
  id="objective-{{@objective.id}}"
  class="grid-row objective-row {{if this.showRemoveConfirmation "confirm-removal"}} {{if this.highlightSave.isRunning "highlight-ok"}} {{if this.isManaging "is-managing"}}"
  data-test-session-objective-list-item
>
  <div class="description grid-item" data-test-description>
    {{#if (and @editable (not this.isManaging) (not this.showRemoveConfirmation))}}
      <EditableField
        @value={{this.title}}
        @renderHtml={{true}}
        @isSaveDisabled={{await (compute (fn this.hasErrorFor) "title")}}
        @save={{perform this.saveTitleChanges}}
        @close={{this.revertTitleChanges}}
      >
        <HtmlEditor @content={{this.title}} @update={{this.changeTitle}} />
        {{#each (await (compute (fn this.getErrorsFor) "title")) as |message|}}
          <span class="validation-error-message">
            {{message}}
          </span>
        {{/each}}
      </EditableField>
    {{else}}
      {{! template-lint-disable no-triple-curlies }}
      {{{@objective.title}}}
    {{/if}}
  </div>
  <Session::ObjectiveListItemParents
    @objective={{@objective}}
    @editable={{and @editable (not this.isManaging) (not this.showRemoveConfirmation)}}
    @manage={{perform this.manageParents}}
    @isManaging={{this.isManagingParents}}
    @save={{perform this.saveParents}}
    @isSaving={{this.saveParents.isRunning}}
    @cancel={{this.cancel}}
  />

  <Session::ObjectiveListItemDescriptors
    @objective={{@objective}}
    @editable={{and @editable (not this.isManaging) (not this.showRemoveConfirmation)}}
    @manage={{perform this.manageDescriptors}}
    @isManaging={{this.isManagingDescriptors}}
    @save={{perform this.saveDescriptors}}
    @isSaving={{this.saveDescriptors.isRunning}}
    @cancel={{this.cancel}}
  />

  <div class="actions grid-item" data-test-actions>
    {{#if (and @editable (not this.isManaging) (not this.showRemoveConfirmation) (not this.showRemoveConfirmation))}}
      <span class="clickable remove icon" role="button" {{on "click" (set this.showRemoveConfirmation true)}} aria-label={{t "general.remove"}}>
        <FaIcon @icon="trash" class="enabled" />
      </span>
    {{else}}
      <FaIcon @icon="trash" class="disabled" />
    {{/if}}
  </div>

  {{#if this.showRemoveConfirmation}}
    <div class="confirm-message" data-test-confirm-removal>
      {{t "general.confirmObjectiveRemoval"}}
      <button
        class="remove"
        type="button"
        data-test-confirm
        {{on "click" (perform this.deleteObjective)}}
      >
        {{#if this.deleteObjective.isRunning}}
          <FaIcon @icon="spinner" @spin={{true}} />
        {{else}}
          {{t "general.yes"}}
        {{/if}}
      </button>
      <button
        class="done"
        type="button"
        data-test-cancel
        {{on "click" (set this.showRemoveConfirmation false)}}
      >
        {{t "general.cancel"}}
      </button>
    </div>
  {{/if}}

  {{#if this.isManagingParents}}
    <Session::ManageObjectiveParents
      @objective={{@objective}}
      @courseObjectives={{@courseObjectives}}
      @courseTitle={{@courseTitle}}
      @selected={{this.parentsBuffer}}
      @add={{this.addParentToBuffer}}
      @remove={{this.removeParentFromBuffer}}
    />
  {{/if}}
  {{#if this.isManagingDescriptors}}
    <Session::ManageObjectiveDescriptors
      @selected={{this.descriptorsBuffer}}
      @add={{this.addDescriptorToBuffer}}
      @remove={{this.removeDescriptorFromBuffer}}
      @editable={{@editable}}
      @save={{perform this.saveDescriptors}}
      @cancel={{this.cancel}}
    />
  {{/if}}
</div>
