<div
  class="session-objective-list"
  data-test-session-objective-list
  {{did-insert (perform this.load) @session @session.objectives @session.course.objectives}}
  {{did-update (perform this.load) @session @session.objectives @session.course.objectives}}
>
  {{#if (and (is-array this.objectives) this.isSorting)}}
    <ObjectiveSortManager
      @subject={{@session}}
      @close={{set this.isSorting false}}
    />
  {{/if}}

  {{#if (and this.objectiveCount (not this.isSorting))}}
    {{#if (gt this.objectiveCount 1)}}
      <button
        class="sort-button"
        type="button"
        {{on "click" (set this.isSorting true)}}
        data-test-sort
      >
        {{t "general.sortObjectives"}}
      </button>
    {{/if}}
    <div class="grid-row headers" data-test-headers>
      <span class="grid-item" data-test-header>{{t "general.description"}}</span>
      <span class="grid-item" data-test-header>{{t "general.parentObjectives"}}</span>
      <span class="grid-item" data-test-header>{{t "general.meshTerms"}}</span>
      <span class="actions grid-item" data-test-header>{{t "general.actions"}}</span>
    </div>
    {{#if (and (is-array this.objectives) (is-array this.courseObjectives))}}
      {{#each this.objectives as |objective|}}
        <Session::ObjectiveListItem
          @objective={{objective}}
          @editable={{@editable}}
          @courseObjectives={{this.courseObjectives}}
          @courseTitle={{this.course.title}}
        />
      {{/each}}
    {{else}}
      <Session::ObjectiveListLoading @count={{this.objectiveCount}} />
    {{/if}}
  {{/if}}
</div>
