<section
  class="collapsed-competencies"
  data-test-collapsed-competencies
>
  <div class="title" role="button" {{on "click" @expand}} data-test-title>
    {{t "general.competencies"}} ({{this.competencies.length}})
  </div>
  {{#unless this.competencies}}
    <LoadingSpinner />
  {{else}}
    <div class="content">
      <table>
        <thead>
          <tr>
            <th class="text-left">
              {{t "general.school"}}
            </th>
            <th class="text-center">
              {{t "general.competencies"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each this.summary as |item|}}
            <tr>
              <td>
                {{item.school.title}}
              </td>
              <td class="text-center">
                {{item.competencies.length}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/unless}}
</section>
