<section class="common-dashboard" data-test-common-dashboard>
  <DashboardViewPicker @show={{@show}} @change={{@setShow}} />
  {{#if (eq @show "calendar")}}
    <DashboardCalendar
      @allSchools={{@allSchools}}
      @selectedDate={{@selectedDate}}
      @selectedView={{@selectedView}}
      @mySchedule={{@mySchedule}}
      @showFilters={{@showFilters}}
      @changeDate={{@changeDate}}
      @changeView={{@changeView}}
      @selectEvent={{@selectEvent}}
      @toggleMySchedule={{@toggleMySchedule}}
      @toggleShowFilters={{@toggleShowFilters}}
      @selectedSchool={{@selectedSchool}}
      @changeSchool={{@changeSchool}}
      @courseFilters={{@courseFilters}}
      @toggleCourseFilters={{@toggleCourseFilters}}
      @selectedCohortIds={{@selectedCohortIds}}
      @addCohortId={{@addCohortId}}
      @removeCohortId={{@removeCohortId}}
      @selectedCourseLevels={{@selectedCourseLevels}}
      @addCourseLevel={{@addCourseLevel}}
      @removeCourseLevel={{@removeCourseLevel}}
      @selectedCourseIds={{@selectedCourseIds}}
      @addCourseId={{@addCourseId}}
      @removeCourseId={{@removeCourseId}}
      @selectedSessionTypeIds={{@selectedSessionTypeIds}}
      @addSessionTypeId={{@addSessionTypeId}}
      @removeSessionTypeId={{@removeSessionTypeId}}
      @selectedTermIds={{@selectedTermIds}}
      @addTermId={{@addTermId}}
      @removeTermId={{@removeTermId}}
      @clearFilters={{@clearFilters}}
    />
  {{else if (eq @show "materials")}}
    <DashboardMaterials />
  {{else if (eq @show "agenda")}}
    <DashboardAgenda />
  {{else if (eq @show "week")}}
    <DashboardWeek />
  {{/if}}
</section>
