<section
  class="course-overview"
  data-test-course-overview
  {{did-insert (perform this.load) (await @course.clerkshipType)}}
  {{did-update (perform this.load) (await @course.clerkshipType)}}
>
  <div class="course-overview-header">
    <div class="title">
      {{t "general.overview"}}
    </div>
    <div class="course-overview-actions">
      <LinkTo @route="course-materials" @model={{@course}} class="materials">
        <FaIcon
          @icon="archive"
          @title={{t "general.learningMaterialsSummary"}}
          @fixedWidth={{true}}
        />
      </LinkTo>
      <LinkTo
        @route="print_course"
        @model={{@course}}
        @query={{hash unpublished=true}}
        class="print"
      >
        <FaIcon
          @icon="print"
          @title={{t "general.printSummary"}}
          @fixedWidth={{true}}
        />
      </LinkTo>
      {{#if (and (is-fulfilled this.showRollover) (await this.showRollover))}}
        <span
          class="clickable rollover"
          role="button"
          {{on "click" (action "transitionToRollover")}}
        >
          <FaIcon
            @icon="random"
            @fixedWidth={{true}}
            @title={{t "general.courseRollover"}}
          />
        </span>
      {{/if}}
      <LinkTo
        @route="course-visualizations"
        @model={{@course}}
        @title={{t "general.courseVisualizations"}}
      >
        <FaIcon @icon="chart-bar" />
      </LinkTo>
    </div>
  </div>
  <div class="course-overview-content">
    <div class="block courseexternalid">
      <label>{{t "general.externalId"}}:</label>
      <span>
        {{#if @editable}}
          <EditableField
            @value={{if this.externalId this.externalId (t "general.clickToEdit")}}
            @save={{perform this.changeExternalId}}
            @close={{fn this.revertExternalIdChanges}}
            @saveOnEnter={{true}}
            @closeOnEscape={{true}} as |isSaving|
          >
            <input
              type="text"
              value={{this.externalId}}
              disabled={{isSaving}}
              {{on "keyup" (action (set this.externalId) value="target.value")}}
            >
          </EditableField>
        {{else}}
          {{this.externalId}}&nbsp;
        {{/if}}
      </span>
    </div>
    <div class="block clerkshiptype">
      <label>{{t "general.clerkshipType"}}:</label>
      <span>
        {{#if @editable}}
          <EditableField
            @value={{this.clerkshipTypeTitle}}
            @save={{fn this.changeClerkshipType}}
            @close={{perform this.revertClerkshipTypeChanges}}
          >
            <select {{on "change" (fn this.setCourseClerkshipType value="target.value")}}>
              <option
                value="null"
                selected={{is-empty this.selectedClerkshipType}}
              >
                {{t "general.notAClerkship"}}
              </option>
              {{#each
                (sort-by "title" this.clerkshipTypeOptions) as |clerkshipType|
              }}
                <option
                  value={{clerkshipType.id}}
                  selected={{is-equal clerkshipType this.selectedClerkshipType
                  }}
                >
                  {{clerkshipType.title}}
                </option>
              {{/each}}
            </select>
          </EditableField>
        {{else if @course.clerkshipType}}
          {{@course.clerkshipType.title}}
        {{else}}
          {{t "general.notAClerkship"}}
        {{/if}}
      </span>
    </div>
    <div class="block coursestartdate">
      <label>{{t "general.start"}}:</label>
      <span>
        {{#if @editable}}
          <EditableField
            @value={{moment-format @course.startDate "L"}}
            @save={{perform this.changeStartDate}}
            @close={{fn this.revertStartDateChanges}}
          >
            <PikadayInput
              @value={{this.startDate}}
              @format="L"
              @onSelection={{fn (set this.startDate)}}
            />
          </EditableField>
        {{else}}
          {{moment-format @course.startDate "L"}}&nbsp;
        {{/if}}
      </span>
    </div>
    <div class="block courseenddate">
      <label>{{t "general.end"}}:</label>
      <span>
        {{#if @editable}}
          <EditableField
            @value={{moment-format @course.endDate "L"}}
            @save={{perform this.changeEndDate}}
            @close={{fn this.revertEndDateChanges}}
          >
            <PikadayInput
              @value={{this.endDate}}
              @format="L"
              @onSelection={{action (mut this.endDate)}}
              @focusOut={{action "addErrorDisplayFor" "endDate"}}
            />
            {{#if
              (and
                (v-get this "endDate" "isInvalid") (contains "endDate" this.showErrorsFor)
              )
            }}
              <span class="validation-error-message">
                {{v-get this "endDate" "message"}}
              </span>
            {{/if}}
          </EditableField>
        {{else}}
          {{moment-format @course.endDate "L"}}&nbsp;
        {{/if}}
      </span>
    </div>
    <div class="block courselevel">
      <label>{{t "general.level"}}:</label>
      <span>
        {{#if @editable}}
          <EditableField
            @value={{this.level}}
            @save={{perform this.changeLevel}}
            @close={{fn this.revertLevelChanges}}
          >
            {{one-way-select
              this.level
              options=this.levelOptions
              optionTargetPath="id"
              optionLabelPath="title"
              update=(action (mut this.level))
            }}
          </EditableField>
        {{else}}
          {{this.level}}&nbsp;
        {{/if}}
      </span>
    </div>
    <div class="block">
      <label>{{t "general.universalLocator"}}:</label>
      <span class="universallocator">
        <strong>
          {{concat this.universalLocator @course.id}}
        </strong>
      </span>
    </div>
  </div>
</section>
