<div
  class="course-header"
  data-test-course-header
  {{did-insert this.revertTitleChanges}}
  {{did-update this.revertTitleChanges}}
>
  <span class="title" data-test-title>
    {{#if @editable}}
      <EditableField
        @value={{this.courseTitle}}
        @save={{perform this.changeTitle}}
        @close={{this.revertTitleChanges}}
        @saveOnEnter={{true}}
        @closeOnEscape={{true}} as |isSaving|
      >
        <Input
          type="text"
          @value={{this.courseTitle}}
          @key-press={{fn this.addErrorDisplayFor "courseTitle"}}
          disabled={{isSaving}}
        />
        {{#each (await (compute (fn this.getErrorsFor) "courseTitle")) as |message|}}
          <span class="validation-error-message">
            {{message}}
          </span>
        {{/each}}
      </EditableField>
    {{else}}
      <h2>
        {{#if @course.locked}}
          <FaIcon @icon="lock" />
        {{/if}}
        {{@course.title}}
      </h2>
    {{/if}}
    <h3>
      {{@course.academicYear}}
    </h3>
  </span>
  <span class="course-publication">
    {{#if @editable}}
      <Course::PublicationMenu @course={{@course}} />
    {{else}}
      <PublicationStatus @item={{@course}} />
    {{/if}}
  </span>
</div>
