<button
  {{! template-lint-disable no-inline-styles }}
  style={{this.style}}
  class="daily-calendar-event {{if this.isIlm "ilm"}} {{if this.clickable "clickable"}}"
  type="button"
  {{on "click" (if this.clickable @selectEvent (noop))}}
  {{did-insert (set this.theElement)}}
  {{mouse-hover-toggle (set this.showTooltip)}}
  data-test-calendar-event
  data-test-daily-calendar-event
>
  {{#if (and this.theElement this.showTooltip)}}
    <IliosTooltip @target={{this.theElement}}>
      {{this.tooltipContent}}
    </IliosTooltip>
  {{/if}}
  {{#if this.recentlyUpdated}}
    <FaIcon
      @icon="circle-exclamation"
      class="recently-updated-icon"
      @title={{t "general.newUpdates"}}
    />
  {{/if}}
  {{#if (not @event.isPublished)}}
    <FaIcon @icon="file-signature" />
  {{else if @event.isScheduled}}
    <FaIcon @icon="clock" />
  {{/if}}
  <span class="ilios-calendar-event-time">
    {{#if this.isIlm}}
      <span class="ilios-calendar-event-start">
        {{t "general.ilmDue"}}:
        {{format-date @event.startDate hour12=true hour="numeric" minute="numeric"}}
      </span>
    {{else}}
      <span class="ilios-calendar-event-start">
        {{format-date @event.startDate hour12=true hour="numeric" minute="numeric"}}
      </span>
    {{/if}}
  </span>
  <span class="ilios-calendar-event-location">
    {{#if @event.location.length}}
      {{@event.location}}:
    {{/if}}
  </span>
  <span class="ilios-calendar-event-name" data-test-name>
    {{@event.name}}
  </span>
</button>
