<div class="weeklylink" data-test-weekly-link>
  {{t "general.view"}}:
  <LinkTo @route="weeklyevents" @query={{hash expanded=this.expanded}}>
    {{t "general.allWeeks"}}
  </LinkTo>
</div>
<WeekGlance
  @collapsed={{false}}
  @collapsible={{false}}
  @showFullTitle={{true}}
  @week={{this.week}}
  @year={{this.year}}
/>

