<div class="dashboard-materials">
  <div class="header">
    <ToggleButtons
      @firstOptionSelected={{not @showAllMaterials}}
      @firstLabel={{t "general.nextXDays" days=this.daysInAdvance}}
      @secondLabel={{t "general.allMaterials"}}
      @toggle={{@toggleMaterialsMode}}
    />
  </div>
  {{#if @showAllMaterials}}
    <DashboardAllMaterials
      @courseIdFilter={{@course}}
      @filter={{@filter}}
      @sortBy={{@sortBy}}
      @setCourseIdFilter={{@setCourse}}
      @setFilter={{@setFilter}}
      @setSortBy={{@setSortBy}}
    />
  {{else}}
    <DashboardCurrentMaterials @daysInAdvance={{this.daysInAdvance}} />
  {{/if}}
</div>
