<div class="dashboard-view-picker">
  <ul>
    <li>
      <button
        class={{if (eq @show "week") "active"}}
        data-test-glance
        type="button"
        {{on "click" (fn @onChange "week")}}
      >
        {{t "general.weekAtAGlance"}}
      </button>
    </li>
    <li>
      <button
        class={{if (eq @show "agenda") "active"}}
        type="button"
        data-test-activities
        {{on "click" (fn @onChange "agenda")}}
      >
        {{t "general.activities"}}
      </button>
    </li>
    <li>
      <button
        class={{if (eq @show "materials") "active"}}
        type="button"
        data-test-materials
        {{on "click" (fn @onChange "materials")}}
      >
        {{t "general.materials"}}
      </button>
    </li>
    <li>
      <button
        class={{if (eq @show "calendar") "active"}}
        type="button"
        data-test-calendar
        {{on "click" (fn @onChange "calendar")}}
      >
        {{t "general.calendar"}}
      </button>
    </li>
  </ul>
</div>
