<div class="dashboard-view-picker">
  <ul>
    <li>
      <LinkTo
        @route="dashboard.week"
        title={{t "general.weekAtAGlance"}}
        @current-when="dashboard.week"
      >
        {{t "general.weekAtAGlance"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="dashboard.activities"
        title={{t "general.activities"}}
        @current-when="dashboard.activities"
      >
        {{t "general.activities"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="dashboard.materials"
        title={{t "general.materials"}}
        @current-when="dashboard.materials"
      >
        {{t "general.materials"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="dashboard.calendar"
        title={{t "general.calendar"}}
        @current-when="dashboard.calendar"
      >
        {{t "general.calendar"}}
      </LinkTo>
    </li>
  </ul>
</div>
