<div
  class="detail-learnergroups-list"
  {{did-insert (perform this.load) @learnerGroups}}
  {{did-update (perform this.load) @learnerGroups}}
>
  {{#if (is-array this.trees)}}
    <div class="trees">
      {{#each (sort-by "topLevelGroup.title" this.trees) as |tree|}}
        <fieldset>
          <legend>
            {{tree.topLevelGroup.title}} ({{tree.topLevelGroup.cohort.programYear.program.title}} {{tree.topLevelGroup.cohort.title}})
          </legend>
          {{#if @isManaging}}
            <div class="remove-all-subgroups">
              <span
                class="clickable remove"
                data-test-remove-all
                role="button"
                {{on "click" (fn @remove tree.topLevelGroup)}}
              >
                {{t "general.removeAll"}} (<FaIcon @icon="times" />)
              </span>
            </div>
          {{/if}}
          <ul>
            <li class="top-level-group">
              {{tree.topLevelGroup.title}} ({{count-related tree.topLevelGroup "users"}})
            </li>
            {{#each
              (without tree.topLevelGroup (await tree.groups)) as |learnerGroup|
            }}
              {{! template-lint-disable no-invalid-interactive}}
              <li
                class="{{if
                    (contains learnerGroup (await this.lowestLeaves))
                    "lowest-leaf"
                  }}
                  {{if @isManaging "clickable"}}"
                role={{if @isManaging "button"}}
                {{on "click" (fn this.remove learnerGroup)}}
              >
                {{learnerGroup.title}} ({{count-related learnerGroup "users"}})
                {{#if @isManaging}}
                  <FaIcon @icon="times" class="remove" />
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </fieldset>
      {{/each}}
    </div>
  {{else}}
    <LoadingSpinner />
  {{/if}}
</div>
