<section
 class="detail-competencies {{if this.hasCompetencies "collapsible"}}"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @course.competencies}}
>
  <div
    class="title {{if this.hasCompetencies "clickable collapsible"}}"
    role="button"
    {{on "click" (if this.hasCompetencies this.collapse (noop))}}
  >
    {{t "general.competencies"}} ({{this.competencyCount}})
  </div>
  {{#if this.hasCompetencies}}
    <div class="detail-competencies-content">
      <ul class="static-list">
        {{#each @course.domainsWithSubcompetencies as |domain|}}
          <li>
            {{domain.title}}
            <ul>
              {{#each domain.subCompetencies as |competency|}}
                <li>
                  {{competency.title}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</section>
