<div class="detail-cohorts-header">
  <div class="title">
    {{#if this.isManaging}}
      <span class="specific-title">
        {{t "general.cohortsManageTitle"}}
      </span>
    {{else}}
      {{t "general.programCohorts"}} ({{@course.cohorts.length}})
    {{/if}}
  </div>
  <div class="actions">
    {{#if this.isManaging}}
      <button class="bigadd" {{on "click" (action "save")}}>
        <FaIcon
          @icon={{if this.isSaving "spinner" "check"}}
          @spin={{if this.isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{on "click" (action "cancel")}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if @editable}}
      <button {{on "click" (action "manage")}}>
        {{t "general.cohortsManageTitle"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="detail-cohorts-content">
  {{#if this.isManaging class="horizontal"}}
    <DetailCohortManager
      @school={{await @course.school}}
      @selectedCohorts={{this.bufferedCohorts}}
      @add={{action "addCohortToBuffer"}}
      @remove={{action "removeCohortFromBuffer"}}
    />
  {{else}}
    <DetailCohortList @cohorts={{await @course.cohorts}} />
  {{/if}}
</div>
