<section
    class="detail-learners-and-learner-groups"
    data-test-detail-learners-and-learner-groups
>
  <div class="detail-learners-and-learner-groups-header">
    <div class="title">
      {{#if this.isManaging}}
        <span class="detail-specific-title">
          {{t "general.manageLearners"}}
        </span>
      {{else}}
        {{t "general.learnersAndLearnerGroups"}}
        ({{this.learnerCount}}/{{this.learnerGroupCount}})
      {{/if}}
    </div>
    <div class="actions">
      {{#if this.isManaging}}
        <button class="bigadd" type="button" {{on "click" (perform this.save)}}>
          <FaIcon @icon="check" />
        </button>
        <button class="bigcancel" type="button" {{on "click" this.cancel}}>
          <FaIcon @icon="undo" />
        </button>
      {{else if @editable}}
        <button type="button" {{on "click" (perform this.manage)}}>
          {{t "general.manageLearners"}}
        </button>
      {{/if}}
    </div>
  </div>
  <div class="detail-learners-and-learner-groups-content">
    {{#if this.isManaging}}
      <LearnerSelectionManager
        @learners={{this.learnerBuffer}}
        @add={{this.addLearnerToBuffer}}
        @remove={{this.removeLearnerFromBuffer}}
      />
      <LearnergroupSelectionManager
        @learnerGroups={{this.learnerGroupBuffer}}
        @cohorts={{@cohorts}}
        @add={{this.addLearnerGroupToBuffer}}
        @remove={{this.removeLearnerGroupFromBuffer}}
      />
    {{else}}
      {{#if this.learnerCount}}
        <h4>{{t "general.learners"}} ({{this.learnerCount}})</h4>
        <DetailLearnerList @learners={{await @ilmSession.learners}} @isManaging={{false}} />
      {{/if}}
      {{#if this.learnerGroupCount}}
        <h4>{{t "general.learnerGroups"}} ({{this.learnerGroupCount}})</h4>
        <DetailLearnergroupsList @learnerGroups={{await @ilmSession.learnerGroups}} />
      {{/if}}
    {{/if}}
  </div>
</section>
