<div
  class="detail-instructors-list"
>
  {{#if @instructors.length}}
    <h4>
      {{t "general.instructors"}}
      ({{@instructors.length}})
    </h4>
    <ul class="instructors-list" data-test-instructors>
      {{#each (sort-by "title" @instructors) as |user|}}
        <li>
          {{user.fullName}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if @instructorGroups.length}}
    <h4>
      {{t "general.instructorGroups"}}
      ({{@instructorGroups.length}})
    </h4>
    <div data-test-instructor-groups>
      {{#each (sort-by "title" @instructorGroups) as |instructorGroup|}}
        <div class="instructor-group" data-test-instructor-group>
          <span data-test-instructor-group-title>
            <FaIcon @icon="users" />
            {{instructorGroup.title}}
          </span>
          <br>
          <ul class="instructorgroup-members-list" data-test-instructor-group-members>
            {{#each (sort-by "fullName" (await instructorGroup.users)) as |instructorGroupMember|}}
              <li>
                {{instructorGroupMember.fullName}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
