<div class="editinplace {{if this.isEditing "is-editing"}}" ...attributes>
  <span class="content">
    {{#unless this.isEditing}}
      <span>
        {{#if @value}}
          {{#if this.looksEmpty}}
            <button
              class="link-button"
              type="button"
              data-test-edit
              {{on "click" (set this.isEditing true)}}
            >
              <FaIcon
                @icon="pen-to-square"
                class="enabled"
              />
            </button>
          {{else}}
            <TruncateText
              @renderHtml={{@renderHtml}}
              @text={{@value}}
              @onEdit={{set this.isEditing true}}
              as |displayText expand isTruncated|
            >
              <span
                class="clickable editable"
                aria-label={{t "general.edit"}}
                data-test-edit
                role="button"
                {{on "click" (set this.isEditing true)}}
              >
                {{displayText}}
              </span>
              {{#if isTruncated}}
                <FaIcon @icon="ellipsis" @transform="down-6" />
                <button
                  class="expand-text-button"
                  type="button"
                  aria-label={{t "general.expand"}}
                  data-test-expand
                  {{on "click" expand}}
                >
                  <FaIcon @icon="info-circle" />
                </button>
              {{/if}}
            </TruncateText>
          {{/if}}
        {{else}}
          <span
            class="clickable editable"
            aria-label={{t "general.edit"}}
            data-test-edit
            role="button"
            {{on "click" (set this.isEditing true)}}
          >
            {{@clickPrompt}}
          </span>
        {{/if}}
      </span>
    {{else}}
      <span
        class="editor"
        {{did-insert this.focusFirstControl}}
        {{! template-lint-disable no-invalid-interactive}}
        {{on "keyup" this.keyup}}
      >
        {{yield this.saveData.isRunning (perform this.saveData) (perform this.closeEditor)}}
        <span class="actions">
          <button
            disabled={{@isSaveDisabled}}
            type="button"
            class="done"
            title={{t "general.save"}}
            {{on "click" (perform this.saveData)}}
          >
            <FaIcon
              @icon={{if this.saveData.isRunning "spinner" "check"}}
              @spin={{this.saveData.isRunning}}
            />
          </button>
          <button
            class="cancel"
            type="button"
            title={{t "general.cancel"}}
            {{on "click" (perform this.closeEditor)}}
          >
            <FaIcon @icon="xmark" />
          </button>
        </span>
      </span>
    {{/unless}}
  </span>

</div>
