<section
  class="course-details"
  data-test-ilios-course-details
  {{did-insert (set this.topSection)}}
  {{animate-loading "course" loadingTime=500}}
  ...attributes
>
  <Course::BackToCourses />

  <CourseHeader @course={{@course}} @editable={{and @editable this.notRolloverRoute}} />
  <CourseOverview @course={{@course}} @editable={{and @editable this.notRolloverRoute}} />
  {{#unless @showDetails}}
    <button
      class="detail-collapsed-control"
      type="button"
      {{on "click" (fn @setShowDetails true)}}
    >
      <span>
        {{t "general.expandDetail"}}
        <FaIcon @icon="square-plus" class="expand-collapse-icon" />
      </span>
    </button>
  {{else}}
    <CourseEditing
      @course={{@course}}
      @editable={{and @editable this.notRolloverRoute}}
      @courseLeadershipDetails={{@courseLeadershipDetails}}
      @courseObjectiveDetails={{@courseObjectiveDetails}}
      @courseTaxonomyDetails={{@courseTaxonomyDetails}}
      @courseCompetencyDetails={{@courseCompetencyDetails}}
      @courseManageLeadership={{@courseManageLeadership}}
      @setCourseObjectiveDetails={{@setCourseObjectiveDetails}}
      @setCourseLeadershipDetails={{@setCourseLeadershipDetails}}
      @setCourseTaxonomyDetails={{@setCourseTaxonomyDetails}}
      @setCourseCompetencyDetails={{@setCourseCompetencyDetails}}
      @setCourseManageLeadership={{@setCourseManageLeadership}}
    />
    <button class="detail-collapsed-control" type="button" {{on "click" this.collapse}}>
      <span class="is-expanded">
        {{t "general.collapseDetail"}}
        <FaIcon @icon="square-minus" class="expand-collapse-icon" />
      </span>
    </button>
  {{/unless}}
</section>
