{{#if (is-array @calendarEvents)}}
  <div class="ilios-calendar-day" data-test-ilios-calendar-day>
    <DailyCalendar
      @date={{@date}}
      @events={{this.singleDayEvents}}
      @selectEvent={{if @areEventsSelectable @selectEvent (noop)}}
    />
    <IliosCalendarMultidayEvents
      @events={{this.multiDayEvents}}
      @selectEvent={{@selectEvent}}
      @areEventsSelectable={{@areEventsSelectable}}
    />
  </div>
{{/if}}
