<li>
  {{format-date @event.startDate month="numeric" day="numeric" year="2-digit" hour="numeric" minute="numeric"}}
  &ndash;
  {{format-date @event.endDate month="numeric" day="numeric" year="2-digit" hour="numeric" minute="numeric"}}
  <span
    class={{if (and this.clickable @isEventSelectable) "clickable"}}
    role="button"
    data-test-event-name
    {{on "click" (fn this.selectEvent @event)}}
  >
    {{@event.name}}
  </span>
  {{@event.location}}
</li>
