<div class="ilios-calendar">
  <ul class="inline calendar-view-picker">
    <li>
      <button
        class="link-button highlight {{if this.showIcsFeed "on"}}"
        aria-label={{t (if this.showIcsFeed "general.hideIcsFeed" "general.showIcsFeed")}}
        type="button"
        {{on "click" (toggle "showIcsFeed" this)}}
      >
        <FaIcon @icon="rss-square" />
      </button>
    </li>
    {{#each (array "day" "week" "month") as |viewType|}}
      <li>
        {{#if (eq @selectedView viewType)}}
          {{t (concat "general." viewType)}}
        {{else}}
          <LinkTo @route="dashboard" @query={{hash view=viewType}}>{{t (concat "general." viewType)}}</LinkTo>
        {{/if}}
      </li>
    {{/each}}
  </ul>
  <ul class="inline calendar-time-picker">
    <li class="clickable link" role="button" {{on "click" this.goBack}}>
      <FaIcon @icon="backward" />
    </li>
    <li class="clickable link" role="button" {{on "click" this.gotoToday}}>
      {{t "general.today"}}
    </li>
    <li class="clickable link" role="button" {{on "click" this.goForward}}>
      <FaIcon @icon="forward" />
    </li>
  </ul>
  <div class="ilios-calendar-calendar">
    {{#if this.showIcsFeed}}
      <IcsFeed
        @url={{@icsFeedUrl}}
        @instructions={{@icsInstructions}}
      />
    {{/if}}
    <h1 class={{unless @isLoadingEvents "loaded"}}>
      <FaIcon @icon="spinner" @spin={{true}} />
      {{t "general.loadingEvents"}}
      ...
    </h1>
    <this.calendarViewComponent
      @calendarEvents={{this.sortedEvents}}
      @date={{@selectedDate}}
      @selectEvent={{@selectEvent}}
      @changeDate={{@changeDate}}
      @changeView={{@changeView}}
      @areDaysSelectable={{true}}
      @areEventsSelectable={{true}}
    />
  </div>
</div>
