{{#if (is-array @calendarEvents)}}
  <div class="ilios-calendar-month">
    <MonthlyCalendar
      @date={{@date}}
      @events={{this.singleDayEvents}}
      @changeToDayView={{this.changeToDayView}}
      @selectEvent={{@selectEvent}}
    />

    <IliosCalendarPreWorkEvents
      @events={{this.ilmPreWorkEvents}}
      @areEventsSelectable={{@areEventsSelectable}}
    />
    <IliosCalendarMultidayEvents
      @events={{this.multiDayEventsList}}
      @selectEvent={{@selectEvent}}
      @areEventsSelectable={{@areDaysSelectable}}
    />
  </div>
{{/if}}
