{{#if (is-array @calendarEvents)}}
  <div class="ilios-calendar-week" data-test-ilios-calendar-week>
    <WeeklyCalendar
      @date={{this.date}}
      @events={{this.singleDayEvents}}
      @changeToDayView={{if @areDaysSelectable this.changeToDayView (noop)}}
      @selectEvent={{if @areEventsSelectable @selectEvent (noop)}}
    />
    <IliosCalendarMultidayEvents
      @events={{this.multiDayEventsList}}
      @selectEvent={{@selectEvent}}
      @areEventsSelectable={{@areDaysSelectable}}
    />
  </div>
{{/if}}
