<li
  class="ilios-calendar-pre-work-event"
  data-test-ilios-calendar-pre-work-event
>
  <span class="title" data-test-event-title>
    {{#if @areEventsSelectable}}
      <LinkTo @route="events" @model={{@event.slug}}>
        {{@event.name}}
      </LinkTo>
    {{else}}
      {{@event.name}}
    {{/if}}
  </span>
  <span class="date" data-test-date>
    {{#if @areEventsSelectable}}
      {{t "general.dueBefore"}}
      <a href={{this.postrequisiteLink}}>{{@event.postrequisiteName}}</a>
      ({{format-date @event.startDate}})
    {{else}}
      {{t "general.dueBefore"}} {{@event.postrequisiteName}} ({{format-date @event.startDate}})
    {{/if}}
  </span>
</li>
