<section
  class="course-details"
  data-test-ilios-course-details
  {{did-insert (set this.topSection)}}
>
  {{#if (has-route "courses")}}
    <div class="back-to-courses-list">
      <LinkTo @route="courses">
        {{t "general.backToCourses"}}
      </LinkTo>
    </div>
  {{/if}}
  <CourseHeader @course={{@course}} @editable={{and @editable this.notRolloverRoute}} />
  <CourseOverview @course={{@course}} @editable={{and @editable this.notRolloverRoute}} />
  {{#unless @showDetails}}
    <button
      class="detail-collapsed-control"
      type="button"
      {{on "click" (fn @setShowDetails true)}}
    >
      <span>
        {{t "general.expandDetail"}}
        <FaIcon @icon="plus-square" class="expand-collapse-icon" />
      </span>
    </button>
  {{else}}
    <CourseEditing
      @course={{@course}}
      @editable={{and @editable this.notRolloverRoute}}
      @courseLeadershipDetails={{@courseLeadershipDetails}}
      @courseObjectiveDetails={{@courseObjectiveDetails}}
      @courseTaxonomyDetails={{@courseTaxonomyDetails}}
      @courseCompetencyDetails={{@courseCompetencyDetails}}
      @courseManageLeadership={{@courseManageLeadership}}
      @setCourseObjectiveDetails={{@setCourseObjectiveDetails}}
      @setCourseLeadershipDetails={{@setCourseLeadershipDetails}}
      @setCourseTaxonomyDetails={{@setCourseTaxonomyDetails}}
      @setCourseCompetencyDetails={{@setCourseCompetencyDetails}}
      @setCourseManageLeadership={{@setCourseManageLeadership}}
    />
    <button class="detail-collapsed-control" type="button" {{on "click" this.collapse}}>
      <span class="is-expanded">
        {{t "general.collapseDetail"}}
        <FaIcon @icon="square-minus" class="expand-collapse-icon" />
      </span>
    </button>
  {{/unless}}
</section>
