{{#if (is-array @calendarEvents)}}
  <div class="ilios-calendar-month" data-test-ilios-calendar-month>
    <MonthlyCalendar
      @date={{@date}}
      @events={{this.singleDayEvents}}
      @changeToDayView={{this.changeToDayView}}
      @selectEvent={{@selectEvent}}
    />

    <IliosCalendarMultidayEvents
      @events={{this.multiDayEventsList}}
      @selectEvent={{@selectEvent}}
      @areEventsSelectable={{@areDaysSelectable}}
    />
  </div>
{{/if}}
