<span class="learning-material-uploader" data-test-learning-material-uploader>
  <FileUpload
    @for={{@for}}
    @disabled={{this.upload.isRunning}}
    @name={{this.uploadQueueName}}
    @onFileAdd={{perform this.upload}} as |queue|>
    {{#if (and (not this.fileUploadErrorMessage) queue.files.length)}}
      <span class="upload-button">
        <LoadingSpinner />{{queue.progress}}%
      </span>
    {{else}}
      <span class="upload-button" role="button">
        {{t "general.chooseFile"}}
      </span>
    {{/if}}
    {{#if this.upload.lastSuccessful.value}}
      <span class="upload-result">
        {{this.upload.lastSuccessful.value}} <FaIcon @icon="check" class="add" />
      </span>
    {{/if}}
    {{#if this.fileUploadErrorMessage}}
      <span class="upload-result validation-error-message">
        <FaIcon @icon="exclamation-circle" class="warning" /> {{this.fileUploadErrorMessage}}
      </span>
    {{/if}}
  </FileUpload>
</span>
