<div class="learner-selection-manager" data-test-learner-selection-manager>
  <div class="selected-learners" data-test-selected-learners-section>
    <h4>
      {{t "general.selectedLearners"}}
    </h4>
    {{#if @learners.length}}
      <DetailLearnerList
          @learners={{@learners}}
          @isManaging={{true}}
          @remove={{@remove}}
      />
    {{else}}
      <p data-test-no-selected-learners>
        {{t "general.none"}}
      </p>
    {{/if}}
  </div>
  <h4>
    {{t "general.availableLearners"}}
  </h4>
  <UserSearch
    @addUser={{@add}}
    @currentlyActiveUsers={{@learners}}
    @placeholder={{t "general.findLearners"}}
  />
</div>
