<h4>
  {{t "general.newObjective"}}
</h4>
<div class="new-objective-form">
  <label class="form-label">
    {{t "general.description"}}:
  </label>
  <HtmlEditor @content={{this.title}} @update={{action "changeTitle"}} />
  {{#if (and (v-get this "title" "isInvalid") (contains "title" this.showErrorsFor))}}
    <span class="validation-error-message">
      {{v-get this "title" "message"}}
    </span>
  {{/if}}
  <div class="buttons">
    <button
      disabled={{or
        this.isSaving
        (and (v-get this "title" "isInvalid") (contains "title" this.showErrorsFor))
      }}
      class="done text"
      type="button"
      {{on "click" (action "save")}}
    >
      {{#if this.isSaving}}
        <LoadingSpinner />
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <button class="cancel text" type="button" {{on "click" @cancel}}>
      {{t "general.cancel"}}
    </button>
  </div>
</div>
