<div class="item">
  <label>
    {{t "general.displayName"}}:
  </label>
  <span>
    <input
      type="text"
      value={{this.title}}
      disabled={{this.prepareSave.isRunning}}
      {{on "input" (action (mut this.title) value="target.value")}}
      {{on "keyup" (fn (action "addErrorDisplayFor") "title")}}
    >
    {{#if (and (v-get this "title" "isInvalid") (contains "title" this.showErrorsFor))}}
      <span class="validation-error-message">
        {{v-get this "title" "message"}}
      </span>
    {{/if}}
  </span>
</div>
<div class="item">
  <label>
    {{t "general.status"}}:
  </label>
  <span>
    <select {{on "change" (action (mut this.statusId) value="target.value")}}>
      {{#each @learningMaterialStatuses as |lmStatus|}}
        <option
          value={{lmStatus.id}}
          selected={{is-equal lmStatus this.selectedStatus}}
        >
          {{lmStatus.title}}
        </option>
      {{/each}}
    </select>
  </span>
</div>
<div class="item">
  <label>
    {{t "general.owner"}}:
  </label>
  <span class="owninguser">
    {{get (await this.currentUser.model) "fullName"}}
  </span>
</div>
<div class="item">
  <label>
    {{t "general.contentAuthor"}}:
  </label>
  <span>
    <input
      type="text"
      value={{this.originalAuthor}}
      disabled={{this.prepareSave.isRunning}}
      {{on "input" (action (mut this.originalAuthor) value="target.value")}}
      {{on "keyup" (fn (action "addErrorDisplayFor") "originalAuthor")}}
    >
    {{#if
      (and
        (v-get this "originalAuthor" "isInvalid")
        (contains "originalAuthor" this.showErrorsFor)
      )
    }}
      <span class="validation-error-message">
        {{v-get this "originalAuthor" "message"}}
      </span>
    {{/if}}
  </span>
</div>
<div class="item">
  <label>
    {{t "general.userRole"}}:
  </label>
  <span>
    <select {{on "change" (action (mut this.userRoleId) value="target.value")}}>
      {{#each @learningMaterialUserRoles as |role|}}
        <option value={{role.id}} selected={{is-equal role this.selectedUserRole}}>
          {{role.title}}
        </option>
      {{/each}}
    </select>
  </span>
</div>
{{#if this.isLink}}
  <div class="item">
    <label>
      {{t "general.url"}}:
    </label>
    <span>
      <input
        value={{this.link}}
        disabled={{this.prepareSave.isRunning}}
        {{on "input" (action (mut this.link) value="target.value")}}
        {{on "keyup" (fn (action "addErrorDisplayFor") "link")}}
      >
      {{#if (and (v-get this "link" "isInvalid") (contains "link" this.showErrorsFor))}}
        <span class="validation-error-message">
          {{v-get this "link" "message"}}
        </span>
      {{/if}}
    </span>
  </div>
{{/if}}
{{#if this.isCitation}}
  <div class="item">
    <label>
      {{t "general.citation"}}:
    </label>
    <span class="citation">
      <Textarea
        @value={{this.citation}}
        @focus-out={{action "addErrorDisplayFor" "citation"}}
        @key-press={{action "addErrorDisplayFor" "citation"}}
      />
      {{#if
        (and
          (v-get this "citation" "isInvalid") (contains "citation" this.showErrorsFor)
        )
      }}
        <span class="validation-error-message">
          {{v-get this "citation" "message"}}
        </span>
      {{/if}}
    </span>
  </div>
{{/if}}
<div class="item">
  <label>
    {{t "general.description"}}:
  </label>
  <span>
    <HtmlEditor @content={{this.description}} @update={{action (mut this.description)}} />
  </span>
</div>
{{#if this.isFile}}
  <div class="item">
    <label>
      {{t "general.copyrightPermission"}}:
    </label>
    <span>
      <p id="lm-copyright-agreement-text">
        <input
          type="checkbox"
          checked={{this.copyrightPermission}}
          {{on "click" (fn (mut this.copyrightPermission) (not this.copyrightPermission))}}
        >
        {{t "general.copyrightAgreement"}}
      </p>
    </span>
  </div>
  {{#unless this.copyrightPermission}}
    <div class="item">
      <label>
        {{t "general.copyrightRationale"}}:
      </label>
      <span>
        <Textarea
          @value={{this.copyrightRationale}}
          @focus-out={{action "addErrorDisplayFor" "copyrightRationale"}}
          @key-press={{action "addErrorDisplayFor" "copyrightRationale"}}
        />
        {{#if
          (and
            (v-get this "copyrightRationale" "isInvalid")
            (contains "copyrightRationale" this.showErrorsFor)
          )
        }}
          <span class="validation-error-message">
            {{v-get this "copyrightRationale" "message"}}
          </span>
        {{/if}}
      </span>
    </div>
  {{/unless}}
  <div class="item">
    <label for={{concat this.element.id "file-upload"}}>
      {{t "general.file"}}:
    </label>
    <LearningMaterialUploader
      @for={{concat this.element.id "file-upload"}}
      @setFilename={{set this.filename}}
      @setFileHash={{set this.fileHash}}
    />
  </div>
{{/if}}
<div class="buttons">
  <button class="done text" type="button" {{on "click" (perform this.prepareSave)}}>
    {{#if this.prepareSave.isRunning}}
      <LoadingSpinner />
    {{else}}
      {{t "general.done"}}
    {{/if}}
  </button>
  <button class="cancel text" type="button" {{on "click" @cancel}}>
    {{t "general.cancel"}}
  </button>
</div>
