{{#unless this.loadAttr.isRunning}}
  <div class="actions">
    <button class="bigadd" type="button" {{on "click" (fn @save this.sortableObjectList)}}>
      <FaIcon @icon="check" />
    </button>
    <button class="bigcancel" type="button" {{on "click" (fn @cancel)}}>
      <FaIcon @icon="undo" />
    </button>
  </div>
  <div class="content">
    <SortableObjects
      @sortableObjectList={{this.sortableObjectList}}
      @enableSort={{true}}
      @useSwap={{true}}
      @sortingScope="sortingGroup"
    >
      {{#each this.sortableObjectList as |item|}}
        <DraggableObject
          @content={{item}}
          @isSortable={{true}}
          @sortingScope="sortingGroup"
        >
          <FaIcon @icon="arrows-alt" />
          <span class="draggable-object-content">
            <span>
              <TruncateText @text={{item.title}} />
            </span>
          </span>
        </DraggableObject>
      {{/each}}
    </SortableObjects>
  </div>
{{/unless}}
