{{#let (unique-id) as |templateId|}}
  <div class="pagedlist-controls" data-test-pagedlist-controls ...attributes>
    {{#unless @limitless}}
      <button
        class="link-button backward"
        type="button"
        disabled={{this.firstPage}}
        data-test-go-to-first
        {{on "click" this.goToFirst}}
      >
        <FaIcon @icon="backward" class={{if this.firstPage "disabled"}} />
      </button>
      <button
        class="link-button backward"
        type="button"
        data-test-go-back
        disabled={{this.firstPage}}
        {{on "click" this.goBack}}
      >
        <FaIcon @icon="play" @flip="horizontal" class={{if this.firstPage "disabled"}} />
      </button>
    {{/unless}}
    {{#if @limitless}}
      <select aria-labelledby="per-page-{{templateId}}" {{on "change" (pick "target.value" this.setLimit)}} data-test-limits>
        {{#each this.offsetOptions as |o|}}
          <option value={{o}} selected={{is-equal o this.limit}} data-test-limit>
            {{o}}
          </option>
        {{/each}}
      </select>
      <span id="per-page-{{templateId}}">{{t "general.perPage"}}</span>
    {{else}}
      <span data-test-paged-results-count>
        {{t "general.pagedResultsCount" start=this.start end=this.end total=this.total}}
      </span>
    {{/if}}
    {{#unless @limitless}}
      <button
        class="link-button
        forward"
        type="button"
        disabled={{this.lastPage}}
        data-test-go-forward
        {{on "click" this.goForward}}
      >
        <FaIcon @icon="play" class={{if this.lastPage "disabled"}} />
      </button>
      <button
        class="link-button forward"
        type="button"
        data-test-go-to-last
        disabled={{this.lastPage}}
        {{on "click" this.goToLast}}
      >
        <FaIcon @icon="forward" class={{if this.lastPage "disabled"}}/>
      </button>
    {{/unless}}
    {{#unless @limitless}}
      <select aria-labelledby="per-page-{{templateId}}" {{on "change" (pick "target.value" this.setLimit)}} data-test-limits>
        {{#each this.offsetOptions as |o|}}
          <option value={{o}} selected={{is-equal o this.limit}} data-test-limit>
            {{o}}
          </option>
        {{/each}}
      </select>
      <span id="per-page-{{templateId}}">{{t "general.perPage"}}</span>
    {{/unless}}
  </div>
{{/let}}
