<div class="search-box" data-test-search-box>
  <input
    aria-label={{this.placeholder}}
    autocomplete="off"
    class="search-input"
    type="search"
    value={{this.value}}
    placeholder={{this.placeholder}}
    {{on "input" this.update}}
    {{on "keyup" this.keyUp}}
    {{did-insert (set this.searchInput)}}
  >
  <button
    aria-label={{t "general.search"}}
    class="link-button search-icon"
    type="button"
    {{on "click" (pipe-action this.moveFocus (perform this.searchTask))}}
    data-test-submit-search
  >
    <FaIcon @icon="search" />
  </button>
</div>
