<div class="search-box" data-test-search-box>
  <input
    aria-label={{@placeholder}}
    class="search-input"
    type="search"
    value={{this.value}}
    placeholder={{@placeholder}}
    {{on "input" this.update}}
    {{on "keyup" this.keyUp}}
    {{did-insert (set this.searchInput)}}
  >
  <span
    class="search-icon"
    role="button"
    {{on "click" (pipe-action this.moveFocus (perform this.searchTask))}}
  >
    <FaIcon @icon="search" />
  </span>
</div>
