<div
  class="selectable-terms-list-item {{if this.isSelected "selected"}}"
  role="button"
  {{on "click" this.click}}
  {{on "mouseover" (fn (set this.isHovering) true)}}
  {{on "mouseout" (fn (set this.isHovering) false)}}
  {{ref this "theElement"}}
>
  {{#if this.showTooltip}}
    <IliosTooltip @target={{this.theElement}}>
      {{@term.description}}
    </IliosTooltip>
  {{/if}}
  {{@term.title}}
  <span class="actions">
    {{#if this.isSelected}}
      <FaIcon @icon="times" />
    {{else}}
      <FaIcon @icon="plus" class="add" />
    {{/if}}
  </span>
</div>
