<ul
  class="selectable-terms-list"
  {{did-insert (perform this.loadFilteredTerms)}}
  {{did-update (perform this.loadFilteredTerms) this.topLevelTermsRelationshipPromise @termFilter @terms}}
>
  {{#unless this.loadFilteredTerms.isRunning}}
    {{#each (sort-by "title" this.terms) as |term|}}
      {{#if (await term.isActiveInTree)}}
        <li class={{if (await term.parent) "nested" "top-level"}}>
          <SelectableTermsListItem
            @selectedTerms={{@selectedTerms}}
            @term={{term}}
            @add={{@add}}
            @remove={{@remove}}
          />
          {{#if term.hasChildren}}
            <SelectableTermsList
              @selectedTerms={{@selectedTerms}}
              @terms={{await term.children}}
              @add={{@add}}
              @remove={{@remove}}
              @termFilter={{@termFilter}}
            />
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  {{/unless}}
</ul>
