<ul
  class="selectable-terms-list"
  {{did-insert (perform this.load) @vocabulary @terms @termFilter}}
  {{did-update (perform this.load) @vocabulary @terms @termFilter}}
>
  {{#if this.terms}}
    {{#each (sort-by "title" this.terms) as |term|}}
      {{#if (await term.isActiveInTree)}}
        <li class={{if term.isTopLevel "top-level" ""}}>
          <SelectableTermsListItem
            @selectedTerms={{@selectedTerms}}
            @term={{term}}
            @add={{@add}}
            @remove={{@remove}}
          />
          {{#if term.hasChildren}}
            <SelectableTermsList
              @selectedTerms={{@selectedTerms}}
              @terms={{await term.children}}
              @add={{@add}}
              @remove={{@remove}}
            />
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ul>
