<div class="selectable-terms-list-item {{if this.isSelected "selected"}}" {{on "click" this.click}} role="button">
  {{#if @term.description.length}}
    {{#attach-tooltip lazyRender=true animation="shift"}}
      {{@term.description}}
    {{/attach-tooltip}}
  {{/if}}
  {{@term.title}}
  <span class="actions">
    {{#if this.isSelected}}
      <FaIcon @icon="times" />
    {{else}}
      <FaIcon @icon="plus" class="add" />
    {{/if}}
  </span>
</div>
