{{#each (sort-by "title" @terms) as |term|}}
  <li class="clickable">
    <input
      class="checkbox"
      type="checkbox"
      checked={{contains term @selectedTerms}}
      {{on "change" (fn @toggle term)}}
    >
    <span class="list-indentation" role="button" {{on "click" (fn @toggle term)}}>
      {{term.title}}
    </span>
    {{#if (gt (get (await term.children) "length") 0)}}
      <SelectedTermTree
        @terms={{await term.children}}
        @selectedTerms={{@selectedTerms}}
        @toggle={{@toggle}}
      />
    {{/if}}
  </li>
{{/each}}
