<button
  class="selectable-terms-list-item {{if this.isSelected "selected"}}"
  type="button"
  {{on "click" this.click}}
  {{mouse-hover-toggle (set this.isHovering)}}
  {{did-insert (set this.theElement)}}
>
  {{#if (and this.theElement this.showTooltip)}}
    <IliosTooltip @target={{this.theElement}}>
      {{@term.description}}
    </IliosTooltip>
  {{/if}}
  <span data-test-title>{{@term.title}}</span>
  <span class="actions">
    {{#if this.isSelected}}
      <FaIcon @icon="xmark" />
    {{else}}
      <FaIcon @icon="plus" class="add" />
    {{/if}}
  </span>
</button>
