<table class="sessions-grid-offering-table" data-test-sessions-grid-offering-table>
  <thead>
    <tr>
      <th colspan="2">
        {{t "general.when"}}
      </th>
      <th>
        {{t "general.location"}}
      </th>
      <th colspan="2">
        {{t "general.learners"}}
      </th>
      <th colspan="2">
        {{t "general.learnerGroups"}}
      </th>
      <th colspan="2">
        {{t "general.instructors"}}
      </th>
      {{#if @canUpdate}}
        <th class="text-center">
          {{t "general.actions"}}
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.offeringBlocks as |block|}}
      <tr class="offering-block">
        <td
          class="text-top offering-block-date"
          colspan={{if @canUpdate "10" "9"}}
          data-test-offering-block-date
        >
          <span class="offering-block-date-dayofweek" data-test-dayofweek>
            {{block.dayOfWeek}}
          </span>
          <span class="offering-block-date-dayofmonth" data-test-dayofmonth>
            {{format-date block.date month="long" day="numeric"}}
          </span>
        </td>
      </tr>
      {{#each block.offeringTimeBlocks as |offeringTimeBlock|}}
        {{#each offeringTimeBlock.sortedOfferings as |offering index|}}
          <SessionsGridOffering
            @offering={{offering}}
            @canUpdate={{@canUpdate}}
            @firstRow={{eq index 0}}
            @even={{eq (mod index 2) 1}}
            @span={{offeringTimeBlock.sortedOfferings.length}}
            @startTime={{offeringTimeBlock.startTime}}
            @durationHours={{offeringTimeBlock.durationHours}}
            @durationMinutes={{offeringTimeBlock.durationMinutes}}
          />
        {{/each}}
      {{/each}}
    {{/each}}
  </tbody>
</table>
