<td id="objective-{{@objective.id}}" class="text-left text-top" colspan="3">
  {{#if @editable}}
    <EditableField
      @value={{this.title}}
      @renderHtml={{true}}
      @isSaveDisabled={{and
        (v-get this "title" "isInvalid")
        (contains "title" this.showErrorsFor)
      }}
      @save={{action "saveTitleChanges"}}
      @close={{action "revertTitleChanges"}}
    >
      <HtmlEditor @content={{this.title}} @update={{action "changeTitle"}} />
      {{#if (and (v-get this "title" "isInvalid") (contains "title" this.showErrorsFor))
      }}
        <span class="validation-error-message">
          {{v-get this "title" "message"}}
        </span>
      {{/if}}
    </EditableField>
  {{else}}
    {{! template-lint-disable no-triple-curlies}}{{{@objective.title}}}
  {{/if}}
</td>
<td class="text-left text-top" colspan="2">
  {{#if @objective.hasParents}}
    {{#each @objective.parents as |parent|}}
      {{#if @editable}}
        <span
          class="clickable link"
          data-test-parent
          role="button"
          {{on "click" (fn @manageParents @objective)}}
        >
          {{parent.textTitle}}
        </span>
      {{else}}
        {{parent.textTitle}}
      {{/if}}
      {{#if @objective.hasMultipleParents}}
        <br><br>
      {{/if}}
    {{/each}}
  {{else if @editable}}
    <button role="button" {{on "click" (fn @manageParents @objective)}}>
      {{t "general.addNew"}}
    </button>
  {{else}}
    {{t "general.none"}}
  {{/if}}
</td>
<td class="text-left text-top" colspan="2">
  <ul class="mesh-descriptor-list">
    {{#each (sort-by "name" (await @objective.meshDescriptors)) as |descriptor|}}
      {{#if @editable}}
        <li
          class="clickable link"
          role="button"
          data-test-term
          {{on "click" (fn @manageDescriptors @objective)}}
        >
          {{descriptor.name}}
        </li>
      {{else}}
        <li data-test-term>
          {{descriptor.name}}
        </li>
      {{/if}}
    {{else}}
      <li>
        {{#if @editable}}
          <button {{on "click" (fn @manageDescriptors @objective)}}>
            {{t "general.addNew"}}
          </button>
        {{else}}
          {{t "general.none"}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</td>
<td class="text-left text-top" colspan="1">
  {{#if @editable}}
    <span class="clickable remove" role="button" {{on "click" (fn @remove @objective)}}>
      <FaIcon @icon="trash" class="enabled" />
    </span>
  {{else}}
    <FaIcon @icon="trash" class="disabled" />
  {{/if}}
</td>
