<div class="objectivetitle">
  {{! template-lint-disable no-triple-curlies}}
  {{{@sessionObjective.title}}}
</div>
{{#if (await this.showObjectiveList) class="vertical"}}
  <div class="parent-picker">
    <h5>
      {{get (await this.course) "title"}}
    </h5>
    <ul>
      {{#each (await this.proxiedObjectives) as |objective|}}
        {{#if objective.selected}}
          <li
            class="selected clickable"
            role="button"
            {{on "click" (fn this.removeParent objective)}}
          >
            <Input @type="checkbox" @checked={{true}} />
            {{objective.textTitle}}
          </li>
        {{else}}
          <li class="clickable" role="button" {{on "click" (fn this.addParent objective)}}>
            <Input @type="checkbox" @checked={{false}} />
            {{objective.textTitle}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="no-group">
    <p>
      {{t "general.missingCourseObjectivesMessage"}}
    </p>
  </div>
{{/if}}
