{{#if (is-fulfilled this.objectives)}}
  {{#if this.isSorting}}
    <ObjectiveSortManager
      @subject={{this.session}}
      @save={{action "saveSortOrder"}}
      @cancel={{action "cancelSorting"}}
    />
  {{else if (get (await this.objectives) "length")}}
    {{#if (and @editable (await this.hasMoreThanOneObjective))}}
      <button
        class="sort-materials-btn"
        type="button"
        {{on "click" (fn (mut this.isSorting) true)}}
      >
        {{t "general.sortObjectives"}}
      </button>
    {{/if}}
    <table>
      <thead>
        <tr>
          <th class="text-left" colspan="3">
            {{t "general.description"}}
          </th>
          <th class="text-left" colspan="2">
            {{t "general.parentObjectives"}}
          </th>
          <th class="text-left" colspan="2">
            {{t "general.meshTerms"}}
          </th>
          <th class="text-left" colspan="1">
            {{t "general.actions"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await this.objectives) as |objective|}}
          <SessionObjectiveListItem
            @objective={{objective}}
            @editable={{@editable}}
            @session={{this.session}}
            @showRemoveConfirmation={{contains
              objective.id
              this.objectivesForRemovalConfirmation
            }}
            @remove={{action "confirmRemoval"}}
            @manageParents={{@manageParents}}
            @manageDescriptors={{@manageDescriptors}}
          />
          {{#if (contains objective.id this.objectivesForRemovalConfirmation)}}
            <tr class="confirm-removal">
              <td colspan="8">
                <div class="confirm-message">
                  {{t "general.confirmObjectiveRemoval"}}
                  <br>
                  <div class="confirm-buttons">
                    <button
                      class="remove text"
                      type="button"
                      {{on "click" (fn (action "remove") objective)}}
                    >
                      {{t "general.yes"}}
                    </button>
                    <button
                      class="done text"
                      type="button"
                      {{on "click" (fn (action "cancelRemove") objective)}}
                    >
                      {{t "general.cancel"}}
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{else}}
  {{! template-lint-disable no-unused-block-params }}
  {{#each (repeat this.session.objectives.length) as |empty|}}
    <div>
      <LoadingSpinner />
    </div>
  {{/each}}
{{/if}}
{{#liquid-if this.isSaving class="crossFade"}}
  <WaitSaving
    @showProgress={{true}}
    @totalProgress={{this.totalObjectivesToSave}}
    @currentProgress={{this.currentObjectivesSaved}}
  />
{{/liquid-if}}
