<LinkTo @route="session" @model={{@session}}>
  {{t "general.backToTitle" title=@session.title}}
</LinkTo>
<div class="rollover-form">
  <h3 class="title">
    {{t "general.copySession"}}
  </h3>
  <p class="rollover-summary">
    {{t "general.copySessionSummary"}}
  </p>
  <div class="item year-select">
    <label>
      {{t "general.year"}}:
    </label>
    {{#if (is-fulfilled this.years)}}
      <select {{on "change" (fn this.changeSelectedYear)}}>
        {{#each (await this.years) as |year|}}
          <option
            value={{year}}
            selected={{is-equal year (await this.bestSelectedYear)}}
          >
            {{year}}
            -
            {{inc year}}
          </option>
        {{/each}}
      </select>
    {{else}}
      <LoadingSpinner />
    {{/if}}
    {{#if
      (and
        (v-get this "selectedYear" "isInvalid")
        (contains "selectedYear" this.showErrorsFor)
      )
    }}
      <span class="validation-error-message">
        {{v-get this "selectedYear" "message"}}
      </span>
    {{/if}}
  </div>
  <div class="item course-select">
    <label>
      {{t "general.targetCourse"}}:
    </label>
    {{#if (is-fulfilled this.courses)}}
      {{#if (get (await this.courses) "length")}}
        <select {{on "change" (fn this.changeSelectedCourseId)}}>
          {{#each (sort-by "title" (await this.courses)) as |course|}}
            <option
              value={{course.id}}
              selected={{is-equal
                course.id
                (get (await this.bestSelectedCourse) "id")
              }}
            >
              {{course.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{t "general.none"}}
      {{/if}}
    {{else}}
      <LoadingSpinner />
    {{/if}}
    {{#if
      (and
        (v-get this "selectedCourse" "isInvalid")
        (contains "selectedCourse" this.showErrorsFor)
      )
    }}
      <span class="validation-error-message">
        {{v-get this "selectedCourse" "message"}}
      </span>
    {{/if}}
  </div>
  <div class="buttons">
    <button
      class="done text"
      type="button"
      disabled={{if
        (or
          this.save.isRunning
          (not (await this.bestSelectedYear))
          (not (await this.bestSelectedCourse))
        )
        true
      }}
      {{on "click" (perform this.save)}}
    >
      {{#if this.save.isRunning}}
        <LoadingSpinner />
      {{else}}
        {{t "general.done"}}
      {{/if}}
    </button>
    <LinkTo @route="session" @model={{@session}}>
      <button class="cancel text" type="button">
        {{t "general.cancel"}}
      </button>
    </LinkTo>
  </div>
</div>
