<div
  class="sessions-grid"
  data-test-sessions-grid
  {{did-insert this.scrollDown}}
>
  {{#each this.sortedSessions as |obj|}}
    <div
      class="{{if
          (includes obj.session.id @expandedSessionIds)
          "is-expanded"
          "not-expanded"
        }}
         session"
      data-test-expanded-session={{includes obj.session.id @expandedSessionIds}}
      data-test-session
    >
      <div class="session-row">
        <span class="expand-collapse-control" data-test-expand-collapse-control>
          {{#if (includes obj.session.id @expandedSessionIds)}}
            <button
              class="link-button"
              type="button"
              data-test-collapse
              {{on "click" (fn @closeSession obj.session)}}
            >
              <FaIcon
                @icon="caret-down"
              />
            </button>
          {{else}}
            <button
              class="link-button {{if (eq obj.offeringCount 0) "disabled"}}"
              disabled={{if (eq obj.offeringCount 0) "disabled"}}
              type="button"
              data-test-expand
              {{on "click" (fn this.expandSession obj)}}
            >
              <FaIcon
                @icon="caret-right"
                @title={{if (eq obj.offeringCount 0) (t "general.noOfferings")}}
              />
            </button>
          {{/if}}
        </span>
        <span class="session-grid-title">
          <LinkTo @route="session" @models={{array obj.course obj.session}}>
            {{truncate obj.title 100 true}}
          </LinkTo>
        </span>
        <span class="session-grid-type">
          {{obj.sessionTypeTitle}}
        </span>
        <span class="session-grid-groups">
          {{obj.learnerGroupCount}}
        </span>
        <span class="session-grid-objectives">
          {{obj.objectiveCount}}
        </span>
        <span class="session-grid-terms">
          {{obj.termCount}}
        </span>
        <span class="session-grid-first-offering">
          {{#if (await obj.firstOfferingDate)}}
            {{#if obj.isIlm}}
              {{#if obj.postrequisite}}
                <strong>
                  {{t "general.ilm"}}:
                  <FaIcon @icon="user-clock" />
                  {{t "general.duePriorTo"}}:
                </strong>
                <LinkTo
                  @route="session"
                  @models={{array obj.course.id obj.postrequisite.id}}
                >
                  {{truncate obj.postrequisite.title 18 true}}
                </LinkTo>
              {{else}}
                <strong>
                  {{t "general.ilm"}}:
                  {{t "general.dueBy"}}
                </strong>
                {{format-date obj.firstOfferingDate}}
              {{/if}}
            {{else if obj.postrequisite}}
              <strong>
                <FaIcon @icon="user-clock" />
                {{t "general.duePriorTo"}}:
              </strong>
              <LinkTo
                @route="session"
                @models={{array obj.course.id obj.postrequisite.id}}
              >
                {{truncate obj.postrequisite.title 18 true}}
              </LinkTo>
            {{else}}
              {{format-date obj.firstOfferingDate month="numeric" day="numeric" year="numeric"  hour12=true hour="numeric" minute="numeric"}}
            {{/if}}
          {{/if}}
        </span>
        <span class="session-grid-offerings">
          {{obj.offeringCount}}
        </span>
        <span class="session-grid-status" data-test-status>
          {{#if (and obj.canUpdate obj.prerequisiteCount)}}
            <FaIcon
              @icon="sign-in-alt"
              @ariaHidden={{false}}
              class="prerequisites"
              @flip="horizontal"
              @title={{t "general.prerequisites"}}
              data-test-prerequisites
            />
          {{/if}}
          {{#if (and obj.canUpdate obj.instructionalNotes.length)}}
            <FaIcon
              @icon="clipboard-list"
              @ariaHidden={{false}}
              class="instructional-notes"
              @prefix="fal"
              @title={{t "general.instructionalNotes"}}
            />
          {{/if}}
          <PublicationStatus @item={{obj}} @showIcon={{true}} @showText={{false}} />
        </span>
        <span class="session-grid-actions" data-test-actions>
          {{#if (and obj.canUpdate (not obj.prerequisiteCount))}}
            <button
              class="link-button"
              type="button"
              {{on "click" (fn this.confirmDelete obj.session.id)}}
              data-test-delete
            >
              <FaIcon
                @icon="trash"
                @ariaHidden={{false}}
                class="remove enabled"
                @title={{t "general.remove"}}
              />
            </button>
          {{else}}
            <FaIcon
              @icon="trash"
              @ariaHidden={{false}}
              class="disabled"
              data-test-delete-disabled
              @title={{t "general.remove"}}
            />
          {{/if}}
        </span>
      </div>
      {{#if (includes obj.session.id this.confirmDeleteSessionIds)}}
        <div class="confirm-removal" data-test-confirm-removal>
          {{t "general.confirmSessionRemoval"}}
          <div class="confirm-buttons">
            <button
              class="cancel"
              type="button"
              data-test-yes
              disabled={{this.removeSession.isRunning}}
              {{on "click" (perform this.removeSession obj.session)}}
            >
              {{#if this.removeSession.isRunning}}
                <LoadingSpinner />
              {{else}}
                {{t "general.yes"}}
              {{/if}}
            </button>
            <button
              class="done"
              type="button"
              {{on "click" (fn this.cancelDelete obj.session.id)}}
            >
              {{t "general.cancel"}}
            </button>
          </div>
        </div>
      {{/if}}
      {{#if (includes obj.session.id @expandedSessionIds)}}
        <SessionsGridLastUpdated @session={{obj.session}} />
        <SessionsGridOfferingTable
          @canUpdate={{obj.canUpdate}}
          @offerings={{obj.session.offerings}}
        />
      {{/if}}
    </div>
  {{/each}}
</div>
