<div class="session-leadership-expanded-header">
  <div class="title collapsible clickable" role="button" {{on "click" @collapse}}>
    {{t "general.sessionAdministration"}}
  </div>
  <div class="actions">
    {{#if @isManaging}}
      <button class="bigadd" {{on "click" (perform this.save)}}>
        <FaIcon
          @icon={{if this.save.isRunning "spinner" "check"}}
          @spin={{if this.isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{on "click" (fn @setIsManaging false)}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if @canUpdate}}
      <button {{on "click" (fn @setIsManaging true)}}>
        {{t "general.manageLeadership"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="session-leadership-expanded-content">
  {{#if (is-array this.administrators)}}
    {{#if @isManaging}}
      <LeadershipManager
        @showAdministrators={{true}}
        @showDirectors={{false}}
        @administrators={{this.administrators}}
        @removeAdministrator={{action "removeAdministrator"}}
        @addAdministrator={{action "addAdministrator"}}
      />
    {{else}}
      <LeadershipList
        @showAdministrators={{true}}
        @showDirectors={{false}}
        @administrators={{this.administrators}}
      />
    {{/if}}
  {{else}}
    <LoadingSpinner @tagName="h3" />
  {{/if}}
</div>
