<div
  class="session-offerings-list"
  {{did-insert (perform this.load)}}
  {{did-update (perform this.load) @session}}
  data-test-session-offerings-list
>
  {{#each (await this.offeringBlocks) as |block|}}
    <div class="offering-block">
      <div class="offering-block-date">
        <span class="offering-block-date-dayofweek">
          {{block.dayOfWeek}}
        </span>
        <span class="offering-block-date-dayofmonth">
          {{format-date block.date month="long" day="numeric"}}
        </span>
      </div>
      {{#each block.offeringTimeBlocks as |offeringTimeBlock|}}
        <div class="offering-block-time">
          {{#if offeringTimeBlock.isMultiDay}}
            <div class="offering-block-time-time">
              <div class="offering-block-time-time-starts">
                <label class="offering-block-time-time-starts-label">
                  {{t "general.starts"}}:
                </label>
                {{offeringTimeBlock.longStartText}}
              </div>
              <div class="offering-block-time-time-ends">
                <label class="offering-block-time-time-ends-label">
                  {{t "general.ends"}}:
                </label>
                {{offeringTimeBlock.longEndText}}
              </div>
            </div>
          {{else}}
            <div class="offering-block-time-time">
              <span class="offering-block-time-time-starttime">
                <label class="offering-block-time-time-starttime-label">
                  {{t "general.starts"}}:
                </label>
                {{offeringTimeBlock.startTime}}
              </span>
              <span class="offering-block-time-time-endtime">
                <label class="offering-block-time-time-endtime-label">
                  {{t "general.ends"}}:
                </label>
                {{offeringTimeBlock.endTime}}
              </span>
            </div>
          {{/if}}
          <div class="offering-block-time-offerings" data-test-offerings>
            {{#each offeringTimeBlock.sortedOfferings as |offering|}}
              <OfferingManager
                @offering={{offering}}
                @remove={{this.removeOffering}}
                @editable={{@editable}}
              />
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
  {{#unless (is-array this.offeringBlocks)}}
    <LoadingSpinner />
  {{/unless}}
</div>
