<div class="single-event-learningmaterial-list" data-test-single-event-learningmaterial-list ...attributes>
  {{#if (or @learningMaterials.length @prework.length)}}
    <ul class="static-list prework">
      {{#each @prework as |event|}}
        <li data-test-prework-event>
          <FaIcon @title={{t "general.preWork"}} @icon="person-chalkboard" />
          <LinkTo @route="events" @model={{event.slug}} data-test-name>
            {{event.name}}
          </LinkTo>
          {{#each event.learningMaterials as |lm| }}
            <SingleEventLearningmaterialListItem @learningMaterial={{lm}} />
          {{/each}}
        </li>
      {{/each}}
    </ul>
    <ul class="static-list">
      {{#each @learningMaterials as |lm|}}
        <SingleEventLearningmaterialListItem @learningMaterial={{lm}} @linked={{true}} />
      {{/each}}
    </ul>
  {{else}}
    <p class="no-content">
      {{t "general.none"}}
    </p>
  {{/if}}
</div>
