<div
  class="single-event-objective-list"
  data-test-single-event-objective-list
>
  <h2 class="title" data-test-title>
    <button
      class={{if this.isExpanded "expanded" "expandable"}}
      type="button"
      {{on "click" (set this.isExpanded (not this.isExpanded))}}
      data-test-expand-collapse
    >
      {{@title}}
    </button>
    {{#if this.showDisplayModeToggle}}
      <button
        class={{unless this.isExpanded "disabled" (if this.groupByCompetencies "active")}}
        type="button"
        disabled={{not this.isExpanded}}
        {{on "click" (set this.groupByCompetencies (not this.groupByCompetencies))}}
        data-test-display-mode-toggle
      >
        {{#if this.groupByCompetencies}}
          <FaIcon @icon="indent" @title={{@listByPriorityPhrase}} />
        {{else}}
          <FaIcon @icon="list" @title={{@groupByCompetenciesPhrase}} />
        {{/if}}
      </button>
    {{/if}}
  </h2>
  {{#if this.isExpanded}}
    {{#if this.groupByCompetencies}}
      {{#if this.domains.length}}
        <ul class="tree" data-test-tree>
          {{#each this.domains as |domain|}}
            <li data-test-domain>
              <span data-test-domain-title>{{domain.title}}</span>
              <ul>
                {{#each domain.objectives as |title|}}
                  {{! template-lint-disable no-triple-curlies }}
                  <li class="objective" data-test-objective>
                    {{{title}}}
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class="no-content" data-test-no-content>
          {{t "general.none"}}
        </div>
      {{/if}}
    {{else}}
      <ul class="list-in-order" data-test-list>
        {{#each @objectives as |objective|}}
          <li class="objective" data-test-objective>
            {{! template-lint-disable no-triple-curlies }}
            <span data-test-objective-title>{{{objective.title}}}</span>
            <div class="details" data-test-domain>
              {{objective.domain}}
            </div>
          </li>
        {{else}}
          <li class="no-content" data-test-no-content>
            {{t "general.none"}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}
</div>
