<div class="single-event-learningmaterial-list">
  {{#if (or @learningMaterials.length @prework?.length)}}
    <ul class="static-list fa-ul">
      {{#each @prework as |event|}}
        <li class="prework-title" data-test-prework-event>
          <FaIcon @icon="dumpster-fire" @listItem={{true}} />
          <LinkTo @route="events" @model={{event.slug}}>
            {{event.name}}
          </LinkTo>
        </li>
        {{#each event.learningMaterials as |lm| }}
          <SingleEventLearningmaterialListItem @learningMaterial={{lm}} class="sub-item" />
        {{/each}}
      {{/each}}
      {{#each @learningMaterials as |lm|}}
        <SingleEventLearningmaterialListItem @learningMaterial={{lm}} @linked={{true}} />
      {{/each}}
    </ul>
  {{else}}
    <p class="no-content">
      {{t "general.none"}}
    </p>
  {{/if}}
</div>
