<div class="single-event-learningmaterial-list">
  {{#if @learningMaterials.length}}
    <ul class="static-list fa-ul">
      {{#each @learningMaterials as |lm|}}
        <li class="single-event-learningmaterial-item">
          {{#if lm.isBlanked}}
            <div class="single-event-learningmaterial-item-title">
              {{lm.title}}
            </div>
            <div class="single-event-learningmaterial-item-timing-info">
              <TimedReleaseSchedule
                @startDate={{lm.startDate}}
                @endDate={{lm.endDate}}
                @showNoSchedule={{false}}
              />
            </div>
          {{else}}
            <LmTypeIcon
              @type={{lm.type}}
              @mimetype={{lm.mimetype}}
              @listItem={{true}}
            />
            <div class="single-event-learningmaterial-item-title">
              {{#if lm.required}}
                <FaIcon @icon="star" @title={{t "general.required"}} />
              {{/if}}
              {{#if lm.absoluteFileUri}}
                {{#if (eq lm.mimetype "application/pdf")}}
                  <a id={{concat this.uniqueId lm.id "lm"}} href="{{lm.absoluteFileUri}}?inline">
                    {{lm.title}}
                  </a>
                  <a
                    id={{concat this.uniqueId lm.id "lmdownload"}}
                    target="_blank"
                    href={{lm.absoluteFileUri}}
                    rel="noopener noreferrer"
                    aria-label={{t "general.download"}}
                    aria-labelledby="{{concat this.uniqueId lm.id "lmdownload"}} {{concat this.uniqueId lm.id "lm"}}"
                  >
                    <FaIcon @icon="download" />
                  </a>
                {{else}}
                  <a target="_blank" href={{lm.absoluteFileUri}} rel="noopener noreferrer">
                    {{lm.title}}
                  </a>
                {{/if}}
                <span class="single-event-learningmaterial-filesize">
                  {{#if lm.filesize}}
                    ({{filesize lm.filesize}})
                  {{/if}}
                </span>
              {{else if lm.link}}
                <a target="_blank" href={{lm.link}} rel="noopener noreferrer">
                  {{lm.title}}
                </a>
              {{else}}
                {{lm.title}}
              {{/if}}
            </div>
            {{#if lm.citation}}
              <div class="single-event-learningmaterial-item-citation">
                {{lm.citation}}
              </div>
            {{/if}}
            <div class="single-event-learningmaterial-item-timing-info">
              <TimedReleaseSchedule
                @startDate={{lm.startDate}}
                @endDate={{lm.endDate}}
                @showNoSchedule={{false}}
              />
            </div>
            {{#if lm.description}}
              <div class="single-event-learningmaterial-item-description">
                {{! template-lint-disable no-triple-curlies }}
                {{{lm.description}}}
              </div>
            {{/if}}
            {{#if lm.publicNotes}}
              <div class="single-event-learningmaterial-item-notes">
                {{! template-lint-disable no-triple-curlies }}
                <FaIcon @icon="square-pen" />
                <p>
                  {{{lm.publicNotes}}}
                </p>
              </div>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="no-content">
      {{t "general.none"}}
    </p>
  {{/if}}
</div>
