<th
  class="sortable-th sortable text-{{this.align}} {{if this.hideFromSmallScreen "hide-from-small-screen"}}"
  colspan={{this.colspan}}
>
  <button
    type="button"
    title={{this.title}}
    {{on "click" this.click}}
  >
    {{yield}}<FaIcon @icon={{this.sortIcon}} />
  </button>
</th>

