<span
  class="sortable-heading sortable clickable text-{{this.align}} {{@class}} {{if this.hideFromSmallScreen "hide-from-small-screen"}}"
  colspan={{this.colspan}}
  role="button"
  title={{this.title}}
  {{on "click" this.click}}
>
  {{yield}}<FaIcon @icon={{this.sortIcon}} />
</span>
