<span class="toggle-buttons">
  <input
    type="radio"
    id={{concat "first-toggle-" this.uniqueId}}
    name={{concat "toggle-" this.uniqueId}}
    checked={{eq @firstOptionSelected true}}
    {{on "click" (action "firstChoice")}}
  >
  <label for={{concat "first-toggle-" this.uniqueId}}>
    {{@firstLabel}}
  </label>
  <input
    type="radio"
    id={{concat "second-toggle-" this.uniqueId}}
    name={{concat "toggle-" this.uniqueId}}
    checked={{eq @firstOptionSelected false}}
    {{on "click" (action "secondChoice")}}
  >
  <label for={{concat "second-toggle-" this.uniqueId}}>
    {{@secondLabel}}
  </label>
</span>
