<button
  aria-checked="{{if this.yes "true" "false"}}"
  aria-label="{{if this.yes (t "general.yes") (t "general.no")}}"
  class="toggle-yesno"
  data-test-toggle-yesno
  role="switch"
  type="button"
  {{on "click" this.click}}
>
  <span
    class="switch-label"
    data-on={{t "general.yes"}}
    data-off={{t "general.no"}}
    data-test-label
  ></span>
  <span class="switch-handle" data-test-handle></span>
</button>
