<span class="toggle-buttons" data-test-toggle-buttons ...attributes>
  <input
    type="radio"
    id={{concat "first-toggle-" this.uniqueId}}
    name={{concat "toggle-" this.uniqueId}}
    checked={{eq @firstOptionSelected true}}
    {{on "click" this.firstChoice}}
  >
  <label
    for={{concat "first-toggle-" this.uniqueId}}
    data-test-first
    data-test-selected={{@firstOptionSelected}}
  >
    {{@firstLabel}}
  </label>
  <input
    type="radio"
    id={{concat "second-toggle-" this.uniqueId}}
    name={{concat "toggle-" this.uniqueId}}
    checked={{eq @firstOptionSelected false}}
    {{on "click" this.secondChoice}}
  >
  <label
    for={{concat "second-toggle-" this.uniqueId}}
    data-test-second
    data-test-selected={{not @firstOptionSelected}}
  >
    {{@secondLabel}}
  </label>
</span>
