{{#if (has-block)}}
  {{yield this.displayText this.expand this.collapse this.isTruncated this.expanded}}
{{else}}
  <span class="truncate-text" data-test-truncate-text ...attributes>
    {{this.displayText}}
    {{#if this.isTruncated}}
      <FaIcon @icon="ellipsis" @transform="down-6"/>
      <button
        class="expand-buttons"
        aria-label={{t "general.expand"}}
        title={{t "general.expand"}}
        type="button"
        data-test-expand
        {{on "click" this.expand}}
      >
        <FaIcon @icon="angles-down" />
      </button>
    {{else}}
      {{#if this.expanded}}
        <button
          class="expand-buttons"
          aria-label={{t "general.collapse"}}
          title={{t "general.collapse"}}
          type="button"
          data-test-collapse
          {{on "click" this.collapse}}
        >
          <FaIcon @icon="angles-up" />
        </button>
      {{/if}}
    {{/if}}
  </span>
{{/if}}
