<span
  class="user-name-info"
  data-test-user-name-info
  {{did-insert this.load}}
  {{did-update this.load @user}}
  ...attributes
>
  <span data-test-fullname>{{this.fullName}}</span>
  {{#if this.hasDifferentCampusNameOfRecord}}
    <span
      data-test-info
      {{did-insert (set this.theElement)}}
      {{mouse-hover-toggle this.toggleUsernameInfoHover}}
    >
      <FaIcon
        @icon="circle-info"
        aria-label={{t "general.campusNameOfRecord"}}
        class="info"
      />
      {{#if this.isHoveringOverUsernameInfo}}
        <IliosTooltip @target={{this.theElement}}>
          <strong>{{t "general.campusNameOfRecord"}}:</strong>
          {{this.campusNameOfRecord}}
        </IliosTooltip>
      {{/if}}
    </span>
  {{/if}}
</span>
