<div
  class="visualizer-course-instructor-term {{unless @isIcon "not-icon"}}"
  data-test-visualizer-course-instructor-term
  {{did-insert (perform this.load)}}
  ...attributes
>
  {{#unless this.load.isRunning}}
    {{#if (or @isIcon this.data.length)}}
      <SimpleChart
        @name="horz-bar"
        @isIcon={{@isIcon}}
        @data={{this.data}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{/if}}
  {{/unless}}
</div>
