<div
  class="visualizer-course-instructor-term {{if (not @isIcon) "not-icon"}}"
  {{did-insert (perform this.load) @course @user}}
  {{did-update (perform this.load) @course @user}}
>
  {{#unless this.load.isRunning}}
    {{#if (or @isIcon this.data.length)}}
      <SimpleChart
        @name="horz-bar"
        @isIcon={{@isIcon}}
        @data={{this.data}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{/if}}
  {{/unless}}
</div>
