<div
  class="visualizer-course-objectives {{unless @isIcon "not-icon"}}"
  data-test-visualizer-course-objectives
  ...attributes
>
  {{#if this.isLoaded}}
    {{#if (or @isIcon this.objectiveWithMinutes.length)}}
      <SimpleChart
        @name="donut"
        @isIcon={{@isIcon}}
        @data={{this.objectiveWithMinutes}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{else}}
      <div class="with-hours" data-test-with-hours>
        <p>
          {{t "general.objectivesWithNoLink"}}
        </p>
        <h4>
          <FaIcon @icon="meh" class="meh-o" />
        </h4>
      </div>
    {{/if}}
    {{#unless (or @isIcon (not this.objectiveWithoutMinutes.length))}}
      <div class="zero-hours" data-test-zero-hours>
        <h4>
          <FaIcon @icon="triangle-exclamation" class="warning" />
          {{t "general.unusedObjectives"}}:
        </h4>
        <p>
          {{t "general.objectivesWithNoHours"}}
        </p>
        <ul>
          {{#each
            (sort-by
              "meta.courseObjective.title" this.objectiveWithoutMinutes
            ) as |obj|
          }}
            {{! template-lint-disable no-triple-curlies}}
            <li>
              {{{obj.meta.courseObjective.title}}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/unless}}
  {{/if}}
  {{#if (or @isIcon this.objectiveWithMinutes.length)}}
    <div class="data-table">
      <table>
        <thead>
          <tr>
            <th>{{t "general.percentage"}}</th>
            <th>{{t "general.courseObjective"}}</th>
            <th>{{t "general.competency"}}</th>
            <th>{{t "general.sessions"}}</th>
            <th>{{t "general.minutes"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (sort-by "minutes" this.tableData) as |row|}}
            <tr>
              <td>{{row.percentage}}</td>
              <td class="objective">{{{row.objective}}}</td>
              <td>{{row.competency}}</td>
              <td>{{row.sessionTitles}}</td>
              <td>{{row.minutes}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>
