<div
  class="visualizer-course-vocabularies {{unless @isIcon "not-icon"}}"
>
  {{#if this.isLoaded}}
    {{#if (or @isIcon this.data.length)}}
      <SimpleChart
        @name="donut"
        @isIcon={{@isIcon}}
        @data={{this.data}}
        @onClick={{this.donutClick}}
        @hover={{perform this.donutHover}}
        @leave={{perform this.donutHover}} as |chart|
      >
        {{#if this.tooltipContent}}
          <chart.tooltip @title={{this.tooltipTitle}}>
            {{this.tooltipContent}}
          </chart.tooltip>
        {{/if}}
      </SimpleChart>
    {{/if}}
  {{/if}}
</div>
