<div class="event" data-test-week-glance-event>
  <h3 id={{concat "event" @event.slug}} class="event-title">
    <span
      id={{concat "event" @event.slug "title"}}
      data-test-event-title
    >
      <LinkTo
        id={{concat "event" @event.slug "link"}}
        @route="events"
        @model={{@event.slug}}
        aria-labelledby="{{concat "event" @event.slug "title"}} {{concat "event" @event.slug "date"}} {{concat "event" @event.slug "link"}}"
      >
        {{@event.name}}
      </LinkTo>
    </span>
    <span id={{concat "event" @event.slug "date"}} class="date" data-test-date>
      {{#if @event.ilmSession}}
        <span class="ilm-due">
          {{t "general.dueBy"}}
        </span>
      {{/if}}
      {{format-date @event.startDate weekday="long" hour="numeric" minute="numeric"}}
    </span>
  </h3>
  {{#if @event.prerequisites.length}}
    <p class="pre-work" data-test-pre-work>
      <strong>
        {{t "general.preWork"}}
      </strong>
      :
      <ol>
        {{#each @event.prerequisites as |event|}}
          <li>
            <LinkTo @route="events" @model={{event.slug}}>
              {{event.name}}
            </LinkTo>
          </li>
        {{/each}}
      </ol>
    </p>
  {{/if}}
  <p>
    <span class="sessiontype" data-test-session-type>
      {{@event.sessionTypeTitle}}
    </span>
    {{#if @event.location}}
      <span class="location" data-test-location>
        - {{@event.location}}
      </span>
    {{/if}}
    <OfferingUrlDisplay @url={{@event.url}} class="url" data-test-url />
    <span class="session-attributes" data-test-session-attributes>
      {{#if @event.attireRequired}}
        <FaIcon
          @icon="black-tie"
          @prefix="fab"
          @ariaHidden={{false}}
          @title={{t "general.whitecoatsSlashSpecialAttire"}}
        />
      {{/if}}
      {{#if @event.equipmentRequired}}
        <FaIcon
          @icon="flask"
          @ariaHidden={{false}}
          @title={{t "general.specialEquipment"}}
        />
      {{/if}}
      {{#if @event.attendanceRequired}}
        <FaIcon
          @icon="calendar-check"
          @ariaHidden={{false}}
          @title={{t "general.attendanceIsRequired"}}
        />
      {{/if}}
      {{#if @event.supplemental}}
        <FaIcon
          @icon="calendar-minus"
          @ariaHidden={{false}}
          @title={{t "general.supplementalCurriculum"}}
        />
      {{/if}}
    </span>
  </p>
  {{#if @event.instructors.length}}
    <div class="instructors" data-test-instructors>
      <label>
        {{t "general.instructors"}}:
      </label>
      {{join ", " (sort-by this.sortString @event.instructors)}}
    </div>
  {{/if}}
  {{#if @event.sessionDescription.length}}
    <p class="description" data-test-description>
      <TruncateText @text={{@event.sessionDescription}} @length={{50}} />
    </p>
  {{/if}}
  {{#if this.hasSessionLearningMaterials}}
    <ul class="learning-materials" data-test-learning-materials>
      {{#each this.sessionLearningMaterials as |lm index|}}
        <li class="learning-material" data-test-learning-material>
          {{#if lm.isBlanked}}
            <span class="lm-type-icon" data-test-type-icon>
              <FaIcon @icon="clock" @title={{t "general.timedRelease"}} />
            </span>
            <span data-test-material-title>
              {{lm.title}}
            </span>
          {{else}}
            <LmTypeIcon @type={{lm-type lm}} @mimetype={{lm.mimetype}} />
            {{#if lm.absoluteFileUri}}
              {{#if (eq lm.mimetype "application/pdf")}}
                <a
                  id={{concat "event" @event.slug "lm" index}}
                  href="{{lm.absoluteFileUri}}?inline"
                  aria-labelledby="{{concat "event" @event.slug "lm" index}} {{concat "event" @event.slug "title"}}"
                  data-test-material-title
                >
                  {{lm.title}}
                </a>
                <a
                  id={{concat "event" @event.slug "lmdownload" index}}
                  href={{lm.absoluteFileUri}}
                  aria-label={{t "general.download"}}
                  aria-labelledby="{{concat "event" @event.slug "lmdownload" index}} {{concat "event" @event.slug "lm" index}} {{concat "event" @event.slug "title"}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <FaIcon @icon="download" />
                </a>
              {{else}}
                <a
                  id={{concat "event" @event.slug "lm" index}}
                  href={{lm.absoluteFileUri}}
                  aria-labelledby="{{concat "event" @event.slug "lm" index}} {{concat "event" @event.slug "title"}}"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-test-material-title
                >
                  {{lm.title}}
                </a>
              {{/if}}
            {{else if lm.link}}
              <a
                id={{concat "event" @event.slug "lm" index}}
                href={{lm.link}}
                aria-labelledby="{{concat "event" @event.slug "lm" index}} {{concat "event" @event.slug "title"}}"
                target="_blank"
                rel="noopener noreferrer"
                data-test-material-title
              >
                {{lm.title}}
              </a>
            {{else}}
              <span data-test-material-title>
                {{lm.title}}
              </span>
              <ul data-test-citation>
                <li>
                  <small>
                    {{lm.citation}}
                  </small>
                </li>
              </ul>
            {{/if}}
            {{#if lm.publicNotes}}
              <p class="public-notes" data-test-public-notes>
                <TruncateText @text={{lm.publicNotes}} @length={{50}} />
              </p>
            {{/if}}
          {{/if}}
          <span class="timed-release-info" data-test-time-release-info>
            <TimedReleaseSchedule
              @startDate={{lm.startDate}}
              @endDate={{lm.endDate}}
              @showNoSchedule={{false}}
            />
          </span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
