<div
  {{! template-lint-disable no-inline-styles }}
  style={{this.style}}
  class="
    weekly-calendar-event
    day-{{@day}}
    start-minute-{{this.startMinute}}
    total-minutes-{{this.totalMinutes}}
  "
>
  {{@event.name}}
</div>
