<div
  class="week-glance"
  data-test-week-glance
  {{did-insert this.scrollOnLoad}}
>
  {{#if @collapsible}}
    <button
      type="button"
      class="title collapsible {{if @collapsed "collapsed" "expanded"}}"
      data-test-week-title
      {{on "click" (fn (optional @toggleCollapsed) @collapsed)}}
    >
      {{this.title}}
      {{#if @showFullTitle}}
        {{t "general.weekAtAGlance"}}
      {{/if}}
    </button>
  {{else}}
    <h2 class="title"
      role={{if @collapsible "button"}}
      data-test-week-title
    >
      {{this.title}}
      {{#if @showFullTitle}}
        {{t "general.weekAtAGlance"}}
      {{/if}}
    </h2>
  {{/if}}
  {{#unless @collapsed}}
    {{#unless this.load.isRunning}}
      {{#if (gt this.nonIlmPreWorkEvents.length 0)}}
        {{#each this.nonIlmPreWorkEvents as |event|}}
          <WeekGlanceEvent @event={{event}} />
        {{/each}}
      {{else}}
        <p>
          {{t "general.none"}}
        </p>
      {{/if}}
    {{else}}
      <p>
        <FaIcon @icon="spinner" @spin={{true}} />
        {{t "general.loadingEvents"}}
      </p>
    {{/unless}}
  {{/unless}}
</div>
