<section
  class="weekly-calendar"
  data-test-weekly-calendar
>
  <h2 class="week-of-year" data-test-week-of-year>
    <span class="short" data-test-short>
      {{moment-format this.firstDayOfWeek "M/D"}} &mdash;
      {{moment-format this.lastDayOfWeek "M/D"}}
      {{moment-format this.lastDayOfWeek "YYYY"}}
    </span>
    <span class="long" data-test-long>{{t "general.weekOf" date=(moment-format this.firstDayOfWeek "MMMM Do YYYY")}}</span>
  </h2>

  <div
    class="days"
    tabindex="0"
    {{did-insert (fn this.scrollView) this.earliestHour}}
    {{did-update (fn this.scrollView) this.earliestHour}}
  >
    <div class="hours">
      {{#each this.hours as |hour|}}
        <span aria-hidden="true" class="hour hour-{{hour.hour}}" {{ref this (concat "hour" hour.hour)}}>
          {{hour.name}}
        </span>
      {{/each}}
    </div>
    {{#each this.days as |day|}}
      <h3 class="day-name" data-test-day-name>
        <button
          type="button"
          {{on "click" (fn @changeToDayView day.date)}}
        >
          {{day.longName}}
        </button>
      </h3>
      <div class="events day-{{day.dayOfWeek}}">
        {{#each day.events as |event|}}
          <WeeklyCalendarEvent
            @event={{event}}
            @day={{day.dayOfWeek}}
            @allDayEvents={{day.events}}
            @selectEvent={{if event.isMulti (fn @changeToDayView event.startDate) (fn @selectEvent event)}}
          />
        {{/each}}
      </div>
    {{/each}}
    {{#each this.hours as |hour|}}
      <div class="hour-border hour-{{hour.hour}}" aria-hidden="true"></div>
      <div class="half-hour-border half-hour-{{hour.hour}}" aria-hidden="true"></div>
    {{/each}}
  </div>
  <div class="day-headings" aria-hidden="true" data-test-day-headings>
    {{#each this.week as |day|}}
      <div class="day-heading day-{{day.dayOfWeek}}">
        <button
          type="button"
          {{on "click" (fn @changeToDayView day.date)}}
          tabindex="-1"
          data-test-long
          aria-label={{day.longName}}
        >
          <span class="long">{{day.longName}}</span>
          <span class="short">{{day.shortName}}</span>
        </button>
      </div>
    {{/each}}
  </div>
</section>
