<div class="weekly-events" data-test-weekly-events>
  <div class="year" data-test-top-nav>
    <h2>
      <FaIcon
        @icon="backward"
        @title={{t "general.goToPreviousYear"}}
        @click={{this.decrementYear}}
        role="button"
        class="clickable link"
        data-test-previous
      />
      <span data-test-year>{{@year}}</span>
      <FaIcon
        @icon="forward"
        @title={{t "general.goToNextYear"}}
        @click={{this.incrementYear}}
        role="button"
        class="clickable link"
        data-test-next
      />
    </h2>
  </div>
  {{#each this.weeksInYear as |week|}}
    <WeekGlance
      @collapsible={{true}}
      @collapsed={{not (includes week @expandedWeeks)}}
      @year={{@year}}
      @week={{week}}
      @toggleCollapsed={{fn @toggleOpenWeek week}}
    />
  {{/each}}
  <div class="year" data-test-bottom-nav>
    <h2>
      <FaIcon
        @icon="backward"
        @title={{t "general.goToPreviousYear"}}
        @click={{this.decrementYear}}
        role="button"
        class="clickable link"
        data-test-previous
      />
      <span data-test-year>{{@year}}</span>
      <FaIcon
        @icon="forward"
        @title={{t "general.goToNextYear"}}
        @click={{this.incrementYear}}
        role="button"
        class="clickable link"
        data-test-next
      />
    </h2>
  </div>
</div>
