<section id='selected-directors' class='halfwidth'>
  <h3>{{t "programs.programYear.directors.selected"}}</h3>
  <ul>
    {{#each}}
      <li>
        <span {{translateAttr title="programs.programYear.removeDirector"}} class='remove' {{action "remove" this}}>{{fa-icon "times-circle"}}</span>
        {{fullName}} {{email}}
      </li>
    {{/each}}
  </ul>
</section>
<section id='available-directors' class='halfwidth'>
  <h3>{{t "programs.programYear.directors.available"}}</h3>
  <div class="search-bar">
    <div class="search-and-submit">
      {{input action="search" type="search" value=searchTerm placeholder="Search directors"}}
      <button class='search' {{translateAttr title="programs.programYear.directors.search"}} {{action 'search'}} type="submit">
        {{fa-icon 'search'}}
      </button>
    </div>
  </div>
  {{#if showResults}}
    {{#if hasResults}}
      <ul>
        {{#each searchResults}}
          {{render 'programyear/directorresult' this}}
        {{/each}}
      </ul>
    {{else}}
      <p>{{t "programs.programYear.directors.noResults"}}</p>
    {{/if}}
  {{/if}}
</section>
