<div
  data-test-learner-group-bulk-finalize-users
  ...attributes
>
  <h3>
    {{t "general.finalResults"}}
  </h3>
  <table data-test-final-data>
    <thead>
      <tr>
        <th>
          {{t "general.name"}}
        </th>
        <th>
          {{t "general.campusId"}}
        </th>
        <th>
          {{t "general.learnerGroups"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.finalData as |obj|}}
        <tr>
          <td>
            <UserNameInfo @user={{obj.user}} />
          </td>
          <td>
            {{obj.user.campusId}}
          </td>
          <td>
            {{obj.learnerGroup.title}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button
    type="button"
    disabled={{this.save.isRunning}}
    data-test-finalize-users-submit
    {{on "click" (perform this.save)}}
  >
    {{#if this.save.isRunning}}
      <LoadingSpinner />
    {{else}}
      {{t "general.save"}}
    {{/if}}
  </button>
</div>
