<div
  class="learner-group-instructor-manager"
  {{did-insert (perform this.load) @learnerGroup}}
  {{did-update (perform this.load) @learnerGroup}}
  data-test-learner-group-instructor-manager
>
  {{#unless this.load.isRunning}}
    <div class="detail-header">
      <div class="title" data-test-title>
        {{#if this.isManaging}}
          {{t "general.manageDefaultInstructors"}}
        {{else}}
          {{t "general.defaultInstructors"}} ({{get (await @learnerGroup.allInstructors) "length"}})
        {{/if}}
      </div>
      {{#if this.isManaging}}
        <div class="actions">
          <button type="button" class="bigadd" {{on "click" (perform this.saveChanges)}} data-test-save>
            <FaIcon
              @icon={{if this.saveChanges.isRunning "spinner" "check"}}
              @spin={{if this.saveChanges.isRunning true false}}
            />
          </button>
          <button type="button" class="bigcancel" {{ on "click" (set this.isManaging false)}} data-test-cancel>
            <FaIcon @icon="arrow-rotate-left" />
          </button>
        </div>
      {{else}}
        {{#if @canUpdate}}
          <button type="button" {{on "click" (set this.isManaging true)}} data-test-manage>
            {{t "general.instructorsManageTitle"}}
          </button>
        {{/if}}
      {{/if}}
    </div>
    <div class="detail-content">
      {{#if this.isManaging}}
        {{#if this.instructors.length}}
          <h4>
            {{t "general.instructors"}}
          </h4>
          <ul class="removable-instructors">
            {{#each (sort-by "fullName" this.instructors) as |user|}}
              <li>
                <button
                  class="link-button"
                  type="button"
                  {{on "click" (fn this.removeInstructor user)}}
                  data-test-selected-instructor
                >
                  <UserNameInfo @user={{user}} />
                  <FaIcon @icon="xmark" class="remove" />
                </button>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if this.instructorGroups.length}}
          <h4>
            {{t "general.instructorGroups"}}
          </h4>
          <div class="removable-instructor-groups">
            {{#each (sort-by "title" this.instructorGroups) as |instructorGroup|}}
              <div class="removable-instructor-group" data-test-selected-instructor-group>
                <button
                  class="link-button"
                  type="button"
                  data-test-instructor-group-title
                  {{on "click" (fn this.removeInstructorGroup instructorGroup)}}
                >
                  <FaIcon @icon="users" />
                  {{instructorGroup.title}}
                  <FaIcon @icon="xmark" class="remove" />
                </button>
                <br>
                <ul class="instructorgroup-members-list">
                  {{#each (sort-by "fullName" (await instructorGroup.users)) as |user|}}
                    <li data-test-instructor-group-member>
                      <UserNameInfo @user={{user}} />
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </div>
        {{/if}}
        <UserSearch
          @addUser={{this.addInstructor}}
          @addInstructorGroup={{this.addInstructorGroup}}
          @currentlyActiveUsers={{this.instructors}}
          @availableInstructorGroups={{this.availableInstructorGroups}}
          @currentlyActiveInstructorGroups={{this.instructorGroups}}
        />
      {{else}}
        {{#if (get (await @learnerGroup.allInstructors) "length")}}
          <ul class="assigned-instructors">
            {{#each (sort-by "fullName" (await @learnerGroup.allInstructors)) as |instructor|}}
              <li data-test-assigned-instructor>
                <UserNameInfo @user={{instructor}} />
              </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
    </div>
  {{/unless}}
</div>
