{{#let (unique-id) as |templateId|}}
  <div class="learner-group-user-manager" ...attributes data-test-learner-group-user-manager>
    {{#if @users.length}}
      <div class="actions">
        <Input
          @value={{this.filter}}
          placeholder={{t "general.filterByNameOrEmail"}}
          aria-label={{t "general.filterByNameOrEmail"}}
          data-test-filter
        />
      </div>
      <div class="learner-group-user-manager-content">
        <div class="list">
          <table data-test-headers>
            <thead>
              <tr>
                <th class="text-left" colspan="1">
                  {{#if @isEditing}}
                    <Input
                      @type="checkbox"
                      @checked={{and
                        (includes this.selectableUsers this.selectedUsers)
                        this.selectedUsers.length
                      }}
                      indeterminate={{and
                        (not (includes this.selectableUsers this.selectedUsers))
                        this.selectedUsers.length
                      }}
                      aria-label={{t "general.selectAllOrNone"}}
                      {{on "click" this.toggleUserSelectionAllOrNone}}
                    />
                  {{/if}}
                </th>
                <SortableTh
                  @colspan={{4}}
                  @onClick={{fn this.setSortBy "fullName"}}
                  @sortedBy={{or (eq @sortBy "fullName") (eq @sortBy "fullName:desc")}}
                  @sortedAscending={{this.sortedAscending}}
                >
                  {{t "general.name"}}
                </SortableTh>
                <th class="text-left" colspan="2">
                  {{t "general.campusId"}}
                </th>
                <th class="text-left hide-from-small-screen" colspan="5">
                  {{t "general.email"}}
                </th>
                {{#if @isEditing}}
                  <SortableTh
                    @colspan={{2}}
                    @onClick={{fn this.setSortBy "lowestGroupInTreeTitle"}}
                    @sortedBy={{or (eq @sortBy "lowestGroupInTreeTitle") (eq @sortBy "lowestGroupInTreeTitle:desc")}}
                    @sortedAscending={{this.sortedAscending}}
                  >
                    {{t "general.groupName"}}
                  </SortableTh>
                  <th class="text-left" colspan="1">
                    {{t "general.actions"}}
                  </th>
                {{/if}}
              </tr>
            </thead>
          </table>
          {{#if @isEditing}}
            <div class="title" data-test-group-members>
              {{t "general.groupMembers"}}
              ({{this.usersInCurrentGroup.length}})
            </div>
          {{/if}}
          <table>
            <tbody data-test-users-in-current-group>
              {{#each (sort-by @sortBy this.usersInCurrentGroup) as |user index|}}
                <tr class={{unless user.enabled "disabled-user-account" ""}}>
                  <td class="text-left" colspan="1">
                    {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                      <input
                        aria-labelledby="selected-username-{{index}}-{{templateId}}"
                        type="checkbox"
                        checked={{includes user.content this.selectedUsers}}
                        {{on "click" (fn this.toggleUserSelection user.content)}}
                      >
                    {{/if}}
                    {{#unless user.enabled}}
                      <FaIcon
                        @icon="user-xmark"
                        @title={{t "general.disabled"}}
                        class="error"
                        data-test-is-disabled
                      />
                    {{/unless}}
                  </td>
                  <td class="text-left" colspan="4">
                    {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                      <button
                        class="inline-button"
                        type="button"
                        {{on "click" (fn this.toggleUserSelection user.content)}}
                      >
                        <UserNameInfo id="selected-username-{{index}}-{{templateId}}" @user={{user}} />
                      </button>
                    {{else}}
                      <UserNameInfo id="selected-username-{{index}}-{{templateId}}" @user={{user}} />
                    {{/if}}
                  </td>
                  <td class="text-left" colspan="2">
                    {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                      <button
                        class="inline-button"
                        type="button"
                        {{on "click" (fn this.toggleUserSelection user.content)}}
                      >
                        {{user.campusId}}
                      </button>
                    {{else}}
                      {{user.campusId}}
                    {{/if}}
                  </td>
                  <td class="text-left hide-from-small-screen" colspan="5">
                    {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                      <button
                        class="inline-button"
                        type="button"
                        {{on "click" (fn this.toggleUserSelection user.content)}}
                      >
                        {{user.email}}
                      </button>
                    {{else}}
                      {{user.email}}
                    {{/if}}
                  </td>
                  {{#if @isEditing}}
                    <td class="text-left" colspan="2">
                      <LinkTo
                        @route="learner-group"
                        @model={{user.lowestGroupInTree}}
                        @query={{hash isEditing=@isEditing sortUsersBy=@sortBy}}
                      >
                        {{user.lowestGroupInTree.title}}
                      </LinkTo>
                    </td>
                    <td>
                      {{#if (includes user.content this.usersBeingMoved)}}
                        <LoadingSpinner />
                      {{else if user.enabled}}
                        {{#if (eq this.selectedUsers.length 0)}}
                          <button
                            type="button"
                            class="link-button"
                            {{on "click" (perform this.removeSingleUser user.content)}}
                            data-test-remove-user
                          >
                            <FaIcon
                              @icon="minus"
                              class="no"
                              @title={{t
                                "general.removeLearnerToCohort"
                                cohort=@cohortTitle
                                count=1
                              }}
                            />
                          </button>
                        {{/if}}
                      {{/if}}
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{#if @isEditing}}
            <div class="title" data-test-all-other-members>
              {{t "general.allOtherMembers" topLevelGroupTitle=@topLevelGroupTitle}}
              ({{this.usersNotInCurrentGroup.length}})
            </div>
            <table>
              <tbody data-test-users-not-in-current-group>
                {{#each (sort-by @sortBy this.usersNotInCurrentGroup) as |user index|}}
                  <tr class={{unless user.enabled "disabled-user-account" ""}}>
                    <td class="text-left" colspan="1">
                      {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                        <input
                          aria-labelledby="cohort-username-{{index}}-{{templateId}}"
                          type="checkbox"
                          checked={{includes user.content this.selectedUsers}}
                          {{on "click" (fn this.toggleUserSelection user.content)}}
                        >
                      {{/if}}
                      {{#unless user.enabled}}
                        <FaIcon
                          @icon="user-xmark"
                          @title={{t "general.disabled"}}
                          class="error"
                          data-test-is-disabled
                        />
                      {{/unless}}
                    </td>
                    <td class="text-left" colspan="4">
                      {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                        <button
                          class="inline-button"
                          type="button"
                          {{on "click" (fn this.toggleUserSelection user.content)}}
                        >
                          <UserNameInfo id="cohort-username-{{index}}-{{templateId}}" @user={{user}} />
                        </button>
                      {{else}}
                        <UserNameInfo id="cohort-username-{{index}}-{{templateId}}" @user={{user}} />
                      {{/if}}
                    </td>
                    <td class="text-left" colspan="2">
                      {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                        <button
                          class="inline-button"
                          type="button"
                          {{on "click" (fn this.toggleUserSelection user.content)}}
                        >
                          {{user.campusId}}
                        </button>
                      {{else}}
                        {{user.campusId}}
                      {{/if}}
                    </td>
                    <td class="text-left hide-from-small-screen" colspan="5">
                      {{#if (and @isEditing (or user.enabled this.currentUser.isRoot))}}
                        <button
                          class="inline-button"
                          type="button"
                          {{on "click" (fn this.toggleUserSelection user.content)}}
                        >
                          {{user.email}}
                        </button>
                      {{else}}
                        {{user.email}}
                      {{/if}}
                    </td>
                    {{#if @isEditing}}
                      <td class="text-left" colspan="2">
                        <LinkTo
                          @route="learner-group"
                          @model={{user.lowestGroupInTree}}
                          @query={{hash isEditing=@isEditing sortUsersBy=@sortBy}}
                        >
                          {{user.lowestGroupInTree.title}}
                        </LinkTo>
                      </td>
                      <td>
                        {{#if (includes user.content this.usersBeingMoved)}}
                          <LoadingSpinner />
                        {{else if user.enabled}}
                          {{#if (eq this.selectedUsers.length 0)}}
                            <button
                              type="button"
                              class="link-button"
                              {{on "click" (perform this.addSingleUser user.content)}}
                              data-test-add-user
                            >
                              <FaIcon
                                @icon="plus"
                                class="yes"
                                @title={{t
                                  "general.moveToGroup"
                                  groupTitle=@learnerGroupTitle
                                  count=1
                                }}
                              />
                            </button>
                          {{/if}}
                        {{/if}}
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        </div>
      </div>
      {{#if (gt this.selectedUsers.length 0)}}
        <p class="fullwidth">
          <button type="button" class="done text" {{on "click" (perform this.addSelectedUsers)}}>
            {{t
              "general.moveToGroup"
              groupTitle=@learnerGroupTitle
              count=this.selectedUsers.length
            }}
          </button>
          <button type="button" class="cancel text" {{on "click" (perform this.removeSelectedUsers)}}>
            {{t
              "general.removeLearnerToCohort"
              cohort=@cohortTitle
              count=this.selectedUsers.length
            }}
          </button>
        </p>
      {{/if}}
    {{/if}}
  </div>
{{/let}}
