<div
  class="programyear-header"
  data-test-programyear-header
  ...attributes
>
  <div class="backtolink">
    {{#if (is-fulfilled @programYear.program)}}
      <LinkTo @route="program" data-test-back-to-program>
        {{t "general.backToProgramYears"}}
      </LinkTo>
    {{/if}}
  </div>
  <header>
    <div class="title">
      {{#if @programYear.locked}}
        <FaIcon @icon="lock" />
      {{/if}}
      {{#if @programYear}}
        <h4 data-test-matriculation-year>
          {{t "general.matriculationYear"}}
          {{#if this.academicYearCrossesCalendarYearBoundaries}}
            {{@programYear.startYear}} - {{add @programYear.startYear 1}}
          {{else}}
            {{@programYear.startYear}}
          {{/if}}
        </h4>
        <h5 data-test-cohort>
          {{#if (get (await @programYear.cohort) "title")}}
            {{get (await @programYear.cohort) "title"}}
          {{else}}
            {{t "general.classOf" year=(await @programYear.classOfYear)}}
          {{/if}}
        </h5>
      {{/if}}
    </div>
  </header>
</div>
