{{#if @isSelected}}
  <li>
    <label class="selected">
      <input
        type="radio"
        checked="checked"
        {{on "click" @remove}}
      >
      {{@competency.title}}
    </label>
  </li>
{{else if (includes @competency.id (map-by "id" @programYearCompetencies))}}
  <li>
    <label>
      <input
        type="radio"
        {{on "click" (fn @add @competency.id)}}
      >
      {{@competency.title}}
    </label>
  </li>
{{/if}}
