<section
  class="program-year-manage-objective-competency"
  data-test-program-year-manage-objective-competency
>
  <h3 class="objective-title" data-test-objective-title>
    {{! template-lint-disable no-triple-curlies }}
    {{{@objectiveTitle}}}
  </h3>
  {{#if @domains.length}}
    <ul class="parent-picker" data-test-parent-picker>
      {{#each @domains as |domain|}}
        <li class="domain {{if
              (or
                (eq @selected.id domain.id)
                (contains @selected.id (map-by "id" domain.competencies))
              )
              "selected"
            }}"
            data-test-domain
        >
          {{#if (eq @selected.id domain.id)}}
            <label {{on "click" @remove}} class="domain-title selected">
              <input type="radio" checked="checked">
              {{domain.title}}
            </label>
          {{else}}
            <label {{on "click" (fn @add domain.id)}} class="domain-title">
              <input type="radio">
              {{domain.title}}
            </label>
          {{/if}}
          <ul>
            {{#each (sort-by "title" domain.competencies) as |competency|}}
              <li>
                <ProgramYear::ManageObjectiveCompetencyItem
                  @title={{competency.title}}
                  @isSelected={{eq competency.id @selected.id}}
                  @add={{fn @add competency.id}}
                  @remove={{@remove}}
                />
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="no-group" data-test-no-competencies-message>{{t "general.missingCompetenciesMessage"}}</p>
  {{/if}}
</section>
