<section
  class="program-year-manage-objective-competency"
  data-test-program-year-manage-objective-competency
>
  <h3 class="objective-title" data-test-objective-title>
    {{! template-lint-disable no-triple-curlies }}
    {{{@objectiveTitle}}}
  </h3>
  {{#if @domains.length}}
    <ul class="parent-picker" data-test-parent-picker>
      {{#each @domains as |domain|}}
        <li class="domain {{if
              (contains @selected.id (map-by "id" domain.competencies))
              "selected"
            }}"
            data-test-domain
        >
          <h4
            class="domain-title"
          >
            {{domain.title}}
          </h4>
          <ul>
            {{#each (sort-by "title" domain.competencies) as |competency|}}
              <li>
                <ProgramYear::ManageObjectiveCompetencyItem
                  @title={{competency.title}}
                  @isSelected={{eq competency.id @selected.id}}
                  @add={{fn @add competency.id}}
                  @remove={{@remove}}
                />
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="no-group" data-test-no-competencies-message>{{t "general.missingCompetenciesMessage"}}</p>
  {{/if}}
</section>
