{{#if @isSelected}}
  <label class="selected">
    <input
      type="radio"
      checked="checked"
      {{on "click" @remove}}
    >
    {{@title}}
  </label>
{{else}}
  <label>
    <input
      type="radio"
      {{on "click" @add}}
    >
    {{@title}}
  </label>
{{/if}}
