<section
  class="detail-objectives {{if this.showCollapsible "collapsible"}}"
  data-test-program-year-objectives
  {{did-insert (perform this.load) @programYear @programYear.objectives @programYear.program.school.competencies}}
  {{did-update (perform this.load) @programYear @programYear.objectives @programYear.program.school.competencies}}
>
  <div class="detail-objectives-header">
    {{#if this.isManaging}}
      <div class="title">
        {{#if this.isManagingCompetency}}
          <span class="specific-title">
            {{t "general.objectiveCompetencyManagerTitle"}}
          </span>
        {{/if}}
        {{#if this.isManagingDescriptors}}
          <span class="specific-title">
            {{t "general.objectiveDescriptorTitle"}}
          </span>
        {{/if}}
      </div>
    {{else}}
      <div
        class="title {{if this.showCollapsible "clickable collapsible"}}"
        role="button"
        {{on "click" this.collapse}}
      >
        {{t "general.objectives"}} ({{@programYear.objectives.length}})
      </div>
    {{/if}}
    <div class="detail-objectives-actions" data-test-actions>
      {{#if this.isManaging}}
        <button
          type="button"
          class="bigadd"
          {{on "click" (perform this.save)}}
          aria-label={{t "general.save"}}
          data-test-save
        >
          <FaIcon @icon="check" />
        </button>
        <button
          type="button"
          class="bigcancel"
          {{on "click" this.cancel}}
          aria-label={{t "general.cancel"}}
          data-test-cancel
        >
          <FaIcon @icon="undo" />
        </button>
      {{else if @editable}}
        <ExpandCollapseButton
          @value={{this.newObjectiveEditorOn}}
          @action={{this.toggleNewObjectiveEditor}}
          @expandButtonLabel={{t "general.addNew"}}
        />
      {{/if}}
    </div>
  </div>
  <div class="detail-objectives-content">
    {{#if this.newObjectiveEditorOn class="vertical"}}
      <NewObjective
        @save={{perform this.saveNewObjective}}
        @cancel={{this.toggleNewObjectiveEditor}}
      />
    {{/if}}
    {{#if this.isManaging}}
      {{#if this.isManagingDescriptors}}
        <ProgramYear::ManageObjectiveDescriptors
          @objectiveTitle={{this.manageDescriptorsObjective.title}}
          @selected={{this.descriptorsBuffer}}
          @add={{this.addDescriptorToBuffer}}
          @remove={{this.removeDescriptorFromBuffer}}
          @editable={{@editable}}
        />
      {{/if}}
      {{#if this.isManagingCompetency}}
        <ProgramYear::ManageObjectiveCompetency
          @objectiveTitle={{this.manageCompetencyObjective.title}}
          @selected={{this.competencyBuffer}}
          @domains={{this.schoolDomains}}
          @add={{this.setCompetencyBuffer}}
          @remove={{set this.competencyBuffer null}}
          @editable={{@editable}}
        />
      {{/if}}
    {{else}}
      <ProgramyearObjectiveList
        @subject={{@programYear}}
        @editable={{@editable}}
        @manageDescriptors={{perform this.manageDescriptors}}
        @manageCompetency={{perform this.manageCompetency}}
      />
    {{/if}}
  </div>
</section>
