<section
  class="program-year-objectives {{if this.showCollapsible "collapsible"}}"
  {{did-insert this.load @programYear}}
  {{did-update this.load @programYear @programYear.objectives}}
  data-test-program-year-objectives
>
  <div class="header">
    <h3 class="title {{if this.showCollapsible "clickable collapsible"}}" data-test-title>
      <button type="button" {{on "click" this.collapse}}>
        {{t "general.objectives"}} ({{this.objectiveCount}})
      </button>
    </h3>
    {{#if @editable}}
      <span data-test-actions>
        <ExpandCollapseButton
          @value={{this.newObjectiveEditorOn}}
          @action={{this.toggleNewObjectiveEditor}}
          @expandButtonLabel={{t "general.addNew"}}
        />
      </span>
    {{/if}}
  </div>
  <div class="content">
    {{#if this.newObjectiveEditorOn}}
      <NewObjective
        @save={{perform this.saveNewObjective}}
        @cancel={{this.toggleNewObjectiveEditor}}
      />
    {{/if}}
    <ProgramYear::ObjectiveList
      @programYear={{@programYear}}
      @editable={{@editable}}
    />
  </div>
</section>
