<div
  class="program-year-objective-list"
  data-test-program-year-objective-list
>
  {{#if (and (is-array @programYear.sortedProgramYearObjectives) this.isSorting)}}
    <ObjectiveSortManager
      @subject={{@programYear}}
      @close={{set this.isSorting false}}
    />
  {{/if}}

  {{#if (and this.programYearObjectiveCount (not this.isSorting))}}
    {{#if (gt this.programYearObjectiveCount 1)}}
      <button
        class="sort-button"
        type="button"
        {{on "click" (set this.isSorting true)}}
        data-test-sort
      >
        {{t "general.sortObjectives"}}
      </button>
    {{/if}}

    <button type="button" class="download" {{on "click" (perform this.downloadReport)}}>
      <FaIcon
        @icon={{if this.downloadReport.isRunning "spinner" "download"}}
        @spin={{this.downloadReport.isRunning}}
      />
      {{t "general.downloadCompetencyMap"}}
    </button>

    <div class="grid-row headers" data-test-headers>
      <span class="grid-item"></span>
      <span class="grid-item" data-test-header>{{t "general.description"}}</span>
      <span class="grid-item" data-test-header>{{t "general.competency"}}</span>
      <span class="grid-item" data-test-header>{{t "general.vocabularyTerms"}}</span>
      <span class="grid-item" data-test-header>{{t "general.meshTerms"}}</span>
      <span class="actions grid-item" data-test-header>{{t "general.actions"}}</span>
    </div>
    {{#if (and (is-array @programYear.sortedProgramYearObjectives) (is-array this.domainTrees))}}
      {{#each @programYear.sortedProgramYearObjectives as |programYearObjective|}}
        <ProgramYear::ObjectiveListItem
          @programYearObjective={{programYearObjective}}
          @editable={{@editable}}
          @domainTrees={{this.domainTrees}}
          @programYearCompetencies={{this.programYearCompetencies}}
        />
      {{/each}}
    {{else}}
      <ProgramYear::ObjectiveListLoading @count={{this.programYearObjectiveCount}} />
    {{/if}}
  {{/if}}
</div>
