<div
  class="programyear-overview"
  data-test-programyear-overview
  ...attributes
>
  <div class="programyear-overview-header">
    <h5>
      {{t "general.overview"}}
    </h5>
    <div class="programyear-overview-actions">
      {{#if this.programYearVisualizations}}
        <LinkTo
          @route="program-year-visualizations"
          @model={{@programYear}}
          title={{t "general.programYearVisualizations"}}
          data-test-go-to-visualizations
        >
          <FaIcon @icon="chart-column" />
        </LinkTo>
      {{/if}}
    </div>
  </div>
  <div class="programyear-overview-content">
    <label>
      {{t "general.directors"}}:
    </label>
    <div>
      {{#if @canUpdate}}
        <ul class="removable-directors">
          {{#each this.sortedDirectors as |user|}}
            <li data-test-directors>
              <button
                type="button" {{on "click" (perform this.removeDirector user)}}
                class="link-button"
                data-test-remove
              >
                <UserNameInfo @user={{user}} />
                <FaIcon @icon="times" class="remove" />
              </button>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <ul class="directors">
          {{#each this.sortedDirectors as |user|}}
            <li data-test-directors>
              <UserNameInfo @user={{user}} />
            </li>
          {{else}}
            {{t "general.none"}}
          {{/each}}
        </ul>
      {{/if}}
    </div>
    {{#if @canUpdate}}
      <UserSearch
        @addUser={{perform this.addDirector}}
        @currentlyActiveUsers={{this.directors}}
      />
    {{/if}}
  </div>
</div>
