<button class="button rl-dropdown-toggle" {{action "toggleDropdown"}}>
  {{#if this.icon}}
    <FaIcon @icon={{this.icon}} />
  {{/if}}
  <span>
    {{this.title}}
  </span>
</button>
<ul class="rl-dropdown dropdown-menu" role="button" {{action "toggleDropdown"}}>
  {{#if this.dropdownExpanded}}
    {{yield}}
  {{/if}}
</ul>

