<button class="button rl-dropdown-toggle" {{action "toggleDropdown"}}>
  {{#if icon}}
    <FaIcon @icon={{icon}} />
  {{/if}}
  <span>
    {{title}}
  </span>
</button>
<ul class="rl-dropdown dropdown-menu" role="button" {{action "toggleDropdown"}}>
  {{#if dropdownExpanded}}
    {{yield}}
  {{/if}}
</ul>

