<button class="button rl-dropdown-toggle" {{action "toggleDropdown"}}>
  {{#if @icon}}
    <FaIcon @icon={{or @icon "gear"}} />
  {{/if}}
  <span>
    {{@title}}
  </span>
</button>
<ul class="rl-dropdown dropdown-menu" role="button" {{action "toggleDropdown"}}>
  {{#if this.dropdownExpanded}}
    {{yield}}
  {{/if}}
</ul>
