<div
  class="api-version-notice {{if mismatched "mismatch"}}"
  hidden={{not mismatched}}
  aria-role={{if mismatched "alert" false}}
  data-test-load-finished={{check.lastSuccessful.value}}
  data-test-api-version-notice
>
  <h2>
    {{fa-icon "exclamation-circle"}}
    {{t "general.apiVersionMismatch"}}
  </h2>
  <div class="details">
    <p>{{t "general.apiVersionMismatchDetails"}}</p>
    {{#if updateAvailable}}
      <p>
        {{t "general.autoUpdatingSeconds" count=countdownToUpdate}}
        <button {{action (perform update)}}>
          {{t "general.updateNow"}}
        </button>
      </p>
    {{/if}}
    {{#if update.isRunning}}
      <p>{{t "general.updatePending"}}</p>
    {{/if}}
    {{#if showReloadButton}}
      <p>
        <button {{action "reload"}}>
          {{t "general.updateNow"}}
        </button>
      </p>
    {{/if}}
  </div>
</div>
