<span
  class={{if renderHtml "list-reset"}}
  role="button"
  onclick={{action onEdit}}>
  {{displayText}}
</span>
{{#if showIcons}}
  <span
    class="clickable"
    role="button"
    {{action (mut expanded) true}}>
    {{fa-icon ellipsis classNames="text-bottom"}} {{fa-icon expandIcon}}
  </span>
{{/if}}
