<span {{action "click"}}
  class="clickable {{if renderHtml "list-reset"}}"
  role="button"
>
  {{displayText}}
</span>
{{#if showIcons}}
  <span {{action "expand"}} class="clickable" role="button">
    {{fa-icon ellipsis classNames="text-bottom"}} {{fa-icon expandIcon}}
  </span>
{{/if}}
