<span
  class="clickable {{if renderHtml "list-reset"}} editable"
  data-test-edit
  role="button"
  onclick={{action onEdit}}
>
  {{displayText}}
</span>
{{#if showIcons}}
  <span
    class="clickable"
    data-test-edit
    role="button"
    {{action (mut expanded) true}}
  >
    <FaIcon @icon={{ellipsis}} @classNames="text-bottom" />
    <FaIcon @icon={{expandIcon}} />
  </span>
{{/if}}

