<span
  class="clickable {{if renderHtml "list-reset"}}"
  data-test-edit
  role="button"
  onclick={{action onEdit}}>
  {{displayText}}
</span>
{{#if showIcons}}
  <span
    class="clickable"
    data-test-edit
    role="button"
    {{action (mut expanded) true}}>
    {{fa-icon ellipsis classNames="text-bottom"}} {{fa-icon expandIcon}}
  </span>
{{/if}}
