<span class={{if renderHtml "list-reset"}}>
  {{displayText}}
</span>
{{#if showIcons}}
  <span
    class="clickable expand-text"
    role="button"
    {{action (mut expanded) true}}>
    {{fa-icon ellipsis classNames="text-bottom"}} {{fa-icon expandIcon}}
  </span>
{{/if}}
