<span
  class="clickable {{if this.renderHtml "list-reset"}} editable"
  data-test-edit
  role="button"
  {{on "click" this.onEdit}}
>
  {{this.displayText}}
</span>
{{#if this.showIcons}}
  <span
    class="clickable"
    data-test-edit
    role="button"
    {{on "click" (fn (mut this.expanded) true)}}
  >
    <FaIcon @icon={{this.ellipsis}} @classNames="text-bottom" />
    <FaIcon @icon={{this.expandIcon}} />
  </span>
{{/if}}
