<button
  class="first-button {{if firstChoicePicked "active"}}"
  data-test-first-button
  {{action "clickFirstButton"}}
>
  {{buttonContent1}}
</button>
<button
  class="second-button {{unless firstChoicePicked "active"}}"
  data-test-second-button
  {{action "clickSecondButton"}}
>
  {{buttonContent2}}
</button>
