<button {{action "clickFirstButton"}}
  class="first-button {{if firstChoicePicked "active"}}"
  data-test-first-button
>
  {{buttonContent1}}
</button>
<button {{action "clickSecondButton"}}
  class="second-button {{unless firstChoicePicked "active"}}"
  data-test-second-button
>
  {{buttonContent2}}
</button>
