<div class="title" role="button" {{on "click" @expand}}>
  {{t "general.objectives"}} ({{get (await this.objectives) "length"}})
</div>
{{#if
  (and
    (is-fulfilled this.objectives)
    (is-fulfilled this.objectivesWithMesh)
    (is-fulfilled this.objectivesWithParents)
  )
}}
  <div class="content">
    <table>
      <thead>
        <tr>
          <th class="text-left">
            {{t "general.summary"}}
          </th>
          <th class="text-center">
            {{t "general.parentObjectives"}}
          </th>
          <th class="text-center">
            {{t "general.meshTerms"}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{t "general.objectiveCount" count=(get (await this.objectives) "length")}}
          </td>
          <td class="text-middle text-center" rowspan="3">
            {{#if
              (eq
                (get (await this.objectivesWithParents) "length")
                (get (await this.objectives) "length")
              )
            }}
              <FaIcon @icon="circle" class="yes" />
            {{else if (gte (get (await this.objectivesWithParents) "length") 1)}}
              <FaIcon @icon="circle" class="maybe" />
            {{else}}
              <FaIcon @icon="ban" class="no" />
            {{/if}}
          </td>
          <td class="text-middle text-center" rowspan="3">
            {{#if
              (eq
                (get (await this.objectivesWithMesh) "length")
                (get (await this.objectives) "length")
              )
            }}
              <FaIcon @icon="circle" class="yes" />
            {{else if (gte (get (await this.objectivesWithMesh) "length") 1)}}
              <FaIcon @icon="circle" class="maybe" />
            {{else}}
              <FaIcon @icon="ban" class="no" />
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;&nbsp;
            {{t
              "general.parentCount"
              count=(get (await this.objectivesWithParents) "length")
            }}
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;&nbsp;
            {{t
              "general.meshCount"
              count=(get (await this.objectivesWithMesh) "length")
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{else}}
  <LoadingSpinner @tagName="h3" />
{{/if}}
