<td id="objective-{{this.objective.id}}" class="text-left text-top" colspan="3">
  {{#if this.editable}}
    <EditableField
      @value={{this.title}}
      @renderHtml={{true}}
      @isSaveDisabled={{and
        (v-get this "title" "isInvalid")
        (is-in this.showErrorsFor "title")
      }}
      @save={{action "saveTitleChanges"}}
      @close={{action "revertTitleChanges"}}
    >
      <HtmlEditor @content={{this.title}} @update={{action "changeTitle"}} />
      {{#if (and (v-get this "title" "isInvalid") (is-in this.showErrorsFor "title"))}}
        <span class="validation-error-message">
          {{v-get this "title" "message"}}
        </span>
      {{/if}}
    </EditableField>
  {{else}}
    {{! template-lint-disable no-triple-curlies }}{{{this.objective.title}}}
  {{/if}}
</td>
<td class="text-left text-top" colspan="2">
  {{#if this.objective.hasParents}}
    {{#each (await this.objective.parents) as |parent|}}
      {{#if this.course.hasMultipleCohorts}}
        <strong>
          {{get (await parent.firstProgram) "title"}}
          {{#if (get (await parent.firstCohort) "title")}}
            {{get (await parent.firstCohort) "title"}}
          {{else}}
            {{t
              "general.classOf"
              year=(await (get (await parent.firstCohort) "classOfYear"))
            }}
          {{/if}}
        </strong>
        <br>
      {{/if}}
      {{#if this.editable}}
        <span
          class="clickable link"
          data-test-parent
          role="button"
          {{action this.manageParents this.objective}}
        >
          {{parent.textTitle}}
        </span>
      {{else}}
        {{parent.textTitle}}
      {{/if}}
      {{#if parent.competency}}
        ({{parent.competency.title}})
      {{/if}}
      <br>
    {{/each}}
  {{else if this.editable}}
    <button {{action this.manageParents this.objective}}>
      {{t "general.addNew"}}
    </button>
  {{else}}
    {{t "general.none"}}
  {{/if}}
</td>
<td class="text-left text-top" colspan="2">
  <ul class="mesh-descriptor-list">
    {{#each (sort-by "name" (await this.objective.meshDescriptors)) as |descriptor|}}
      {{#if this.editable}}
        <li
          class="clickable link"
          role="button"
          data-test-term
          {{action this.manageDescriptors this.objective}}
        >
          {{descriptor.name}}
        </li>
      {{else}}
        <li data-test-term>
          {{descriptor.name}}
        </li>
      {{/if}}
    {{else}}
      <li>
        {{#if this.editable}}
          <button {{action this.manageDescriptors this.objective}}>
            {{t "general.addNew"}}
          </button>
        {{else}}
          {{t "general.none"}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</td>
<td class="text-left text-top" colspan="1">
  {{#if this.editable}}
    <span class="clickable remove" role="button" {{action this.remove this.objective}}>
      <FaIcon @icon="trash" class="enabled" />
    </span>
  {{else}}
    <FaIcon @icon="trash" class="disabled" />
  {{/if}}
</td>
