{{! template-lint-disable attribute-indentation }}
<div class="objectivetitle course-objective-title">
  {{! template-lint-disable no-triple-curlies }}
  {{{courseObjective.title}}}
</div>
{{#unless loadAttr.isRunning}}
  {{#liquid-if (get (await cohortProxies) "length")  class="horizontal"}}
    <label class="group-picker">
      <span class="choose-cohort-title">{{t "general.chooseCohortTitle"}}:</span>
      {{#if (gt (get (await cohortProxies) "length") 1)}}
        {{one-way-select
          value=(get (await selectedCohort) "id")
          options=(await cohortProxies)
          optionTargetPath="id"
          optionLabelPath="title"
          update=(action "setSelectedCohort")
        }}
      {{else}}
        {{get (await currentCohort) "title"}}
      {{/if}}
    </label>
    <ul class="parent-picker">
      {{#if (await currentCohort)}}
        {{#each
          (await (get (await currentCohort) "objectivesByCompetency"))
          as |competency|
        }}
          <li data-test-competency>
            <h5 class="competency-title {{if competency.selected "selected"}}">
              {{if competency.noTitle (t "general.noAssociatedCompetency") competency.title}}
            </h5>
            <ul>
              {{#each (await competency.objectives) as |objective|}}
                {{#if objective.selected}}
                  <li class="selected">
                    <input {{action "removeParent" objective}}
                      type={{if
                             (await (get (await currentCohort) "allowMultipleParents"))
                             "checkbox"
                             "radio"
                           }}
                      checked="checked"
                    >
                    <span {{action "removeParent" objective}} class="clickable" role="button">
                      {{objective.textTitle}}
                    </span>
                  </li>
                {{else}}
                  <li>
                    <input {{action (perform addParent objective)}}
                      type={{if
                             (await (get (await currentCohort) "allowMultipleParents"))
                             "checkbox"
                             "radio"
                           }}
                    >
                    <span {{action (perform addParent objective)}} class="clickable" role="button">
                      {{objective.textTitle}}
                    </span>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{else}}
    <div class="no-group">
      <p>
        {{t "general.missingCohortMessage"}}
      </p>
    </div>
  {{/liquid-if}}
{{/unless}}
