<span class="title">
  {{#if this.course.locked}}
    <FaIcon @icon="lock" />
  {{/if}}
  {{#if this.editable}}
    {{#if this.course}}
      <EditableField
        @value={{this.courseTitle}}
        @save={{action "changeTitle"}}
        @close={{action "revertTitleChanges"}}
        @saveOnEnter={{true}}
        @closeOnEscape={{true}} as |isSaving|
      >
        <input
          type="text"
          value={{this.courseTitle}}
          disabled={{isSaving}}
          oninput={{action (mut this.courseTitle) value="target.value"}}
          onkeyup={{action "addErrorDisplayFor" "courseTitle"}}
        >
        {{#if
          (and
            (v-get this "courseTitle" "isInvalid")
            (is-in this.showErrorsFor "courseTitle")
          )
        }}
          <span class="validation-error-message">
            {{v-get this "courseTitle" "message"}}
          </span>
        {{/if}}
      </EditableField>
    {{/if}}
  {{else if this.course}}
    <h2>
      {{this.course.title}}
    </h2>
  {{/if}}
  <h4>
    {{this.course.academicYear}}
  </h4>
</span>
<span class="course-publication">
  {{#if this.editable}}
    <PublishMenu
      @title={{this.menuTitle}}
      @icon={{this.menuIcon}}
      @publicationStatus={{this.publicationStatus}}
      @showAsIs={{this.showAsIs}}
      @showPublish={{this.showPublish}}
      @showReview={{this.showReview}}
      @showTbd={{this.showTbd}}
      @showUnPublish={{this.showUnPublish}}
      @reviewRoute="course.publication_check"
      @reviewObject={{this.course}}
      @publishTranslation="general.publishCourse"
      @unPublishTranslation="general.unPublishCourse"
      @publish={{action "publish"}}
      @publishAsTbd={{action "publishAsTbd"}}
      @unpublish={{action "unpublish"}}
    />
  {{else}}
    <PublicationStatus @item={{this.course}} />
  {{/if}}
</span>
