{{#if (is-fulfilled this.objectives)}}
  {{#if this.isSorting}}
    <ObjectiveSortManager
      @subject={{this.subject}}
      @save={{action "saveSortOrder"}}
      @cancel={{action "cancelSorting"}}
    />
  {{else if (get (await this.subject.objectives) "length")}}
    {{#if (and this.editable (await this.hasMoreThanOneObjective))}}
      <button class="sort-materials-btn" {{action (mut this.isSorting) true}}>
        {{t "general.sortObjectives"}}
      </button>
    {{/if}}
    <table>
      <thead>
        <tr>
          <th class="text-left" colspan="3">
            {{t "general.description"}}
          </th>
          <th class="text-left" colspan="2">
            {{t "general.parentObjectives"}}
          </th>
          <th class="text-left" colspan="2">
            {{t "general.meshTerms"}}
          </th>
          <th class="text-left" colspan="1">
            {{t "general.actions"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await this.objectives) as |objective|}}
          <CourseObjectiveListItem
            @objective={{objective}}
            @editable={{@editable}}
            @course={{@subject}}
            @showRemoveConfirmation={{is-in
              this.objectivesForRemovalConfirmation
              objective.id
            }}
            @remove={{action "confirmRemoval"}}
            @manageParents={{this.manageParents}}
            @manageDescriptors={{this.manageDescriptors}}
          />
          {{#if (is-in this.objectivesForRemovalConfirmation objective.id)}}
            <tr class="confirm-removal">
              <td colspan="8">
                <div class="confirm-message">
                  {{#if (gt objective.children.length 0)}}
                    {{t
                      "general.confirmObjectiveRemovalMultipleSessionObjectives"
                      count=objective.children.length
                    }}
                  {{else}}
                    {{t "general.confirmObjectiveRemoval"}}
                  {{/if}}
                  <br>
                  <div class="confirm-buttons">
                    <button
                      class="remove text"
                      onclick={{action "remove" objective}}
                    >
                      {{t "general.yes"}}
                    </button>
                    <button
                      class="done text"
                      onclick={{action "cancelRemove" objective}}
                    >
                      {{t "general.cancel"}}
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{else}}
  {{! template-lint-disable unused-block-params }}
  {{#each (this.repeat course.objectives.length) as |empty|}}
    <div>
      <LoadingSpinner />
    </div>
  {{/each}}
{{/if}}
{{#liquid-if this.isSaving class="crossFade"}}
  <WaitSaving
    @showProgress={{true}}
    @totalProgress={{this.totalObjectivesToSave}}
    @currentProgress={{this.currentObjectivesSaved}}
  />
{{/liquid-if}}
