<div class="course-leadership-expanded-header">
  <h3
    class="title {{if this.isCollapsible "collapsible clickable"}}"
    role="button"
    {{action this.collapse}}
  >
    {{t "general.courseLeadership"}}
  </h3>
  <div class="actions">
    {{#if this.isManaging}}
      <button class="bigadd" onclick={{perform this.save}}>
        <FaIcon
          @icon={{if this.save.isRunning "spinner" "check"}}
          @spin={{if this.isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{action this.setIsManaging false}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if this.editable}}
      <button {{action this.setIsManaging true}}>
        {{t "general.manageLeadership"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="course-leadership-expanded-content">
  {{#if (and (is-array this.directors) (is-array this.administrators))}}
    {{#if this.isManaging}}
      <LeadershipManager
        @directors={{this.directors}}
        @administrators={{this.administrators}}
        @removeDirector={{action "removeDirector"}}
        @addDirector={{action "addDirector"}}
        @removeAdministrator={{action "removeAdministrator"}}
        @addAdministrator={{action "addAdministrator"}}
      />
    {{else}}
      <LeadershipList
        @directors={{this.directors}}
        @administrators={{this.administrators}}
      />
    {{/if}}
  {{else}}
    <LoadingSpinner @tagName="h3" />
  {{/if}}
</div>
