<ul>
  <li>
    <button
      class={{if (eq this.show "week") "active"}}
      data-test-glance
      {{action this.change "week"}}
    >
      {{t "general.weekAtAGlance"}}
    </button>
  </li>
  <li>
    <button
      class={{if (eq this.show "agenda") "active"}}
      data-test-activities
      {{action this.change "agenda"}}
    >
      {{t "general.activities"}}
    </button>
  </li>
  <li>
    <button
      class={{if (eq this.show "materials") "active"}}
      data-test-materials
      {{action this.change "materials"}}
    >
      {{t "general.materials"}}
    </button>
  </li>
  <li>
    <button
      class={{if (eq this.show "calendar") "active"}}
      data-test-calendar
      {{action this.change "calendar"}}
    >
      {{t "general.calendar"}}
    </button>
  </li>
</ul>
