<ul>
  <li><button class="{{if (eq show "week") "active"}}" {{action change "week"}}>{{t "general.weekAtAGlance"}}</button></li>
  <li><button class="{{if (eq show "agenda") "active"}}" {{action change "agenda"}}>{{t "general.activities"}}</button></li>
  <li><button class="{{if (eq show "materials") "active"}}" {{action change "materials"}}>{{t "general.materials"}}</button></li>
  <li><button class="{{if (eq show "calendar") "active"}}" {{action change "calendar"}}>{{t "general.calendar"}}</button></li>
</ul>
