<h3>{{t 'general.upcomingActivities' days=daysInAdvance}}</h3>
{{#if (is-fulfilled weeksEvents)}}
  {{#if (gt (get (await weeksEvents) 'length') 0)}}
    <table>
      <tbody>
        {{#each (await weeksEvents) as |event|}}
          {{log event}}
          {{#if event.isBlanked}}
            <tr>
              <td colspan=4 class='event-date'>
                {{#if event.ilmSession}}
                  <span class='ilm-due'>{{t 'general.dueBy'}}</span>
                {{/if}}
                {{moment-format event.startDate 'dddd, MMMM Do, YYYY h:mma'}}
              </td>
              <td colspan=4>
                {{#if event.ilmSession}}
                  <strong>{{t 'general.ilm'}}: </strong>
                {{/if}}
                {{event.name}}
              </td>
              <td colspan=2>{{event.location}}</td>
              <td colspan=1>
                {{#if event.attireRequired}}{{fa-icon 'black-tie' title=(t 'general.whitecoatsSlashSpecialAttire')}}{{/if}}
                {{#if event.equipmentRequired}}{{fa-icon 'flask' title=(t 'general.specialEquipment')}}{{/if}}
                {{#if event.attendanceRequired}}{{fa-icon 'calendar-check-o'title=(t 'general.attendanceIsRequired')}}{{/if}}
                {{#if (is-same-or-after event.lastModified sixDaysAgo precision='day')}}
                  {{fa-icon 'exclamation-circle'}}
                {{/if}}
              </td>
            </tr>
          {{/if}}
          {{#unless event.isBlanked}}
            <tr>
              <td colspan=4 class='event-date'>
                {{#link-to 'events' event.slug}}
                  {{fa-icon 'external-link-square'}}
                  {{#if event.ilmSession}}
                    <span class='ilm-due'>{{t 'general.dueBy'}}: </span>
                  {{/if}}
                  {{moment-format event.startDate 'dddd, MMMM Do, YYYY h:mma'}}
                {{/link-to}}
              </td>
              <td colspan=4>
                {{#if event.ilmSession}}
                  <strong>{{t 'general.ilm'}}: </strong>
                {{/if}}
                {{event.name}}
              </td>
              <td colspan=2>{{#link-to 'events' event.slug}}{{event.location}}{{/link-to}}</td>
              <td colspan=1>
                {{#if event.attireRequired}}{{fa-icon 'black-tie' title=(t 'general.whitecoatsSlashSpecialAttire')}}{{/if}}
                {{#if event.equipmentRequired}}{{fa-icon 'flask' title=(t 'general.specialEquipment')}}{{/if}}
                {{#if event.attendanceRequired}}{{fa-icon 'calendar-check-o'title=(t 'general.attendanceIsRequired')}}{{/if}}
                {{#if (is-same-or-after event.lastModified sixDaysAgo precision='day')}}
                  {{fa-icon 'exclamation-circle'}}
                {{/if}}
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{t 'general.none'}}</p>
  {{/if}}
{{else}}
  <p>{{fa-icon 'spinner' spin=true}} {{t 'general.loadingEvents'}}</p>
{{/if}}
