<ul>
  <li>
    <button {{action change "week"}} class={{if (eq show "week") "active"}}>
      {{t "general.weekAtAGlance"}}
    </button>
  </li>
  <li>
    <button {{action change "agenda"}} class={{if (eq show "agenda") "active"}}>
      {{t "general.activities"}}
    </button>
  </li>
  <li>
    <button
      class={{if (eq show "materials") "active"}}
      {{action change "materials"}}
    >
      {{t "general.materials"}}
    </button>
  </li>
  <li>
    <button {{action change "calendar"}} class={{if (eq show "calendar") "active"}}>
      {{t "general.calendar"}}
    </button>
  </li>
</ul>
