<div
  class="title {{if (await this.showCollapsible) "clickable collapsible"}}"
  role="button"
  {{action "collapse"}}
>
  {{t "general.competencies"}} ({{get (await this.course.competencies) "length"}})
</div>
{{#if (get (await this.course.competencies) "length")}}
  <div class="detail-competencies-content">
    <ul class="static-list">
      {{#each (await this.course.domains) as |domain|}}
        <li>
          {{domain.title}}
          <ul>
            {{#each (await domain.subCompetencies) as |competency|}}
              <li>
                {{competency.title}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

