{{#if this.term.description.length}}
  {{#attach-tooltip
    lazyRender=true
    animation="shift"
    }}
    {{this.term.description}}
  {{/attach-tooltip}}
{{/if}}
{{#if this.term.isTopLevel}}
  {{this.term.title}}
{{else}}
  {{#each (await this.term.allParentTitles) as |title|}}
    {{! template-lint-disable no-bare-strings}}
    <span class="muted">
      {{title}}
      &raquo;
    </span>
  {{/each}}
  {{this.term.title}}
{{/if}}
{{#if (and this.canEdit (not (await this.term.isActiveInTree)))}}
  <span class="inactive">
    ({{t "general.inactive"}})
  </span>
{{/if}}
{{#if this.canEdit}}
  <FaIcon @icon="times" class="remove" />
{{/if}}
