<div class="detail-objectives-header">
  {{#if isManaging}}
    <div class="title">
      {{#if isManagingParents}}
        <span class="specific-title">
          {{objectiveParentTitle}}
        </span>
      {{/if}}
      {{#if isManagingDescriptors}}
        <span class="specific-title">
          {{t "general.objectiveDescriptorTitle"}}
        </span>
      {{/if}}
      {{#if isManagingCompetency}}
        <span class="specific-title">
          {{t "general.objectiveCompetencyManagerTitle"}}
        </span>
      {{/if}}
    </div>
  {{else}}
    <div
      class="title {{if showCollapsible "clickable collapsible"}}"
      role="button"
      {{action "collapse"}}
    >
      {{t "general.objectives"}} ({{subject.objectives.length}})
    </div>
  {{/if}}
  <div class="detail-objectives-actions">
    {{#if isManaging class="horizontal"}}
      <button class="bigadd" {{action "save"}}>
        <FaIcon @icon="check" />
      </button>
      <button class="bigcancel" {{action "cancel"}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if editable}}
      {{#if isCourse}}
        <LinkTo @route="course-visualize-objectives" @model={{subject}}>
          <VisualizerCourseObjectives
            @course={{subject}}
            @width={{20}}
            @height={{20}}
            @isIcon={{true}}
          />
        </LinkTo>
      {{/if}}
      <ExpandCollapseButton
        @value={{newObjectiveEditorOn}}
        @action={{action "toggleNewObjectiveEditor"}}
      />
    {{/if}}
  </div>
</div>
<div class="detail-objectives-content">
  {{#if newObjectiveEditorOn class="vertical"}}
    <NewObjective
      @save={{action "saveNewObjective"}}
      @cancel={{action "toggleNewObjectiveEditor"}}
    />
  {{/if}}
  {{#liquid-unless isManaging class="horizontal"}}
    {{#if isCourse}}
      <CourseObjectiveList
        @subject={{subject}}
        @editable={{editable}}
        @manageParents={{action "manageParents"}}
        @manageDescriptors={{action "manageDescriptors"}}
      />
    {{/if}}
    {{#if isSession}}
      <SessionObjectiveList
        @subject={{subject}}
        @editable={{editable}}
        @manageParents={{action "manageParents"}}
        @manageDescriptors={{action "manageDescriptors"}}
      />
    {{/if}}
    {{#if isProgramYear}}
      <ProgramyearObjectiveList
        @subject={{subject}}
        @editable={{editable}}
        @manageDescriptors={{action "manageDescriptors"}}
        @manageCompetency={{action "manageCompetency"}}
      />
    {{/if}}
  {{else}}
    {{#if isManagingParents}}
      {{#if isCourse}}
        <CourseObjectiveManager @courseObjective={{mangeParentsObjective}} />
      {{/if}}
      {{#if isSession}}
        <SessionObjectiveManager @sessionObjective={{mangeParentsObjective}} />
      {{/if}}
    {{/if}}
    {{#if isManagingDescriptors}}
      <ObjectiveManageDescriptors
        @editable={{editable}}
        @objective={{manageDescriptorsObjective}}
      />
    {{/if}}
    {{#if isManagingCompetency}}
      <ObjectiveManageCompetency @objective={{manageCompetencyObjective}} />
    {{/if}}
  {{/liquid-unless}}
</div>

