<div class="detail-objectives-header">
  {{#if this.isManaging}}
    <div class="title">
      {{#if this.isManagingParents}}
        <span class="specific-title">
          {{this.objectiveParentTitle}}
        </span>
      {{/if}}
      {{#if this.isManagingDescriptors}}
        <span class="specific-title">
          {{t "general.objectiveDescriptorTitle"}}
        </span>
      {{/if}}
      {{#if this.isManagingCompetency}}
        <span class="specific-title">
          {{t "general.objectiveCompetencyManagerTitle"}}
        </span>
      {{/if}}
    </div>
  {{else}}
    <div
      class="title {{if this.showCollapsible "clickable collapsible"}}"
      role="button"
      {{action "collapse"}}
    >
      {{t "general.objectives"}} ({{this.subject.objectives.length}})
    </div>
  {{/if}}
  <div class="detail-objectives-actions">
    {{#if this.isManaging class="horizontal"}}
      <button class="bigadd" {{action "save"}}>
        <FaIcon @icon="check" />
      </button>
      <button class="bigcancel" {{action "cancel"}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if this.editable}}
      {{#if this.isCourse}}
        <LinkTo @route="course-visualize-objectives" @model={{this.subject}}>
          <VisualizerCourseObjectives
            @course={{this.subject}}
            @width={{20}}
            @height={{20}}
            @isIcon={{true}}
          />
        </LinkTo>
      {{/if}}
      <ExpandCollapseButton
        @value={{this.newObjectiveEditorOn}}
        @action={{action "toggleNewObjectiveEditor"}}
      />
    {{/if}}
  </div>
</div>
<div class="detail-objectives-content">
  {{#if this.newObjectiveEditorOn class="vertical"}}
    <NewObjective
      @save={{action "saveNewObjective"}}
      @cancel={{action "toggleNewObjectiveEditor"}}
    />
  {{/if}}
  {{#liquid-unless this.isManaging class="horizontal"}}
    {{#if this.isCourse}}
      <CourseObjectiveList
        @subject={{this.subject}}
        @editable={{this.editable}}
        @manageParents={{action "manageParents"}}
        @manageDescriptors={{action "manageDescriptors"}}
      />
    {{/if}}
    {{#if this.isSession}}
      <SessionObjectiveList
        @subject={{this.subject}}
        @editable={{this.editable}}
        @manageParents={{action "manageParents"}}
        @manageDescriptors={{action "manageDescriptors"}}
      />
    {{/if}}
    {{#if this.isProgramYear}}
      <ProgramyearObjectiveList
        @subject={{this.subject}}
        @editable={{this.editable}}
        @manageDescriptors={{action "manageDescriptors"}}
        @manageCompetency={{action "manageCompetency"}}
      />
    {{/if}}
  {{else}}
    {{#if this.isManagingParents}}
      {{#if this.isCourse}}
        <CourseObjectiveManager @courseObjective={{this.mangeParentsObjective}} />
      {{/if}}
      {{#if this.isSession}}
        <SessionObjectiveManager @sessionObjective={{this.mangeParentsObjective}} />
      {{/if}}
    {{/if}}
    {{#if this.isManagingDescriptors}}
      <ObjectiveManageDescriptors
        @editable={{this.editable}}
        @objective={{this.manageDescriptorsObjective}}
      />
    {{/if}}
    {{#if this.isManagingCompetency}}
      <ObjectiveManageCompetency @objective={{this.manageCompetencyObjective}} />
    {{/if}}
  {{/liquid-unless}}
</div>

