<div class="detail-mesh-header">
  <div class="title">
    {{#if isManaging}}
      <span class="detail-specific-title">
        {{t "general.meshManageTitle"}}
      </span>
    {{else}}
      {{t "general.mesh"}} ({{terms.length}})
    {{/if}}
  </div>

  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" {{action "save"}}>{{fa-icon "check"}}</button>
      <button class="bigcancel" {{action "cancel"}}>{{fa-icon "undo"}}</button>
    {{else if editable}}
      <button {{action "manage"}}>{{t "general.meshManageTitle"}}</button>
    {{/if}}
  </div>
</div>
<div class="content">
  {{#if isManaging}}
    {{mesh-manager
      editable=editable
      terms=bufferTerms
      add="addTermToBuffer"
      remove="removeTermFromBuffer"
    }}
  {{else}}
    <ul class="selected-mesh-terms">
      {{#each sortedTerms as |term|}}
        <li>
          <span class="term-title">{{term.name}}</span>
          <span class="term-details">
            {{term.id}}
            {{#if term.deleted}}
              - <span class="deprecated">({{t "general.deprecatedAbbreviation"}})</span>
            {{else}}
              {{#if term.trees}}
                - {{term.trees.lastObject.treeNumber}}
              {{/if}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
