<div class="detail-instructors-header">
  <div class="title">
    {{#if this.isManaging}}
      <span class="detail-specific-title">
        {{t "general.instructorsManageTitle"}}
      </span>
    {{else}}
      {{t "general.instructorsAndInstructorGroups"}}
      ({{this.ilmSession.instructors.length}}/{{this.ilmSession.instructorGroups.length}})
    {{/if}}
  </div>
  <div class="actions">
    {{#if this.isManaging}}
      <button class="bigadd" {{action "save"}}>
        <FaIcon @icon="check" />
      </button>
      <button class="bigcancel" {{action "cancel"}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if this.editable}}
      <button {{action "manage"}}>
        {{t "general.instructorsManageTitle"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="detail-instructors-content">
  {{#if this.isManaging class="horizontal"}}
    <InstructorSelectionManager
      @addInstructor={{action "addInstructorToBuffer"}}
      @addInstructorGroup={{action "addInstructorGroupToBuffer"}}
      @removeInstructor={{action "removeInstructorFromBuffer"}}
      @removeInstructorGroup={{action "removeInstructorGroupFromBuffer"}}
      @availableInstructorGroups={{await this.availableInstructorGroups}}
      @instructorGroups={{this.instructorGroupBuffer}}
      @instructors={{this.instructorBuffer}}
    />
  {{else}}
    <DetailInstructorsList
      @instructorGroups={{this.ilmSession.instructorGroups}}
      @instructors={{this.ilmSession.instructors}}
    />
  {{/if}}
</div>

