<div class="detail-taxonomies-header">
  {{#if this.isManaging}}
    <div class="title">
      <span class="detail-specific-title">
        {{t "general.termsManageTitle"}}
      </span>
    </div>
  {{else}}
    <div
      class="title {{if this.showCollapsible "clickable collapsible"}}"
      role="button"
      {{action "collapse"}}
    >
      {{t "general.terms"}} ({{this.subject.terms.length}})
    </div>
  {{/if}}
  <div class="actions">
    {{#if this.isManaging}}
      <button class="bigadd" {{action "save"}}>
        <FaIcon
          @icon={{if this.isSaving "spinner" "check"}}
          @spin={{if this.isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{action "cancel"}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if this.editable}}
      <button {{action "manage"}}>
        {{t "general.termsManageTitle"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="content">
  {{#if this.isManaging}}
    <TaxonomyManager
      @subject={{this.subject}}
      @selectedTerms={{this.bufferedTerms}}
      @add={{action "addTermToBuffer"}}
      @remove={{action "removeTermFromBuffer"}}
    />
  {{else}}
    {{#each (await this.subject.associatedVocabularies) as |vocab|}}
      {{#if vocab.termCount}}
        <DetailTermsList
          @vocabulary={{vocab}}
          @terms={{await this.subject.terms}}
          @canEdit={{false}}
        />
      {{/if}}
    {{/each}}
  {{/if}}
</div>

