{{#if (is-fulfilled this.sortedTerms)}}
  <div data-test-title>
    <strong>
      {{this.vocabulary.title}}
    </strong> ({{this.vocabulary.school.title}})
    {{#if (and this.canEdit (not this.vocabulary.active))}}
      <span class="inactive">
        ({{t "general.inactive"}})
      </span>
    {{/if}}
  </div>
  <ul class="{{if this.canEdit "removable-list" null}} selected-taxonomy-terms">
    {{#each (await this.sortedTerms) as |term|}}
      {{#if this.canEdit}}
        <DetailTermsListItem
          @canEdit={{true}}
          @remove={{this.remove}}
          @term={{term}}
        />
      {{else}}
        <DetailTermsListItem @canEdit={{false}} @term={{term}} />
      {{/if}}
    {{/each}}
  </ul>
{{/if}}
