{{#if (is-fulfilled this.trees)}}
  <div class="trees">
    {{#each (sort-by "topLevelGroup.title" (await this.trees)) as |tree|}}
      <fieldset>
        <legend>
          {{tree.topLevelGroup.title}} ({{tree.topLevelGroup.cohort.programYear.program.title}} {{tree.topLevelGroup.cohort.title}})
        </legend>
        {{#if (is-fulfilled tree.groups)}}
          {{#if this.isManaging}}
            <div class="remove-all-subgroups">
              <span
                class="clickable remove"
                onclick={{action this.remove tree.topLevelGroup}}
                data-test-remove-all
                role="button"
              >
                {{t "general.removeAll"}} (<FaIcon @icon="times" />)
              </span>
            </div>
          {{/if}}
          <ul>
            <li class="top-level-group">
              {{tree.topLevelGroup.title}} ({{count-related tree.topLevelGroup "users"}})
            </li>
            {{#each
              (without tree.topLevelGroup (await tree.groups)) as |learnerGroup|
            }}
              {{! template-lint-disable no-invalid-interactive}}
              <li
                class="{{if
                    (contains learnerGroup (await this.lowestLeaves))
                    "lowest-leaf"
                  }}

                  {{if this.isManaging "clickable"}}"
                onclick={{if this.isManaging (action this.remove learnerGroup)}}
                role={{if this.isManaging "button"}}
              >
                {{learnerGroup.title}} ({{count-related learnerGroup "users"}})
                {{#if @isManaging}}
                  <FaIcon @icon="times" class="remove" />
                {{/if}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </fieldset>
    {{/each}}
  </div>
{{else}}
  <LoadingSpinner />
{{/if}}
