<div class="detail-learningmaterials-header">
  <div class="title">
    {{#if isManaging}}
      <span class="specific-title">
        {{t "general.learningMaterialManageTitle"}}
      </span>
    {{else}}
      {{t "general.learningMaterials"}} ({{get (await subject.learningMaterials) "length"}})
    {{/if}}
  </div>
  {{#if displaySearchBox}}
    {{learningmaterial-search
      add="addLearningMaterial"
      currentMaterials=parentMaterials
    }}
  {{/if}}
  <div class="detail-learningmaterials-actions">
    {{#if displayAddNewForm}}
      <button class="collapse-button" {{action (mut displayAddNewForm) false}}>{{fa-icon "minus"}}</button>
    {{else if (and editable (not isSorting) (not isManaging))}}
      {{#action-menu
        title=(t "general.add")
        icon=false
        classNames="blend-button right-edge"
      }}
        <li {{action "addNewLearningMaterial" "file"}} role="button">{{t "general.file"}}</li>
        <li {{action "addNewLearningMaterial" "link"}} role="button">{{t "general.link"}}</li>
        <li {{action "addNewLearningMaterial" "citation"}} role="button">{{t "general.citation"}}</li>
      {{/action-menu}}
    {{/if}}
  </div>
</div>

<div class="detail-learningmaterials-content">
  {{#if isManaging}}
    {{learningmaterial-manager
      learningMaterial=managingMaterial
      isCourse=isCourse
      editable=editable
      closeManager=(action (mut managingMaterial) null)
      learningMaterialStatuses=(await learningMaterialStatuses)
    }}
  {{else if isSorting}}
    {{learning-materials-sort-manager
      save=(action "saveSortOrder")
      cancel=(action (mut isSorting) false)
      subject=subject
    }}
  {{else}}
    {{#if displayAddNewForm}}
      {{new-learningmaterial
        type=type
        learningMaterialStatuses=(await learningMaterialStatuses)
        learningMaterialUserRoles=(await learningMaterialUserRoles)
        save=(action "saveNewLearningMaterial")
        cancel=(action (mut displayAddNewForm) false)
      }}
    {{else if (get (await subject.learningMaterials) "length")}}
      {{#if (and editable (await hasMoreThanOneLearningMaterial))}}
        <button class="sort-materials-btn" {{action (mut isSorting) true}}>{{t "general.sortMaterials"}}</button>
      {{/if}}
      <table>
        <thead>
          <tr>
            <th class="text-left" colspan="3">{{t "general.displayName"}}</th>
            <th class="text-center" colspan="2">{{t "general.owner"}}</th>
            <th class="text-center" colspan="2">{{t "general.required"}}</th>
            <th class="text-center" colspan="2">{{t "general.notes"}}</th>
            <th class="text-center" colspan="2">{{t "general.mesh"}}</th>
            <th class="text-center" colspan="2">{{t "general.status"}}</th>
            <th class="text-left" colspan="1">{{t "general.actions"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (await proxyMaterials) as |lmProxy|}}
            <tr class={{if lmProxy.showRemoveConfirmation "confirm-removal"}}>
              <td
                class="text-left clickable link"
                colspan="3"
                role="button"
                {{action (mut managingMaterial) lmProxy.content}}
              >
                {{lm-type-icon
                  type=lmProxy.learningMaterial.type
                  mimetype=lmProxy.learningMaterial.mimetype
                }}
                <span data-test-title>{{lmProxy.learningMaterial.title}}</span>
              </td>
              <td class="text-center" colspan="2">{{lmProxy.learningMaterial.owningUser.fullName}}</td>
              <td class="text-center" colspan="2">
                {{#if lmProxy.required}}
                  <span class="add">{{t "general.yes"}}</span>
                {{else}}
                  <span class="remove">{{t "general.no"}}</span>
                {{/if}}
              </td>
              <td class="text-center" colspan="2">
                {{#if lmProxy.notes}}
                  <span class="add">{{t "general.yes"}}</span>
                  {{#if lmProxy.publicNotes}}
                    {{fa-icon "eye"}}
                  {{/if}}
                {{else}}
                  <span class="remove">{{t "general.no"}}</span>
                {{/if}}
              </td>
              <td class="text-center" colspan="2">
                {{#if lmProxy.meshDescriptors.length}}
                  <ul>
                    {{#each (sort-by "name" (await lmProxy.meshDescriptors)) as |descriptor|}}
                      <li>{{descriptor.name}}</li>
                    {{/each}}
                  </ul>
                {{else}}
                  {{t "general.none"}}
                {{/if}}
              </td>
              <td class="text-center" colspan="2">
                {{lmProxy.learningMaterial.status.title}}
                <span data-test-status>{{value}}</span>
                {{#if (or lmProxy.startDate lmProxy.endDate)}}
                  {{fa-icon "clock" title=(t "general.timedRelease")}}
                {{/if}}
              </td>
              <td class="text-left text-center" colspan="1">
                {{#if editable}}
                  <span
                    class="clickable remove"
                    role="button"
                    {{action "confirmRemoval" lmProxy}}
                  >
                    {{fa-icon "trash"}}
                  </span>
                {{/if}}
              </td>
            </tr>
            {{#if lmProxy.showRemoveConfirmation}}
              <tr class="confirm-removal">
                <td colspan="14">
                  <div class="confirm-message">
                    {{t "general.confirmRemoval"}}<br>
                    <div class="confirm-buttons">
                      <button {{action "remove" lmProxy}} class="remove text">{{t "general.yes"}}</button>
                      <button {{action "cancelRemove" lmProxy}} class="done text">{{t "general.cancel"}}</button>
                    </div>
                  </div>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/if}}
</div>
{{#if isSaving class="crossFade"}}
  {{wait-saving
    showProgress=true
    totalProgress=totalMaterialsToSave
    currentProgress=currentMaterialsSaved
  }}
{{/if}}
