<div class="detail-learnergroups-header">
  {{! template-lint-disable no-invalid-interactive}}
  <div
    class="title {{if this.collapsible "collapsible clickable"}}"
    onclick={{if this.collapsible (action this.collapse)}}
    role={{if this.collapsible "button"}}
  >
    {{t "general.learnerGroups"}} ({{this.subject.learnerGroups.length}})
  </div>
  <div class="actions">
    {{#if this.isManaging}}
      <button class="bigadd" onclick={{perform this.save}}>
        <FaIcon
          @icon={{if this.save.isRunning "spinner" "check"}}
          @spin={{this.save.isRunning}}
        />
      </button>
      <button class="bigcancel" {{action "cancel"}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if this.editable}}
      <button {{action this.setIsManaging true}}>
        {{t "general.learnerGroupsManageTitle"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="detail-learnergroups-content">
  {{#if this.isManaging}}
    {{#liquid-if this.loadLearnerGroups.isRunning}}
      <LoadingSpinner />
    {{else}}
      <LearnergroupSelectionManager
        @learnerGroups={{this.learnerGroups}}
        @cohorts={{cohorts}}
        @add={{action "addLearnerGroup"}}
        @remove={{action "removeLearnerGroup"}}
      />
    {{/liquid-if}}
  {{else}}
    <DetailLearnergroupsList
      @learnerGroups={{await this.subject.learnerGroups}}
      @remove={{action "removeLearnerGroup"}}
    />
  {{/if}}
</div>

