{{#if sortedInstructorGroups.length}}
  <h4>
    {{t "general.instructorGroups"}}
    ({{sortedInstructorGroups.length}})
  </h4>
  <ul data-test-instructor-groups>
    {{#each sortedInstructorGroups as |instructorGroup|}}
      <li>
        {{instructorGroup.title}}
      </li>
    {{/each}}
  </ul>
  <h5>
    {{t "general.instructorGroupMembers"}}
    ({{get (await this.instructorGroupMembers) "length"}})
  </h5>
  <ul data-test-instructor-group-members>
    {{#each (await this.instructorGroupMembers) as |instructorGroupMember|}}
      <li>
        {{instructorGroupMember.fullName}}
      </li>
    {{/each}}
  </ul>
{{/if}}
{{#if sortedInstructors.length}}
  <h4>
    {{t "general.instructors"}}
    ({{sortedInstructors.length}})
  </h4>
  <ul data-test-instructors>
    {{#each sortedInstructors as |user|}}
      <li>
        {{user.fullName}}
      </li>
    {{/each}}
  </ul>
{{/if}}

