<span class="content">
  {{#unless this.isEditing}}
    <span>
      {{#if @value}}
        {{#if this.looksEmpty}}
          <FaIcon
            @icon="edit"
            class="enabled"
            data-test-edit
            @click={{perform this.edit}}
          />
        {{else}}
          <BigText
            @renderHtml={{this.renderHtml}}
            @text={{@value}}
            @onEdit={{perform this.edit}}
          />
        {{/if}}
      {{else}}
        <span
          class="clickable editable"
          data-test-edit
          role="button"
          {{action (perform this.edit)}}
        >
          {{this.clickPrompt}}
        </span>
      {{/if}}
    </span>
  {{else}}
    <span class="editor">
      {{yield this.saveData.isRunning (perform this.saveData) (perform this.closeEditor)}}
      <span class="actions">
        <button
          disabled={{this.isSaveDisabled}}
          class="done"
          title={{t "general.save"}}
          {{action (perform this.saveData)}}
        >
          <FaIcon
            @icon={{if this.saveData.isRunning "spinner" "check"}}
            @spin={{this.saveData.isRunning}}
          />
        </button>
        <button
          class="cancel"
          title={{t "general.cancel"}}
          {{action (perform this.closeEditor)}}
        >
          <FaIcon @icon="times" />
        </button>
      </span>
    </span>
  {{/unless}}
</span>
