<span class="content">
  {{#unless isEditing}}
    <span>
      {{#if value}}
        {{#if looksEmpty}}
          {{fa-icon "edit"
            class="enabled"
            data-test-edit=""
            click=(perform edit)}}
        {{else}}
          {{big-text
            renderHtml=renderHtml
            text=value
            onEdit=(perform edit)}}
        {{/if}}
      {{else}}
        <span
          class="clickable"
          data-test-edit
          role="button"
          {{action (perform edit)}}>
          {{clickPrompt}}
        </span>
      {{/if}}
    </span>
  {{else}}
    <span class="editor">
      {{yield saveData.isRunning (perform saveData) (perform closeEditor)}}
      <span class="actions">
        <button
          disabled={{isSaveDisabled}}
          class="done"
          title={{t "general.save"}}
          {{action (perform saveData)}}
        >
          {{fa-icon (if saveData.isRunning "spinner" "check") spin=saveData.isRunning}}
        </button>
        <button
          class="cancel"
          title={{t "general.cancel"}}
          {{action (perform closeEditor)}}
        >
          {{fa-icon "times"}}
        </button>
      </span>
    </span>
  {{/unless}}
</span>
