{{#if value}}
  <button class="collapse-button" onclick={{@action}}>{{fa-icon icon="minus"}}</button>
{{else}}
  <button class="expand-button" onclick={{@action}}>{{fa-icon icon="plus"}}</button>
{{/if}}
