<p>
  {{this.instructions}}
</p>
<p>
  <span>
    <CopyButton @clipboardText={{this.url}} @success={{perform this.textCopied}}>
      <FaIcon @icon="copy" />
      {{t "general.copyIcsFeedUrl"}}
    </CopyButton>
    {{#if this.showCopySuccessMessage}}
      <span class="yes">
        {{t "general.copiedSuccessfully"}}
      </span>
    {{/if}}
  </span>
</p>

