{{moment-format event.startDate 'M/D/YY h:mma'}} - {{moment-format event.endDate 'M/D/YY h:mma'}}
<span {{action selectEvent event}} class='{{if (and clickable isEventSelectable) "clickable"}}'>
  {{event.name}}
</span>
{{event.location}}
