{{#if (has-route "courses")}}
  <div class="back-to-courses-list">
    <LinkTo @route="courses">
      {{t "general.backToCourses"}}
    </LinkTo>
  </div>
{{/if}}
<CourseHeader @course={{this.course}} @editable={{this.editable}} />
<CourseOverview @course={{this.course}} @editable={{this.editable}} />
{{#if (not this.showDetails)}}
  <div
    class="detail-collapsed-control"
    role="button"
    {{action this.setShowDetails true}}
  >
    <span>
      {{t "general.expandDetail"}}
      <FaIcon @icon="plus-square" class="expand-collapse-icon" />
    </span>
  </div>
{{else}}
  <CourseEditing
    @course={{this.course}}
    @editable={{this.editable}}
    @courseLeadershipDetails={{this.courseLeadershipDetails}}
    @courseObjectiveDetails={{this.courseObjectiveDetails}}
    @courseTaxonomyDetails={{this.courseTaxonomyDetails}}
    @courseCompetencyDetails={{this.courseCompetencyDetails}}
    @courseManageLeadership={{this.courseManageLeadership}}
    @setCourseObjectiveDetails={{action this.setCourseObjectiveDetails}}
    @setCourseLeadershipDetails={{action this.setCourseLeadershipDetails}}
    @setCourseTaxonomyDetails={{action this.setCourseTaxonomyDetails}}
    @setCourseCompetencyDetails={{action this.setCourseCompetencyDetails}}
    @setCourseManageLeadership={{action this.setCourseManageLeadership}}
  />
  <div class="detail-collapsed-control" role="button" {{action "collapse"}}>
    <span class="is-expanded">
      {{t "general.collapseDetail"}}
      <FaIcon @icon="minus-square" class="expand-collapse-icon" />
    </span>
  </div>
{{/if}}
