<ul class="inline calendar-view-picker">
  <li
    class="clickable highlight {{if this.showIcsFeed "on"}}"
    role="button"
    {{action (toggle "showIcsFeed" this)}}
  >
    <FaIcon @icon="rss-square" />
  </li>
  <li class="clickable" role="button" {{action this.changeView "day"}}>
    {{t "general.day"}}
  </li>
  <li class="clickable" role="button" {{action this.changeView "week"}}>
    {{t "general.week"}}
  </li>
  <li class="clickable" role="button" {{action this.changeView "month"}}>
    {{t "general.month"}}
  </li>
</ul>
<ul class="inline calendar-time-picker">
  <li class="clickable" role="button" {{action "goBack"}}>
    <FaIcon @icon="backward" />
  </li>
  <li class="clickable" role="button" {{action "gotoToday"}}>
    {{t "general.today"}}
  </li>
  <li class="clickable" role="button" {{action "goForward"}}>
    <FaIcon @icon="forward" />
  </li>
</ul>
<div class="ilios-calendar-calendar">
  {{#if this.showIcsFeed}}
    <IcsFeed
      @url={{this.icsFeedUrl}}
      @instructions={{this.icsInstructions}}
      @refresh={{action "refreshIcsFeed"}}
    />
  {{/if}}
  <h1 class={{if (is-fulfilled this.compiledCalendarEvents) "loaded"}}>
    <FaIcon @icon="spinner" @spin={{true}} />
    {{t "general.loadingEvents"}}
    ...
  </h1>
  {{component
    (concat "ilios-calendar-" this.selectedView)
    calendarEvents=(sort-by
      (action "sortEvents") (await this.compiledCalendarEvents)
    )
    date=this.selectedDate
    selectEvent=this.selectEvent
    changeDate=this.changeDate
    changeView=this.changeView
  }}
</div>
