<ul class="inline calendar-view-picker">
  <li {{action (toggle "showIcsFeed" this)}}
    class="clickable highlight {{if showIcsFeed "on"}}"
    role="button"
  >
    {{fa-icon "rss-square"}}
  </li>
  <li class="clickable" {{action changeView "day"}} role="button">{{t "general.day"}}</li>
  <li class="clickable" {{action changeView "week"}} role="button">{{t "general.week"}}</li>
  <li class="clickable" {{action changeView "month"}} role="button">{{t "general.month"}}</li>
</ul>

<ul class="inline calendar-time-picker">
  <li class="clickable" {{action "goBack"}} role="button">{{fa-icon "backward"}}</li>
  <li class="clickable" {{action "gotoToday"}} role="button">{{t "general.today"}}</li>
  <li class="clickable" {{action "goForward"}} role="button">{{fa-icon "forward"}}</li>
</ul>
<div class="ilios-calendar-calendar">
  {{#if showIcsFeed}}
    {{ics-feed url=icsFeedUrl instructions=icsInstructions refresh=refreshIcsFeed}}
  {{/if}}
  <h1 class={{if (is-fulfilled compiledCalendarEvents) "loaded"}}>
    {{fa-icon "spinner" spin=true}} {{t "general.loadingEvents"}}...
  </h1>
  {{component
    (concat "ilios-calendar-" selectedView)
    calendarEvents=(sort-by (action "sortEvents") (await compiledCalendarEvents))
    date=selectedDate
    selectEvent=selectEvent
    changeDate=changeDate
    changeView=changeView
  }}
</div>
