{{#if this.event}}
  {{#attach-tooltip
    lazyRender=true
    placement="left"
    interactive=true
    animation="shift"
    class="ilios-calendar-event-tooltip"
    }}
    {{! template-lint-disable no-triple-curlies }}
    {{{this.tooltipContent}}}
  {{/attach-tooltip}}
  {{#if this.recentlyUpdated}}
    <FaIcon
      @icon="exclamation"
      class="recently-updated-icon"
      @title={{t "general.newUpdates"}}
    />
  {{/if}}
  <span class="ilios-calendar-event-time">
    <span class="ilios-calendar-event-start">
      {{moment-format this.event.startDate "h:mma"}}
    </span>
    <span class="ilios-calendar-event-end">
      -
      {{moment-format this.event.endDate "h:mma"}}
    </span>
  </span>
  {{#unless this.event.isMulti}}
    <span class="ilios-calendar-event-location">
      {{this.event.location}}:
    </span>
  {{/unless}}
  <span class="ilios-calendar-event-name">
    {{this.event.name}}
    {{#if this.event.isMulti}}
      ,
      <em>
        {{t "general.multiple"}}
      </em>
    {{/if}}
  </span>
{{/if}}

