{{moment-format this.event.startDate "M/D/YY h:mma"}}
-
{{moment-format this.event.endDate "M/D/YY h:mma"}}
<span
  class={{if (and this.clickable this.isEventSelectable) "clickable"}}
  role="button"
  data-test-event-name
  {{action "selectEvent" this.event}}
>
  {{this.event.name}}
</span>
{{this.event.location}}
