<ul class="inline calendar-view-picker">
  <li
    class="clickable highlight {{if showIcsFeed "on"}}"
    role="button"
    {{action (toggle "showIcsFeed" this)}}
  >
    <FaIcon @icon="rss-square" />
  </li>
  <li class="clickable" role="button" {{action changeView "day"}}>
    {{t "general.day"}}
  </li>
  <li class="clickable" role="button" {{action changeView "week"}}>
    {{t "general.week"}}
  </li>
  <li class="clickable" role="button" {{action changeView "month"}}>
    {{t "general.month"}}
  </li>
</ul>
<ul class="inline calendar-time-picker">
  <li class="clickable" role="button" {{action "goBack"}}>
    <FaIcon @icon="backward" />
  </li>
  <li class="clickable" role="button" {{action "gotoToday"}}>
    {{t "general.today"}}
  </li>
  <li class="clickable" role="button" {{action "goForward"}}>
    <FaIcon @icon="forward" />
  </li>
</ul>
<div class="ilios-calendar-calendar">
  {{#if showIcsFeed}}
    <IcsFeed
      @url={{icsFeedUrl}}
      @instructions={{icsInstructions}}
      @refresh={{action "refreshIcsFeed"}}
    />
  {{/if}}
  <h1 class={{if (is-fulfilled compiledCalendarEvents) "loaded"}}>
    <FaIcon @icon="spinner" @spin={{true}} />
    {{t "general.loadingEvents"}}
    ...
  </h1>
  {{component
    (concat "ilios-calendar-" selectedView)
    calendarEvents=(sort-by
      (action "sortEvents") (await compiledCalendarEvents)
    )
    date=selectedDate
    selectEvent=selectEvent
    changeDate=changeDate
    changeView=changeView
  }}
</div>

