{{#if this.event}}
  <div>
    {{#attach-tooltip
      lazyRender=true
      placement="left"
      interactive=true
      animation="shift"
      class="ilios-calendar-event-tooltip"
     }}
      {{! template-lint-disable no-triple-curlies }}
      {{{this.tooltipContent}}}
    {{/attach-tooltip}}
    {{#if this.recentlyUpdated}}
      <FaIcon
        @icon="exclamation-circle"
        class="recently-updated-icon"
        @title={{t "general.newUpdates"}}
      />
    {{/if}}
    {{#unless this.isMonth}}
      {{#if (not this.event.isPublished)}}
        <FaIcon @icon="file-signature" />
      {{else if this.event.isScheduled}}
        <FaIcon @icon="clock" />
      {{/if}}
    {{/unless}}
    <span class="ilios-calendar-event-time">
      {{#if this.isIlm}}
        <span class="ilios-calendar-event-start">
          {{t "general.ilmDue"}}:
          {{moment-format this.event.startDate "h:mma"}}
        </span>
      {{else}}
        <span class="ilios-calendar-event-start">
          {{moment-format this.event.startDate "h:mma"}}
        </span>
        <span class="ilios-calendar-event-end">
          -
          {{moment-format this.event.endDate "h:mma"}}
        </span>
      {{/if}}
    </span>
    {{#unless this.event.isMulti}}
      <span class="ilios-calendar-event-location">
        {{#if this.event.location.length}}
          {{this.event.location}}:
        {{/if}}
      </span>
    {{/unless}}
    <span class="ilios-calendar-event-name">
      {{this.event.name}}
      {{#if this.event.isMulti}}
        ,
        <em>
          {{t "general.multiple"}}
        </em>
      {{/if}}
    </span>
    {{! list instructors in day view, if available }}
    {{#if this.isDay}}
      {{#if this.event.instructors}}
        <span class="ilios-calendar-event-instructors">
          {{t "general.taughtBy" instructors=this.formattedInstructors}}
        </span>
      {{/if}}
      {{#if this.event.courseTitle}}
        <span class="ilios-calendar-event-coursetitle">
          {{this.event.courseTitle}}
        </span>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
