<div class="title clickable" role="button" {{action this.expand}}>
  {{title}}
</div>
<div class="content">
  <table class="condensed">
    <thead>
      <tr>
        <th colspan="2" class="text-left">
          {{t "general.summary"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if this.showDirectors}}
        <tr>
          <td>
            {{t "general.directors"}}
          </td>
          <td>
            {{t "general.directorCount" count=this.directorsCount}}
          </td>
        </tr>
      {{/if}}
      {{#if this.showAdministrators}}
        <tr>
          <td>
            {{t "general.administrators"}}
          </td>
          <td>
            {{t "general.administratorCount" count=this.administratorsCount}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>

