{{! template-lint-disable no-invalid-interactive}}
<span
  class={{if this.selectable "clickable"}}
  onclick={{if this.selectable (action add this.learnerGroup)}}
  role={{if this.selectable "button"}}
>
  {{this.learnerGroup.title}}
</span>
{{#if this.learnerGroup.children.length}}
  <ul>
    {{#if (is-fulfilled this.learnerGroup.children)}}
      {{#each (sort-by "title" (await this.learnerGroup.children)) as |child|}}
        <LearnergroupTree
          @learnerGroup={{child}}
          @selectedGroups={{this.selectedGroups}}
          @filter={{this.filter}}
          @add={{action add}}
        />
      {{/each}}
    {{else}}
      <li>
        <LoadingSpinner />
      </li>
    {{/if}}
  </ul>
{{/if}}

