<div class="new-offering-title">
  {{t "general.newOffering"}}
</div>
<div class="choose-offering-type">
  <ClickChoiceButtons
    @buttonContent1={{t "general.smallGroups"}}
    @buttonContent2={{t "general.offering"}}
    @firstChoicePicked={{this.smallGroupMode}}
    @toggle={{action (mut this.smallGroupMode)}}
  />
</div>
<OfferingForm
  @showRoom={{not this.smallGroupMode}}
  @showMakeRecurring={{true}}
  @showInstructors={{not this.smallGroupMode}}
  @cohorts={{cohorts}}
  @courseStartDate={{this.courseStartDate}}
  @courseEndDate={{this.courseEndDate}}
  @close={{this.close}}
  @save={{action "save"}}
  @smallGroupMode={{this.smallGroupMode}}
  @session={{this.session}}
/>
