{{#unless loadAttr.isRunning}}
  <div class="actions">
    <button class="bigadd" {{action "save"}}>
      <FaIcon @icon="check" />
    </button>
    <button class="bigcancel" {{action "cancel"}}>
      <FaIcon @icon="undo" />
    </button>
  </div>
  <div class="content">
    <SortableObjects
      @sortableObjectList={{sortableObjectList}}
      @enableSort={{true}}
      @useSwap={{true}}
      @sortingScope="sortingGroup"
    >
      {{#each sortableObjectList as |item|}}
        <DraggableObject
          @content={{item}}
          @isSortable={{true}}
          @sortingScope="sortingGroup"
        >
          <FaIcon @icon="arrows-alt" />
          <span class="draggable-object-content">
            <span>
              <BigText @text={{item.title}} />
            </span>
          </span>
        </DraggableObject>
      {{/each}}
    </SortableObjects>
  </div>
{{/unless}}

