{{! template-lint-disable attribute-indentation }}
<div class="objectivetitle">
  {{! template-lint-disable no-triple-curlies }}
  {{{objective.title}}}
</div>

{{#if (gt (get (await competencies) "length") 0)}}
  <ul class="parent-picker">
    {{#each (sort-by "title" (await domains)) as |domain|}}
      {{#if (contains domain.id (map-by "id" (await domainsWithNoChildren)))}}
        <li
          class="competency-title {{if (eq domain.id objective.competency.id) "selected"}}"
        >
          <h5>
            {{#if (eq domain.id objective.competency.id)}}
              <input {{action "removeCurrentCompetency" domain}}
                type="checkbox"
                checked
              >
              <span {{action "removeCurrentCompetency" domain}} class="clickable" role="button">{{domain.title}}</span>
            {{else}}
              <input {{action "changeCompetency" domain}}
                type="checkbox"
              >
              <span {{action "changeCompetency" domain}} class="clickable" role="button">{{domain.title}}</span>
            {{/if}}
          </h5>
        </li>
      {{else}}
        <li>
          <h5 class="competency-title {{if (contains domain.id (map-by "id" (await competenciesWithSelectedChildren))) "selected"}}">
            {{domain.title}}
          </h5>
          <ul>
            {{#each (sort-by "title" (await domain.children)) as |competency|}}
              {{#if (contains competency.id (map-by "id" (await competencies)))}}
                <li class="competency-title {{if (eq competency.id objective.competency.id) "selected"}}">
                  {{#if (eq competency.id objective.competency.id)}}
                    <input {{action "removeCurrentCompetency" competency}}
                      type="checkbox"
                      checked
                    >
                    <span {{action "removeCurrentCompetency" competency}} class="clickable" role="button">{{competency.title}}</span>
                  {{else}}
                    <input {{action "changeCompetency" competency}}
                      type="checkbox"
                    >
                    <span {{action "changeCompetency" competency}} class="clickable" role="button">{{competency.title}}</span>
                  {{/if}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  <div class="no-group">
    <p>
      {{t "general.missingCompetenciesMessage"}}
    </p>
  </div>
{{/if}}
