<RlDropdownContainer>
  <RlDropdownToggle>
    <FaIcon @icon={{this.icon}} />
    <span>
      {{this.title}}
    </span>
  </RlDropdownToggle>
  <RlDropdown @closeOnChildClick="button">
    {{#if this.showAsIs}}
      <button class="danger" {{action this.publish}}>
        {{t "general.publishAsIs"}}
      </button>
    {{/if}}
    {{#if this.showPublish}}
      <button class="good" {{action this.publish}}>
        {{t this.publishTranslation}}
      </button>
    {{/if}}
    {{#if (and this.showReview this.reviewRoute this.reviewObject)}}
      {{#if this.parentObject}}
        <button class="good" {{action "scrollToSessionPublication"}}>
          {{t
            "general.reviewMissingItems"
            count=(get this.reviewObject "allPublicationIssuesLength")
          }}
        </button>
      {{else}}
        <button class="good" {{action "scrollToCoursePublication"}}>
          {{t
            "general.reviewMissingItems"
            count=(get this.reviewObject "allPublicationIssuesLength")
          }}
        </button>
      {{/if}}
    {{/if}}
    {{#if this.showTbd}}
      <button class="good" {{action this.publishAsTbd}}>
        {{t "general.markAsScheduled"}}
      </button>
    {{/if}}
    {{#if this.showUnPublish}}
      <button class="danger" {{action this.unpublish}}>
        {{t this.unPublishTranslation}}
      </button>
    {{/if}}
  </RlDropdown>
</RlDropdownContainer>
