{{#each (sort-by "title" terms) as |term|}}
  {{#if (await term.isActiveInTree)}}
    <li class={{if term.isTopLevel "top-level" ""}}>
      <SelectableTermsListItem
        @selectedTerms={{selectedTerms}}
        @term={{term}}
        @add={{action "add"}}
        @remove={{action "remove"}}
      />
      {{#if term.hasChildren}}
        <SelectableTermsList
          @selectedTerms={{selectedTerms}}
          @terms={{await term.children}}
          @add={{action "add"}}
          @remove={{action "remove"}}
        />
      {{/if}}
    </li>
  {{/if}}
{{/each}}

