{{#each (sort-by "title" terms) as |term|}}
  <li class="clickable">
    <input
      class="checkbox"
      type="checkbox"
      checked={{is-in selectedTerms term}}
      {{action toggle term on="change"}}
    >
    <span {{action toggle term}} class="list-indentation" role="button">{{term.title}}</span>
    {{#if (gt (get (await term.children) "length") 0)}}
      {{selected-term-tree
        terms=(await term.children)
        selectedTerms=selectedTerms
        toggle=toggle
      }}
    {{/if}}
  </li>
{{/each}}
