{{#each (sort-by "title" @terms) as |term|}}
  <li class="clickable">
    <input
      class="checkbox"
      type="checkbox"
      checked={{is-in @selectedTerms term}}
      {{action @toggle term on="change"}}
    >
    <span class="list-indentation" role="button" {{action toggle term}}>
      {{term.title}}
    </span>
    {{#if (gt (get (await term.children) "length") 0)}}
      <SelectedTermTree
        @terms={{await term.children}}
        @selectedTerms={{@selectedTerms}}
        @toggle={{@toggle}}
      />
    {{/if}}
  </li>
{{/each}}
