<div class="session-leadership-expanded-header">
  <div class="title collapsible clickable" role="button" {{action collapse}}>
    {{t "general.sessionAdministration"}}
  </div>
  <div class="actions">
    {{#if isManaging}}
      <button class="bigadd" onclick={{perform save}}>
        <FaIcon
          @icon={{if save.isRunning "spinner" "check"}}
          @spin={{if isSaving true false}}
        />
      </button>
      <button class="bigcancel" {{action setIsManaging false}}>
        <FaIcon @icon="undo" />
      </button>
    {{else if canUpdate}}
      <button {{action setIsManaging true}}>
        {{t "general.manageLeadership"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="session-leadership-expanded-content">
  {{#if (is-array administrators)}}
    {{#if isManaging}}
      <LeadershipManager
        @showDirectors={{false}}
        @administrators={{administrators}}
        @removeAdministrator={{action "removeAdministrator"}}
        @addAdministrator={{action "addAdministrator"}}
      />
    {{else}}
      <LeadershipList
        @showDirectors={{false}}
        @administrators={{administrators}}
      />
    {{/if}}
  {{else}}
    <LoadingSpinner @tagName="h3" />
  {{/if}}
</div>

