{{! template-lint-disable attribute-indentation }}
{{#if (and this.isEditing (is-fulfilled @offering.session.course.cohorts))}}
  <td colspan="10" class="expanded-offering-manager">
    <OfferingForm
      @showRoom={{true}}
      @showInstructors={{true}}
      @cohorts={{await @offering.session.course.cohorts}}
      @courseStartDate={{await @offering.session.course.startDate}}
      @courseEndDate={{await @offering.session.course.startDate}}
      @close={{action "close"}}
      @save={{perform this.save}}
      @smallGroupMode={{false}}
      @offering={{@offering}}
      @session={{await @offering.session}}
    />
  </td>
{{else}}
  {{#if this.firstRow}}
    <td class="text-top offering-block-time-time" colspan="2" rowspan={{this.span}}>
      <span class="offering-block-time-time-starttime" data-test-starttime>
        {{this.startTime}}
      </span>
      <span class="offering-block-time-time-duration" data-test-duration>
        {{#if (gte this.durationHours 1)}}
          {{t "general.durationHours" count=this.durationHours}}
        {{/if}}
        {{#if (and (gt this.durationMinutes 0) (this.lt this.durationMinutes 60))}}
          {{t "general.durationMinutes" count=this.durationMinutes}}
        {{/if}}
      </span>
    </td>
  {{/if}}
  <td>
    {{#if this.canUpdate}}
      <EditableField
        @value={{@offering.room}}
        @save={{perform this.changeRoom}}
        @close={{action "revertRoomChanges"}}
        @saveOnEnter={{true}}
        @closeOnEscape={{true}}
        @isSaveDisabled={{and
          (v-get this "room" "isInvalid")
          (is-in this.showErrorsFor "room")
        }} as |isSaving|
      >
        <input
          type="text"
          class="change-room"
          value={{this.room}}
          oninput={{action (mut this.room) value="target.value"}}
          disabled={{isSaving}}
          onkeyup={{action "addErrorDisplayFor" "room"}}
        >
        {{#if (and (v-get this "room" "isInvalid") (is-in this.showErrorsFor "room"))
        }}
          <span class="validation-error-message">
            {{v-get this "room" "message"}}
          </span>
        {{/if}}
      </EditableField>
    {{else}}
      {{@offering.room}}
    {{/if}}
  </td>
  <td class="text-center">
    {{get (await @offering.allLearners) "length"}}
  </td>
  <td
    colspan="2"
    title={{this.join
      ", "
      (map-by "title" (sort-by "title" (await @offering.learnerGroups)))
    }}
  >
    {{truncate
      (join
        ", " (map-by "title" (sort-by "title" (await @offering.learnerGroups)))
      )
      30
    }}
  </td>
  <td
    colspan="2"
    title={{this.join
      ", "
      (map-by "fullName" (sort-by "fullName" (await @offering.allInstructors)))
    }}
  >
    {{truncate
      (join
        ", "
        (map-by
          "fullName" (sort-by "fullName" (await @offering.allInstructors))
        )
      )
      30
    }}
  </td>
  {{#if this.canUpdate}}
    <td class="text-center">
      <FaIcon
        @icon="pencil-alt"
        class="link"
        @title={{t "general.edit"}}
        @click={{action (toggle "isEditing" this)}}
        @ariaHidden={{false}}
      />
    </td>
  {{/if}}
{{/if}}
