{{#if (is-fulfilled objectives)}}
  {{#if isSorting}}
    {{objective-sort-manager
      subject=session
      save=(action "saveSortOrder")
      cancel=(action "cancelSorting")
    }}
  {{else}}
    {{#if (get (await objectives) "length")}}
      {{#if (and editable (await hasMoreThanOneObjective))}}
        <button class="sort-materials-btn" {{action (mut isSorting) true}}>{{t "general.sortObjectives"}}</button>
      {{/if}}
      <table>
        <thead>
          <tr>
            <th class="text-left" colspan="3">{{t "general.description"}}</th>
            <th class="text-left" colspan="2">{{t "general.parentObjectives"}}</th>
            <th class="text-left" colspan="2">{{t "general.meshTerms"}}</th>
            <th class="text-left" colspan="1">{{t "general.actions"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (await objectives) as |objective|}}
            {{session-objective-list-item
              objective=objective
              editable=editable
              session=session
              showRemoveConfirmation=(is-in objectivesForRemovalConfirmation objective.id)
              remove=(action "confirmRemoval")
              manageParents=manageParents
              manageDescriptors=manageDescriptors
            }}
            {{#if (is-in objectivesForRemovalConfirmation objective.id)}}
              <tr class="confirm-removal">
                <td colspan="8">
                  <div class="confirm-message">
                    {{t "general.confirmObjectiveRemoval"}}<br>
                    <div class="confirm-buttons">
                      <button {{action "remove" objective}} class="remove text">{{t "general.yes"}}</button>
                      <button {{action "cancelRemove" objective}} class="done text">{{t "general.cancel"}}</button>
                    </div>
                  </div>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/if}}
{{else}}
  {{! template-lint-disable unused-block-params }}
  {{#each (repeat session.objectives.length) as |empty|}}
    <div>{{loading-spinner}}</div>
  {{/each}}
{{/if}}

{{#liquid-if isSaving class="crossFade"}}
  {{wait-saving
    showProgress=true
    totalProgress=totalObjectivesToSave
    currentProgress=currentObjectivesSaved
  }}
{{/liquid-if}}
