{{#liquid-if this.saving class="crossFade"}}
  <WaitSaving />
{{/liquid-if}}
<div class="offering-section-top">
  <div class="title">
    {{t "general.offerings"}} ({{this.offerings.length}})
  </div>
  <div class="actions">
    {{#if this.editable}}
      <ExpandCollapseButton
        @value={{this.showNewOfferingForm}}
        @action={{this.toggleShowNewOfferingForm}}
      />
    {{/if}}
  </div>
</div>
{{#if this.showNewOfferingForm}}
  <NewOffering
    @session={{this.session}}
    @cohorts={{await this.session.course.cohorts}}
    @courseStartDate={{await this.session.course.startDate}}
    @courseEndDate={{await this.session.course.endDate}}
    @close={{this.toggleShowNewOfferingForm}}
  />
{{/if}}
<div class="session-offerings-content">
  {{#if this.offerings.length}}
    <div class="session-offerings-header">
      <div>
        {{t "general.dateTime"}}
      </div>
      <div>
        {{t "general.groupName"}}
      </div>
      <div>
        {{t "general.location"}}
      </div>
      <div>
        {{t "general.instructors"}}
      </div>
      <div>
        {{t "general.actions"}}
      </div>
    </div>
    <SessionOfferingsList @session={{this.session}} @editable={{this.editable}} />
  {{else}}
    <p>
      {{t "general.noOfferings"}}
    </p>
  {{/if}}
</div>

