<h2>
  {{title}}
  {{#if this.showDisplayModeToggle}}
    <button
      class={{if this.groupByCompetencies "active"}}
      {{action (toggle "groupByCompetencies" this)}}
    >
      {{#if this.groupByCompetencies}}
        <FaIcon @icon="indent" @title={{this.listByPriorityPhrase}} />
      {{else}}
        <FaIcon @icon="list" @title={{this.groupByCompetenciesPhrase}} />
      {{/if}}
    </button>
  {{/if}}
</h2>
{{#if this.groupByCompetencies}}
  {{#if this.domains.length}}
    <ul class="tree">
      {{#each this.domains as |domain|}}
        <li>
          {{domain.title}}
          <ul>
            {{#each domain.objectives as |title|}}
              {{! template-lint-disable no-triple-curlies }}
              <li>
                {{{title}}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <li class="no-content">
      {{t "general.none"}}
    </li>
  {{/if}}
{{else}}
  <ul class="list-in-order">
    {{#each this.objectives as |objective|}}
      <li>
        {{objective.title}}
        <span class="details">
          {{objective.domain}}
        </span>
      </li>
    {{else}}
      <li class="no-content">
        {{t "general.none"}}
      </li>
    {{/each}}
  </ul>
{{/if}}
