{{#if learningMaterials.length}}
  <ul class="static-list fa-ul">
    {{#each learningMaterials as |lm|}}
      <li class="single-event-learningmaterial-item">
        {{#if lm.isBlanked}}
          <span class="lm-type-icon">{{fa-icon "clock" title=(t "general.timedRelease")}}</span>
          <div class="single-event-learningmaterial-item-title">
            {{lm.title}}
          </div>
        {{else}}
          {{lm-type-icon type=lm.type mimetype=lm.mimetype listItem=true}}
          <div class="single-event-learningmaterial-item-title">
            {{#if lm.required}}
              {{fa-icon "star" title=(t "general.required")}}
            {{/if}}
            {{#if lm.absoluteFileUri}}
              {{#if (eq lm.mimetype "application/pdf")}}
                <a href="{{lm.absoluteFileUri}}?inline">{{lm.title}}</a>
                <a target="_blank" href={{lm.absoluteFileUri}} rel="noopener">{{fa-icon "download" title=(t "general.download")}}</a>
              {{else}}
                <a target="_blank" href={{lm.absoluteFileUri}} rel="noopener">{{lm.title}}</a>
              {{/if}}
              <span class="single-event-learningmaterial-filesize">
                {{#if lm.filesize}} ({{filesize lm.filesize}}){{/if}}
              </span>
            {{else if lm.link}}
              <a target="_blank" href={{lm.link}} rel="noopener">{{lm.title}}</a>
            {{else}}
              {{lm.title}}
            {{/if}}
          </div>
          {{#if lm.citation}}
            <div class="single-event-learningmaterial-item-citation">
              {{lm.citation}}
            </div>
          {{/if}}
          <div class="single-event-learningmaterial-item-timing-info">
            {{timed-release-schedule
              startDate=lm.startDate
              endDate=lm.endDate
              showNoSchedule=false
            }}
          </div>

          {{#if lm.description}}
            <div class="single-event-learningmaterial-item-description">
              {{! template-lint-disable no-triple-curlies }}
              {{{lm.description}}}
            </div>
          {{/if}}

          {{#if lm.publicNotes}}
            <div class="single-event-learningmaterial-item-notes">
              {{! template-lint-disable no-triple-curlies }}
              {{fa-icon "pen-square"}}<p>{{{lm.publicNotes}}}</p>
            </div>
          {{/if}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="no-content">{{t "general.none"}}</p>
{{/if}}
