{{#if learningMaterials.length}}
  <ul class='static-list fa-ul'>
    {{#each learningMaterials as |lm|}}
      <li class='single-event-learningmaterial-item'>
        {{lm-type-icon type=lm.type mimetype=lm.mimetype listItem=true}}
        <div class='single-event-learningmaterial-item-title'>
          {{#if lm.required}}
            {{fa-icon 'star' title=(t 'general.required')}}
          {{/if}}
          {{#if lm.url}}
            {{#if (eq lm.mimetype 'application/pdf')}}
              <a href='{{lm.url}}?inline'>{{lm.title}}</a>
              <a target='_blank' href='{{lm.url}}?inline' rel='noopener'>{{fa-icon 'download' title=(t 'general.download')}}</a>
            {{else}}
              <a target='_blank' href='{{lm.url}}' rel='noopener'>{{lm.title}}</a>
            {{/if}}
          {{else}}
            {{lm.title}}
          {{/if}}
          <span class='single-event-learningmaterial-filesize'>
            {{#if lm.filesize}} ({{filesize lm.filesize}}){{/if}}
          </span>
        </div>

        {{#if lm.citation}}
          <div class='single-event-learningmaterial-item-citation'>
            {{lm.citation}}
          </div>
        {{/if}}

        {{#if lm.description}}
          <div class='single-event-learningmaterial-item-description'>
            {{{lm.description}}}
          </div>
        {{/if}}

        {{#if lm.notes}}
          <div class='single-event-learningmaterial-item-notes'>
            {{fa-icon 'pencil-square-o'}}<p>{{{lm.notes}}}</p>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="no-content">{{t 'general.none'}}</p>
{{/if}}
