{{one-way-radio
  value=firstOptionSelected
  option=true
  id=(concat 'first-toggle-' elementId)
  name=(concat 'toggle-' elementId)
  update=(action 'firstChoice')
}}
<label for={{concat 'first-toggle-' elementId}}>{{firstLabel}}</label>
{{one-way-radio
  value=firstOptionSelected
  option=false
  id=(concat 'second-toggle-' elementId)
  name=(concat 'toggle-' elementId)
  update=(action 'secondChoice')
}}
<label for={{concat 'second-toggle-' elementId}}>{{secondLabel}}</label>
