<input
  type="radio"
  id={{concat "first-toggle-" this.elementId}}
  name={{concat "toggle-" this.elementId}}
  checked={{eq @firstOptionSelected true}}
  {{on "click" (action "firstChoice")}}
>
<label for={{concat "first-toggle-" this.elementId}}>
  {{@firstLabel}}
</label>
<input
  type="radio"
  id={{concat "second-toggle-" this.elementId}}
  name={{concat "toggle-" this.elementId}}
  checked={{eq @firstOptionSelected false}}
  {{on "click" (action "secondChoice")}}
>
<label for={{concat "second-toggle-" this.elementId}}>
  {{@secondLabel}}
</label>
