<input class="switch-input" type="checkbox" id="{{cssId}}-input" checked={{switchValue}}>
<span {{action "click"}} class="switch-label" id="{{cssId}}-label" data-on="{{t onLabel}}" data-off="{{t offLabel}}"></span>
<span class="switch-handle"></span>
