<div class="accessible">
  <input
    type="radio"
    id={{concat "first-toggle-" this.elementId}}
    name={{concat "toggle-" this.elementId}}
    checked={{eq @firstOptionSelected true}}
    onclick={{action "firstChoice"}}
  >
  <label for={{concat "first-toggle-" this.elementId}}>
    {{@firstLabel}}
  </label>
  <input
    type="radio"
    id={{concat "second-toggle-" this.elementId}}
    name={{concat "toggle-" this.elementId}}
    checked={{eq @firstOptionSelected false}}
    onclick={{action "secondChoice"}}
  >
  <label for={{concat "second-toggle-" this.elementId}}>
    {{@secondLabel}}
  </label>
</div>
<div class="icons">
  {{#if @firstOptionSelected}}
    <FaIcon
      @icon={{@firstIcon}}
      class="first"
      @title={{@secondLabel}}
      @click={{action "secondChoice"}}
    />
  {{else}}
    <FaIcon
      @icon={{@secondIcon}}
      class="second"
      @title={{@firstLabel}}
      @click={{action "firstChoice"}}
    />
  {{/if}}
</div>
