<div class='accessible'>
  <input
    type="radio"
    id={{concat 'first-toggle-' elementId}}
    name={{concat 'toggle-' elementId}}
    checked={{eq firstOptionSelected true}}
    onclick={{action 'firstChoice'}}
  >
  <label for={{concat 'first-toggle-' elementId}}>{{firstLabel}}</label>
  <input
    type="radio"
    id={{concat 'second-toggle-' elementId}}
    name={{concat 'toggle-' elementId}}
    checked={{eq firstOptionSelected false}}
    onclick={{action 'secondChoice'}}
  >
  <label for={{concat 'second-toggle-' elementId}}>{{secondLabel}}</label>
</div>
<div class='icons'>
  {{#if firstOptionSelected}}
    {{fa-icon firstIcon class='first' title=secondLabel click=(action 'secondChoice')}}
  {{else}}
    {{fa-icon secondIcon class='second' title=firstLabel click=(action 'firstChoice')}}
  {{/if}}
</div>
