{{! template-lint-disable attribute-indentation }}
{{#if (or true this.isIcon (gt (get (await this.objectiveWithMinutes) "length") 0))}}
  <SimpleChart
    @name="donut"
    @isIcon={{this.isIcon}}
    @data={{await this.objectiveWithMinutes}}
    @hover={{perform this.donutHover}}
    @leave={{perform this.donutHover}} as |chart|
  >
    {{#if this.tooltipContent}}
      <chart.tooltip @title={{this.tooltipTitle}}>
        {{this.tooltipContent}}
      </chart.tooltip>
    {{/if}}
  </SimpleChart>
{{else}}
  <div class="with-hours">
    <p>
      {{t "general.objectivesWithNoLink"}}
    </p>
    <h4>
      <FaIcon @icon="meh" class="meh-o" />
    </h4>
  </div>
{{/if}}
{{#unless (or this.isIcon (eq (get (await this.objectiveWithoutMinutes) "length") 0))}}
  <div class="zero-hours">
    <h4>
      <FaIcon @icon="exclamation-triangle" class="warning" />
      {{t "general.unusedObjectives"}}:
    </h4>
    <p>
      {{t "general.objectivesWithNoHours"}}
    </p>
    <ul>
      {{#each
        (sort-by
          "meta.courseObjective.title" (await this.objectiveWithoutMinutes)
        ) as |obj|
      }}
        {{! template-lint-disable no-triple-curlies}}
        <li>
          {{{obj.meta.courseObjective.title}}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/unless}}
