<h3
  class="{{if this.collapsible "clickable collapsible"}}

    {{if this.collapsed "collapsed" "expanded"}}"
  role="button"
  data-test-week-title
  {{action (optional @toggleCollapsed) this.collapsed}}
>
  {{this.title}}
  {{#if this.showFullTitle}}
    {{t "general.weekAtAGlance"}}
  {{/if}}
</h3>
{{#liquid-unless this.collapsed class="vertical"}}
  {{#if (is-fulfilled this.publishedWeekEvents)}}
    <div class="ilm-pre-work">
      {{#if (gt (get (await this.ilmPreWork) "length") 0)}}
        <h4>
          {{t "general.preWork"}}
        </h4>
        {{#each (await this.ilmPreWork) as |ilmGroup|}}
          <WeekGlancePreWork @events={{ilmGroup}} />
        {{/each}}
      {{/if}}
    </div>
    {{#if (gt (get (await this.nonIlmPreWorkEvents) "length") 0)}}
      {{#each (await this.nonIlmPreWorkEvents) as |event|}}
        <WeekGlanceEvent @event={{event}} />
      {{/each}}
    {{else}}
      <p>
        {{t "general.none"}}
      </p>
    {{/if}}
  {{else}}
    <p>
      <FaIcon @icon="spinner" @spin={{true}} />
      {{t "general.loadingEvents"}}
    </p>
  {{/if}}
{{/liquid-unless}}
