<h3
  class="{{if collapsible "clickable collapsible"}} {{if collapsed "collapsed" "expanded"}}"
  role="button"
  data-test-week-title
  {{action (optional toggleCollapsed) collapsed}}
>
  {{title}}
  {{#if showFullTitle}}
    {{t "general.weekAtAGlance"}}
  {{/if}}
</h3>
{{#liquid-unless collapsed class="vertical"}}
  {{#if (is-fulfilled publishedWeekEvents)}}
    {{#if (gt (get (await publishedWeekEvents) "length") 0)}}
      {{#each (await publishedWeekEvents) as |event|}}
        <WeekGlanceEvent @event={{event}} />
      {{/each}}
    {{else}}
      <p>{{t "general.none"}}</p>
    {{/if}}
  {{else}}
    <p>{{fa-icon "spinner" spin=true}} {{t "general.loadingEvents"}}</p>
  {{/if}}
{{/liquid-unless}}
