<div class="year">
  <h2>{{fa-icon "backward" click=(action "decrementYear")}} {{year}} {{fa-icon "forward" click=(action "incrementYear")}}</h2>
</div>
{{#each weeksInYear as |week|}}
  {{week-glance
    collapsible=true
    collapsed=(not (contains week expandedWeeks))
    year=year
    week=week
    toggleCollapsed=(action toggleOpenWeek week)
  }}
{{/each}}
<div class="year">
  <h2>{{fa-icon "backward" click=(action "decrementYear")}} {{year}} {{fa-icon "forward" click=(action "incrementYear")}}</h2>
</div>
