<section id='learner-groups' class='fullwidth'>
  {{#if model}}
    {{input type='text' value=filter placeholder='Filter by title'}}
    {{#each group in filteredContent}}
      {{ilios-learnergroup group=group}}
    {{/each}}
  {{else}}
    <p>{{t 'learnerGroups.noGroups'}}</p>
  {{/if}}
</section>
<section class='new fullwidth'>
  <button {{action 'createNewGroup'}}>{{t 'learnerGroups.new'}}</button>
</section>
