<div data-test-reports-subject-course>
  {{#if this.finishedLoading}}
    <ul class="report-results" data-test-results>
      {{#each this.sortedCourses as |course|}}
        <li>
          {{#if this.showYear}}
            <span data-test-year>
              {{#if this.academicYearCrossesCalendarYearBoundaries}}
                {{course.year}} - {{add course.year 1}}
              {{else}}
                {{course.year}}
              {{/if}}
            </span>
          {{/if}}
          <span data-test-title>
            {{#if this.canViewCourse}}
              <LinkTo @route="course" @model={{course.id}}>
                {{course.title}}
                {{#if course.externalId}}
                  ({{course.externalId}})
                {{/if}}
              </LinkTo>
            {{else}}
              {{course.title}}
              {{#if course.externalId}}
                ({{course.externalId}})
              {{/if}}
            {{/if}}
          </span>
        </li>
      {{else}}
        <li>{{t "general.none"}}</li>
      {{/each}}
    </ul>
  {{else}}
    <LoadingSpinner />
  {{/if}}
</div>
