<div class="new-subject-search" data-test-reports-subject-new-course>
  <p data-test-search>
    <label for="{{this.uniqueId}}-course-search">
      {{t "general.whichIs"}}
    </label>
    <input
      id="{{this.uniqueId}}-course-search"
      type="search"
      value={{this.query}}
      {{on "input" (pick "target.value" (set this.query))}}
      {{on "keyup" this.keyboard}}
    >
    <button
      type="button"
      {{on "click" (perform this.search)}}
    >
      <FaIcon @icon={{if this.search.isRunning "spinner" "magnifying-glass"}} @spin={{this.search.isRunning}} />
    </button>
  </p>

  {{#if this.courses}}
    <p class="results">
      <div>
        <strong>{{t "general.courses"}}:</strong>
        <ol data-test-results>
          {{#each this.sortedCourses as |course|}}
            <Reports::Subject::New::Search::Result
              @isSelected={{eq course.id @currentId}}
              @id={{course.id}}
              @changeId={{@changeId}}
            >
              {{course.year}}&nbsp;
              {{#if course.externalId}}
                [{{course.externalId}}]&nbsp;
              {{/if}}
              {{course.title}}
            </Reports::Subject::New::Search::Result>
          {{else}}
            {{t "general.none"}}
          {{/each}}
        </ol>
      </div>
    </p>
  {{/if}}
</div>
