<p data-test-reports-subject-new-instructor-group>
  <label for="new-instructor-group">
    {{t "general.whichIs"}}
  </label>
  {{#if this.isLoaded}}
    <select
      id="new-instructor-group"
      data-test-prepositional-objects
      {{on "change" (pick "target.value" @changeId)}}
      {{did-insert (perform this.setInitialValue)}}
      {{did-update (perform this.setInitialValue) @school}}
    >
      {{#each this.sortedInstructorGroups as |instructorGroup|}}
        <option
          selected={{eq instructorGroup.id @currentId}}
          value={{instructorGroup.id}}
        >
          {{instructorGroup.title}}
        </option>
      {{/each}}
    </select>
  {{else}}
    <LoadingSpinner />
  {{/if}}
</p>
