<div class="new-subject-search" data-test-reports-subject-new-learning-material>
  <p data-test-search>
    <label for="{{this.uniqueId}}-learning-material-search">
      {{t "general.whichIs"}}
    </label>
    <input
      id="{{this.uniqueId}}-learning-material-search"
      type="search"
      value={{this.query}}
      {{on "input" (pick "target.value" (set this.query))}}
      {{on "keyup" this.keyboard}}
    >
    <button
      type="button"
      {{on "click" (perform this.search)}}
    >
      <FaIcon @icon="magnifying-glass"/>
    </button>
  </p>

  {{#if this.materials}}
    <p class="results">
      <div>
        <strong>{{t "general.learningMaterials"}}:</strong>
        <ol data-test-results>
          {{#each this.sortedMaterials as |material|}}
            <Reports::Subject::New::Search::Result
              @isSelected={{eq material.id @currentId}}
              @id={{material.id}}
              @changeId={{@changeId}}
            >
              {{material.title}}
            </Reports::Subject::New::Search::Result>
          {{else}}
            {{t "general.none"}}
          {{/each}}
        </ol>
      </div>
    </p>
  {{/if}}
</div>
