<div class="new-subject-search" data-test-reports-subject-new-session>
  <p data-test-search>
    <label for="{{this.uniqueId}}-session-search">
      {{t "general.whichIs"}}
    </label>
    <input
      id="{{this.uniqueId}}-session-search"
      type="search"
      value={{this.query}}
      {{on "input" (pick "target.value" (set this.query))}}
      {{on "keyup" this.keyboard}}
    >
    <button
      type="button"
      {{on "click" (perform this.search)}}
    >
      <FaIcon @icon="magnifying-glass"/>
    </button>
  </p>

  {{#if this.sessions}}
    <p class="results">
      <div>
        <strong>{{t "general.sessions"}}:</strong>
        <ol data-test-results>
          {{#each this.sortedSessions as |session|}}
            <Reports::Subject::New::Search::Result
              @isSelected={{eq session.id @currentId}}
              @id={{session.id}}
              @changeId={{@changeId}}
            >
              {{session.course.year}} |&nbsp;
              {{session.title}}
              {{#if session.course.externalId}}
                [{{session.course.externalId}}] |
              {{/if}}
              {{session.course.title}}
            </Reports::Subject::New::Search::Result>
          {{else}}
            {{t "general.none"}}
          {{/each}}
        </ol>
      </div>
    </p>
  {{/if}}
</div>
