<section id='learnergroups-cohorts' class='fullwidth'>
  {{#if model}}
    {{input type='text' value=filter placeholder='Filter by title'}}
    <table class='grid-table'>
      <thead>
        <tr>
          <th>{{t 'general.title'}}</th>
          <th>{{t 'general.members'}}</th>
          <th>{{t 'learnerGroups.learnerGroups'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each cohort in filteredContent}}
          <tr>
            <td>{{#link-to 'learnergroupscohort' cohort}}{{cohort.displayTitle}}{{/link-to}}</td>
            <td>{{cohort.users.length}}</td>
            <td>{{cohort.groups.length}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{t 'learnerGroups.noCohorts'}}
  {{/if}}
</section>
