{{#let (unique-id) as |templateId|}}
  <div class="new-program" data-test-program-new>
    <h4>
      {{t "general.newProgram"}}
    </h4>
    <div class="form">
      <div class="title" data-test-title>
        <label for="title-{{templateId}}">
          {{t "general.title"}}:
        </label>
        <input
          id="title-{{templateId}}"
          type="text"
          disabled={{this.save.isRunning}}
          placeholder={{t "general.programTitlePlaceholder"}}
          value={{this.title}}
          {{on "focusout" (fn this.addErrorDisplayFor "title")}}
          {{on "keyup" this.keyboard}}
          {{on "keyup" (fn this.addErrorDisplayFor "title")}}
          {{on "input" (pick "target.value" (set this.title))}}
        >
        <ValidationError @errors={{get-errors-for this.title}} />
      </div>
      <div class="buttons">
        <button
          type="button"
          class="done text"
          {{on "click" (perform this.save)}}
          data-test-done
        >
          {{#if this.save.isRunning}}
            <LoadingSpinner />
          {{else}}
            {{t "general.done"}}
          {{/if}}
        </button>
        <button
          type="button"
          class="cancel text"
          {{on "click" @cancel}}
          data-test-cancel
        >
          {{t "general.cancel"}}
        </button>
      </div>
    </div>
  </div>
{{/let}}
