<section class="program" data-test-program-details ...attributes>
  <div class="backtolink">
    <LinkTo @route="programs">
      {{t "general.backToPrograms"}}
    </LinkTo>
  </div>
  <Program::Header @program={{@program}} @canUpdate={{@canUpdate}} />
  <Program::Overview @program={{@program}} @canUpdate={{@canUpdate}} />
  {{#if @leadershipDetails}}
    <ProgramLeadershipExpanded
      @program={{@program}}
      @canUpdate={{@canUpdate}}
      @collapse={{fn @setLeadershipDetails false}}
      @expand={{fn @setLeadershipDetails true}}
      @isManaging={{@manageLeadership}}
      @setIsManaging={{@setManageLeadership}}
    />
  {{else}}
    <LeadershipCollapsed
      @title={{t "general.programLeadership"}}
      @showAdministrators={{false}}
      @showDirectors={{true}}
      @directorsCount={{has-many-length @program "directors"}}
      @expand={{fn @setLeadershipDetails true}}
    />
  {{/if}}
</section>
