<section class="course-visualize-session-type">
  <div class="backtolink">
    <LinkTo @route="course-visualizations" @model={{@model.course}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h2>
    {{t "general.vocabularyTermsFor" subject=@model.sessionType.title}}
  </h2>
  <h3 class="clickable">
    <LinkTo @route="course" @model={{@model.course}}>
      {{@model.course.title}}
      {{@model.course.academicYear}}
    </LinkTo>
  </h3>
  <VisualizerCourseSessionType
    @course={{@model.course}}
    @sessionType={{@model.sessionType}}
  />
</section>
