<legend>{{t "programs.program.editingProgram" titleBinding=title}}</legend>
<label>{{t "programs.program.title"}}
  {{input value=title}}
</label>

<label>{{t "programs.program.shortTitle"}}
  {{input value=shortTitle}}
</label>

<label {{bind-attr for="view.durationField.elementId"}}>{{t "programs.program.duration"}}</label>
{{view 'select' content=durationOptions value=duration viewName="durationField"}}

<button {{action 'save'}}>{{t "general.save"}}</button>
