<div class="breadcrumb">
  {{#link-to 'programs'}}All Programs{{/link-to}}
</div>

<h2>Program Years:</h2>
<table class="grid-table">
  <thead>
    <tr>
      <th>Academic Year</th>
      <th>Competencies</th>
      <th>Objectives</th>
      <th>Directors</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'programyear' program this}}{{academicYear}}{{/link-to}}</td>
        <td>
          {{#modal-dialog title='Competencies' openDialogText=competencies.length}}
            <p>
              <ul>
                {{#each competency in competencies}}
                  <li>
                    {{#link-to 'programyearcompetencies' program this}}
                      {{competency.title}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>
          {{#modal-dialog title='Objectives' openDialogText=objectives.length}}
            <p>
              <ul>
                {{#each objective in objectives}}
                  <li>
                    {{#link-to 'programyearobjectives' program this}}
                      {{objective.title}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>
          {{#modal-dialog title='Directors' openDialogText=directors.length}}
            <p>
              <ul>
                {{#each director in directors}}
                  <li>
                    {{#link-to 'programyeardirectors' program this}}
                      {{director.fullName}} {{director.email}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>{{nicePublished}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to 'program.newyear'}}Create a New Program Year{{/link-to}}
