<div class="breadcrumb">
  {{#link-to 'programs'}}{{t "programs.allPrograms"}}{{/link-to}}
</div>

<h2>Program Years:</h2>
<table class="grid-table">
  <thead>
    <tr>
      <th>{{t "programs.programYear.academicYear"}}</th>
      <th>{{t "general.competencies"}}</th>
      <th>{{t "general.objectives"}}</th>
      <th>{{t "general.directors"}}</th>
      <th>{{t "general.status"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'programyear' program this}}{{academicYear}}{{/link-to}}</td>
        <td>
          {{#modal-dialog titleTranslation="general.competencies" openDialogText=competencies.length}}
            <p>
              <ul>
                {{#each competency in competencies}}
                  <li>
                    {{#link-to 'programyearcompetencies' program this}}
                      {{competency.title}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>
          {{#modal-dialog titleTranslation="general.objectives" openDialogText=objectives.length}}
            <p>
              <ul>
                {{#each objective in objectives}}
                  <li>
                    {{#link-to 'programyearobjectives' program this}}
                      {{objective.title}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>
          {{#modal-dialog titleTranslation="general.directors" openDialogText=directors.length}}
            <p>
              <ul>
                {{#each director in directors}}
                  <li>
                    {{#link-to 'programyeardirectors' program this}}
                      {{director.fullName}} {{director.email}}
                    {{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </p>
          {{/modal-dialog}}
        </td>
        <td>
          {{#if publishedAsTbd}}
            {{t "general.published"}}
          {{else}}
            {{t "general.notPublished"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to 'program.newyear'}}{{t "programs.programYear.createNew"}}{{/link-to}}
