<div class="breadcrumb">
  {{#link-to 'programs'}}All Programs{{/link-to}}
</div>

<h2>Program Years:</h2>
<table class="grid-table">
  <thead>
    <tr>
      <th>Academic Year</th>
      <th>Competencies</th>
      <th>Objectives</th>
      <th>Directors</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'programyear' program this}}{{academicYear}}{{/link-to}}</td>
        <td>{{competencies.length}}</td>
        <td>{{objectives.length}}</td>
        <td>{{directors.length}}</td>
        <td>{{nicePublished}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to 'program.newyear'}}Create a New Program Year{{/link-to}}
