<div class="breadcrumb">
  {{#link-to 'programs'}}{{t "programs.allPrograms"}}{{/link-to}}
  {{#link-to 'program' program}}{{program.title}}{{/link-to}}
</div>
<fieldset>
    <legend>Create a New Program Year</legend>
    <label {{bindAttr for="view.yearChoice.elementId"}}>Academic Year</label>
    {{view Ember.Select content=academicYears value=yearChoice viewName="yearChoice"}}

    <button {{action 'save'}}>Save</button>
</fieldset>
