<div
  class="dashboard-materials"
  data-test-dashboard-materials
>
  <Dashboard::ViewPicker />
  <h2 class="title" data-test-materials-title>
    {{t "general.myMaterials"}}
  </h2>
  <div class="dashboard-materials-content">
    <div class="header" data-test-materials-header>
      <ToggleButtons
        @firstOptionSelected={{not @showAllMaterials}}
        @firstLabel={{t "general.nextXDays" days=this.daysInAdvance}}
        @secondLabel={{t "general.allMaterials"}}
        @toggle={{@toggleMaterialsMode}}
      />
    </div>
    <div class="material-list" data-test-materials-list>
      <span class="course-filter" data-test-course-filter>
        <select
          aria-label={{t "general.selectCourse"}}
          {{on "change" this.changeCourseIdFilter}}
        >
          <option value="">
            {{t "general.allCourses"}}
          </option>
          {{#if this.materialsLoaded}}
            {{#each this.courses as |courseObj|}}
              <option
                selected={{is-equal courseObj.id @courseIdFilter}}
                value={{courseObj.id}}
              >
                {{courseObj.title}}
              </option>
            {{/each}}
            {{#unless this.canApplyCourseFilter}}
              {{#if this.courseLoaded}}
                {{#if this.course}}
                  <option selected="selected" disabled>{{this.course.title}}</option>
                {{else}}
                  <option selected="selected" disabled>&ast;&ast; {{t "general.courseNotFound"}} &ast;&ast;</option>
                {{/if}}
              {{/if}}
            {{/unless}}
          {{/if}}
        </select>
      </span>
      <span class="filter" data-test-text-filter>
        <input
          aria-label={{t "general.filterPlaceholder"}}
          data-test-filter-input
          placeholder={{t "general.filterPlaceholder"}}
          type="text"
          value={{@filter}}
          {{on "input" (perform this.setQuery value="target.value")}}
        >
      </span>
      <span class="paginator" data-test-paginator-top>
        <PagedlistControls
          @offset={{@offset}}
          @limit={{@limit}}
          @total={{this.total}}
          @setOffset={{@setOffset}}
          @setLimit={{@setLimit}}
        />
      </span>
      <table>
        <thead>
          <tr>
            <th></th>
            <SortableTh
              @colspan={{6}}
              @sortedAscending={{this.sortedAscending}}
              @sortedBy={{or (eq @sortBy "title") (eq @sortBy "title:desc")}}
              @onClick={{fn this.sortBy "title"}}
            >
              {{t "general.title"}}
            </SortableTh>
            <SortableTh
              @colspan={{6}}
              @sortedAscending={{this.sortedAscending}}
              @sortedBy={{or
              (eq @sortBy "sessionTitle")
              (eq @sortBy "sessionTitle:desc")
            }}
              @onClick={{fn this.sortBy "sessionTitle"}}
            >
              {{t "general.session"}}
            </SortableTh>
            <SortableTh
              @colspan={{6}}
              @sortedAscending={{this.sortedAscending}}
              @sortedBy={{or
              (eq @sortBy "courseTitle")
              (eq @sortBy "courseTitle:desc")
            }}
              @onClick={{fn this.sortBy "courseTitle"}}
            >
              {{t "general.course"}}
            </SortableTh>
            <th colspan="4" class="hide-from-small-screen">
              {{t "general.instructor"}}
            </th>
            <SortableTh
              @colspan={{4}}
              @sortedAscending={{this.sortedAscending}}
              @sortedBy={{or
              (eq @sortBy "firstOfferingDate")
              (eq @sortBy "firstOfferingDate:desc")
            }}
              @sortType="numeric"
              @onClick={{fn this.sortBy "firstOfferingDate"}}
            >
              {{t "general.date"}}
            </SortableTh>
          </tr>
        </thead>
        <tbody>
          {{#if this.materialsLoaded}}
            {{#each this.filteredMaterials as |lmObject|}}
              <tr data-test-learning-material>
                <td>
                  <UserMaterialStatus @learningMaterial={{lmObject}} />
                </td>
                <td colspan="6" data-test-title>
                  {{#if lmObject.isBlanked}}
                    <span class="lm-type-icon">
                      <FaIcon @icon="clock" @title={{t "general.timedRelease"}} data-test-is-blanked />
                    </span>
                    {{lmObject.title}}
                    <span class="timed-release-info">
                      <TimedReleaseSchedule
                        @endDate={{lmObject.endDate}}
                        @startDate={{lmObject.startDate}}
                      />
                    </span>
                  {{else}}
                    <LmTypeIcon
                      @mimetype={{lmObject.mimetype}}
                      @type={{lm-type lmObject}}
                    />
                    {{#if lmObject.absoluteFileUri}}
                      {{#if (eq lmObject.mimetype "application/pdf")}}
                        <a
                          href="{{lmObject.absoluteFileUri}}?inline"
                          data-test-pdf-link
                        >
                          {{lmObject.title}}
                        </a>
                        <a
                          href={{lmObject.absoluteFileUri}}
                          rel="noopener noreferrer"
                          target="_blank"
                          data-test-pdf-download-link
                        >
                          <FaIcon
                            @icon="download"
                            @title={{t "general.download"}}
                          />
                        </a>
                      {{else}}
                        <a
                          href={{lmObject.absoluteFileUri}}
                          rel="noopener noreferrer"
                          target="_blank"
                          data-test-file-link
                        >
                          {{lmObject.title}}
                        </a>
                      {{/if}}
                    {{else if lmObject.link}}
                      <a
                        href={{lmObject.link}}
                        rel="noopener noreferrer"
                        target="_blank"
                        data-test-link
                      >
                        {{lmObject.title}}
                      </a>
                    {{else}}
                      {{lmObject.title}}
                      <br>
                      <small>
                        {{lmObject.citation}}
                      </small>
                    {{/if}}
                  {{/if}}
                </td>
                <td colspan="6" data-test-session-title>
                  {{lmObject.sessionTitle}}
                </td>
                <td colspan="6" data-test-course-title>
                  {{lmObject.courseTitle}}
                </td>
                <td class="hide-from-small-screen" colspan="4" data-test-instructors>
                  <TruncateText
                    @length={{25}}
                    @text={{join
                    ", "
                    (sort-by this.sortString lmObject.instructors)
                  }}
                  />
                </td>
                <td colspan="4" data-test-date>
                  {{#if lmObject.firstOfferingDate}}
                    {{format-date lmObject.firstOfferingDate}}
                  {{else}}
                    {{t "general.none"}}
                  {{/if}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="27" class="no-results" data-test-none>
                  {{t "general.none"}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td class="text-center" colspan="27">
                <FaIcon @icon="spinner" class="orange" @size="2x" @spin={{true}} />
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
      <span class="paginator" data-test-paginator-bottom>
        <PagedlistControls
          @offset={{@offset}}
          @limit={{@limit}}
          @total={{this.total}}
          @setOffset={{@setOffset}}
          @setLimit={{@setLimit}}
        />
      </span>
    </div>
  </div>
</div>
