<li {{bind-attr class="selected:disabled:enabled"}}>
  {{#unless selected}}
    <span {{translateAttr title="mesh.add"}} class='add' {{action "addMeshDescriptor" this}}>{{fa-icon "plus-circle"}}</span>
  {{else}}
    {{fa-icon "circle"}}
  {{/unless}}
  {{title}}
</li>
