<div class="modal-dialog">
  <div class='modal-open'>
    <button {{action 'toggleVisibility'}}>
      {{t "mesh.buttonTitle" countBinding=linkedMeshTerms.length}}
    </button>
  </div>
  <div {{bind-attr class=":modal-window showModal:visible"}}>
    <div class="modal-inner">
      <div class='modal-close' {{action 'toggleVisibility'}}>{{fa-icon 'times-circle'}}</div>
      <h1>{{t "mesh.pickerTitle"}}</h1>
      <section class='halfwidth'>
        <h3>{{t "mesh.selected"}}</h3>
        <ul>
          {{#each linkedMeshTerms}}
            <li>
              <span {{translateAttr title="mesh.removeTerm"}} class='remove' {{action "removeMeshDescriptor" this}}>{{fa-icon "times-circle"}}</span>
              {{title}}
            </li>
          {{/each}}
        </ul>
      </section>
      <section class='halfwidth'>
        <h3>{{t "mesh.available"}}</h3>
        <div class="search-bar">
          <div class="search-and-submit">
            {{input action="searchMeshDescriptors" type="search" value=searchTerm placeholder="Search mesh terms"}}
            <button class='search' {{translateAttr title="mesh.search"}} {{action 'searchMeshDescriptors'}} type="submit">
              {{fa-icon 'search'}}
            </button>
          </div>
        </div>
        {{#if showResults}}
          {{#if hasResults}}
            <ul>
              {{#each searchResults}}
                {{render 'mesh/item' this}}
              {{/each}}
            </ul>
          {{else}}
            <p>{{t "mesh.noResults"}}</p>
          {{/if}}
        {{/if}}
      </section>
    </div>
  </div>
</div>
