{{#let (unique-id) as |templateId|}}
  <div
    class="reports-new-subject"
    data-test-reports-new-subject
    ...attributes
  >
    <div class="title" data-test-component-title>
      {{t "general.newReport"}}
    </div>
    <div class="new-subject-content">
      <p data-test-title>
        <label for="title-{{templateId}}">
          {{t "general.reportTitle"}}:
        </label>
        <input
          id="title-{{templateId}}"
          type="text"
          value={{this.title}}
          {{on "focusout" (fn this.addErrorDisplayFor "title")}}
          {{on "input" (pick "target.value" (set this.title))}}
          {{on "keyup" (fn this.addErrorDisplayFor "title")}}
        >
        <ValidationError @errors={{get-errors-for this.title}} />
      </p>
      <p data-test-school>
        <label for="for-{{templateId}}">
          {{t "general.for"}}
        </label>
        <select
          id="for-{{templateId}}"
          {{on "change" (pick "target.value" this.changeSchool)}}
        >
          <option value="null" selected={{eq null this.currentSchool}}>
            {{t "general.allSchools"}}
          </option>
          {{#each (sort-by "title" this.allSchools) as |school|}}
            <option
              value={{school.id}}
              selected={{eq school.id this.currentSchool.id}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      </p>
      <p data-test-subject>
        <label for="all-{{templateId}}">
          {{t "general.all"}}
        </label>
        <select
          id="all-{{templateId}}"
          {{on "change" (pick "target.value" this.changeSubject)}}
        >
          {{#each this.subjectList as |o|}}
            <option value={{o.value}} selected={{eq o.value this.currentSubject}}>
              {{o.label}}
            </option>
          {{/each}}
        </select>
      </p>
      <p data-test-object>
        <label for="associated-{{templateId}}">
          {{t "general.associatedWith"}}
        </label>
        <select
          id="associated-{{templateId}}"
          {{on "change" (pick "target.value" this.changePrepositionalObject)}}
        >
          <option value="" selected={{eq null this.currentPrepositionalObject}}>
            {{t "general.anything"}}
          </option>
          {{#each this.prepositionalObjectList as |o|}}
            <option
              value={{o.value}}
              selected={{eq o.value this.currentPrepositionalObject}}
            >
              {{o.label}}
            </option>
          {{/each}}
        </select>
      </p>
      {{#if this.currentPrepositionalObject}}
        {{#if (includes this.currentPrepositionalObject (w "course session"))}}
          <select
            aria-label={{t "general.year"}}
            data-test-report-academic-years
          {{on "change" (pick "target.value" this.changeSelectedYear)}}
          >
            <option selected={{is-empty this.selectedYear}} value="">
              {{t "general.allAcademicYears"}}
            </option>
            {{#each
              (sort-by
                "title:desc" this.allAcademicYears
              ) as |year|
            }}
              <option
                selected={{eq year.id this.selectedYear}}
                value={{year.id}}
              >
                {{year.title}}
              </option>
            {{/each}}
          </select>
        {{/if}}
        <p>
          <label for="which-is-{{templateId}}">
            {{t "general.whichIs"}}
          </label>
          {{#if (eq this.currentPrepositionalObject "instructor")}}
            {{#if this.selectedUser}}
              <ul class="selected-instructor" data-test-selected-instructor>
                <li>
                  <button
                    class="link-button"
                    type="button"
                    {{on "click" (fn this.changePrepositionalObjectId null)}}
                  >
                    {{this.selectedUser.fullName}}
                    <FaIcon @icon="xmark" class="remove"/>
                  </button>
                </li>
              </ul>
            {{else}}
              <UserSearch @addUser={{this.chooseInstructor}} />
            {{/if}}
          {{else if (eq this.currentPrepositionalObject "mesh term")}}
            {{#if this.selectedMeshTerm}}
              <ul class="selected-mesh-term" data-test-selected-mesh-term>
                <li>
                    <span class="term-title" data-test-name>
                      {{this.selectedMeshTerm.name}}
                    </span>
                    <span class="term-details" data-test-details>
                      {{this.selectedMeshTerm.id}}
                      {{#if this.selectedMeshTerm.trees}}
                          -{{get (object-at 0 (reverse this.selectedMeshTerm.trees)) "treeNumber"}}
                      {{/if}}
                    </span>
                    <FaIcon @icon="xmark" class="remove" />
                </li>
              </ul>
            {{else}}
              <MeshManager @add={{this.chooseMeshTerm}} @editable={{true}} />
            {{/if}}
          {{else if this.isPrepositionalObjectIdListLoaded}}
            <select
              id="which-is-{{templateId}}"
              data-test-prepositional-objects
              {{on "change" (pick "target.value" this.changePrepositionalObjectId)}}
            >
              {{#each
                (sort-by
                  "active:desc"
                  "academicYear"
                  "label"
                  this.filteredPrepositionalObjectIdList
                ) as |o|
              }}
                <option
                  selected={{eq o.value this.currentPrepositionalObjectId}}
                  value={{o.value}}
                >
                  {{#if o.academicYear}}
                    {{o.academicYear}}|
                  {{/if}}
                  {{#if (and this.isCourse o.externalId)}}
                    [{{o.externalId}}] |{{o.label}}
                  {{else if this.isSession}}
                    {{o.label}}|{{o.courseTitle}}
                  {{else}}
                    {{o.label}}
                  {{/if}}
                  {{#unless o.active}}
                    ({{t "general.inactive"}})
                  {{/unless}}
                </option>
              {{/each}}
            </select>
          {{else}}
            <LoadingSpinner />
          {{/if}}
        </p>
      {{/if}}
      <div class="input-buttons">
        <button type="button" class="done text" {{on "click" (perform this.save)}} data-test-save>
          {{#if this.save.isRunning}}
            <LoadingSpinner />
          {{else}}
            {{t "general.save"}}
          {{/if}}
        </button>
        <button type="button" class="cancel text" {{on "click" @close}} data-test-cancel>
          {{t "general.cancel"}}
        </button>
      </div>
    </div>
  </div>
{{/let}}
