<section class="reports-root" data-test-reports-root>
  {{#if this.runningSubjectReport}}
    <Reports::RunSubject
      @runSubjectReport={{set this.runningSubjectReport}}
      @report={{this.runningSubjectReport}}
    />
  {{else}}
    <Reports::List
      @sortReportsBy={{@sortReportsBy}}
      @setSortReportsBy={{@sortReportsBy}}
      @titleFilter={{@titleFilter}}
      @changeTitleFilter={{@changeTitleFilter}}
      @runSubjectReport={{set this.runningSubjectReport}}
    />
  {{/if}}
</section>
