<section class="course-visualize-instructor">
  <div class="backtolink">
    <LinkTo @route="course-visualizations" @model={{this.model.course}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h2>
    {{this.model.user.fullName}}
  </h2>
  <h3>
    {{t "general.totalInstructionalTime" minutes=this.model.offeringMinutes}}
  </h3>
  <h3>
    {{t "general.totalIlmTime" minutes=this.model.ilmMinutes}}
  </h3>
  <h3 class="clickable">
    <LinkTo @route="course" @model={{this.model.course}}>
      {{this.model.course.title}}
      {{this.model.course.academicYear}}
    </LinkTo>
  </h3>
  <div class="visualizations">
    <div>
      <h4>
        {{t "general.terms"}}
      </h4>
      <VisualizerCourseInstructorTerm
        @course={{this.model.course}}
        @user={{this.model.user}}
      />
    </div>
    <div>
      <h4>
        {{t "general.sessionTypes"}}
      </h4>
      <VisualizerCourseInstructorSessionType
        @course={{this.model.course}}
        @user={{this.model.user}}
      />
    </div>
  </div>
</section>
