<div class="backtolink">
  <LinkTo @route="course" @model={{this.model}}>
    {{t "general.backToCourse"}}
  </LinkTo>
</div>
<CourseSummaryHeader @course={{this.model}} />
<CourseMaterials
  @course={{this.model}}
  @courseSort={{or this.courseSort "title"}}
  @sessionSort={{or this.sessionSort "title"}}
  @onCourseSort={{fn (mut this.courseSort)}}
  @onSessionSort={{fn (mut this.sessionSort)}}
/>
