<label>{{t "general.token"}}: </label>
<input
  type="text"
  value={{this.jwt}}
  {{on "input" this.updateJwt}} />

<button type="button" {{on "click" this.login}}>{{t "general.login"}}</button>

<p>{{this.error}}</p>
