<label>{{t "general.token"}}: </label>
<input
  type="text"
  value={{this.jwt}}
  oninput={{action (mut this.jwt) value="target.value"}}
>
<button type="button" {{action "login"}}>{{t "general.login"}}</button>

<p>{{this.error}}</p>
