<h3>{{t "instructorGroups.editingGroup" titleBinding=title}}</h3>
<label {{bind-attr for="view.titleField.elementId"}}>{{t "general.title"}}</label>
{{view Ember.TextField value=bufferedTitle viewName="titleField"}}
<fieldset>
  <legend>{{t 'general.members'}} <span class="badge">{{users.length}}</span></legend>
  {{#if users.length}}
    {{input type='text' value=userFilter placeholder='Filter by name or email'}}
  {{/if}}
  <table class='grid-table'>
    <thead>
      <tr>
        <th>{{t 'instructorGroups.instructorName'}}</th>
        <th>{{t 'general.email'}}</th>
        <th>{{t 'general.actions'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredUsers}}
        <tr>
          <td>{{fullName}}</td>
          <td>{{email}}</td>
          <td><button {{action 'removeInstructor' this}}>{{t 'general.remove'}}</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#modal-dialog titleTranslation="instructorGroups.addInstructor" openDialogButtonTextTranslation='instructorGroups.addInstructor'}}
    <section>
      <div class="search-bar">
        <div class="search-and-submit">
          {{input action="searchInstructors" type="search" value=searchTerm placeholderTranslation="instructorGroups.searchInstructors"}}
          <button {{translateAttr title="instructorGroups.searchInstructors"}} {{action 'searchInstructors'}} type="submit">
            {{fa-icon 'search'}}
          </button>
        </div>
      </div>
      {{#if showResults}}
        {{#if hasResults}}
          <ul>
            {{#each searchResults}}
              {{render 'instructorgroups/instructorResult' this}}
            {{/each}}
          </ul>
        {{else}}
          <p>{{t "instructorGroups.noSearchResults"}}</p>
        {{/if}}
      {{/if}}
    </section>
  {{/modal-dialog}}
</fieldset>

<fieldset>
  <legend>{{t 'instructorGroups.relatedCourses'}} <span class="badge">{{courses.length}}</span></legend>
  {{#if courses.length}}
    {{input type='text' value=courseFilter placeholder='Filter by title'}}
  {{/if}}
  <ul>
    {{#each course in filteredCourses}}
      <li>{{course.title}}</li>
    {{/each}}
  </ul>
</fieldset>
{{#if isDirty}}
  <button {{action 'save'}}>{{t "general.save"}}</button>
{{/if}}
