<ConnectionStatus />
<ApiVersionNotice />
<NewVersionNotifier as |version lastVersion reload|>
  <UpdateNotification @reload={{action reload}} />
</NewVersionNotifier>
<div
  class="application-wrapper
    {{if this.currentUser.performsNonLearnerFunction "show-navigation"}}"
>
  <IliosHeader @currentlyLoading={{this.currentlyLoading}} />
  {{#if this.session.isAuthenticated}}
    <IliosNavigation />
  {{/if}}
  <main>
    {{#if this.showErrorDisplay}}
      <ErrorDisplay @errors={{this.errors}} @clearErrors={{action "clearErrors"}} />
    {{else}}
      {{outlet}}
    {{/if}}
  </main>
  <footer class="ilios-footer">
    <div class="version">
      {{this.apiVersion.version}}
      {{app-version versionOnly=true}}
    </div>
  </footer>
  <LoadingBar @isLoading={{this.currentlyLoading}} />
</div>
<FlashMessages />
<HeadLayout />
<EmberLoadRemover />
