{{page-title (t "general.ilios") separator=" " front=true}}
<ConnectionStatus />
<ApiVersionNotice />
<NewVersionNotifier as |version lastVersion reload|>
  <UpdateNotification @reload={{reload}} />
</NewVersionNotifier>
<div
  class="application-wrapper
    {{if this.currentUser.performsNonLearnerFunction "show-navigation"}}"
>
  <IliosHeader @currentlyLoading={{this.currentlyLoading}} @title={{this.pageTitle.title}} />
  {{#if this.session.isAuthenticated}}
    <IliosNavigation />
  {{/if}}
  <main id="main">
    {{#if this.showErrorDisplay}}
      <ErrorDisplay @errors={{this.errors}} @clearErrors={{this.clearErrors}} />
    {{else}}
      {{outlet}}
    {{/if}}
  </main>
  <footer class="ilios-footer">
    <div class="version">
      {{this.iliosVersionTag}}
      {{this.apiVersionTag}}
      {{this.frontendVersionTag}}
    </div>
  </footer>
  <LoadingBar @isLoading={{this.currentlyLoading}} />
</div>
<FlashMessages />
