{{connection-status}}
{{#service-worker-update-notify}}
  {{update-notification}}
{{/service-worker-update-notify}}
<div class='application-wrapper {{if currentUser.performsNonLearnerFunction "show-navigation"}}'>
  {{ilios-header title=translatedTitle currentlyLoading=currentlyLoading}}
  {{#if session.isAuthenticated}}
    {{ilios-navigation}}
  {{/if}}
  <main>
    {{#if showErrorDisplay}}
      {{error-display errors=errors clearErrors=(action 'clearErrors')}}
    {{else}}
      {{outlet}}
    {{/if}}
  </main>
  <footer class='ilios-footer'></footer>
  {{loading-bar isLoading=currentlyLoading}}
</div>
{{flash-messages}}
{{head-layout}}
{{ember-load-remover}}
{{api-version-check}}
