{{ember-load-remover}}
{{api-version-check}}
{{#if showHeader}}
  {{ilios-header title=translatedTitle}}
{{/if}}
{{#if session.isAuthenticated}}
  {{#if showNavigation}}
    {{ilios-navigation}}
  {{/if}}
{{/if}}
<div id='site-container'>
  <div class='flash-messages'>
    {{#each flashMessages.arrangedQueue as |flash|}}
      {{#flash-message flash=flash as |component flash|}}
        {{t flash.message}}
      {{/flash-message}}
    {{/each}}
  </div>

  {{#if showErrorDisplay}}
    {{error-display errors=errors clearErrors=(action 'clearErrors')}}
  {{else}}
    {{liquid-outlet}}
  {{/if}}
</div>

{{outlet 'fullscreen'}}
