{{page-title (t "general.ilios") separator=" " front=true}}
<ConnectionStatus />
<ApiVersionNotice />
<NewVersionNotifier as |version lastVersion reload|>
  <UpdateNotification @reload={{reload}} />
</NewVersionNotifier>
<div
  class="application-wrapper
    {{if this.currentUser.performsNonLearnerFunction "show-navigation"}}"
>
  <div class="ilios-logo">
    <LinkTo @route="dashboard" title={{t "general.dashboard"}}>
      <img role="presentation" src="/assets/images/ilios-logo.svg" alt="">
    </LinkTo>
  </div>
  <IliosHeader />
  {{#if this.session.isAuthenticated}}
    <IliosNavigation />
  {{/if}}
  <main id="main">
    {{#if this.showErrorDisplay}}
      <ErrorDisplay @errors={{this.errors}} @clearErrors={{this.clearErrors}} />
    {{else}}
      {{outlet}}
    {{/if}}
  </main>
  <footer class="ilios-footer">
    <div class="version">
      {{this.iliosVersionTag}}
      {{this.apiVersionTag}}
      {{this.frontendVersionTag}}
    </div>
  </footer>
</div>
<FlashMessages />
