{{page-title (t "general.admin")}}
<LinkTo @route="admin-dashboard">
  {{t "general.backToAdminDashboard"}}
</LinkTo>
<section class="assign-students">
  <div class="filters">
    <div class="schoolsfilter">
      <FaIcon @icon="university" @fixedWidth={{true}} />
      {{#if this.hasMoreThanOneSchool}}
        <select aria-label={{t "general.filterBySchool"}} {{on "change" (pick "target.value" (set this.schoolId))}}>
          {{#each (sort-by "title" @model.schools) as |school|}}
            <option
              selected={{is-equal school this.selectedSchool}}
              value={{school.id}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{this.selectedSchool.title}}
      {{/if}}
    </div>
    <div class="titlefilter">
      <input
        aria-label={{t "general.filterByTitle"}}
        placeholder={{t "general.pendingUserUpdates.filterBy"}}
        type="text"
        value={{this.query}}
        {{on "input" (pick "target.value" (perform this.setQuery))}}
      >
    </div>
  </div>
  <AssignStudents
    @school={{this.selectedSchool}}
    @students={{this.filteredUnassignedStudents}}
  />
</section>
