{{#link-to 'admin-dashboard'}}{{t 'general.backToAdminDashboard'}}{{/link-to}}

<section class='assign-students'>
  <div class="filters">
    <div class="schoolsfilter">
      {{fa-icon 'university' fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each (sort-by 'title' model.schools) as |school|}}
            <option value={{school.id}} selected={{is-equal school selectedSchool}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>

    <div class="titlefilter">
      <input
        type='text'
        value={{filter}}
        oninput={{action (mut filter) value="target.value"}}
        placeholder={{t 'general.pendingUserUpdates.filterBy'}}
      >
    </div>
  </div>

  {{#liquid-if (is-fulfilled displayedUnassignedStudents)}}
    {{assign-students
      students=(await unassignedStudents)
      school=selectedSchool
      limit=limit
      offset=offset
      setOffset=(action (mut offset))
      setLimit=(action (mut limit))
    }}
  {{else}}
    {{loading-spinner}}
  {{/liquid-if}}

</section>
