<section class="course-visualize-instructor">
  <div class="backtolink">
    <LinkTo @route="course-visualizations" @model={{model.course}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h2>
    {{model.user.fullName}}
  </h2>
  <h3>
    {{t "general.totalInstructionalTime" minutes=model.offeringMinutes}}
  </h3>
  <h3>
    {{t "general.totalIlmTime" minutes=model.ilmMinutes}}
  </h3>
  <h3 class="clickable">
    <LinkTo @route="course" @model={{model.course}}>
      {{model.course.title}}
      {{model.course.academicYear}}
    </LinkTo>
  </h3>
  <div class="visualizations">
    <div>
      <h4>
        {{t "general.terms"}}
      </h4>
      <VisualizerCourseInstructorTerm
        @course={{model.course}}
        @user={{model.user}}
      />
    </div>
    <div>
      <h4>
        {{t "general.sessionTypes"}}
      </h4>
      <VisualizerCourseInstructorSessionType
        @course={{model.course}}
        @user={{model.user}}
      />
    </div>
  </div>
</section>
