<section class='course-visualize-session-type'>
  <div class="backtolink">
    {{#link-to 'course-visualize-session-types' model.course}}{{t 'general.otherVisualizations'}}{{/link-to}}
  </div>
  <h2>
    {{model.sessionType.title}}
  </h2>
  <h3 class='clickable'>{{#link-to 'course' model.course}}{{model.course.title}} {{model.course.academicYear}}{{/link-to}}</h3>

  {{visualizer-course-session-type course=model.course sessionType=model.sessionType}}
</section>
