<section id='courses' class='fullwidth main-border'>
  <div class="filter-tools">
    <div id='mycoursesfilter' class="filter">
      <label>
        {{input type='checkbox' checked=mycourses}}
        {{t 'courses.myCourses'}}
      </label>
    </div>
    <div id='schoolsfilter' class="filter">
      {{#each school in proxiedSchools}}
        <label>
          {{input type='checkbox' checked=school.checked}}
          {{school.title}}
        </label>
      {{/each}}
    </div>
    <div id='yearsfilter' class="filter">
      {{view 'select'
      optionLabelPath="content.academicYearTitle"
      optionValuePath="content.id"
      content=educationalYears
      value=year
    }}
    </div>

    <div id='titlefilter' class="filter">
      {{input type='text' value=filter placeholder=placeholderValue}}
    </div>
  </div>
  {{ilios-course-list
    courses=filteredCourses
  }}
</section>
