<section class='courses-list' data-test-courses>
  <div class="filters">
    <div class='toggle-mycourses'>
      {{toggle-buttons
        firstOptionSelected=userCoursesOnly
        firstLabel=(t 'general.myCourses')
        secondLabel=(t 'general.allCourses')
        toggle=(toggle 'userCoursesOnly' this)
      }}
    </div>
    <div class="schoolsfilter" data-test-school-filter>
      {{fa-icon 'university' fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each sortedSchools as |school|}}
            <option value={{school.id}} selected={{is-equal school selectedSchool}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
    <div class="yearsfilter">
      {{fa-icon 'calendar' fixedWidth=true}}
      <select onchange={{action "changeSelectedYear" value="target.value"}} data-test-year-filter>
        {{#each sortedYears as |year|}}
          <option value={{year.year}} selected={{is-equal year selectedYear}}>
            {{year.academicYearTitle}}
          </option>
        {{/each}}
      </select>
    </div>

    <div class="titlefilter">
      <input
        data-test-title-filter
        value={{titleFilter}}
        oninput={{action (perform changeTitleFilter) value="target.value"}}
        placeholder={{t 'general.courseTitleFilterPlaceholder'}}
      >
    </div>
  </div>
  <section class='courses'>
    <div class="header">
      <h2 class="title">{{t 'general.courses'}}</h2>
      <div class='actions'>
        {{expand-collapse-button data-test-toggle-new-course-form value=showNewCourseForm action="toggleNewCourseForm"}}
      </div>
    </div>
    <section class='new'>
      {{#liquid-if (and (is-fulfilled sessionTypes) showNewCourseForm)}}
        {{new-course
          currentSchool=selectedSchool
          currentYear=selectedYear
          save=(action 'saveNewCourse')
          cancel='toggleNewCourseForm'
        }}
      {{/liquid-if}}

      {{#if newCourse}}
        <div class='saved-result' data-test-new-course>
          {{#link-to 'course' newCourse}}
            {{fa-icon 'external-link-square'}} {{newCourse.title}}
          {{/link-to}}
          {{t 'general.savedSuccessfully'}}
        </div>
      {{/if}}
    </section>
    <div class='list'>
      {{#if (is-fulfilled filteredCourses)}}
        {{ilios-course-list
          courses=(await filteredCourses)
          remove='removeCourse'
          sortBy=sortCoursesBy
          setSortBy=(action (mut sortCoursesBy))
          lock=(action 'lockCourse')
          unlock=(action 'unlockCourse')
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
