<section id='courses' class='fullwidth main-border'>
  <div class="filter-tools">
    <div id='mycoursesfilter' class="filter">
      <label>
        {{input type='checkbox' checked=userCoursesOnly}}
        {{t 'courses.myCourses'}}
      </label>
    </div>
    <div id='schoolsfilter' class="filter">
      <label class="inline-label">
        {{t 'general.school'}}:
      </label>
      <div id="school-selection" class="inline-data">
        {{#if hasMoreThanOneSchool}}
          {{#action-menu title=selectedSchool.title icon=false}}
            {{#each school in schools}}
              <li {{action 'changeSelectedSchool' school}}>{{school.title}}</li>
            {{/each}}
          {{/action-menu}}
        {{else}}
          {{selectedSchool.title}}
        {{/if}}
      </div>
    </div>
    <div id='yearsfilter' class="filter">
      {{#action-menu title=selectedYear.academicYearTitle icon=false}}
        {{#each year in years}}
          <li {{action 'changeSelectedYear' year}}>{{year.academicYearTitle}}</li>
        {{/each}}
      {{/action-menu}}
    </div>

    <div id='titlefilter' class="filter">
      {{input type='text' value=titleFilter placeholder=placeholderValue}}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <div class="resultslist-title">
        <h2>{{ t 'general.results'}}</h2>
      </div>
      <div class='resultslist-actions'>
        <button class='add' {{action 'addCourse'}}>{{t 'general.addNew'}}</button>
      </div>
    </div>
    <div class='resultslist-list'>
      {{ilios-course-list
        courses=filteredCourses
        edit='editCourse'
        remove='removeCourse'
      }}
    </div>
  </section>
</section>
