<div class="backtolink">
  <LinkTo @route="course" @model={{model}}>
    {{t "general.backToCourse"}}
  </LinkTo>
</div>
<CourseSummaryHeader @course={{model}} />
<CourseMaterials
  @course={{model}}
  @courseSort={{courseSort}}
  @sessionSort={{sessionSort}}
  @onCourseSort={{action (mut courseSort)}}
  @onSessionSort={{action (mut sessionSort)}}
/>
