<section class='course-visualize-vocabularies'>
  <div class="backtolink">
    {{#link-to 'course-visualizations' model}}{{t 'general.otherVisualizations'}}{{/link-to}}
  </div>
  <h2>{{t 'general.vocabularies'}}</h2>
  <h3 class='clickable'>{{#link-to 'course' model}}{{model.title}} {{model.academicYear}}{{/link-to}}</h3>

  {{visualizer-course-vocabularies course=model}}
</section>
