<section id='courses' class='fullwidth main-border'>
  <div class="filter-tools">
    <div id='mycoursesfilter' class="filter">
      <label>
        {{input type='checkbox' checked=userCoursesOnly}}
        {{t 'courses.myCourses'}}
      </label>
    </div>
    <div id='schoolsfilter' class="filter">
      {{#if hasMoreThanOneSchool}}
        {{view "select"
          content=schools
          selection=selectedSchool
          optionLabelPath="content.title"
        }}
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
    <div id='yearsfilter' class="filter">
      {{view "select"
        content=years
        selection=selectedYear
        optionLabelPath="content.title"
      }}
    </div>

    <div id='titlefilter' class="filter">
      {{input type='text' value=titleFilter placeholder=placeholderValue}}
    </div>
  </div>

  <section class='grouplist'>
    <div class='grouplist-list'>
      {{ilios-course-list
        courses=filteredCourses
        edit='editCourse'
        remove='removeCourse'
      }}
    </div>
    <div class='grouplist-actions'>
      <button class='add' {{action 'addCourse'}}>{{t 'general.addNew'}}</button>
    </div>
  </section>
</section>
