<div class="backtolink">
  <LinkTo @route="course" @model={{model}}>
    {{t "general.backToCourse"}}
  </LinkTo>
</div>
<CourseSummaryHeader @course={{model}} />
<CourseMaterials
  @course={{model}}
  @courseSort={{this.courseSort}}
  @sessionSort={{this.sessionSort}}
  @onCourseSort={{action (mut this.courseSort)}}
  @onSessionSort={{action (mut this.sessionSort)}}
/>
