<section class='course-visualize-vocabulary'>
  <div class="backtolink">
    {{#link-to 'course-visualize-vocabularies' model.course}}{{t 'general.otherVisualizations'}}{{/link-to}}
  </div>
  <h2>{{model.vocabulary.title}}</h2>
  <h3 class='clickable'>{{#link-to 'course' model.course}}{{model.course.title}} {{model.course.academicYear}}{{/link-to}}</h3>

  {{visualizer-course-vocabulary course=model.course vocabulary=model.vocabulary}}
</section>
