<section class="course-visualizations">
  <div class="backtolink">
    <LinkTo @route="course" @model={{model}}>
      {{t "general.backToCourse"}}
    </LinkTo>
  </div>
  <h2>
    {{t "general.courseVisualizations"}}
  </h2>
  <h3 class="clickable">
    <LinkTo @route="course" @model={{model}}>
      {{model.title}}
      {{model.academicYear}}
    </LinkTo>
  </h3>
  <div class="visualizations">
    <div>
      <LinkTo @route="course-visualize-objectives" @model={{model}}>
        <h4>
          {{t "general.objectives"}}
        </h4>
        <VisualizerCourseObjectives @isIcon={{true}} @course={{model}} />
      </LinkTo>
    </div>
    <div>
      <LinkTo @route="course-visualize-session-types" @model={{model}}>
        <h4>
          {{t "general.sessionTypes"}}
        </h4>
        <VisualizerCourseSessionTypes
          @isIcon={{true}}
          @course={{model}}
          @chartType="donut"
        />
      </LinkTo>
    </div>
    <div>
      <LinkTo @route="course-visualize-vocabularies" @model={{model}}>
        <h4>
          {{t "general.vocabularies"}}
        </h4>
        <VisualizerCourseVocabularies @isIcon={{true}} @course={{model}} />
      </LinkTo>
    </div>
    <div>
      <LinkTo @route="course-visualize-instructors" @model={{model}}>
        <h4>
          {{t "general.instructors"}}
        </h4>
        <VisualizerCourseInstructors
          @isIcon={{true}}
          @course={{model}}
          @chartType="donut"
        />
      </LinkTo>
    </div>
  </div>
</section>
