<section id='courses' class='fullwidth main-border'>
  <div class="filter-tools">
    {{toggle-mycourses isChecked=userCoursesOnly toggleMyCourses='toggleMyCourses'}}
    <div id='schoolsfilter' class="filter">
      <label class="inline-label">
        {{fa-icon 'university'}}
      </label>
      <div id="school-selection" class="inline-data">
        {{#if hasMoreThanOneSchool}}
          <select onchange={{action "changeSelectedSchool" value="target.value"}}>
            {{#each sortedSchools as |school|}}
              <option value={{school.id}} selected={{is-equal school selectedSchool}}>
                {{school.title}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{selectedSchool.title}}
        {{/if}}
      </div>
    </div>
    <div id='yearsfilter' class="filter">
      <label class="inline-label">
        {{fa-icon 'calendar'}}
      </label>
      <select onchange={{action "changeSelectedYear" value="target.value"}}>
        {{#each sortedYears as |year|}}
          <option value={{year.year}} selected={{is-equal year selectedYear}}>
            {{year.academicYearTitle}}
          </option>
        {{/each}}
      </select>
    </div>

    <div id='titlefilter' class="filter">
      {{input type='text' value=titleFilter placeholder=placeholderValue}}
    </div>
  </div>
  <section class='resultslist'>
    <div class="resultslist-header">
      <div class="resultslist-title">
        <h2>{{t 'general.courses'}}</h2>
      </div>
      <div class='resultslist-actions'>
        {{expand-collapse-button value=showNewCourseForm action="toggleNewCourseForm"}}
      </div>
    </div>
    <section class='resultslist-new'>
      {{#liquid-if showNewCourseForm class='vertical'}}
        {{new-course
          currentSchool=selectedSchool
          currentYear=selectedYear
          years=model.years
          save=(action 'saveNewCourse')
          cancel='toggleNewCourseForm'
        }}
      {{/liquid-if}}

      {{#each newCourses as |course|}}
        <div class='savedcourse saved-result'>
          {{#link-to 'course' course}}
            {{fa-icon 'external-link-square'}} {{course.title}}
          {{/link-to}}
          {{t 'general.savedSuccessfully'}}
        </div>
      {{/each}}
    </section>
    <div class='resultslist-list'>
      {{#if filteredCourses.isFulfilled}}
        {{ilios-course-list
          courses=filteredCourses
          edit='editCourse'
          remove='removeCourse'
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
