<section class="course-visualize-vocabularies">
  <div class="backtolink">
    <LinkTo @route="course-visualizations" @model={{model}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h2>
    {{t "general.vocabularies"}}
  </h2>
  <h3 class="clickable">
    <LinkTo @route="course" @model={{model}}>
      {{model.title}}
      {{model.academicYear}}
    </LinkTo>
  </h3>
  <VisualizerCourseVocabularies @course={{model}} />
</section>
