<section class='course-visualize-instructors'>
  <div class="backtolink">
    {{#link-to 'course-visualizations' model}}{{t 'general.otherVisualizations'}}{{/link-to}}
  </div>
  <h2 class='clickable'>{{#link-to 'course' model}}{{model.title}} {{model.academicYear}}{{/link-to}}</h2>
  <h3>{{t 'general.instructors'}}</h3>

  {{visualizer-course-instructors course=model}}
</section>
