{{title (t "general.curriculumInventoryReports")}}
<div class="backtolink">
  <LinkTo @route="curriculumInventoryReports">
    {{t "general.backToReports"}}
  </LinkTo>
</div>
<CurriculumInventoryReportDetails
  @report={{model}}
  @canUpdate={{and (not @model.isFinalized) this.canUpdate}}
  @leadershipDetails={{this.leadershipDetails}}
  @setLeadershipDetails={{action (mut this.leadershipDetails)}}
  @manageLeadership={{this.manageLeadership}}
  @setManageLeadership={{action (mut this.manageLeadership)}}
/>
{{outlet}}
