{{title (t "general.curriculumInventoryReports")}}
<div class="backtolink">
  <LinkTo @route="curriculumInventoryReports">
    {{t "general.backToReports"}}
  </LinkTo>
</div>
<CurriculumInventoryReportDetails
  @report={{model}}
  @canUpdate={{and (not model.isFinalized) canUpdate}}
  @leadershipDetails={{leadershipDetails}}
  @setLeadershipDetails={{action (mut leadershipDetails)}}
  @manageLeadership={{manageLeadership}}
  @setManageLeadership={{action (mut manageLeadership)}}
/>
{{outlet}}