{{title (t "general.curriculumInventoryReports")}}
<section id="curriculumInventoryReports" class="curriculum-inventory-reports">
  <div class="filter-tools">
    <div class="schoolsfilter">
      <FaIcon @icon="university" @fixedWidth={{true}} />
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each sortedSchools as |school|}}
            <option
              value={{school.id}}
              selected={{is-equal school (await selectedSchool)}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else if (await selectedSchool)}}
        {{get (await selectedSchool) "title"}}
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </div>
    <div class="programsfilter">
      <FaIcon @icon="list-alt" @fixedWidth={{true}} />
      {{#if (gt (get (await programs) "length") 1)}}
        <select
          onchange={{action "changeSelectedProgram" value="target.value"}}
        >
          {{#each (sort-by "title" (await programs)) as |program|}}
            <option
              value={{program.id}}
              selected={{is-equal program (await selectedProgram)}}
            >
              {{program.title}}
            </option>
          {{/each}}
        </select>
      {{else if (is-fulfilled selectedProgram)}}
        {{#if (await selectedProgram)}}
          {{get (await selectedProgram) "title"}}
        {{else}}
          {{t "general.none"}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <section class="reports">
    <div class="header">
      <div class="title">
        <h2>
          {{t "general.curriculumInventoryReports"}}
        </h2>
      </div>
      {{#if (and (await canCreate) (await selectedProgram))}}
        <div class="actions">
          <ExpandCollapseButton
            @value={{showNewCurriculumInventoryReportForm}}
            @action={{action "toggleNewCurriculumInventoryReportForm"}}
          />
        </div>
      {{/if}}
    </div>
    <section class="new">
      {{#liquid-if showNewCurriculumInventoryReportForm class="vertical"}}
        <NewCurriculumInventoryReport
          @currentProgram={{await selectedProgram}}
          @save={{action "saveNewCurriculumInventoryReport"}}
          @cancel={{action "cancel"}}
        />
      {{/liquid-if}}
      {{#if newReport}}
        <div class="saved-result">
          <LinkTo @route="curriculumInventoryReport" @model={{newReport}}>
            <FaIcon @icon="external-link-square-alt" />
            {{newReport.name}}
          </LinkTo>
          {{t "general.savedSuccessfully"}}
        </div>
      {{/if}}
    </section>
    <div class="list">
      {{#if (is-fulfilled this.reports)}}
        <CurriculumInventoryReportList
          @program={{await selectedProgram}}
          @sortBy={{this.sortReportsBy}}
          @edit={{action "editCurriculumInventoryReport"}}
          @remove={{action "removeCurriculumInventoryReport"}}
          @setSortBy={{action (mut this.sortReportsBy)}}
        />
      {{else}}
        <PulseLoader />
      {{/if}}
    </div>
  </section>
</section>