<section id='curriculumInventoryReports' class='curriculum-inventory-reports'>
  <div class="filter-tools">
    <div class="schoolsfilter">
      {{fa-icon 'university' fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each sortedSchools as |school|}}
            <option value={{school.id}} selected={{is-equal school (await selectedSchool)}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{#if (await selectedSchool)}}
          {{selectedSchool.title}}
        {{else}}
          {{t 'general.none'}}
        {{/if}}
      {{/if}}
    </div>

    <div class="programsfilter">
      {{fa-icon 'list-alt' fixedWidth=true}}
      {{#if (gt (get (await programs) 'length') 1)}}
        <select onchange={{action "changeSelectedProgram" value="target.value"}}>
          {{#each (sort-by 'title' (await programs)) as |program|}}
            <option value={{program.id}} selected={{is-equal program (await selectedProgram)}}>
              {{program.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{#if (is-fulfilled selectedProgram)}}
          {{#if (await selectedProgram)}}
            {{get (await selectedProgram) 'title'}}
          {{else}}
            {{t 'general.none'}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <section class='reports'>
    <div class="header">
      <div class="title">
        <h2>{{t 'general.curriculumInventoryReports'}}</h2>
      </div>
      {{#if (await selectedProgram)}}
        <div class='actions'>
          {{expand-collapse-button
            value=showNewCurriculumInventoryReportForm
            action="toggleNewCurriculumInventoryReportForm"
          }}
        </div>
      {{/if}}
    </div>
    <section class='new'>
      {{#liquid-if showNewCurriculumInventoryReportForm class='vertical'}}
        {{new-curriculum-inventory-report
          currentProgram=(await selectedProgram)
          save=(action 'saveNewCurriculumInventoryReport')
          cancel=(action 'cancel')
        }}
      {{/liquid-if}}
      {{#if newReport}}
        <div class='saved-result'>
          {{#link-to 'curriculumInventoryReport' newReport}}
            {{fa-icon 'external-link-square'}} {{newReport.name}}
          {{/link-to}}
          {{t 'general.savedSuccessfully'}}
        </div>
      {{/if}}
    </section>
    <div class='list'>
      {{#if (is-fulfilled reports)}}
        {{curriculum-inventory-report-list
          edit='editCurriculumInventoryReport'
          remove='removeCurriculumInventoryReport'
          sortBy=sortReportsBy
          program=(await selectedProgram)
          setSortBy=(action (mut sortReportsBy))
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
