{{page-title (t "general.dashboard")}}
<div class="ilios-dashboard" data-test-dashboard>
  {{outlet}}

  <div class="dashboard-blocks">
    <DashboardMyreports
      data-test-myreports
      @selectedReport={{this.selectedReport}}
      @selectedYear={{this.reportYear}}
      @onReportSelect={{set this.report}}
      @onReportYearSelect={{set this.reportYear}}
    />
    <DashboardMycourses />
  </div>
</div>
