<section class='dashboard fullwidth'>
  <div class='calendar-profile'>
    {{t 'dashboard.myCalendar'}}

    {{toggle-wide
      value=showCalendar
      onLabel='offerings.calendarOn'
      offLabel='offerings.calendarOff'
      action='toggleShowCalendar'
      cssId='calendar-profile'
    }}
  </div>
  {{#liquid-if showCalendar class='vertical'}}
    {{dashboard-calendar
      selectedDate=selectedDate
      selectedView=selectedView
      changeDate='changeDate'
      changeView='changeView'
      selectEvent='selectEvent'
    }}
  {{else}}
    {{dashboard-agenda}}
  {{/liquid-if}}
  {{dashboard-mycourses}}
</section>
