<section class='dashboard fullwidth'>
  <div class='calendar-profile'>
    {{calendar-view-picker
      show=show
      change=(action 'setShow')
    }}
  </div>
  {{#liquid-if (eq show 'calendar') class='vertical'}}
    {{dashboard-calendar
      selectedDate=selectedDate
      selectedView=selectedView
      mySchedule=mySchedule
      showFilters=showFilters
      changeDate=(action 'changeDate')
      changeView=(action (mut view))
      selectEvent=(action 'selectEvent')
      toggleMySchedule=(action 'toggleMySchedule')
      toggleShowFilters=(action 'toggleShowFilters')
      academicYearSelectedByUser=selectedAcademicYear
      schoolPickedByUser=selectedSchool
      changeAcademicYear=(action (mut academicYear))
      changeSchool=(action (mut school))
      courseFilters=courseFilters
      toggleCourseFilters=(action (toggle 'courseFilters' this))
    }}
  {{else if (eq show 'materials')}}
    {{dashboard-materials}}
  {{else if (eq show 'agenda')}}
    {{dashboard-agenda}}
  {{else}}
    {{dashboard-week}}
  {{/liquid-if}}
  {{dashboard-myreports}}
  {{dashboard-mycourses}}
</section>
