<section class='dashboard fullwidth'>
  <div class='calendar-profile'>
  {{t 'dashboard.usersCalendar' name=currentUser.model.fullName}}
  {{#unless showCalendar}}
    {{moment selectedDate 'dddd MMMM Do, YYYY'}}
  {{/unless}}
  {{toggle-wide
    value=showCalendar
    onLabel='offerings.calendarOn'
    offLabel='offerings.calendarOff'
    action='toggleShowCalendar'
  }}
  </div>
  {{#liquid-if showCalendar class='vertical'}}
    {{dashboard-calendar
      selectedDate=selectedDate
      selectedView=selectedView
      goBack='goBack'
      goForward='goForward'
      gotoToday='gotoToday'
      setView='setView'
    }}
  {{else}}
    {{dashboard-agenda selectedDate=selectedDate}}
  {{/liquid-if}}
</section>
