<section class='fullwidth'>
    <p> Hello {{currentUser.model.fullName}},</p>
</section>
<section class='fullwidth calendar-controls'>
  <ul class='inline calendar-view-picker'>
    <li>{{fa-icon 'calendar'}}</li>
    <li class='clickable' {{action 'setView' 'day'}}>{{t 'calendar.day'}}</li>
    <li class='clickable' {{action 'setView' 'week'}}>{{t 'calendar.week'}}</li>
    <li class='clickable' {{action 'setView' 'month'}}>{{t 'calendar.month'}}</li>
  </ul>

  <ul class='inline calendar-time-picker'>
    <li class='clickable' {{action 'goBack'}}>{{fa-icon 'angle-left'}}</li>
    <li class='clickable' {{action 'gotoToday'}}>{{t 'calendar.today'}}</li>
    <li class='clickable' {{action 'goForward'}}>{{fa-icon 'angle-right'}}</li>
  </ul>
</section>

<section class='fullwidth'>
  {{user-events-calendar events=userEvents date=calendarDate view=selectedView}}
</section>
