{{title (t "general.dashboard")}}
<div class="ilios-dashboard" data-test-dashboard>
  <CommonDashboard
    @allSchools={{@model.schools}}
    @allAcademicYears={{@model.academicYears}}
    @show={{this.show}}
    @setShow={{action (mut this.show)}}
    @selectedDate={{this.selectedDate}}
    @selectedView={{this.selectedView}}
    @mySchedule={{this.mySchedule}}
    @showFilters={{this.showFilters}}
    @changeDate={{action "changeDate"}}
    @changeView={{action (mut this.view)}}
    @selectEvent={{action "selectEvent"}}
    @toggleMySchedule={{action "toggleMySchedule"}}
    @toggleShowFilters={{action "toggleShowFilters"}}
    @selectedAcademicYear={{this.selectedAcademicYear}}
    @selectedSchool={{this.selectedSchool}}
    @changeAcademicYear={{action (mut this.academicYear)}}
    @changeSchool={{action (mut this.school)}}
    @courseFilters={{this.courseFilters}}
    @toggleCourseFilters={{action (toggle "courseFilters" this)}}
    @selectedCohorts={{await this.selectedCohorts}}
    @selectedCourseLevels={{this.selectedCourseLevels}}
    @selectedCourses={{await this.selectedCourses}}
    @selectedSessionTypes={{await this.selectedSessionTypes}}
    @selectedTerms={{await this.selectedTerms}}
    @clearFilters={{action "clearFilters"}}
    @updateCohorts={{action "updateCohorts"}}
    @updateCourseLevels={{action "updateCourseLevels"}}
    @updateCourses={{action "updateCourses"}}
    @updateSessionTypes={{action "updateSessionTypes"}}
    @updateTerms={{action "updateTerms"}}
  />
  <div class="dashboard-blocks">
    <DashboardMyreports
      data-test-myreports
      @selectedReport={{await this.selectedReport}}
      @selectedYear={{this.reportYear}}
      @onReportSelect={{action (mut this.report)}}
      @onReportYearSelect={{action (mut this.reportYear)}}
    />
    <DashboardMycourses />
  </div>
</div>
