<li {{bind-attr class="selected:disabled:enabled"}}>
  {{#unless selected}}
    <span class='add' {{action "add" this}}>{{fa-icon "plus-circle"}}</span>
  {{else}}
    {{fa-icon "circle"}}
  {{/unless}}
  {{fullName}} {{email}}
</li>
