<section class="instructorgroups-list">
  <div class="filters">
    <div class="schoolsfilter">
      {{fa-icon "university" fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each (sort-by "title" model.schools) as |school|}}
            <option value={{school.id}} selected={{is-equal school selectedSchool}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
    <div class="titlefilter">
      <input
        value={{titleFilter}}
        oninput={{action (perform changeTitleFilter) value="target.value"}}
        placeholder={{t "general.instructorGroupTitleFilterPlaceholder"}}
      >
    </div>
  </div>
  <section class="instructorgroups">
    <div class="header">
      <div class="title">
        <h2>{{t "general.instructorGroups"}}</h2>
      </div>
      <div class="actions">
        {{#if (await canCreate)}}
          {{expand-collapse-button
            value=showNewInstructorGroupForm
            action="toggleNewInstructorGroupForm"
          }}
        {{/if}}
      </div>
    </div>
    <section class="new">
      {{#liquid-if showNewInstructorGroupForm class="vertical"}}
        {{new-instructorgroup
          currentSchool=selectedSchool
          save=(action "saveNewInstructorGroup")
          cancel="toggleNewInstructorGroupForm"
        }}
      {{/liquid-if}}
      {{#if newInstructorGroup}}
        <div class="saved-result">
          {{#link-to "instructorGroup" newInstructorGroup}}
            {{fa-icon "external-link-square-alt"}} {{newInstructorGroup.title}}
          {{/link-to}}
          {{t "general.savedSuccessfully"}}
        </div>
      {{/if}}
    </section>
    <div class="list">
      {{#if (is-fulfilled filteredInstructorGroups)}}
        {{instructorgroup-list
          instructorGroups=(await filteredInstructorGroups)
          canDelete=(await canDelete)
          edit="editInstructorGroup"
          remove="removeInstructorGroup"
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
