{{title (t "general.learnerGroups")}}
<section class="learnergroups-list">
  <div class="filters">
    <div class="schoolsfilter">
      <FaIcon @icon="university" @fixedWidth={{true}} />
      {{#if (get (await this.sortedSchools) "length")}}
        {{#if (gt (get (await this.sortedSchools) "length") 1)}}
          <select
            onchange={{action "changeSelectedSchool" value="target.value"}}
          >
            {{#each (await this.sortedSchools) as |school|}}
              <option
                value={{school.id}}
                selected={{is-equal school (await this.selectedSchool)}}
              >
                {{school.title}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{get (await this.selectedSchool) "title"}}
        {{/if}}
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </div>
    <div class="programsfilter">
      <FaIcon @icon="users" @fixedWidth={{true}} />
      {{#if (get (await this.sortedPrograms) "length")}}
        {{#if (gt (get (await this.sortedPrograms) "length") 1)}}
          <select
            onchange={{action "changeSelectedProgram" value="target.value"}}
          >
            {{#each (await this.sortedPrograms) as |program|}}
              <option
                value={{program.id}}
                selected={{is-equal program (await this.selectedProgram)}}
              >
                {{program.title}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{get (await this.selectedProgram) "title"}}
        {{/if}}
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </div>
    <div class="programyearsfilter">
      <FaIcon @icon="calendar" @fixedWidth={{true}} />
      {{#if (get (await this.sortedProgramYears) "length")}}
        {{#if (gt (get (await this.sortedProgramYears) "length") 1)}}
          <select
            onchange={{action "changeSelectedProgramYear" value="target.value"}}
          >
            {{#each (await this.sortedProgramYears) as |programYear|}}
              <option
                value={{programYear.id}}
                selected={{is-equal programYear (await this.selectedProgramYear)}}
              >
                {{programYear.cohort.title}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{get (get (await this.selectedProgramYear) "cohort") "title"}}
        {{/if}}
      {{else}}
        {{t "general.none"}}
      {{/if}}
    </div>
    <div class="titlefilter">
      <input
        value={{this.titleFilter}}
        oninput={{action (perform this.changeTitleFilter) value="target.value"}}
        placeholder={{t "general.learnerGroupTitleFilterPlaceholder"}}
      >
    </div>
  </div>
  <section class="learnergroups">
    <div class="header">
      <div class="title">
        <h2>
          {{t "general.learnerGroups"}}
        </h2>
      </div>
      <div class="actions">
        {{#if (and (await this.canCreate) (await this.selectedProgramYear))}}
          <ExpandCollapseButton
            @value={{this.showNewLearnerGroupForm}}
            @action={{action "toggleNewLearnerGroupForm"}}
          />
        {{/if}}
      </div>
    </div>
    <section class="new">
      {{#liquid-if this.showNewLearnerGroupForm class="vertical"}}
        <NewLearnergroup
          @save={{action "saveNewLearnerGroup"}}
          @cancel={{action "cancel"}}
          @fillModeSupported={{true}}
        />
      {{/liquid-if}}
      {{#if this.newGroup}}
        <div class="saved-result">
          <LinkTo @route="learnerGroup" @model={{this.newGroup}}>
            <FaIcon @icon="external-link-square-alt" />
            {{this.newGroup.title}}
          </LinkTo>
          {{t "general.savedSuccessfully"}}
        </div>
      {{/if}}
    </section>
    <div class="list">
      {{#if (is-fulfilled this.learnerGroups)}}
        <LearnergroupList
          @canCreate={{await this.canCreate}}
          @canDelete={{await this.canDelete}}
          @canCopyWithLearners={{true}}
          @learnerGroups={{await this.filteredLearnerGroups}}
          @query={{this.titleFilter}}
          @sortBy={{this.sortLearnerGroupsBy}}
          @copy={{perform this.copyGroup}}
          @remove={{action "removeLearnerGroup"}}
          @setSortBy={{action (mut this.sortLearnerGroupsBy)}}
        />
      {{else}}
        <PulseLoader />
      {{/if}}
    </div>
  </section>
</section>
{{#liquid-if this.copyGroup.isRunning class="crossFade"}}
  <WaitSaving
    @showProgress={{true}}
    @totalProgress={{this.totalGroupsToSave}}
    @currentProgress={{this.currentGroupsSaved}}
  />
{{/liquid-if}}
