<section id='learnergroups' class='fullwidth main-border'>
  <div class="filter-tools">
    <div id='schoolsfilter' class="filter">
      {{#if hasMoreThanOneSchool}}
        {{view "select"
          content=sortedSchools
          selection=selectedSchool
          optionLabelPath="content.title"
        }}
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
    <div id='programsFilter' class="filter">
      {{#if hasMoreThanOneProgram}}
        {{view "select"
          content=sortedPrograms
          selection=selectedProgram
          optionLabelPath="content.title"
        }}
      {{else}}
        {{selectedProgram.title}}
      {{/if}}
    </div>
    <div id='cohortsfilter' class="filter">
      {{view "select"
        content=sortedCohorts
        selection=selectedCohort
        optionLabelPath="content.displayTitle"
      }}
    </div>

    <div id='titlefilter' class="filter">
      {{input type='text' value=titleFilter placeholder=placeholderValue}}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <div class="resultslist-title">
        <h2>{{title}}</h2>
      </div>
      {{#if currenCohort}}
        <div class='resultslist-actions'>
          <button class='add' {{action 'addGroup'}}>{{t 'general.addNew'}}</button>
        </div>
      {{/if}}
    </div>
    <div class='resultslist-list'>
      {{learnergroup-list groups=filteredGroups edit='editGroup' remove='removeGroup'}}
    </div>
  </section>
</section>
