<section class='learnergroups-list'>
  <div class="filters">
    <div class="schoolsfilter">
      {{fa-icon 'university' fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each sortedSchools as |school|}}
            <option value={{school.id}} selected={{is-equal school selectedSchool.content}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{#if selectedSchool}}
          {{selectedSchool.title}}
        {{else if schools.isFulfilled}}
          {{t 'general.none'}}
        {{/if}}
      {{/if}}
    </div>
    <div class="programsfilter">
      {{fa-icon 'users' fixedWidth=true}}
      {{#if hasMoreThanOneProgram}}
        <select onchange={{action "changeSelectedProgram" value="target.value"}}>
          {{#each sortedPrograms as |program|}}
            <option value={{program.id}} selected={{is-equal program selectedProgram.content}}>
              {{program.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{#if selectedProgram}}
          {{selectedProgram.title}}
        {{else if programs.isFulfilled}}
          {{t 'general.none'}}
        {{/if}}
      {{/if}}
    </div>
    <div class="programyearsfilter">
      {{fa-icon 'calendar' fixedWidth=true}}
      {{#if hasMoreThanOneProgramYear}}
        <select onchange={{action "changeSelectedProgramYear" value="target.value"}}>
          {{#each sortedProgramYears as |programYear|}}
            <option value={{programYear.id}} selected={{is-equal programYear selectedProgramYear.content}}>
              {{programYear.cohort.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{#if selectedProgramYear}}
          {{selectedProgramYear.cohort.title}}
        {{else if programYears.isFulfilled}}
          {{t 'general.none'}}
        {{/if}}
      {{/if}}
    </div>
    <div class="titlefilter">
      {{one-way-input
        value=titleFilter
        update=(perform changeTitleFilter)
        placeholder=(t 'general.learnerGroupTitleFilterPlaceholder')
      }}
    </div>
  </div>
  <section class='learnergroups'>
    <div class="header">
      <div class="title">
        <h2>{{t 'general.learnerGroups'}}</h2>
      </div>
      <div class='actions'>
        {{#if selectedProgramYear}}
          {{expand-collapse-button value=showNewLearnerGroupForm action="toggleNewLearnerGroupForm"}}
        {{/if}}
      </div>
    </div>

    <section class='new'>
      {{#if showNewLearnerGroupForm class='vertical'}}
        {{new-learnergroup save=(action 'saveNewLearnerGroup') cancel=(action 'cancel') fillModeSupported=true}}
      {{/if}}
    </section>

    {{#if saved}}
      <div class='saved-result'>
        {{#link-to 'learnerGroup' savedGroup}}
          {{fa-icon 'external-link-square'}} {{savedGroup.title}}
        {{/link-to}}
        {{t 'general.savedSuccessfully'}}
      </div>
    {{/if}}

    <div class='list'>
      {{#if learnerGroups.isFulfilled}}
        {{learnergroup-list
          learnerGroups=filteredLearnerGroups
          remove=(action 'removeLearnerGroup')
          copy=(perform copyGroup)
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
{{#liquid-if copyGroup.isRunning class='crossFade'}}
  {{wait-saving
    showProgress=true
    totalProgress=totalGroupsToSave
    currentProgress=currentGroupsSaved
  }}
{{/liquid-if}}
