<div class='login-form'>
  <h2>{{t 'auth.login'}}</h2>
  {{#each errors as |error|}}
    <div class='error'>{{error}}</div>
  {{/each}}
  <form {{action 'authenticate' on='submit'}}>
    <div class='form-container'>
      <div class="detail-content">
        <label class="form-col form-col-6 multi-row">
          <div class="form-label">{{t 'auth.username'}}:</div>
          <div class="form-data">
            {{input value=identification}}
          </div>
        </label>
        <br />
        <label class="form-col form-col-6 multi-row">
          <div class="form-label">{{t 'auth.password'}}:</div>
          <div class="form-data">
            {{input type='password' value=password}}
          </div>
        </label>

        <div class="form-col-6 form-data-submit">
          <button type='submit' class='done text'>{{t 'auth.login'}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
