<header class="navigation">
  <div class="navigation-wrapper">
    {{#link-to "dashboard" classNames="logo"}}
        <img src='images/ilios-logo.png' {{translateAttr alt="navigation.logo"}} {{translateAttr title="navigation.dashboard"}} />
    {{/link-to}}
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link">{{#link-to "dashboard"}}{{t "navigation.dashboard"}}{{/link-to}}</li>
        <li class="nav-link">{{#link-to "programs"}}{{t "navigation.programs"}}{{/link-to}}</li>
        <li class="nav-link">{{#link-to 'instructorgroups'}}{{t "navigation.instructorGroups"}}{{/link-to}}</li>
        <li class="nav-link"><a href="/ilios.php/group_management">{{t "navigation.learnerGroups"}}</a></li>
        <li class="nav-link"><a href="/ilios.php/course_management">{{t "navigation.coursesSessions"}}</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class='user'>
        {{currentUser.fullName}} {{schoolTitle}}
      </div>
      <a href="ilios.php/authentication_controller?logout=yes" class="authentication">{{t "navigation.logout"}}</a>
    </div>
  </div>
</header>
