<tr {{bind-attr class="isActive:active isDirty:dirty"}}>
  <td>
    {{#if isEditing}}
      {{view Ember.TextArea value=bufferedTitle}}
    {{else}}
      {{shortTitle}}
      {{#if isShortTitle}}<span class='clickable' {{action 'showFullTitle'}}>...</span>{{/if}}
    {{/if}}
  </td>
  <td>
    {{#if isEditing}}
      {{view Ember.Select
        optionLabelPath="content.title"
        content=competencies
        value=bufferedCompetency}}
    {{else}}
  {{competency.title}}
    {{/if}}
  </td>
  <td>
    {{#if isEditing}}
      <button {{action 'doneEditing'}}>Done</button>
    {{else}}
      <button {{action 'edit'}}>Edit</button>
    {{/if}}
  </td>
</tr>
