{{page-title (t "general.admin")}}
<LinkTo @route="admin-dashboard">
  {{t "general.backToAdminDashboard"}}
</LinkTo>
<section class="pending-user-updates">
  <div class="filters">
    <div class="schoolsfilter" data-test-school-filter>
      <FaIcon @icon="building-columns" @fixedWidth={{true}} />
      {{#if this.hasMoreThanOneSchool}}
        <select aria-label={{t "general.filterBySchool"}} {{on "change" (pick "target.value" (set this.school))}}>
          {{#each (sort-by "title" this.model.schools) as |school|}}
            <option
              value={{school.id}}
              selected={{eq school this.selectedSchool}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{this.selectedSchool.title}}
      {{/if}}
    </div>
    <div class="titlefilter" data-test-title-filter>
      <input
        aria-label={{t "general.filterByTitle"}}
        type="text"
        value={{this.filter}}
         {{on "input" (pick "target.value" (set this.filter))}}
        placeholder={{t "general.pendingUserUpdates.filterBy"}}
      >
    </div>
  </div>
  <div class="updates">
    <div class="list" data-test-pending-updates>
      <table>
        <thead>
          <tr>
            <th class="text-left" colspan="2">
              {{t "general.fullName"}}
            </th>
            <th class="text-left" colspan="6">
              {{t "general.description"}}
            </th>
            <th></th>
            <th class="text-left" colspan="3">
              {{t "general.actions"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each (sort-by "user.fullName" this.displayedUpdates) as |update|}}
            <tr data-test-pending-update>
              <td class="text-left" colspan="2">
                <LinkTo @route="user" @model={{update.user}}>
                  <UserNameInfo @user={{update.user}} />
                </LinkTo>
              </td>
              <td class="text-left" colspan="6" data-test-update-type>
                {{#if (eq update.type "emailMismatch")}}
                  {{t
                    "general.pendingUserUpdates.emailMismatch"
                    value=update.value
                    email=update.user.email
                  }}
                {{else}}
                  {{t (concat "general.pendingUserUpdates." update.type)}}
                {{/if}}
              </td>
              <td></td>
              <td class="text-left" colspan="3">
                {{#if (includes update this.updatesBeingSaved)}}
                  <LoadingSpinner />
                {{else}}
                  {{#if (eq update.type "emailMismatch")}}
                    <button
                      type="button"
                      {{on "click" (perform this.updateEmailAddress update)}}
                      data-test-update-email
                    >
                      <FaIcon
                        @icon="arrow-circle-up"
                        class="yes"
                        @title={{t "general.update"}}
                      />
                      {{t "general.pendingUserUpdates.updateIlios"}}
                    </button>
                    <br>
                  {{/if}}
                  <button
                    type="button"
                    {{on "click" (perform this.excludeFromSync update)}}
                    data-test-exclude-from-sync
                  >
                    <FaIcon
                      @icon="ban"
                      class="no"
                      @title={{t "general.excludeFromSync"}}
                    />
                    {{t "general.excludeFromSync"}}
                  </button>
                  <br>
                  <button
                    type="button"
                    {{on "click" (perform this.disableUser update)}}
                    data-test-disable-user
                  >
                    <FaIcon
                      @icon="xmark"
                      class="no"
                      @title={{t "general.disableUser"}}
                    />
                    {{t "general.disableUser"}}
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
