<fieldset>
  <legend>{{title}} ({{#link-to 'program.edit' this}}{{t 'general.edit'}}{{/link-to}})</legend>
  <p><strong>{{t "programs.program.title"}}</strong>: {{title}}</p>
  <p><strong>{{t "programs.program.shortTitle"}}</strong>: {{shortTitle}}</p>
  <p><strong>{{t "programs.program.duration"}}</strong>: {{t "programs.program.durationYears" countBinding="duration"}}</p>
</fieldset>
{{outlet}}
