<section id='programs' class='fullwidth main-border'>
  <div class="filter-tools">
    <div id='schoolsfilter' class="filter">
      <label class="inline-label">
        {{t 'general.school'}}:
      </label>
      <div id="school-selection" class="inline-data">
        {{#if hasMoreThanOneSchool}}
          {{#action-menu title=selectedSchool.title icon=false}}
            {{#each model as |school|}}
              <li {{action 'changeSelectedSchool' school}}>{{school.title}}</li>
            {{/each}}
          {{/action-menu}}
        {{else}}
          {{selectedSchool.title}}
        {{/if}}
      </div>
    </div>
    <!--  some empty filters to move title all the way to the right-->
    <div class="filter"></div>
    <div class="filter"></div>
    <div id='titlefilter' class="filter">
      {{input type='text' value=titleFilter placeholder=placeholderValue}}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <div class="resultslist-title">
        <h2>{{t 'general.programs'}}</h2>
      </div>
      <div class='resultslist-actions'>
        {{expand-collapse-button value=editorOn action="toggleEditor"}}
      </div>
    </div>

    {{#if editorOn}}
      {{new-program save=(action 'save') cancel=(action 'cancel')}}
    {{/if}}

    {{#if saved}}
      <div class='saved-result'>
        {{#link-to 'program' savedProgram}}
          {{fa-icon 'external-link-square'}} {{savedProgram.title}}
        {{/link-to}}
        {{t 'general.savedSuccessfully'}}
      </div>
    {{/if}}

    <div class='resultslist-list'>
      {{#if filteredPrograms.isFulfilled}}
        {{program-list
          programs=filteredPrograms
          edit='editProgram'
          remove='removeProgram'
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
