<h3>{{academicYear}} {{program.title}}</h3>
<div class="accordion-tabs-minimal">
  <ul>
    <li class="tab-header">
      {{#link-to 'programyearcompetencies' program this class='tab-link'}}
        {{t "general.competencies"}} <span class="badge">{{competencies.length}}</span>
      {{/link-to}}
    </li>
    <li class="tab-header">
      {{#link-to 'programyearobjectives' program this class='tab-link'}}
        {{t "general.objectives"}} <span class="badge">{{objectives.length}}</span>
      {{/link-to}}
    </li>
    <li class="tab-header">
      {{#link-to 'programyeardirectors' program this class='tab-link'}}
        {{t "general.directors"}} <span class="badge">{{directors.length}}</span>
      {{/link-to}}
    </li>
  </ul>
  <div class="tab-content">
    {{outlet}}
  </div>
</div>

{{#if isDirty}}
  <hr />
  <button {{action 'save' this}}>{{t "general.save"}}</button>
{{/if}}
