{{#if isDirty}}
  <button {{action 'save' this}}>Save Changes</button>
{{/if}}
<div class="accordion-tabs-minimal">
  <ul>
    <li class="tab-header">
      {{#link-to 'programyearcompetencies' program this class='tab-link'}}
        Competencies <span class="badge">{{competencies.length}}</span>
      {{/link-to}}
    </li>
    <li class="tab-header">
      {{#link-to 'programyearobjectives' program this class='tab-link'}}
        Objectives <span class="badge">{{objectives.length}}</span>
      {{/link-to}}
    </li>
    <li class="tab-header">
      {{#link-to 'programyeardirectors' program this class='tab-link'}}
        Directors <span class="badge">{{directors.length}}</span>
      {{/link-to}}
    </li>
  </ul>
  <div class="tab-content">
    {{outlet}}
  </div>
</div>
