{{title (t "general.programs")}}
<section class="programs-list">
  <div class="filters">
    <div class="schoolsfilter">
      <FaIcon @icon="university" @fixedWidth={{true}} />
      {{#if this.hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each (sort-by "title" @model.schools) as |school|}}
            <option
              value={{school.id}}
              selected={{is-equal school this.selectedSchool}}
            >
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{this.selectedSchool.title}}
      {{/if}}
    </div>
    <div class="titlefilter">
      <input
        value={{this.titleFilter}}
        oninput={{action (perform this.changeTitleFilter) value="target.value"}}
        placeholder={{t "general.programTitleFilterPlaceholder"}}
      >
    </div>
  </div>
  <section class="programs">
    <div class="header">
      <div class="title">
        <h2>
          {{t "general.programs"}}
        </h2>
      </div>
      <div class="actions">
        {{#if (await this.canCreate)}}
          <ExpandCollapseButton
            @value={{this.showNewProgramForm}}
            @action={{action "toggleEditor"}}
          />
        {{/if}}
      </div>
    </div>
    <section class="new">
      {{#liquid-if this.showNewProgramForm class="vertical"}}
        <NewProgram
          @save={{action "saveNewProgram"}}
          @cancel={{action "cancel"}}
        />
      {{/liquid-if}}
      {{#if this.newProgram}}
        <div class="saved-result">
          <LinkTo @route="program" @model={{this.newProgram}}>
            <FaIcon @icon="external-link-square-alt" />
            {{this.newProgram.title}}
          </LinkTo>
          {{t "general.savedSuccessfully"}}
        </div>
      {{/if}}
    </section>
    {{#if this.deleted}}
      <div class="saved-program">
        {{this.savedProgram.title}}
        {{t "general.removedSuccessfully"}}
      </div>
    {{/if}}
    <div class="list">
      {{#if (is-fulfilled this.filteredPrograms)}}
        <ProgramList
          @programs={{await this.filteredPrograms}}
          @query={{this.titleFilter}}
          @activate={{action "activateProgram"}}
          @edit={{action "editProgram"}}
          @remove={{action "removeProgram"}}
        />
      {{else}}
        <PulseLoader />
      {{/if}}
    </div>
  </section>
</section>
