<section class='halfwidth'>
  <h3>Selected Directors</h3>
  <ul>
    {{#each}}
      <li>
        <span class='remove' {{action "remove" this}}>{{fa-icon "times-circle"}}</span>
        {{fullName}} {{email}}
      </li>
    {{/each}}
  </ul>
</section>
<section class='halfwidth'>
  <h3>Available Directors</h3>
  <div class="search-bar">
    <div class="search-and-submit">
      {{input action="search" type="search" value=searchTerm placeholder="Search directors"}}
      <button {{action 'search'}} type="submit">
        {{fa-icon 'search'}}
      </button>
    </div>
  </div>
  {{#if showResults}}
    {{#if hasResults}}
      <ul>
        {{#each searchResults}}
          {{render 'directorresult' this}}
        {{/each}}
      </ul>
    {{else}}
      <p>Your search returned no results.</p>
    {{/if}}
  {{/if}}
</section>
