<h2>Programs:</h2>
<table class="grid-table">
  <thead>
    <tr>
      <th>Program Title</th>
      <th>Short Title</th>
      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'program' this.id}}{{title}}{{/link-to}}</td>
        <td>{{shortTitle}}</td>
        <td>{{duration}} years</td>
        <td>{{nicePublished}}</td>
      </tr>
    {{/each}}
    {{#if isAddingNew}}
      <tr class='new'>
        <td>{{input value=newTitle}}</td>
        <td>{{input value=newShortTitle}}</td>
        <td>{{view Ember.Select content=durationOptions value=newDuration}} years</td>
        <td><button {{action 'createProgram'}}>Save</button></td>
      </tr>
    {{/if}}
  </tbody>
</table>
<button {{action 'addNew'}}>Add New Program</button>
