{{title (t "general.programs")}}
<section class="program-year-visualize-competencies">
  <div class="backtolink">
    <LinkTo @route="program-year-visualizations" @model={{model}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h3>
    <LinkTo @route="program" @model={{model.program}}>
      {{get (await model.program) "title"}}
    </LinkTo>
    <LinkTo @route="programYear" @models={{array model.program model}}>
      {{#if (get (await model.cohort) "title")}}
        {{get (await model.cohort) "title"}}
      {{else}}
        {{t "general.classOf" year=(await model.classOfYear)}}
      {{/if}}
    </LinkTo>
  </h3>
  <VisualizerProgramYearCompetencies @programYear={{model}} />
</section>
