<fieldset>
  <legend>{{title}} Program ({{#link-to 'program.edit' this}}edit{{/link-to}})</legend>
  <p><strong>Title</strong>: {{title}}</p>
  <p><strong>Short Title</strong>: {{shortTitle}}</p>
  <p><strong>Duration</strong>: {{duration}} years</p>
</fieldset>
{{outlet}}
