<section class='programs-list'>
  <div class="filters">
    <div class="schoolsfilter">
      {{fa-icon 'university' fixedWidth=true}}
      {{#if hasMoreThanOneSchool}}
        <select onchange={{action "changeSelectedSchool" value="target.value"}}>
          {{#each (sort-by 'title' model.schools) as |school|}}
            <option value={{school.id}} selected={{is-equal school selectedSchool}}>
              {{school.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{selectedSchool.title}}
      {{/if}}
    </div>
    <div class="titlefilter">
      {{one-way-input
        value=titleFilter
        update=(perform changeTitleFilter)
        placeholder=(t 'general.programTitleFilterPlaceholder')
      }}
    </div>
  </div>

  <section class='programs'>
    <div class="header">
      <div class="title">
        <h2>{{t 'general.programs'}}</h2>
      </div>
      <div class='actions'>
        {{expand-collapse-button value=editorOn action="toggleEditor"}}
      </div>
    </div>

    {{#if editorOn}}
      {{new-program save=(action 'save') cancel=(action 'cancel')}}
    {{/if}}

    {{#if saved}}
      <div class='saved-result'>
        {{#link-to 'program' savedProgram}}
          {{fa-icon 'external-link-square'}} {{savedProgram.title}}
        {{/link-to}}
        {{t 'general.savedSuccessfully'}}
      </div>
    {{/if}}

    {{#if deleted}}
      <div class='saved-program'>
        {{savedProgram.title}} {{t 'general.removedSuccessfully'}}
      </div>
    {{/if}}

    <div class='list'>
      {{#if filteredPrograms.isFulfilled}}
        {{program-list
          programs=filteredPrograms
          edit='editProgram'
          remove='removeProgram'
        }}
      {{else}}
        {{pulse-loader}}
      {{/if}}
    </div>
  </section>
</section>
