{{page-title (t "general.programs")}}
<section class="program-year-visualize-competencies">
  <div class="backtolink">
    <LinkTo @route="program-year-visualizations" @model={{@model}}>
      {{t "general.otherVisualizations"}}
    </LinkTo>
  </div>
  <h3>
    <LinkTo @route="program" @model={{@model.program}}>
      {{get @model.program "title"}}
    </LinkTo>
    <LinkTo @route="program-year" @models={{array @model.program @model}}>
      {{#if (get @model.cohort "title")}}
        {{get @model.cohort "title"}}
      {{else}}
        {{t "general.classOf" year=@model.classOfYear}}
      {{/if}}
    </LinkTo>
  </h3>
  <VisualizerProgramYearCompetencies @programYear={{@model}} />
</section>
