{{#link-to 'course.session' course session}}{{t 'sessions.backToDetails'}}{{/link-to}}
<div class='detail-view'>
  {{session-overview session=session}}
  <h2> <label>{{t 'sessions.objectiveTitle'}}:</label> {{{model.title}}}</h2>
  {{#if proxiedObjectives.length}}
    <h3 class='title'>{{t 'sessions.objectiveParentsTitle'}}</h3>

    <div class='parent-picker'>
      <h5>{{course.title}}</h5>
      <ul>
        {{#each objective in proxiedObjectives}}
          {{#if objective.selected}}
            <li class='selected clickable' {{action 'removeParent' objective}}>
              {{input type='checkbox' checked=true}}
              {{objective.textTitle}}
            </li>
          {{else}}
            <li class='clickable' {{action 'addParent' objective}}>
              {{input type='checkbox' checked=false}}
              {{objective.textTitle}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class='no-group'>
      <p>
        {{t 'sessions.missingCourseObjectivesMessage'}}
      </p>
    </div>
  {{/if}}
</div>
