<section id='users' class='fullwidth main-border users'>
  <div class="filter-tools">
    <div id='schoolsfilter' class="filter">
      <label class="inline-label">
        {{t 'general.school'}}:
      </label>

      <div id="school-selection" class="inline-data">
        {{currentUser.model.school.title}}
      </div>
    </div>

    <div id='textfilter' class="filter">
      <input type="text" class="user-search" placeholder={{t 'user.searchUsers'}}
        oninput={{action "changeValue" value="target.value"}} />
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <h2 class="user-title">{{t 'general.users'}}</h2>

      <div class="pagination-top">
        {{#if query}}
          {{users-pagination-links prevPages=prevResults morePages=moreResults
            getPrevPage='getPrevPage' getNextPage='getNextPage' arrows=true}}
        {{else}}
          {{users-pagination-links prevPages=prevPages morePages=morePages
            getPrevPage='getPrevPage' getNextPage='getNextPage' arrows=true}}
        {{/if}}
      </div>
    </div>

    <div class='resultslist-list'>
      {{#if query}}
        {{#if searchResults.isPending}}
          {{pulse-loader}}
        {{else}}
          {{#if searchResults.content}}
            {{user-list users=searchResults.content}}
          {{else}}
            <span class="no-results">{{general.noResultsFound}}</span>
          {{/if}}
        {{/if}}
      {{else}}
        {{user-list users=users}}
      {{/if}}
    </div>

    <div class="pagination-bottom">
      {{#if query}}
        {{users-pagination-links prevPages=prevResults morePages=moreResults
          getPrevPage='getPrevPage' getNextPage='getNextPage'}}
      {{else}}
        {{users-pagination-links prevPages=prevPages morePages=morePages
          getPrevPage='getPrevPage' getNextPage='getNextPage'}}
      {{/if}}
    </div>
  </section>
</section>
