<section id='users' class='fullwidth main-border users'>
  <div class="filter-tools">
    <div class="filter user-search">
      {{one-way-input
        value=query
        update=(action 'changeQuery')
        placeholder=(t 'user.searchUsers')
      }}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <h2 class="user-title">{{t 'general.users'}}</h2>
      {{#if allowAddNewUser}}
        <div class='resultslist-actions'>
          {{expand-collapse-button value=showNewUserForm  action="toggleNewUserForm"}}
        </div>
      {{/if}}
    </div>
      <section class='resultslist-new'>
        {{#liquid-if (and showNewUserForm allowAddNewUser) class='vertical'}}
          {{#liquid-if newUserComponent.isFulfilled}}
            {{component newUserComponent.content
              close=(action (mut showNewUserForm false))
              transitionToUser=(action 'transitionToUser')
              searchTerms=searchTerms
              setSearchTerms=(action (mut searchTerms))
            }}
          {{else}}
            {{fa-icon 'spinner' spin=true}}
          {{/liquid-if}}
        {{/liquid-if}}
      </section>
    {{#if users.isFulfilled}}
      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

      <div class='resultslist-list'>
        {{#if users.length}}
          {{user-list users=users}}
        {{else}}
          <span class="no-results">{{general.noResultsFound}}</span>
        {{/if}}
      </div>

      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

    {{else}}
      {{pulse-loader}}
    {{/if}}
  </section>
</section>
