<section id='users' class='fullwidth main-border users'>
  <div class="filter-tools">
    <div class="filter user-search">
      {{one-way-input
        value=query
        update=(action 'changeQuery')
        placeholder=(t 'user.searchUsers')
      }}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <span class='resultslist-title'>{{t 'general.users'}}</span>
      {{#if allowAddNewUser}}
        <div class='resultslist-actions'>
          <button {{action (toggle 'showNewUserForm' this)}}>{{t 'user.create'}}</button>
          {{#if (not-eq (await iliosConfig.userSearchType) 'ldap')}}
            <button {{action (toggle 'showBulkNewUserForm' this)}}>{{t 'user.createBulk'}}</button>
          {{/if}}
        </div>
      {{/if}}
    </div>
      <section class='resultslist-new'>
        {{#liquid-if (and showNewUserForm allowAddNewUser) class='vertical'}}
          {{#liquid-if (is-fulfilled newUserComponent)}}
            {{component (await newUserComponent)
              close=(action (mut showNewUserForm false))
              transitionToUser=(action 'transitionToUser')
              searchTerms=searchTerms
              setSearchTerms=(action (mut searchTerms))
            }}
          {{else}}
            {{fa-icon 'spinner' spin=true}}
          {{/liquid-if}}
        {{/liquid-if}}
        {{#liquid-if (and showBulkNewUserForm allowAddNewUser) class='vertical'}}
          {{#liquid-if (is-fulfilled newBulkUserComponent)}}
            {{bulk-new-users
              close=(action (mut showBulkNewUserForm false))
            }}
          {{else}}
            {{fa-icon 'spinner' spin=true}}
          {{/liquid-if}}
        {{/liquid-if}}
      </section>
    {{#if users.isFulfilled}}
      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

      <div class='resultslist-list'>
        {{#if users.length}}
          {{user-list users=users}}
        {{else}}
          <span class="no-results">{{general.noResultsFound}}</span>
        {{/if}}
      </div>

      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

    {{else}}
      {{pulse-loader}}
    {{/if}}
  </section>
</section>
