<section id='users' class='fullwidth main-border users'>
  <div class="filter-tools">
    <div id='titlefilter' class="filter">
      {{one-way-input
        value=query
        update=(action 'changeQuery')
        placeholder=(t 'user.searchUsers')
      }}
    </div>
  </div>

  <section class='resultslist'>
    <div class="resultslist-header">
      <h2 class="user-title">{{t 'general.users'}}</h2>
    </div>
    {{#if users.isFulfilled}}
      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

      <div class='resultslist-list'>
        {{#if users.length}}
          {{user-list users=users}}
        {{else}}
          <span class="no-results">{{general.noResultsFound}}</span>
        {{/if}}
      </div>

      {{pagedlist-controls
        offset=offset
        limit=limit
        limitless=true
        setOffset=(action (mut offset))
        setLimit=(action (mut limit))
      }}

    {{else}}
      {{pulse-loader}}
    {{/if}}
  </section>
</section>
