{{page-title (t "general.curriculumInventoryReports")}}
<div data-test-back-to-report class="backtolink">
  <LinkTo @route="curriculum-inventory-report" @model={{@model}}>
    {{t "general.backToReport"}}
  </LinkTo>
</div>
<CurriculumInventory::VerificationPreviewHeader @report={{@model}} />
<CurriculumInventory::VerificationPreview @report={{@model}} />
