{{title (t "general.curriculumInventoryReports")}}
<div class="backtolink">
  <LinkTo @route="curriculumInventoryReport" @model={{model}}>{{t "general.backToReport"}}</LinkTo>
</div>
<CurriculumInventoryVerificationPreviewHeader @report={{this.model}} />
<CurriculumInventoryVerificationPreview @report={{this.model}} />