<div class="session-details">
  <SessionOverview
    @session={{this.model}}
    @editable={{this.canUpdate}}
    @showCheckLink={{false}}
    @sessionTypes={{this.model.sessionTypes}}
  />
  <SessionCopy @session={{this.model}} @visit={{action "loadSession"}} />
</div>
