<div class="backtolink backtosessionlink" data-test-back-to-sessions>
  <LinkTo @route="course" @model={{await this.model.course}}>
    {{t "general.backToSessionList"}}
  </LinkTo>
</div>
<SessionDetails
  @session={{this.model}}
  @editable={{this.canUpdate}}
  @programs={{await this.model.course}}
  @sessionTypes={{await this.model.course.school.sessionTypes}}
  @sessionObjectiveDetails={{this.sessionObjectiveDetails}}
  @sessionTaxonomyDetails={{this.sessionTaxonomyDetails}}
  @setSessionObjectiveDetails={{fn (mut this.sessionObjectiveDetails)}}
  @setSessionTaxonomyDetails={{fn (mut this.sessionTaxonomyDetails)}}
  @isManagingLearnerGroups={{this.isManagingLearnerGroups}}
  @setIsManagingLearnerGroups={{fn (mut this.isManagingLearnerGroups)}}
  @sessionLearnergroupDetails={{this.sessionLearnergroupDetails}}
  @setSessionLearnergroupDetails={{fn (mut this.sessionLearnergroupDetails)}}
  @showNewOfferingForm={{this.showNewOfferingForm}}
  @toggleShowNewOfferingForm={{toggle-action "showNewOfferingForm" this}}
  @sessionLeadershipDetails={{this.sessionLeadershipDetails}}
  @setSessionLeadershipDetails={{fn (mut this.sessionLeadershipDetails)}}
  @sessionManageLeadership={{this.sessionManageLeadership}}
  @setSessionManageLeadership={{fn (mut this.sessionManageLeadership)}}
/>
