<div class="backtolink backtosessionlink" data-test-back-to-sessions>
  <LinkTo @route="course" @model={{await this.model.course}}>
    {{t "general.backToSessionList"}}
  </LinkTo>
</div>
<SessionDetails
  @session={{this.model}}
  @editable={{this.canUpdate}}
  @programs={{await this.model.course}}
  @sessionTypes={{await this.model.course.school.sessionTypes}}
  @sessionObjectiveDetails={{this.sessionObjectiveDetails}}
  @sessionTaxonomyDetails={{this.sessionTaxonomyDetails}}
  @setSessionObjectiveDetails={{set this.sessionObjectiveDetails}}
  @setSessionTaxonomyDetails={{set this.sessionTaxonomyDetails}}
  @isManagingLearnerGroups={{this.isManagingLearnerGroups}}
  @setIsManagingLearnerGroups={{set this.isManagingLearnerGroups}}
  @sessionLearnergroupDetails={{this.sessionLearnergroupDetails}}
  @setSessionLearnergroupDetails={{set this.sessionLearnergroupDetails}}
  @showNewOfferingForm={{this.addOffering}}
  @toggleShowNewOfferingForm={{fn (set this.addOffering) (not this.addOffering)}}
  @sessionLeadershipDetails={{this.sessionLeadershipDetails}}
  @setSessionLeadershipDetails={{set this.sessionLeadershipDetails}}
  @sessionManageLeadership={{this.sessionManageLeadership}}
  @setSessionManageLeadership={{set this.sessionManageLeadership}}
/>
