<table class="grid-table">
  <thead>
    <tr>
      <th>{{t "programs.program.title"}}</th>
      <th>{{t "programs.program.shortTitle"}}</th>
      <th>{{t "programs.program.duration"}}</th>
      <th>{{t "general.status"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to "program" this.id}}{{title}}{{/link-to}}</td>
        <td>{{shortTitle}}</td>
        <td>{{t "programs.program.durationYears" countBinding="duration"}}</td>
        <td>
          {{#if publishedAsTbd}}
            {{t "general.published"}}
          {{else}}
            {{t "general.notPublished"}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to "programs.new"}}{{t programs.program.createNew}}{{/link-to}}
